@use "sass:color";
@use "../base/color"as c;
@use "../base/reset";

body {
    .main {
        .main_content {

            .main_content_item {

                &.category_content {
                    .category_content_item_area {

                        .category_content_item {
                            .category_content_item_project_information{
                                .project_information_text{
                                    .project_information_text_item{

                                        &.sharing_text_item{
                                            border-top: 2px solid c.$main_color;
                                            padding: 40px 0 0;

                                            &:nth-child(1){
                                                border-top: 0px;
                                                padding: 0;
                                            }
                                        }
                                        .project_information_text_item_logo_area{
                                            .project_information_text_item_logo_area_img{
                                                width: 80%;
                                                max-width: 250px;
                                                margin: 0 0 20px;
                                    
                                                img{
                                                    width: 100%;
                                                }
                                            }
                                        }
                                        
                                        .project_information_text_item_video_area{
                                            margin: 10px 0;

                                            .project_information_text_item_iframe{
                                                margin: 10px 0;

                                                iframe{
                                                    width: 100%;
                                                }
                                            }
                                        }

                                            .project_information_text_item_sharing_area{
                                                width: calc(100% - 20px);
                                                position: relative;
                                                z-index: 1;
                                                
                                                margin: 15px auto 60px;

                                                .project_information_text_item_sharing_text{
                                                    background-color: c.$white;
                                                border: 2px solid c.$main_color_yellow;
                                                    padding: 40px 35px;
                                                border-radius: 10px;
                                                }

                                                .project_information_text_item_sharing_bg{
                                                    position: absolute;
                                                    z-index: -1000;
                                                    top: 10px;
                                                    left: -10px;
                                                    width: 100%;
                                                    height: 100%;
                                                    background-color: c.$main_color_yellow;
                                                    border-radius: 10px;
                                                }

                                                .project_information_text_item_sharing_tittle{
                                                    margin: 0px auto 10px;
                                                    h5{
                                                        color: c.$main_color;
                                                    }
                                                }

                                                .sharing_icon{
                                                    position: absolute;
                                                    
                                                    i{
                                                        font-size: 25px;
                                                    }

                                                    &.project_information_text_item_sharing_icon_left{
                                                        left: 10px;
                                                        bottom: 5px;

                                                        i{
                                                            color: c.$main_color;
                                                        }
                                                    }

                                                    &.project_information_text_item_sharing_icon_right{
                                                        right: 10px;
                                                        top: 5px;

                                                        i{
                                                            color: c.$main_color_yellow;
                                                        }
                                                    }
                                                }

                                                
                                            }
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    body {
    .main {
        .main_content {

            .main_content_item {
                &.category_content {

                    .category_content_item_area {

                        .category_content_item {

                            .category_content_item_project_information{
                                .project_information_text{
                                    .project_information_text_item{
                                        .project_information_text_item_video_area{
                                            .project_information_text_item_iframe{
                                                iframe{
                                                    width: auto;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {
    body {
    .main {
        .main_content {

            .main_content_item {
                &.category_content {

                    .category_content_item_area {

                        .category_content_item {

                            .category_content_item_project_information{
                                .project_information_text{
                                    .project_information_text_item{
                                        &.sharing_text_item{
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: flex-start;
                                            flex-wrap: wrap;
                                        }
                                        .project_information_text_item_logo_area{
                                            display: flex;
                                            align-items: center;
                                            .project_information_text_item_logo_area_img{
                                                margin: 0 20px 0 0;
                                            }
                                        }
                                        
                                        .project_information_text_item_video_area{
                                            width: 45%;

                                            .project_information_text_item_iframe{
                                                iframe{
                                                    width: 100%;
                                                }
                                            }
                                        }

                                            .project_information_text_item_sharing_area{
                                                width: calc(50% - 20px);
                                            }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}
}