.join-all {
    .order-wrap {
        .order-body {
            padding: 0px 30px;

            .grade_option {
                display: flex;
                flex-wrap: wrap;

                .grade_option_item {
                    border: 1px solid $main-color;
                    margin: 5px;
                    padding: 5px 0px;

                    a {
                        padding: 5px 15px;
                    }

                    &.active,
                    &:hover,
                    &:focus {
                        background-color: $main-color;

                        a {
                            color: $white;
                        }
                    }
                }
            }

            .index-content {
                .regional_option {
                    display: flex;

                    .btn {
                        box-shadow: none;
                        border-radius: 0px;
                        width: 25%;
                        border: 0px;

                        &.active,
                        &:hover,
                        &:focus {
                            background-color: $regional-purple;
                            color: $white;
                        }
                    }
                }

                table {
                    border: 0;

                    td {
                        border: 0;
                    }
                }
            }

            .dacc_introduce {
                .dacc_logo {
                    img {
                        width: 80%;
                        max-width: 240px;
                    }
                }

                .dacc_link {
                    margin: 30px auto 60px;

                    a {
                        background-color: $main-color;
                        color: $white;
                        padding: 10px 25px;
                        border-radius: 50px;

                        &:hover,
                        &:focus {
                            background-color: darken($main-color, 10%);
                        }
                    }
                }
            }

            .dacc_photo_area {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;

                .dacc_photo {
                    width: 100%;
                }

                .dacc_text {
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h4 {
                        color: $main-color;
                    }
                }
            }

            .previous_web {
                .previous_web_bg {
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px;
                    margin: 15px auto;
                    background-size: cover;
                    padding: 40px 5px;

                    cursor: pointer;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .join-all {
        .order-wrap {
            .order-body {
                .grade_option {
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    .join-all {
        .order-wrap {
            .order-body {
                .previous_web {
                    .previous_web_bg {
                        margin: 5px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1400px) {
    .join-all {
        .order-wrap {
            .order-body {
                .dacc_photo_area {
                    flex-direction: row;

                    .dacc_photo {
                        width: 50%;

                        &:nth-child(1) {
                            order: 1;
                        }

                        &:nth-child(3) {
                            order: 4;
                        }
                    }

                    .dacc_text {
                        width: 50%;

                        &:nth-child(4) {
                            order: 3;
                        }

                        &:nth-child(2) {
                            order: 2;
                        }
                    }


                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {}