.join-all {
    .order-wrap {
        .order-body {
            padding: 0px 30px;

            .grade_option {
                display: flex;
                flex-wrap: wrap;

                .grade_option_item {
                    border: 1px solid $main-color;
                    margin: 5px;
                    padding: 5px 0px;

                    a {
                        padding: 5px 15px;
                    }

                    &.active,
                    &:hover,
                    &:focus {
                        background-color: $main-color;

                        a {
                            color: $white;
                        }
                    }
                }
            }

            .index-content {
                .regional_option {
                    display: flex;

                    .btn {
                        box-shadow: none;
                        border-radius: 0px;
                        width: 25%;
                        border: 0px;

                        &.active,
                        &:hover,
                        &:focus {
                            background-color: $regional-purple;
                            color: $white;
                        }
                    }
                }

                table {
                    border: 0;

                    td {
                        border: 0;
                    }
                }
            }

            .dacc_introduce {
                .dacc_logo {
                    img {
                        width: 80%;
                        max-width: 240px;
                    }
                }

                .dacc_link {
                    margin: 30px auto 60px;

                    a {
                        background-color: $main-color;
                        color: $white;
                        padding: 10px 25px;
                        border-radius: 50px;

                        &:hover,
                        &:focus {
                            background-color: darken($main-color, 10%);
                        }
                    }
                }
            }

            .dacc_photo_area {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;

                .dacc_photo {
                    width: 100%;
                }

                .dacc_text {
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h4 {
                        color: $main-color;
                    }
                }
            }

            .previous_web {
                .previous_web_bg {
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px;
                    margin: 15px auto;
                    background-size: cover;
                    padding: 40px 5px;

                    cursor: pointer;

                    a {
                        color: $white;
                    }
                }
            }

            .recommendedBook-search__book {
                .control-label {
                    img {
                        max-width: 200px;
                    }

                    p {
                        margin-top: 5px;
                        text-align: left;
                    }
                }

                .recommendedBook-search__slogan {
                    display: flex;
                    margin-bottom: 20px;

                    .recommendedBook-search__slogan_title {
                        border-right: 1px solid $default-gray;
                        white-space: nowrap;
                        padding-right: 10px;
                        margin-right: 10px;
                    }
                }

                .input-group {
                    display: block;
                    margin-bottom: 15px;

                    .input-group-btn {
                        .recommendedBook-search__btn-recommend {
                            border: 1px solid $main-color;
                            width: 100%;
                            border-radius: 0px;
                            z-index: 1;
                        }

                        .recommendedBook-search__btn-search {
                            background-color: $main-color;
                            border: 1px solid $main-color;
                            color: $white;
                            z-index: auto;
                            width: 100%;
                            border-radius: 0;
                            margin: -1px auto 0px;
                        }
                    }

                    .input-group-book {
                        position: relative;
                        width: 100%;
                        margin-top: -1px;

                        .form-control {
                            border: 1px solid $main-color;
                            border-radius: 0;
                        }

                        .input-group-more-options {
                            position: absolute;
                            width: 100%;

                            .recommendedBook-search_more-options {
                                position: relative;
                                display: block;
                                right: 0px;
                                top: 0px;
                                z-index: 2;
                                margin-left: auto;
                                padding: 10px 16px;
                                font-size: 18px;
                                line-height: 1.3333333;
                                border-radius: 0%;
                                color: $main-color;
                            }

                            .recommendedBook-search_dropdown-menu_more-options {
                                position: relative;
                                width: 100%;
                                padding: 20px 40px;
                                border: 1px solid;
                                border-color: rgba(68, 110, 246, 0.6);
                                box-shadow: 0 0 8px rgba(68, 110, 246, 0.6);
                                background-color: $white;
                                z-index: 1;
                                display: none;

                                .multiple_input_area {
                                    .input-group {
                                        display: flex;
                                        margin: 15px auto;

                                        label {
                                            min-width: 70px;
                                        }
                                    }

                                    .multiple_input_btn {
                                        display: flex;
                                        justify-content: flex-end;
                                        margin: 5px auto;

                                        .reset,
                                        .submit {
                                            padding: 3px 10px;
                                            border-radius: 5px;
                                            border: 0px;
                                            margin-left: 10px;
                                        }

                                        .reset {
                                            color: $main-color;
                                            background-color: $light-gray;
                                        }

                                        .submit {
                                            background-color: $main-color;
                                            color: $white;
                                        }
                                    }

                                }

                            }
                        }
                    }
                }
            }

            .recommendedBook-search__sort {
                margin-top: 10px;

                .icheck_area {
                    margin: 20px auto;

                    .icheck-success-white {
                        margin-left: 0;
                        margin-right: 10px;
                    }
                }

            }

            .difficulty_range {
                display: flex;
                width: 100%;
                align-items: center;
                flex-wrap: wrap;

                p {
                    margin: 5px 10px 5px 0px;
                    width: 100%;
                }

                .difficulty_range_button_area {
                    margin: 5px 10px 5px 0px;

                    button {
                        border: 1px solid $default-gray;
                        border-radius: 6px;

                        &.active,
                        &:hover {
                            background-color: $main-color;
                            border: 1px solid $main-color;
                            color: $white;
                        }


                    }

                }
            }

            .recommendedBook-table {
                border: 0px;

                tbody {
                    display: flex;
                    flex-wrap: wrap;
                    tr {
                        overflow: hidden;
                        position: relative;
                        display: inline-block;
                        margin: 15px 15px;
                        background-color: $light-gray;
                        padding: 5px;
                        vertical-align: middle;
                        width: calc(100% - 40px);
                        flex-direction: column;
                        display: flex;

                        td {
                            border: 0px;
                            background-color: transparent;
                            display: block;
                            table-layout: fixed;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            position: relative;

                            &.book-front {
                                text-align: center;
                                width: 100%;
                                margin: 5px 0px;
                                display: flex;
                                align-items: center;
                                max-width: 350px;

                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                            &.book-item{
                                display: flex;
                                flex-wrap: wrap;
                                align-items: flex-start;
                                width: 100%;

                                .book-SR,
                                .book-sort,
                                .book-winning,
                                .book-recommender{
                                    width: 100%;
                                    margin: 5px 0px;
                                }
                                .borrow_btn{
                                    width: 100%;
                                    margin: 5px 1.5%;
                                    display: inline-block;
                                    text-align: left;
                                    button{
                                        border: 1px solid $default-gray;
                                        margin: 5px auto;
                                        img{
                                            width: 20px;
                                        }
                                    }
                                    
                                }
                            }

                            
                        }
                    }
                }

            }
            
            .leveledBooks-table__footer {
                text-align: center;
                padding-top: 45px;
                padding-bottom: 70px;
                font-size: 0.9em;
                .dataTables_paginate {
                    display: inline-block;
                    float: none;
                    padding-top: 0;

                    .paginate_button {
                        min-width: 1.5em;
                        padding: 0.45em 0.85em;
                        margin: 4px 2px;
                        border-radius: 0;
                        background-color: $white;
                        border: 1px solid $light-gray;
                        color: $default-gray !important;

                        &.current{
                            background-color: transparent;
                                color: $main-color !important;
                                font-weight: 500;
                                border: 1px solid transparent;
                                background: none;
                                box-shadow: none;
                                cursor: default;
                            &:active,
                            &:hover{
                                background-color: transparent;
                                color: $main-color !important;
                                font-weight: 500;
                                border: 1px solid transparent;
                                background: none;
                                box-shadow: none;
                                cursor: default;
                            }
                        }
                    }
                }

                .dataTables_info {
                    display: inline-block;
                    float: none;
                    margin-left: 60px;
                    color: #5c6466;
                }
                .add_dataTables_input {
                    display: inline-block;
                    margin-left: 20px;
                    color: #5c6466;

                    .paginate_input {
                        border-radius: 0;
                        width: 48px;
                        padding: 10px 10px;
                    }

                    .paginate_button {
                        margin-left: 35px;
                        background-color: #f1f1f1;
                        border: 1px solid #c6c6c6;
                        color: #2e3233;
                        padding: 11px 18px;
                        margin-top: -5px;
                    }
                }
            }

        }
    }
}

@media screen and (min-width: 576px) {
    .join-all {
        .order-wrap {
            .order-body {
                .grade_option {
                    justify-content: center;
                }
                .recommendedBook-table {
    
                    tbody {
                        tr {

                            width: calc(50% - 40px);
                        }
                    }
    
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .join-all {
        .order-wrap {
            .order-body {
                .difficulty_range {
                    p {
                        width: auto;
                    }
                }
                .recommendedBook-table {
                    tbody {
                        tr {
                            width: calc(100% - 40px);
                            td{
                                &.book-item{
                                    .borrow_btn{
                                        width: 47%;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
                }
            }
        }
    }

@media screen and (min-width: 992px) {
    .join-all {
        .order-wrap {
            .order-body {
                .difficulty_range {
                    p {
                        width: auto;
                    }
                }
                .recommendedBook-table {
                    tbody {
                        tr {
                            width: calc(50% - 40px);
                            td{
                                &.book-item{
                                    .borrow_btn{
                                        width: 100%;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .join-all {
        .order-wrap {
            .order-body {
                .previous_web {
                    .previous_web_bg {
                        margin: 5px;
                    }
                }

            }
        }
    }

}

@media screen and (min-width: 1400px) {
    .join-all {
        .order-wrap {
            .order-body {
                .dacc_photo_area {
                    flex-direction: row;

                    .dacc_photo {
                        width: 50%;

                        &:nth-child(1) {
                            order: 1;
                        }

                        &:nth-child(3) {
                            order: 4;
                        }
                    }

                    .dacc_text {
                        width: 50%;

                        &:nth-child(4) {
                            order: 3;
                        }

                        &:nth-child(2) {
                            order: 2;
                        }
                    }

                }

                .recommendedBook-search__book{
                    .input-group {
                        display: table;
                        .input-group-book {
                            margin-top: 0px;
                            margin-left: -1px;
                        }
                        .input-group-btn{
                            .recommendedBook-search__btn-search{
                                margin: 0px 0px 0px -1px;
                            }
                        }
                    }
                }

                .recommendedBook-table {
                    tbody {
                        tr {
                            width: calc(50% - 40px);
                            td{
                                &.book-item{
                                    .borrow_btn{
                                        width: 47%;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .join-all {
        .order-wrap {
            .order-body {

                .recommendedBook-table {
                    border: 0px;
    
                    tbody {
                        tr {
    
                            td {
    
                                &.book-front {
                                    width: 35%;
                                    align-items: flex-start;
                                }
    
                                &.book-item{
                                    width: 65%;

                                    .borrow_btn{
                                        text-align: left;
                                    }
                                }
    
                                
                            }
                        }
                    }
    
                }
            }
        }
    }
}