.join-all {
    .order-wrap {
        .order-body {
            .timeline_area {
                margin: 60px 0px 0px 12.5px;

                .timeline_item {
                    display: flex;
                    align-items: flex-start;
                    position: relative;
                    flex-direction: row-reverse;

                    &:nth-last-child(1) {
                        .timeline_marker {
                            &:before {
                                display: none;
                            }

                            .timeline_marker_inner {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }

                    .timeline_content {
                        flex-basis: 100%;
                        min-width: 25%;
                        margin-top: -20px;

                        .timeline_content_inner {
                            display: flex;
                            justify-content: flex-start;
                            padding: 0px 0px 60px 35px;
                        }
                    }

                    .timeline_marker {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: -20px;

                        &:before {
                            position: absolute;
                            top: 0;
                            bottom: 0px;
                            width: 10px;
                            content: '';
                            background: $main_color;
                        }

                        .timeline_marker_inner {
                            z-index: 1;
                            line-height: 0;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                left: 50%;
                                top: 0%;
                                transform: translate(-50%, 0px);
                                width: 25px;
                                height: 25px;
                                border: 2px solid;
                                background-color: $white;
                                border-radius: 50%;
                                z-index: -1;
                            }

                            img {
                                position: absolute;
                                left: 50%;
                                top: 0%;
                                transform: translate(-50%, 0px);
                                width: 50px;
                            }
                        }
                    }

                    .timeline_item_meta {
                        flex-basis: 0%;
                    }
                }
            }
        }

        .table-responsive {
            overflow-x: scroll;
            margin: 10px auto;

            .table {
                font-weight: 300;
                min-width: 1120px;

                thead {
                    tr {
                        td {
                            background-color: $light-gray;
                        }
                    }
                }

                tbody {
                    &.middle {
                        tr {
                            td {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1600px) {}