.join-all {
    .order-wrap {
        .order-body {
            .timeline_area {
                margin: 60px 0px 0px 12.5px;

                .timeline_item {
                    display: flex;
                    align-items: flex-start;
                    position: relative;
                    flex-direction: row-reverse;


                    &:nth-last-child(1) {

                        .timeline_content {

                            .timeline_content_inner {
                                padding: 0px 0px 15px 30px;
                            }
                        }

                        .timeline_marker {
                            &:before {
                                display: none;
                            }

                            .timeline_marker_inner {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }

                    .timeline_content {
                        flex-basis: 100%;
                        min-width: 25%;
                        margin-top: -20px;

                        .timeline_content_inner {
                            display: flex;
                            justify-content: flex-start;
                            padding: 0px 0px 60px 30px;
                        }
                    }

                    .timeline_marker {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: -20px;

                        &:before {
                            position: absolute;
                            top: 0;
                            bottom: 0px;
                            width: 10px;
                            content: '';
                            background: $main_color;
                        }

                        .timeline_marker_inner {
                            z-index: 1;
                            line-height: 0;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                left: 50%;
                                top: 0%;
                                transform: translate(-50%, 0px);
                                width: 25px;
                                height: 25px;
                                border: 2px solid;
                                background-color: $white;
                                border-radius: 50%;
                                z-index: -1;
                            }

                            img {
                                position: absolute;
                                left: 50%;
                                top: 0%;
                                transform: translate(-50%, 0px);
                                width: 50px;
                            }
                        }
                    }

                    .timeline_item_meta {
                        flex-basis: 0%;
                    }
                }
            }

            .certificate {
                img {
                    width: 150px;
                }
            }

            .traffic_information{
                width: 100%;
                .test_area{
                    width: 100%;
                    display: inline-block;
                    margin: 0px auto 20px;
                    .table-responsive{
                        .table{
                            min-width: 450px;
                        }
                    }
                }
            }
        }

        .table-responsive {
            overflow-x: scroll;
            margin: 10px auto;

            &.registery_fee {
                thead {
                    tr {
                        td {
                            &:nth-child(1) {
                                width: 10%;
                            }

                            &:nth-child(2) {
                                width: 30%;
                            }

                            &:nth-child(3) {
                                width: 30%;
                            }

                            &:nth-child(4) {
                                width: 30%;
                            }
                        }


                    }

                }
            }

            &.quiz_location {
                thead {
                    tr {
                        td {
                            &:nth-child(1) {
                                width: 15%;
                            }

                            &:nth-child(2) {
                                width: 30%;
                            }

                            &:nth-child(3) {
                                width: 30%;
                            }

                            &:nth-child(4) {
                                width: 25%;
                            }
                        }


                    }

                }
            }

            &.diagnosis {
                table{
                    table-layout: initial;

                    tbody {
                        tr {
                            td{
                                &:nth-child(1) {
                                    width: 30%;
                                }
                                &:nth-child(2) {
                                    width: 70%;
                                }
                            }
                            
                        }
                    }
                }
            }

            &.traffic_table {
                table{
                    table-layout: initial;

                    tbody {
                        tr {
                            td{
                                &:nth-child(1) {
                                    width: 30%;
                                }
                                &:nth-child(2) {
                                    width: 70%;
                                }
                                img{
                                    max-width: 180px;
                                }
                            }
                            
                        }
                    }
                }
            }


            .table {
                font-weight: 300;
                min-width: 1024px;

                thead {
                    tr {
                        td {
                            background-color: $light-gray;
                        }
                    }
                }

                tbody {
                    &.middle {
                        tr {
                            td {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    .join-all {
        .order-wrap {
            .order-body {
                .timeline_area {

                    .timeline_item {
                        flex-direction: row;

                        &:nth-child(2n) {
                            flex-direction: row-reverse;
                        }

                        .timeline_content {
                            flex-basis: 50%;

                            .timeline_content_inner {
                                display: flex;
                                justify-content: flex-end;
                                padding: 0px 70px 60px 0px;
                            }
                        }

                        &:nth-child(2n) {
                            .timeline_content {

                                .timeline_content_inner {
                                    display: flex;
                                    justify-content: flex-start;
                                    padding: 0px 0px 60px 70px;
                                }
                            }
                        }

                        .timeline_marker {

                            .timeline_marker_inner {

                                img {
                                    width: 100px;
                                }
                            }
                        }


                    }
                }

                .certificate {
                    text-align: center;

                    img {
                        width: 250px;
                    }
                }
            }

        }
    }
}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1600px) {
    .join-all {
        .order-wrap {
            .order-body {
    
                .traffic_information{
                    width: 100%;
                    .test_area{
                        width: 47.5%;
                        display: inline-block;
                        &:nth-child(2){
                            float: right;
                        }
                        .table-responsive{
                            .table{
                                min-width: 450px;
                            }
                        }
                    }
                }
            }
    
        }
    }
}