main {
    &.recommendedArticle {
        .join-all {
            .order-wrap {
                margin: 0 auto;

                .order-body {
                    .recommendedBook-search__book {
                        .recommendedBook-search__book_input {
                            .recommendedBook-search__slogan {
                                margin: 20px 0px;
                                max-width: 400px;
                            }
                        }
                    }

                    .rA-banner__SRrange {
                        max-width: 900px;
                        margin: 0 auto;
                        .rA-banner__SRrange-titleC {
                            font-weight: 400;
                            color: $main-color;
                            text-align: center;
                            margin-top: 15px;
                            margin-bottom: 50px;
                        }

                        .rA-banner__SRrange-titleR {
                            font-weight: 400;
                            color: $default-gray;
                            text-align: center;
                            margin-bottom: 50px;
                        }

                        .SRrangeBar {
                            margin-bottom: 20px;
                            position: relative;
                            width: 100%;
                            height: 28px;
                            background: $rangeBar-gray;
                            border-radius: 28px;

                            .SRrangeBar-slider {
                                width: 100%;
                                height: 28px;
                                border-radius: 28px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-color: transparent !important;
                                border-color: transparent !important;
                                border: none !important;
                                opacity: 1 !important;

                                &.s-range {
                                    .ui-widget-header {
                                        border-radius: 0;
                                        background-color: $rangeBar-darkBlue;
                                        z-index: 11;

                                        .slider-min,
                                        .slider-max {
                                            color: $default-black !important;
                                            font-size: 14px;
                                            font-weight: normal;
                                            line-height: 28px;
                                            white-space: nowrap;
                                            width: 60px;
                                            text-align: center;
                                            position: absolute;

                                            &::after{
                                                content: "";
                                                display: block;
                                                width: 1px;
                                                height: 100%;
                                                background: $white;
                                                position: absolute;
                                                top: 0px;
                                            }
                                        }

                                        .slider-min {
                                            left: 0;
                                            transform: translate(-100% , 0);
                                            &::after{
                                                left: 100%;
                                            }
                                        }

                                        .slider-max {
                                            right: 0;
                                            transform: translate(100% , 0);
                                        }
                                    }

                                    .ui-slider-handle {
                                        display: none;
                                    }
                                }

                                &.ui-slider-disabled {

                                    .ui-slider-handle {
                                        display: none;
                                    }
                                }

                                &.s-control {

                                    .ui-widget-header {
                                        top: 0;
                                        height: 100%;
                                        background-color: $rangeBar-lightBlue;
                                    }
                                    
                                    .ui-slider-handle {
                                        position: absolute;
                                        z-index: 11;
                                        width: 32px;
                                        height: 32px;
                                        top: -2px;
                                        margin-left: -16px;
                                        border: none;
                                        border-radius: 50%;
                                        background-color: transparent;
                                        background-image: url(../images/recommendedArticle/SRrange-bar-point.png);
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        // box-shadow: 0 0 5px rgb(68 110 246 / 50%);
                                        cursor: move;

                                        .slider-tooltip {
                                            background-color: $main-color;
                                            color: #FFF;
                                            font-size: 16px;
                                            white-space: nowrap;
                                            text-align: center;
                                            border-radius: 2px;
                                            position: absolute;
                                            top: -50px;
                                            left: 50%;
                                            width: 76px;
                                            height: 30px;
                                            line-height: 30px;
                                            margin: 10px 0 10px -38px;

                                            &::after{
                                                content: "";
                                                display: block;
                                                width: 0;
                                                height: 0;
                                                border-style: solid;
                                                border-width: 8px 7px 0 7px;
                                                border-color: $main-color transparent transparent transparent;
                                                position: absolute;
                                                bottom: -7px;
                                                left: 50%;
                                                margin-left: -7px;
                                            }
                                        }
                                    }
                                }

                                .ui-slider {
                                    .ui-slider-range {
                                        position: absolute;
                                        z-index: 1;
                                        font-size: .7em;
                                        display: block;
                                        border: 0;
                                        background-position: 0 0;
                                    }
                                }

                                .ui-slider-horizontal {
                                    .ui-slider-range {
                                        top: 0;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    .entry {
        main {
            .language_selection {
                p {
                    margin: 0px 5px;
                }

                .select_box {
                    margin: 30px auto 20px;

                    .options {
                        .option_item {
                            label {
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        &.recommendedArticle {
            .join-all {
                .order-wrap {
    
                    .order-body {
                        .recommendedBook-search__book {
                            align-items: center;
                            .recommendedBook-search__book_input {
                                width: calc(100% - 360px);
                                margin-left: 20px;
                            }
                        }
    
                        .rA-banner__SRrange {
                            .rA-banner__SRrange-titleC {
                                font-weight: 400;
                                color: $main-color;
                                text-align: center;
                                margin-top: 15px;
                                margin-bottom: 50px;
                            }
    
                            .SRrangeBar {
                                margin-bottom: 20px;
                                position: relative;
                                width: 100%;
                                height: 28px;
                                background: $rangeBar-gray;
                                border-radius: 28px;
    
                                .SRrangeBar-slider {
                                    width: 100%;
                                    height: 28px;
                                    border-radius: 28px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background-color: transparent !important;
                                    border-color: transparent !important;
                                    border: none !important;
                                    opacity: 1 !important;
    
                                    &.s-range {
                                        .ui-widget-header {
                                            border-radius: 0;
                                            background-color: $rangeBar-darkBlue;
                                            z-index: 11;
    
                                            .slider-min,
                                            .slider-max {
                                                color: $default-black !important;
                                                font-size: 14px;
                                                font-weight: normal;
                                                line-height: 28px;
                                                white-space: nowrap;
                                                width: 60px;
                                                text-align: center;
                                                position: absolute;
    
                                                &::after{
                                                    content: "";
                                                    display: block;
                                                    width: 1px;
                                                    height: 100%;
                                                    background: $white;
                                                    position: absolute;
                                                    top: 0px;
                                                }
                                            }
    
                                            .slider-min {
                                                left: 0;
                                                transform: translate(-100% , 0);
                                                &::after{
                                                    left: 100%;
                                                }
                                            }
    
                                            .slider-max {
                                                right: 0;
                                                transform: translate(100% , 0);
                                            }
                                        }
    
                                        .ui-slider-handle {
                                            display: none;
                                        }
                                    }
    
                                    &.ui-slider-disabled {
    
                                        .ui-slider-handle {
                                            display: none;
                                        }
                                    }
    
                                    &.s-control {
    
                                        .ui-widget-header {
                                            top: 0;
                                            height: 100%;
                                            background-color: $rangeBar-lightBlue;
                                        }
                                        
                                        .ui-slider-handle {
                                            position: absolute;
                                            z-index: 11;
                                            width: 32px;
                                            height: 32px;
                                            top: -2px;
                                            margin-left: -16px;
                                            border: none;
                                            border-radius: 50%;
                                            background-color: transparent;
                                            background-image: url(../images/recommendedArticle/SRrange-bar-point.png);
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                            // box-shadow: 0 0 5px rgb(68 110 246 / 50%);
                                            cursor: move;
    
                                            .slider-tooltip {
                                                background-color: $main-color;
                                                color: #FFF;
                                                font-size: 16px;
                                                white-space: nowrap;
                                                text-align: center;
                                                border-radius: 2px;
                                                position: absolute;
                                                top: -50px;
                                                left: 50%;
                                                width: 76px;
                                                height: 30px;
                                                line-height: 30px;
                                                margin: 10px 0 10px -38px;
    
                                                &::after{
                                                    content: "";
                                                    display: block;
                                                    width: 0;
                                                    height: 0;
                                                    border-style: solid;
                                                    border-width: 8px 7px 0 7px;
                                                    border-color: $main-color transparent transparent transparent;
                                                    position: absolute;
                                                    bottom: -7px;
                                                    left: 50%;
                                                    margin-left: -7px;
                                                }
                                            }
                                        }
                                    }
    
                                    .ui-slider {
                                        .ui-slider-range {
                                            position: absolute;
                                            z-index: 1;
                                            font-size: .7em;
                                            display: block;
                                            border: 0;
                                            background-position: 0 0;
                                        }
                                    }
    
                                    .ui-slider-horizontal {
                                        .ui-slider-range {
                                            top: 0;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1600px) {}