$body_bg: #EFE8E0;
$brown: #5B3716;
$white: #fff;
$black: #000;
$grey: #4B4B4B;
$yellow: #f7ae00;
$main_color: #00a7e5;
$light_main_color: #00a7e5;
$dark_main_color: #154299;
$first_item_color: #2783be;
$two_item_color: #d4655c;
$three_item_color: #e1b539;
$four_item_color: #3f9979;
$five_item_color: #675f91;
$chartbar_color: #f7ae00;
