$body_bg: #F7F7F7;
$brown: #5B3716;
$white: #fff;
$black: #000;
$grey: #4B4B4B;
$dark_grey: #4B4B4B;
$main_color: #00a7e5;
$yellow: #f5c000;

$preColor: #19ba94;
$a1Color: #65871d;
$a2Color: #0d7d67;
$b1Color: #e97f5c;
$b2Color: #fd9b1f;
$c1Color: #418291;
$c2Color: #204d7a;
$reportPurple:#6b6299;
$reportYellow:#6b6299;