%boxShadow_gray {
    box-shadow: 1px 1px 5px #4b4b4b45;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
body {
    font-family: 'Noto Sans', 'Noto Sans SC', 'Noto Sans TC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif;
    letter-spacing: 1.5px;
    /* font-weight: 400; */
    box-sizing: border-box;
}

body {
  background-color: $body_bg;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: $main_color;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  color: $main_color;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: $grey;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: $dark_grey;
  line-height: 1.6;
}

p,
label,
tr,
td {
  font-size: 17px;
  color: $grey
}

table {
  border-collapse: collapse;
  border-color: $white;
}

label {
  padding: 0px 9px 0px 0px;
}

.white {
  color: $white;
}

a {
  font-size: 17px;
  color: $white;
  text-decoration: none;
}

button {
  background-color: transparent;
  padding: 0px;
  border-width: 0px;
}

select {
  color: $grey;
  background-color: $body_bg;
  border-color: $grey;
  padding: 3px 8px;
  border-radius: 5px;
}

.selectbook * {
  border-radius: 15px;
  background-color: $body_bg;
  border-color: $main_color;

}

option {
  color: $main_color;
  background-color: $body_bg;
  border-color: $main_color;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 17px;
}

input {
  color: $grey;
  background-color: $body_bg;
  border: 1px solid $grey;
  padding: 3px 8px;
  font-size: 17px;
  border-radius: 5px;

}

input[type=radio] {
  width: 16px;
  height: 16px;
  display: inline;
  vertical-align: top;
  margin-top: 7px;
}

select:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  outline: 0;
  border: 1px solid $main_color;
  color: $main_color;
  -webkit-box-shadow: 1px 1px 5px #4b4b4b45;
  -moz-box-shadow: 1px 1px 5px #4b4b4b45;
  box-shadow: 1px 1px 5px #4b4b4b45;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

img {
  width: 100%;
}

rt {
  -webkit-transform: translateY(-35%);
  -moz-transform: translateY(-35%);
  transform: translateY(-35%);
}

ruby rb, ruby rt {
    padding: 0px 2px;
}

.cursor {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.fixed {
  overflow: hidden;
}