body {
    counter-reset: page-number;
    /* 初始化，名字可自訂，數值為0 */
    -webkit-print-color-adjust: exact;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    width: 100%;
    // min-height: 1448px;
    margin: 0 auto;
    overflow: hidden;

    // &.certificate{
    //     background-color: #0f326b;
    // }

    &:after {
        /* content: counter(page-number); 取用該名字的計數器 */
        /*counter-increment: page-number 1;  增加計數器數值 */
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 26px;
        line-height: 1.7;
        font-weight: bold;
    }

    h4 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: bold;
    }

    p,
    span,
    svg {
        font-size: 14px;
        line-height: 1.7;
    }

    th,
    td {
        font-size: 14px;
        text-decoration: none;
        line-height: 1.7;
    }

    .certificate_header {
        line-height: 0;

        .certificate_header_bg {
            img {
                width: 100%;
            }
        }


        .date_area {
            position: absolute;
            top: 21px;
            right: 9%;

            p {
                color: #044972;
                font-weight: bold;
                margin: 0;
            }
        }
    }

    .certificate_center {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;

        .certificate_center_bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .certificate_center_content {
            width: 82%;
            position: relative;
            z-index: 2;

            .certificate_center_content_tittle {
                padding: 15px 0 30px;

                h3 {
                    font-size: 50px;
                    margin: 0;
                    line-height: 1;
                    text-align: center;
                    color: #1a3267;
                }
            }

            .certificate_center_content_subtitle {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto 35px;

                .certificate_center_content_subtitle_border {
                    width: 30%;

                    img {
                        width: 100%;
                    }
                }

                h4 {
                    font-size: 15px;
                    margin: 0 15px;
                }
            }

            .certificate_center_content_text_content {
                margin: 0 auto;

                .certificate_center_content_name {
                    display: flex;
                    justify-content: center;

                    p {
                        display: inline-block;
                        font-size: 30px;
                        color: #1a3267;
                        margin: 0;
                        line-height: 1;

                        span {
                            font-size: 20px;
                            color: $black;
                        }
                    }
                }

                p {
                    text-align: center;
                    margin: 14px auto 0px;
                }
            }

            .certificate_center_content_item_area {
                position: relative;
                width: 65%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: 0 auto;
                transform: translate(0 , 20px);

                .certificate_center_content_item {
                    margin: 10px 5px;
                    width: calc(50% - 10px);

                    &.certificate_center_content_item_one {
                        .certificate_center_content_item_text {
                            background-color: #b2769a;
                        }
                    }

                    &.certificate_center_content_item_two {
                        .certificate_center_content_item_text {
                            background-color: #12b4d1;
                        }
                    }

                    &.certificate_center_content_item_three {
                        .certificate_center_content_item_text {
                            background-color: #01b2af;
                        }
                    }

                    &.certificate_center_content_item_four {
                        .certificate_center_content_item_text {
                            background-color: #ee839b;
                        }
                    }

                    &.certificate_center_content_item_five {
                        .certificate_center_content_item_text {
                            background-color: #fdcf2e;
                        }
                    }

                    &.certificate_center_content_item_six {
                        .certificate_center_content_item_text {
                            background-color: #75bb29;
                        }
                    }

                    .certificate_center_content_item_img {
                        display: flex;
                        justify-content: center;

                        img{
                            width: 100%;
                        }
                    }

                    .certificate_center_content_item_text {
                        border-radius: 8px;
                        padding: 5px 8px;

                        p {
                            color: $white;
                            font-size: 12px;
                            margin: 0 auto;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .certificate_bottom {
        position: relative;
        display: flex;
        justify-content: center;

        .certificate_bottom_bg {
            line-height: 0;

            img {
                width: 100%;
            }
        }

        .certificate_bottom_content {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0px);
            width: 40%;
            z-index: 1;

            .certificate_bottom_content_text {
                display: flex;
                justify-content: center;

                h4 {
                    font-size: 15px;
                    display: inline-block;
                    text-align: center;
                    margin: 30px auto 10px;
                    padding: 0 0 10px;
                    border-bottom: 1.7px solid #dfb380;
                }
            }

            .certificate_bottom_content_logo_area {
                .certificate_bottom_content_logo_item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 auto 6px;
                    width: 80%;

                    .footer_logo_item_text {

                        p {
                            margin: 0 auto;
                            font-size: 10px;
                        }
                    }

                    .footer_logo_item_img {
                        width: 65%;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

        }

    }

}

@media screen and (min-width: 500px) {
    .page {
        .certificate_header {
            .date_area {
                top: 32px;
            }
        }
    }
}

@media screen and (min-width: 550px) {
    .page {
        .certificate_header {
            .date_area {
                top: 35px;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .page {
        .certificate_header {
            .date_area {
                top: 40px;
            }
        }

        .certificate_center {
            .certificate_center_content {
                .certificate_center_content_tittle {
                    h3 {
                        font-size: 55px;
                    }
                }

                .certificate_center_content_subtitle{
                    h4 {
                        font-size: 20px;
                    }
                }
            }
        }

        .certificate_bottom {
            .certificate_bottom_content {
                .certificate_bottom_content_text {
                    h4 {
                        font-size: 20px;
                    }
                }

                .certificate_bottom_content_logo_area {
                    .certificate_bottom_content_logo_item {
                        .footer_logo_item_text {

                            p {
                                font-size: 14px;
                            }
                        }

                        .footer_logo_item_img {
                            width: 65%;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 650px) {
    .page {
        .certificate_header {
            .date_area {
                top: 45px;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .page {
        .certificate_header {
            .date_area {
                top: 50px;
            }
        }

        .certificate_center {
            .certificate_center_content {
                .certificate_center_content_tittle {
                    h3 {
                        font-size: 60px;
                    }
                }
            }
        }

        .certificate_bottom {
            .certificate_bottom_content {
                .certificate_bottom_content_logo_area {
                    .certificate_bottom_content_logo_item {
                        margin: 0 auto 15px;

                        .footer_logo_item_img {
                            width: 70%;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 750px) {
    .page {
        .certificate_header {
            .date_area {
                top: 55px;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .page {
        h3 {
            font-size: 27px;
        }

        h4 {
            font-size: 21px;
        }

        p,
        span,
        svg {
            font-size: 15px;
        }

        th,
        td {
            font-size: 15px;
        }

        .certificate_center {

            .certificate_center_content {

                .certificate_center_content_tittle {

                    h3 {
                        font-size: 65px;
                    }

                }

                .certificate_center_content_subtitle {

                    .certificate_center_content_subtitle_border {
                        width: 35%;
                    }

                    h4 {
                        font-size: 21px;
                    }
                }

                .certificate_center_content_text_content {

                    .certificate_center_content_name {

                        p {
                            font-size: 35px;
                        }
                    }
                }

                .certificate_center_content_item_area {

                    .certificate_center_content_item {
                        width: calc(33% - 10px);

                        .certificate_center_content_item_text {
                            border-radius: 8px;
                            padding: 5px 8px;

                            p {
                                color: $white;
                                font-size: 12px;
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .certificate_bottom {
            .certificate_bottom_content {
                .certificate_bottom_content_text {
                    h4 {
                        font-size: 21px;
                        margin: 35px auto 15px;
                        padding: 0 0 15px;
                    }
                }

                .certificate_bottom_content_logo_area {
                    .certificate_bottom_content_logo_item {
                        .footer_logo_item_text {
                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 800px) {
    .page {
        .certificate_header {
            .date_area {
                top: 60px;
            }
        }
    }
}

@media screen and (min-width: 850px) {
    .page {
        .certificate_header {
            .date_area {
                top: 65px;
            }
        }

        .certificate_center {

            .certificate_center_content {

                .certificate_center_content_tittle {
                    h3 {
                        font-size: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .page {

        .certificate_bottom {
            .certificate_bottom_content {
                .certificate_bottom_content_text {
                    h4 {
                        margin: 40px auto 20px;
                        padding: 0 0 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 950px) {
    .page {
        .certificate_header {
            .date_area {
                top: 70px;
            }
        }

        .certificate_center {

            .certificate_center_content {

                .certificate_center_content_tittle {
                    h3 {
                        font-size: 90px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .page {
        .certificate_header {
            .date_area {
                top: 75px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
    }

    .page {
        /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
        /* page-break-after: always;  碰到此元素會直接換頁 */
        page-break-inside: avoid;
        position: relative;
        max-width: 1024px;
        width: 100%;
        min-height: 1448px;
        margin: 0 auto;
        overflow: hidden;

        // &.certificate{
        //     background-color: #0f326b;
        // }

        &:after {
            /* content: counter(page-number); 取用該名字的計數器 */
            /*counter-increment: page-number 1;  增加計數器數值 */
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 30px;
            text-align: center;
        }

        h3 {
            font-size: 30px;
            line-height: 1.7;
            font-weight: bold;
        }

        h4 {
            font-size: 25px;
            line-height: 1.5;
            font-weight: bold;
        }

        p,
        span,
        svg {
            font-size: 20px;
            line-height: 1.7;
        }

        th,
        td {
            font-size: 20px;
            text-decoration: none;
            line-height: 1.7;
        }

        .certificate_header {
            line-height: 0;

            .certificate_header_bg {
                img {
                    width: 100%;
                }
            }

            .date_area {
                position: absolute;
                top: 80px;
                right: 9%;

                p {
                    color: #044972;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }

        .certificate_center {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;

            .certificate_center_bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .certificate_center_content {
                width: 82%;
                position: relative;
                z-index: 2;

                .certificate_center_content_tittle {
                    padding: 30px 0;

                    h3 {
                        font-size: 100px;
                        margin: 0;
                        line-height: 1;
                        text-align: center;
                        color: #1a3267;
                    }

                }

                .certificate_center_content_subtitle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 11px auto 35px;

                    .certificate_center_content_subtitle_border {
                        width: 35%;

                        img {
                            width: 100%;
                        }
                    }

                    h4 {
                        font-size: 38px;
                        margin: 0 15px;
                    }
                }

                .certificate_center_content_text_content {
                    margin: 0 auto;

                    .certificate_center_content_name {
                        display: flex;
                        justify-content: center;

                        p {
                            display: inline-block;
                            font-size: 55px;
                            color: #1a3267;
                            margin: 0;
                            line-height: 1;

                            span {
                                font-size: 35px;
                                color: $black;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        margin: 20px auto 5px;
                        font-size: 20px;
                    }
                }

                .certificate_center_content_item_area {
                    position: relative;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: nowrap;
                    margin: 0 auto;
                    transform: translate(0 , 20px);

                    .certificate_center_content_item {
                        margin: 0 3px;
                        width: calc(33% - 6px);

                        &.certificate_center_content_item_one {
                            .certificate_center_content_item_text {
                                background-color: #b2769a;
                            }
                        }

                        &.certificate_center_content_item_two {
                            .certificate_center_content_item_text {
                                background-color: #12b4d1;
                            }
                        }

                        &.certificate_center_content_item_three {
                            .certificate_center_content_item_text {
                                background-color: #01b2af;
                            }
                        }

                        &.certificate_center_content_item_four {
                            .certificate_center_content_item_text {
                                background-color: #ee839b;
                            }
                        }

                        &.certificate_center_content_item_five {
                            .certificate_center_content_item_text {
                                background-color: #fdcf2e;
                            }
                        }

                        &.certificate_center_content_item_six {
                            .certificate_center_content_item_text {
                                background-color: #75bb29;
                            }
                        }

                        .certificate_center_content_item_img {
                            display: flex;
                            justify-content: center;

                            img{
                                width: 100%;
                            }
                        }

                        .certificate_center_content_item_text {
                            border-radius: 8px;
                            padding: 5px 4px;

                            p {
                                color: $white;
                                font-size: 12px;
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .certificate_bottom {
            position: relative;
            display: flex;
            justify-content: center;

            .certificate_bottom_bg {
                line-height: 0;
                img {
                    width: 100%;
                }
            }

            .certificate_bottom_content {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, 0px);
                width: 35%;
                z-index: 1;

                .certificate_bottom_content_text {
                    display: flex;
                    justify-content: center;

                    h4 {
                        font-size: 38px;
                        display: inline-block;
                        text-align: center;
                        margin: 50px auto 30px;
                        padding: 0 0 30px;
                        border-bottom: 1.7px solid #dfb380;
                    }
                }

                .certificate_bottom_content_logo_area {

                    .certificate_bottom_content_logo_item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 0 auto 15px;
                        width: 90%;

                        .footer_logo_item_text {

                            p {
                                margin: 0 auto;
                                font-size: 20px;
                            }
                        }

                        .footer_logo_item_img {
                            width: 70%;

                        img {
                            width: 100%;
                        }
                    }
                    }

                }
            }

        }
    }
}

@page {
    /*size: portrait;  直向 */
    /*size: landscape;  橫向 */
    /*size: A4;  紙張大小 */
    size: A4 portrait;
    /* 混合使用 */
    min-height: 100vh;
    margin: 0;
    /* 邊界與內容的距離 */
}

@media print {
    body {
        // background-color: $body_bg;
        counter-reset: page-number;
        /* 初始化，名字可自訂，數值為0 */
        -webkit-print-color-adjust: exact;
    }

    .page {
        /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
        /* page-break-after: always;  碰到此元素會直接換頁 */
        page-break-inside: avoid;
        position: relative;
        max-width: 1024px;
        width: 100%;
        min-height: 1448px;
        margin: 0 auto;
        overflow: hidden;

        // &.certificate{
        //     background-color: #0f326b;
        // }

        &:after {
            /* content: counter(page-number); 取用該名字的計數器 */
            /*counter-increment: page-number 1;  增加計數器數值 */
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 30px;
            text-align: center;
        }

        h3 {
            font-size: 30px;
            line-height: 1.7;
            font-weight: bold;
        }

        h4 {
            font-size: 25px;
            line-height: 1.5;
            font-weight: bold;
        }

        p,
        span,
        svg {
            font-size: 20px;
            line-height: 1.7;
        }

        th,
        td {
            font-size: 20px;
            text-decoration: none;
            line-height: 1.7;
        }

        .certificate_header {
            line-height: 0;

            .certificate_header_bg {
                img {
                    width: 100%;
                }
            }

            .date_area {
                position: absolute;
                top: 80px;
                right: 9%;

                p {
                    color: #044972;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }

        .certificate_center {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;

            .certificate_center_bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .certificate_center_content {
                width: 82%;
                position: relative;
                z-index: 2;

                .certificate_center_content_tittle {
                    padding: 30px 0;

                    h3 {
                        font-size: 100px;
                        margin: 0;
                        line-height: 1;
                        text-align: center;
                        color: #1a3267;
                    }

                }

                .certificate_center_content_subtitle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 11px auto 35px;

                    .certificate_center_content_subtitle_border {
                        width: 35%;

                        img {
                            width: 100%;
                        }
                    }

                    h4 {
                        font-size: 38px;
                        margin: 0 15px;
                    }
                }

                .certificate_center_content_text_content {
                    margin: 0 auto;

                    .certificate_center_content_name {
                        display: flex;
                        justify-content: center;

                        p {
                            display: inline-block;
                            font-size: 55px;
                            color: #1a3267;
                            margin: 0;
                            line-height: 1;

                            span {
                                font-size: 35px;
                                color: $black;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        margin: 20px auto 25px;
                        font-size: 20px;
                    }
                }

                .certificate_center_content_item_area {
                    position: relative;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: nowrap;
                    margin: 0 auto;
                    transform: translate(0 , 20px);

                    .certificate_center_content_item {
                        margin: 0 3px;
                        width: calc(33% - 6px);

                        &.certificate_center_content_item_one {
                            .certificate_center_content_item_text {
                                background-color: #b2769a;
                            }
                        }

                        &.certificate_center_content_item_two {
                            .certificate_center_content_item_text {
                                background-color: #12b4d1;
                            }
                        }

                        &.certificate_center_content_item_three {
                            .certificate_center_content_item_text {
                                background-color: #01b2af;
                            }
                        }

                        &.certificate_center_content_item_four {
                            .certificate_center_content_item_text {
                                background-color: #ee839b;
                            }
                        }

                        &.certificate_center_content_item_five {
                            .certificate_center_content_item_text {
                                background-color: #fdcf2e;
                            }
                        }

                        &.certificate_center_content_item_six {
                            .certificate_center_content_item_text {
                                background-color: #75bb29;
                            }
                        }

                        .certificate_center_content_item_img {
                            display: flex;
                            justify-content: center;

                            img{
                                width: 100%;
                            }
                        }

                        .certificate_center_content_item_text {
                            border-radius: 8px;
                            padding: 5px 4px;

                            p {
                                color: $white;
                                font-size: 12px;
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .certificate_bottom {
            position: relative;
            display: flex;
            justify-content: center;

            .certificate_bottom_bg {
                line-height: 0;
                img {
                    width: 100%;
                }
            }

            .certificate_bottom_content {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, 0px);
                width: 35%;
                z-index: 1;

                .certificate_bottom_content_text {
                    display: flex;
                    justify-content: center;

                    h4 {
                        font-size: 38px;
                        display: inline-block;
                        text-align: center;
                        margin: 50px auto 30px;
                        padding: 0 0 30px;
                        border-bottom: 1.7px solid #dfb380;
                    }
                }

                .certificate_bottom_content_logo_area {

                    .certificate_bottom_content_logo_item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 0 auto 15px;
                        width: 90%;

                        .footer_logo_item_text {

                            p {
                                margin: 0 auto;
                                font-size: 20px;
                            }
                        }

                        .footer_logo_item_img {
                            width: 70%;

                            img {
                                width: 100%;
                            }
                        }
                    }

                }
            }

        }
    }
}