.reading_impressions_area {
    .container {
        .row {
            .impressions_tittle {
                display: flex;

                .impressions_tittle_icon {
                    width: 50px;
                    margin: 0 10px 0 0;
                }

                .impressions_tittle_text {
                    h3 {
                        font-weight: bold;
                    }
                }
            }

            h2 {
                text-align: left;
            }

            h2>small {
                border-top: 0px;
                color: black;
            }

            .input_area {
                display: flex;
                flex-wrap: wrap;
    
                .radio-inline {
                    color: #20221f;
                    font-weight: normal;
                    position: relative;
                    cursor: pointer;
                    padding: 10px 0px;
                    margin: 0 20px 0 0;

                    i{
                        color: #ffc83d;
                        position: relative;

                        &::after{
                            content: "";
                            position: absolute;
                            z-index: -1;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                            width: 90%;
                            height: 90%;
                            background-color: black;
                        }
                    }

                    input[type=radio] {
                        display: none;
                    }

                    &::before {
                        content: " ";
                        display: inline-block;
                        top: 0;
                        margin: 0 5px 0 0;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        position: relative;
                        border: 2px solid #20221f;
                    }

                    &:has(input:checked) {
                        color: #43a047;
                        cursor: pointer;

                        &::before {
                            border: 2px solid #43a047;
                            background: radial-gradient(#43a047 0%, #43a047 40%, transparent 50%, transparent);
                        }
                    }

                    &:hover {
                        color: #43a047;

                        &::before {
                            border: 2px solid #43a047;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 680px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1100px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}