main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .parti_contest_content {
                            .multiple_input_area {
                                &.multiple_input_BasicInformation_area {
                                    .input-group {
                                        .input-group_tittle {
                                            width: 100%;
                                            padding: 0;
                                        }
                                    }
                                }


                                &.multiple_input_AddCart_area {
                                    .input-group {
                                        .input-group_tittle {
                                            width: 100%;
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .parti_contest_content {
                            .multiple_input_area {
                                &.multiple_input_BasicInformation_area {
                                    .input-group {
                                        .input-group_tittle {
                                            margin: 0;
                                        }
                                    }
                                }

                                &.multiple_input_AddCart_area {
                                    .input-group {
                                        .input-group_tittle {
                                            margin: 0;
                                        }

                                        &.input-group_AddCart {
                                            .col-md-offset-2 {
                                                width: 100%;
                                                margin: 0;
                                                padding: 0;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .parti_contest_content {
                            .multiple_input_area {
                                &.multiple_input_BasicInformation_area {
                                    .input-group {
                                        .input-group_tittle {
                                            text-align: center;
                                            margin: 0 auto;
                                        }

                                        .input-group-label {
                                            width: 20%;
                                        }

                                        .form-control {
                                            width: calc(80% - 15px);
                                            max-width: none;

                                            &.form-select-threeitem {

                                                &.form-select-threeitem-one,
                                                &.form-select-threeitem-two {
                                                    width: calc((79% - 15px) / 3 * 0.8);
                                                }

                                                &.form-select-threeitem-three {
                                                    width: calc((79% - 15px) / 3 * 1.4);
                                                }
                                            }
                                        }
                                    }
                                }


                                &.multiple_input_AddCart_area {
                                    .input-group {
                                        .input-group_tittle {
                                            text-align: center;
                                            margin: 0 auto;
                                        }

                                        .input-group-label {
                                            width: 100%;
                                            text-align: left;
                                        }

                                        &.input-group_AddCart {
                                            .col-md-offset-2 {
                                                display: flex;
                                                width: 80%;
                                                margin: 0 0 0 20%;

                                                input {
                                                    margin: 5px 2px 5px 0;
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}