main {
    .join-all {
        .order-wrap {
            .order-page {
                .order-body {
                    .literacy_item {

                        &.literacy_item_two {
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                width: calc(100% + 90px);
                                height: 100%;
                                top: 30px;
                                left: -45px;
                                background-color: #f4f8fb;
                            }
                        }

                        &.literacy_item_six {
                            position: relative;
                            margin: 80px 0;

                            &::before {
                                content: "";
                                position: absolute;
                                width: calc(100% + 90px);
                                height: 100%;
                                top: 30px;
                                left: -45px;
                                background-color: #f4f8fb;
                            }

                            .literacy_tittle,
                            .literacy_content{
                                position: relative;
                                z-index: 1;
                            }
                        }

                        &.literacy_item_three{
                            padding: 20px 0 0;
                            .literacy_content{
                                margin: -23px auto 40px;

                                .literacy_content_item{
                                    .literacy_table{
                                        .table-bordered{
                                            thead{
                                                tr{
                                                    td{
                                                        padding: 53px 8px 30px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .literacy_tittle {
                            position: relative;
                            z-index: 1;

                            h3 {
                                font-size: 19px;
                                color: #446ef6;
                            }

                            .literacy_tittle_bg {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -40%);
                                z-index: -1;
                                width: calc(100% + 70px);
                            }
                        }

                        .literacy_content {
                            margin: 40px auto;

                            .literacy_content_tittle {
                                h4 {
                                    text-align: center;
                                }
                            }

                            .literacy_content_item {
                                .literacy_content_item_bookman {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    width: 80%;
                                    margin: 0 auto;

                                    .literacy_content_item_img {
                                        max-width: 250px;
                                        margin: 30px auto 40px;
                                    }

                                    .literacy_content_item_text {
                                        text-align: center;
                                    }
                                }

                                .literacy_content_item_introduction {
                                    position: relative;
                                    padding: 15px 20px 15px 25px;
                                    border-radius: 10px;
                                    margin: 40px auto;

                                    .literacy_content_item_introduction_content {
                                        .literacy_content_item_introduction_tittle {
                                            h3{
                                                text-align: center;
                                            }
                                        }
                                    }

                                    &.introduction_one {
                                        background-color: #3e74ef;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #a9fff4;
                                                }
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #3e74ef;
                                            }
                                        }
                                    }

                                    &.introduction_two {
                                        background-color: #3bce76;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #faffb2;
                                                }
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #3bce76;
                                            }
                                        }
                                    }

                                    &.introduction_three {
                                        background-color: #dc76d6;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #fff;
                                                }
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #dc76d6;
                                            }
                                        }
                                    }

                                    &.introduction_four {
                                        background-color: #767be0;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #cafed4;
                                                }
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #767be0;
                                            }
                                        }
                                    }

                                    .literacy_content_item_introduction_content {
                                        padding: 30px 20px;
                                        border-radius: 10px;
                                        border: 1px dotted #fff;

                                        .literacy_content_item_introduction_tittle {
                                            margin: 0 auto 20px;

                                            p {
                                                font-size: 25px;
                                                font-weight: bold;
                                            }
                                        }

                                        .literacy_content_item_introduction_tittle,
                                        .literacy_content_item_introduction_text {
                                            display: flex;
                                            justify-content: center;
                                        }

                                        .literacy_content_item_introduction_text {
                                            p {
                                                color: #fff;
                                                text-align: center;
                                            }
                                        }
                                    }

                                    .literacy_content_item_introduction_left {
                                        position: absolute;
                                        left: 0;
                                        top: 15px;
                                        transform: translate(-50%, 0);
                                        height: calc(100% - 30px);
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;

                                        .literacy_content_item_introduction_left_item {
                                            width: 27px;
                                            height: 20px;
                                            border-radius: 10px;
                                            border: 5px solid #fff;
                                        }
                                    }

                                }

                                .literacy_table {
                                    table {
                                        td {
                                            border: 5px solid white;
                                        }

                                        thead {


                                            tr {
                                                td {
                                                    background-color: #eff3fe;
                                                    color: #678bff;
                                                    font-weight: bold;
                                                }


                                            }
                                        }

                                        tbody {
                                            tr {
                                                td {
                                                    background-color: #eff3fe;
                                                    color: #678bff;
                                                    font-weight: bold;

                                                    p {
                                                        color: #678bff;
                                                        margin: 40px auto 0;
                                                    }

                                                    &:nth-child(1) {
                                                        background-color: #678bff;
                                                        color: #fff;
                                                    }
                                                }

                                                &:nth-child(1) {
                                                    td {
                                                        background-color: #ffe3fd;
                                                        color: #dc76d6;
                                                        font-weight: bold;

                                                        &:nth-child(1) {
                                                            background-color: #dc76d6;
                                                            color: #fff;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .literacy_content_item_projects {
                                    position: relative;
                                    background-color: #eff3fe;
                                    padding: 40px 15px;
                                    border-radius: 20px;
                                    margin: 40px auto;

                                    .literacy_content_item_projects_content {
                                        .literacy_content_item_projects_num {
                                            position: absolute;
                                            top: -4%;
                                            width: 14%;

                                            p {
                                                position: absolute;
                                                font-size: 20px;
                                                font-weight: bold;
                                                color: white;
                                                left: 50%;
                                                top: 50%;
                                                transform: translate(-85%, -70%);
                                            }
                                        }

                                        .literacy_content_item_projects_tittle,
                                        .literacy_content_item_projects_text {
                                            display: flex;
                                            justify-content: center;
                                            text-align: center;

                                            h3,p {
                                                color: #446ef6;
                                                font-weight: bold;
                                            }
                                        }

                                        .literacy_content_item_projects_label_check {
                                            width: 20px;
                                            position: absolute;
                                            right: 10px;
                                            bottom: 10px;
                                        }

                                        .literacy_content_item_projects_tittle {
                                            margin: 0 auto 20px;

                                            p {
                                                font-size: 25px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.literacy_item_five {
                            position: relative;

                            .literacy_tittle,
                            .literacy_content{
                                position: relative;
                                z-index: 1;
                            }

                            &::after{
                                content: "";
                                position: absolute;
                                top: 23px;
                                left: -45px;
                                width: calc(100% + 90px);
                                height: calc(100% + 20px);
                                background-image: linear-gradient(90deg, #e8e8e8, 1px, transparent 0), linear-gradient(#e8e8e8, 1px, transparent 0);
                            background-position: 50% 50%;
                            background-size: 20px 20px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1600px) {}