main {
    .join-all {
        .purchase_sre_area {
            .purchase_sre_area_content {
                padding: 0 15px;

                .purchase_sre_area_content_tittle {
                    position: relative;

                    .purchase_sre_area_content_tittle_text_area {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;

                        .purchase_sre_area_content_tittle_logo {
                            width: 55%;
                            margin: 0 auto;
                            max-width: 500px;
                        }

                        .purchase_sre_area_content_tittle_text {
                            display: flex;
                            justify-content: center;
                            margin: 5px auto;

                            h4 {
                                color: #604c3f;
                            }
                        }
                    }
                }

                .purchase_sre_area_content_three_project {
                    position: relative;
                    margin: 0px auto;
                    padding: 40px 20px;
                    background-color: white;

                    .purchase_sre_area_content_three_project_tittle {
                        display: flex;
                        justify-content: center;

                        h4 {
                            font-weight: normal;
                            color: #604c3f;
                            margin: 0px auto 20px;

                            a {
                                color: #604c3f;
                                font-size: 18px;
                            }
                        }
                    }

                    .purchase_sre_area_content_three_project_item_area {
                        .purchase_sre_area_content_three_project_item {
                            margin: 0px auto;
                            padding: 25px;
                            border-top: 1px dashed #604c3f;

                            &:nth-child(1) {
                                border-top: 0;
                            }

                            .purchase_sre_area_content_three_project_item_img {
                                width: 80%;
                                margin: 0 auto;
                            }

                            .purchase_sre_area_content_three_project_item_text {
                                margin: 20px auto 0;

                                p {
                                    color: #604c3f;
                                    text-align: center;
                                }
                            }
                        }

                        .purchase_sre_area_content_three_project_item_bottom {
                            position: relative;
                            background-color: #ffe8d7;
                            border-radius: 65px;
                            margin: 0 auto 40px;

                            .purchase_sre_area_content_three_project_item_bottom_bg {
                                background-image: url(../images/info/SRE/project_4.png);
                                background-size: cover;
                                background-position: center center;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                overflow: hidden;
                                border-radius: 65px;
                            }

                            .purchase_sre_area_content_three_project_item_bottom_text_area {
                                position: relative;
                                z-index: 1;
                                width: 100%;
                                padding: 30px;

                                .purchase_sre_area_content_three_project_item_bottom_img {
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translate(0, -50%);
                                    width: 30%;
                                    max-width: 200px;
                                }

                                .purchase_sre_area_content_three_project_item_bottom_text {
                                    width: 70%;

                                    h3 {
                                        color: #604c3f;
                                        font-weight: normal;
                                    }
                                }
                            }
                        }
                    }

                    .three_project_decorate {
                        position: absolute;
                        left: 15px;
                        width: 20px;
                        top: 200px;
                    }
                }

                .purchase_sre_area_content_plan_area {
                    position: relative;
                    background-color: #fadeda;
                    padding: 40px;

                    .purchase_sre_area_content_plan_item {
                        background-color: white;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 20px;
                        border-radius: 0 0 50px 0;

                        &:nth-child(1) {
                            border-radius: 0;
                        }

                        .purchase_sre_area_content_plan_item_tittle {
                            background-color: #fadeda;
                            border-radius: 50px;
                            margin: 20px auto;

                            h3 {
                                color: white;
                                padding: 5px 15px;
                            }
                        }

                        .purchase_sre_area_content_plan_item_content {
                            .purchase_sre_area_content_plan_item_content_order {
                                margin: 0 auto 20px;

                                .purchase_sre_area_content_plan_item_content_order_tittle {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    img {
                                        width: 50px;
                                        margin: 10px auto;
                                    }

                                    h4 {
                                        color: #604c3f;

                                        a {
                                            color: #604c3f;
                                            font-size: 18px;
                                        }
                                    }
                                }

                                .purchase_sre_area_content_plan_item_content_order_text {
                                    display: flex;
                                    justify-content: center;
                                }
                            }

                            .purchase_sre_area_content_plan_item_content_remark {
                                background-color: #604c3f;
                                border-radius: 50px;
                                padding: 5px 10px;

                                p {
                                    color: white;
                                    padding: 5px 10px;
                                }
                            }
                        }
                    }

                    .plan_decorate_one {
                        position: absolute;
                        left: 10px;
                        width: 20px;
                        bottom: 80px;
                    }

                    .plan_decorate_two {
                        position: absolute;
                        right: 10px;
                        width: 20px;
                        top: 80px;
                    }
                }

                .purchase_sre_area_content_feature_area {
                    position: relative;
                    padding: 40px 20px;

                    .purchase_sre_area_content_feature_area_bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-image: linear-gradient(90deg, #e8e8e8, 1px, transparent 0), linear-gradient(#e8e8e8, 1px, transparent 0);
                            background-position: 50% 50%;
                            background-size: 20px 20px;
                        }
                    }

                    .purchase_sre_area_content_feature_content {
                        position: relative;
                        z-index: 1;

                        .purchase_sre_area_content_feature_tittle {
                            display: flex;
                            justify-content: center;

                            h3 {
                                color: #604c3f;
                            }
                        }

                        .purchase_sre_area_content_feature_item {
                            background-color: #fadeda;
                            border-radius: 50px;
                            padding: 20px;
                            margin: 20px auto;
                            position: relative;

                            .purchase_sre_area_content_feature_item_num {
                                background-color: #ef9b99;
                                border-radius: 50px 50px 0 50px;
                                padding: 15px;
                                border: 1px solid white;
                                display: inline-block;
                                width: auto;
                                transform: translate(-20px, -20px);

                                h3 {
                                    text-align: center;
                                    color: white;
                                    width: calc(21px * 1.7 * 2);
                                }
                            }

                            .purchase_sre_area_content_feature_item_tittle {
                                color: #604c3f;
                            }

                            .purchase_sre_area_content_feature_item_content {
                                margin: 20px auto;

                                .purchase_sre_area_content_feature_item_content_img {
                                    width: 80%;
                                    margin: 10px auto;

                                    .purchase_sre_area_content_feature_item_content_img_item {
                                        margin: 10px auto;

                                        p {
                                            color: #604c3f;
                                            margin: 0 0 5px;
                                        }
                                    }
                                }

                                .purchase_sre_area_content_feature_item_content_text {
                                    p {
                                        color: #604c3f;

                                        span {
                                            color: #c30d23;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .feature_decorate_one {
                        position: absolute;
                        left: 0;
                        width: 10%;
                        top: 18%;
                    }

                    .feature_decorate_two {
                        position: absolute;
                        right: 0;
                        width: 10%;
                        top: 25%;
                    }

                }

                .purchase_sre_area_content_price_area {
                    background-color: #fadeda;
                    position: relative;

                    .literacy_content {
                        position: relative;
                        z-index: 1;

                        .literacy_content_tittle {
                            position: absolute;
                            left: 50%;
                            top: 0%;
                            transform: translate(-50%, -50%);
                            background-color: #fadeda;
                            border-radius: 50px;
                            padding: 5px 25px;

                            h4 {
                                color: #ffb2b0;
                            }
                        }

                        .literacy_content_item {
                            padding: 60px 20px;

                            .literacy_content_item_price {

                                .literacy_content_item_price_left {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    padding: 30px;
                                    margin: 20px auto;
                                    width: 80%;

                                    h4 {
                                        color: white;
                                    }

                                    .literacy_content_item_price_left_content {
                                        display: flex;
                                        align-items: center;

                                        .literacy_content_item_price_left_img {
                                            width: 50px;
                                            margin: 10px;
                                        }

                                        .literacy_content_item_price_left_text {

                                            h3,
                                            p {
                                                text-align: center;
                                            }
                                        }
                                    }


                                }

                                .literacy_content_item_price_left {
                                    background-color: #ffb2b0;

                                    .literacy_content_item_price_left_text {
                                        h3 {
                                            color: #5c6466;
                                            text-decoration: line-through;
                                        }
                                    }
                                }
                            }

                            .literacy_content_item_price_step {
                                .literacy_content_item_price_step_tittle {
                                    display: flex;
                                    justify-content: center;
                                    margin: 50px auto;

                                    p {
                                        color: #446ef6;

                                        a {
                                            color: #446ef6;
                                        }
                                    }
                                }

                                .literacy_content_item_price_step_area {
                                    .literacy_content_item_price_step_content {
                                        margin: 0 auto 30px;

                                        .literacy_content_item_price_step_content_text {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            margin: 0 auto 15px;

                                            .literacy_content_item_price_step_content_num {
                                                background-color: #446ef6;
                                                display: inline-block;
                                                border-radius: 50%;
                                                margin: 0 10px 0 0;

                                                p {
                                                    color: white;
                                                    width: calc(14px * 1.7);
                                                    text-align: center;
                                                }
                                            }

                                            .literacy_content_item_price_step_content_name {
                                                p {
                                                    font-weight: bold;
                                                }
                                            }
                                        }

                                        .literacy_content_item_price_step_content_text_two {
                                            display: flex;
                                            align-items: center;
                                            flex-direction: column;
                                            padding: 20px 10px;
                                            background-color: white;
                                            border: 1px solid #c6c6c6;

                                            p {
                                                img {
                                                    width: 18px;
                                                }
                                            }
                                        }

                                        .literacy_content_item_price_step_content_img {
                                            width: 80%;
                                            max-width: 100px;
                                            margin: 0 auto;
                                        }

                                        .literacy_content_item_price_step_content_dot {
                                            width: 5px;
                                            height: 5px;
                                            border-radius: 50%;
                                            background-color: #446ef6;
                                            margin: 5px;
                                            margin: 5px auto;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .price_decorate_one {
                        position: absolute;
                        left: 0;
                        width: 15%;
                        top: 10%;
                        max-width: 100px;
                    }

                    .price_decorate_two {
                        position: absolute;
                        right: 0;
                        width: 10%;
                        top: 80px;
                        max-width: 85px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {
        .join-all {
            .purchase_sre_area {
                .purchase_sre_area_content {
                    .purchase_sre_area_content_tittle {

                        .purchase_sre_area_content_tittle_text_area {

                            .purchase_sre_area_content_tittle_logo {
                                margin: 0 auto 20px;
                            }
                        }
                    }

                    .purchase_sre_area_content_three_project {
                        .purchase_sre_area_content_three_project_tittle {
                            margin: 0px auto 20px;
                        }

                        .purchase_sre_area_content_three_project_item_area {
                            display: flex;
                            flex-wrap: wrap;

                            .purchase_sre_area_content_three_project_item {
                                width: calc(50% - 0px);
                                margin: 0;
                                border-top: 0;

                                &:nth-child(1) {
                                    border-right: 1px dashed #604c3f;
                                }

                                &:nth-child(1),
                                &:nth-child(2) {
                                    border-bottom: 1px dashed #604c3f;
                                }
                            }

                            .purchase_sre_area_content_three_project_item_bottom {
                                width: 100%;
                            }
                        }
                    }

                    .purchase_sre_area_content_plan_area {
                        .purchase_sre_area_content_plan_item {
                            .purchase_sre_area_content_plan_item_content {
                                .purchase_sre_area_content_plan_item_content_order {
                                    .purchase_sre_area_content_plan_item_content_order_tittle {
                                        flex-direction: row;

                                        img {
                                            width: 30px;
                                            margin: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .purchase_sre_area_content_feature_area {
                        .purchase_sre_area_content_feature_content {
                            width: 80%;
                            margin: 0 auto;

                            .purchase_sre_area_content_feature_item {
                                margin: 40px auto 60px;

                                .purchase_sre_area_content_feature_item_num {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                }

                                .purchase_sre_area_content_feature_item_tittle {
                                    width: 75%;
                                    margin: 0 0px 0 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .join-all {
            .purchase_sre_area {
                .purchase_sre_area_content {
                    .purchase_sre_area_content_three_project {
                        .purchase_sre_area_content_three_project_tittle {
                            margin: 0px auto 20px;

                            h4 {
                                text-align: center;

                                a {
                                    font-size: 21px;
                                }
                            }
                        }

                        .purchase_sre_area_content_three_project_item_area {
                            display: flex;
                            flex-wrap: wrap;

                            .purchase_sre_area_content_three_project_item {
                                width: 33%;
                                margin: 0 auto 40px;
                                border-top: 0;

                                &:nth-child(1),
                                &:nth-child(2) {
                                    border-right: 1px dashed #604c3f;
                                    border-bottom: 0px;
                                }
                            }

                            .purchase_sre_area_content_three_project_item_bottom {
                                .purchase_sre_area_content_three_project_item_bottom_text_area {
                                    .purchase_sre_area_content_three_project_item_bottom_text {
                                        width: calc(100% - 200px);
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                    }

                    .purchase_sre_area_content_plan_area {

                        .purchase_sre_area_content_plan_item {

                            .purchase_sre_area_content_plan_item_tittle {

                                h3 {
                                    padding: 5px 45px;
                                }
                            }

                            .purchase_sre_area_content_plan_item_content {
                                .purchase_sre_area_content_plan_item_content_order {
                                    .purchase_sre_area_content_plan_item_content_order_tittle {
                                        h4 {
                                            a {
                                                font-size: 21px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .purchase_sre_area_content_feature_area {
                        .purchase_sre_area_content_feature_content {
                            .purchase_sre_area_content_feature_item {

                                &:nth-child(4) {
                                    .purchase_sre_area_content_feature_item_content {
                                        display: block;

                                        .purchase_sre_area_content_feature_item_content_img {
                                            width: 80%;
                                            margin: 10px auto;
                                        }

                                        .purchase_sre_area_content_feature_item_content_text {
                                            width: 100%;
                                        }
                                    }
                                }

                                .purchase_sre_area_content_feature_item_tittle {
                                    width: 80%;
                                    margin: 0 0px 0 15%;
                                }

                                .purchase_sre_area_content_feature_item_content {
                                    display: flex;



                                    .purchase_sre_area_content_feature_item_content_img {
                                        width: 45%;
                                        margin: 0 auto;
                                        display: flex;
                                        flex-wrap: wrap;

                                        .purchase_sre_area_content_feature_item_content_img_item {
                                            width: 45%;
                                            margin: 0px auto 10px;

                                            &:nth-child(3) {
                                                width: 100%;
                                            }
                                        }
                                    }

                                    .purchase_sre_area_content_feature_item_content_text {
                                        width: 45%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 992px) {
    main {
        .join-all {
            .purchase_sre_area {
                .purchase_sre_area_content {
                    .purchase_sre_area_content_three_project {
                        .purchase_sre_area_content_three_project_tittle {

                            h4 {

                                a {
                                    font-size: 23px;
                                }
                            }
                        }
                    }

                    .purchase_sre_area_content_plan_area {

                        .purchase_sre_area_content_plan_item {

                            .purchase_sre_area_content_plan_item_content {
                                .purchase_sre_area_content_plan_item_content_order {
                                    .purchase_sre_area_content_plan_item_content_order_tittle {
                                        h4 {
                                            a {
                                                font-size: 23px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .purchase_sre_area_content_price_area {
                        .literacy_content {
                            .literacy_content_item {
                                .literacy_content_item_price {

                                    .literacy_content_item_price_left {

                                        .literacy_content_item_price_left_img {
                                            margin: 10px 15px;
                                        }
                                    }
                                }

                                .literacy_content_item_price_step {
                                    .literacy_content_item_price_step_area {
                                        display: flex;

                                        .literacy_content_item_price_step_content {

                                            &.dot_area {
                                                display: flex;
                                                align-items: center;
                                            }

                                            .literacy_content_item_price_step_content_dot {
                                                display: inline-block;
                                                margin: 5px 2px;
                                            }

                                            .literacy_content_item_price_step_content_text {
                                                .literacy_content_item_price_step_content_num {
                                                    p {
                                                        width: calc(17px * 1.7);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }


                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        .join-all {
            .purchase_sre_area {
                width: calc(100% - 260px) !important;
                padding: 30px 60px 80px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
        .join-all {
            .purchase_sre_area {
                .purchase_sre_area_content {
                    .purchase_sre_area_content_three_project {
                        .purchase_sre_area_content_three_project_tittle {

                            h4 {

                                a {
                                    font-size: 27px;
                                }
                            }
                        }

                        .three_project_decorate {
                            width: 30px;
                            top: 7%;
                        }
                    }

                    .purchase_sre_area_content_plan_area {
                        padding: 50px;

                        .purchase_sre_area_content_plan_item {

                            .purchase_sre_area_content_plan_item_content {
                                .purchase_sre_area_content_plan_item_content_order {
                                    .purchase_sre_area_content_plan_item_content_order_tittle {
                                        h4 {
                                            a {
                                                font-size: 27px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .plan_decorate_one {
                            width: 30px;
                        }

                        .plan_decorate_two {
                            width: 30px;
                        }
                    }

                    .purchase_sre_area_content_price_area {
                        .literacy_content {
                            .literacy_content_item {
                                .literacy_content_item_price_step {
                                    .literacy_content_item_price_step_area {

                                        .literacy_content_item_price_step_content {

                                            .literacy_content_item_price_step_content_text {
                                                .literacy_content_item_price_step_content_num {
                                                    p {
                                                        width: calc(19px * 1.7);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }


                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    main {
        .join-all {
            .purchase_sre_area {
                .purchase_sre_area_content {
                    .purchase_sre_area_content_feature_area {
                        .purchase_sre_area_content_feature_content {
                            .purchase_sre_area_content_feature_item {

                                &:nth-child(4) {
                                    .purchase_sre_area_content_feature_item_content {
                                        display: flex;

                                        .purchase_sre_area_content_feature_item_content_img {
                                            width: 45%;
                                            margin: 0px auto;
                                        }

                                        .purchase_sre_area_content_feature_item_content_text {
                                            width: 45%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}