main {
    .join-all {
        .order-wrap {
            .order-page {
                .order-body {
                    .literacy_item {

                        &.literacy_item_two {
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                width: calc(100% + 90px);
                                height: 100%;
                                top: 30px;
                                left: -45px;
                                background-color: #f4f8fb;
                            }
                        }

                        &.literacy_item_three {
                            padding: 20px 0 0;

                            .literacy_content {
                                margin: -23px auto 40px;

                                .literacy_content_item {
                                    .literacy_table {
                                        .table-bordered {
                                            thead {
                                                tr {
                                                    td {
                                                        padding: 53px 8px 30px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.literacy_item_five {
                            position: relative;

                            .literacy_tittle,
                            .literacy_content {
                                position: relative;
                                z-index: 1;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                top: 23px;
                                left: -45px;
                                width: calc(100% + 90px);
                                height: calc(100% + 20px);
                                background-image: linear-gradient(90deg, #e8e8e8, 1px, transparent 0), linear-gradient(#e8e8e8, 1px, transparent 0);
                                background-position: 50% 50%;
                                background-size: 20px 20px;
                            }
                        }

                        &.literacy_item_six {
                            position: relative;
                            margin: 80px 0 0;
                            padding: 0 0 40px;

                            &::before {
                                content: "";
                                position: absolute;
                                width: calc(100% + 90px);
                                height: 100%;
                                top: 30px;
                                left: -45px;
                                background-color: #f4f8fb;
                            }

                            .literacy_tittle,
                            .literacy_content {
                                position: relative;
                                z-index: 1;
                            }
                        }

                        &.literacy_item_seven {
                            position: relative;
                            padding: 0 0 60px;

                            &::before {
                                content: "";
                                position: absolute;
                                width: calc(100% + 90px);
                                height: 100%;
                                top: 30px;
                                left: -45px;
                                background-color: #ffe8e8;
                            }

                            .literacy_tittle,
                            .literacy_content {
                                position: relative;
                                z-index: 1;
                            }
                        }

                        .literacy_tittle {
                            position: relative;
                            z-index: 1;

                            h3 {
                                color: #446ef6;
                            }

                            .literacy_tittle_bg {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -40%);
                                z-index: -1;
                                width: calc(100% + 70px);
                                max-width: 420px;
                            }
                        }

                        .literacy_content {
                            margin: 60px auto 40px;

                            .literacy_content_tittle {
                                h4 {
                                    text-align: center;
                                }
                            }

                            .literacy_content_item {
                                .literacy_content_item_bookman {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    width: 80%;
                                    margin: 0 auto;

                                    .literacy_content_item_img {
                                        max-width: 250px;
                                        margin: 30px auto 40px;
                                    }

                                    .literacy_content_item_text {
                                        text-align: center;
                                    }
                                }

                                .literacy_content_item_introduction {
                                    position: relative;
                                    padding: 15px 20px 15px 25px;
                                    border-radius: 10px;
                                    margin: 40px auto;

                                    .literacy_content_item_introduction_content {
                                        .literacy_content_item_introduction_tittle {
                                            h3 {
                                                text-align: center;
                                            }
                                        }
                                    }

                                    &.introduction_one {
                                        background-color: #3e74ef;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #a9fff4;
                                                }
                                            }

                                            .literacy_content_item_introduction_img {
                                                left: 10%;
                                                bottom: 30%;
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #3e74ef;
                                            }
                                        }
                                    }

                                    &.introduction_two {
                                        background-color: #3bce76;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #faffb2;
                                                }
                                            }

                                            .literacy_content_item_introduction_img {
                                                right: 12%;
                                                top: 25%;
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #3bce76;
                                            }
                                        }
                                    }

                                    &.introduction_three {
                                        background-color: #dc76d6;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #fff;
                                                }
                                            }

                                            .literacy_content_item_introduction_img {
                                                right: 10%;
                                                top: 15%;
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #dc76d6;
                                            }
                                        }
                                    }

                                    &.introduction_four {
                                        background-color: #767be0;

                                        .literacy_content_item_introduction_content {
                                            .literacy_content_item_introduction_tittle {
                                                h3 {
                                                    color: #cafed4;
                                                }
                                            }

                                            .literacy_content_item_introduction_img {
                                                right: 10%;
                                                top: 15%;
                                            }
                                        }


                                        .literacy_content_item_introduction_left {
                                            .literacy_content_item_introduction_left_item {
                                                background-color: #767be0;
                                            }
                                        }
                                    }

                                    .literacy_content_item_introduction_content {
                                        padding: 30px 20px;
                                        border-radius: 10px;
                                        border: 1px dotted #fff;

                                        .literacy_content_item_introduction_tittle {
                                            margin: 0 auto 20px;

                                            p {
                                                font-size: 25px;
                                                font-weight: bold;
                                            }
                                        }

                                        .literacy_content_item_introduction_tittle,
                                        .literacy_content_item_introduction_text {
                                            display: flex;
                                            justify-content: center;
                                        }

                                        .literacy_content_item_introduction_text {
                                            p {
                                                color: #fff;
                                                text-align: center;
                                            }
                                        }

                                        .literacy_content_item_introduction_img {
                                            position: absolute;
                                            display: none;

                                            img {
                                                width: auto;
                                            }
                                        }
                                    }

                                    .literacy_content_item_introduction_left {
                                        position: absolute;
                                        left: 0;
                                        top: 15px;
                                        transform: translate(-50%, 0);
                                        height: calc(100% - 30px);
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;

                                        .literacy_content_item_introduction_left_item {
                                            width: 27px;
                                            height: 20px;
                                            border-radius: 10px;
                                            border: 5px solid #fff;
                                        }
                                    }

                                }

                                .literacy_table {
                                    table {
                                        td {
                                            border: 5px solid white;
                                        }

                                        thead {


                                            tr {
                                                td {
                                                    background-color: #eff3fe;
                                                    color: #678bff;
                                                    font-weight: bold;
                                                }


                                            }
                                        }

                                        tbody {
                                            tr {
                                                td {
                                                    background-color: #eff3fe;
                                                    color: #678bff;
                                                    font-weight: bold;

                                                    p {
                                                        color: #678bff;
                                                        margin: 40px auto 0;
                                                    }

                                                    &:nth-child(1) {
                                                        background-color: #678bff;
                                                        color: #fff;
                                                    }
                                                }

                                                &:nth-child(1) {
                                                    td {
                                                        background-color: #ffe3fd;
                                                        color: #dc76d6;
                                                        font-weight: bold;

                                                        &:nth-child(1) {
                                                            background-color: #dc76d6;
                                                            color: #fff;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .literacy_content_item_projects {
                                    position: relative;
                                    background-color: #eff3fe;
                                    padding: 40px 15px;
                                    border-radius: 20px;
                                    margin: 40px auto;

                                    .literacy_content_item_projects_content {
                                        .literacy_content_item_projects_num {
                                            position: absolute;
                                            top: -4%;
                                            width: 14%;
                                            max-width: 60px;

                                            h3 {
                                                position: absolute;
                                                font-weight: bold;
                                                color: white;
                                                left: 50%;
                                                top: 50%;
                                                transform: translate(-100%, -70%);
                                                width: auto;
                                            }
                                        }

                                        .literacy_content_item_projects_tittle,
                                        .literacy_content_item_projects_text {
                                            display: flex;
                                            justify-content: center;
                                            text-align: center;

                                            h3,
                                            p {
                                                color: #446ef6;
                                                font-weight: bold;
                                            }
                                        }

                                        .literacy_content_item_projects_label_check {
                                            width: 10%;
                                            max-width: 60px;
                                            position: absolute;
                                            right: 10px;
                                            bottom: 10px;
                                        }

                                        .literacy_content_item_projects_tittle {
                                            margin: 0 auto 20px;

                                            p {
                                                font-size: 25px;
                                            }
                                        }
                                    }
                                }

                                .literacy_content_item_course {
                                    width: 100%;
                                    overflow-y: hidden;
                                    overflow-x: scroll;

                                    .literacy_content_item_course_content {
                                        width: 500px;
                                        max-width: 500px;
                                        padding: 30px 0 120px 60px;
                                        margin: 0 auto;

                                        .literacy_content_item_course_content_bg {
                                            position: relative;
                                        }

                                        .literacy_content_item_course_content_item {
                                            position: absolute;
                                            z-index: 1;
                                            display: flex;
                                            align-items: center;
                                            flex-direction: column;
                                            transform: translate(0%, -25%);

                                            .literacy_content_item_course_content_item_img {
                                                width: 100px;
                                                transform: translate(0px, 30px);
                                            }


                                            .literacy_content_item_course_content_item_text {
                                                position: relative;
                                                padding: 30px;

                                                h3 {
                                                    color: #446ef6;
                                                    text-align: center;
                                                }

                                                .literacy_content_item_course_content_item_text_bg {
                                                    position: absolute;
                                                    z-index: -1;
                                                }
                                            }

                                            &.course_content_item_one {
                                                right: 0;
                                                top: 0;

                                                .literacy_content_item_course_content_item_text {

                                                    .literacy_content_item_course_content_item_text_bg {
                                                        right: 0;
                                                        top: 0;
                                                    }
                                                }
                                            }

                                            &.course_content_item_two {
                                                left: 50%;
                                                bottom: 0;
                                                transform: translate(-50%, calc(50% - 30px));

                                                .literacy_content_item_course_content_item_text {

                                                    .literacy_content_item_course_content_item_text_bg {
                                                        right: 0;
                                                        top: 0;
                                                    }
                                                }
                                            }

                                            &.course_content_item_three {
                                                left: 0;
                                                top: 50%;
                                                transform: translate(calc(-50% + 30px), calc(-50% - 30px));

                                                .literacy_content_item_course_content_item_text {

                                                    .literacy_content_item_course_content_item_text_bg {
                                                        right: 0;
                                                        top: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .literacy_content_item_dialogue {
                                    display: flex;
                                    align-items: center;
                                    margin: 40px auto;

                                    &:nth-child(even) {
                                        justify-content: flex-end;

                                        .literacy_content_item_dialogue_avatar {
                                            order: 2;
                                            margin: 0 0 0 3%;
                                        }

                                        .literacy_content_item_dialogue_text {

                                            &::before {
                                                right: 36px;
                                                left: auto;
                                                top: 100%;
                                                transform: translate(100%, 0%);
                                                border-top: 1px dashed #8f9394;
                                                border-right: 1px dashed #8f9394;
                                                background-color: white;
                                            }

                                            &::after {
                                                right: calc(36px + 7.5px);
                                                left: auto;
                                                top: calc(100% + 7.5px);
                                                transform: translate(100%, 0%) rotate(45deg);
                                                border-top: 1px dashed #8f9394;
                                                background-color: #f4f8fb;
                                            }
                                        }
                                    }

                                    .literacy_content_item_dialogue_avatar {
                                        width: 17%;
                                        margin: 0 3% 0 0;
                                        max-width: 150px;
                                    }

                                    .literacy_content_item_dialogue_text {
                                        position: relative;
                                        width: 69%;
                                        height: 100%;
                                        padding: 20px;
                                        border: 1px dashed #8f9394;
                                        border-radius: 5px;
                                        background-color: white;

                                        &::before,
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            width: 20px;
                                            height: 20px;
                                        }

                                        &::before {


                                            left: 36px;
                                            top: 100%;
                                            transform: translate(-100%, 0%);
                                            border-top: 1px dashed #8f9394;
                                            border-left: 1px dashed #8f9394;
                                            background-color: white;
                                        }

                                        &::after {


                                            left: calc(36px + 7.5px);
                                            top: calc(100% + 7.5px);
                                            transform: translate(-100%, 0%) rotate(-45deg);
                                            border-top: 1px dashed #8f9394;
                                            background-color: #f4f8fb;
                                        }
                                    }
                                }

                                .literacy_content_item_price {

                                    .literacy_content_item_price_left,
                                    .literacy_content_item_price_right {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        padding: 30px;
                                        margin: 20px auto;

                                        .literacy_content_item_price_left_img {
                                            width: 50px;
                                            margin: 10px auto;
                                        }

                                        .literacy_content_item_price_left_text {

                                            h3,
                                            p {
                                                text-align: center;
                                            }
                                        }
                                    }

                                    .literacy_content_item_price_left {
                                        background-color: #ffb2b0;

                                        .literacy_content_item_price_left_text {
                                            h3 {
                                                color: #5c6466;
                                                text-decoration: line-through;
                                            }
                                        }
                                    }

                                    .literacy_content_item_price_right {
                                        background-color: #e65551;

                                        .literacy_content_item_price_left_text {

                                            h3,
                                            p {
                                                color: white;
                                            }
                                        }
                                    }
                                }

                                .literacy_content_item_price_step {
                                    .literacy_content_item_price_step_tittle {
                                        display: flex;
                                        justify-content: center;
                                        margin: 50px auto;

                                        p {
                                            color: #446ef6;
                                        }
                                    }

                                    .literacy_content_item_price_step_area {
                                        .literacy_content_item_price_step_content {
                                            margin: 0 auto 30px;

                                            .literacy_content_item_price_step_content_text {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                margin: 0 auto 15px;

                                                .literacy_content_item_price_step_content_num {
                                                    background-color: #446ef6;
                                                    display: inline-block;
                                                    border-radius: 50%;
                                                    margin: 0 10px 0 0;

                                                    p {
                                                        color: white;
                                                        width: calc(14px * 1.7);
                                                        text-align: center;
                                                    }
                                                }

                                                .literacy_content_item_price_step_content_name {
                                                    p {
                                                        font-weight: bold;
                                                    }
                                                }
                                            }

                                            .literacy_content_item_price_step_content_text_two {
                                                display: flex;
                                                align-items: center;
                                                flex-direction: column;
                                                padding: 20px 10px;
                                                background-color: white;
                                                border: 1px solid #c6c6c6;

                                                p {
                                                    img {
                                                        width: 18px;
                                                    }
                                                }
                                            }

                                            .literacy_content_item_price_step_content_img {
                                                width: 80%;
                                                max-width: 100px;
                                                margin: 0 auto;
                                            }

                                            .literacy_content_item_price_step_content_dot {
                                                width: 5px;
                                                height: 5px;
                                                border-radius: 50%;
                                                background-color: #446ef6;
                                                margin: 5px;
                                                margin: 5px auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .literacy_item {

                            .literacy_content {
                                .literacy_content_item {
                                    .literacy_content_item_introduction {

                                        .literacy_content_item_introduction_content {

                                            .literacy_content_item_introduction_img {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }

                            &.literacy_item_one {
                                .literacy_content {
                                    .literacy_content_item {
                                        display: flex;
                                        flex-wrap: wrap;

                                        .literacy_content_item_bookman {
                                            width: 45%;
                                            margin: 0 2.5%;
                                        }


                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .literacy_item {
                            &.literacy_item_two {
                                &::before {
                                    width: calc(100% + 120px);
                                    left: -60px;
                                }
                            }

                            &.literacy_item_five {
                                &::after {
                                    width: calc(100% + 120px);
                                    left: -60px;
                                }
                            }

                            &.literacy_item_six {
                                &::before {
                                    width: calc(100% + 120px);
                                    left: -60px;
                                }
                            }

                            &.literacy_item_seven {
                                &::before {
                                    width: calc(100% + 120px);
                                    left: -60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .literacy_item {
                            .literacy_content {
                                .literacy_content_item {
                                    .literacy_content_item_course {
                                        .literacy_content_item_course_content {
                                            width: 600px;
                                            max-width: none;
                                            padding: 60px 0 100px 175px;

                                            .literacy_content_item_course_content_item {
                                                flex-direction: row;

                                                .literacy_content_item_course_content_item_img {
                                                    width: 150px;
                                                    transform: translate(60px, 0px);
                                                }

                                                .literacy_content_item_course_content_item_text {
                                                    padding: 45px;
                                                }

                                                &.course_content_item_one {
                                                    transform: translate(25%, 0);
                                                }

                                                &.course_content_item_two {
                                                    width: 100%;
                                                }

                                                &.course_content_item_three {
                                                    transform: translate(calc(-50% - 60px), calc(-50% - 30px));
                                                }
                                            }
                                        }
                                    }
                                }
                            }


                            &.literacy_item_seven {
                                .literacy_content {
                                    .literacy_content_item {
                                        .literacy_content_item_price {
                                            display: flex;

                                            .literacy_content_item_price_left,
                                            .literacy_content_item_price_right {
                                                width: 45%;
                                            }
                                        }

                                        .literacy_content_item_price_step {
                                            .literacy_content_item_price_step_area {
                                                .literacy_content_item_price_step_content {
                                                    .literacy_content_item_price_step_content_text {
                                                        .literacy_content_item_price_step_content_num {
                                                            p {
                                                                width: calc(15px * 1.7);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .literacy_item {
                            &.literacy_item_one {
                                .literacy_content {
                                    .literacy_content_item {

                                        .literacy_content_item_bookman {
                                            width: 28%;
                                        }
                                    }
                                }
                            }

                            &.literacy_item_two {
                                .literacy_content {
                                    display: flex;
                                    justify-content: space-around;
                                    flex-wrap: wrap;

                                    .literacy_content_item {
                                        width: 45%;
                                    }

                                }
                            }

                            &.literacy_item_five {
                                .literacy_content {
                                    .literacy_content_item {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-around;

                                        .literacy_content_item_projects {
                                            width: 45%;
                                        }
                                    }

                                }
                            }

                            &.literacy_item_seven {
                                .literacy_content {
                                    .literacy_content_item {
                                        .literacy_content_item_price {

                                            .literacy_content_item_price_left,
                                            .literacy_content_item_price_right {
                                                flex-direction: row;
                                                justify-content: center;

                                                .literacy_content_item_price_left_img {
                                                    margin: 10px 15px;
                                                }
                                            }
                                        }

                                        .literacy_content_item_price_step {
                                            .literacy_content_item_price_step_area {
                                                display: flex;

                                                .literacy_content_item_price_step_content {

                                                    &.dot_area {
                                                        display: flex;
                                                        align-items: center;
                                                    }

                                                    .literacy_content_item_price_step_content_dot {
                                                        display: inline-block;
                                                        margin: 5px 2px;
                                                    }

                                                    .literacy_content_item_price_step_content_text {
                                                        .literacy_content_item_price_step_content_num {
                                                            p {
                                                                width: calc(17px * 1.7);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .literacy_item {
                            &.literacy_item_two {
                                &::before {
                                    width: calc(100% + 180px);
                                    left: -90px;
                                }
                            }

                            &.literacy_item_five {
                                &::after {
                                    width: calc(100% + 180px);
                                    left: -90px;
                                }
                            }

                            &.literacy_item_six {
                                &::before {
                                    width: calc(100% + 180px);
                                    left: -90px;
                                }
                            }

                            &.literacy_item_seven {
                                &::before {
                                    width: calc(100% + 180px);
                                    left: -90px;
                                }
                            }

                            .literacy_content {
                                .literacy_content_item {
                                    .literacy_content_item_introduction {

                                        &.introduction_one {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    left: 15%;
                                                    bottom: 10%;
                                                }
                                            }
                                        }

                                        &.introduction_two {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    right: 5%;
                                                    top: 5%;
                                                }
                                            }
                                        }

                                        &.introduction_three {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    right: 5%;
                                                    top: 5%;
                                                }
                                            }
                                        }

                                        &.introduction_four {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    right: 5%;
                                                    top: 5%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .literacy_item {
                            &.literacy_item_seven {
                                .literacy_content {
                                    .literacy_content_item {

                                        .literacy_content_item_price_step {
                                            .literacy_content_item_price_step_area {

                                                .literacy_content_item_price_step_content {

                                                    .literacy_content_item_price_step_content_text {
                                                        .literacy_content_item_price_step_content_num {
                                                            p {
                                                                width: calc(19px * 1.7);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .literacy_content {
                                .literacy_content_item {
                                    .literacy_content_item_introduction {

                                        &.introduction_one {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    left: 10%;
                                                    bottom: 30%;
                                                }
                                            }
                                        }

                                        &.introduction_two {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    right: 12%;
                                                    top: 25%;
                                                }
                                            }
                                        }

                                        &.introduction_three {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    right: 10%;
                                                    top: 15%;
                                                }
                                            }
                                        }

                                        &.introduction_four {
                                            .literacy_content_item_introduction_content {
                                                .literacy_content_item_introduction_img {
                                                    right: 10%;
                                                    top: 15%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {}