body{
    margin: 0;
}
main {
    &.proofInquiry {
        background-color: $white;

        body,
        div,
        dl,
        dt,
        dd,
        ul,
        ol,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        code,
        form,
        fieldset,
        legend,
        input,
        textarea,
        p,
        blockquote,
        th,
        td,
        figure {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        h1 {
            font-size: 25px;
            line-height: 1.7;
            font-weight: bold;
        }

        h3 {
            font-size: 26px;
            line-height: 1.7;
            font-weight: bold;
        }

        h4 {
            font-size: 20px;
            line-height: 1.5;
            font-weight: bold;
        }

        h5 {
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
        }

        p,
        td,
        li,
        i {
            font-size: 14px;
            line-height: 1.7;
        }

        span,
        th,
        td,
        .form-control {
            font-size: 14px;
            text-decoration: none;
            line-height: 1.7;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            line-height: 1.7;
        }

        table{
            width: 100%;
        }

        input,
        label {
            font-size: 14px;
            line-height: 1.7;
        }

        input[type=file]::file-selector-button {
            display: none;
        }

        img {
            width: 100%;
        }

        button {
            padding: 0;
            border-width: 0px;
            border-style: none;
            background-color: transparent;
            border-radius: 10px;
            cursor: pointer;
        }

        button:disabled {
            background-color: $default-gray !important;
            border: 1px solid $default-gray !important;
            opacity: 0.5;
            cursor: auto !important;

            a {
                color: $white !important;
                cursor: auto;
            }
        }

        .page-banner {
            &.proofInquiry {
                background-image: url(../images/collectionBook/collectionBook_kv_m.png);
                background-position: 45% center;
                margin-bottom: 0;

                h1 {
                    font-size: 1.5em;
                    font-weight: 400;
                    line-height: 1em;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    color: #FFF;
                    text-align: left;
                }

                p {
                    font-size: 0.9em;
                    line-height: 1.875em;
                    color: #FFF;
                    text-align: left !important;
                }

                .container {
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;

                    .row {
                        margin-right: -15px;
                        margin-left: -15px;
                    }
                }
            }
        }

        .proof_search {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 40px auto;
            width: 90%;
            max-width: 1200px;

            .proof_btn_area {
                display: flex;
                align-items: center;

                p {
                    font-weight: bold;
                }

                .proof_btn {
                    position: relative;
                    margin: 0 0 0 10px;

                    .form-control {
                        display: flex;
                        align-items: center;
                        padding: 0 0 0 10px;
                        border: 1px solid #ababab;
                        background-color: #fff;
                        color: #2e3233;
                        min-width: 160px;
                        border-radius: 0;
                        height: auto;
                        overflow: hidden;
                        cursor: pointer;


                        &:focus {
                            box-shadow: none;
                        }

                        i {
                            padding: 10px;
                            margin: 0 0 0 auto;
                            background-color: #f1f1f1;
                        }

                        &.open {
                            i {
                                &::before {
                                    content: "\f077";
                                }
                            }

                            &~ul {
                                visibility: visible;
                            }
                        }
                    }

                    ul {
                        position: absolute;
                        left: 50%;
                        z-index: 2;
                        transform: translate(-50%, 10px);
                        width: auto;
                        min-width: 150px;
                        visibility: hidden;
                        border: 1px solid #ababab;
                        background-color: #fff;
                        overflow: hidden;
                        cursor: pointer;

                        .dropdown_item_li {
                            padding: 5px 10px;

                            &.active {
                                background-color: #446ef6;
                                color: #fff;
                            }

                            &:hover {
                                background-color: #446ef6;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .proofInquiry_area{
                max-width: 1200px;
                width: 90%;
                margin: 0 auto;
                
            .proofInquiry_area_page{
                .proofInquiry_area_page_item{
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .downloadPDF_area {
            position: fixed;
            z-index: 10;
            right: 5px;
            bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;

            .download_icon {
                background-color: #446ef6;
                padding: 5px;
                line-height: 0;
                width: calc(20px * 1.7);
                border-radius: 50%;
                text-align: center;

                i {
                    font-size: 20px;
                    color: $white;
                    line-height: 1.7;
                }
            }

            p {
                color: #2e3233;
                margin: 5px auto;
            }

            &:hover {
                p {
                    color: #446ef6;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        &.proofInquiry {

            h1 {
                font-size: 32px;
            }

            h3 {
                font-size: 27px;
            }

            h4 {
                font-size: 21px;
            }

            h5 {
                font-size: 17px;
            }

            p,
            td,
            li {
                font-size: 15px;
            }

            span,
            th,
            td,
            .form-control {
                font-size: 15px;
            }

            a {
                font-size: 15px;
            }

            input,
            label {
                font-size: 15px;
            }

            .page-banner {
                &.proofInquiry {
                    .container {
                        width: calc(100% - 260px);
                        max-width: 1200px;
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 992px) {
    main {
        &.proofInquiry {

            h1 {
                font-size: 35px;
            }

            h3 {
                font-size: 29px;
            }

            h4 {
                font-size: 23px;
            }

            h5 {
                font-size: 19px;
            }

            p,
            td,
            li {
                font-size: 17px;
            }

            span,
            th,
            td,
            .form-control {
                font-size: 17px;
            }

            a {
                font-size: 17px;
            }

            input,
            label {
                font-size: 17px;
            }

            .page-banner {
                &.proofInquiry {
                    background-position: center center;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        &.proofInquiry {

            .page-banner {
                &.proofInquiry {
                    background-image: url(../images/collectionBook/collectionBook_kv.png);
                    background-position: left center;
                }
            }

            .downloadPDF_area {
                right: 15px;

                .download_icon {
                    width: calc(30px * 1.7);

                    i {
                        font-size: 30px;
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1200px) {
    main {
        &.proofInquiry{
            p {
                font-size: 19px;
            }

            span,
            th,
            td,
            .form-control {
                font-size: 19px;
            }

            a {
                font-size: 19px;
            }

            input,
            label {
                font-size: 19px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
        &.proofInquiry {

            h1 {
                font-size: 40px;
            }

            h3 {
                font-size: 33px;
            }

            h4 {
                font-size: 27px;
            }

            h5 {
                font-size: 22px;
            }

            p,
            td,
            li {
                font-size: 20px;
            }

            span,
            th,
            td,
            .form-control {
                font-size: 20px;
            }

            a {
                font-size: 20px;
            }

            input,
            label {
                font-size: 20px;
            }

            .page-banner {
                &.proofInquiry {
                    background-image: url(../images/collectionBook/collectionBook_kv.png);
                    background-position: left center;

                    h1 {
                        text-align: right;
                    }
                }
            }
        }
    }
}