div#toggle {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    display: none;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 3px;
        margin: 0px;
        background: $brown;
        -webkit-transition: 350ms ease all;
        -moz-transition: 350ms ease all;
        transition: 350ms ease all;
        z-index: 5;

        &:before,
        &:after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 3px;
            background: $brown;
            -webkit-transition: 350ms ease all;
            -moz-transition: 350ms ease all;
            transition: 350ms ease all;
        }

        &:before {
            margin: -10px 0 0 0;
        }

        &:after {
            margin: 10px 0 0 0;
        }
    }
}

.header {
    background-color: $body_bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2.5%;
    position: relative;
    z-index: 4;

    .header_logo {
        img {
            height: 70px;
            width: auto;
        }
    }

    nav {
        .menu {
            display: flex;
            align-items: center;

            div {
                display: flex;
                position: relative;

                li {

                    border-left: 1px solid $brown;

                    &:nth-child(1){
                        border-left: 0px;
                    }

                    &.dropdown {
                        display: inline-block;
                        cursor: default;
                        position: relative;

                        li{
                            border: 0px;
                        }


                        span.arrow {
                            border: solid $brown;
                            border-width: 0 3px 3px 0;
                            display: inline-block;
                            padding: 3px;
                            cursor: pointer;
                            transform: rotate(45deg);
                            margin: 0px 0px 4px 5px;
                        }
                        
                        &.open {
                            a {
                                color: $main_color;

                                span.arrow {
                                    border: solid $main_color;
                                    border-width: 0 3px 3px 0;
                                }
                            }
                        }

                        .dropdown_content {
                            position: absolute;
                            display: none;
                            left: 50%;
                            transform: translate(-50%, 0px);
                            z-index: 1;
                            background-color: $body_bg;
                            border-radius: 10px;
                            margin: 15px 0;
                            white-space: nowrap;
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                                    0 3px 1px -2px rgba(0, 0, 0, 0.2);

                            li {
                                padding: 5px 8px;
                            }

                            &.open {
                                display: block;

                                a {
                                    color: $brown;

                                    &:hover {
                                        color: $main_color;
                                    }
                                }
                            }
                        }
                    }

                    a {
                        color: $brown;
                        @extend %bold;
                        padding: 5px 8px;
                    }

                    &:hover {
                        a {
                            color: $main_color;

                            span.arrow {
                                border: solid $main_color;
                                border-width: 0 3px 3px 0;
                            }

                        }
                    }
                }
                &.menu_pagination{
                    order: 1;
                }

                &.menu_language {
                    width: 140px;
                    padding: 5px 10px;
                    margin: 0px 0px 0px 10px;
                    border-radius: 10px;
                    background-color: $brown;
                    position: relative;
                    order: 2;
                    z-index: 1;

                    li {
                        margin: 0 auto;
                        position: initial;

                        a {
                            color: $white;
                            padding: 0;
                        }

                        &.dropdown {
                            span.arrow {
                                border: solid $white;
                                border-width: 0 3px 3px 0;
                                display: inline-block;
                                padding: 3px;
                                cursor: pointer;
                                transform: rotate(45deg);
                                margin: 0px 0px 3px 3px;
                            }

                            &.open {
                                a {
                                    color: $main_yellow_color;
                                }

                                span.arrow {
                                    border: solid $main_yellow_color;
                                    border-width: 0 3px 3px 0;
                                }
                            }
                        }

                        &:hover {
                            a {
                                color: $main_yellow_color;
                            }


                            span.arrow {
                                border: solid $main_yellow_color;
                                border-width: 0 3px 3px 0;
                            }
                        }

                        .dropdown_content {
                            background-color: $brown;
                            width: 140px;

                            li{
                                text-align: center;
                            }
                            

                            &.open {
                                display: block;
                                transform: translate(-50%, -15px);
                                padding: 20px 0px 0px;
                                margin: 0;
                                z-index: -1;

                                a {
                                    color: $white;

                                    &:hover {
                                        color: $main_yellow_color;
                                    }
                                }
                            }
                        }
                    }
                }

                &.menu_avatar {
                    margin: 0 0 0 30px;
                    order: 3;

                    .avatar_dropdown{
                        cursor: pointer;
                        
                        .avatar_image{
                            width: 50px;
                            .swiper_avatar_img {
                            
                                &.swiper_avatar_text {
                                    
                                    .avatar_text {
                                        
                                        h4 {
                                            font-size: 25px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                        .avatar_menu{
                            left: auto;
                            right: 0;
                            transform: translate(0);
                            li{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px){
    .header{
        padding: 15px 2.5%;

        .header_logo {
            margin: 0;

            img{
                height: 50px;
            }
        }

        nav {
            .menu {
    
                div {
    
                    li {
    
                        a {
                            // padding: 5px 10px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px){
    .header{
        flex-direction: column;
    }
}


@media screen and (max-width: 1100px) {
    div#toggle {
        display: block;
        right: 10px;
        top: 20px;
        z-index: 5;

        &.open {
            span {
                background-color: rgba(0, 0, 0, 0.0);

                &:before {
                    margin: 0;
                }

                &:after {
                    margin: 0;
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .header {
        .header_logo{
            margin: 0 auto 0 0;
        }
        nav {
            .menu {
                visibility: hidden;
                overflow-y: auto;
                flex-direction: column;
                position: absolute;
                width: 30%;
                min-width: 280px;
                height: calc(100vh - 150px);
                right: 20px;
                top: 130px;
                background-color: #EFE8E0;
                z-index: 4;
                border-radius: 10px;
                padding: 30px 0;

                div {
                    flex-direction: column;
                    width: 90%;
                    margin: 0 auto;

                        &.menu_language {
                            margin: 15px auto 0px 5%;
                            text-align: left;
                            padding: 10px;
                            width: auto;
                            min-width: 140px;
            
                            li {
                                padding: 0px;
                                margin: 0;

                                &.dropdown {
                                    .dropdown_content {
                                        li {
                                            padding: 5px 0px;
                                            text-align: left;
                                        }
                                    }
                                }
            
                                .dropdown_content {
                                    background-color: $brown;
                                    width: calc(140px - 20px);
                                    
                                    &.open {
                                        transform: translate(0%, -15px);
                                        width: 100%;

                                        li{
                                            padding: 5px 10px;
                                        }
                                    }
                                }
                            }
                        }

                        &.menu_avatar {
                            margin: 30px 0 0;
                            .avatar_dropdown{
                                padding: 0;
                                .avatar_image{
                                    margin: 0 0 15px;
                                }
                                .avatar_menu{
                                    left: 0;
                                    transform: translate(0px);
                                    li{
                                        text-align: left;
                                        padding: 5px 0px;
                                    }
                                }
                            }
                        }

                    li {
                        padding: 10px 0px;
                        border-left: 0px;
                        border-top: 1px solid $brown;

                        &:nth-child(1){
                            border-top: 0px;
                        }

                        &.dropdown {
                            .dropdown_content{
                                margin: 10px 0;
                                left: 0%;
                                transform: translate(0%, 0px);
                            }
                            
                        }
                    }
                }

                &.opened {
                    visibility: visible;
                }

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        nav {
            .menu {
                div {
                    li {
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
    div#toggle {
        top: 7px;
    }

    .header {

        nav {
            .menu {
                height: calc(100vh - 106px);
                top: 86px;
            }
        }

        .header_logo {
            img {
                height: 30px;
            }
        }
    }
}