/*SmartReading Contest 3th. (2021-2022)*/
footer .footer_copyright {
  background-color: #242529;
  border-top: 1px solid #4b4d54;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer_copyright p {
  font-size: 14px;
  color: #FFF;
  margin: 5px auto;
}
footer .footer-info .footer_top .footer-info__contact .footer-info__contact_CLTC p {
  color: #FFF;
}
footer .footer-info .footer_down {
  padding: 20px 0 0;
}
footer .footer-info .footer-info__info li {
  padding-left: 0 !important;
  text-indent: 0 !important;
  display: flex;
  align-items: flex-start;
}
footer .footer-info .footer-info__info li i {
  width: auto;
  margin: 0 5px 0 0;
  line-height: 1.6em;
}