@charset "UTF-8";
body {
  counter-reset: page-number;
  /* 初始化，名字可自訂，數值為0 */
  -webkit-print-color-adjust: exact;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.page {
  /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
  /* page-break-after: always;  碰到此元素會直接換頁 */
  page-break-inside: avoid;
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background-color: #0f326b;
  overflow: hidden;
}
.page:after {
  /* content: counter(page-number); 取用該名字的計數器 */
  /*counter-increment: page-number 1;  增加計數器數值 */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 30px;
  text-align: center;
}
.page h3 {
  font-size: 26px;
  line-height: 1.7;
  font-weight: bold;
}
.page h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}
.page p,
.page span,
.page svg {
  font-size: 14px;
  line-height: 1.7;
}
.page th,
.page td {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}
.page .certificate_header {
  line-height: 0;
}
.page .certificate_header .certificate_header_bg img {
  width: 100%;
}
.page .certificate_header .date_area {
  position: absolute;
  top: 21px;
  right: 9%;
}
.page .certificate_header .date_area p {
  color: #044972;
  font-weight: bold;
  margin: 0;
}
.page .certificate_center {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.page .certificate_center .certificate_center_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page .certificate_center .certificate_center_bg img {
  width: 100%;
  height: 100%;
}
.page .certificate_center .certificate_center_content {
  width: 82%;
}
.page .certificate_center .certificate_center_content .certificate_center_content_tittle {
  padding: 15px 0 30px;
}
.page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
  font-size: 50px;
  margin: 0;
  line-height: 1;
  text-align: center;
  color: #1a3267;
}
.page .certificate_center .certificate_center_content .certificate_center_content_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 35px;
}
.page .certificate_center .certificate_center_content .certificate_center_content_subtitle .certificate_center_content_subtitle_border {
  width: 30%;
}
.page .certificate_center .certificate_center_content .certificate_center_content_subtitle .certificate_center_content_subtitle_border img {
  width: 100%;
}
.page .certificate_center .certificate_center_content .certificate_center_content_subtitle h4 {
  margin: 0 15px;
}
.page .certificate_center .certificate_center_content .certificate_center_content_text_content {
  margin: 0 auto;
}
.page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name {
  display: flex;
  justify-content: center;
}
.page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name p {
  display: inline-block;
  font-size: 30px;
  color: #1a3267;
  margin: 0;
  line-height: 1;
}
.page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name p span {
  font-size: 20px;
  color: black;
}
.page .certificate_center .certificate_center_content .certificate_center_content_text_content p {
  text-align: center;
  margin: 0 auto 20px;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 10px;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item {
  margin: 10px 5px;
  width: calc(50% - 10px);
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_one .certificate_center_content_item_text {
  background-color: #b2769a;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_two .certificate_center_content_item_text {
  background-color: #12b4d1;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_three .certificate_center_content_item_text {
  background-color: #01b2af;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_four .certificate_center_content_item_text {
  background-color: #ee839b;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_five .certificate_center_content_item_text {
  background-color: #fdcf2e;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_six .certificate_center_content_item_text {
  background-color: #75bb29;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_img {
  display: flex;
  justify-content: center;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text {
  border-radius: 8px;
  padding: 5px 8px;
}
.page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text p {
  color: white;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}
.page .certificate_bottom {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.page .certificate_bottom .certificate_bottom_bg img {
  width: 100%;
}
.page .certificate_bottom .certificate_bottom_content {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0px);
  width: 40%;
  z-index: 1;
}
.page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text {
  display: flex;
  justify-content: center;
}
.page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text h4 {
  font-size: 15px;
  display: inline-block;
  text-align: center;
  margin: 0px auto 10px;
  padding: 0 0 10px;
  border-bottom: 1.7px solid #dfb380;
}
.page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 6px;
}
.page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text {
  width: 30%;
}
.page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text p {
  margin: 0 auto;
  font-size: 10px;
}
.page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img {
  width: 60%;
}
.page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .page .certificate_header .date_area {
    top: 32px;
  }
}
@media screen and (min-width: 550px) {
  .page .certificate_header .date_area {
    top: 35px;
  }
}
@media screen and (min-width: 600px) {
  .page .certificate_header .date_area {
    top: 40px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
    font-size: 55px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text h4 {
    font-size: 20px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text {
    width: 25%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text p {
    font-size: 14px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img {
    width: 65%;
  }
}
@media screen and (min-width: 650px) {
  .page .certificate_header .date_area {
    top: 45px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text {
    width: 25%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img {
    width: 65%;
  }
}
@media screen and (min-width: 700px) {
  .page .certificate_header .date_area {
    top: 50px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
    font-size: 60px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item {
    margin: 0 auto 15px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text {
    width: 25%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img {
    width: 65%;
  }
}
@media screen and (min-width: 750px) {
  .page .certificate_header .date_area {
    top: 55px;
  }
}
@media screen and (min-width: 768px) {
  .page h3 {
    font-size: 27px;
  }
  .page h4 {
    font-size: 21px;
  }
  .page p,
  .page span,
  .page svg {
    font-size: 15px;
  }
  .page th,
  .page td {
    font-size: 15px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
    font-size: 65px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle .certificate_center_content_subtitle_border {
    width: 35%;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name p {
    font-size: 35px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item {
    width: calc(33% - 10px);
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text {
    border-radius: 8px;
    padding: 5px 8px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text p {
    color: white;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
  .page .certificate_center .certificate_center_content .certificate_bottom_content .certificate_bottom_content_text {
    display: flex;
    justify-content: center;
  }
  .page .certificate_center .certificate_center_content .certificate_bottom_content .certificate_bottom_content_text h4 {
    display: inline-block;
    text-align: center;
    margin: 45px auto 35px;
    padding: 0 0 32px;
    border-bottom: 1.7px solid #dfb380;
  }
  .page .certificate_center .certificate_center_content .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;
  }
  .page .certificate_center .certificate_center_content .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text {
    width: 15%;
  }
  .page .certificate_center .certificate_center_content .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text p {
    margin: 0 auto;
  }
  .page .certificate_center .certificate_center_content .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img {
    width: 35%;
  }
  .page .certificate_center .certificate_center_content .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img img {
    width: 100%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text h4 {
    font-size: 21px;
    margin: 15px auto;
    padding: 0 0 15px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text p {
    font-size: 15px;
  }
}
@media screen and (min-width: 800px) {
  .page .certificate_header .date_area {
    top: 60px;
  }
}
@media screen and (min-width: 850px) {
  .page .certificate_header .date_area {
    top: 65px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
    font-size: 80px;
  }
}
@media screen and (min-width: 900px) {
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text h4 {
    margin: 20px auto;
    padding: 0 0 20px;
  }
}
@media screen and (min-width: 950px) {
  .page .certificate_header .date_area {
    top: 70px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
    font-size: 90px;
  }
}
@media screen and (min-width: 1000px) {
  .page .certificate_header .date_area {
    top: 75px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }
  .page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    width: 100%;
    min-height: 1448px;
    margin: 0 auto;
    background-color: #0f326b;
    overflow: hidden;
  }
  .page:after {
    /* content: counter(page-number); 取用該名字的計數器 */
    /*counter-increment: page-number 1;  增加計數器數值 */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
  }
  .page h3 {
    font-size: 30px;
    line-height: 1.7;
    font-weight: bold;
  }
  .page h4 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: bold;
  }
  .page p,
  .page span,
  .page svg {
    font-size: 20px;
    line-height: 1.7;
  }
  .page th,
  .page td {
    font-size: 20px;
    text-decoration: none;
    line-height: 1.7;
  }
  .page .certificate_header {
    line-height: 0;
  }
  .page .certificate_header .certificate_header_bg img {
    width: 100%;
  }
  .page .certificate_header .date_area {
    position: absolute;
    top: 80px;
    right: 9%;
  }
  .page .certificate_header .date_area p {
    color: #044972;
    font-weight: bold;
    margin: 0;
  }
  .page .certificate_center {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .page .certificate_center .certificate_center_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .page .certificate_center .certificate_center_bg img {
    width: 100%;
    height: 100%;
  }
  .page .certificate_center .certificate_center_content {
    width: 82%;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle {
    padding: 30px 0 50px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
    font-size: 102px;
    margin: 0;
    line-height: 1;
    text-align: center;
    color: #1a3267;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 35px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle .certificate_center_content_subtitle_border {
    width: 35%;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle .certificate_center_content_subtitle_border img {
    width: 100%;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle h4 {
    margin: 0 15px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content {
    margin: 0 auto;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name {
    display: flex;
    justify-content: center;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name p {
    display: inline-block;
    font-size: 63px;
    color: #1a3267;
    margin: 0;
    line-height: 1;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name p span {
    font-size: 35px;
    color: black;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content p {
    text-align: center;
    margin: 0 auto 35px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto 10px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item {
    margin: 0 3px;
    width: calc(33% - 6px);
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_one .certificate_center_content_item_text {
    background-color: #b2769a;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_two .certificate_center_content_item_text {
    background-color: #12b4d1;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_three .certificate_center_content_item_text {
    background-color: #01b2af;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_four .certificate_center_content_item_text {
    background-color: #ee839b;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_five .certificate_center_content_item_text {
    background-color: #fdcf2e;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_six .certificate_center_content_item_text {
    background-color: #75bb29;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_img {
    display: flex;
    justify-content: center;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text {
    border-radius: 8px;
    padding: 5px 8px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text p {
    color: white;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
  .page .certificate_bottom {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .page .certificate_bottom .certificate_bottom_bg img {
    width: 100%;
  }
  .page .certificate_bottom .certificate_bottom_content {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0px);
    width: 40%;
    z-index: 1;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text {
    display: flex;
    justify-content: center;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text h4 {
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin: 35px auto;
    padding: 0 0 32px;
    border-bottom: 1.7px solid #dfb380;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 15px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text {
    width: 21%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text p {
    margin: 0 auto;
    font-size: 20px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img {
    width: 65%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img img {
    width: 100%;
  }
}
@page {
  /*size: portrait;  直向 */
  /*size: landscape;  橫向 */
  /*size: A4;  紙張大小 */
  size: A4 portrait;
  /* 混合使用 */
  min-height: 100vh;
  margin: 0;
  /* 邊界與內容的距離 */
}
@media print {
  body {
    counter-reset: page-number;
    /* 初始化，名字可自訂，數值為0 */
    -webkit-print-color-adjust: exact;
  }
  .page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    width: 100%;
    min-height: 1448px;
    margin: 0 auto;
    background-color: #0f326b;
    overflow: hidden;
  }
  .page:after {
    /* content: counter(page-number); 取用該名字的計數器 */
    /*counter-increment: page-number 1;  增加計數器數值 */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
  }
  .page h3 {
    font-size: 30px;
    line-height: 1.7;
    font-weight: bold;
  }
  .page h4 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: bold;
  }
  .page p,
  .page span,
  .page svg {
    font-size: 20px;
    line-height: 1.7;
  }
  .page th,
  .page td {
    font-size: 20px;
    text-decoration: none;
    line-height: 1.7;
  }
  .page .certificate_header {
    line-height: 0;
  }
  .page .certificate_header .certificate_header_bg img {
    width: 100%;
  }
  .page .certificate_header .date_area {
    position: absolute;
    top: 80px;
    right: 9%;
  }
  .page .certificate_header .date_area p {
    color: #044972;
    font-weight: bold;
    margin: 0;
  }
  .page .certificate_center {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .page .certificate_center .certificate_center_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .page .certificate_center .certificate_center_bg img {
    width: 100%;
    height: 100%;
  }
  .page .certificate_center .certificate_center_content {
    width: 82%;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle {
    padding: 30px 0 50px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_tittle h3 {
    font-size: 102px;
    margin: 0;
    line-height: 1;
    text-align: center;
    color: #1a3267;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 35px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle .certificate_center_content_subtitle_border {
    width: 35%;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle .certificate_center_content_subtitle_border img {
    width: 100%;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_subtitle h4 {
    margin: 0 15px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content {
    margin: 0 auto;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name {
    display: flex;
    justify-content: center;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name p {
    display: inline-block;
    font-size: 63px;
    color: #1a3267;
    margin: 0;
    line-height: 1;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content .certificate_center_content_name p span {
    font-size: 35px;
    color: black;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_text_content p {
    text-align: center;
    margin: 0 auto 35px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto 10px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item {
    margin: 0 3px;
    width: calc(33% - 6px);
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_one .certificate_center_content_item_text {
    background-color: #b2769a;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_two .certificate_center_content_item_text {
    background-color: #12b4d1;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_three .certificate_center_content_item_text {
    background-color: #01b2af;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_four .certificate_center_content_item_text {
    background-color: #ee839b;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_five .certificate_center_content_item_text {
    background-color: #fdcf2e;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item.certificate_center_content_item_six .certificate_center_content_item_text {
    background-color: #75bb29;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_img {
    display: flex;
    justify-content: center;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text {
    border-radius: 8px;
    padding: 5px 8px;
  }
  .page .certificate_center .certificate_center_content .certificate_center_content_item_area .certificate_center_content_item .certificate_center_content_item_text p {
    color: white;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
  .page .certificate_bottom {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .page .certificate_bottom .certificate_bottom_bg img {
    width: 100%;
  }
  .page .certificate_bottom .certificate_bottom_content {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0px);
    width: 40%;
    z-index: 1;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text {
    display: flex;
    justify-content: center;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_text h4 {
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin: 35px auto;
    padding: 0 0 32px;
    border-bottom: 1.7px solid #dfb380;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 15px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text {
    width: 21%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_text p {
    margin: 0 auto;
    font-size: 20px;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img {
    width: 65%;
  }
  .page .certificate_bottom .certificate_bottom_content .certificate_bottom_content_logo_area .certificate_bottom_content_logo_item .footer_logo_item_img img {
    width: 100%;
  }
}
body {
  counter-reset: page-number;
  /* 初始化，名字可自訂，數值為0 */
  -webkit-print-color-adjust: exact;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.page {
  /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
  /* page-break-after: always;  碰到此元素會直接換頁 */
  page-break-inside: avoid;
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(#99c3e5 0%, #fbfbfb 31%, #99c3e5 81%);
  overflow: hidden;
}
.page:after {
  /* content: counter(page-number); 取用該名字的計數器 */
  /*counter-increment: page-number 1;  增加計數器數值 */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 30px;
  text-align: center;
}
.page h3 {
  font-size: 26px;
  line-height: 1.7;
  font-weight: bold;
}
.page h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}
.page p,
.page span,
.page svg {
  font-size: 14px;
  line-height: 1.7;
}
.page th,
.page td {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}
.page .unfinished_task_header {
  line-height: 0;
}
.page .unfinished_task_header .unfinished_task_header_bg img {
  width: 100%;
}
.page .unfinished_task_center {
  width: 90%;
  margin: 0 auto;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area {
  position: relative;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides {
  position: absolute;
  top: 0;
  transform: translate(0, -6px);
  width: 7.5%;
  height: 24px;
  background-color: #6e7b9b;
  border: 3.5px solid #0f326b;
  border-radius: 8.5px;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before, .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  border: 1.7px solid #0f326b;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before {
  left: 50%;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
  right: 22%;
  display: none;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides.warning_line_sides_left {
  left: 0;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides.warning_line_sides_right {
  right: -7px;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line {
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(135deg, #f4b938, #f4b938 8%, #0f326b 8%, #0f326b 16%);
  border: 3.5px solid #0f326b;
  margin: 0 auto;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .exclamation_mark {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 16%;
}
.page .unfinished_task_center .unfinished_task_center_content .warning_line_area .exclamation_mark img {
  width: 100%;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area {
  padding: 15px;
  background-color: white;
  border: 3px solid #153264;
  border-radius: 25px;
  margin: 0 auto 20px;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 15px;
  background-color: rgba(2, 22, 80, 0.57);
  box-shadow: 0px 0px 10px 5px rgba(13, 244, 255, 0.52);
  border-radius: 25px;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 20px;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 span {
  font-size: 12px;
  margin: 0 0 0 3px;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue {
  position: absolute;
  top: 10px;
  color: #0f326b;
  -webkit-text-stroke: 3px #0f326b;
  transform: translate(2px, 2px);
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue.unfinished_task_text_tittle_blue_border {
  transform: translate(0px, 0px);
  -webkit-text-stroke: 2px #0f326b;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_yellow {
  position: absolute;
  top: 10px;
  z-index: 1;
  color: #fedb33;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p {
  color: #0f326b;
  margin: 0;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p span.bold {
  font-weight: bold;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p img {
  width: 50px;
  margin: 0 10px 0 0;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area {
  position: relative;
  background: linear-gradient(#6e7b9b 0%, #354870 87%);
  box-shadow: 0px 0px 10px 5px rgba(13, 244, 255, 0.52);
  border-radius: 30px;
  padding: 10px 0;
  margin: 30px auto 10px;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .robot_progress_text {
  display: flex;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .robot_progress_text p {
  color: white;
  margin: 0;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area {
  width: 40%;
  height: 5px;
  background-color: white;
  border-radius: 6px;
  margin: 0 0 5PX 0;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area .progress_bar {
  height: 100%;
  border-radius: 6px;
  background-color: #fe4df5;
}
.page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .unfinished_task_text_img img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area {
    padding: 15px 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 {
    font-size: 30px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 span {
    font-size: 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text {
    margin: 30px auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress {
    width: 40%;
    align-items: center;
    margin: 10px 20px 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 {
    font-size: 40px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 span {
    font-size: 25px;
    margin: 0 0 0 6px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue {
    -webkit-text-stroke: 5px #0f326b;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue.unfinished_task_text_tittle_blue_border {
    -webkit-text-stroke: 3px #0f326b;
  }
}
@media screen and (min-width: 768px) {
  .page h3 {
    font-size: 27px;
  }
  .page h4 {
    font-size: 21px;
  }
  .page p,
  .page span,
  .page svg {
    font-size: 15px;
  }
  .page th,
  .page td {
    font-size: 15px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides {
    height: 40px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before, .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
    transform: translate(0, -50%);
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before {
    left: 22%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
    display: block;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line {
    height: 26px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle {
    padding: 20px 25px 10px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 {
    font-size: 50px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 span {
    font-size: 35px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue {
    top: 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_yellow {
    top: 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress {
    position: absolute;
    top: 18px;
    width: 36%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area {
    height: 10px;
    margin: 0 0 5PX 0;
  }
}
@media screen and (min-width: 992px) {
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides {
    height: 46px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line {
    height: 32px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 {
    font-size: 65px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 span {
    font-size: 45px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue {
    -webkit-text-stroke: 5px #0f326b;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue.unfinished_task_text_tittle_blue_border {
    -webkit-text-stroke: 3px #0f326b;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_yellow {
    top: 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress {
    position: absolute;
    top: 18px;
    width: 36%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area {
    height: 10px;
    margin: 0 0 5PX 0;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }
  .page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(#99c3e5 0%, #fbfbfb 31%, #99c3e5 81%);
    overflow: hidden;
  }
  .page:after {
    /* content: counter(page-number); 取用該名字的計數器 */
    /*counter-increment: page-number 1;  增加計數器數值 */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
  }
  .page h3 {
    font-size: 26px;
    line-height: 1.7;
    font-weight: bold;
  }
  .page h4 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
  }
  .page p,
  .page span,
  .page svg {
    font-size: 14px;
    line-height: 1.7;
  }
  .page th,
  .page td {
    font-size: 14px;
    text-decoration: none;
    line-height: 1.7;
  }
  .page .unfinished_task_header {
    line-height: 0;
  }
  .page .unfinished_task_header .unfinished_task_header_bg img {
    width: 100%;
  }
  .page .unfinished_task_center {
    width: 90%;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area {
    position: relative;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides {
    position: absolute;
    top: 0;
    transform: translate(0, -6px);
    width: 7.5%;
    height: 46px;
    background-color: #6e7b9b;
    border: 3.5px solid #0f326b;
    border-radius: 8.5px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before, .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 11px;
    height: 11px;
    background-color: white;
    border-radius: 50%;
    border: 1.7px solid #0f326b;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before {
    left: 22%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
    display: block;
    right: 22%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides.warning_line_sides_left {
    left: 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides.warning_line_sides_right {
    right: -7px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line {
    width: 100%;
    height: 32px;
    background: repeating-linear-gradient(135deg, #f4b938, #f4b938 8%, #0f326b 8%, #0f326b 16%);
    border: 3.5px solid #0f326b;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .exclamation_mark {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 16%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .exclamation_mark img {
    width: 100%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area {
    padding: 15px 35px;
    background-color: white;
    border: 3px solid #153264;
    border-radius: 25px;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle {
    position: relative;
    padding: 20px 25px 10px;
    background-color: rgba(2, 22, 80, 0.57);
    box-shadow: 0px 0px 20px 5px rgba(13, 244, 255, 0.52);
    border-radius: 25px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 65px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 span {
    font-size: 45px;
    margin: 0 0 0 10px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(calc(-50% + 2px), 2px);
    display: flex;
    justify-content: center;
    color: #0f326b;
    -webkit-text-stroke: 5px #0f326b;
    width: 100%;
    text-align: center;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue.unfinished_task_text_tittle_blue_border {
    transform: translate(-50%, 0px);
    -webkit-text-stroke: 3px #0f326b;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_yellow {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fedb33;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p {
    color: #0f326b;
    margin: 0 auto 20px;
    font-size: 23px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p span {
    font-size: 23px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p span.bold {
    font-weight: bold;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p img {
    width: 50px;
    margin: 0 10px 0 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area {
    position: relative;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress {
    position: absolute;
    top: 18px;
    width: 36%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .robot_progress_text {
    display: flex;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .robot_progress_text p {
    color: white;
    margin: 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area {
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 6px;
    margin: 0 0 5PX 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area .progress_bar {
    height: 100%;
    border-radius: 6px;
    background-color: #fe4df5;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .unfinished_task_text_img img {
    width: 100%;
  }
}
@page {
  /*size: portrait;  直向 */
  /*size: landscape;  橫向 */
  /*size: A4;  紙張大小 */
  size: A4 portrait;
  /* 混合使用 */
  min-height: 100vh;
  margin: 0;
  /* 邊界與內容的距離 */
}
@media print {
  body {
    counter-reset: page-number;
    /* 初始化，名字可自訂，數值為0 */
    -webkit-print-color-adjust: exact;
  }
  .page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(#99c3e5 0%, #fbfbfb 31%, #99c3e5 81%);
    overflow: hidden;
  }
  .page:after {
    /* content: counter(page-number); 取用該名字的計數器 */
    /*counter-increment: page-number 1;  增加計數器數值 */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
  }
  .page h3 {
    font-size: 26px;
    line-height: 1.7;
    font-weight: bold;
  }
  .page h4 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
  }
  .page p,
  .page span,
  .page svg {
    font-size: 14px;
    line-height: 1.7;
  }
  .page th,
  .page td {
    font-size: 14px;
    text-decoration: none;
    line-height: 1.7;
  }
  .page .unfinished_task_header {
    line-height: 0;
  }
  .page .unfinished_task_header .unfinished_task_header_bg img {
    width: 100%;
  }
  .page .unfinished_task_center {
    width: 90%;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area {
    position: relative;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides {
    position: absolute;
    top: 0;
    transform: translate(0, -6px);
    width: 7.5%;
    height: 46px;
    background-color: #6e7b9b;
    border: 3.5px solid #0f326b;
    border-radius: 8.5px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before, .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 11px;
    height: 11px;
    background-color: white;
    border-radius: 50%;
    border: 1.7px solid #0f326b;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::before {
    left: 22%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides::after {
    display: block;
    right: 22%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides.warning_line_sides_left {
    left: 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line_sides.warning_line_sides_right {
    right: -7px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .warning_line {
    width: 100%;
    height: 32px;
    background: repeating-linear-gradient(135deg, #f4b938, #f4b938 8%, #0f326b 8%, #0f326b 16%);
    border: 3.5px solid #0f326b;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .exclamation_mark {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 16%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .warning_line_area .exclamation_mark img {
    width: 100%;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area {
    padding: 15px 35px;
    background-color: white;
    border: 3px solid #153264;
    border-radius: 25px;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle {
    position: relative;
    padding: 20px 25px 10px;
    background-color: rgba(2, 22, 80, 0.57);
    box-shadow: 0px 0px 20px 5px rgba(13, 244, 255, 0.52);
    border-radius: 25px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 65px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3 span {
    font-size: 45px;
    margin: 0 0 0 10px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(calc(-50% + 2px), 2px);
    display: flex;
    justify-content: center;
    color: #0f326b;
    -webkit-text-stroke: 5px #0f326b;
    width: 100%;
    text-align: center;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_blue.unfinished_task_text_tittle_blue_border {
    transform: translate(-50%, 0px);
    -webkit-text-stroke: 3px #0f326b;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_tittle .unfinished_task_text_tittle_h3.unfinished_task_text_tittle_yellow {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fedb33;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p {
    color: #0f326b;
    margin: 0 auto 20px;
    font-size: 23px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p span {
    font-size: 23px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p span.bold {
    font-weight: bold;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text p img {
    width: 50px;
    margin: 0 10px 0 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area {
    position: relative;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress {
    position: absolute;
    top: 18px;
    width: 36%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .robot_progress_text {
    display: flex;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .robot_progress_text p {
    color: white;
    margin: 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area {
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 6px;
    margin: 0 0 5PX 0;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .robot_progress .progress_area .progress_bar {
    height: 100%;
    border-radius: 6px;
    background-color: #fe4df5;
  }
  .page .unfinished_task_center .unfinished_task_center_content .unfinished_task_text_area .unfinished_task_text_img_area .unfinished_task_text_img img {
    width: 100%;
  }
}