$header_bg: #EFE8E0;
$body_bg: #f8f5c8;

/*main*/
$main_color:             #5c8a39;
$main_color_brown:	  	 #58391C;
$main_color_grey:	  	 #20221f;

/*transparency*/
$main_color_40:#5c8a3940;
$main_color_30:#5c8a3930;
$main_color_25:#5c8a3925;

/*other*/
$white:#fff;
$black: #000;
$grey: grey;
$disabled: #ADADAD;
$orange:#ff7723;
$yellow: #ffbe00;
$light_yellow: #fff2cc;

$bright_green:#7cb027;
$light_green:#ddecc5;
$frog_green:#8FC31F;

// $green_bar_one: #80CF26;
// $green_bar_two: #6BAC20;
// $green_bar_three: #558A19;
// $green_bar_four: #406713;
// $green_bar_five: #2B450D;
// $green_bar_six: #152206;

$bar_one: #FFD000;
$bar_two: #FFB600;
$bar_three: #FF9C00;
$bar_four: #FF7600;
$bar_five: #FF6400;
$bar_six: #FF5100;

$green_one: #6b8430;
$green_two: #4F772D;
$green_three: #31572C;
$green_four: #132A13;
// $green_one: #73b9f3;
// $green_two: #57beac;
// $green_three: #b876fa;
// $green_four: #ffac3c;

/*grade*/
$first_grade:#ff8120;
$second_grade:#e26200;
$third_grade:#f55203;
$fourth_grade:#9a3400;
$fifth_grade:#551f01;
$sixth_grade:#380202;
