body {
    background-color: $body_bg;
}

main {
    .input_area {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        position: relative;

        input {
            &:read-only {
                border: 0px solid $main_color_grey !important;
                background-color: transparent;
                cursor: auto;

                &:focus {
                    border: 0px solid $main_color_grey !important;
                    color: $main_color_grey;
                    box-shadow: none;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }

        .form-control {
            border-radius: 5px !important;
            margin-left: 0px !important;
            padding: 10px 15px;
            border: 1px solid $main_color_grey !important;
            color: $main_color_grey;
            width: 100%;
            position: relative;

            &.form-control-gender {
                display: flex;

                .radio-item {
                    margin: 0 20px 0 0;

                    label {
                        display: flex;
                        align-items: center;
                        color: $main_color_grey;
                        font-weight: normal;
                        position: relative;
                        cursor: pointer;

                        &:before {
                            content: " ";
                            display: inline-block;
                            top: 0;
                            margin: 0 8px 0 0;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            position: relative;
                            border: 2px solid $main_color_grey;
                        }
                    }

                    input[type="radio"] {
                        display: none;

                        &:checked {
                            &+label {
                                color: $main_color;

                                &:before {
                                    border: 2px solid $main_color;
                                    background: radial-gradient($main_color 0%, $main_color 40%, transparent 50%, transparent);
                                }
                            }
                        }
                    }
                }
            }

            &.form-control-birthday {
                // input{
                //     &::-webkit-datetime-edit-text,
                //     &::-webkit-datetime-edit-day-field,
                //     &::-webkit-datetime-edit-month-field,
                //     &::-webkit-datetime-edit-year-field {
                //         display: none;
                //     }
                // }


                i {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translate(0, -50%);
                    color: $main_color_grey;
                }

                .birthday_input {
                    color: $main_color_grey;
                    width: 100%;
                    outline: 0;
                    background-color: transparent !important;
                    position: relative;
                    z-index: 1;

                    &::-webkit-date-and-time-value {
                        text-align: left;
                    }

                    &:valid {
                        border: 0;
                    }

                    &:required:invalid {
                        &::-webkit-datetime-edit {
                            color: transparent;
                        }
                    }

                    &::-webkit-calendar-picker-indicator {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    &:focus {

                        &~i {
                            color: $main_color;
                        }

                        &::-webkit-datetime-edit-text,
                        &::-webkit-datetime-edit-day-field,
                        &::-webkit-datetime-edit-month-field,
                        &::-webkit-datetime-edit-year-field {
                            background-color: $main_color;
                            color: $white;
                            border: 0px;
                        }
                    }

                }
            }

            &::placeholder {
                color: $main_color_grey;
            }

            &:focus {
                position: relative;
                z-index: 3;
                outline: none;
                border: 1px solid $bright_green !important;
                @extend %boxShadow;
                border-radius: 5px;
                color: $main_color;

                &::placeholder {
                    color: transparent;
                }
            }

        }

        .input-group-text {
            border: 0px;
            padding: 10px 15px;
            z-index: 1;
            left: 0;
            top: 50%;
            background-color: transparent;

            i {
                color: $main_color_grey;
            }

            &.icon_eye {
                position: absolute;
                z-index: 4;
                right: 0;
                left: auto;
                cursor: pointer;
                transform: translate(0, -50%);
            }
        }

        .password_input {
            position: relative;
            width: 100%;

            .form-control {
                width: 100%;
                padding: 10px 100px 10px 15px;

                &:focus {
                    &~.icon_eye {
                        i {
                            color: $main_color;
                        }
                    }
                }
            }
        }

        .select-wrap {
            width: 80%;
            position: relative;
            margin-left: 0 !important;

            .form-select {
                -webkit-appearance: none;
                color: $main_color_grey;
                padding: 10px 40px 10px 12px;
                border: 1px solid $main_color_grey;
                border-radius: 5px !important;
                line-height: 1.7;
                background-color: $white;
                background-image: none;
                cursor: pointer;

                option {
                    color: $main_color_grey;
                    padding: 5px 10px;

                    &:hover {
                        background: lighten($main_color, 15%) !important;
                    }

                    &:checked {
                        box-shadow: 0 0 0px 100px $main_color inset;
                    }
                }

                &:focus {
                    outline: none;
                    border-color: $main_color;
                    border-radius: 5px;
                }

                &:required,
                &:invalid {
                    color: $main_color_grey;
                }

                &:disabled {
                    border: 1px solid $disabled !important;
                    cursor: auto;
                    color: $disabled;

                    &~.select_icon {
                        i {
                            color: $disabled;
                        }
                    }
                }

            }

            .select_icon {
                position: absolute;
                right: 12px;
                top: 10px;
                transform: translate(0, 0%);
                z-index: 11;
                pointer-events: none;
                user-select: none;
                transition: 0.3s;
                color: $main_color_grey;
            }

            &:has(.form-select:focus) {
                z-index: 12;
            }

            &:focus-within {
                .form-select {
                    border-radius: 50%;
                    position: relative;
                    right: 0;
                    width: 100%;
                    z-index: 10;
                    overflow: scroll;
                    overflow-x: hidden;

                    &::-webkit-scrollbar-track {
                        border-radius: 5px;
                        background: transparent;
                    }

                    &::-webkit-scrollbar {
                        background: transparent;
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border: none;
                        box-shadow: none;
                        background: $main_color;
                        min-height: 8px;
                        border-radius: 5px;
                    }


                    option {
                        color: $main_color_grey;
                        padding: 5px 10px;

                        &:disabled {
                            display: none;
                        }
                    }
                }

                .select_icon {
                    transform: rotate(180deg);
                }
            }
        }

        .schoolName-select-wrap {
            display: block;
            width: 100%;

            .select-wrap {
                display: inline-block;
                width: 100%;
                margin: 0 0 15px;
                vertical-align: text-top;

                .form-control {
                    width: 100%;
                }
            }
        }

        &.input-group-submit {
            .button {
                display: block;
                padding: 8px 10px;
                width: 100%;
                max-width: 500px;
                border-radius: 50px;
                border: 1px solid $bright_green;
                margin: 30px auto;
                cursor: pointer;

                &.solid_color {
                    background-color: $bright_green;
                    color: $white;

                    &:hover {
                        transform: scale(1.05);
                        background-color: darken($bright_green, 5%);
                    }
                }
                
            }
        }
    }

    .button {
        display: block;
        padding: 8px 10px;
        width: 100%;
        max-width: 500px;
        border-radius: 50px;
        border: 1px solid $bright_green;
        margin: 30px auto;

        p{
            font-weight: 500;
        }

        &.solid_color {
            background-color: $bright_green;
            color: $white;

            &:hover {
                transform: scale(1.05);
                background-color: darken($bright_green, 5%);
            }
        }

        &.line_color {
            color: $main_color;

            &:hover {
                color: $white;
                background-color: $main_color;
            }
        }

        &.button_register {
            margin: 0px auto;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;

        .page-numbers {
            font-size: 13px;
            padding: 3px;
            margin: 3px;
            color: $main_color_grey;
            border-radius: 3px;
            cursor: pointer;

            .fa-solid {
                font-size: 13px;
            }

            &.current {
                background-color: $main_color;
                color: $white;
                padding: 3px 5px;

                &:hover {
                    color: $white;
                }
            }

            &.dots {
                cursor: auto;

                &:hover {
                    color: $main_color_grey;
                }
            }

            &:hover {
                color: $main_color;
            }
        }

        .page-numbers-area {
            display: flex;
        }
    }

    .progress_area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 650px;

        .progress {
            width: calc(100% - 100px);
            height: 12px;
            background-color: $white;
            border-radius: 10px;
            border: 1px solid $bright_green;

            .progress_bar {
                background-color: $bright_green;
                height: 10px;
                border-radius: 10px;
                background-image: linear-gradient(45deg, rgba($main_color, .5) 25%, transparent 25%, transparent 50%, rgba($main_color, .5) 50%, rgba($main_color, .5) 75%, transparent 75%, transparent);
                background-size: 1rem 1rem;
                animation: progress 1s linear infinite;
            }
        }

        .progress_value{
            color: $main_color;
        }
    }

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: 1px solid $main_color_grey;
    -webkit-text-fill-color: $main_color_grey;
    -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
}

@keyframes progress {
    0% {
      background-position: 0 0
    }
    100% {
      background-position: 1rem 0
    }
  }

@media screen and (min-width: 515px) {
    main {
        .pagination {
            .page-numbers {
                font-size: 16px;
                padding: 5px;
                margin: 5px;

                .fa-solid {
                    font-size: 16px;
                }

                &.current {
                    padding: 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {
        .pagination {
            .page-numbers {
                .fa-solid {
                    margin: 0 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .input_area {

            .form-control {

                &.form-control-gender {
                    border: 1px solid transparent !important;
                    background-color: transparent;

                    .radio-item {
                        margin: 0 40px 0 0;

                        label {

                            &:before {
                                margin: 0 10px 0 0;
                            }
                        }
                    }
                }
            }

            .password_input {
                width: 80%;
            }

            .select-wrap {
                &:focus-within {
                    .form-select {
                        position: absolute;
                    }

                    .select_icon {
                        transform: rotate(180deg);
                    }
                }
            }

            .schoolName-select-wrap {
                width: 80%;

                .select-wrap {
                    width: 47.5%;

                    &:nth-child(1) {
                        margin: 0 2.5% 15px 0;
                    }
                }
            }
        }

        .pagination {
            margin: 50px auto;

            .page-numbers {
                font-size: 20px;
                margin: 8px;
                padding: 8px;

                .fa-solid {
                    font-size: 20px;
                }

                &.current {
                    padding: 8px 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1400px) {}