main {
    .deleted_card_header {

        margin: 0px auto 40px;

        .deleted_card_title_area {
            background-color: $dark_main_color;
            padding: 20px 0;

            .deleted_card_title {
                width: 80%;
                max-width: 1200px;
                margin: 0 auto;
                font-weight: bold;
                color: $white;
            }
        }

        .deleted_card_header_link_area{
            margin: 40px auto 0;
            width: 80%;
            max-width: 1200px;
        }

    }

    .deleted_card_ul {
        width: 80%;
        max-width: 1200px;
        margin: 40px auto;

        .deleted_card_li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 40px auto;

            .deleted_card_input {
                display: none;
            }

            .deleted_card_label {
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: calc(100% - 65px);

                &:hover {
                    input {
                        &~ {
                            .checkMark {
                                background-color: $dark_main_color;
                            }
                        }

                    }
                }

                .checkMark {
                    position: relative;
                    display: block;
                    height: 20px;
                    width: 20px;
                    border: 1.5px solid $dark_main_color;
                    background-color: transparent;
                    margin: 0 20px 0 0;

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 50%;
                        top: 50%;
                        width: 10px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: translate(-50%, -50%) rotate(45deg);
                        -ms-transform: translate(-50%, -50%) rotate(45deg);
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }

                .card_main_content_item {
                    width: calc(100% - 40px);
                    display: block;
                    border-radius: 5px;
                    overflow: hidden;
                    @extend %boxShadow;

                    .card_main_content_left {
                        padding: 15px;

                        .card_main_content_name {
                            h4 {
                                color: $white;
                            }
                        }

                        .card_main_content_icon {
                            display: flex;
                            justify-content: flex-end;

                            .svg_icon {
                                color: $white;
                                margin: 0 0 0 10px;
                                font-size: 22px;
                                opacity: 0.3;

                                &.get_icon {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .card_main_content_right {
                        background-color: $white;

                        .card_main_content_right_header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 25px 15px 0;

                            .card_author {
                                margin: 5px 10px 5px 0;
                                min-width: 200px;
                                display: flex;
                                align-items: center;

                                .card_author_img {
                                    width: 40px;
                                    margin: 0 20px 0 0;
                                }

                                p {
                                    color: $white;
                                    background-color: $dark_main_color;
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                    display: inline-block;
                                }
                            }

                            .card_time_area {
                                display: flex;
                                flex-wrap: wrap;
                                margin: 5px 0;

                                .card_time {
                                    margin: 0 5px 0 0;

                                    span {
                                        color: $dark_main_color;
                                    }
                                }
                            }
                        }

                        .card_main_content_right_content {
                            margin: 15px auto;
                            padding: 0 15px;
                            display: block;

                            .card_main_content_right_title {
                                h4 {
                                    color: $dark_main_color;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    -webkit-line-clamp: 1;
                                }
                            }

                            .card_main_content_right_article {
                                p {
                                    margin: 10px auto;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    /* autoprefixer: off */
                                    -webkit-box-orient: vertical;
                                    /* autoprefixer: on */
                                    box-orient: vertical;
                                    -moz--box-orient: vertical;
                                    -o--box-orient: vertical;
                                    -ms--box-orient: vertical;
                                }
                            }

                        }

                        .card_main_content_right_footer {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin: 15px 0 0;
                            padding: 0 15px 25px;
                            border-top: 1px solid $dark_grey;


                            .card_main_content_right_star_rating {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                padding: 10px 0 0;
                            }

                            .card_Discussor {
                                display: flex;
                                flex-wrap: wrap;
                            }

                            .card_icon {
                                display: flex;

                                .svg_icon {
                                    color: $dark_main_color;
                                    font-size: 22px;
                                }
                            }
                        }
                    }

                    &.card_colorOne {
                        .card_main_content_left {
                            background-color: $colorOne_dark;
                        }

                        .card_main_content_right {
                            .card_main_content_right_footer {
                                background-color: $colorOne_light;
                            }
                        }
                    }

                    &.card_colorTwo {
                        .card_main_content_left {
                            background-color: $colorTwo_dark;
                        }

                        .card_main_content_right {
                            .card_main_content_right_footer {
                                background-color: $colorTwo_light;
                            }
                        }
                    }

                    &.card_colorThree {
                        .card_main_content_left {
                            background-color: $colorThree_dark;
                        }

                        .card_main_content_right {
                            .card_main_content_right_footer {
                                background-color: $colorThree_light;
                            }
                        }
                    }

                    &.card_colorFour {
                        .card_main_content_left {
                            background-color: $colorFour_dark;
                        }

                        .card_main_content_right {
                            .card_main_content_right_footer {
                                background-color: $colorFour_light;
                            }
                        }
                    }

                    &.card_colorFive {
                        .card_main_content_left {
                            background-color: $colorFive_dark;
                        }

                        .card_main_content_right {
                            .card_main_content_right_footer {
                                background-color: $colorFive_light;
                            }
                        }
                    }
                }

            }

            .toolbar {
                display: none;
                padding-left: 0;
                margin: 0 0 0 20px;

                .toolbar_icon {
                    width: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    cursor: pointer;
                }
            }

            &.check {
                .deleted_card_label {

                    .checkMark {
                        background-color: $dark_main_color;

                        &::after {
                            display: block;
                        }
                    }

                }

                .toolbar {
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    main {

        .deleted_card_ul {

            .deleted_card_li {
                

                .deleted_card_label {

                    .card_main_content_item {

                        .card_main_content_left {

                            .card_main_content_icon {

                                .svg_icon {
                                    font-size: 23px;
                                }
                            }
                        }

                        .card_main_content_right {

                            .card_main_content_right_footer {

                                .card_icon {

                                    .svg_icon {
                                        font-size: 23px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 992px) {

    main {

        .deleted_card_ul {
            margin: 80px auto;

            .deleted_card_li {
                margin: 80px auto;

                .deleted_card_label {

                    .card_main_content_item {

                        .card_main_content_left {

                            .card_main_content_icon {

                                .svg_icon {
                                    font-size: 25px;
                                }
                            }
                        }

                        .card_main_content_right {

                            .card_main_content_right_footer {

                                .card_icon {

                                    .svg_icon {
                                        font-size: 25px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    main {

        .deleted_card_ul {

            .deleted_card_li {

                .deleted_card_label {

                    .card_main_content_item {
                        display: flex;

                        .card_main_content_left {
                            position: relative;
                            width: 100px;
                            display: flex;

                            .card_main_content_name {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;

                                h4 {
                                    text-align: center;
                                }
                            }

                            .card_main_content_icon {
                                position: absolute;
                                left: 50%;
                                bottom: 10px;
                                transform: translate(-50%, 0%);
                                justify-content: center;

                                .svg_icon {
                                    margin: 0 5px;
                                }
                            }
                        }

                        .card_main_content_right {
                            width: calc(100% - 100px);

                            .card_main_content_right_header {
                                .card_author {
                                    .card_author_img {
                                        width: 60px;
                                    }
                                }
                            }
                        }

                    }

                }
            }
        }
    }
}