// 簡章下載download開始
.download_area {
    margin: 0px auto;
    padding: 30px 5%;
    background-color: $white;

    h3 {
        margin-bottom: 10px;
        text-align: center;
    }
}

// 簡章下載download結束

@media screen and (min-width: 768px){
    // 簡章下載download開始
    .download_area {
        padding: 60px 5%;

        h3 {
            margin-bottom: 40px;
        }
    }

    // 簡章下載download結束
}
