main {
    .finish_banner{
        .finish_banner_two{
            position: absolute;
            left: 0;
        }
    }

    .discussion_title_area{
        .discussion_title{
            &.finish_title{
                flex-direction: column;

                h1{
                    color: $firstStop;
                    text-align: center;
                }

                p{
                    color: $white;
                    text-align: center;
                    margin: 40px 0;
                }
            }
        }
    }
}
