main {
    .finish_banner{
        .finish_banner_two{
            position: absolute;
            left: 0;
        }
    }

    .discussion_title_area{
        .discussion_title{
            &.finish_title{
                flex-direction: column;

                h1{
                    color: $firstStop;
                    text-align: center;
                }

                h4{
                    color: $white;
                    text-align: center;
                    margin: 40px 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
    
        .discussion_title_area{
            .discussion_title{
                &.finish_title{
    
                    h1{
                    }
    
                    h4{
                        margin: 80px 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
       
    }
}