main {
.finish_content_area{
    margin: 80px auto;
    width: 80%;
    max-width: 1200px;
    .finish_content{
        .finish_content_title{
            text-align: center;
            color: $dark_main_color;
            
            .group_name{
                display: inline-block;
            }
        }
        .finish_content_img{
            margin: 80px auto;
        }

        .finish_content_text{
            text-align: center;
        }
    }
}
}

@media screen and (min-width: 992px) {
    main {
        .finish_content_area{
            margin: 80px auto;
            max-width: 1200px;
            .finish_content{
                .finish_content_title{
                    text-align: center;
                    color: $dark_main_color;
                    
                    .group_name{
                        display: inline-block;
                    }
                }
                .finish_content_img{
                    margin: 120px auto;
                }
        
                .finish_content_text{
                    text-align: center;
                }
            }
        }
        }
}

@media screen and (min-width: 1200px) {
    main {
       
    }
}