main {
    .discussion_title_area {
        background-color: $dark_main_color;

        .discussion_title {
            max-width: 1200px;
            width: 80%;
            margin: 0 auto;
            padding: 10px 0;
            display: flex;
            justify-content: center;

            h3 {
                color: $white;
            }
        }
    }

    .progress_bar_area {
        max-width: 1200px;
        width: 100%;
        margin: 60px auto 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .progress_bar {
            position: absolute;
            z-index: 1;
            top: calc(30px / 2);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 75%;
            height: 3px;

            .progress_bar_item {
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;

                &.progress_bar_color {
                    background: linear-gradient(90deg, $firstStop 33%, $secondStop 33%, $secondStop 66%, $thirdStop 66%, $thirdStop 100%);
                    z-index: -1;
                }

                &.progress_bar_gray {
                    background-color: $dark_grey;
                }

                &.progress_bar_dot_area {
                    .progress_bar_dot {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        &:hover {
                            .progress_bar_hint {
                                display: block !important;
                            }
                        }

                        .progress_bar_hint {
                            top: calc(30px / 2 + 8px); //各關icon高度/2 + 點的高度
                            width: 150px;

                            &.progress_bar_hint_first {
                                left: -100%;
                                transform: translate(0%, 0%);

                                &::after {
                                    left: calc(8px / 2); //點的寬度/2
                                }
                            }

                            &.progress_bar_hint_second {
                                left: 50%;
                                transform: translate(-50%, 0%);

                                &::after {
                                    left: calc(50%);
                                    transform: translate(-50%, 0);
                                }
                            }

                            &.progress_bar_hint_third {
                                right: -100%;
                                transform: translate(0%, 0%);

                                &::after {
                                    right: calc(8px / 2); //點的寬度/2
                                }
                            }

                        }

                        &.progress_bar_gray_dot {
                            background-color: $dark_grey;

                            &.finish_dot {
                                background-color: transparent;
                            }

                            &.gray_dot_one {
                                left: calc(100% / 12 * 1);
                            }

                            &.gray_dot_two {
                                left: calc(100% / 12 * 2);
                            }

                            &.gray_dot_three {
                                left: calc(100% / 12 * 3);
                            }

                            &.gray_dot_four {
                                left: calc(100% / 12 * 5);
                            }

                            &.gray_dot_five {
                                left: calc(100% / 12 * 6);
                            }

                            &.gray_dot_six {
                                left: calc(100% / 12 * 7);
                            }

                            &.gray_dot_seven {
                                left: calc(100% / 12 * 9);
                            }

                            &.gray_dot_eight {
                                left: calc(100% / 12 * 10);
                            }

                            &.gray_dot_nine {
                                left: calc(100% / 12 * 11);
                            }

                        }

                        &.progress_bar_color_dot {
                            background-color: $dark_main_color;

                            &.color_dot_one {
                                left: calc(100% / 12 * 1);
                                background-color: $firstStop;
                            }

                            &.color_dot_two {
                                left: calc(100% / 12 * 2);
                                background-color: $firstStop;
                            }

                            &.color_dot_three {
                                left: calc(100% / 12 * 3);
                                background-color: $firstStop;
                            }

                            &.color_dot_four {
                                left: calc(100% / 12 * 5);
                                background-color: $secondStop;
                            }

                            &.color_dot_five {
                                left: calc(100% / 12 * 6);
                                background-color: $secondStop;
                            }

                            &.color_dot_six {
                                left: calc(100% / 12 * 7);
                                background-color: $secondStop;
                            }

                            &.color_dot_seven {
                                left: calc(100% / 12 * 9);
                                background-color: $thirdStop;
                            }

                            &.color_dot_eight {
                                left: calc(100% / 12 * 10);
                                background-color: $thirdStop;
                            }

                            &.color_dot_nine {
                                left: calc(100% / 12 * 11);
                                background-color: $thirdStop;
                            }

                        }
                    }
                }
            }

            .progress_car {
                position: absolute;
                top: 0%;
                transform: translate(-50%, calc(-100% - 10px));
                width: 30px;

                .progress_bar_hint {
                    width: 120px;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, calc(-100% - 10px));
                    border: 1px solid $main_color;

                    &::after {
                        top: auto;
                        left: 50%;
                        transform: translate(-50%, 0);
                        bottom: -6px;
                        border-bottom: 0px;
                        border-top: 6px solid $main_color;
                    }
                }
            }

        }

        .progress_bar_icon_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25%;
            position: relative;

            .progress_bar_icon {
                position: relative;
                z-index: 1;
                font-size: 14px;
                background-color: $white;
                border-radius: 50%;
                border: 1.5px solid;
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 3px;
                color: $dark_grey;
                border-color: $dark_grey;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;

                .progress_bar_hint {
                    top: calc(100% + 9px);
                    width: 200px;

                    &.progress_bar_hint_first {
                        left: 50%;
                        transform: translate(-20px, 0%);

                        &::after {
                            left: 20px;
                            transform: translate(-50%, 0%);
                        }
                    }

                    &.progress_bar_hint_second {
                        left: 50%;
                        transform: translate(-50%, 0%);

                        &::after {
                            left: 50%;
                            transform: translate(-50%, 0%);
                        }
                    }

                    &.progress_bar_hint_third {
                        right: 50%;
                        transform: translate(20px, 0%);

                        &::after {
                            right: 20px;
                            transform: translate(50%, 0%);
                        }
                    }
                }

                &:hover {
                    .progress_bar_hint {
                        display: block;
                    }
                }
            }

            p {
                margin: 3px auto 0;
            }

            &.finish {
                &.progress_bar_first {
                    .progress_bar_icon {
                        border-color: $firstStop;
                        color: $firstStop;
                    }

                    p {
                        color: $firstStop;
                    }
                }

                &.progress_bar_second {
                    .progress_bar_icon {
                        border-color: $secondStop;
                        color: $secondStop;
                    }

                    p {
                        color: $secondStop;
                    }
                }

                &.progress_bar_third {
                    .progress_bar_icon {
                        border-color: $thirdStop;
                        color: $thirdStop;
                    }

                    p {
                        color: $thirdStop;
                    }
                }

                &.progress_bar_fourth {
                    .progress_bar_icon {
                        border-color: $dark_main_color;
                        color: $dark_main_color;
                    }

                    p {
                        color: $dark_main_color;
                    }
                }
            }

        }

        .progress_bar_hint {
            position: absolute;
            z-index: 2;
            padding: 5px 10px;
            background-color: $white;
            border-radius: 5px;
            @extend %boxShadow;
            display: none;

            &.show {
                display: block !important;
            }

            &::after {
                content: "";
                position: absolute;
                border-width: 0px 6px 6px 6px;
                top: -6px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid $main_color;
            }

            &.progress_bar_hint_first {
                border: 1px solid $firstStop;

                &::after {
                    border-bottom: 6px solid $firstStop;
                }
            }

            &.progress_bar_hint_second {
                border: 1px solid $secondStop;

                &::after {
                    border-bottom: 6px solid $secondStop;
                }
            }

            &.progress_bar_hint_third {
                border: 1px solid $thirdStop;

                &::after {
                    border-bottom: 6px solid $thirdStop;
                }
            }

        }

        .progress_hint_btn {
            cursor: pointer;
        }
    }

    .card_main_area {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .card_step_area {
            width: 100%;
            display: flex;
            flex-direction: column;

            .card_step_title {
                background-color: $dark_main_color;
                padding: 5px 10px;
                border-radius: 5px 5px 0 0;
                border: 1px solid;

                h4 {
                    color: $white;
                }
            }

            .card_step_content {
                background-color: $white;
                border-radius: 0 0 5px 5px;
                border: 1px solid;
                padding: 20px 15px;

                .card_step_task {
                    padding: 0 0 10px;
                    margin: 0 0 10px;
                    border-bottom: 1px solid $dark_grey;

                    .card_step_task_title {
                        width: 100%;
                    }

                    .card_step_task_item {
                        display: flex;
                        align-items: center;
                        margin: 10px 0 0 0;

                        .svg_icon {
                            margin: 0 5px 0 0;
                        }
                    }
                }

                .card_step_record {
                    .card_step_record_value {
                        display: flex;
                        flex-wrap: wrap;

                        .card_step_record_value_item {
                            margin: 0 15px 0 0;

                            span {
                                color: $dark_main_color;
                            }
                        }
                    }
                }

                .card_step_button {
                    margin: 20px auto 0;

                    .card_step_button_item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        border: 1px solid;
                        border-radius: 5px;
                        padding: 5px;

                        .svg_icon {
                            margin: 0 5px 0 0;
                        }

                        &.card_step_button_item_summarize {
                            border-color: $dark_main_color;
                            color: $dark_main_color;

                            p {
                                color: $dark_main_color;
                            }

                            &.summarize_btn_finish {
                                background-color: $dark_main_color;
                                color: $white;

                                p {
                                    color: $white;
                                }

                                &:hover {
                                    background-color: darken($dark_main_color, 15%) !important;
                                }
                            }

                        }

                        &.card_step_button_item_done {
                            border-color: $finishGreen;
                            color: $finishGreen;
                            margin: 15px 0 0;

                            p {
                                color: $finishGreen;
                            }

                            &:hover {
                                background-color: $finishGreen;

                                p {
                                    color: $white;
                                }
                            }
                        }

                    }
                }

                .card_step_mark {
                    margin: 20px 0 0;
                }
            }
        }

        &.card_first_step {
            .card_step_area {
                .card_step_title {
                    background-color: $firstStop;
                    border-color: $firstStop;
                }

                .card_step_content {
                    border-color: $firstStop;

                    .card_step_task {
                        .card_step_task_item {
                            color: $firstStop;

                            &.finish {
                                p {
                                    color: $firstStop;
                                }
                            }
                        }
                    }
                }
            }
        }

        .card_item_area {
            margin: 20px auto;
            width: 100%;

            .card_main_button {
                margin: 20px 0;

                .card_main_button_item {
                    display: flex;
                    align-items: center;
                    border: 1px solid;
                    border-radius: 5px;
                    padding: 5px 10px;

                    .svg_icon {
                        margin: 0 5px 0 0;
                    }

                    &.card_main_button_item_new {
                        border-color: $dark_main_color;
                        color: $dark_main_color;

                        p {
                            color: $dark_main_color;
                        }
                    }

                    &.card_main_button_item_delete {

                        &:hover {
                            color: $white !important;
                            background-color: $dark_grey !important;

                            p {
                                color: $white !important;
                            }
                        }
                    }
                }
            }

            .card_main_content_item {
                display: block;
                margin: 40px 0;
                border-radius: 5px;
                overflow: hidden;
                @extend %boxShadow;

                .card_main_content_left {
                    padding: 15px;

                    .card_main_content_name {
                        h4 {
                            color: $white;
                        }
                    }

                    .card_main_content_icon {
                        display: flex;
                        justify-content: flex-end;

                        .svg_icon {
                            color: $white;
                            margin: 0 0 0 10px;
                            font-size: 22px;
                            opacity: 0.3;

                            &.get_icon {
                                opacity: 1;
                            }
                        }
                    }
                }

                .card_main_content_right {
                    background-color: $white;

                    .card_main_content_right_header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        padding: 25px 15px 0;

                        .card_author {
                            margin: 5px 10px 5px 0;
                            min-width: 200px;
                            display: flex;
                            align-items: center;

                            .card_author_img {
                                width: 40px;
                                margin: 0 20px 0 0;
                            }

                            p {
                                color: $white;
                                background-color: $dark_main_color;
                                padding: 5px 10px;
                                border-radius: 5px;
                                display: inline-block;
                            }
                        }

                        .card_time_area {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 5px 0;

                            .card_time {
                                margin: 0 5px 0 0;

                                span {
                                    color: $dark_main_color;
                                }
                            }
                        }
                    }

                    .card_main_content_right_content {
                        margin: 15px auto;
                        padding: 0 15px;
                        display: block;

                        .card_main_content_right_title {
                            h4 {
                                color: $dark_main_color;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                -webkit-line-clamp: 1;
                            }
                        }

                        .card_main_content_right_article {
                            p {
                                margin: 10px auto;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                /* autoprefixer: off */
                                -webkit-box-orient: vertical;
                                /* autoprefixer: on */
                                box-orient: vertical;
                                -moz--box-orient: vertical;
                                -o--box-orient: vertical;
                                -ms--box-orient: vertical;
                            }
                        }


                    }

                    .card_main_content_right_footer {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin: 15px 0 0;
                        padding: 10px 15px 25px;
                        border-top: 1px solid $dark_grey;


                        .card_main_content_right_star_rating {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                        }

                        .card_Discussor {
                            display: flex;
                            flex-wrap: wrap;
                        }

                        .card_icon {
                            display: flex;

                            .svg_icon {
                                color: $dark_main_color;
                                font-size: 22px;
                            }
                        }
                    }
                }

                &.card_colorOne {
                    .card_main_content_left {
                        background-color: $colorOne_dark;
                    }

                    .card_main_content_right {
                        .card_main_content_right_footer {
                            background-color: $colorOne_light;
                        }
                    }
                }

                &.card_colorTwo {
                    .card_main_content_left {
                        background-color: $colorTwo_dark;
                    }

                    .card_main_content_right {
                        .card_main_content_right_footer {
                            background-color: $colorTwo_light;
                        }
                    }
                }

                &.card_colorThree {
                    .card_main_content_left {
                        background-color: $colorThree_dark;
                    }

                    .card_main_content_right {
                        .card_main_content_right_footer {
                            background-color: $colorThree_light;
                        }
                    }
                }

                &.card_colorFour {
                    .card_main_content_left {
                        background-color: $colorFour_dark;
                    }

                    .card_main_content_right {
                        .card_main_content_right_footer {
                            background-color: $colorFour_light;
                        }
                    }
                }

                &.card_colorFive {
                    .card_main_content_left {
                        background-color: $colorFive_dark;
                    }

                    .card_main_content_right {
                        .card_main_content_right_footer {
                            background-color: $colorFive_light;
                        }
                    }
                }

                &.card_main_hover {
                    box-shadow: 5px 5px 15px $dark_grey;

                    .card_main_content_right {
                        background-color: $white;

                        .card_main_content_right_content {

                            .card_main_content_right_title {
                                h4 {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        .card_button {
            &.disabled {
                border-color: $disabled !important;
                color: $disabled !important;
                cursor: auto;

                p {
                    color: $disabled !important;
                }

                &:hover {
                    color: $disabled !important;
                    background-color: $transparent !important;

                    p {
                        color: $disabled !important;
                    }
                }
            }

            &.card_button_main_color {
                &:hover {
                    color: $white !important;
                    background-color: $dark_main_color !important;

                    p {
                        color: $white !important;
                    }
                }
            }
        }

        .card_total_area {
            width: 100%;
        }
    }

    .badge_area{
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 100px;
    }
}

@media screen and (min-width: 576px) {
    main {

        .progress_bar_area {

            .progress_bar {
                top: calc(48px / 2);
                height: 5px;

                .progress_bar_item {

                    &.progress_bar_dot_area {
                        .progress_bar_dot {
                            width: 14px;
                            height: 14px;

                            .progress_bar_hint {
                                top: calc(40px / 2 + 14px); //各關icon高度/2 + 點的高度
                                width: 200px;
                                text-align: center;

                                &.progress_bar_hint_first {
                                    &::after {
                                        left: calc(14px); //點的寬度
                                    }
                                }

                                &.progress_bar_hint_third {
                                    &::after {
                                        right: calc(14px); //點的寬度
                                    }
                                }

                            }
                        }
                    }
                }

                .progress_car {
                    .progress_bar_hint {
                        width: 150px;
                    }
                }
            }

            .progress_bar_icon_item {

                .progress_bar_icon {
                    font-size: 20px;
                    border: 3px solid;
                    width: 48px;
                    height: 48px;

                    .progress_bar_hint {
                        top: calc(100% + 14px);
                    }
                }

                p {
                    margin: 5px auto 0;
                }

            }
        }

        .card_main_area {

            .card_step_area {
                .card_step_content {
                    .card_step_task {
                        display: flex;
                        flex-wrap: wrap;

                        .card_step_task_item {
                            margin: 10px 15px 0 0;
                        }
                    }

                    .card_step_button {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .card_step_button_item {
                            width: 47.5%;

                            &.card_step_button_item_done {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {

        .progress_bar_area {
            margin: 115px auto 40px;

            .progress_bar {
                top: calc(55px / 2);

                .progress_bar_item {

                    &.progress_bar_dot_area {
                        .progress_bar_dot {

                            .progress_bar_hint {
                                top: calc(55px / 2 + 14px); //各關icon高度/2 + 點的高度
                                width: 240px;
                            }
                        }
                    }
                }

                .progress_car {
                    transform: translate(-50%, calc(-100% - 15px));
                    width: 50px;

                    .progress_bar_hint {
                        width: 180px;
                    }
                }
            }

            .progress_bar_icon_item {

                .progress_bar_icon {
                    font-size: 25px;
                    width: 55px;
                    height: 55px;
                }

            }
        }

        .card_main_area {

            .card_item_area {

                .card_main_content_item {

                    .card_main_content_left {

                        .card_main_content_icon {

                            .svg_icon {
                                font-size: 23px;
                            }
                        }
                    }

                    .card_main_content_right {

                        .card_main_content_right_footer {

                            .card_icon {

                                .svg_icon {
                                    font-size: 23px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {

        .progress_bar_area {

            .progress_bar {
                top: calc(48px / 2);
                height: 5px;

                .progress_bar_item {
                    &.progress_bar_dot_area {
                        .progress_bar_dot {

                            .progress_bar_hint {

                                &.progress_bar_hint_first {
                                    left: 50%;
                                    transform: translate(-50%, 0%);

                                    &::after {
                                        left: 50%;
                                        transform: translate(-50%, 0%);
                                    }
                                }

                                &.progress_bar_hint_third {
                                    left: 50%;
                                    right: auto;
                                    transform: translate(-50%, 0%);

                                    &::after {
                                        right: auto;
                                        left: 50%;
                                        transform: translate(-50%, 0%);
                                    }
                                }

                            }
                        }
                    }
                }
            }


            .progress_bar_icon_item {

                .progress_bar_icon {

                    .progress_bar_hint {
                        width: 230px;

                        &.progress_bar_hint_first {
                            left: 50%;
                            transform: translate(-50%, 0%);

                            &::after {
                                left: 50%;
                                transform: translate(-50%, 0%);
                            }
                        }

                        &.progress_bar_hint_second {
                            left: 50%;
                            transform: translate(-50%, 0%);

                            &::after {
                                left: 50%;
                                transform: translate(-50%, 0%);
                            }
                        }

                        &.progress_bar_hint_third {
                            right: auto;
                            left: 50%;
                            transform: translate(-50%, 0%);

                            &::after {
                                right: auto;
                                left: 50%;
                                transform: translate(-50%, 0%);
                            }
                        }
                    }
                }
            }
        }

        .card_main_area {
            margin: 60px auto;
            flex-direction: row;
            justify-content: space-between;

            .card_step_area {
                width: 300px;
                align-self: flex-start;
                position: sticky;
                top: 10px;

                .card_step_content {

                    .card_step_button {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .card_step_button_item {
                            width: 100%;

                            &.card_step_button_item_done {
                                margin: 15px 0 0;
                            }
                        }
                    }
                }
            }

            .card_item_area {
                margin: 0;
                width: calc(100% - 350px);

                .card_main_button {
                    margin: 0 0 30px;

                    &.card_main_button_delete {
                        margin: 0;
                    }
                }

                .card_main_content_item {

                    .card_main_content_left {

                        .card_main_content_icon {

                            .svg_icon {
                                font-size: 25px;
                            }
                        }
                    }

                    .card_main_content_right {

                        .card_main_content_right_footer {

                            .card_icon {

                                .svg_icon {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .badge_area{
            width: 155px;
        }
    }

}

@media screen and (min-width: 1200px) {
    main {

        .progress_bar_area {
            margin: 160px auto 60px;

            .progress_bar {
                top: calc(65px / 2);
                height: 7px;

                .progress_bar_item {

                    &.progress_bar_dot_area {
                        .progress_bar_dot {

                            .progress_bar_hint {
                                top: calc(65px / 2 + 14px); //各關icon高度/2 + 點的高度
                                width: 260px;
                            }
                        }
                    }
                }

                .progress_car {
                    transform: translate(-50%, calc(-100% - 20px));
                    width: 80px;
                }
            }

            .progress_bar_icon_item {

                .progress_bar_icon {
                    font-size: 30px;
                    width: 65px;
                    height: 65px;
                    border: 4px solid;

                    .progress_bar_hint {
                        top: calc(100% + 16px);
                        width: 260px;
                    }
                }

            }
        }

        .card_main_area {
            margin: 60px auto 120px;

            .card_step_area {
                width: 350px;
            }

            .card_item_area {
                width: calc(100% - 400px);

                .card_main_content_item {
                    display: flex;

                    .card_main_content_left {
                        position: relative;
                        width: 100px;
                        display: flex;

                        .card_main_content_name {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;

                            h4 {
                                text-align: center;
                            }
                        }

                        .card_main_content_icon {
                            position: absolute;
                            left: 50%;
                            bottom: 10px;
                            transform: translate(-50%, 0%);
                            justify-content: center;

                            .svg_icon {
                                margin: 0 5px;
                            }
                        }
                    }

                    .card_main_content_right {
                        width: calc(100% - 100px);

                        .card_main_content_right_header {
                            .card_author {
                                .card_author_img {
                                    width: 60px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}