.login{
    background-image: url("../image/login/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
    background-position: center center;   
    }
    .login-slogan{ 
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        text-shadow: 0 0 8px rgba(0,0,0, .75);
        text-align: center;
        margin-top: 2rem;
        @media screen and (min-width: 1200px) {
        width: 91.66666667%;    
        position: absolute;  
        top: 50%;
        left: 0;
        transform: translateY(-50%);
            > div{
                width: calc(100% - 500px);    
                font-style: italic;
            } 
        }
        
    }
    .card{
        max-width: 500px;
        margin: 2rem auto;
        padding: 1.5rem;
        border-color: transparent;
        @media screen and (min-width: 1200px) {
        margin: 2rem 0 2rem auto;    
        }
    }
    .login-header{ 
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: 500;
        img{
            max-width: 186px;
            display: block;
            margin: 0 auto;
        }
    }
    .login-body{
        .nav-link{
            border-radius: 0;
            color: $dark_grey;
            border-bottom: 3px solid $middle_grey;
            &:hover{
                color: $rally-primary;    
            }
            &.active{
                color: $rally-primary;
                border-bottom-color: $rally-primary;
            }
        }
        .tab-content{
            padding-top: 2rem;
            padding-bottom: 1.5rem;
        }
    }
}