// 常見問題problem開始
.problem_area {
    margin: 0px auto;
    padding: 30px 5%;
    background-color: $white;

    h3 {
        margin-bottom: 10px;
        text-align: center;
    }

    .problem_content {

        .problem_item {
            margin-bottom: 20px;

            .question_area {
                padding: 20px;
                background-color: $light_grey;
                border: 1px solid $middle_grey;
            }

            .answer_area {
                .answer_item {
                    padding: 20px;
                    border: 1px solid $middle_grey;
                    margin-top: -1px;
                }
            }
        }


    }
}

// 常見問題problem結束

@media screen and (min-width: 768px){
    // 常見問題problem開始
    .problem_area {
        padding: 60px 5%;

        h3 {
            margin-bottom: 40px;
        }

        .problem_content {
            .problem_item {
                margin-bottom: 45px;
            }
        }
    }

    // 常見問題problem結束
}
