main {
    .reading_card_header {
        width: 80%;
        max-width: 1200px;
        margin: 40px auto;

        .reading_card_header_content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 0;
            margin: 15px 0;
            border-bottom: 1px solid $dark_main_color;

            .reading_card_header_content_left {
                nav {
                    .breadcrumb {
                        margin-bottom: 0;

                        .breadcrumb-item {
                            a {
                                color: $dark_grey;
                            }

                            &:hover {
                                a {
                                    color: $dark_main_color;
                                }
                            }

                            &.active {
                                color: $dark_main_color;
                            }
                        }
                    }
                }
            }

            .reading_card_header_content_right {
                display: flex;
                align-items: center;
                margin: 10px 0 0;

                nav {
                    .breadcrumb {
                        margin-bottom: 0;

                        .breadcrumb-item {
                            &.date_area {
                                p {
                                    span {
                                        color: $dark_main_color;
                                    }
                                }
                            }

                            &.edits_number {

                                .edits_number_btn {
                                    display: flex;
                                    align-items: center;
                                    padding: 0px 10px;

                                    .badge {
                                        background-color: $dark_main_color;
                                        margin: 0 0 0 5px;
                                    }

                                    &:hover {
                                        background-color: $dark_main_color;

                                    p{
                                            color: $white;

                                            span{
                                                color: $white;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }


            }
        }

        .reading_card_header_information {

            .reading_card_header_information_item {
                margin: 5px 0;
                display: flex;

                .reading_card_header_information_item_content {
                    width: calc(100% - 150px);
                    color: $dark_main_color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    -webkit-line-clamp: 1;
                }

                a {
                    width: 28px;
                    height: 28px;
                    background-color: $main_color;
                    text-align: center;
                    position: relative;
                    border-radius: 50%;
                    margin: 0 0 0 10px;

                    i {
                        font-size: 14px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: $white;
                    }

                    &:hover {
                        
                            background-color: $dark_main_color;
                        
                    }
                }
            }
        }


    }

    .reading_card_content {
        width: 80%;
        max-width: 1200px;
        margin: 40px auto;

        .reading_card_content_title {
            background-color: $dark_main_color;
            padding: 0 0 0 10px;
            margin: 0 auto 20px;

            h4 {
                color: $dark_main_color;
                background-color: $body_bg;
                padding: 5px 10px;
            }
        }

        .reading_card_content_album {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 20px auto;

            .img_box {
                width: 47.5%;
                border: 1px solid $dark_main_color;
                border-radius: 5px;
                margin: 10px 0;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .img_box_link {
                display: none;
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 36px;
                height: 36px;
                background-color: $main_color;
                border-radius: 50%;

                i {
                    font-size: 18px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: $white;
                }

            }

            &:hover {
                .img_box_link {
                    display: block;

                    &:hover {
                        background-color: $dark_main_color;
                    }
                }
            }
        }

        .reading_card_content_video{
            margin: 20px auto;
            iframe{
                width: 100%;
                max-width: 560px;
                max-height: 315px;
            }
        }

        .reading_card_content_star_rating{
            margin: 20px auto;

            .reading_card_content_star_rating_area{
                padding: 20px 0;

                .star_rating_name {
                    border-bottom: 1px dotted $dark_main_color;
                    padding: 5px 0;
                    margin: 5px 0;
                }

                &:nth-child(1){
                    border-bottom: 1px solid $dark_main_color;
                }
            }
        }
    }

    .reading_card_forum{
        width: 80%;
        max-width: 1200px;
        margin: 60px auto;

        .reading_card_forum_title{
            padding: 10px 15px;
            background-color: $dark_main_color;
            color: $white;
        }

        .reading_card_forum_total{
            margin: 10px 0;
            p{
                text-align: right;
            }
        }

        .reading_card_forum_input{
            .input_group{
                    display: flex;
                justify-content: flex-end;
                flex-direction: row;
                flex-wrap: wrap;

                .reading_card_forum_textarea{
                    width: 100%;
                    height: 150px;
                }

                .reading_card_forum_submit{
                    background-color: $main_color;
                    color: $white;
                    padding: 5px 10px;
                    border-radius: 5px !important;
                    border: 1px solid;
                    border-color: $main_color;
                    color: $dark_main_color;
                    margin: 15px 0;
                    width: 60px;

                    &:hover,
                    &:focus{
                        background-color: $dark_main_color !important;
                        color: $white;
                        border-color: $dark_main_color;
                    }
                }
                
            }

            .message_area{
                margin: 20px 0;
                .message_area_item{
                    padding: 20px;
                    border-bottom: 1px solid $dark_grey;

                    &:nth-last-child(1){
                        border-bottom: 0px;
                    }
                    .message_area_item_top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .message_area_item_top_left{
                            display: flex;
                            align-items: center;
                            .message_area_avatar{
                                width: 40px;
                                margin: 0 10px 0 0;
                            }
                            .message_area_name{
                                margin: 0 10px 0 0;

                                p{
                                    color: $dark_main_color;
                                }
                            }
                        }

                        .message_area_item_top_right{
                            display: flex;
                            align-items: center;
                            margin: 10px 0 10px auto;
                            .message_area_item_top_right_item {
                                padding: 0 10px;
                                cursor: pointer;
                                &:hover{
                                    p{
                                        color: $dark_main_color;
                                    }
                                }
                                &:nth-child(1){
                                    border-right: 1px solid $dark_grey;
                                }
                            }
                        }
                    }

                    .message_area_item_content{
                        margin: 20px 0;
                        padding: 0 0 0 50px;
                    }
                }
            }
        }

        
    }

    .img_box_modal {
        max-width: 800px;
        width: calc(100% - 72px);
        overflow: initial;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%, 0px);

        .modal-dialog {
            .modal-content {
                .modal-body {
                    padding: 15px;

                    .close_btn {
                        position: absolute;
                        right: 0;
                        top: 0;
                        transform: translate(50%, -50%);
                        background-color: $dark_main_color;
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;

                        i {
                            font-size: 18px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .reading_card_header {
    
            .reading_card_header_content {
                flex-direction: row;
    
                .reading_card_header_content_right {
                    margin: 0;
                }
            }
        }
    
        .reading_card_content {
    
            .reading_card_content_album {
                justify-content: flex-start;
                margin: 20px auto;
    
                .img_box {
                    width: 28%;
                    margin: 20px 5% 20px 0;
                }
            }
    
            .reading_card_content_star_rating{
                margin: 20px auto;
    
                .reading_card_content_star_rating_area{
                    padding: 20px 0;
    
                    .star_rating_name {
                        border-bottom: 1px dotted $dark_main_color;
                        padding: 5px 0;
                        margin: 5px 0;
                    }
    
                    &:nth-child(1){
                        border-bottom: 1px solid $dark_main_color;
                    }
                }
            }
        }
    
        .reading_card_forum{
            width: 80%;
            max-width: 1200px;
            margin: 60px auto;
    
            .reading_card_forum_title{
                padding: 10px 15px;
                background-color: $dark_main_color;
                color: $white;
            }
    
            .reading_card_forum_total{
                margin: 10px 0;
                p{
                    text-align: right;
                }
            }
    
            .reading_card_forum_input{
                .input_group{
                        display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    flex-wrap: wrap;
    
                    .reading_card_forum_textarea{
                        width: 100%;
                        height: 150px;
                    }
    
                    .reading_card_forum_submit{
                        background-color: $main_color;
                        color: $white;
                        padding: 5px 10px;
                        border-radius: 5px !important;
                        border: 1px solid;
                        border-color: $main_color;
                        color: $dark_main_color;
                        margin: 15px 0;
                        width: 60px;
    
                        &:hover,
                        &:focus{
                            background-color: $dark_main_color !important;
                            color: $white;
                            border-color: $dark_main_color;
                        }
                    }
                    
                }
    
                .message_area{
                    margin: 20px 0;
                    .message_area_item{
                        padding: 20px;
                        border-bottom: 1px solid $dark_grey;
    
                        &:nth-last-child(1){
                            border-bottom: 0px;
                        }
                        .message_area_item_top{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            .message_area_item_top_left{
                                display: flex;
                                align-items: center;
                                .message_area_avatar{
                                    width: 40px;
                                    margin: 0 10px 0 0;
                                }
                                .message_area_name{
                                    margin: 0 10px 0 0;
    
                                    p{
                                        color: $dark_main_color;
                                    }
                                }
                            }
    
                            .message_area_item_top_right{
                                display: flex;
                                align-items: center;
                                margin: 10px 0 10px auto;
                                .message_area_item_top_right_item {
                                    padding: 0 10px;
                                    cursor: pointer;
                                    &:hover{
                                        p{
                                            color: $dark_main_color;
                                        }
                                    }
                                    &:nth-child(1){
                                        border-right: 1px solid $dark_grey;
                                    }
                                }
                            }
                        }
    
                        .message_area_item_content{
                            margin: 20px 0;
                            padding: 0 0 0 50px;
                        }
                    }
                }
            }
    
            
        }
    
        .img_box_modal {
            max-width: 800px;
            width: calc(100% - 72px);
            overflow: initial;
            margin: 0 auto;
            left: 50%;
            transform: translate(-50%, 0px);
    
            .modal-dialog {
                .modal-content {
                    .modal-body {
                        padding: 15px;
    
                        .close_btn {
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: translate(50%, -50%);
                            background-color: $dark_main_color;
                            border-radius: 50%;
                            width: 36px;
                            height: 36px;
    
                            i {
                                font-size: 18px;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}