main {
    .reading_card_header {
        width: 80%;
        max-width: 1200px;
        margin: 40px auto;

        .reading_card_header_content {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 0;
            margin: 15px 0;
            border-bottom: 1px solid $dark_main_color;

            .reading_card_header_content_right {
                display: flex;
                align-items: center;
                margin: 10px 0 0;

                nav {
                    .breadcrumb {

                        .breadcrumb-item {
                            &.date_area {
                                p {
                                    span {
                                        color: $dark_main_color;
                                    }
                                }
                            }

                            &.edits_number {

                                .edits_number_btn {
                                    display: flex;
                                    align-items: center;
                                    padding: 0px 10px;

                                    .badge {
                                        background-color: $dark_main_color;
                                        margin: 0 0 0 5px;
                                    }

                                    &:hover {
                                        background-color: $dark_main_color;

                                    p{
                                            color: $white;

                                            span{
                                                color: $white;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }

            }
        }

        .reading_card_header_information {

            .reading_card_header_information_item {
                margin: 5px 0;
                display: flex;

                .reading_card_header_information_item_content {
                    width: calc(100% - 150px);
                    color: $dark_main_color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    -webkit-line-clamp: 1;
                }

                a {
                    width: 28px;
                    height: 28px;
                    background-color: $main_color;
                    text-align: center;
                    position: relative;
                    border-radius: 50%;
                    margin: 0 0 0 10px;

                    i {
                        font-size: 14px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: $white;
                    }

                    &:hover {
                        
                            background-color: $dark_main_color;
                        
                    }
                }
            }
        }

    }

    .reading_card_content {
        width: 80%;
        max-width: 1200px;
        margin: 40px auto;

        .reading_card_content_title {
            margin: 0 auto 20px;

            h4 {
                color: $dark_main_color;
                padding: 5px 10px;
                border-left: 10px solid $dark_main_color;
            }
        }

        .reading_card_content_album {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 20px auto;

            .img_box {
                width: 47.5%;
                height: 100px;
                border: 1px solid $dark_main_color;
                border-radius: 5px;
                margin: 10px 0;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding: 10px;
                }
            }
        }

        .reading_card_content_video{
            margin: 20px auto;
            iframe{
                width: 100%;
                max-width: 560px;
                min-height: 315px;
            }
        }

        .reading_card_content_star_rating{
            margin: 20px auto;

            .reading_card_content_star_rating_area{
                padding: 20px 0;

                .star_rating_name {
                    border-bottom: 1px dotted $dark_main_color;
                    padding: 5px 0;
                    margin: 5px 0;
                }

                &:nth-child(1){
                    border-bottom: 1px solid $dark_main_color;
                }
            }
        }
    }

    .reading_card_forum{
        width: 80%;
        max-width: 1200px;
        margin: 60px auto;

        .reading_card_forum_title{
            padding: 10px 15px;
            background-color: $dark_main_color;
            color: $white;
        }

        .reading_card_forum_total{
            margin: 10px 0;
            p{
                text-align: right;
            }
        }

        .reading_card_forum_input{
            .input_group{
                    display: flex;
                justify-content: flex-end;
                flex-direction: row;
                flex-wrap: wrap;

                .reading_card_forum_textarea{
                    width: 100%;
                    height: 150px;
                }

                .reading_card_forum_submit{
                    background-color: $main_color;
                    color: $white;
                    padding: 5px 10px;
                    border-radius: 5px !important;
                    border: 1px solid;
                    border-color: $main_color;
                    color: $dark_main_color;
                    margin: 15px 0;
                    width: 60px;

                    &:hover,
                    &:focus{
                        background-color: $dark_main_color !important;
                        color: $white;
                        border-color: $dark_main_color;
                    }
                }
                
            }

            .message_area{
                .message_area_item{
                    display: none;
                    padding: 20px;
                    border-top: 1px solid $dark_grey;
                    &:nth-child(1){
                        border-top: 0px solid $dark_grey;
                    }
                    
                    .message_area_item_top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .message_area_item_top_left{
                            display: flex;
                            align-items: center;
                            .message_area_avatar{
                                width: 40px;
                                margin: 0 10px 0 0;
                            }
                            .message_area_name{
                                margin: 0 10px 0 0;

                                p{
                                    color: $dark_main_color;
                                }
                            }
                        }

                        .message_area_item_top_right{
                            margin: 10px 0 10px auto;

                            .floor_text{
                                color: $dark_main_color;
                            }
                        }
                    }

                    .message_area_item_bottom{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                        margin: 30px 0 10px;
    padding: 0 0 0 50px;

                            .message_area_item_top_right_item {
                                cursor: pointer;
                                &:hover{
                                    p{
                                        color: $dark_main_color;
                                    }
                                }
                                &:nth-child(1){
                                    border-right: 1px solid $dark_grey;
                                    padding: 0 10px 0 0;
                                }

                                &:nth-child(2){
                                    padding: 0 0 0 10px;
                                }
                            }
                        
                    }

                    .message_area_item_content{
                        margin: 10px 0;
                        padding: 0 0 0 50px;
                    }
                }

                .message_btn_area{
                    display: block;
                    margin: 20px auto;

                    p{
                        margin: 0 auto 5px;
                    }

                    &:hover{
                        p,i{
                            color: $dark_main_color;
                        }
                    }

                    .btn_less{
                        display: none;
                    }
                }
            }
        }

        
    }

    .img_box_modal {
        padding: 40px 0;
        
        .modal-dialog {
            max-width: 800px;
            width: 80%;
        overflow: initial;
        margin: 0 auto;
            .modal-content {
                .modal-body {
                    padding: 15px;

                    .close_btn {
                        position: absolute;
                        right: 0;
                        top: 0;
                        transform: translate(50%, -50%);
                        background-color: $dark_main_color;
                        border-radius: 50%;
                        width: 36px;
                        height: 36px;

                        i {
                            font-size: 18px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            color: $white;
                        }
                    }

                    .copyright_link{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 20px 0 10px;
                        padding: 20px 0 0;
                        border-top: 1px dotted $dark_main_color;
                        a{
                            color: $dark_main_color;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.reading_card_modal{
    .modal-dialog{
        .modal-content{
            &.card_colorOne{
                .modal_header{
                    background-color: $colorOne_dark;
                }

                .modal_body{
                    .discussion_title_area{
                        background-color: $colorOne_light;

                        .discussion_title {
                
                            h3 {
                                color: $colorOne_dark;
                            }
                        }
                    }
                    
                }
            }
            
            &.card_colorTwo{
                .modal_header{
                    background-color: $colorTwo_dark;
                }

                .modal_body{
                    .discussion_title_area{
                        background-color: $colorTwo_light;

                        .discussion_title {
                
                            h3 {
                                color: $colorTwo_dark;
                            }
                        }
                    }
                    
                }
            }

            &.card_colorThree{
                .modal_header{
                    background-color: $colorThree_dark;
                }

                .modal_body{
                    .discussion_title_area{
                        background-color: $colorThree_light;

                        .discussion_title {
                
                            h3 {
                                color: $colorThree_dark;
                            }
                        }
                    }
                    
                }
            }

            &.card_colorFour{
                .modal_header{
                    background-color: $colorFour_dark;
                }

                .modal_body{
                    .discussion_title_area{
                        background-color: $colorFour_light;

                        .discussion_title {
                
                            h3 {
                                color: $colorFour_dark;
                            }
                        }
                    }
                    
                }
            }

            &.card_colorFive{
                .modal_header{
                    background-color: $colorFive_dark;
                }

                .modal_body{
                    .discussion_title_area{
                        background-color: $colorFive_light;

                        .discussion_title {
                
                            h3 {
                                color: $colorFive_dark;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

.scroll_btn {
    position: absolute;
    width: 30px;
    transform: translate(50%, 0px);

    &.scroll_top{
        right: 5%;
    bottom: 80px;
    }

    &.scroll_forum{
        right: 5%;
    bottom: 30px;
    }
    .scroll_btn_svg {
        fill: $dark_main_color;
        position: absolute;
    }

    .scroll_btn_border {
        stroke: $dark_main_color;
        fill: none;
        stroke-width: 1px;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        transition: 0.8s;
    }

    &:hover{
        .scroll_btn_border {
            stroke-dashoffset: 0;
        }
        
    }
}

@media screen and (min-width: 500px) {

    main {
    .reading_card_content {

        .reading_card_content_album {

            .img_box {
                height: 180px;
            }
        }
    }
}
}

@media screen and (min-width: 768px) {
    main {
        .reading_card_header {
    
            .reading_card_header_content {
                flex-direction: row;
    
                .reading_card_header_content_right {
                    margin: 0;
                }
            }
        }
    
        .reading_card_content {
    
            .reading_card_content_album {
                justify-content: flex-start;
                margin: 20px auto;
    
                .img_box {
                    width: 28%;
                    margin: 20px 5% 20px 0;
                }
            }
    
            .reading_card_content_star_rating{
                margin: 20px auto;
    
                .reading_card_content_star_rating_area{
                    padding: 20px 0;
    
                    .star_rating_name {
                        border-bottom: 1px dotted $dark_main_color;
                        padding: 5px 0;
                        margin: 5px 0;
                    }
    
                    &:nth-child(1){
                        border-bottom: 1px solid $dark_main_color;
                    }
                }
            }
        }
    
        .reading_card_forum{
            width: 80%;
            max-width: 1200px;
            margin: 60px auto;
    
            .reading_card_forum_title{
                padding: 10px 15px;
                background-color: $dark_main_color;
                color: $white;
            }
    
            .reading_card_forum_total{
                margin: 10px 0;
                p{
                    text-align: right;
                }
            }
    
            .reading_card_forum_input{
                .input_group{
                        display: flex;
                    justify-content: flex-end;
                    flex-direction: row;
                    flex-wrap: wrap;
    
                    .reading_card_forum_textarea{
                        width: 100%;
                        height: 150px;
                    }
    
                    .reading_card_forum_submit{
                        background-color: $main_color;
                        color: $white;
                        padding: 5px 10px;
                        border-radius: 5px !important;
                        border: 1px solid;
                        border-color: $main_color;
                        color: $dark_main_color;
                        margin: 15px 0;
                        width: 60px;
    
                        &:hover,
                        &:focus{
                            background-color: $dark_main_color !important;
                            color: $white;
                            border-color: $dark_main_color;
                        }
                    }
                    
                }
            }
    
            
        }
    }
}

@media screen and (min-width: 992px) {
    main {
    .reading_card_content {

        .reading_card_content_album {

            .img_box {
                height: 200px;
            }
        }
    }
}
}

@media screen and (min-width: 1200px) {
    main {
        .reading_card_content {
    
            .reading_card_content_album {
    
                .img_box {
                    height: 250px;
                }
            }
        }
    }
}