// 我要報名sign up開始

.modalRegistrationForm {
    .modal-dialog {
        .modal-content {

            .modal-body {
                padding: 0px 1rem;

                .input_area {
                    margin: 0 auto;
                    border: 0;

                    .input-group {
                        .form-control {
                            border: 0px;
                            border-radius: 0;
                            border-bottom: 1px solid $middle_grey;

                            &:focus {
                                box-shadow: none;
                                border-color: $middle_grey;
                            }
                        }

                        .check_member_a_image {
                            border: 1px solid $middle_grey;
                            margin-top: -1px;

                            &:hover {
                                background-color: $main_color;
                                border: 1px solid $main_color;

                                p {
                                    color: $white;
                                }
                            }

                            p {
                                width: auto;
                                padding: 0;
                                line-height: inherit;
                                color: $main_color;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 我要報名sign up結束

@media screen and (min-width: 576px){
    // 我要報名sign up開始
    .modalRegistrationForm {
        .modal-dialog {
            width: 90%;
            max-width: none;
        }
    }

    // 我要報名sign up結束
}
