main {

    .card_main_area {
        &.card_third_step {
            .card_step_area {
                .card_step_title {
                    background-color: $thirdStop;
                    border-color: $thirdStop;
                }

                .card_step_content {
                    border-color: $thirdStop;

                    .card_step_task {
                        .card_step_task_item {
                            color: $thirdStop;

                            &.finish {
                                p {
                                    color: $thirdStop;
                                }
                            }
                        }
                    }
                }
            }
        }

        .card_item_area {


            .card_main_content_item {

                .card_main_content_right {


                    .card_main_content_right_content {}
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}