@charset "UTF-8";

@import "base/lang";
@import "base/color";
@import "base/reset";
@import "base/resetbootstrap";
@import "base/universal";

@import "master/header";

@import "pages/login";
@import "pages/test";
@import "pages/select_page";
@import "pages/report_selector";
@import "pages/literacy";
@import "pages/quiz";
@import "pages/report_score";
// @import "pages/1031_report_score";
@import "pages/end";