body{
	font-size:20px;
	letter-spacing:0.02em;
	color: $default-black;
	font-weight:300;
}
/**/

*,*:focus,*:hover{
	outline:0px transparent !important;
}

.text-red{
	color:#ff0000;
}
.text-indent-2{
	text-indent:2em;
}
/**/
.bg-gradient{
	background-image: url(../images/bg-gradient.png);
	background-repeat: repeat-x;
}
.bg-gradient-gray{
	background-image: url(../images/bg-gradient-gray.png);
	background-repeat: repeat-x;
}
.colorBg{
	background-color:#f4f8fb;
}
.whiteBg{
	background-color:$white;
}
/**/
.index_title{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 0 15px;

	.base-h2{
		font-weight:400;
		display: flex;
		flex-wrap: wrap;
		h2{
			margin:8px 5px 8px 0;
		}
		
		span{
			margin:8px 0;
			color:$main-color;
			text-transform:uppercase;
		}
	}
	.base-more{ 
		color:$default-red;
		font-size:18px;
		padding-right:10px;
		margin: 8px 0;
	}
	&::before{
		content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from($main-color), to(transparent));
    background: linear-gradient(to right, $main-color, transparent);
    bottom: 0;
    left: 0;
    -webkit-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
	}
}

.base-more:hover, 
.base-more:focus, 
.base-more:focus{
	color:$default-red;
	text-decoration:none;
	&::after{
		background-color: $default-red;
	}
}


.noRadius{
	border-radius:0;
}

main{
	.banner_paging{
		background-color: $intro-kv;

		.intro-kv{
			width: 90%;
			max-width: 1200px;
			margin: 0 auto;
			background-image: url(../images/intro/intro_kv_m.png);
			background-repeat: no-repeat;
		background-position: left bottom;
		background-size: contain;
			.row{
				.intro-kv-text{
					&.banner-text{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						width: 45%;
						margin: 0 0 0 auto;
						display: none;
						p{
							color: $white;
							&.chinese_text{
								font-size: 30px;
							}
							&.english_text{
								font-size: 24px;
							}
						}
					}
				}
			}
		}

		.club-kv{
			width: 100%;
			background-image: url(../images/club/club_kv_m.png);
			background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;
			.row{
				margin-right: 0;
				margin-left: 0;
				.club-kv-text{
					&.banner-text{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						width: 45%;
						margin: 0 auto 0 0;
						display: none;
						p{
							color: $white;
							&.chinese_text{
								font-size: 30px;
							}
							&.english_text{
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
	
}

@media screen and (min-width: 1200px){
    main{
		.banner_paging{
	
			.intro-kv{
				.row{
					.intro-kv-text{
						&.banner-text{
							display: flex;
						}
					}
				}
			}

			.club-kv{
				.row{
					.club-kv-text{
						&.banner-text{
							display: flex;
						}
					}
				}
			}
		}
		
	}
}