@charset "UTF-8";
body { font-family: 'Noto Sans TC', "PingFang TC" ,"微軟正黑體",   "蘋果儷中黑",'sans-serif' , Arial !important; }

/*main*/
/*transparency*/
/*other*/
/*green*/
/*grade*/
/*cat*/
main .input_area .form-control:focus { box-shadow: 5px 5px 10px 3px #ffb50125; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; list-style: none; }

h1 { font-size: 35px; line-height: 1.7; font-weight: bold; }

h3 { font-size: 28px; line-height: 1.7; font-weight: bold; }

h4 { font-size: 22px; line-height: 1.5; font-weight: bold; }

h5 { font-size: 20px; line-height: 1.5; font-weight: bold; }

p, i { font-size: 16px; line-height: 1.7; }

span, th, td, .form-control { font-size: 16px; text-decoration: none; line-height: 1.7; }

a { font-size: 16px; text-decoration: none; line-height: 1.7; }

ruby { letter-spacing: 1.8px; line-height: 3; }

rt { transform: translateY(-35%); }

input, label { font-size: 16px; line-height: 1.7; }

input[type=file]::file-selector-button { display: none; }

img { width: 100%; }

button, .btn { font-size: 16px; line-height: 1.7; padding: 0; border-width: 0px; border-style: none; background-color: transparent; border-radius: 10px; cursor: pointer; }

button:disabled { color: #000 !important; background-color: grey !important; border: 1px solid grey !important; opacity: 0.5; cursor: auto !important; }

button:disabled a { color: #fff !important; cursor: auto; }

*, body { letter-spacing: 1.5px; box-sizing: border-box; }

body { background-color: #fff5ba; }

.cursor { cursor: pointer; }

::selection { background: #7c411f; color: #fff; }

.table th, .table td { border-top: 0px; border-bottom: 0px; }

.table thead th { border-bottom: 0px; }

@media screen and (min-width: 768px) { h1 { font-size: 38px; }
  h3 { font-size: 35px; }
  h4 { font-size: 24px; }
  h5 { font-size: 24px; }
  p, i { font-size: 20px; }
  span, th, td, .form-control { font-size: 20px; }
  a { font-size: 20px; }
  input, label { font-size: 20px; }
  button, .btn { font-size: 20px; } }

.modal .modal-dialog { margin: 0.5rem 10%; }

.modal .modal-dialog .modal-content { border: 1px solid #20221f; background-color: #fff5ba; box-shadow: 0px 5px 30px rgba(255, 181, 1, 0.3); }

.modal .modal-dialog .modal-content .modal-body { padding: 20px 30px 40px; }

.modal .modal-dialog .modal-content .modal-body .btn-close:focus { box-shadow: none; }

.modal .modal-dialog .modal-content .modal-body .modal_text { margin: 40px auto; }

.modal .modal-dialog .modal-content .modal-body .btn-primary { background-color: #20221f; padding: 5px 25px; transition: all 150ms ease-in-out; }

.modal .modal-dialog .modal-content .modal-body .btn-primary:focus { box-shadow: 0 0 10px 0 #20221f inset, 0 0 10px 4px #20221f; }

.table > :not(caption) > * > * { padding: 0; background-color: transparent; border-bottom-width: 0px; box-shadow: none; }

@media screen and (min-width: 576px) { .modal .modal-dialog { margin: 0.5rem auto; } }

body { background-color: #fff5ba; }

main .input_area { margin: 30px auto; display: flex; flex-direction: column; position: relative; }

main .input_area input:read-only { border: 0px solid #20221f; border-bottom: 1px solid #20221f; border-radius: 0; background-color: transparent; cursor: auto; }

main .input_area input:read-only:focus { border: 0px solid #20221f; border-bottom: 1px solid #20221f; color: #20221f; box-shadow: none; }

main .input_area input:read-only:focus::placeholder { color: transparent; }

main .input_area .form-control { text-align: left; border-radius: 5px; margin-left: 0px !important; padding: 10px 15px; border: 1px solid #20221f; color: #20221f; width: 100%; position: relative; }

main .input_area .form-control.form-control-gender { display: flex; }

main .input_area .form-control.form-control-gender .radio-item { margin: 0 20px 0 0; }

main .input_area .form-control.form-control-gender .radio-item label { display: flex; align-items: center; color: #20221f; font-weight: normal; position: relative; cursor: pointer; }

main .input_area .form-control.form-control-gender .radio-item label:before { content: " "; display: inline-block; top: 0; margin: 0 8px 0 0; width: 16px; height: 16px; border-radius: 50%; position: relative; border: 2px solid #20221f; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"] { display: none; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"]:checked + label { color: #2e57a6; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"]:checked + label:before { border: 2px solid #2e57a6; background: radial-gradient(#2e57a6 0%, #2e57a6 40%, transparent 50%, transparent); }

main .input_area .form-control.form-control-birthday i { position: absolute; right: 15px; top: 50%; transform: translate(0, -50%); color: #20221f; }

main .input_area .form-control.form-control-birthday .birthday_input { color: #20221f; width: 100%; outline: 0; background-color: transparent !important; position: relative; z-index: 1; }

main .input_area .form-control.form-control-birthday .birthday_input::-webkit-date-and-time-value { text-align: left; }

main .input_area .form-control.form-control-birthday .birthday_input:valid { border: 0; }

main .input_area .form-control.form-control-birthday .birthday_input:required:invalid::-webkit-datetime-edit { color: transparent; }

main .input_area .form-control.form-control-birthday .birthday_input::-webkit-calendar-picker-indicator { position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%; cursor: pointer; }

main .input_area .form-control.form-control-birthday .birthday_input:focus ~ i { color: #2e57a6; }

main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-text, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-day-field, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-month-field, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-year-field { background-color: #2e57a6; color: #fff; border: 0px; }

main .input_area .form-control::placeholder { color: #20221f; }

main .input_area .form-control:focus { position: relative; z-index: 3; outline: none; border: 1px solid #2e57a6; color: #2e57a6; }

main .input_area .form-control:focus::placeholder { color: transparent; }

main .input_area .input-group-text { border: 0px; padding: 10px 15px; z-index: 1; left: 0; top: 50%; background-color: transparent; }

main .input_area .input-group-text i { color: #20221f; }

main .input_area .input-group-text.icon_eye { position: absolute; z-index: 4; right: 0; left: auto; cursor: pointer; transform: translate(0, -50%); }

main .input_area .password_input { position: relative; width: 100%; }

main .input_area .password_input .form-control { width: 100%; padding: 10px 100px 10px 15px; }

main .input_area .password_input .form-control:focus ~ .icon_eye i { color: #2e57a6; }

main .input_area .select-wrap { width: 80%; position: relative; margin-left: 0 !important; }

main .input_area .select-wrap .form-select { -webkit-appearance: none; color: #20221f; padding: 10px 40px 10px 12px; border: 1px solid #20221f; border-radius: 5px !important; line-height: 1.7; background-color: #fff; background-image: none; cursor: pointer; }

main .input_area .select-wrap .form-select option { color: #20221f; padding: 5px 10px; }

main .input_area .select-wrap .form-select option:hover { background: #ffcb4e !important; }

main .input_area .select-wrap .form-select option:checked { box-shadow: 0 0 0px 100px #ffb501 inset; }

main .input_area .select-wrap .form-select:focus { outline: none; border-color: #ffb501; border-radius: 5px; }

main .input_area .select-wrap .form-select:required, main .input_area .select-wrap .form-select:invalid { color: #20221f; }

main .input_area .select-wrap .form-select:disabled { border: 1px solid #ADADAD !important; cursor: auto; color: #ADADAD; }

main .input_area .select-wrap .form-select:disabled ~ .select_icon i { color: #ADADAD; }

main .input_area .select-wrap .select_icon { position: absolute; right: 12px; top: 10px; transform: translate(0, 0%); z-index: 11; pointer-events: none; user-select: none; transition: 0.3s; color: #20221f; }

main .input_area .select-wrap:has(.form-select:focus) { z-index: 12; }

main .input_area .select-wrap:focus-within .form-select { border-radius: 50%; position: relative; right: 0; width: 100%; z-index: 10; overflow: scroll; overflow-x: hidden; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar-track { border-radius: 5px; background: transparent; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar { background: transparent; width: 5px; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar-thumb { border: none; box-shadow: none; background: #2e57a6; min-height: 8px; border-radius: 5px; }

main .input_area .select-wrap:focus-within .form-select option { color: #20221f; padding: 5px 10px; }

main .input_area .select-wrap:focus-within .form-select option:disabled { display: none; }

main .input_area .select-wrap:focus-within .select_icon { transform: rotate(180deg); }

main .input_area .schoolName-select-wrap { display: block; width: 100%; }

main .input_area .schoolName-select-wrap .select-wrap { display: inline-block; width: 100%; margin: 0 0 15px; vertical-align: text-top; }

main .input_area .schoolName-select-wrap .select-wrap .form-control { width: 100%; }

main .input_area.input-group-submit .button { display: block; width: 100%; max-width: 500px; border-radius: 50px; border: 1px solid #f14c12; border-radius: 5px; margin: 30px auto; cursor: pointer; }

main .input_area.input-group-submit .button.solid_color { background-color: #f14c12; color: #fff; }

main .input_area.input-group-submit .button.solid_color:hover { transform: scale(1.05); background-color: #dc430d; }

main .input_area.input-group-submit .button:focus { border-bottom: 0; }

main .button { display: block; padding: 8px 10px; width: 100%; max-width: 500px; border-radius: 50px; border: 1px solid #f14c12; margin: 30px auto; }

main .button p { font-weight: 500; }

main .button.solid_color { background-color: #f14c12; color: #fff; }

main .button.solid_color:hover { transform: scale(1.05); background-color: #dc430d; }

main .button.line_color { color: #ffb501; }

main .button.line_color:hover { color: #fff; background-color: #ffb501; }

main .button.button_register { margin: 0px auto; }

main .pagination { display: flex; justify-content: center; align-items: center; margin: 30px auto; }

main .pagination .page-numbers { font-size: 13px; padding: 3px; margin: 3px; color: #20221f; border-radius: 3px; cursor: pointer; }

main .pagination .page-numbers.prev, main .pagination .page-numbers.next { display: none; }

main .pagination .page-numbers .fa-solid { font-size: 13px; }

main .pagination .page-numbers.current { background-color: #7c411f; color: #ffb501; padding: 3px 5px; }

main .pagination .page-numbers.current:hover { color: #ffb501; }

main .pagination .page-numbers.dots { cursor: auto; }

main .pagination .page-numbers.dots:hover { color: #20221f; }

main .pagination .page-numbers:hover { color: #7c411f; }

main .pagination .page-numbers-area { display: flex; }

main .progress_area { display: flex; align-items: center; justify-content: space-between; margin: 15px auto 0; max-width: 650px; }

main .progress_area .progress { width: calc(100% - 100px); height: 12px; background-color: #fff; border-radius: 10px; border: 1px solid #f14c12; }

main .progress_area .progress .progress_bar { background-color: #f14c12; height: 10px; border-radius: 10px; background-image: linear-gradient(45deg, #ffb501 25%, transparent 25%, transparent 50%, #ffb501 50%, #ffb501 75%, transparent 75%, transparent); background-size: 1rem 1rem; animation: progress 1s linear infinite; }

main .progress_area .progress_value { color: #7c411f; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus { border: 1px solid #20221f; -webkit-text-fill-color: #20221f; -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; }

@keyframes progress { 0% { background-position: 0 0; }
  100% { background-position: 1rem 0; } }

@media screen and (min-width: 380px) { main .pagination .page-numbers.prev, main .pagination .page-numbers.next { display: block; } }

@media screen and (min-width: 515px) { main .pagination .page-numbers { font-size: 16px; padding: 5px; margin: 5px; }
  main .pagination .page-numbers .fa-solid { font-size: 16px; }
  main .pagination .page-numbers.current { padding: 5px; } }

@media screen and (min-width: 576px) { main .pagination .page-numbers .fa-solid { margin: 0 5px; } }

@media screen and (min-width: 768px) { main .input_area .form-control.form-control-gender { border: 1px solid transparent !important; background-color: transparent; }
  main .input_area .form-control.form-control-gender .radio-item { margin: 0 40px 0 0; }
  main .input_area .form-control.form-control-gender .radio-item label:before { margin: 0 10px 0 0; }
  main .input_area .password_input { width: 80%; }
  main .input_area .select-wrap:focus-within .form-select { position: absolute; }
  main .input_area .select-wrap:focus-within .select_icon { transform: rotate(180deg); }
  main .input_area .schoolName-select-wrap { width: 80%; }
  main .input_area .schoolName-select-wrap .select-wrap { width: 47.5%; }
  main .input_area .schoolName-select-wrap .select-wrap:nth-child(1) { margin: 0 2.5% 15px 0; }
  main .button { padding: 12px 20px; }
  main .pagination { margin: 50px auto; }
  main .pagination .page-numbers { font-size: 20px; margin: 8px; padding: 8px; }
  main .pagination .page-numbers .fa-solid { font-size: 20px; }
  main .pagination .page-numbers.current { padding: 8px 10px; } }

header .navbar { width: 90%; margin: 0 auto; padding: 10px 0; }

header .navbar .container-fluid { position: relative; padding: 0 !important; }

header .navbar .container-fluid .navbar-brand { padding: 0; margin: 0; display: flex; align-items: center; }

header .navbar .container-fluid .navbar-brand .logo_cat { width: 55px; margin: 0 5px 0 0; }

header .navbar .container-fluid .navbar-brand .logo_text { height: 35px; width: auto; }

header .navbar .container-fluid .navbar-toggler { position: absolute; cursor: pointer; right: 5%; z-index: 5; padding: 0; border-radius: 0; box-shadow: none; }

header .navbar .container-fluid .navbar-toggler span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 30px; height: 3px; margin: 0px; background: #7c411f; transition: 350ms ease all; z-index: 5; }

header .navbar .container-fluid .navbar-toggler span::before, header .navbar .container-fluid .navbar-toggler span::after { content: " "; position: absolute; left: 0; width: 100%; height: 3px; background: #7c411f; transition: 350ms ease all; }

header .navbar .container-fluid .navbar-toggler span::before { margin: -10px 0 0 0; }

header .navbar .container-fluid .navbar-toggler span::after { margin: 10px 0 0 0; }

header .navbar .container-fluid .navbar-toggler.open span { background-color: rgba(0, 0, 0, 0); }

header .navbar .container-fluid .navbar-toggler.open span::before { transform: rotate(45deg); margin: 0; }

header .navbar .container-fluid .navbar-toggler.open span::after { transform: rotate(-45deg); margin: 0; }

header .navbar .container-fluid .navbar-toggler .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; background-color: #ffb501; }

header .navbar .container-fluid .navbar-toggler .icon-bar + .icon-bar { margin-top: 4px; }

header .navbar .container-fluid .navbar-toggler:hover .icon-bar { background-color: #fff; }

header .navbar .container-fluid .navbar-collapse { position: absolute; top: 100%; width: 100%; flex-grow: initial; margin: 20px 0; }

header .navbar .container-fluid .navbar-collapse .navbar-nav { background-color: #fff; box-shadow: 0 2px 6px #ffb50140; border-radius: 20px; padding: 40px 30px; position: relative; z-index: 1; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link { font-size: 16px; padding: 30px 0 0; color: #7c411f; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover { color: #3f2110; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle::after { display: none; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle.show > .fa-angle-down { transform: rotate(180deg); }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle > .fa-angle-down { transition: 0.3s; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu { border: 0; border-radius: 20px; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item { padding: 10px 20px; border-radius: 20px; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item i { display: none; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover { color: #7c411f; background-color: #ffb50125; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item.check { color: #7c411f; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item.check i { display: inline-block; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:nth-child(1) .nav-link { padding: 0; }

header .navbar .container-fluid .quiz-user-info { color: #7c411f; }

@media screen and (min-width: 500px) { header .navbar { padding: 20px 0; } }

@media screen and (min-width: 576px) { header .navbar .container-fluid .navbar-brand .logo_cat { width: 65px; }
  header .navbar .container-fluid .navbar-brand .logo_text { height: 45px; } }

@media screen and (min-width: 768px) { header .navbar .container-fluid .navbar-toggler { display: none; }
  header .navbar .container-fluid .navbar-collapse { position: relative; width: auto; display: flex; align-items: center; flex-basis: auto; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav { flex-direction: row; border-radius: 50px; padding: 5px 40px; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link { font-size: 20px; padding: 10px 15px; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu { position: absolute; box-shadow: 0 2px 6px #ffb50140; min-width: 100%; padding: 15px; margin-top: 0; left: 50%; transform: translate(-50%, 15px); }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item { padding: 10px 15px; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:nth-child(1) .nav-link { padding: 10px 30px; } }

@media screen and (min-width: 992px) { header .navbar .container-fluid .navbar-brand .logo_cat { width: 80px; }
  header .navbar .container-fluid .navbar-brand .logo_text { height: 60px; } }

main .login_area { max-width: 500px; margin: 40px auto; width: 80%; }

main .login_area .login_img { width: 80%; margin: 0 10%; }

main .login_area .login_title { color: #7c411f; margin: 30px auto 0; }

main .login_area .login_title h3 { text-align: center; }

main .login_area .input_area { flex-direction: row; align-items: center; justify-content: space-between; }

main .login_area .input_area .input-group-text.icon_password, main .login_area .input_area .input-group-text.icon_user { padding: 10px; background-color: #ffb501; border-radius: 50%; cursor: pointer; }

main .login_area .input_area .input-group-text.icon_password i, main .login_area .input_area .input-group-text.icon_user i { color: #fff; }

main .login_area .input_area .form-control { padding: 10px 45px 10px 15px; width: calc(100% - 50px); }

main .login_area .input_area .password_input { width: 100%; }

main .login_area .save_password { display: flex; justify-content: flex-end; }

main .login_area .save_password .save_password_checkbox { position: absolute; opacity: 0; }

main .login_area .save_password .save_password_checkbox + label { color: #20221f; display: flex; align-items: center; position: relative; cursor: pointer; padding: 0; }

main .login_area .save_password .save_password_checkbox + label:before { content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 20px; height: 20px; background: #fff; border: 1px solid #20221f; }

main .login_area .save_password .save_password_checkbox:hover + label { color: #2e57a6; }

main .login_area .save_password .save_password_checkbox:hover + label:before { border: 1px solid #2e57a6; }

main .login_area .save_password .save_password_checkbox:checked + label:before { border: 1px solid #2e57a6; background-color: #2e57a6; }

main .login_area .save_password .save_password_checkbox:checked + label:after { font-family: 'FontAwesome', sans-serif; content: '\f00c'; position: absolute; color: #fff; width: 20px; font-size: 15px; text-align: center; }

main .login_area .register_btn { display: flex; justify-content: center; margin: 60px auto 0; }

main .login_area .register_btn a { color: #20221f; border-bottom: 0px solid transparent; }

main .login_area .register_btn a:hover { color: #2e57a6; border-bottom: 1px solid #2e57a6; }

main .login_cat { position: fixed; right: 0; bottom: 0; width: 28%; max-width: calc(50% - 300px); display: none; }

@media screen and (min-width: 1200px) { main .login_cat { display: block; } }

main .test_area { margin: 40px auto; width: 80%; max-width: 1200px; }

main .test_area.cat_frame { width: 100%; }

main .test_area.cat_frame .cat_body { position: relative; background-color: #FCC900; padding: 20px 5% 80px; border-radius: 0 0 10px 10px; }

main .test_area.cat_frame .cat_body .cat_content { position: relative; z-index: 1; background-color: #F3F3B7; border-radius: 10px; padding: 20px; }

main .test_area.cat_frame .cat_body .cat_hand_area { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 0 0 10px 10px; overflow: hidden; }

main .test_area.cat_frame .cat_body .cat_hand_area .cat_hand { position: absolute; top: 0; width: 10%; z-index: 1; line-height: 0; }

main .test_area.cat_frame .cat_body .cat_hand_area .cat_hand.cat_hand_right { right: 0; }

main .test_area.cat_frame .cat_body .cat_hand_area .cat_hand.cat_hand_left { left: 0; }

main .test_area.cat_frame .cat_body .cat_hand_area .cat_arm { position: absolute; width: 2.5%; height: 100%; background-image: url(../image/photo/cat/hand_arm_right.svg); }

main .test_area.cat_frame .cat_body .cat_hand_area .cat_arm.cat_arm_right { right: 0; }

main .test_area.cat_frame .cat_body .cat_hand_area .cat_arm.cat_arm_left { left: 0; background-image: url(../image/photo/cat/hand_arm_left.svg); }

main .test_area.cat_frame .cat_body .cat_tail { position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); width: 80%; max-width: 500px; }

@media screen and (min-width: 500px) { main .test_area.cat_frame .cat_body .cat_content { padding: 20px 5%; } }

@media screen and (min-width: 1024px) { main .test_area { margin: 0 auto 40px; }
  main .test_area.cat_frame .cat_body .cat_content { padding: 20px 28px; } }

main .test_area.select_page_area .select_page_btn_item_four { width: auto; padding: 15px 20px; border-radius: 10px; margin: 0 0 0 auto; background-color: #7c411f; border: 1px solid #7c411f; }

main .test_area.select_page_area .select_page_img { margin: 30px auto; max-width: 320px; width: 60%; }

main .test_area.select_page_area .select_page_btn .select_page_btn_item.select_page_btn_item_one { background-color: #c3551b; border: 1px solid #c3551b; }

main .test_area.select_page_area .select_page_btn .select_page_btn_item.select_page_btn_item_two { background-color: #dba930; border: 1px solid #dba930; }

main .test_area.select_page_area .select_page_btn .select_page_btn_item.select_page_btn_item_three { background-color: #178ed1; border: 1px solid #178ed1; }

@media screen and (min-width: 768px) { main .test_area.select_page_area .select_page_btn_item_four { padding: 20px 25px; } }

main .test_area .report_selector_tittle, main .test_area .report_selector_text { display: flex; justify-content: center; color: #7c411f; margin: 0 auto 20px; }

main .test_area .score_report_area .table { margin: 0 auto 40px; display: block; width: 100%; }

main .test_area .score_report_area .table thead { position: sticky; top: 10px; z-index: 1; display: block; width: 100%; }

main .test_area .score_report_area .table thead .score_report_header { display: flex; flex-wrap: wrap; background-color: #FCC900; border: 2px solid #7c411f; border-radius: 10px; display: none; }

main .test_area .score_report_area .table thead .score_report_header .item_box_content { display: flex; justify-content: center; padding: 15px 5px; width: calc(33.33333% - 50px); color: #7c411f; border-right: 2px solid #7c411f; }

main .test_area .score_report_area .table thead .score_report_header .item_box_content.item_box_content_time { border-right: 0; }

main .test_area .score_report_area .table thead .score_report_header .item_box_content.item_box_content_progress { width: 150px; border-right: 0; border-left: 2px solid #7c411f; }

main .test_area .score_report_area .table tbody.score_report_body { display: block; width: 100%; }

main .test_area .score_report_area .table tbody.score_report_body .item_box { display: flex; flex-wrap: wrap; border: 2px solid #FCC900; border-radius: 10px; overflow: hidden; margin: 0 auto 40px; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content { display: flex; flex-wrap: wrap; width: 100%; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content .item_box_content_tittle, main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content .item_box_content_data { width: 100%; display: flex; justify-content: center; padding: 15px 5px; background-color: #fff; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content .item_box_content_data p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content .item_box_content_tittle { background-color: #7c411f; color: #fff; background-color: #FCC900; color: #7c411f; font-weight: bold; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_progress .item_box_content_data .progress_area { width: 100%; max-width: 300px; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn { border-top: 2px solid #FCC900; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn .item_box_content_data { border-bottom: 0px; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn .item_box_content_data .item_box_content_link { position: relative; margin: 10px auto; background-color: #f14c12; border-radius: 50px; transition: 0.3s; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn .item_box_content_data .item_box_content_link .footprint { position: absolute; width: 30px; right: 0; top: 50%; transform: translate(calc(100% + 10px), -50%); display: none; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn .item_box_content_data .item_box_content_link a { display: block; padding: 8px 20px; color: #fff; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn .item_box_content_data .item_box_content_link:hover { background-color: #7c411f; }

main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn .item_box_content_data .item_box_content_link:hover a { padding: 8px 30px; color: #FCC900; }

main .test_area.report_selector .score_report_area .table thead .score_report_header .item_box_content { width: 33.33333%; }

@media screen and (min-width: 350px) { main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn .item_box_content_data .item_box_content_link:hover .footprint { display: block; } }

@media screen and (min-width: 768px) { main .test_area .score_report_area .table { margin: 0 auto 60px; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content { width: 50%; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content .item_box_content_tittle, main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content .item_box_content_data { padding: 15px 10px; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content:nth-child(odd) { border-right: 2px solid #FCC900; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn { width: 100%; border-right: 0px; }
  main .test_area.report_selector .score_report_area .table tbody.score_report_body .item_box .item_box_content { width: 33.33333%; border-right: 2px solid #FCC900; }
  main .test_area.report_selector .score_report_area .table tbody.score_report_body .item_box .item_box_content:nth-child(3) { border-right: 0px; }
  main .test_area.report_selector .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_btn { width: 100%; border-right: 0px; } }

@media screen and (min-width: 1024px) { main .test_area .score_report_area .table thead .score_report_header { display: flex; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box { margin: 20px auto; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content { width: calc(33.33333% - 50px); border-right: 2px solid #FCC900; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content .item_box_content_tittle { display: none; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_time { border-right: 0; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_progress { width: 150px; border-right: 0; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_progress .item_box_content_data .progress_area { flex-direction: column; justify-content: center; }
  main .test_area .score_report_area .table tbody.score_report_body .item_box .item_box_content.item_box_content_progress .item_box_content_data .progress_area .progress { width: 100%; }
  main .test_area.report_selector .score_report_area .table thead .score_report_header { display: flex; } }

main .test_area.literacy_area .literacy_item_area .literacy_tittle { display: flex; justify-content: center; color: #7c411f; margin: 0 auto 50px; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area { display: flex; align-items: flex-start; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .input-group-label { padding: 10px 15px 10px 0; color: #20221f; width: 100%; border: 1px solid transparent; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .dropdown-menu { border: 0; border-radius: 10px; padding: 0; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .dropdown-menu li .dropdown-item { padding: 12px 20px; border-radius: 10px; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .dropdown-menu li .dropdown-item i { display: none; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .dropdown-menu li .dropdown-item:hover { color: #2e57a6; background-color: #ffb50125; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .dropdown-menu li .dropdown-item.check { color: #2e57a6; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .dropdown-menu li .dropdown-item.check i { display: inline-block; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .input_date_icon { position: absolute; right: 15px; top: 10px; z-index: 1; pointer-events: none; user-select: none; color: #20221f; }

@media screen and (min-width: 768px) { main .test_area.literacy_area .literacy_item_area .information_area .input_area { flex-direction: row; }
  main .test_area.literacy_area .literacy_item_area .information_area .input_area .input-group-label { width: 20%; }
  main .test_area.literacy_area .literacy_item_area .information_area .input_area .form-control { width: 80%; }
  main .test_area.literacy_area .literacy_item_area .information_area .input_area.show_hide_password .input-group-text.icon_eye { right: 30px; } }

@media screen and (min-width: 992px) { main .test_area.literacy_area .literacy_item_area .information_area .input_area .input-group-label { padding: 10px 30px 10px 0; width: calc(20% - 30px); text-align: right; } }

main .quiz_area { min-height: calc(100vh - 67px); display: flex; flex-direction: column; justify-content: space-between; }

main .quiz_area .quiz_area_header { display: flex; align-items: flex-start; justify-content: center; width: 90%; margin: 0 auto; padding: 15px 0; }

main .quiz_area .quiz_area_header .tittle_cat_area { display: none; }

main .quiz_area .quiz_area_header .button { position: relative; max-width: 1200px; width: auto; margin: 0; }

main .quiz_area .quiz_area_header .button.voice_btn { display: flex; align-items: center; padding: 10px 20px; background-color: #fff; border: 1px solid #f14c12; border-radius: 20px; }

main .quiz_area .quiz_area_header .button.voice_btn .voice_btn_icon { padding: 10px; background-color: #7c411f; border-radius: 50px; height: 47.75px; display: flex; align-items: center; justify-content: center; border-radius: 10px; }

main .quiz_area .quiz_area_header .button.voice_btn .voice_btn_icon .fa-volume-high { position: relative; color: #fff; font-size: 21px; }

main .quiz_area .quiz_area_header .button.voice_btn .voice_text { color: #9a6d00; margin: 0 0 0 15px; text-align: left; display: flex; justify-content: center; }

main .quiz_area .quiz_area_header .button.voice_btn.play .voice_btn_icon { background-color: #7c411f; }

main .quiz_area .quiz_area_header .button.voice_btn.play .voice_btn_icon .fa-volume-high::before { opacity: 0; }

main .quiz_area .quiz_area_header .button.voice_btn.play .voice_btn_icon .fa-volume-high::after { content: ""; width: 27.75px; height: 21px; position: absolute; top: 50%; left: 0; transform: translate(0%, -50%); background-size: 100% 100%; background-repeat: no-repeat; animation: volume 1.5s infinite; background-image: url(../image/svg/volume-high-solid-1.svg); }

main .quiz_area .quiz_area_body { width: 80%; margin: 0 auto 10px; }

main .quiz_area .quiz_area_body .photo_area { display: flex; flex-wrap: wrap; }

main .quiz_area .quiz_area_body .photo_area .photo_project { margin: 10px; width: calc(25% - 20px); border-radius: 10px; transform: scale(0.9); cursor: pointer; }

main .quiz_area .quiz_area_body .photo_area .photo_project img { border-radius: 10px; }

main .quiz_area .quiz_area_body .photo_area .photo_project.active { border: 2.5px solid #ffb501; transform: scale(1); }

main .quiz_area .quiz_area_body .photo_area .photo_project:hover { border: 2.5px solid #ffb501; }

main .quiz_area .quiz_area_footer { padding: 15px 5px; }

main .quiz_area .quiz_area_footer .mic_cat_area { display: flex; justify-content: flex-end; align-items: center; width: 90%; max-width: 1600px; margin: 0 auto; }

main .quiz_area .quiz_area_footer .mic_cat_area .mic_cat_text { width: 65%; position: relative; transform: translate(0px, -10px); padding: 10px 20px; background-color: #fff; border: 1px solid #f14c12; border-radius: 20px; margin: 0 10px 0 0; }

main .quiz_area .quiz_area_footer .mic_cat_area .mic_cat_text::before { content: ""; position: absolute; border-width: 10px 0px 10px 10px; right: 0; top: 50%; transform: translate(100%, -50%); border-right: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #f14c12; border-top: 10px solid transparent; }

main .quiz_area .quiz_area_footer .mic_cat_area .mic_cat_img { width: calc((100% - (75px * 1.7 + 2px)) / 3); max-width: 80px; }

main .quiz_area .quiz_area_footer .quiz_btn_area { width: 90%; max-width: 1600px; margin: 0 auto; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_btn_text { display: flex; justify-content: center; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_btn_text p { color: #9a6d00; font-weight: bold; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area { position: relative; display: flex; flex-wrap: wrap; margin: 10px auto 0; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area::before { content: ""; position: absolute; width: 1px; height: 100%; border: 1px dotted grey; left: 50%; transform: translate(-50%, 0); }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area::after { content: ""; position: absolute; width: 100%; height: 1px; border: 1px dotted grey; left: 50%; top: 50%; transform: translate(-50%, -50%); }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item { display: flex; align-items: center; justify-content: center; width: 50%; padding: 15px 0 15px 19px; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_label { position: relative; margin: 0 5px 0 0; cursor: pointer; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"] { display: none; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:checked + *, main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:hover + * { color: #b47f00; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:hover + *::before { background-color: #f14c12; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"] + *::before { content: ""; display: inline-block; width: 25px; height: 25px; border-radius: 50%; border: 2px solid #b47f00; position: absolute; left: 0%; top: 50%; transform: translate(calc(-100% - 5px), -50%); }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:checked + *::before { background-color: #f14c12; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:checked + *::after { content: "\f00c"; font-family: "Font Awesome 6 Free"; font-weight: 900; font-size: 30px; color: #b47f00; position: absolute; left: 0%; top: 50%; transform: translate(calc(-100% - 0px), calc(-50% - 3px)); }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:disabled + *::before { border: 2px solid grey; margin: 0 5px 0 0; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:disabled:hover + *::before { background-color: transparent; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:disabled:hover + * { color: #20221f; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:disabled + * { cursor: auto; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_radio { position: relative; width: 15px; height: 15px; border: 2px solid #b47f00; border-radius: 50%; margin: 0 5px 0 0; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_radio i { display: none; font-size: 20px; color: #b47f00; position: absolute; left: 50%; top: 50%; transform: translate(calc(-50% + 3px), calc(-50% - 3px)); z-index: 1; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_radio:hover { background-color: #f14c12; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_radio:disabled::after { display: none; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_num { margin: 0 5px 0 0; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_text { background-color: #7c411f; color: #b47f00; padding: 10px; border-radius: 50px; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_text p { font-weight: bold; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_text p i { display: none; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_text:hover { background-color: #f14c12; color: #fff; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_text:active { background-color: #9a6d00; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.answer_check .quiz_answer_radio { background-color: #f14c12; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.answer_check .quiz_answer_radio i { display: block; }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.answer_check .quiz_answer_text { outline: solid calc(1em * 2 / 16) #f14c12; transform: scale(1.05); }

main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.answer_check .quiz_answer_text p i { display: inline-block; }

main .quiz_area .quiz_area_footer .quiz_btn_area .next_question_btn { display: flex; align-items: center; justify-content: center; border: 1px solid #f14c12; border-radius: 10px; padding: 12px 10px; background-color: #f14c12; margin: 15px auto; color: #fff; transform: scale(1); }

main .quiz_area .quiz_area_footer .quiz_btn_area .next_question_btn .next_question_btn_icon { margin: 0 10px; }

main .quiz_area .quiz_area_footer .quiz_btn_area .next_question_btn.show { display: flex; }

main .quiz_area .quiz_area_footer .quiz_btn_area .next_question_btn:hover { transform: scale(1.05); background-color: #dc430d; }

main .quiz_area .quiz_area_footer .quiz_btn_area .next_question_btn:disabled { transform: scale(1); animation: none; }

@keyframes recording { 0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; } }

@keyframes volume { 0% { background-image: url(../image/svg/volume-high-solid-1.svg); }
  50% { background-image: url(../image/svg/volume-high-solid-2.svg); }
  100% { background-image: url(../image/svg/volume-high-solid-3.svg); } }

@media screen and (min-width: 350px) { main .quiz_area .quiz_area_footer { padding: 15px 3%; } }

@media screen and (min-width: 380px) { main .quiz_area .quiz_area_body { margin: 0 auto 25px; }
  main .quiz_area .quiz_area_footer { padding: 15px 5%; } }

@media screen and (min-width: 500px) { main .quiz_area { min-height: calc(100vh - 87px); }
  main .quiz_area .quiz_area_header { margin: 30px auto; }
  main .quiz_area .quiz_area_header .tittle_cat_area { display: block; margin: 0 20px 0 0; }
  main .quiz_area .quiz_area_header .tittle_cat_area .tittle_cat_img { width: 80px; }
  main .quiz_area .quiz_area_header .button.voice_btn::before { content: ""; position: absolute; border-width: 10px 0px 10px 10px; left: 0; top: 50%; transform: translate(-100%, -50%); border-right: 10px solid #f14c12; border-bottom: 10px solid transparent; border-left: 10px solid transparent; border-top: 10px solid transparent; }
  main .quiz_area .quiz_area_body { width: 60%; }
  main .quiz_area .quiz_area_footer .mic_cat_area .mic_cat_text { width: 56%; max-width: 270px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item { padding: 15px 0 15px 34px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_label { margin: 0 10px 0 0; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"] + *::before { width: 30px; height: 30px; transform: translate(calc(-100% - 8px), -50%); }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item input[type="radio"]:checked + *::after { font-size: 35px; transform: translate(calc(-100% - 3px), calc(-50% - 3px)); }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_radio { width: 25px; height: 25px; margin: 0 10px 0 0; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_radio i { font-size: 30px; transform: translate(calc(-50% + 5px), calc(-50% - 5px)); }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_num { margin: 0 10px 0 0; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_text { padding: 10px 20px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.answer_check .quiz_answer_text { outline: solid calc(1em * 5 / 16) #f14c12; transform: scale(1.18); } }

@media screen and (min-width: 576px) { main .quiz_area { min-height: calc(100vh - 115px); }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item .quiz_answer_text { width: 50%; } }

@media screen and (min-width: 768px) { main .quiz_area { min-height: calc(100vh - 127px); }
  main .quiz_area .quiz_area_footer { border-radius: 80px 80px 0 0; }
  main .quiz_area .quiz_area_footer .mic_cat_area .mic_cat_text { max-width: 320px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area { justify-content: center; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .next_question_btn { max-width: 300px; } }

@media screen and (min-width: 992px) { main .quiz_area .quiz_area_footer { padding: 30px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_btn_text { margin: 0 auto 20px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area::before, main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area::after { display: none; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item { width: 25%; border-right: 1px dotted grey; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item:last-child { border-right: 0; } }

@media screen and (orientation: portrait) { main .quiz_area .quiz_area_body .photo_area .photo_project { width: calc(50% - 20px); } }

@media screen and (orientation: portrait) and (min-width: 1024px) { main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item { width: 50%; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.quiz_answer_item_one, main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.quiz_answer_item_three { border-right: 1px dotted grey; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.quiz_answer_item_two { border-right: 0px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.quiz_answer_item_three, main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item.quiz_answer_item_four { border-top: 1px dotted grey; } }

@media screen and (min-width: 1200px) { main .quiz_area .quiz_area_footer { width: 100%; padding: 45px; }
  main .quiz_area .quiz_area_footer .mic_cat_area .mic_cat_img { width: 140px; max-width: none; }
  main .quiz_area .quiz_area_footer .quiz_btn_area { display: flex; justify-content: flex-end; align-items: flex-end; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_btn_text { width: 100%; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area { width: calc(98% - 155.5px); margin: 0 auto 0 0; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area .quiz_answer_item { padding: 0 0 0 34px; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .next_question_btn { width: auto; margin: 15px 0; padding: 10px 25px; } }

@media screen and (min-width: 1400px) { main .quiz_area .quiz_area_footer { padding: 45px 10%; } }

@media screen and (min-width: 1600px) { main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_btn_text { width: auto; margin: 0 10px 0 0; }
  main .quiz_area .quiz_area_footer .quiz_btn_area .quiz_answer_area { width: calc(95% - 155.5px - 86px); } }

main .test_area .end_content .end_content_img { width: 60%; max-width: 350px; height: auto; margin: 50px auto; }

main .test_area .end_content .fireworks_area { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100vh; z-index: -1; transition: width 2s; display: none; overflow: hidden; }

main .test_area .end_content .fireworks_area .fireworks_img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; }

@media screen and (min-width: 768px) { main .test_area .end_content .end_content_img { width: 80%; } }
