/*2023閱讀力大賽調整*/
.navi-main>.container-fluid>.row>.navbar-header-area>.navbar-header>.navbar-brand {
    padding: 15px;
}

.navi-main>.container-fluid>.row>.navbar-header-area>.navbar-header>.navbar-brand>img {
    width: 100%;
    height: auto;
}