$body_bg: #EFE8E0;
$text_bg: #ffffffcc;
$word_area_bg: #fffdd4;
$button_area_bg: #E2DCD6;
$copyright_page_bg:rgba(0, 0, 0, 0.75);

/*main*/
$main_color: #ec6c00;

/*other*/
$white:#fff;
$grey: grey;
$brown: #5B3716;
$blue: blue;