$body_bg: #EFE8E0;
$text_bg: #ffffffcc;
$word_area_bg: #fffdd4;
$button_area_bg: #E2DCD6;
$copyright_page_bg:rgba(0, 0, 0, 0.75);



/*main*/
$main_color: #ec6c00;
$main_color_pink: #EB615C;
$light_main_color: #fdf0df;

/*other*/
$white:#fff;
$grey: #808080;
$brown: #5B3716;
$blue: blue;
$disabled: #ADADAD;
$red:red;
// $dialog_box_bg: #efefef;
// $dialog_box_border: #d7d7d7;
$dialog_box_bg: #fff;
$dialog_box_border: #ec6c00;

$results_comments_good:#FFBC42;
$results_comments_perfect:#2EC4B6;
$results_comments_bad:#D81159;


$sentence_color:#d7ab1b;
$chatbot_color:#604193;
$studio_color:#31659b;