$header_bg: #FFE4D1;
$body_bg: #EFE8E0;
$footer_bg: #F2F2F2;
$brown: #5B3716;
$main_color: #ff6464;
$main_green_color: #3eab5b;
$main_blue_color: #53c1e2;
$main_yellow_color: #f6d367;
$transparent:transparent;
$white: #fff;
$black:black;
$grey: grey;
$first_grade_color: #d72b2b;
$second_grade_color:#EB772A;
$third_grade_color:#F3BA03;
$fourth_grade_color:#8DA429;
$fifth_grade_color:#00AD5E;
$sixth_grade_color:#00B1B9;
// $seventh_grade_color:#0163C6;
// $eighth_grade_color:#4F1AC4;
// $ninth_grade_color:#8400A1;
$seventh_grade_color:#238cf6;
$eighth_grade_color:#0163C6;
$ninth_grade_color:#00349b;
$tenth_grade_color:#6c4bdc;
$eleventh_grade_color:#8910ff;
$twelfth_grade_color:#670087;
$ticket_bg:#e3cea5;
$ticket_light_bg:#ece1ce;
$personal_bg:#bfdeda;

// map_book_area_bg
$map_book_area_first_grade_color: #ffd8d8;
$map_book_area_second_grade_color: #ffdac2;
$map_book_area_third_grade_color: #fef0c4;
$map_book_area_fourth_grade_color: #dfebae;
$map_book_area_fifth_grade_color: #c7ffe5;
$map_book_area_sixth_grade_color: #c8fdff;
$map_book_area_seventh_grade_color: #c7e3ff;
$map_book_area_eighth_grade_color: #b6d8fa;
$map_book_area_ninth_grade_color: #afc6f3;
$map_book_area_tenth_grade_color: #e6e0f9;
$map_book_area_eleventh_grade_color: #e0c7f8;
$map_book_area_twelfth_grade_color: #eab6fa;

//grade
$a1_bg:#dd80a6;
$a2_bg:#ff9440;
$b1_bg:#f4be37;
$b2_bg:#5cb16b;
$c1_bg:#5db9d8;
$c2_bg:#2d6e8a;

// 電子書彈跳視窗
$instructions: #ffc000;
$text_bg: #ffffffcc;
$word_area_bg: #fffdd4;
$button_area_bg: #E2DCD6;
$copyright_page_bg:rgba(0, 0, 0, 0.75);

/*main*/
$ebook_main_color: #ec6c00;

/*other*/
$disabled: #ADADAD;
$red:red;
$results_comments_good:#FFBC42;
$results_comments_perfect:#2EC4B6;
$results_comments_bad:#D81159;

// Studio
$studio_text:#e17404;
$studio_sound:#3a7521;
$studio_paint:#5a5183;
$studio_multimedia:#31659b;
