// header開始
header {
    background-color: $white;

    nav {
        .container-fluid {

            .navbar-brand {
                width: 70%;
            }

            .navbar-toggler {
                border: 1px solid $main_color;

                .icon-bar {
                    display: block;
                    width: 22px;
                    height: 2px;
                    border-radius: 1px;
                    background-color: $main_color;

                    &+.icon-bar {
                        margin-top: 4px;
                    }
                }

                &:hover {
                    background-color: $main_color;

                    .icon-bar {
                        background-color: $white;
                    }
                }
            }



            .navbar-collapse {
                justify-content: center;

                ul {
                    li {
                        &.nav-item {

                            &.active,
                            &:hover {
                                color: $main_color;

                                .nav-link {
                                    color: $main_color;
                                }

                                p{
                                    &.nav-link {
                                        color: $dark_grey;
                                    }
                                }

                                
                            }

                            .nav-link {
                                color: $dark_grey;
                                padding: 5px 10px;
                                font-size: 18px;
                            }
                        }

                    }
                }
            }
        }
    }
}

// header結束

@media screen and (min-width: 768px){
        // header開始
        header {
            nav {
                .container-fluid {
    
                    .navbar-brand {
                        width: 45%;
                    }
                }
            }
        }
    
        // header結束
}

@media screen and (min-width: 992px){
    // header開始
    header {
        nav {
            .container-fluid {

                .navbar-brand {
                    width: 30%;
                    max-width: 400px;
                }

                .navbar-collapse {
                    justify-content: flex-end;
                    ul {
                        li {
                            .nav-link {
                                font-size: 20px;
                                padding: 0px 8px;
                            }
                        }
                    }
                }

            }
        }
    }

    // header結束
}