.about{
    &.slide {
        background-image: url(../image/photo/slide-about.jpeg);
      }

      &.main {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;

        h1 {
            text-align: center;
          }

          p {
            letter-spacing: 3px;
            line-height: 1.5;
            text-align: left;
          }
      }
}