.booklist {
    &.slide {
        background-image: url(../image/photo/slide-booklist.jpg);
    }
}

.main {

    &.booklist {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;

        .introduce {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                width: 100%;
            }

            button {
                margin-top: 30px;

                a {
                    color: $main_color;
                    padding: 5px 10px;
                    border: 1px solid $main_color;
                    margin-top: 10px;
                    border-radius: 10px;
                }

                &:hover {
                    a {
                        color: $white;
                        background-color: $main_color;
                    }
                }
            }
        }

    }

    // bookmenu各關地圖共用
    .bookmenu {
        display: flex;
        margin-top: 145px;

        &.column {
            flex-direction: column;
            position: absolute;
            left: 0px;
            top: 0px;
            margin-top: 0px;

            div {
                margin: 10px 0px;

                &.active {
                    &:before {
                        display: none;
                    }
                }

                &>a {
                    position: absolute;
                    left: calc(100% + 5px);
                    top: 50%;
                    transform: translate(0px, -50%);
                }
            }
        }

        div {
            text-align: center;
            border: 1px solid;
            border-radius: 10px;
            padding: 5px 10px;
            margin-right: 12px;
            position: relative;
            background-color: $body_bg;

            //   側邊頭像開始
            .head-img {
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 8px 12px 8px 0px;
                border-radius: 0;
                padding: 0;
                background-color: transparent;

                img {
                    width: 65px;
                    height: 65px;
                    position: absolute;
                    left: 6px;
                    top: 50%;
                    transform: translate(0%, -50%);
                    border-radius: 50%;
                }

                &.avatar {
                    p {
                        position: absolute;
                        left: 38.5px;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }

                    img {
                        padding: 2px;
                        background-color: $white;
                    }

                    &.pre {
                        img {
                            border: 2px solid $preColor;
                        }
                    }

                    &.a1 {
                        img {
                            border: 2px solid $a1Color;
                        }
                    }

                    &.a2 {
                        img {
                            border: 2px solid $a2Color;
                        }
                    }

                    &.b1 {
                        img {
                            border: 2px solid $b1Color;
                        }
                    }

                    &.b2 {
                        img {
                            border: 2px solid $b2Color;
                        }
                    }

                    &.c1 {
                        img {
                            border: 2px solid $c1Color;
                        }
                    }

                    &.c2 {
                        img {
                            border: 2px solid $c2Color;
                        }
                    }
                }

                &.pre {
                    border-color: transparent $preColor transparent transparent;
                }

                &.a1 {
                    border-color: transparent $a1Color transparent transparent;
                }

                &.a2 {
                    border-color: transparent $a2Color transparent transparent;
                }

                &.b1 {
                    border-color: transparent $b1Color transparent transparent;
                }

                &.b2 {
                    border-color: transparent $b2Color transparent transparent;
                }

                &.c1 {
                    border-color: transparent $c1Color transparent transparent;
                }

                &.c2 {
                    border-color: transparent $c2Color transparent transparent;
                }
            }

            //   側邊頭像結束

            p {
                a {
                    padding: 5px 3px;
                }
            }

            &.pre {
                border-color: $preColor;

                p {
                    a {
                        color: $preColor;
                    }
                }

                &.active,
                &:hover {
                    background-color: $preColor;
                }
            }

            &.a1 {
                border-color: $a1Color;

                p {
                    a {
                        color: $a1Color;
                    }
                }

                &.active,
                &:hover {
                    background-color: $a1Color;
                }
            }

            &.a2 {
                border-color: $a2Color;

                p {
                    a {
                        color: $a2Color;
                    }
                }

                &.active,
                &:hover {
                    background-color: $a2Color;
                }
            }

            &.b1 {
                border-color: $b1Color;

                p {
                    a {
                        color: $b1Color;
                    }
                }

                &.active,
                &:hover {
                    background-color: $b1Color;
                }
            }

            &.b2 {
                border-color: $b2Color;

                p {
                    a {
                        color: $b2Color;
                    }
                }

                &.active,
                &:hover {
                    background-color: $b2Color;
                }
            }

            &.c1 {
                border-color: $c1Color;

                p {
                    a {
                        color: $c1Color;
                    }
                }

                &.active,
                &:hover {
                    background-color: $c1Color;
                }
            }

            &.c2 {
                border-color: $c2Color;

                p {
                    a {
                        color: $c2Color;
                    }
                }

                &.active,
                &:hover {
                    background-color: $c2Color;
                }
            }

            &.active {
                p {
                    a {
                        color: $white;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    background-image: url(../image/svg/head.svg);
                    width: 100%;
                    height: 60px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    left: 0;
                    top: -65px;
                }
            }

            &:hover {
                p {
                    a {
                        color: $white;
                    }
                }

                .bookmenu-standard {
                    display: block;
                }
            }
        }

        .bookmenu-standard {
            display: none;
            position: absolute;
            left: 0px;
            top: calc(100% + 10px);
            z-index: 1;
            width: 365px;
            background-color: $body_bg;
            padding: 5px 8px;
            border-radius: 10px;

            p {
                text-align: left;
            }
        }


    }

    // book-area各關地圖共用
    .book-area {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;

        .book-item {
            position: relative;
            width: calc(33% - 2%);
            margin: 30px 1%;
            border-radius: 10px;
            background-color: $body_bg;
            padding: 10px;
            @extend %boxShadow_gray;

            &.active {
                transform: scale(1.05);
            }

            .book-block {
                position: relative;
                width: 100%;
                border-radius: 16px;
                overflow: hidden;

                .book-img {
                    img {
                        border-radius: 16px;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .audio-icon {
                    background-image: url(../image/svg/sound.svg);
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #4B4B4Bbf;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    top: 0;
                    border-radius: 0px 10px 0px 10px;
                }
            }

            .book-text {
                padding-top: 10px;
                text-align: left;
                width: 100%;

                .book-title {
                    h4 {
                        color: $main_color;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        width: 100%;
                        height: 60.6px;
                        margin-bottom: 8px;

                        a {
                            color: $main_color;
                            font-size: 20px;
                        }
                    }
                }

                .book-information {
                    p {
                        font-size: 15px;
                    }
                }
            }

        }
    }

    // book-list-area各關地圖共用
    .book-list-area {
        &.map-book-list {
            margin-left: 190px;
        }

        .standard {
            display: flex;
            align-items: center;

            h3 {
                padding: 0px 10px;
                border: 1px solid $white;
                border-radius: 10px;
                margin-right: 10px;
                text-align: center;
                border: 1px solid;
                border-radius: 10px;
                padding: 5px 10px;
                margin-right: 12px;
                position: relative;

                &.pre {
                    border-color: $preColor;
                    background-color: $preColor;
                }

                &.a1 {
                    border-color: $a1Color;
                    background-color: $a1Color;
                }

                &.a2 {
                    border-color: $a2Color;
                    background-color: $a2Color;
                }

                &.b1 {
                    border-color: $b1Color;
                    background-color: $b1Color;
                }

                &.b2 {
                    border-color: $b2Color;
                    background-color: $b2Color;
                }

                &.c1 {
                    border-color: $c1Color;
                    background-color: $c1Color;
                }

                &.c2 {
                    border-color: $c2Color;
                    background-color: $c2Color;
                }
            }

            p {
                margin-right: 10px;
            }

        }
    }

    // 所有標籤通用
    .grade-tag {
        text-align: center;
        position: absolute;
        font-size: 17px;
        border-radius: 10px;
        color: $white;
        bottom: 5px;
        right: 5px;
        top: auto;
        left: auto;
        padding: 5px;

        &.big {
            width: 100px;
        }

        &.pre {
            background-color: $preColor;
        }

        &.a1 {
            background-color: $a1Color;
        }

        &.a2 {
            background-color: $a2Color;
        }

        &.b1 {
            background-color: $b1Color;
        }

        &.b2 {
            background-color: $b2Color;
        }

        &.c1 {
            background-color: $c1Color;
        }

        &.c2 {
            background-color: $c2Color;
        }
    }
}