body{
    &.pre {
        background-color: #9bbf65;
      }

      &.a1 {
        background-color: #56ccbc;
      }

      &.a2 {
        background-color: #b1ba70;
      }

      &.b1 {
        background-color: #ffebcc;
      }

      &.b2 {
        background-color: #0082b0;
      }

      &.c1 {
        background-color: #C8EBE3;
      }

      &.c2 {
        background-color: #ad9d83;
      }
}

.slide{

    .map-slide{
        .map-background {
            position: relative;
            line-height: 0;

            .animal{
                img {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                  }
            }
          }
    }
    

    

    &.pre-map {
        padding-top: 35px;
        padding-bottom: 0px;
        background-color: #feda66;
      }

      &.a1-map {
        padding-top: 35px;
        padding-bottom: 0px;
        background-color: #fff6b8;
      }

      &.a2-map {
        padding-top: 35px;
        padding-bottom: 0px;
        background-color: #a2ded3;
      }

      &.b1-map {
        padding-top: 35px;
        padding-bottom: 0px;
        background-color: #ffa587;
      }

      &.b2-map {
        padding-top: 35px;
        padding-bottom: 0px;
        background-color: #f5d87d;
      }

      &.c1-map {
        padding-top: 35px;
        padding-bottom: 0px;
        background-color: #cf9a63;
      }

      &.c2-map {
        padding-top: 35px;
        padding-bottom: 0px;
        background-color: #204d7a;
      }
}

.main{
    &.map-content {
        max-width: 1200px;
        width: 80%;
        position: relative;
      }
}

// progress-bar-area開始
.progress-bar-area {
    max-width: 1200px;
    display: flex;
    margin: 90px auto 90px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    
    .badge-img {
        width: calc((100% - 21%) / 8);
      }

      .progress-head {
        position: relative;
        width: calc((100% - 21%) / 8);

        img {
          position: absolute;
          width: calc(100% - 4px);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }

        svg {
          position: absolute;
          width: 100%;
          z-index: 1;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotateY(-180deg);

          .progress-bar-background {
            fill: none;
            stroke: #e2eff0;
            stroke-width: 2px;
          }

          .progress-bar-progress {
            fill: none;
            stroke: transparent;
            stroke-dasharray: 100 100;
            stroke-dashoffset: 100;
            stroke-dashoffset: 0px;
            stroke-linecap: round;
            stroke-width: 2px;
            transition: stroke-dashoffset 1s ease-in-out;
          }
        }
      }

      .progress-bar {
        width: 3%;
        height: 5px;
        background-color: $body_bg;

        &.done2 {
            animation: getbadge 3s;
            animation-iteration-count: infinite;
          }
      }

      &.pre {
        .progress-bar-progress{
            &.ready {
                stroke: $preColor;
              }
        }

        .progress-bar{
            &.done {
              background-color: $preColor;
            }
      }
      }

      &.a1 {
        .progress-bar-progress{
            &.ready {
                stroke: $a1Color;
              }

              &.done {
                background-color: $a1Color;
              }
        }
      }

      &.a2 {
        .progress-bar-progress{
            &.ready {
                stroke: $a2Color;
              }

              &.done {
                background-color: $a2Color;
              }
        }
      }

      &.b1 {
        .progress-bar-progress{
            &.ready {
                stroke: $b1Color;
              }

              &.done {
                background-color: $b1Color;
              }
        }
      }

      &.b2 {
        .progress-bar-progress{
            &.ready {
                stroke: $b2Color;
              }

              &.done {
                background-color: $b2Color;
              }
        }
      }

      &.c1 {
        .progress-bar-progress{
            &.ready {
                stroke: $c1Color;
              }

              &.done {
                background-color: $c1Color;
              }
        }
      }

      &.c2 {
        .progress-bar-progress{
            &.ready {
                stroke: $c2Color;
              }

              &.done {
                background-color: $c2Color;
              }
        }
      }

      .done2 {
        animation: getbadge 3s;
        animation-iteration-count: infinite;
    }
  }
  // progress-bar-area結束

  .modal{
    &.book-information-modal{
      width: 80% !important;

      .book-introduction {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .modal-book-img {
          position: relative;
          background-position: center;
          background-size: cover;
          width: 250px;
          height: 250px;
          border-radius: 16px;

          img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .introduction-content {
          width: calc(95% - 250px);

          .modal-btn{
            ul {
              display: flex;
              li {
                width: 50%;
                text-align: center;
                border-bottom: 1px solid;
                padding: 10px 0px;
                color: $grey;
                &.active {
                  color: $main_color;
                  font-weight: bold;
                  border: 1px solid $main_color;
                }
              }
            }
          }

          .introduction-item {
            margin: 30px auto 0px;
            height: 220px !important;
            overflow: scroll;
            width: 100%;

            .item {
              margin-bottom: 10px;
              padding: 0 10px;

              h4 {
                margin: 10px auto;
                color: $main_color;
              }

              p {
                padding: 15px 0px;
              }

              .lexical-text {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin: 10px 0px;

                p{
                  &:nth-child(1) {
                    display: flex;
                    border: 1px solid $black;
                    width: auto;
                    align-items: center;
                    padding: 15px 5px 5px;
                    margin-right: 15px;
                    margin: 5px 0px;
                  }
                }
              }
              

              &.vocabulary {
                border-top: 1px solid $grey;
                margin: 20px auto 0px;

                &.active {
                  border-top: 0px solid $grey;
                  margin: 0px auto 0px;
                }
              }
            }
          }

          .book-content {
            margin: 20px auto 10px;
            width: 100%;

            h4 {
              color: $main_color;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }