@use "../base/color"as c;

.grade {
    &.slide {
        background-image: url(../image/photo/slide-grade.jpeg);
    }
}

.main {

    &.grade {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        overflow-x: hidden;

        .chart-area {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            position: relative;
            width: 100%;

            .chart {
                width: 11.78%;

                &:nth-child(1) {
                    .grade-content {
                        display: block;
                    }
                }

                .meter {
                    width: 100%;
                    position: relative;
                    list-style: none;

                    span {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        font-size: 15px;
                        padding: 10px 0px;
                        border-top: 1px solid c.$white;
                        color: c.$white;
                        text-align: center;

                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 16px solid transparent;
                            border-right: 16px solid transparent;
                            border-top: 12px solid transparent;
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            -webkit-transition: all .1s ease-in-out;
                            -moz-transition: all .1s ease-in-out;
                            -o-transition: all .1s ease-in-out;
                            transition: all .1s ease-in-out;
                        }

                        &.active {
                            &:before {
                                border-top: 12px solid;
                            }
                        }
                    }

                    .bar {
                        border-radius: 10px;

                        &.pre-background {
                            height: calc(var(--meter-height) * 1 + 40.64px);
                            background-color: c.$preColor;
                        }

                        &.a1-background {
                            height: calc(var(--meter-height) * 2 + 40.64px);
                            background-color: c.$a1Color;
                        }

                        &.a2-background {
                            height: calc(var(--meter-height) * 3 + 40.64px);
                            background-color: c.$a2Color;
                        }

                        &.b1-background {
                            height: calc(var(--meter-height) * 4 + 40.64px);
                            background-color: c.$b1Color;
                        }

                        &.b2-background {
                            height: calc(var(--meter-height) * 5 + 40.64px);
                            background-color: c.$b2Color;
                        }

                        &.c1-background {
                            height: calc(var(--meter-height) * 6 + 40.64px);
                            background-color: c.$c1Color;
                        }

                        &.c2-background {
                            height: calc(var(--meter-height) * 7 + 40.64px);
                            background-color: c.$c2Color;
                        }
                    }

                    &.pre-meter {
                        &:hover {
                            span {
                                &:before {
                                    border-top-color: c.$preColor;
                                }
                            }
                        }

                        span {
                            background-color: c.$preColor_dark;

                            &.active {
                                &:before {
                                    border-top-color: c.$preColor_dark;
                                }
                            }
                        }
                    }

                    &.a1-meter {
                        &:hover {
                            span {
                                &:before {
                                    border-top-color: c.$a1Color;
                                }
                            }
                        }

                        span {
                            background-color: c.$a1Color_dark;

                            &.active {
                                &:before {
                                    border-top-color: c.$a1Color_dark;
                                }
                            }
                        }
                    }

                    &.a2-meter {
                        &:hover {
                            span {
                                &:before {
                                    border-top-color: c.$a2Color;
                                }
                            }
                        }

                        span {
                            background-color: c.$a2Color_dark;

                            &.active {
                                &:before {
                                    border-top-color: c.$a2Color_dark;
                                }
                            }
                        }
                    }

                    &.b1-meter {
                        &:hover {
                            span {
                                &:before {
                                    border-top-color: c.$b1Color;
                                }
                            }
                        }

                        span {
                            background-color: c.$b1Color_dark;

                            &.active {
                                &:before {
                                    border-top-color: c.$b1Color_dark;
                                }
                            }
                        }
                    }

                    &.b2-meter {
                        &:hover {
                            span {
                                &:before {
                                    border-top-color: c.$b2Color;
                                }
                            }
                        }

                        span {
                            background-color: c.$b2Color_dark;

                            &.active {
                                &:before {
                                    border-top-color: c.$b2Color_dark;
                                }
                            }
                        }
                    }

                    &.c1-meter {
                        &:hover {
                            span {
                                &:before {
                                    border-top-color: c.$c1Color;
                                }
                            }
                        }

                        span {
                            background-color: c.$c1Color_dark;

                            &.active {
                                &:before {
                                    border-top-color: c.$c1Color_dark;
                                }
                            }
                        }
                    }

                    &.c2-meter {
                        &:hover {
                            span {
                                &:before {
                                    border-top-color: c.$c2Color;
                                }
                            }
                        }

                        span {
                            background-color: c.$c2Color_dark;

                            &.active {
                                &:before {
                                    border-top-color: c.$c2Color_dark;
                                }
                            }
                        }
                    }
                }

                .grade-content {
                    position: absolute;
                    width: 100%;
                    left: 0%;
                    background: #FCFAF7;
                    margin-top: 35px;
                    overflow: hidden;
                    display: none;
                    border-radius: 10px;
                    border: 1px solid;

                    h4,
                    p {
                        padding: 0px 15px;
                    }

                    h4 {
                        color: c.$main_color;

                        &:nth-child(1) {
                            padding-top: 15px;
                        }
                    }

                    p {
                        margin-top: 10px;
                        display: flex;

                        &.sample-article {
                            padding: 0px;

                            a {
                                width: 100%;
                                padding: 15px;
                                color: c.$white;
                            }
                        }
                    }

                    &.pre {
                        border-color: c.$preColor;

                        .sample-article{
                            a {
                                background-color: c.$preColor;
                            }
                        }

                        h4 {
                            color: c.$preColor;
                        }
                    }

                    &.a1 {
                        border-color: c.$a1Color;

                        .sample-article{
                            a {
                                background-color: c.$a1Color;
                            }
                        }

                        h4 {
                            color: c.$a1Color;
                        }
                    }

                    &.a2 {
                        border-color: c.$a2Color;

                        .sample-article{
                            a {
                                background-color: c.$a2Color;
                            }
                        }

                        h4 {
                            color: c.$a2Color;
                        }
                    }

                    &.b1 {
                        border-color: c.$b1Color;

                        .sample-article{
                            a {
                                background-color: c.$b1Color;
                            }
                        }

                        h4 {
                            color: c.$b1Color;
                        }
                    }

                    &.b2 {
                        border-color: c.$b2Color;

                        .sample-article{
                            a {
                                background-color: c.$b2Color;
                            }
                        }

                        h4 {
                            color: c.$b2Color;
                        }
                    }

                    &.c1 {
                        border-color: c.$c1Color;

                        .sample-article{
                            a {
                                background-color: c.$c1Color;
                            }
                        }

                        h4 {
                            color: c.$c1Color;
                        }
                    }

                    &.c2 {
                        border-color: c.$c2Color;

                        .sample-article{
                            a {
                                background-color: c.$c2Color;
                            }
                        }

                        h4 {
                            color: c.$c2Color;
                        }
                    }

                    .sample-article {
                        a {
                            width: 100%;
                            padding: 15px;
                            color: #fff;
                        }
                    }
                }

            }

        }

        .chart-text {
            margin: 340px auto 0px;
        }
    }
}

.sample-modal {
    &.modal {
        &.pre {
            h2 {
                color: c.$preColor;
            }
        }

        &.a1 {
            h2 {
                color: c.$a1Color;
            }
        }

        &.a2 {
            h2 {
                color: c.$a2Color;
            }
        }

        &.b1 {
            h2 {
                color: c.$b1Color;
            }
        }

        &.b2 {
            h2 {
                color: c.$b2Color;
            }
        }

        &.c1 {
            h2 {
                color: c.$c1Color;
            }
        }

        &.c2 {
            h2 {
                color: c.$c2Color;
            }
        }
    }
}

@media (max-width:768px) {
    .main {
        &.grade {
            .chart-area {
                flex-direction: column;

                .chart {
                    width: 100%;
                    margin-bottom: 10px;

                    .meter {

                        span {
                            width: 85px;
                            padding: 10px;
                            top: 0;
                            border-top: 0px;

                            &:before {
                                display: none;
                            }
                        }

                        .bar {
                            width: 100%;
                            height: 40px !important;
                            -webkit-animation-name: slide;
                            -moz-animation-name: slide;
                            animation-name: slide;

                            &.pre-background {
                                -webkit-animation-duration: .2s;
                                -moz-animation-duration: .2s;
                                animation-duration: .2s;
                            }

                            &.a1-background {
                                -webkit-animation-duration: .4s;
                                -moz-animation-duration: .4s;
                                animation-duration: .4s;
                            }

                            &.a2-background {
                                -webkit-animation-duration: .6s;
                                -moz-animation-duration: .6s;
                                animation-duration: .6s;
                            }

                            &.b1-background {
                                -webkit-animation-duration: .8s;
                                -moz-animation-duration: .8s;
                                animation-duration: .8s;
                            }

                            &.b2-background {
                                -webkit-animation-duration: 1s;
                                -moz-animation-duration: 1s;
                                animation-duration: 1s;
                            }

                            &.c1-background {
                                -webkit-animation-duration: 1.2s;
                                -moz-animation-duration: 1.2s;
                                animation-duration: 1.2s;
                            }

                            &.c2-background {
                                -webkit-animation-duration: 1.4s;
                                -moz-animation-duration: 1.4s;
                                animation-duration: 1.4s;
                            }

                        }

                        &.pre-meter {
                            width: calc(100% / 2.2);
                        }

                        &.a1-meter {
                            width: calc(100% / 2);
                        }

                        &.a2-meter {
                            width: calc(100% / 1.8);
                        }

                        &.b1-meter {
                            width: calc(100% / 1.6);
                        }

                        &.b2-meter {
                            width: calc(100% / 1.4);
                        }

                        &.c1-meter {
                            width: calc(100% / 1.2);
                        }

                        &.c2-meter {
                            width: calc(100% / 1);
                        }
                    }

                    .grade-content {
                        top: 385px;
                        height: 162px;
                        overflow-y: scroll;
                    }
                }

            }

            .chart-text {
                margin: 260px auto 0px;
            }
        }
    }
}