.swiper {
  &.slideSwiper {
    width: 100%;
    max-width: none;

    .swiper-wrapper {
      .swiper-slide {
        background: transparent;
        padding: 0px;
        box-shadow: none;
        transform: scale(1);
        position: relative;

        .slide-text {
          position: absolute;
          display: flex;
          flex-direction: column;

          p {
            color: $white;
            text-align: left;
          }

          &.slide-text-1 {
            bottom: 50px;
            left: 5%;

            p {
              font-size: 32px;
            }

            img {
              width: 60%;
              margin-bottom: 5px;
              min-width: 650px;
            }
          }

          &.slide-text-2 {
            width: 42%;
            bottom: 25px;
            right: 5%;

            .book-logo {
              width: 20%;
              margin: 0 auto 5px;
            }

            p {
              font-size: 30px;
            }

            img {
              width: 90%;
              margin-top: 5px;
            }
          }

          &.slide-text-3 {
            position: initial;

            .ebook-logo {
              width: 20%;
              position: absolute;
              right: 10%;
              bottom: 25px;
            }

            .text-3-area {
              position: absolute;
              left: 10%;
              top: 50%;
              transform: translate(0%, -40%);
              width: 60%;

              p {
                font-size: 60px;
                margin-bottom: 5px;

                &:nth-child(2) {
                  font-size: 30px;
                }
              }
            }
          }
        }

        .book-block {
          a {
            line-height: 0;

            div {
              img {
                border-radius: 16px;
              }
            }
          }
        }

      }
    }
  }
}

.feature {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .feature-content {
    width: 45%;
    margin: 40px auto;
    position: relative;

    img {
      width: 60%;
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 20px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      font-size: 120px;
      font-weight: bold;
      right: -30px;
      top: 0px;
      color: transparent;
      -webkit-text-stroke: 2px $main_color;
    }

    &:nth-child(1) {
      &:before {
        content: "01";
      }
    }

    &:nth-child(2) {
      &:before {
        content: "02";
      }
    }

    &:nth-child(3) {
      &:before {
        content: "03";
      }
    }

    &:nth-child(4) {
      &:before {
        content: "04";
      }
    }
  }
}

.preferred-book {
  position: relative;
  margin: 80px auto 0px;

  h1 {
    text-align: center;
    margin: 0px auto 40px;
    width: 80%;
    line-height: 1.5;
  }

  .swiper {
    width: 80%;
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: $white;
      padding: 10px;
      border-radius: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      flex-direction: column;
      transform: scale(0.95);

      &.active {
        transform: scale(0.98);
      }
    }
  }

  .swiper-horizontal {
    .swiper-pagination-bullets {
      bottom: -40px !important;
    }
  }

  .swiper-pagination-bullets {
    &.swiper-pagination-horizontal {
      bottom: -40px !important;
    }
  }

  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -40px !important;
  }

}

.open-read {
  display: flex;
  margin: 80px auto 0px;
  align-items: center;
  justify-content: center;
  background-color: $main_color;
  padding: 60px 0px;

  .join {
    text-align: center;

    img {
      width: auto;
      height: 40px;
    }

    h3 {
      color: $white;
      display: flex;
      align-items: flex-start;
    }

    button {
      padding: 5px 10px;
      border: 1px solid $white;
      margin-top: 20px;
      border-radius: 10px;

      a {
        color: $white;
      }

      &:hover {
        background-color: $white;

        a {
          color: $main_color;
        }
      }

    }
  }


}

.swiper-button-next,
.swiper-button-prev,
.banner-swiper-button-next,
.banner-swiper-button-prev,
.avatar-swiper-button-next,
.avatar-swiper-button-prev {
  border-radius: 50%;
  border: 1px solid $main_color;
  width: 50px !important;
  height: 50px !important;
}

.banner-swiper-button-next,
.banner-swiper-button-prev {
  border: 1px solid $white;
}

.banner-swiper-pagination {
  .swiper-pagination-bullet-active {
    background: $white !important;
  }
}

.avatar-swiper-button-prev,
.avatar-swiper-button-next {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
}

.avatar-swiper-button-prev {
  left: 0;
}

.avatar-swiper-button-next {
  right: 0;
}

.avatar-swiper-button-next,
.banner-swiper-button-next {
  &:after {
    content: 'next';
  }
}

.avatar-swiper-button-prev,
.banner-swiper-button-prev {
  &:after {
    content: 'prev';
  }
}

.avatar-swiper-button-next,
.avatar-swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.avatar-swiper-button-next:after,
.avatar-swiper-button-prev:after,
.banner-swiper-button-next:after,
.banner-swiper-button-prev:after {
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-next,
.banner-swiper-button-next {

  right: 1.5% !important;

}

.swiper-rtl {
  .swiper-button-prev {
    right: 1.5% !important;
  }
}

.swiper-button-prev,
.banner-swiper-button-prev {
  left: 1.5% !important;
}

.swiper-rtl {
  .swiper-button-next {
    left: 1.5% !important;
  }
}

.banner-swiper-button-prev,
.banner-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.banner-swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
  bottom: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

:root {
  --swiper-theme-color: #00a7e5;
  --swiper-navigation-size: 30px;
  --meter-height: 30px;
}