.question {
    &.slide {
        background-image: url(../image/photo/slide-question.jpeg);
    }
}

.main {

    &.question {
        max-width: 1200px;
        width: 80%;

        .grade-button {
          padding: 5px 10px;
          border: 1px solid $main_color;
          border-radius: 10px;
          margin: 20px auto 50px;

          a {
            color: $main_color;
          }

          &:hover {
            background-color: $main_color;

            a {
              color: $white;
            }
          }
        }

        .questio-area {
            margin-bottom: 30px;

            .faq-question{
                button {
                    display: flex;
                    align-items: center;
                    h1 {
                        margin-bottom: 0px;
                      }

                      h2 {
                        font-size: 20px;
                        margin-left: 20px;
                        text-align: left;
                      }
                  }
            }

            .faq-answer {
                display: none;
                margin-left: 65.35px;
                margin-top: 20px;
              }

              .question-arrow {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 0px;

                img {
                    width: 10px;
                    &.up {
                        transform: rotate(-180deg) !important;
                        -webkit-transform: rotate(-180deg) !important;
                        transition: 0.3s;
                      }
                  }

                  &:before,
                  &:after {
                    content: "";
                    position: absolute;
                    width: calc(50% - 20px);
                    height: 0.5px;
                    background: #4B4b4b;
                    top: calc(50% - 0.25px);
                  }

                  &:before {
                    left: 0;
                  }

                  &:after {
                    right: 0;
                  }
              }
          }
      }

    
}