/*register 註冊*/
.slide.register {
    padding-top: 40px;
  }
  
  .main.register {
    max-width: 450px;
    width: 80%;
    margin-top: 40px;
  }
  
  .main.register>.header_logo {
    position: initial;
    margin-bottom: 60px;
  }
  
  .main.register>.header_logo img {
    height: auto;
    width: 60%;
  }
  
  #yearError,
  #monthError,
  #dayError,
  #emailError,
  #pswError,
  #pswrepeatError,
  #nameError,
  #gradeError {
    display: none;
    margin-top: 10px;
    width: 100%;
  }
  
  #yearError.visible,
  #monthError.visible,
  #dayError.visible,
  #emailError.visible,
  #pswError.visible,
  #pswrepeatError.visible,
  #nameError.visible,
  #gradeError.visible {
    display: block;
    color: #d31225;
    font-size: 14px;
  }
  
  input.invalid {
    border-color: #d31225;
  }
  
  fieldset {
    border: 0px;
    display: flex;
    align-items: center;
  }
  
  legend {
    margin-bottom: 20px;
  }
  
  input[type="radio"i] {
    margin-right: 5px;
  }
  
  input[type="radio"i]~label {
    margin-left: 1rem;
    padding-left: 15px;
    position: relative;
  }
  
  .answer-list>label {
    display: inline-block;
    width: calc(100% - 16px);
  }
  
  .birthday {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .birthday>label {
    width: 100%;
  }
  
  .birthday>form {
    width: 30%;
  }
  
  .birthday>form>input,
  .birthday>form>select {
    width: 100%;
  }
  
  .have-account {
    margin: 30px auto;
    text-align: center;
  }
  
  .have-account>p>a {
    color: #00a7e5;
  }
  
  .have-account>p>a:hover {
    text-decoration: underline;
    font-weight: bold;
  }

  .signup {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #4B4B4B;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .signup>p {
    text-align: center;
  }
  
  .signup-button {
    width: 100%;
    margin-top: 25px;
    font-size: 17px;
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
    padding: 6px 0px;
    border-radius: 50px;
  }
  
  .signup-button:hover {
    color: #fff;
    background-color: #00a7e5;
    border: 1px solid #00a7e5;
    transition: 0.3s;
  }
  