.report {
    &.slide {
        background-image: url(../image/photo/personal-header-purple.png);
        margin-bottom: 0px;
    }
}

.main {
    &.report {
        width: 80%;

        .top-information {
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 80px;

            .dacclogo-information {
                width: 65%;
                justify-content: center;
                padding: 0px;
                overflow: hidden;
                background-color: #6b6299;

                .dacclogo-information-top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 25px;
                    background-color: $white;
                    width: 100%;

                    img {
                        height: 120px;
                        width: auto;
                    }

                    p {
                        margin: 0px 20px;
                        font-size: 40px;
                    }
                }

                .dacclogo-information-under {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 20px;

                    p {
                        color: #EFCA5E;
                        font-size: 65px;
                        width: 283px;
                        word-wrap: break-word;
                    }

                    .dacc-introduce-text {
                        width: calc(95% - 283px);

                        h3 {
                            color: #fff;
                        }

                        p {
                            color: #EFCA5E;
                            font-size: 17px;
                            width: auto;
                        }
                    }
                }

            }

            .dot {
                position: absolute;
                z-index: 1;
                left: 65%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 80%;
                width: 8px;
                background-size: 8px 5px;
                background-repeat: repeat-y;
                background-image: linear-gradient(0deg, transparent 1px, transparent 0), linear-gradient($grey 1px, transparent 0);
                background-position: 50% 50%;
            }

            .dacctest {
                width: 35%;
                margin-left: 0px;
                padding: 0px;
                overflow: hidden;
                background-color: #6b6299;
                justify-content: flex-start;

                img {
                    height: 120px;
                }

                .test-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 25px;
                    background-color: $white;
                    width: 100%;
                }

                .dacctest-text {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    flex-direction: column;

                    p {
                        color: $white;
                        text-align: center;
                        line-height: 1.8;
                    }

                    a {
                        p {
                            color: #6b6299;
                            background-color: #EFCA5E;
                            padding: 5px 25px;
                            border-radius: 10px;
                            margin: 15px auto 0px;
                        }
                    }
                }
            }

        }

        .daccPage-DACC__chart {
            display: none;
            background-color: $body_bg;

            .data-page-scroll {
                overflow-x: scroll;
            }

            .table-responsive {
                overflow-x: scroll;
            }

            .table {
                &.table-bordered {
                    &.daccPage-DACC__table {
                        min-width: 1130px;
                        margin: 0 auto;

                        tbody {
                            tr {
                                height: 60px;
                                background-color: $white;

                                td {
                                    border-color: $body_bg;
                                    padding: 0px 10px;

                                    .dacc-icon-times {
                                        display: inline-block;
                                        background-color: #fffcfb;
                                        border: 1px solid #c6c6c6;
                                        width: 22px;
                                        height: 22px;
                                        line-height: 18px;
                                        border-radius: 50%;
                                      }

                                    button {
                                        color: $white;
                                        border-radius: 10px;
                                        padding: 5px 15px;
                                        margin: 15px auto;
                                        text-align: center;
                                        background-color: $main_color;

                                        p {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }

                        thead {
                            tr {
                                background-color: $body_bg;

                                &:nth-child(1) {
                                    td {
                                        &:nth-child(5) {
                                            height: 55px;
                                        }

                                        &:nth-child(1),
                                        &:nth-child(3) {
                                            width: 10%;
                                        }

                                        &:nth-child(2),
                                        :nth-child(4) {
                                            width: 5%;
                                        }

                                        &:nth-child(6) {
                                            width: 11.5%;
                                        }

                                        &:nth-child(2) {
                                            td {
                                                width: 11.5%;
                                                height: 55px;
                                                border-top: none;
                                                border-right: none;
                                                border-left: none;
                                                padding: 5px 0px;
                                                vertical-align: top;
                                            }
                                        }

                                    }
                                }
                            }
                        }

                        td {
                            font-size: 16px;
                            text-align: center;
                        }

                        .dacc-icon-readinSkills {
                            font-size: 14px;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            border-radius: 50%;
                            color: $white;
                            vertical-align: text-bottom;
                            margin-bottom: 2px;
                        }

                        .dacc-icon-readinSkills {
                            &.skill-word {
                                background-color: #238BCC;
                            }

                            &.skill-superficiall {
                                background-color: #DF685F;
                            }

                            &.skill-textual {
                                background-color: #EBBC34;
                            }

                            &.skill-analysis {
                                background-color: #3EA07E;
                            }

                            &.skill-inference {
                                background-color: #6b6299;
                            }
                        }
                    }
                }
            }

            .daccPage-DACC__chart-overall,
            .daccPage-DACC__chart-dimensions,
            .daccPage-DACC-table {
                text-align: center;
                padding-top: 60px;
                margin-bottom: 60px;
            }

            .daccPage-DACC__chart-dimensions {
                .daccPage-DACC__chart-dimensions__control {
                    width: 1070px;
                    height: 270px;
                    position: relative;
                    margin: 0 auto;
                    background-image: url(../image/photo/chart-dimensions-bg.png);
                    background-repeat: no-repeat;
                    background-position: right top 6px;
                    background-size: calc(100% - 70px) 230px;

                    .chart-dimensions-x {
                        position: absolute;
                        z-index: 3;
                        bottom: 8px;
                        right: -70px;
                        font-size: 14px;
                        color: $grey;
                        width: 70px;
                        padding-left: 5px;
                      }
                      
                      .chart-dimensions-y {
                        position: absolute;
                        z-index: 3;
                        top: -30px;
                        left: 0;
                        font-size: 14px;
                        color: $grey;
                        width: 70px;
                        text-align: right;
                        padding-right: 10px;
                      }

                      .chart-dimensions-label {
                        position: absolute;
                        z-index: 3;
                        top: -25px;
                        left: 70px;
                        font-size: 16px;
                        color: $grey;
                        width: calc(100% - 70px);

                        span {
                            display: inline-block;
                            width: 20%;
                            text-align: center;
                          }
                      }
                  }
            }

            .daccPage-DACC__chart-overall {
                .daccPage-DACC__chart-overall__control {
                    width: 1070px;
                    margin: 0 auto;
                    position: relative;

                    .chartjs-size-monitor {
                        position: absolute;
                        direction: ltr;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                        pointer-events: none;
                        visibility: hidden;
                        z-index: -1;

                        .chartjs-size-monitor-expand,
                        .chartjs-size-monitor-shrink {
                            position: absolute;
                            direction: ltr;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            overflow: hidden;
                            pointer-events: none;
                            visibility: hidden;
                            z-index: -1;
                        }

                        .chart-overall-x {
                            position: absolute;
                            z-index: 3;
                            bottom: 8px;
                            right: -5px;
                            font-size: 14px;
                            color: $grey;
                          }
                          
                          .chart-overall-y {
                            position: absolute;
                            z-index: 3;
                            top: -30px;
                            left: 0;
                            font-size: 14px;
                            color: $grey;
                            width: 46px;
                            text-align: right;
                            padding-right: 10px;
                          }
                    }
                }
            }
        }
    }
}