body {
    background-color: $body_bg;
    counter-reset: page-number;
    /* 初始化，名字可自訂，數值為0 */
    -webkit-print-color-adjust: exact;
}

.page {
    /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
    /* page-break-after: always;  碰到此元素會直接換頁 */
    page-break-inside: avoid;
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;

    &:after {
        /* content: counter(page-number); 取用該名字的計數器 */
        /*counter-increment: page-number 1;  增加計數器數值 */
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 30px;
        text-align: center;
    }

    .report_header {
        .report_header_information {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            padding: 15px 2.5%;
            background-color: $report_header_bg;


            .report_header_information_time,
            .report_header_information_name,
            .report_header_information_level {
                width: calc(95% / 3);
            }

            .report_header_information_time {
                p {
                    color: $report_grey;
                }

                .report_header_information_time_item {
                    display: flex;
                    margin: 0 0 5px 0;

                    .report_header_information_time_item_icon {
                        width: 36px;
                        margin: 0 7px 0 0;
                    }
                }
            }

            .report_header_information_name {

                h3,
                h4 {
                    color: $report_grey;
                    text-align: center;
                }
            }

            .report_header_information_level {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                h4 {
                    color: $dark_blue;
                    text-align: center;
                    margin: 0 0 5px 0;
                }

                .report_header_information_level_value {
                    display: inline-block;
                    background-color: $dark_blue;
                    border-radius: 20px;
                    padding: 16px 50px;

                    h4 {
                        color: $white;
                        margin: 0;
                    }
                }
            }
        }
    }

    .report_content {
        width: 100%;

        .report_content_tittle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 15px;
            border-top: 8px solid $tittle_border_grey;
            border-bottom: 8px solid $tittle_border_grey;

            .report_content_tittle_icon {
                img {
                    width: 85px;
                }
            }

            .report_content_tittle_text {
                margin: 0 15px;

                h3 {
                    color: $report_grey;
                }
            }
        }

        .report_content_table{
                text-align: center;
                width: 100%;
            .table{
                width: 100%;

                thead{
                    display: table-caption;
                    tr{
                            width: 100%;
    display: inline-flex;
    padding: 10px 0;

                        td{
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 12%;

                            img{
                                width: 25px;
                                margin: 0 5px 0 0;
                            }

                            &:nth-child(1){
                                width: 8%;
                            }

                            &:nth-child(2){
                                width: 20%;
                            }
                        }
                    }
                }

                tbody{
                    background-color: $white;
                    tr{
                        td{
                        width: 12%;
                        background-color: $tittle_border_grey;
                        
                        padding: 10px 2px;

                        &:nth-child(1){
                                width: 8%;
                            }

                            &:nth-child(2){
                                width: 20%;
                            }

                            &:nth-last-child(1){
                                font-weight: bolder;
                            }
                    }

                    &:nth-last-child(1){
                        td{
                            background-color: $white;

                            &:nth-child(3){
                                color: $chart_one_color;
                                font-weight: bolder;
                            }

                            &:nth-child(4){
                                color: $chart_two_color;
                                font-weight: bolder;
                            }

                            &:nth-child(5){
                                color: $chart_three_color;
                                font-weight: bolder;
                            }

                            &:nth-child(6){
                                color: $chart_four_color;
                                font-weight: bolder;
                            }

                            &:nth-child(7){
                                color: $chart_five_color;
                                font-weight: bolder;
                            }
                        }
                    }
                    }
                }
            }
        }

        .report_content_chart{
            position: relative;

            .chart_canvas_text_area{
                width: 100%;
                height: 100%;

                .chart_point_text{
                    transform: translate(-50% , -50%);
                    text-align: center;

                    &.chart_point_one{
                        h4{
                            color: $chart_one_color;
                        }
                    }
                }
            }
        }
    }

    .report_chart {
        .data_page_scroll {
            padding: 10px 20px;
            margin: 30px auto;
            border-radius: 15px;
            box-shadow: 1px 1px 5px rgba(89, 87, 87, 0.4784313725);
            background-color: #efefef;

            .chart_control {
                min-width: 768px;
            }
        }
    }

    .report_title {
        width: 100%;
        z-index: 2;
        background-color: $main_color;
        padding: 20px 5%;

        img {
            width: 45%;
            max-width: 200px;
        }

        .text_content {

            h3 {
                border-bottom: 5px solid $white;
                margin: 10px auto;
                padding: 10px 0px;
                font-size: 40px;
                display: inline-block;
            }

            .chinese_title {
                font-size: 32px;
                margin-bottom: 10px;
                color: $white;
            }

            .english_title {
                color: $white;
            }

        }
    }

    .test_content {
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 3%;
        max-width: 768px;

    }
}

@page {
    /*size: portrait;  直向 */
    /*size: landscape;  橫向 */
    /*size: A4;  紙張大小 */
    size: A4 portrait;
    /* 混合使用 */
    min-height: 100vh;
    margin: 0;
    /* 邊界與內容的距離 */
}

@media print {
    body {
        background-color: $body_bg;
        counter-reset: page-number;
        /* 初始化，名字可自訂，數值為0 */
        -webkit-print-color-adjust: exact;
    }

    .page {
        /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */
        /* page-break-after: always;  碰到此元素會直接換頁 */
        page-break-inside: avoid;
        position: relative;
        background: linear-gradient(90deg, $main_color 22.5%, $white 0%);
        max-width: 1024px;
        width: 1024px;
        height: 1448px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 15px;
        overflow: hidden;

        &:after {
            /* content: counter(page-number); 取用該名字的計數器 */
            /*counter-increment: page-number 1;  增加計數器數值 */
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 30px;
            text-align: center;
        }

        .report_title {
            width: 20%;
            z-index: 2;
            margin: 15px 0 0;
            padding: 0;
            background-color: transparent;

            img {
                width: 100%;
                max-width: none;
            }

            .text_content {

                h3 {
                    border-bottom: 5px solid $white;
                    margin: 10px auto;
                    font-size: 28px;
                    display: block;
                }

                .chinese_title {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: $white;
                }

                .english_title {
                    font-size: 15px;
                    color: $white;
                }

            }
        }

        .test_content {
            width: 75%;
            z-index: 2;
            height: calc(100% - 417px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: none;
            padding: 0;

            .item {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                margin-bottom: 0;
                margin-top: 25px;

                .fraction_area {
                    margin: 0;
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;

                    .fraction,
                    .average {
                        display: none;
                        align-items: center;
                        margin-left: 10px;

                        p {
                            font-weight: bold;

                            &:nth-child(2) {
                                padding: 3px 5px;
                                border-radius: 5px;
                                min-width: 58px;
                                text-align: center;
                            }

                            &.score {
                                font-size: 18px;
                                margin-left: 5px;
                            }
                        }
                    }

                    .fraction {
                        p {
                            &:nth-child(2) {
                                color: $white;
                            }
                        }
                    }
                }

                .title_mark {
                    position: relative;
                    width: 10%;
                    max-width: 80px;
                    z-index: 1;

                    .number_mark {
                        position: absolute;
                        left: -5%;
                        top: 0%;
                        width: 45%;
                        transform: translate(0px, -50%);
                    }
                }

                .item_content {
                    background-color: $white;
                    border-radius: 5px;
                    width: 90%;
                    margin-left: -4%;

                    .content_title {
                        display: flex;
                        align-items: center;
                        padding: 5px 10px 5px 6%;
                        border-radius: 5px 5px 0 0;

                        h3 {
                            white-space: nowrap;
                        }

                        .fraction_area {
                            display: flex;

                            .fraction,
                            .average {
                                display: flex;
                            }
                        }
                    }

                    .content_introduce {
                        padding: 5px 10px 5px 6%;
                        border-radius: 0 0 5px 5px;
                        background-color: $white;
                        border-top: 0 !important;
                    }
                }
            }

        }
    }
}