.main {
    &.diagnosis {
        .tittle,
        .booklist_introduce {
            margin: 0 auto;
            width: 80%;
        }
        .frame_effect {
            background-color: $main_color;
            background-image: url(../image/photo/library/circle_effect.png);
            background-position: center;
            background-size: contain;
            background-attachment: fixed;
            margin: 0 auto;
            border: 10px solid transparent;
            padding: 60px 0px;
            width: 80%;
            border-radius: 10px;
            -webkit-border-image: url(../image/photo/library/border_effect_yellow.png) 25 round;
            -o-border-image: url(../image/photo/library/border_effect_yellow.png) 25 round;
            border-image: url(../image/photo/library/border_effect_yellow.png) 25 round;

            .folder {
                width: 95%;
                max-width: 1400px;
                margin: 0 auto;

                .folder_content {
                    background-color: $body_bg;
                    position: relative;
                    padding: 30px;
                    border: 2px solid;
                    border-radius: 10px;

                    .top_information {
                        display: flex;
                        justify-content: center;
                        position: relative;
                        margin-bottom: 80px;
                        .dcec_ticket {
                            width: 65%;
                            justify-content: center;
                            overflow: hidden;
                            background-color: $main_color;
                            .dcec_logo {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                padding: 25px;
                                background-color: $white;
                                width: 100%;
                                position: relative;
                                img {
                                    height: 120px;
                                    width: auto;
                                }
                                .wave_line_left {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    min-width: 5px;
                                    max-width: 5px;

                                    .wave_line_internal {
                                        height: 100%;
                                        width: 100%;
                                        background: radial-gradient(circle at 0 50%, $body_bg 50%, $white 0);
                                        background-size: 0.3rem 0.7rem;
                                        background-repeat: repeat-y;
                                    }
                                }
                                .wave_line_right {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    height: 100%;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    min-width: 5px;
                                    max-width: 5px;

                                    .wave_line_internal {
                                        height: 100%;
                                        width: 100%;
                                        background: radial-gradient(circle at 0 50%, $white 50%, $body_bg 0);
                                        background-size: 0.3rem 0.7rem;
                                        background-repeat: repeat-y;
                                    }
                                }
                            }
                            .dcec_text {
                                display: flex;
                                justify-content: space-around;
                                width: 100%;
                                height: 50%;
                                padding: 20px;
                                position: relative;
                                .wave_line_left {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    display: flex;
                                    min-width: 5px;
                                    max-width: 5px;

                                    .wave_line_internal {
                                        height: 100%;
                                        width: 100%;
                                        background: radial-gradient(circle at 0 50%, $body_bg 50%, $main_color 0);
                                        background-size: 0.3rem 0.7rem;
                                        background-repeat: repeat-y;
                                    }
                                }
                                .wave_line_right {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    height: 100%;
                                    display: flex;
                                    min-width: 5px;
                                    max-width: 5px;
                                    .wave_line_internal {
                                        height: 100%;
                                        width: 100%;
                                        background: radial-gradient(circle at 0 50%, $main_color 50%, $body_bg 0);
                                        background-size: 0.3rem 0.7rem;
                                        background-repeat: repeat-y;
                                    }
                                }
                            }
                            &.dcec_ticket_right {
                                width: 35%;
                            }
                        }
                    }

                    .dcecPage_chart {
                        width: 100%;
                        margin: 0px auto;
                        background-color: $body_bg;

                        h3 {
                            width: 100%;
                            text-align: center;
                            color: $brown;
                        }

                        .dcecPage_table {
                            text-align: center;
                            margin: 20px auto 40px;
                            &.table_responsive {
                                overflow-x: scroll;
                                &::-webkit-scrollbar {
                                    background: transparent;
                                    height: 8px;
                                    width: 12px;
                                }

                                &::-webkit-scrollbar-thumb {
                                    border: none;
                                    box-shadow: none;
                                    background: $main_color;
                                    border-radius: 4px;
                                    min-height: 40px;
                                }
                                &::-webkit-scrollbar-track {
                                    margin: 3px 0;
                                }
                            }

                            .table {
                                min-width: 1130px;
                                margin: 0 auto;
                                thead {
                                    tr {
                                        background-color: darken($body_bg, 10%);
                                        &:nth-child(1) {
                                            td {
                                                &:nth-child(1),
                                                &:nth-child(3) {
                                                    width: 10%;
                                                }
                                                &:nth-child(2),
                                                &:nth-child(4) {
                                                    width: 5%;
                                                }
                                                &:nth-child(5) {
                                                    height: 55px;
                                                }
                                            }
                                        }
                                        &:nth-child(2) {
                                            td {
                                                width: 11.5%;
                                                height: 55px;
                                                border-top: none;
                                                border-right: none;
                                                border-left: none;
                                                padding: 5px 0px;
                                                vertical-align: top;
                                            }
                                        }
                                        td {
                                            .dcec_icon_readinSkills {
                                                font-size: 14px;
                                                display: inline-block;
                                                width: 20px;
                                                height: 20px;
                                                line-height: 20px;
                                                border-radius: 50%;
                                                color: $white;
                                                vertical-align: text-bottom;
                                                margin-bottom: 2px;
                                                &.skill_word {
                                                    background-color: $skill_word;
                                                }
                                                &.skill_superficiall {
                                                    background-color: $skill_superficiall;
                                                }
                                                &.skill_textual {
                                                    background-color: $skill_textual;
                                                }
                                                &.skill_analysis {
                                                    background-color: $skill_analysis;
                                                }
                                                &.skill_inference {
                                                    background-color: $skill_inference;
                                                }
                                            }
                                        }
                                    }
                                }
                                tbody{
                                    tr{
                                        background-color: $white;
                                        height: 60px;
                                        td{
                                            border-color: $brown;
                                            padding: 0px 10px;
                                            .dcec_icon_times {
                                                display: inline-block;
                                                background-color: $white;
                                                border: 1px solid $brown;
                                                width: 22px;
                                                height: 22px;
                                                line-height: 18px;
                                                border-radius: 50%;
                                            }
                                            .dcecPage_table_btn{
                                                background-color: $main_color;
                                                padding: 5px;
                                                p{
                                                    color: $white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .main {
        &.diagnosis {
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        &.diagnosis {
        }
    }
}

@media screen and (max-width: 1024px) {
    .main {
        &.diagnosis {
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &.diagnosis {
        }
    }
}

@media screen and (max-width: 499px) {
    .main {
        &.diagnosis {
        }
    }
}
