.main.grade_map {
    margin: 0px auto;
    background-color: $body_bg;

    .grade_link{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px auto;
        .level_correspondence_marker{
            margin: 5px 10px;
            &::before{
                display: none;
            }
            .level_correspondence_marker_inner{
                width: 60px;
                &::after{
                    width: calc(100% + 5px);
                    height: calc(100% + 5px);
                    border: 1.5px solid;
                    display: none;
                }
                &:hover{
                    &::after{
                        display: block;
                    }
                }
                &.first_grade_marker_inner{
                    &::after{
                        border-color: $first_grade_color;
                    }
                }
                &.second_grade_marker_inner{
                    &::after{
                        border-color: $second_grade_color;
                    }
                }
                &.third_grade_marker_inner{
                    &::after{
                        border-color: $third_grade_color;
                    }
                }
                &.fourth_grade_marker_inner{
                    &::after{
                        border-color: $fourth_grade_color;
                    }
                }
                &.fifth_grade_marker_inner{
                    &::after{
                        border-color: $fifth_grade_color;
                    }
                }
                &.sixth_grade_marker_inner{
                    &::after{
                        border-color: $sixth_grade_color;
                    }
                }
                &.seventh_grade_marker_inner{
                    &::after{
                        border-color: $seventh_grade_color;
                    }
                }
                &.eighth_grade_marker_inner{
                    &::after{
                        border-color: $eighth_grade_color;
                    }
                }
                &.ninth_grade_marker_inner{
                    &::after{
                        border-color: $ninth_grade_color;
                    }
                }
            }
        }
    }

    .map_object {
        position: relative;
        
        &.grade_map_object {
            margin-top: 7%;
            .level_correspondence_marker {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                height: auto;
                width: 5%;

                &::before {
                    position: relative;
                }

                .level_correspondence_marker_inner {
                    width: 100%;
                }
            }

            .map_object_item {
                line-height: 0;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .map_object_roof {
                    // position: relative;

                    img {
                        position: relative;
                    }
                }

                .map_object_sign {
                    display: flex;
                    // position: absolute;
                    // top: 100%;
                    // left: 50%;
                    // transform: translate(-50%, -85%);
                    align-items: center;
                    justify-content: space-between;
                    z-index: 2;
                    width: 90%;

                    .map_object_sign_one,
                    .map_object_sign_two,
                    .map_object_sign_three {
                        img {
                            position: relative;
                        }

                        .map_object_sign_item {
                            img {
                                position: absolute;
                                z-index: -1;
                                left: 50%;
                                transform: translate(-50%, -0%);
                            }
                        }
                    }

                    .map_object_sign_one,
                    .map_object_sign_three {
                        width: 30%;
                        position: absolute;

                        a {
                            line-height: 0;

                            .level_correspondence_marker {
                                position: absolute;
                                top: 0;
                                transform: translate(-50%, 0%);
                                background: $main_color;
                                height: 100%;
                                width: 100%;
                                z-index: -1;
                                border-radius: 10px;
                                max-width: none;

                                .level_correspondence_marker_inner {
                                    width: 16%;
                                }

                                &.first_level_correspondence_marker{
                                    background-color: $first_grade_color;
                                }

                                &.second_level_correspondence_marker{
                                    background-color: $second_grade_color;
                                }

                                &.third_level_correspondence_marker{
                                    background-color: $third_grade_color;
                                }

                                &.fourth_level_correspondence_marker{
                                    background-color: $fourth_grade_color;
                                }

                                &.fifth_level_correspondence_marker{
                                    background-color: $fifth_grade_color;
                                }

                                &.sixth_level_correspondence_marker{
                                    background-color: $sixth_grade_color;
                                }

                                &.seventh_level_correspondence_marker{
                                    background-color: $seventh_grade_color;
                                }

                                &.eighth_level_correspondence_marker{
                                    background-color: $eighth_grade_color;
                                }

                                &.ninth_level_correspondence_marker{
                                    background-color: $ninth_grade_color;
                                }
                            }

                        }
                    }

                    .map_object_sign_one {
                        left: 0;

                        a {

                            .level_correspondence_marker {

                                .level_correspondence_marker_inner {
                                    position: absolute;
                                    left: 25%;
                                    transform: translate(calc(-50% + 8px), 0px);
                                }

                            }

                        }
                    }

                    .map_object_sign_three {
                        right: 0;

                        a {

                            .level_correspondence_marker {

                                .level_correspondence_marker_inner {
                                    position: absolute;
                                    right: 25%;
                                    transform: translate(calc(50% - 8px), 0px);
                                }

                            }

                        }
                    }

                    .map_object_sign_two {
                        width: 75%;
                        position: relative;
                        left: 50%;
                        z-index: 2;
                        transform: translate(-50%, 0%);
                    }
                }
            }
        }

        &.new_map{
            margin-top: 0%;

            .map_object_item_frame {

                // display: flex;
                // align-items: flex-end;

                .map_object_sign {
                    // top: inherit;
                    // bottom: 0;
                    // transform: translate(-50%, 0%);
                    width: 100%;
                    align-items: flex-end;

                    .map_object_sign_one,
                    .map_object_sign_three{
                        z-index: 1;
                    }
                    .map_object_sign_one,
                    .map_object_sign_three{
                        .map_object_sign_item{
                            width: 75%;
                            position: relative;
                            left: 50%;
                            transform: translate(-50%, 0px);

                            img{
                                position: relative;
                            }
                        }
                    }
                    .map_object_sign_two {
                        margin: 0 auto;
                        left: 0;
                        transform: translate(0% , 0%);
                    
                        .map_object_sign_item{
                            img{
                                top: 0;
                                transform: translate(-50% , 0%);
                                width: 95%;
                                &:nth-child(1){
                                    width: 100%;
                                }
                            }
                            .map_bg{
                                position: relative;
                            }
                        }
                    }
                }

                
            }
        }

    }

    .medal_area{
        position: absolute;
        right: 0;
        top: 100px;
        padding: 10px 20px;
        border-radius: 50px 0px 0px 50px;
        background-color: $white;
        display: flex;
        align-items: center;
        z-index: 2;
        img{
            max-width: 100px;
        }
        .medal_area_text{
            text-align: center;
            margin: 0px 0px 0px 10px;
        }
        &.medal_area_first_grade{
            .medal_area_text{
                color: $first_grade_color;
            }
        }
    }

    .map_book_area_bg {
        width: 100%;
        margin: 0px auto;
        background-image: url(../image/photo/map/map_object/map_book_area_bg.png);
        background-repeat: repeat-y;
        background-position: center;
        background-size: contain;
        padding: 240px 0px 0px;

        &.new_map{
            background-image: none;
            padding: 0;
            transform: translate(0px, -135px);


            .map_object_table{
                border-width: 80px;
                    width: 100%;
                    border-color: transparent transparent $first_grade_color;
                    border-style: solid solid solid solid;
                img{
                    position: relative;
                }
            }

            .map_book_area{
                border-color: $main_color;
            }

        }
        &.map_book_area_first_grade{
            .map_object_table{
                    border-color: transparent transparent $first_grade_color;
                    border-style: solid solid solid solid;
            }
            .map_book_area{
                border-color: $first_grade_color;
            }
        }
        &.map_book_area_second_grade{
            .map_object_table{
                    border-color: transparent transparent $second_grade_color;
                    border-style: solid solid solid solid;
            }
            .map_book_area{
                border-color: $second_grade_color;
            }
        }

        &.map_book_area_third_grade{
            .map_object_table{
                    border-color: transparent transparent $third_grade_color;
                    border-style: solid solid solid solid;
            }
            .map_book_area{
                border-color: $third_grade_color;
            }
        }
        &.map_book_area_fourth_grade{
            .map_object_table{
                    border-color: transparent transparent $fourth_grade_color;
                    border-style: solid solid solid solid;
            }
            .map_book_area{
                border-color: $fourth_grade_color;
            }
        }
        &.map_book_area_fifth_grade{
            .map_object_table{
                    border-color: transparent transparent $fifth_grade_color;
                    border-style: solid solid solid solid;
            }
            .map_book_area{
                border-color: $fifth_grade_color;
            }
        }
        .map_book_area {
            width: 100%;
            padding: 0px 0% 50px;
            margin: 0px auto;
            background-color: $body_bg;
            position: relative;
            border: 10px solid $circus_blue;

            .coin_area{
                margin: 0px auto 20px;
                width: 80%;

                .coin_image{
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    margin: 0 auto;

                    &::before{
                        content: "";
                        position: absolute;
                        width: calc(100% - 6px);
                        height: 8px;
                        border: 2px solid;
                        border-top: 0px;
                        bottom: 0;
                        z-index: 3;
                        border-radius: 50px;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        width: calc(100% - 6px);
                        height: 8px;
                        border: 2px solid;
                        border-bottom: 0px;
                        bottom: 0;
                        border-radius: 50px;
                        z-index: 1;
                        background-color: $grey;
                    }
                    img{
                        position: absolute;
                        left: calc(40%);
                        transform: scale(0.8)  translate(-50%, 0);
                        z-index: 2;
                    }
                }

                .coin_text{
                    text-align: center;
                    margin: 10px auto;
                }
                
                .coin_progress_frame{
                    margin: 0 auto;
                    width: 80%;
                    max-width: 356px;
                    height: 21px;
                    border: 2px solid $grey;
                    border-radius: 50px;

                    .coin_progress{
                        margin: 5px auto;
                        width: calc(100% - 2px);
                        height: 15px;
                        border-radius: 50px;
                        overflow: hidden;
                        display: flex;
                        margin-top: 1px;
    
                        .progress_separate{
                            width: calc(100% / 10);
                            height: 100%;
                            border-right: 1px solid $white;
                            &:last-child {
                                border-right: 0px;
                            }

                            &.get_coins{
                                background-color: $main_color;
                            }
                        }
    
                    }

                }
                
            }

            .ticket_bg {
                padding: 40px 0px;

                .ticket_area {
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    margin: 0px auto;
                    max-width: 1800px;

                    .ticket_wrap {
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        .ticket {
                            position: relative;

                            &.ticket_left {
                                width: 100%;
                                background-color: $ticket_bg;

                                .exchange {
                                    display: none;
                                    width: 30%;
                                    position: absolute;
                                    right: 10px;
                                    top: 50%;
                                    transform: translate(0px, -50%) rotate(45deg);
                                }

                                &:before,
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    width: 10px;
                                    height: 10px;
                                    background: $body_bg;
                                    border-radius: 50%;
                                    right: -5px;
                                    z-index: 1;
                                }

                                &:before {
                                    top: -5px;
                                }

                                &:after {
                                    bottom: -5px;
                                }

                                .ticket_object {
                                    line-height: 0;
                                }

                                &.ticket_first_grade{
                                    background-color: $first_grade_color;

                                    .wave_line {
                                        &.wave_line_left {
        
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $first_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
            
                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $first_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                            }

                            &.ticket_right {
                                width: 100%;
                                padding: 10px 0px;
                                background-color: $ticket_bg;
                                position: relative;
                                border-top: 1px dotted $brown;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;

                                &.ticket_first_grade{
                                    background-color: $first_grade_color;

                                    .wave_line {
                                        &.wave_line_left {
        
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $first_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
            
                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $first_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }

                                }

                                .ticket_medal{
                                    display: flex;
                                    align-items: center;
                                    img{
                                        max-width: 30px;
                                        margin: 0px 10px;
                                    }
                                    p{
                                        color: $white;
                                    }
                                }

                                .receive {
                                    button {
                                        background-color: $main_color;
                                        padding: 5px 10px;
                                        color: $white;
                                        margin: 0px auto;

                                        &:disabled {
                                            background-color: $grey;
                                            border-radius: 10px;
                                        }
                                    }

                                    p {
                                        color: $white;
                                        cursor: pointer;
                                    }

                                }
                            }
                        }

                        &.exchange_ticket {

                            padding-right: 3%;

                            .ticket_left {
                                .exchange {
                                    display: block;
                                }
                            }

                            .ticket_right {
                                display: none;
                            }

                        }

                        /* 波浪線 */
                        .wave_line {
                            &.wave_line_left {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                display: flex;
                                min-width: 5px;
                                max-width: 5px;

                                .wave_line_internal {
                                    height: 100%;
                                    width: 100%;
                                    background: radial-gradient(circle at 0 50%, $body_bg 50%, $ticket_bg 0);
                                    background-size: 0.3rem 0.7rem;
                                    background-repeat: repeat-y;
                                }
                            }

                            &.wave_line_right {
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 100%;
                                display: flex;
                                min-width: 5px;
                                max-width: 5px;
                                transform: rotate(180deg);

                                .wave_line_internal {
                                    height: 100%;
                                    width: 100%;
                                    background: radial-gradient(circle at 0 50%, $body_bg 50%, $ticket_bg 0);
                                    background-size: 0.3rem 0.7rem;
                                    background-repeat: repeat-y;
                                }
                            }
                        }
                    }
                }
            }

            .book_area {
                margin: 80px auto 0px;

                .grade_map_booklist {
                    .swiper {
                        .swiper-wrapper {
                            flex-wrap: wrap;

                            .swiper-slide {
                                width: calc(25% - 40px);
                                margin: 0px 20px 40px 20px;
                            }
                        }
                    }
                }

                .page {
                    display: flex;
                    justify-content: center;

                    .pagination {

                        a,
                        span {
                            padding: 5px 0.5rem;
                            border-radius: 10px;
                            margin: 0px 5px;
                            color: $brown;

                            &:hover,
                            &:active,
                            &.active {
                                background-color: $main_color;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }



}

@media screen and (max-width: 1200px) {
    .main.grade_map {

        .grade_link{
            .level_correspondence_marker{
                position: relative;
                margin: px;
                .level_correspondence_marker_inner{
                    width: 40px;
                }
            }
        }

        .map_object {
            &.grade_map_object {
                .level_correspondence_marker {
                    align-items: center;
                    &::before {
                        bottom: 0;
                    }
                }
            }
        }
        

        .map_book_area_bg {
            .map_book_area {

                .ticket_bg {
                    .ticket_area {
                        width: 90%;
                        .ticket_wrap {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
    
                            .ticket {
                                position: relative;
    
                                &.ticket_right {
    
                                    .ticket_medal{
                                        img{
                                            max-width: 50px;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }

            }
        }


    }
}

@media screen and (max-width: 1024px) {
    .main.grade_map {

        .medal_area{
            img{
                max-width: 70px;
            }
        }

        .map_book_area_bg {

            &.new_map{
                background-image: none;
                padding: 0;
                transform: translate(0px, -100px);
    
    
                .map_object_table{
                    border-width: 50px;
                    
                }
    
            }

            .map_book_area {
                .ticket_bg {
                    padding: 40px 0px 0px;

                    .ticket_area {
                        .ticket_wrap {
                            .ticket {
                                position: relative;

                                &.ticket_left {

                                    &:before,
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        display: block;
                                        width: 10px;
                                        height: 10px;
                                        background: $body_bg;
                                        border-radius: 50%;
                                        right: -5px;
                                        z-index: 1;
                                    }

                                    &:before {
                                        top: -5px;
                                    }

                                    &:after {
                                        bottom: -5px;
                                    }

                                }

                                &.ticket_right {

                                    .receive {
                                        button {
                                            padding: 5px 8px;
                                        }

                                    }
                                }
                            }

                        }
                    }
                }


                .book_area {
                    margin: 45px auto 0px;

                    .grade_map_booklist {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    width: calc(33% - 30px);
                                    margin: 0px 15px 30px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

@media screen and (max-width: 768px) {
    .main.grade_map {

        .medal_area{
            position: fixed;
            flex-direction: column;
            top: auto;
            bottom: 20px;
            padding: 8px 15px;
            img{
                max-width: 55px;
            }
            .medal_area_text{
                margin: 5px auto 0px;
            }
        }

        .map_book_area_bg {
            .map_book_area {

                .coin_area{
    
                    .coin_image{
                        width: 150px;
                        height: 150px;
                    }
                    
                    .coin_progress_frame{
                        max-width: 300px;
                        height: 16px;

                        .coin_progress{
                            height: 10px;
                        }
    
                    }
                    
                }

                .ticket_bg{
                    .ticket_area {
                        width: 90%;
    
                        .ticket_wrap {
                            .ticket {
                                position: relative;
    
    
                                &.ticket_right {
    
                                    .ticket_medal{
                                        img{
                                            max-width: 30px;
                                        }
                                    }
    
                                    .receive {
                                        button {
                                            padding: 5px;
                                        }
    
                                    }
                                }
                            }
    
                        }
                    }
                }

                

                .book_area {
                    margin: 40px auto 0px;

                    .grade_map_booklist {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    width: calc(50% - 30px);
                                    margin: 0px 15px 30px 15px;
                                }
                            }
                        }
                    }

                    .page {

                        .pagination {

                            a,
                            span {
                                margin: 0px;
                                padding: 5px 0.45rem;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 499px) {
    .main.grade_map {

        .map_book_area_bg {
            .map_book_area {

                .coin_area{
                    margin: 20px auto 10px;

                    .coin_image{
                        width: 100px;
                        height: 100px;
                    }
                    
                    .coin_progress_frame{
                        max-width: 250px;
    
                    }
                    
                }

                .book_area {
                    .grade_map_booklist {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    width: calc(100% - 0px);
                                    margin: 0px auto 30px auto;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}