.main.grade_map {
  margin: 0px auto -135px;
  background-color: $body_bg;

  .tittle {
    padding: 30px 0px 70px 0px;
  }

  .map_object {
    position: relative;

    &.grade_map_object {
      .level_correspondence_marker {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        height: auto;
        width: 5%;

        &::before {
          position: relative;
        }

        .level_correspondence_marker_inner {
          width: 100%;
        }
      }

      .map_object_item {
        line-height: 0;

        img {
          position: absolute;
          top: 0;
          left: 0;
        }

        .map_object_roof {
          width: 85%;
          margin: 0 auto;

          img {
            position: relative;
          }
        }

        .map_object_sign {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          z-index: 2;
          width: 100%;

          .map_object_sign_one,
          .map_object_sign_two,
          .map_object_sign_three {
            img {
              position: relative;
            }

            .map_object_sign_item {
              img {
                position: absolute;
                z-index: -1;
                left: 50%;
                transform: translate(-50%, -0%);
              }
            }
          }

          .map_object_sign_one,
          .map_object_sign_three {
            width: 30%;
            position: absolute;
            z-index: 1;

            a {
              line-height: 0;

              .level_correspondence_marker {
                position: absolute;
                top: 0;
                transform: translate(-50%, 0%);
                background: $main_color;
                height: 100%;
                width: 100%;
                z-index: -1;
                border-radius: 10px;
                max-width: none;

                .level_correspondence_marker_inner {
                  width: 16%;
                }

                &.first_level_correspondence_marker {
                  background-color: $first_grade_color;
                }

                &.second_level_correspondence_marker {
                  background-color: $second_grade_color;
                }

                &.third_level_correspondence_marker {
                  background-color: $third_grade_color;
                }

                &.fourth_level_correspondence_marker {
                  background-color: $fourth_grade_color;
                }

                &.fifth_level_correspondence_marker {
                  background-color: $fifth_grade_color;
                }

                &.sixth_level_correspondence_marker {
                  background-color: $sixth_grade_color;
                }

                &.seventh_level_correspondence_marker {
                  background-color: $seventh_grade_color;
                }

                &.eighth_level_correspondence_marker {
                  background-color: $eighth_grade_color;
                }

                &.ninth_level_correspondence_marker {
                  background-color: $ninth_grade_color;
                }
              }
            }

            .map_object_sign_item {
              width: 68%;
              position: relative;
              left: 50%;
              transform: translate(-50%, 0px);

              img {
                position: relative;
              }
            }
          }

          .map_object_sign_one {
            left: 0;

            a {
              .level_correspondence_marker {
                .level_correspondence_marker_inner {
                  position: absolute;
                  left: 25%;
                  transform: translate(calc(-50% + 8px), 0px);
                }
              }
            }
          }

          .map_object_sign_three {
            right: 0;

            a {
              .level_correspondence_marker {
                .level_correspondence_marker_inner {
                  position: absolute;
                  right: 25%;
                  transform: translate(calc(50% - 8px), 0px);
                }
              }
            }
          }

          .map_object_sign_two {
            width: 68%;
            position: relative;
            left: 0;
            z-index: 2;
            transform: translate(0%, 0%);
            margin: 0 auto;

            .map_object_sign_item {
              img {
                top: 0;
                transform: translate(-50%, 0%);
                width: 95%;

                &:nth-child(1) {
                  width: 100%;
                }
              }

              .map_bg {
                position: relative;
              }
            }

            .map_object_btn {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 50%;
              border-radius: 50%;
              background-color: $body_bg;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover{
                  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
              }
              
              &.map_object_btn_first_grade{
                background-color: $first_grade_color;
            }
            &.map_object_btn_second_grade{
                background-color: $second_grade_color;
            }
            &.map_object_btn_third_grade{
                background-color: $third_grade_color;
            }
            &.map_object_btn_fourth_grade{
                background-color: $fourth_grade_color;
            }
            &.map_object_btn_fifth_grade{
                background-color: $fifth_grade_color;
            }
            &.map_object_btn_sixth_grade{
                background-color: $sixth_grade_color;
            }
            &.map_object_btn_seventh_grade{
                background-color: $seventh_grade_color;
            }
            &.map_object_btn_eighth_grade{
                background-color: $eighth_grade_color;
            }
            &.map_object_btn_ninth_grade{
                background-color: $ninth_grade_color;
            }

              &.map_object_btn_prev {
                left: 0;
                transform: translate(-50%, -50%) scale(0.8);

              &:hover{
                  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
                  transform: translate(-50%, -50%) scale(1);
              }
              }
              &.map_object_btn_next {
                right: 0;
                transform: translate(50%, -50%) scale(0.8);

              &:hover{
                  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
                  transform: translate(50%, -50%) scale(1);
              }
              }
              .map_object_btn_link {
                position: relative;
                color: $white;
                display: flex;
              justify-content: center;
              align-items: center;
                &::after{
                    font-family: swiper-icons;
                font-size: 25px;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: initial;
                line-height: 1;
                }

                &.map_object_btn_link_prev {
                  &::after {
                    content: "prev";
                  }
                }

                &.map_object_btn_link_next {
                  &::after {
                    content: "next";
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .map_book_area_bg {
    width: 100%;
    margin: 0px auto;
    background-image: none;
    padding: 0;
    transform: translate(0px, -135px);

    .map_object_table {
      border-width: 80px;
      width: 100%;
      border-color: transparent transparent $first_grade_color;
      border-style: solid solid solid solid;

      img {
        position: relative;
      }
    }

    .level_introduction {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      p {
        color: white;
        padding: 3px 0px;
        margin: 0px 10px;
        max-width: 90%;
      }

      &.level_introduction_two{
          width: 80%;
          max-width: 1200px;
          margin: 0 auto 40px;
    border-radius: 50px;
    padding: 5px 10px;
    display: none;

    &.active{
      display: flex;
    }
      }

      &.other_grade_introduction{
        margin: 60px auto 0px;
        background-color: $brown;
        display: none;
      }

      &.introduction_first_grade {
        background-color: $first_grade_color;
      }

      &.introduction_second_grade {
        background-color: $second_grade_color;
      }

      &.introduction_third_grade {
        background-color: $third_grade_color;
      }

      &.introduction_fourth_grade {
        background-color: $fourth_grade_color;
      }

      &.introduction_fifth_grade {
        background-color: $fifth_grade_color;
      }

      &.introduction_sixth_grade {
        background-color: $sixth_grade_color;
      }

      &.introduction_seventh_grade {
        background-color: $seventh_grade_color;
      }

      &.introduction_eighth_grade {
        background-color: $eighth_grade_color;
      }

      &.introduction_ninth_grade {
        background-color: $ninth_grade_color;
      }
    }

    .map_book_area {
      width: 100%;
      padding: 0px 0% 50px;
      margin: 0px auto;
      background-color: $body_bg;
      position: relative;

      &.map_book_area_first_grade{
        background-color: $map_book_area_first_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_first_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_first_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_first_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_second_grade{
        background-color: $map_book_area_second_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_second_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_second_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_second_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_third_grade{
        background-color: $map_book_area_third_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_third_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_third_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_third_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_fourth_grade{
        background-color: $map_book_area_fourth_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_fourth_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_fourth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_fourth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_fifth_grade{
        background-color: $map_book_area_fifth_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_fifth_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_fifth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_fifth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_sixth_grade{
        background-color: $map_book_area_sixth_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_sixth_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_sixth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_sixth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_seventh_grade{
        background-color: $map_book_area_seventh_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_seventh_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_seventh_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_seventh_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_eighth_grade{
        background-color: $map_book_area_eighth_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_eighth_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_eighth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_eighth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }
      &.map_book_area_ninth_grade{
        background-color: $map_book_area_ninth_grade_color;
        .ticket_bg {
          .ticket_area {
            .ticket_wrap {
  
              &:before,
              &:after {
                background: $map_book_area_ninth_grade_color;
              }

              /* 波浪線 */
              .wave_line {
                &.wave_line_left {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_ninth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
  
                &.wave_line_right {
  
                  .wave_line_internal {
                    height: 100%;
                    width: 100%;
                    background: radial-gradient(
                      circle at 0 50%,
                      $map_book_area_ninth_grade_color 50%,
                      $ticket_bg 0
                    );
                    background-size: 0.3rem 0.7rem;
                    background-repeat: repeat-y;
                  }
                }
              }
            }
          }
        }
      }

      .ticket_bg {
        padding: 40px 0px 40px;
        position: relative;
        .ticket_area {
          display: flex;
          justify-content: center;
          width: 90%;
          margin: 0px auto;
          max-width: 1800px;
          .medal_swiper-slide {
            background-color: $ticket_bg;
            display: flex;
            justify-content: center;
            justify-content: center;
            height: auto;

            .medal_area {
              padding: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              img {
                max-width: 90px;
                width: 75%;
              }

              .medal_area_text {
                text-align: center;
                margin: 10px auto 0px;
                p {
                  display: inline-block;
                }
                .medal_area_button {
                  display: inline-block;
                  background-color: $brown;
                  color: $white;
                  border-radius: 50%;
                  cursor: pointer;
                  width: calc(17px * 1.7);

                  &:hover {
                    background-color: darken($brown, 10%);
                  }
                }
              }

              .receive {
                button {
                  background-color: $main_color;
                  padding: 0px 10px;
                  color: $white;
                  margin: 5px auto;

                  &:hover{
                    background-color: darken($main_color, 10%);
                  }

                  &:disabled {
                    background-color: $grey;
                    border-radius: 10px;

                    &:hover{
                      background-color: $grey;
                      transform: scale(1);
                      box-shadow: none;
                    }
                  }
                }

                p {
                  color: $white;
                  cursor: pointer;
                }
              }
            }
          }
          .swiper-slide {
            width: calc((100% - 255px) / 5);
            height: auto;
            position: relative;
            &:nth-child(1) {
              width: 255px !important;
              background-color: $white;
            }
            &.notget{
              &:hover{
                &:after{
                  opacity: 1;                
                }
              }
              &:after{
                content: attr(data-des);
                width: 80%;
                position: absolute;
                bottom: 10px;
                left: 50%;
                font-size: 15px;
                text-align: center;
                -webkit-transform: translate(-50%, 0px);
                transform: translate(-50%, 0px);
                opacity: 0;
                z-index: 1;
                -webkit-transition: .5s;
                transition: .5s;
                color: $white;
                background-color: $brown;
                padding: 5px;
                border-radius: 10px;
                filter: grayscale(1);
              }
            }
          }
          .ticket_wrap {
            width: 100%;
            height: 100%;
            background-color: $ticket_bg;
            position: relative;
            display: flex;
            align-items: center;

            &:before,
            &:after {
              content: "";
              position: absolute;
              display: block;
              width: 10px;
              height: 10px;
              background: $white;
              border-radius: 50%;
              right: -5px;
              z-index: 1;
            }

            &:before {
              top: -5px;
            }

            &:after {
              bottom: -5px;
            }

            .ticket {
              width: 100%;
              .redeem {
                display: none;
                width: 30%;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translate(0px, -50%) rotate(45deg);
              }

              &.redeem_ticket {
                .redeem {
                  display: block;
                }

                .ticket_right {
                  .receive {
                    display: none;
                  }
                }
              }

              .ticket_object {
                line-height: 0;
              }
              // &.ticket_right {
              //   width: 100%;
              //   height: 100%;
              //   padding: 10px 0px;
              //   background-color: $ticket_bg;
              //   position: relative;
              //   border-top: 1px dotted $white;
              //   display: flex;
              //   align-items: center;
              //   justify-content: space-around;

              //   &.ticket_first_grade {
              //     background-color: $first_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $first_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $first_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_second_grade {
              //     background-color: $second_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $second_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $second_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_third_grade {
              //     background-color: $third_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $third_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $third_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_fourth_grade {
              //     background-color: $fourth_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $fourth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $fourth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_fifth_grade {
              //     background-color: $fifth_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $fifth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $fifth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_sixth_grade {
              //     background-color: $sixth_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $sixth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $sixth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_seventh_grade {
              //     background-color: $seventh_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $seventh_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $seventh_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_eighth_grade {
              //     background-color: $eighth_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $eighth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $eighth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   &.ticket_ninth_grade {
              //     background-color: $ninth_grade_color;

              //     .wave_line {
              //       &.wave_line_left {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $ninth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }

              //       &.wave_line_right {
              //         .wave_line_internal {
              //           height: 100%;
              //           width: 100%;
              //           background: radial-gradient(
              //             circle at 0 50%,
              //             $body_bg 50%,
              //             $ninth_grade_color 0
              //           );
              //           background-size: 0.3rem 0.7rem;
              //           background-repeat: repeat-y;
              //         }
              //       }
              //     }
              //   }

              //   .ticket_medal {
              //     display: flex;
              //     align-items: center;

              //     img {
              //       max-width: 30px;
              //       margin: 0px 10px;
              //     }

              //     p {
              //       color: $white;
              //     }
              //   }

              //   .receive {
              //     button {
              //       background-color: $main_color;
              //       padding: 0px 10px;
              //       color: $white;
              //       margin: 0px auto;

              //       &:disabled {
              //         background-color: $grey;
              //         border-radius: 10px;
              //       }
              //     }

              //     p {
              //       color: $white;
              //       cursor: pointer;
              //     }
              //   }
              // }
            }

            /* 波浪線 */
            .wave_line {
              &.wave_line_left {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: flex;
                min-width: 5px;
                max-width: 5px;

                .wave_line_internal {
                  height: 100%;
                  width: 100%;
                  background: radial-gradient(
                    circle at 0 50%,
                    $white 50%,
                    $ticket_bg 0
                  );
                  background-size: 0.3rem 0.7rem;
                  background-repeat: repeat-y;
                }
              }

              &.wave_line_right {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: flex;
                min-width: 5px;
                max-width: 5px;
                transform: rotate(180deg);

                .wave_line_internal {
                  height: 100%;
                  width: 100%;
                  background: radial-gradient(
                    circle at 0 50%,
                    $white 50%,
                    $ticket_bg 0
                  );
                  background-size: 0.3rem 0.7rem;
                  background-repeat: repeat-y;
                }
              }
            }
          }
        }
        .medal_area_explain {
          position: absolute;
          left: 5%;
          top: calc(100% - 0px);
          width: auto;
          max-width: 90%;
          @extend %boxShadow_gray;
          background-color: $brown;
          border-radius: 10px;
          padding: 5px 10px;
          display: none;
          z-index: 3;
          h4 {
            color: $white;
          }
          p {
            display: flex;
            span {
              color: $white;
            }
          }
          &:before {
            content: "";
            width: 0;
            height: 0;
            border-right: 10px solid $transparent;
            border-left: 10px solid $transparent;
            border-top: 12px solid $transparent;
            border-bottom: 12px solid $brown;
            position: absolute;
            z-index: 1;
            top: 0%;
            -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -100%);
          }
        }

        .redeem_area_explain {
          position: absolute;
          left: 5%;
          top: calc(100% - 0px);
          width: auto;
          max-width: 90%;
          @extend %boxShadow_gray;
          background-color: $brown;
          border-radius: 10px;
          padding: 5px 10px;
          display: none;
          z-index: 3;
          p {
            color: $white;
          }
          &:before {
            content: "";
            width: 0;
            height: 0;
            border-right: 10px solid $transparent;
            border-left: 10px solid $transparent;
            border-top: 12px solid $transparent;
            border-bottom: 12px solid $brown;
            position: absolute;
            z-index: 1;
            top: 0%;
            -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -100%);
          }
        }
      }
      .book_area {
        margin: 0px auto;
        .grade_map_booklist {
          .swiper {
            .swiper-wrapper {
              flex-wrap: wrap;
              .swiper-slide {
                width: calc(25% - 20px);
                margin: 0px 10px 40px 10px;
                height: auto;
                img{
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }

    &.map_book_area_first_grade {
      .map_object_table {
        border-color: transparent transparent $first_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_second_grade {
      .map_object_table {
        border-color: transparent transparent $second_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_third_grade {
      .map_object_table {
        border-color: transparent transparent $third_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_fourth_grade {
      .map_object_table {
        border-color: transparent transparent $fourth_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_fifth_grade {
      .map_object_table {
        border-color: transparent transparent $fifth_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_sixth_grade {
      .map_object_table {
        border-color: transparent transparent $sixth_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_seventh_grade {
      .map_object_table {
        border-color: transparent transparent $seventh_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_eighth_grade {
      .map_object_table {
        border-color: transparent transparent $eighth_grade_color;
        border-style: solid solid solid solid;
      }
    }

    &.map_book_area_ninth_grade {
      .map_object_table {
        border-color: transparent transparent $ninth_grade_color;
        border-style: solid solid solid solid;
      }
    }
  }
}

.grade_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px auto 30px;

  .level_correspondence_marker {
    padding: 5px 10px;

    &::before {
      display: none;
    }

    .level_correspondence_marker_inner {
      width: 60px;

      &::before {
        content: "";
        background-image: url(../image/photo/library/map_magic_wand.png);
        background-size: cover;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, calc(-100% - 10px));
        display: none;
      }

      &::after {
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        border: 1.5px solid;
        display: none;
        background-color: $transparent;
      }

      &:hover {
        &::after {
          display: block;
        }
      }

      &.active {
        width: calc(60px * 1.5);
        &::after {
          display: block;
        }
      }

      &.this_grade {
        &::before {
          display: block;
        }
      }
      
      &.first_grade_marker_inner {
        &::after {
          border-color: $first_grade_color;
        }
      }

      &.second_grade_marker_inner {
        &::after {
          border-color: $second_grade_color;
        }
      }

      &.third_grade_marker_inner {
        &::after {
          border-color: $third_grade_color;
        }
      }

      &.fourth_grade_marker_inner {
        &::after {
          border-color: $fourth_grade_color;
        }
      }

      &.fifth_grade_marker_inner {
        &::after {
          border-color: $fifth_grade_color;
        }
      }

      &.sixth_grade_marker_inner {
        &::after {
          border-color: $sixth_grade_color;
        }
      }

      &.seventh_grade_marker_inner {
        &::after {
          border-color: $seventh_grade_color;
        }
      }

      &.eighth_grade_marker_inner {
        &::after {
          border-color: $eighth_grade_color;
        }
      }

      &.ninth_grade_marker_inner {
        &::after {
          border-color: $ninth_grade_color;
        }
      }
    }
  }
}

.page {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  .pagination {
    a,
    span {
      padding: 5px 0.5rem;
      border-radius: 10px;
      margin: 0px 5px;
      color: $brown;
      &:hover,
      &:active,
      &.active {
        background-color: $brown;
        color: $white;
      }
    }
  }
}

.button_hover{
  &:hover{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);                                                
    transform: scale(1.05);
}  
}

.quadrado {
  animation: crescendo 1.2s alternate ease-in;
}


@keyframes crescendo {
  0%   {
    transform: scale(1)
  }
  25%  {
    transform: scale(1.1)
  }
  50%  {
    transform: scale(1)
  }
  75%  {
    transform: scale(1.1)
  }
  100%  {
    transform: scale(1)
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
  .main.grade_map {
    .map_book_area_bg {
      .map_book_area {
        .ticket_bg {
          .ticket_area {
            .swiper-slide {
              width: calc((100% - 255px) / 3.5);
            }
          }
        }

        .book_area {
          .grade_map_booklist {
            .swiper {
              .swiper-wrapper {
                .swiper-slide {
                  width: calc(33% - 20px);
                  margin: 0px 10px 30px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .grade_link {
    .level_correspondence_marker {
      position: relative;
    }
  }
  .main.grade_map {
    .map_object {
      &.grade_map_object {
        .level_correspondence_marker {
          align-items: center;
          &::before {
            bottom: 0;
          }
        }
      }
    }
    .map_book_area_bg {
      .map_book_area {
        .ticket_bg {
          .ticket_area {
            width: 90%;
            .ticket_wrap {
              .ticket {
                position: relative;
                &.ticket_right {
                  .ticket_medal {
                    img {
                      max-width: 50px;
                    }
                  }
                }
              }
            }
            .swiper-slide {
              width: calc((100% - 255px) / 2.5);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .grade_link {
    margin: 30px auto;
    width: 90%;

    .level_correspondence_marker {
      .level_correspondence_marker_inner {
        width: 35px;
        &::before{
          width: 30px;
          height: 30px;
        }
        &.active {
          width: calc(35px * 1.4);
        }
      }
    }
  }
  .main.grade_map {
    .map_object{
        &.grade_map_object{
            .map_object_item{
                .map_object_sign {
                     
                    .map_object_sign_two {
                      .map_object_btn {
                        width: 40px;
                        height: 40px;
                      }
                    }
                  }
            }
            
        }
    }

    .map_book_area_bg{
      .map_book_area {
        .ticket_bg{
          .ticket_area{
            .swiper-slide {
              &.notget{
                &:after{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .main.grade_map {
    .map_object{
        &.grade_map_object{
            .map_object_item{
                .map_object_sign {
                     
                    .map_object_sign_two {
                      .map_object_btn {
                        width: 35px;
                        height: 35px;
                        .map_object_btn_link {
                            &::after{
                            font-size: 20px;
                            }
                          }
                      }
                    }
                  }
            }
        }
    }

    .map_book_area_bg {
      .map_object_table {
        border-width: 75px;
      }
      .map_book_area {
        .ticket_bg {
          padding: 20px 0px 20px;
          .ticket_area {
            width: 90%;
            .ticket_wrap {
              .ticket {
                position: relative;

                &.ticket_right {
                  justify-content: center;

                  .ticket_medal {
                    img {
                      max-width: 30px;
                    }
                  }

                  .receive {
                    margin: 0px 10px;
                    button {
                      padding: 5px;
                    }
                  }
                }
              }
            }
            .swiper-slide {
              width: calc((100% - 235px) / 1.5);
              &:nth-child(1) {
                width: 235px !important;
              }
              &.notget{
                &:after{
                  font-size: 11px;
                }
              }
            }
          }
        }
        .book_area {
          .grade_map_booklist {
            .swiper {
              .swiper-wrapper {
                .swiper-slide {
                  width: calc(50% - 30px);
                  margin: 0px 15px 30px 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  .grade_link {
  
    .level_correspondence_marker {
      .level_correspondence_marker_inner {

        &.this_grade {
          &::before {
            display: none;
          }
        }
      }
    }
  }

  .page {
    .pagination {
      a,
      span {
        margin: 0px;
        padding: 5px 0.45rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
    .grade_link {
      justify-content: flex-start;
  
      .level_correspondence_marker {
        .level_correspondence_marker_inner {
          margin: 2.5px auto;
        }
      }
    }
  }

@media screen and (max-width: 600px) {
  .main.grade_map {
    .map_book_area_bg {
      .map_book_area {
        .ticket_bg {
          .ticket_area {
            .swiper-slide {
              width: calc((100% - 235px) / 1);
              &:nth-child(1) {
                width: 235px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .main.grade_map {
    .map_book_area_bg {
      .map_book_area {
        .ticket_bg {
          .ticket_area {
            .medal_swiper-slide {
              .medal_area {
                img {
                  max-width: 60px;
                }

                .medal_area_text {
                  .medal_area_button {
                    width: calc(13px * 1.7);
                  }
                }
              }
            }
            .ticket_wrap {
              .ticket {
                &.ticket_right {
                  flex-direction: column;
                  .ticket_medal {
                    img {
                      margin: 0px 10px 0px 0px;
                    }
                  }
                  .receive {
                    margin: 10px auto 0px;
                  }
                }
              }
            }

            .swiper-slide {
              width: calc((100% - 210px) / 1);
              &:nth-child(1) {
                width: 210px !important;
              }
            }
          }
        }

        .book_area {
          .grade_map_booklist {
            .swiper {
              .swiper-wrapper {
                .swiper-slide {
                  width: calc(100% - 0px);
                  margin: 0px auto 30px auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
