.main.grade_map {
    margin: 0px auto;
    background-color: $body_bg;

    

    .map_object {
        position: relative;

        &.grade_map_object {

            .level_correspondence_marker {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                height: auto;
                width: 5%;

                &::before {
                    position: relative;
                }

                .level_correspondence_marker_inner {
                    width: 100%;
                }
            }

            .map_object_item {
                line-height: 0;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .map_object_roof {
                    width: 85%;
                    margin: 0 auto;

                    img {
                        position: relative;
                    }
                }

                .map_object_sign {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    z-index: 2;
                    width: 100%;


                    .map_object_sign_one,
                    .map_object_sign_two,
                    .map_object_sign_three {
                        img {
                            position: relative;
                        }

                        .map_object_sign_item {
                            img {
                                position: absolute;
                                z-index: -1;
                                left: 50%;
                                transform: translate(-50%, -0%);
                            }
                        }
                    }



                    .map_object_sign_one,
                    .map_object_sign_three {
                        width: 30%;
                        position: absolute;
                        z-index: 1;

                        a {
                            line-height: 0;

                            .level_correspondence_marker {
                                position: absolute;
                                top: 0;
                                transform: translate(-50%, 0%);
                                background: $main_color;
                                height: 100%;
                                width: 100%;
                                z-index: -1;
                                border-radius: 10px;
                                max-width: none;

                                .level_correspondence_marker_inner {
                                    width: 16%;
                                }

                                &.first_level_correspondence_marker {
                                    background-color: $first_grade_color;
                                }

                                &.second_level_correspondence_marker {
                                    background-color: $second_grade_color;
                                }

                                &.third_level_correspondence_marker {
                                    background-color: $third_grade_color;
                                }

                                &.fourth_level_correspondence_marker {
                                    background-color: $fourth_grade_color;
                                }

                                &.fifth_level_correspondence_marker {
                                    background-color: $fifth_grade_color;
                                }

                                &.sixth_level_correspondence_marker {
                                    background-color: $sixth_grade_color;
                                }

                                &.seventh_level_correspondence_marker {
                                    background-color: $seventh_grade_color;
                                }

                                &.eighth_level_correspondence_marker {
                                    background-color: $eighth_grade_color;
                                }

                                &.ninth_level_correspondence_marker {
                                    background-color: $ninth_grade_color;
                                }
                            }
                        }

                        .map_object_sign_item {
                            width: 68%;
                            position: relative;
                            left: 50%;
                            transform: translate(-50%, 0px);

                            img {
                                position: relative;
                            }
                        }

                    }

                    .map_object_sign_one {
                        left: 0;

                        a {
                            .level_correspondence_marker {
                                .level_correspondence_marker_inner {
                                    position: absolute;
                                    left: 25%;
                                    transform: translate(calc(-50% + 8px), 0px);
                                }
                            }
                        }
                    }

                    .map_object_sign_three {
                        right: 0;

                        a {
                            .level_correspondence_marker {
                                .level_correspondence_marker_inner {
                                    position: absolute;
                                    right: 25%;
                                    transform: translate(calc(50% - 8px), 0px);
                                }
                            }
                        }
                    }

                    .map_object_sign_two {
                        width: 68%;
                        position: relative;
                        left: 0;
                        z-index: 2;
                        transform: translate(0%, 0%);
                        margin: 0 auto;

                        .map_object_sign_item {
                            img {
                                top: 0;
                                transform: translate(-50%, 0%);
                                width: 95%;

                                &:nth-child(1) {
                                    width: 100%;
                                }
                            }

                            .map_bg {
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

    }

    .map_book_area_bg {
        width: 100%;
        margin: 0px auto;
        background-image: none;
        padding: 0;
        transform: translate(0px, -135px);

        .map_object_table {
            border-width: 80px;
            width: 100%;
            border-color: transparent transparent $first_grade_color;
            border-style: solid solid solid solid;

            img {
                position: relative;
            }
        }

        .level_introduction {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            p {
                color: white;
                padding: 3px 0px;
                margin: 0px 10px;
                max-width: 90%;
            }

            &.introduction_first_grade {
                background-color: $first_grade_color;
            }

            &.introduction_second_grade {
                background-color: $second_grade_color;
            }

            &.introduction_third_grade {
                background-color: $third_grade_color;
            }

            &.introduction_fourth_grade {
                background-color: $fourth_grade_color;
            }

            &.introduction_fifth_grade {
                background-color: $fifth_grade_color;
            }

            &.introduction_sixth_grade {
                background-color: $sixth_grade_color;
            }

            &.introduction_seventh_grade {
                background-color: $seventh_grade_color;
            }

            &.introduction_eighth_grade {
                background-color: $eighth_grade_color;
            }

            &.introduction_ninth_grade {
                background-color: $ninth_grade_color;
            }
        }

        .map_book_area {
            border-color: $main_color;
        }

        &.map_book_area_first_grade {
            .map_object_table {
                border-color: transparent transparent $first_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $first_grade_color;
            }
        }

        &.map_book_area_second_grade {
            .map_object_table {
                border-color: transparent transparent $second_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $second_grade_color;
            }
        }

        &.map_book_area_third_grade {
            .map_object_table {
                border-color: transparent transparent $third_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $third_grade_color;
            }
        }

        &.map_book_area_fourth_grade {
            .map_object_table {
                border-color: transparent transparent $fourth_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $fourth_grade_color;
            }
        }

        &.map_book_area_fifth_grade {
            .map_object_table {
                border-color: transparent transparent $fifth_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $fifth_grade_color;
            }
        }

        &.map_book_area_sixth_grade {
            .map_object_table {
                border-color: transparent transparent $sixth_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $sixth_grade_color;
            }
        }

        &.map_book_area_seventh_grade {
            .map_object_table {
                border-color: transparent transparent $seventh_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $seventh_grade_color;
            }
        }

        &.map_book_area_eighth_grade {
            .map_object_table {
                border-color: transparent transparent $eighth_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $eighth_grade_color;
            }
        }

        &.map_book_area_ninth_grade {
            .map_object_table {
                border-color: transparent transparent $ninth_grade_color;
                border-style: solid solid solid solid;
            }

            .map_book_area {
                border-color: $ninth_grade_color;
            }
        }

        .map_book_area {
            width: 100%;
            padding: 0px 0% 50px;
            margin: 0px auto;
            background-color: $body_bg;
            position: relative;
            border: 10px solid $circus_blue;
            .ticket_bg {
                padding: 40px 0px 20px;
                position: relative;
                .ticket_area {
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    margin: 0px auto;
                    max-width: 1800px;
                    .medal_swiper-slide {
                        background-color: $ticket_bg;
                        display: flex;
                        justify-content: center;
                        justify-content: center;
                        height: auto;

                        .medal_area {
                            padding: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            img {
                                max-width: 120px;
                                width: 60%;
                            }

                            .medal_area_text {
                                text-align: center;
                                display: flex;
                                margin: 10px auto 0px;

                                .medal_area_button {
                                    background-color: $brown;
                                    color: $white;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    width: calc(17px * 1.7);
                                    margin: 0px 5px;

                                    &:hover {
                                        background-color: darken($brown, 10%);
                                    }
                                }
                            }

                        }
                    }
                    .swiper-slide {
                        width: calc((100% - 255px) / 5);
                        height: auto;
                        &:nth-child(1) {
                            width: 255px !important;
                        }
                    }
                    .ticket_wrap {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        .ticket {
                            position: relative;

                            &.ticket_left {
                                width: 100%;
                                background-color: $ticket_bg;

                                .redeem {
                                    display: none;
                                    width: 30%;
                                    position: absolute;
                                    right: 10px;
                                    top: 50%;
                                    transform: translate(0px, -50%) rotate(45deg);
                                }

                                &:before,
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    width: 10px;
                                    height: 10px;
                                    background: $body_bg;
                                    border-radius: 50%;
                                    right: -5px;
                                    z-index: 1;
                                }

                                &:before {
                                    top: -5px;
                                }

                                &:after {
                                    bottom: -5px;
                                }

                                .ticket_object {
                                    line-height: 0;
                                }

                            }

                            &.ticket_right {
                                width: 100%;
                                height: 100%;
                                padding: 10px 0px;
                                background-color: $ticket_bg;
                                position: relative;
                                border-top: 1px dotted $white;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;

                                &.ticket_first_grade {
                                    background-color: $first_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $first_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $first_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_second_grade {
                                    background-color: $second_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $second_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $second_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_third_grade {
                                    background-color: $third_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $third_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $third_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_fourth_grade {
                                    background-color: $fourth_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $fourth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $fourth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_fifth_grade {
                                    background-color: $fifth_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $fifth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $fifth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_sixth_grade {
                                    background-color: $sixth_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $sixth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $sixth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_seventh_grade {
                                    background-color: $seventh_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $seventh_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $seventh_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_eighth_grade {
                                    background-color: $eighth_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $eighth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $eighth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                &.ticket_ninth_grade {
                                    background-color: $ninth_grade_color;

                                    .wave_line {
                                        &.wave_line_left {

                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $ninth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }

                                        &.wave_line_right {
                                            .wave_line_internal {
                                                height: 100%;
                                                width: 100%;
                                                background: radial-gradient(circle at 0 50%, $body_bg 50%, $ninth_grade_color 0);
                                                background-size: 0.3rem 0.7rem;
                                                background-repeat: repeat-y;
                                            }
                                        }
                                    }
                                }

                                .ticket_medal {
                                    display: flex;
                                    align-items: center;

                                    img {
                                        max-width: 30px;
                                        margin: 0px 10px;
                                    }

                                    p {
                                        color: $white;
                                    }
                                }

                                .receive {
                                    button {
                                        background-color: $main_color;
                                        padding: 0px 10px;
                                        color: $white;
                                        margin: 0px auto;

                                        &:disabled {
                                            background-color: $grey;
                                            border-radius: 10px;
                                        }
                                    }

                                    p {
                                        color: $white;
                                        cursor: pointer;
                                    }

                                }
                            }
                        }

                        &.redeem_ticket {

                            padding-right: 3%;

                            .ticket_left {
                                .redeem {
                                    display: block;
                                }
                            }

                            .ticket_right {
                                .receive{
                                    display: none;
                                }
                            }

                        }

                        /* 波浪線 */
                        .wave_line {
                            &.wave_line_left {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                display: flex;
                                min-width: 5px;
                                max-width: 5px;

                                .wave_line_internal {
                                    height: 100%;
                                    width: 100%;
                                    background: radial-gradient(circle at 0 50%, $body_bg 50%, $ticket_bg 0);
                                    background-size: 0.3rem 0.7rem;
                                    background-repeat: repeat-y;
                                }
                            }

                            &.wave_line_right {
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 100%;
                                display: flex;
                                min-width: 5px;
                                max-width: 5px;
                                transform: rotate(180deg);

                                .wave_line_internal {
                                    height: 100%;
                                    width: 100%;
                                    background: radial-gradient(circle at 0 50%, $body_bg 50%, $ticket_bg 0);
                                    background-size: 0.3rem 0.7rem;
                                    background-repeat: repeat-y;
                                }
                            }
                        }
                    }
                }
                .medal_area_explain {
                    position: absolute;
                    left: 5%;
                    top: calc(100% - 0px);
                    width: auto;
                    max-width: 90%;
                    @extend %boxShadow_gray;
                    background-color: $brown;
                    border-radius: 10px;
                    padding: 5px 10px;
                    display: none;
                    z-index: 3;
                    h4 {
                        color: $white;
                    }
                    p {
                        display: flex;
                        span{
                            color: $white;
                        }
                    }
                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-right: 10px solid $transparent;
                        border-left: 10px solid $transparent;
                        border-top: 12px solid $transparent;
                        border-bottom: 12px solid $brown;
                        position: absolute;
                        z-index: 1;
                        top: 0%;
                        -webkit-transform: translate(0%, -50%);
                        transform: translate(0%, -100%);
                    }
                }
            }
            .book_area {
                margin: 0px auto;
                .grade_map_booklist {
                    .swiper {
                        .swiper-wrapper {
                            flex-wrap: wrap;
                            .swiper-slide {
                                width: calc(25% - 40px);
                                margin: 0px 20px 40px 20px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

.grade_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto 40px;

    .level_correspondence_marker {
        margin: 5px 10px;

        &::before {
            display: none;
        }

        .level_correspondence_marker_inner {
            width: 60px;

            &::after {
                width: calc(100% + 5px);
                height: calc(100% + 5px);
                border: 1.5px solid;
                display: none;
            }

            &:hover {
                &::after {
                    display: block;
                }
            }

            &.active{
                width: calc(60px * 1.5);
                &::after {
                    display: block;
                }
            }

            &.first_grade_marker_inner {
                &::after {
                    border-color: $first_grade_color;
                }
            }

            &.second_grade_marker_inner {
                &::after {
                    border-color: $second_grade_color;
                }
            }

            &.third_grade_marker_inner {
                &::after {
                    border-color: $third_grade_color;
                }
            }

            &.fourth_grade_marker_inner {
                &::after {
                    border-color: $fourth_grade_color;
                }
            }

            &.fifth_grade_marker_inner {
                &::after {
                    border-color: $fifth_grade_color;
                }
            }

            &.sixth_grade_marker_inner {
                &::after {
                    border-color: $sixth_grade_color;
                }
            }

            &.seventh_grade_marker_inner {
                &::after {
                    border-color: $seventh_grade_color;
                }
            }

            &.eighth_grade_marker_inner {
                &::after {
                    border-color: $eighth_grade_color;
                }
            }

            &.ninth_grade_marker_inner {
                &::after {
                    border-color: $ninth_grade_color;
                }
            }
        }
    }
}

.page {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    .pagination {
        a,
        span {
            padding: 5px 0.5rem;
            border-radius: 10px;
            margin: 0px 5px;
            color: $brown;
            &:hover,
            &:active,
            &.active {
                background-color: $main_color;
                color: $white;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    // .main.grade_map{
    //     .map_book_area_bg {
    //         .map_book_area {
    //             .ticket_bg {
    //                 .ticket_area {
    //                     .medal_swiper-slide {
    //                         .medal_area {
    //                             img {
    //                                 max-width: 100px;
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    
}

@media screen and (max-width: 1400px) {
    .main.grade_map{
        .map_book_area_bg {
            .map_book_area {
                .ticket_bg {
                    .ticket_area {
                        .swiper-slide {
                            width: calc((100% - 255px) / 3.5);
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 1200px) {
    .grade_link {
        .level_correspondence_marker {
            position: relative;
        }
    }
    .main.grade_map {
        
        .map_object {
            &.grade_map_object {
                .level_correspondence_marker {
                    align-items: center;
                    &::before {
                        bottom: 0;
                    }
                }
            }
        }
        .map_book_area_bg {
            .map_book_area {
                .ticket_bg {
                    .ticket_area {
                        width: 90%;
                        .ticket_wrap {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            .ticket {
                                position: relative;
                                &.ticket_right {
                                    .ticket_medal {
                                        img {
                                            max-width: 50px;
                                        }
                                    }
                                }
                            }
                        }
                        .swiper-slide {
                            width: calc((100% - 255px) / 2.5);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .grade_link {
        margin: 0px auto 20px;
        width: 90%;

        .level_correspondence_marker {
            .level_correspondence_marker_inner {
                width: 40px;
                &.active{
                    width: calc(40px * 1.4);
                }
            }
        }
    }
    .main.grade_map {

        .map_book_area_bg {

            &.new_map {
                background-image: none;
                padding: 0;
                transform: translate(0px, -100px);


                .map_object_table {
                    border-width: 50px;

                }

            }

            .map_book_area {
                .ticket_bg {
                    padding: 20px 0px 20px;

                    .ticket_area {
                        .ticket_wrap {
                            .ticket {
                                position: relative;

                                &.ticket_left {

                                    &:before,
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        display: block;
                                        width: 10px;
                                        height: 10px;
                                        background: $body_bg;
                                        border-radius: 50%;
                                        right: -5px;
                                        z-index: 1;
                                    }

                                    &:before {
                                        top: -5px;
                                    }

                                    &:after {
                                        bottom: -5px;
                                    }

                                }

                                &.ticket_right {

                                    .receive {
                                        button {
                                            padding: 5px 8px;
                                        }

                                    }
                                }
                            }

                        }
                        
                        .medal_swiper-slide {
                            .medal_area {
                                img {
                                    width: 80%;
                                }

                                .medal_area_text {

                                    .medal_area_button {
                                        width: calc(15px * 1.7);
                                    }
                                }
                            }
                        }
                        .swiper-slide {
                            width: calc((100% - 240px) / 2);
                            &:nth-child(1) {
                                width: 240px !important;
                            }
                        }
                    }
                }


                .book_area {

                    .grade_map_booklist {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    width: calc(33% - 30px);
                                    margin: 0px 15px 30px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

@media screen and (max-width: 768px) {
    .grade_link {
        justify-content: flex-start;

        .level_correspondence_marker {
            .level_correspondence_marker_inner {
                margin: 2.5px auto;
            }
        }
    }
    .main.grade_map {

        .map_book_area_bg {
            .map_book_area {
                .ticket_bg {
                    .ticket_area {
                        width: 90%;
                        .ticket_wrap {
                            .ticket {
                                position: relative;


                                &.ticket_right {
                                    justify-content: center;

                                    .ticket_medal {
                                        img {
                                            max-width: 30px;
                                        }
                                    }

                                    .receive {
                                        margin: 0px 10px;
                                        button {
                                            padding: 5px;
                                        }

                                    }
                                }
                            }
                        }
                        .swiper-slide {
                            width: calc((100% - 235px) / 1.5);
                            &:nth-child(1){
                                width: 235px !important;
                            }
                        }
                    }
                }
                .book_area {
                    .grade_map_booklist {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    width: calc(50% - 30px);
                                    margin: 0px 15px 30px 15px;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .page {
        .pagination {
            a,
            span {
                margin: 0px;
                padding: 5px 0.45rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .main.grade_map {

        .map_book_area_bg {
            .map_book_area {

                .ticket_bg {
                    .ticket_area {
                        .swiper-slide {
                            width: calc((100% - 235px) / 1);
                            &:nth-child(1){
                                width: 235px !important;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 499px) {
    .main.grade_map {

        .map_book_area_bg {
            .map_book_area {

                .ticket_bg {
                    .ticket_area {
                        .medal_swiper-slide {
    
                            .medal_area {
    
                                .medal_area_text {
    
                                    .medal_area_button {
                                        width: calc(13px * 1.7);
                                    }
                                }
    
                            }
                        }
                        .ticket_wrap {
                            .ticket{
                                &.ticket_right{
                                    flex-direction: column;
                                    .ticket_medal{
                                        img{
                                            margin: 0px 10px 0px 0px;
                                        }
                                    }
                                    .receive{
                                        margin: 10px auto 0px;
                                    }
                                }
                            }
                        }
    
                        .swiper-slide {
                            width: calc((100% - 210px) / 1);
                            &:nth-child(1){
                                width: 210px !important;
                            }
                        }
                    }
                }

                .book_area {
                    .grade_map_booklist {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    width: calc(100% - 0px);
                                    margin: 0px auto 30px auto;
                                }
                            }
                        }
                    }
                }
            }

            
        }

    }
}