.map_object {
    position: relative;

    &.new_map {
        .map_object_item {
            .map_object_item_project {
                width: 18%;
                position: absolute;

                .map_object_image_animate {
                    display: none;
                }

                &:hover {
                    .map_object_image {
                        display: none;
                    }

                    .map_object_image_animate {
                        display: block;
                    }
                }

                &.item_project_first_grade {
                    bottom: 30%;
                    left: calc(72% / 8 * 1);
                }

                &.item_project_second_grade {
                    bottom: 3%;
                    left: calc(72% / 8 * 2);
                    z-index: 1;
                }

                &.item_project_third_grade {
                    bottom: 30%;
                    left: calc(72% / 8 * 3);
                }

                &.item_project_fourth_grade {
                    bottom: 3%;
                    left: calc(72% / 8 * 4);
                    z-index: 1;
                }

                &.item_project_fifth_grade {
                    bottom: 30%;
                    left: calc(72% / 8 * 5);
                }

                &.item_project_sixth_grade {
                    bottom: 3%;
                    left: calc(72% / 8 * 6);
                    z-index: 1;
                }

                &.item_project_seventh_grade {
                    bottom: 30%;
                    left: calc(72% / 8 * 7);
                }

                &.item_project_eighth_grade {
                    bottom: 3%;
                    left: calc(72% / 8 * 8);
                    z-index: 1;
                }

                &.item_project_ninth_grade {
                    top: auto;
                    bottom: 100%;
                    left: 80%;
                    transform: translate(0px, calc(100% + 60px));
                }

            }

        }
    }

    .map_object_item {
        .map_object_item_project {
            width: 12.5%;
            position: absolute;

            .item_project_link {

                .item_project_mark {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translate(calc(-50%), -50px);
                    height: 100%;

                    &::before {
                        position: absolute;
                        top: 0;
                        bottom: 0px;
                        width: 3px;
                        background: $main_color;
                        content: '';
                        left: 50%;
                        z-index: -1;
                    }

                    p {
                        background: $main_color;
                        padding: 5px;
                        width: auto;
                        color: $white;
                        border-radius: 10px;
                    }
                }

                img{
                    position: relative;
                }
            }

            .map_object_image_animate {
                display: none;
            }

            &:hover {
                .map_object_image {
                    display: none;
                }

                .map_object_image_animate {
                    display: block;
                }
            }

            &.item_project_first_grade {
                bottom: 28%;
                left: calc(75% / 8 * 1);
                z-index: 1;

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $first_grade_color;
                        }
                        p {
                            background: $first_grade_color;
                        }
                    }
                }
            }

            &.item_project_second_grade {
                bottom: 35%;
                left: calc(75% / 8 * 2);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $second_grade_color;
                        }
                        p {
                            background: $second_grade_color;
                        }
                    }
                }
            }

            &.item_project_third_grade {
                bottom: 28%;
                left: calc(75% / 8 * 3);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $third_grade_color;
                        }
                        p {
                            background: $third_grade_color;
                        }
                    }
                }
            }

            &.item_project_fourth_grade {
                bottom: 35%;
                left: calc(75% / 8 * 4);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $fourth_grade_color;
                        }
                        p {
                            background: $fourth_grade_color;
                        }
                    }
                }
            }

            &.item_project_fifth_grade {
                bottom: 28%;
                left: calc(75% / 8 * 5);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $fifth_grade_color;
                        }
                        p {
                            background: $fifth_grade_color;
                        }
                    }
                }
            }

            &.item_project_sixth_grade {
                bottom: 35%;
                left: calc(75% / 8 * 6);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $sixth_grade_color;
                        }
                        p {
                            background: $sixth_grade_color;
                        }
                    }
                }
            }

            &.item_project_seventh_grade {
                bottom: 28%;
                left: calc(75% / 8 * 7);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $seventh_grade_color;
                        }
                        p {
                            background: $seventh_grade_color;
                        }
                    }
                }
            }

            &.item_project_eighth_grade {
                bottom: 35%;
                left: calc(75% / 8 * 8);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $eighth_grade_color;
                        }
                        p {
                            background: $eighth_grade_color;
                        }
                    }
                }
            }

            &.item_project_ninth_grade {
                top: 5%;
                left: 80%;

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $ninth_grade_color;
                        }
                        p {
                            background: $ninth_grade_color;
                        }
                    }
                }
            }
        }
    }
}

.main.grade_map {

    .tittle,
    .booklist_introduce {
        margin: 0 auto;
        max-width: 1200px;
        width: 80%;
    }

    &.map_index {
        .map_object {
            .map_object_item {
                .map_object_item_project {
                    width: 12.5%;
                    position: absolute;

                    .map_object_image_animate {
                        display: none;
                    }

                    &:hover {
                        .map_object_image {
                            display: none;
                        }

                        .map_object_image_animate {
                            display: block;
                        }
                    }

                    &.item_project_first_grade {
                        bottom: 28%;
                        left: calc(75% / 8 * 1);
                        z-index: 1;
                    }

                    &.item_project_second_grade {
                        bottom: 35%;
                        left: calc(75% / 8 * 2);
                    }

                    &.item_project_third_grade {
                        bottom: 28%;
                        left: calc(75% / 8 * 3);
                        z-index: 1;
                    }

                    &.item_project_fourth_grade {
                        bottom: 35%;
                        left: calc(75% / 8 * 4);
                    }

                    &.item_project_fifth_grade {
                        bottom: 28%;
                        left: calc(75% / 8 * 5);
                        z-index: 1;
                    }

                    &.item_project_sixth_grade {
                        bottom: 35%;
                        left: calc(75% / 8 * 6);
                    }

                    &.item_project_seventh_grade {
                        bottom: 28%;
                        left: calc(75% / 8 * 7);
                        z-index: 1;
                    }

                    &.item_project_eighth_grade {
                        bottom: 35%;
                        left: calc(75% / 8 * 8);
                    }

                    &.item_project_ninth_grade {
                        top: 5%;
                        left: 80%;
                    }

                }

            }

            &.route_map {
                width: 70%;
                max-width: 1200px;
                margin: 0 auto;

                .route_map_area {
                    width: 100%;
                    margin: 250px auto 220px;

                    .route_1 {
                        height: 500px;
                        border: 30px solid $brown;
                        border-radius: 0px 500px 500px 0px;
                        margin-top: -30px;
                        margin-left: 50%;
                        border-left: 0;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            border-radius: 0px 500px 500px 0px;
                            width: calc(100% + 7px);
                            height: calc(100% + 30px - 7px);
                            border: 7px dotted $white;
                            border-left: 0;
                            transform: translate(-0, -50%);
                        }
                    }

                    .route_2 {
                        height: 500px;
                        border: 30px solid $brown;
                        border-radius: 500px 0px 0px 500px;
                        margin-top: -30px;
                        border-right: 0px;
                        margin-right: 50%;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            border-radius: 500px 0px 0px 500px;
                            width: calc(100% + 7px);
                            height: calc(100% + 30px - 7px);
                            border: 7px dotted $white;
                            border-right: 0px;
                            transform: translate(-15px, -50%);
                        }
                    }
                }

                .map_route_item {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0%);

                    .map_object_item_project {
                        transform: translate(-50%, -50%);
                        position: absolute;
                        width: 27%;

                        .map_route_item_link {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            .level_correspondence_marker {
                                width: 25%;
                                align-items: flex-start;
                            }

                            .map_object_image,
                            .map_object_image_animate {
                                width: 70%;
                                margin-bottom: 10px;
                            }

                            .map_object_image_animate {
                                display: none;
                            }

                            .level_introduction {
                                padding: 10px 5% 0px;
                                border-radius: 10px 10px 0px 0px;
                                width: 100%;
                                z-index: 1;

                                .go_map {
                                    padding: 5px 0px;
                                    border-top: 2px dotted white;
                                    border-bottom: 2px dotted white;
                                    margin: 5px auto 0px;
                                    text-align: center;
                                }

                                p {
                                    color: $white;
                                }
                            }
                        }

                        .trial {
                            position: relative;
                            padding: 5px 5% 10px;
                            border-radius: 0px 0px 10px 10px;
                            margin: -1px 0px 0px;

                            a {
                                text-align: left;
                                display: block;
                                color: $white;
                            }
                        }

                        &:hover {
                            .map_route_item_link {
                                .map_object_image {
                                    display: none;
                                }

                                .map_object_image_animate {
                                    display: block;
                                }
                            }
                        }

                        &.item_project_first_grade {
                            top: 0px;
                            left: calc(50%);

                            .level_introduction {
                                background-color: $first_grade_color;
                            }

                            .trial {
                                background-color: $first_grade_color;
                            }
                        }

                        &.item_project_second_grade {
                            top: calc(500px / 2);
                            left: calc(100%);

                            .level_introduction {
                                background-color: $second_grade_color;
                            }

                            .trial {
                                background-color: $second_grade_color;
                            }
                        }

                        &.item_project_third_grade {
                            top: calc(500px * 1 - 30px);
                            left: calc(50%);

                            .level_introduction {
                                background-color: $third_grade_color;
                            }

                            .trial {
                                background-color: $third_grade_color;
                            }
                        }

                        &.item_project_fourth_grade {
                            top: calc(500px * 1 + 500px / 2 - 30px);
                            left: calc(0%);

                            .level_introduction {
                                background-color: $fourth_grade_color;
                            }

                            .trial {
                                background-color: $fourth_grade_color;
                            }
                        }

                        &.item_project_fifth_grade {
                            top: calc(500px * 2 - 60px);
                            left: calc(50%);

                            .level_introduction {
                                background-color: $fifth_grade_color;
                            }

                            .trial {
                                background-color: $fifth_grade_color;
                            }
                        }

                        &.item_project_sixth_grade {
                            top: calc(500px * 2 + 500px / 2 - 60px);
                            left: calc(100%);

                            .level_introduction {
                                background-color: $sixth_grade_color;
                            }

                            .trial {
                                background-color: $sixth_grade_color;
                            }
                        }

                        &.item_project_seventh_grade {
                            top: calc(500px * 3 - 90px);
                            left: calc(50%);

                            .level_introduction {
                                background-color: $seventh_grade_color;
                            }

                            .trial {
                                background-color: $seventh_grade_color;
                            }
                        }

                        &.item_project_eighth_grade {
                            top: calc(500px * 3 + 500px / 2 - 90px);
                            left: calc(0%);

                            .level_introduction {
                                background-color: $eighth_grade_color;
                            }

                            .trial {
                                background-color: $eighth_grade_color;
                            }
                        }

                        &.item_project_ninth_grade {
                            top: calc(500px * 4 - 120px);
                            left: calc(50%);

                            .level_introduction {
                                background-color: $ninth_grade_color;
                            }

                            .trial {
                                background-color: $ninth_grade_color;
                            }
                        }

                    }
                }
            }

        }
    }

}

.main{
    .navigator_area {
        width: 35%;
        max-width: 250px;
        position: fixed;
        right: 15px;
        bottom: 40px;
        z-index: 2;

        &.navigator_mapman{
            position: absolute;
            right: auto;
            bottom: auto;
            width: 27%;
            top: 0px;
            left: calc(0%);
            transform: translate(0%, -50%);
        }

        .navigator_content {
            display: flex;
            flex-direction: column;

            .mapman {
                order: 1;
            }

            .navigator_text {
                &:hover {
                    &~.mapman {
                        animation: 2s infinite ease;
                    }
                }

                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: 10px auto 0px;
                order: 2;
                position: relative;
                background-color: $white;
                @extend %boxShadow_gray;
                padding: 10px 40px 20px 20px;
                border-radius: 10px;

                p {
                    margin: 0px auto 15px;
                    width: 100%;
                }

                .navigator_link {
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .level_correspondence_marker {
                        position: initial;
                        justify-content: flex-start;
                        width: 50px;

                        &::before {
                            display: none;
                        }

                        .level_correspondence_marker_inner {
                            &::after {
                                background-color: $white;
                            }
                        }
                    }

                    p {
                        width: calc(95% - 50px);
                        margin: 0;
                        text-align: right;
                    }
                }

                .close-modal {
                    border-radius: 0 0 0 10px;
                }
            }
        }
    }
}

.modal_trial {
    h3 {
        color: $brown;
        margin: 0px auto 10px;
        padding: 0px 0px 10px;
        border-bottom: 1px solid $brown;
    }

    p {
        color: $black;
    }

    span {
        color: $black;
    }

    .trial_paragraph {
        display: flex;
    }

    .modal_trial_btn {
        display: flex;
        flex-wrap: wrap;

        button {
            border: 1px solid $brown;
            border-radius: 10px;
            padding: 5px 10px;
            margin: 5px 10px 5px 0px;

            a {
                color: $brown;
            }

            &:hover {
                background-color: $brown;

                a {
                    color: $white;
                }
            }
        }

    }
}

@media screen and (max-width: 1200px) {
    .main.grade_map {
        &.map_index {
            .map_object {
                &.route_map {
                    .map_route_item {
                        .map_object_item_project {
                            .map_route_item_link {
                                .level_correspondence_marker {
                                    position: initial;

                                    &::before {
                                        bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .map_object {
        position: relative;
        .map_object_item {
            .map_object_item_project {
    
                .item_project_link {
    
                    .item_project_mark {
                        width: 70%;

                        p{
                            text-align: center;
                        }
                    }
                }

            }
        }
    }

    .main.grade_map {
        &.map_index {
            .map_object {
                &.route_map {

                    .route_map_area {
                        margin: 200px auto 170px;

                        .route_1 {
                            height: 450px;
                            border-radius: 0px 450px 450px 0px;

                            &::before {
                                border-radius: 0px 450px 450px 0px;
                            }
                        }

                        .route_2 {
                            height: 450px;
                            border-radius: 450px 0px 0px 450px;

                            &::before {
                                border-radius: 450px 0px 0px 450px;
                            }
                        }
                    }

                    .map_route_item {

                        .map_object_item_project {
                            width: 35%;

                            &.item_project_second_grade {
                                top: calc(450px / 2);
                            }

                            &.item_project_third_grade {
                                top: calc(450px * 1 - 30px);
                            }

                            &.item_project_fourth_grade {
                                top: calc(450px * 1 + 450px / 2 - 30px);
                            }

                            &.item_project_fifth_grade {
                                top: calc(450px * 2 - 60px);
                            }

                            &.item_project_sixth_grade {
                                top: calc(450px * 2 + 450px / 2 - 60px);
                            }

                            &.item_project_seventh_grade {
                                top: calc(450px * 3 - 90px);
                            }

                            &.item_project_eighth_grade {
                                top: calc(450px * 3 + 450px / 2 - 90px);
                            }

                            &.item_project_ninth_grade {
                                top: calc(450px * 4 - 120px);
                            }

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .map_object {
        position: relative;
        .map_object_item {
            .map_object_item_project {
    
                .item_project_link {
    
                    .item_project_mark {
                        width: 90%;
                        transform: translate(calc(-50%), -30px);

                        p{
                            text-align: center;
                            padding: 3px;
                        }
                    }
                }

            }
        }
    }

    .main.grade_map {

        &.map_index {
            .map_object {

                &.route_map {
                    width: 50%;

                    .route_map_area {

                        .route_1 {
                            height: 850px;
                            border-radius: 0px 850px 850px 0px;

                            &::before {
                                border-radius: 0px 850px 850px 0px;
                            }
                        }

                        .route_2 {
                            height: 850px;
                            border-radius: 850px 0px 0px 850px;

                            &::before {
                                border-radius: 850px 0px 0px 850px;
                            }
                        }
                    }

                    .map_route_item {

                        .map_object_item_project {
                            width: 70%;

                            .map_route_item_link {

                                .map_object_image {
                                    width: 70%;
                                    margin-bottom: 8px;
                                }

                            }

                            &.item_project_second_grade {
                                top: calc(850px / 2);
                            }

                            &.item_project_third_grade {
                                top: calc(850px * 1 - 30px);
                            }

                            &.item_project_fourth_grade {
                                top: calc(850px * 1 + 850px / 2 - 30px);
                            }

                            &.item_project_fifth_grade {
                                top: calc(850px * 2 - 60px);
                            }

                            &.item_project_sixth_grade {
                                top: calc(850px * 2 + 850px / 2 - 60px);
                            }

                            &.item_project_seventh_grade {
                                top: calc(850px * 3 - 90px);
                            }

                            &.item_project_eighth_grade {
                                top: calc(850px * 3 + 850px / 2 - 90px);
                            }

                            &.item_project_ninth_grade {
                                top: calc(850px * 4 - 120px);
                            }

                        }
                    }
                }

            }
        }

        .navigator_area {
            width: 45%;
            &.navigator_mapman{
                transform: translate(-100%, -50%);
            }

            .navigator_content {
                .navigator_text {
                    padding: 10px 35px 20px 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
    .main.grade_map {

        &.map_index {
            .map_object {

                &.route_map {
                    width: 50%;

                    .route_map_area {
                        margin: 180px auto 150px;

                        .route_1 {
                            height: 750px;
                            border-radius: 0px 750px 750px 0px;

                            &::before {
                                border-radius: 0px 750px 750px 0px;
                            }
                        }

                        .route_2 {
                            height: 750px;
                            border-radius: 750px 0px 0px 750px;

                            &::before {
                                border-radius: 750px 0px 0px 750px;
                            }
                        }
                    }

                    .map_route_item {

                        .map_object_item_project {
                            width: 80%;

                            &.item_project_second_grade {
                                top: calc(750px / 2 - 15px);
                            }

                            &.item_project_third_grade {
                                top: calc(750px * 1 - 30px);
                            }

                            &.item_project_fourth_grade {
                                top: calc(750px * 1 + 750px / 2 - 30px);
                            }

                            &.item_project_fifth_grade {
                                top: calc(750px * 2 - 45px);
                            }

                            &.item_project_sixth_grade {
                                top: calc(750px * 2 + 750px / 2 - 60px);
                            }

                            &.item_project_seventh_grade {
                                top: calc(750px * 3 - 75px);
                            }

                            &.item_project_eighth_grade {
                                top: calc(750px * 3 + 750px / 2 - 90px);
                            }

                            &.item_project_ninth_grade {
                                top: calc(750px * 4 - 105px);
                            }

                        }
                    }
                }

            }
        }

    }
}

@keyframes jump {

    0%,
    90%,
    100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-50px);
    }
}