.main.grade_map {

    .map_object {

        .map_object_item {
            .map_object_item_bg {
                width: 100%;
                position: absolute;

                &.item_bg_cloud {
                    bottom: 95%;
                }

                &.item_bg_grassland {
                    bottom: 50%;
                }
            }

            .map_object_item_project {
                width: calc(100% / 5);
                position: absolute;
                transform: scale(0.9);

                &.item_project_first_grade {
                    bottom: 25%;
                    left: 0;
                }

                &.item_project_second_grade {
                    bottom: 20%;
                    left: calc(100% / 5 / 2);
                    z-index: 1;
                }

                &.item_project_third_grade {
                    bottom: 25%;
                    left: calc(100% / 5);
                }

                &.item_project_fourth_grade {
                    bottom: 25%;
                    left: calc(100% / 5 * 2);
                }

                &.item_project_fifth_grade {
                    bottom: 20%;
                    left: calc(100% / 5 * 2.5);
                    z-index: 1;
                }

                &.item_project_sixth_grade {
                    bottom: 25%;
                    left: calc(100% / 5 * 3 + 2%);
                }

                &.item_project_seventh_grade {
                    bottom: 20%;
                    left: calc(100% / 5 * 3.5);
                    z-index: 1;
                }

                &.item_project_eighth_grade {
                    bottom: 25%;
                    left: calc(100% / 5 * 4);
                }

                &.item_project_ninth_grade {
                    bottom: 60%;
                    right: 5%;
                    ;
                }

                &:hover {
                    transform: scale(1);
                }

                img {
                    position: relative;
                    top: auto;
                    left: auto;
                }
            }

        }

        &.route_map {
            max-width: 1600px;
            margin: 0 auto;

            .route_map_area {
                width: calc(80% - 200px);
                margin: 250px auto;

                .route_1 {
                    height: 250px;
                    border: 30px solid $brown;
                    border-radius: 0px 250px 250px 0px;
                    margin-top: -30px;
                    margin-right: -125px;
                    border-left: 0;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        border-radius: 0px 250px 250px 0px;
                        width: calc(100% + 7px);
                        height: calc(100% + 30px - 7px);
                        border: 7px dotted $white;
                        border-left: 0;
                        transform: translate(-0, -50%);
                    }
                }

                .route_2 {
                    height: 250px;
                    border: 30px solid $brown;
                    border-radius: 250px 0px 0px 250px;
                    margin-top: -30px;
                    border-right: 0px;
                    margin-left: -125px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        border-radius: 250px 0px 0px 250px;
                        width: calc(100% + 7px);
                        height: calc(100% + 30px - 7px);
                        border: 7px dotted $white;
                        border-right: 0px;
                        transform: translate(-15px, -50%);
                    }
                }
            }

            .map_route_item {
                width: calc(80% - 200px);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 80%;

                .map_object_item_project {
                    width: 7%;
                    transform: translate(-50%, calc(-50% - 15px));
                    position: absolute;

                    img {
                        padding: 5px;
                        border-radius: 50%;
                    }

                    &.item_project_map_start {
                        top: 30px;
                        left: 0%;
                        border: 3px solid $main_color;
                        border-radius: 50%;
                    }

                    &.item_project_first_grade {
                        top: 30px;
                        left: 15%;

                        img {
                            background-color: $first_grade_color;
                        }
                    }

                    &.item_project_second_grade {
                        top: 30px;
                        left: 45%;

                        img {
                            background-color: $second_grade_color;
                        }
                    }

                    &.item_project_third_grade {
                        top: 30px;
                        left: 75%;

                        img {
                            background-color: $third_grade_color;
                        }
                    }

                    &.item_project_fourth_grade {
                        top: 250px;
                        left: 90%;

                        img {
                            background-color: $fourth_grade_color;
                        }
                    }

                    &.item_project_fifth_grade {
                        top: 250px;
                        left: 60%;

                        img {
                            background-color: $fifth_grade_color;
                        }
                    }

                    &.item_project_sixth_grade {
                        top: 250px;
                        left: 30%;

                        img {
                            background-color: $sixth_grade_color;
                        }
                    }

                    &.item_project_seventh_grade {
                        top: calc(250px * 2 - 30px);
                        left: 15%;

                        img {
                            background-color: $seventh_grade_color;
                        }
                    }

                    &.item_project_eighth_grade {
                        top: calc(250px * 2 - 30px);
                        left: 45%;

                        img {
                            background-color: $eighth_grade_color;
                        }
                    }

                    &.item_project_ninth_grade {
                        top: calc(250px * 2 - 30px);
                        left: 75%;

                        img {
                            background-color: $ninth_grade_color;
                        }
                    }

                    &.item_project_map_end {
                        top: calc(250px * 2 - 30px);
                        left: 100%;
                        border: 3px solid $main_color;
                        border-radius: 50%;
                    }
                }
            }
        }

        &.map_description {
            width: 80%;
            max-width: 1800px;
            margin: 0 auto;
            background-color: $white;
            
            .map_description_title{
                width: 100%;
                color: $white;
                background-color: $main_color;
                text-align: center;
                margin: 0px auto 60px;
            }

            .map_description_item{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .map_object_item_project{
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .level_img{
                        width: 20%;
                        max-width: 100px;
                        margin-right: 15px;
                        img {
                            border-radius: 50%;
                            padding: 5px;
                        }
                    }

                    .level_introduction{
                        p{
                            display: flex;
                            margin: 5px 0px;
                        }
                    }

                    .object_img{
                        width: 40%;
                        max-width: 150px;
                    }

                    &.item_project_first_grade {
                        .level_img{
                            img {
                                background-color: $first_grade_color;
                            }
                        }

                        .level_introduction{
                            h4{
                                color: $first_grade_color;
                            }
                        }
                        
                    }

                    &.item_project_second_grade {
                        .level_img{
                            img {
                                background-color: $second_grade_color;
                            }
                        }

                        .level_introduction{
                            h4{
                                color: $second_grade_color;
                            }
                        }
                        
                    }

                    &.item_project_third_grade {
                        .level_img{
                            img {
                                background-color: $third_grade_color;
                            }
                        }

                        .level_introduction{
                            h4{
                                color: $third_grade_color;
                            }
                        }
                        
                    }
                }
                
            }

            }



    }

}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 499px) {}