.map_object {
    position: relative;

    &.new_map {
        .map_object_item {
            .map_object_item_project {
                width: 17%;
                position: absolute;

                .map_object_image_animate {
                    display: none;
                }

                &:hover {
                    .map_object_image {
                        display: none;
                    }

                    .map_object_image_animate {
                        display: block;
                    }
                }

                &.item_project_first_grade {
                    bottom: 30%;
                    left: calc(5%);
                }

                &.item_project_second_grade {
                    bottom: 3%;
                    left: calc(17% * 0.5 + 5%);
                    z-index: 1;
                }

                &.item_project_third_grade {
                    bottom: 30%;
                    left: calc(17% * 1 + 5%);
                }

                &.item_project_fourth_grade {
                    bottom: 3%;
                    left: calc(17% * 1.5 + 5%);
                    z-index: 1;
                }

                &.item_project_fifth_grade {
                    bottom: 30%;
                    left: calc(17% * 2 + 5%);
                }

                &.item_project_sixth_grade {
                    bottom: 3%;
                    left: calc(17% * 2.5 + 5%);
                    z-index: 1;
                }

                &.item_project_seventh_grade {
                    bottom: 30%;
                    left: calc(17% * 3 + 5%);
                }

                &.item_project_eighth_grade {
                    bottom: 3%;
                    left: calc(17% * 3.5 + 5%);
                    z-index: 1;
                }

                &.item_project_ninth_grade {
                    top: auto;
                    bottom: 100%;
                    left: calc(17% * 4 + 5%);
                    transform: translate(0px, calc(100% + 60px));
                }

                &.item_project_tenth_grade {
                    bottom: 3%;
                    left: calc(17% * 4.5 + 5%);
                    z-index: 1;
                }

            }

        }
    }

    .map_object_item {
        .map_object_item_project {
            width: 12.5%;
            position: absolute;

            .item_project_link {

                .item_project_mark {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translate(calc(-50%), -50px);
                    height: 100%;

                    &::before {
                        position: absolute;
                        top: 0;
                        bottom: 0px;
                        width: 3px;
                        background: $main_color;
                        content: '';
                        left: 50%;
                        z-index: -1;
                    }

                    p {
                        background: $main_color;
                        padding: 5px;
                        width: auto;
                        color: $white;
                        border-radius: 10px;
                    }
                }

                img {
                    position: relative;
                }
            }

            .map_object_image_animate {
                display: none;
            }

            &:hover {
                .map_object_image {
                    display: none;
                }

                .map_object_image_animate {
                    display: block;
                }
            }

            &.item_project_first_grade {
                bottom: 28%;
                left: calc(75% / 8 * 1);
                z-index: 1;

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $first_grade_color;
                        }

                        p {
                            background: $first_grade_color;
                        }
                    }
                }
            }

            &.item_project_second_grade {
                bottom: 35%;
                left: calc(75% / 8 * 2);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $second_grade_color;
                        }

                        p {
                            background: $second_grade_color;
                        }
                    }
                }
            }

            &.item_project_third_grade {
                bottom: 28%;
                left: calc(75% / 8 * 3);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $third_grade_color;
                        }

                        p {
                            background: $third_grade_color;
                        }
                    }
                }
            }

            &.item_project_fourth_grade {
                bottom: 35%;
                left: calc(75% / 8 * 4);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $fourth_grade_color;
                        }

                        p {
                            background: $fourth_grade_color;
                        }
                    }
                }
            }

            &.item_project_fifth_grade {
                bottom: 28%;
                left: calc(75% / 8 * 5);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $fifth_grade_color;
                        }

                        p {
                            background: $fifth_grade_color;
                        }
                    }
                }
            }

            &.item_project_sixth_grade {
                bottom: 35%;
                left: calc(75% / 8 * 6);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $sixth_grade_color;
                        }

                        p {
                            background: $sixth_grade_color;
                        }
                    }
                }
            }

            &.item_project_seventh_grade {
                bottom: 28%;
                left: calc(75% / 8 * 7);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $seventh_grade_color;
                        }

                        p {
                            background: $seventh_grade_color;
                        }
                    }
                }
            }

            &.item_project_eighth_grade {
                bottom: 35%;
                left: calc(75% / 8 * 8);

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $eighth_grade_color;
                        }

                        p {
                            background: $eighth_grade_color;
                        }
                    }
                }
            }

            &.item_project_ninth_grade {
                top: 5%;
                left: 80%;

                .item_project_link {
                    .item_project_mark {
                        &::before {
                            background: $ninth_grade_color;
                        }

                        p {
                            background: $ninth_grade_color;
                        }
                    }
                }
            }

            &.item_project_tenth_grade {
                bottom: 35%;
                left: calc(75% / 8 * 8);

                .item_project_link {
                    .item_project_mark {
                        min-width: 120px;
                        &::before {
                            background: $tenth_grade_color;
                        }

                        p {
                            background: $tenth_grade_color;
                        }
                    }
                }

                &:hover {
                    .map_object_image {
                        display: block;
                    }
                }
            }
        }
    }
}

.main {
    &.grade_map {

        .tittle,
        .booklist_introduce {
            margin: 0 auto;
            max-width: 1200px;
            width: 80%;
        }

        &.map_index {
            margin: 0 auto;
            position: relative;

            .map_object {
                .map_object_item {
                    .map_object_item_project {
                        width: 12.5%;
                        position: absolute;

                        .map_object_image_animate {
                            display: none;
                        }

                        &:hover {
                            .map_object_image {
                                display: none;
                            }

                            .map_object_image_animate {
                                display: block;
                            }
                        }

                        &.item_project_first_grade {
                            bottom: 28%;
                            left: calc(75% / 8 * 1);
                            z-index: 1;
                        }

                        &.item_project_second_grade {
                            bottom: 35%;
                            left: calc(75% / 8 * 2);
                        }

                        &.item_project_third_grade {
                            bottom: 28%;
                            left: calc(75% / 8 * 3);
                            z-index: 1;
                        }

                        &.item_project_fourth_grade {
                            bottom: 35%;
                            left: calc(75% / 8 * 4);
                        }

                        &.item_project_fifth_grade {
                            bottom: 28%;
                            left: calc(75% / 8 * 5);
                            z-index: 1;
                        }

                        &.item_project_sixth_grade {
                            bottom: 35%;
                            left: calc(75% / 8 * 6);
                        }

                        &.item_project_seventh_grade {
                            bottom: 28%;
                            left: calc(75% / 8 * 7);
                            z-index: 1;
                        }

                        &.item_project_eighth_grade {
                            bottom: 35%;
                            left: calc(75% / 8 * 8);
                        }

                        &.item_project_ninth_grade {
                            top: 5%;
                            left: 80%;
                        }
                    }
                }

                &.route_map {
                    width: 70%;
                    max-width: 1200px;
                    margin: 0 auto;

                    .route_map_area {
                        position: relative;
                        width: 100%;
                        margin: 300px auto;
                        .route_item {
                            position: relative;
                            height: 350px;
                            border: 30px solid $brown;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                border: 7px dotted $white;
                                width: calc(100% + 30px - 7px);
                                height: calc(100% + 30px - 7px);
                            }

                            &.route_1 {
                                border-top-right-radius: 350px;
                                border-left: 0;
                                border-bottom: 0;
                                margin-left: 50%;
                                margin-top: -30px;
    
                                &::before {
                                    border-top-right-radius: 350px;
                                    border-left: 0;
                                    border-bottom: 0;
                                    transform: translate(-7px, -15px);
                                }
                            }
    
                            &.route_2 {
                                border-bottom-right-radius: 350px;
                                border-left: 0;
                                border-top: 0;
                                margin-left: 50%;
    
                                &::before {
                                    border-bottom-right-radius: 350px;
                                    border-left: 0;
                                    border-top: 0;
                                    transform: translate(-7px, -7.5px);
                                }
                            }
    
                            &.route_3 {
                                border-top-left-radius: 350px;
                                border-right: 0px;
                                border-bottom: 0px;
                                margin-right: 50%;
                                margin-top: -30px;
    
                                &::before {
                                    border-top-left-radius: 350px;
                                    border-right: 0px;
                                    border-bottom: 0px;
                                    transform: translate(-23px, -15px);
                                }
                            }
    
                            &.route_4 {
                                border-bottom-left-radius: 350px;
                                border-right: 0px;
                                border-top: 0;
                                margin-right: 50%;
    
                                &::before {
                                    border-bottom-left-radius: 350px;
                                    border-right: 0px;
                                    border-top: 0;
                                    transform: translate(-23px, -7.5px);
                                }
                            }
                        }
                    }

                    .map_route_item {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, 0%);

                        .map_object_item_project {
                            transform: translate(-50%, -50%);
                            position: absolute;
                            width: 27%;

                            .map_route_item_link {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: flex-end;

                                .level_correspondence_marker {
                                    position: relative;
                                    width: 25%;
                                    height: 120px;
                                    align-items: flex-start;

                                    &::before {
                                        height: 120px;
                                    }
                                }

                                .map_object_image,
                                .map_object_image_animate {
                                    width: 70%;
                                    margin-bottom: 10px;
                                    margin-left: auto;
                                    display: block;
                                }

                                .map_object_image_animate {
                                    display: none;
                                }

                                .level_introduction {
                                    padding: 10px 5% 0px;
                                    border-radius: 10px 10px 0px 0px;
                                    width: 100%;
                                    z-index: 1;

                                    .go_map {
                                        padding: 5px 0px;
                                        margin: 5px auto 0px;

                                        p {
                                            border-radius: 10px;
                                            padding: 5px 10px;
                                            border: 1px solid $white;
                                        }
                                    }

                                    p {
                                        color: $white;
                                        text-align: center;
                                    }
                                }
                            }

                            .trial {
                                position: relative;
                                padding: 5px 5% 10px;
                                border-radius: 0px 0px 10px 10px;
                                margin: -1px 0px 0px;

                                a {
                                    text-align: center;
                                    display: block;
                                    color: $white;
                                    border-radius: 10px;
                                    padding: 5px 10px;
                                    margin: 5px 0px 0px;
                                    border: 1px solid $white;
                                }
                            }

                            &:hover {
                                .map_route_item_link {
                                    .map_object_image {
                                        display: none;
                                    }

                                    .map_object_image_animate {
                                        display: block;
                                    }
                                }
                            }

                            &.item_project_first_grade {
                                top: calc(30px * 0.5);
                                left: calc(50%);

                                .level_introduction {
                                    background-color: $first_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($first_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $first_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($first_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_second_grade {
                                top: calc(350px * 1 - 30px * 0);
                                left: calc(100% - 15px);

                                .level_introduction {
                                    background-color: $second_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($second_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $second_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($second_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_third_grade {
                                top: calc(350px * 2 - 30px * 0.5);
                                left: calc(50%);

                                .level_introduction {
                                    background-color: $third_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($third_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $third_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($third_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_fourth_grade {
                                top: calc(350px * 3 - 30px * 1);
                                left: calc(0% + 15px);

                                .level_introduction {
                                    background-color: $fourth_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($fourth_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $fourth_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($fourth_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_fifth_grade {
                                top: calc(350px * 4 - 30px * 1.5);
                                left: calc(50%);

                                .level_introduction {
                                    background-color: $fifth_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($fifth_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $fifth_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($fifth_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_sixth_grade {
                                top: calc(350px * 5 - 30px * 2);
                                left: calc(100% - 15px);

                                .level_introduction {
                                    background-color: $sixth_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($sixth_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $sixth_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($sixth_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_seventh_grade {
                                top: calc(350px * 6 - 30px * 2.5);
                                left: calc(50%);

                                .level_introduction {
                                    background-color: $seventh_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($seventh_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $seventh_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($seventh_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_eighth_grade {
                                top: calc(350px * 7 - 30px * 3);
                                left: calc(0% + 15px);

                                .level_introduction {
                                    background-color: $eighth_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($eighth_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $eighth_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($eighth_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_ninth_grade {
                                top: calc(350px * 8 - 30px * 3.5);
                                left: calc(50%);

                                .level_introduction {
                                    background-color: $ninth_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($ninth_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $ninth_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($ninth_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_tenth_grade {
                                top: calc(350px * 9 - 30px * 4);
                                left: calc(100% - 15px);

                                .level_introduction {
                                    background-color: $tenth_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($tenth_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $tenth_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($tenth_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_eleventh_grade {
                                top: calc(350px * 10 - 30px * 4.5);
                                left: calc(50%);

                                .level_introduction {
                                    background-color: $eleventh_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($eleventh_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $eleventh_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($eleventh_grade_color, 5%);
                                        }
                                    }
                                }
                            }

                            &.item_project_twelfth_grade {
                                top: calc(350px * 11 - 30px * 5);
                                left: calc(0% + 15px);

                                .level_introduction {
                                    background-color: $twelfth_grade_color;

                                    .go_map {
                                        p {
                                            &:hover {
                                                background-color: lighten($twelfth_grade_color, 5%);
                                            }
                                        }
                                    }
                                }

                                .trial {
                                    background-color: $twelfth_grade_color;

                                    a {
                                        &:hover {
                                            background-color: lighten($twelfth_grade_color, 5%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }

    }

    .navigator_area {
        width: 35%;
        max-width: 250px;
        position: fixed;
        right: 15px;
        bottom: 80px;
        z-index: 2;

        // &.navigator_mapman {
        //     position: absolute;
        //     right: auto;
        //     bottom: auto;
        //     width: 27%;
        //     top: 0px;
        //     left: calc(0%);
        //     transform: translate(0%, -50%);
        // }

        &.navigator_reportman {
            .navigator_content {
                .navigator_book_area {
                    display: flex;
                    justify-content: center;

                    .report_download {
                        background-color: $main_color;
                        color: $white;
                        padding: 5px 10px;
                        border-radius: 10px;

                        &:hover {
                            background-color: darken($main_color, 10%);
                        }
                    }
                }
            }
        }

        .navigator_content {
            display: flex;
            flex-direction: column;

            .navigator_text {
                &:hover {
                    &~.mapman {
                        animation: 2s infinite ease;
                    }
                }

                display: flex;
                justify-content: center;
                margin: 10px auto 0px;
                position: relative;
                background-color: $white;
                @extend %boxShadow_gray;
                padding: 10px 40px 0px 20px;
                border-radius: 10px;

                p {
                    margin: 0 0 10px;

                    span {
                        color: $main_color;
                        font-size: 22px;
                    }
                }

                .navigator_link {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .navigator_link_level {
                        margin: 0 5px 0 0;

                        p {
                            color: $white;
                            padding: 5px;
                            border-radius: 10px;
                            width: auto;
                            display: inline-block;
                        }

                        &.first_grade {
                            p {
                                background-color: $first_grade_color;
                            }
                        }

                        &.second_grade {
                            p {
                                background-color: $second_grade_color;
                            }
                        }

                        &.third_grade {
                            p {
                                background-color: $third_grade_color;
                            }
                        }

                        &.fourth_grade {
                            p {
                                background-color: $fourth_grade_color;
                            }
                        }

                        &.fifth_grade {
                            p {
                                background-color: $fifth_grade_color;
                            }
                        }

                        &.sixth_grade {
                            p {
                                background-color: $sixth_grade_color;
                            }
                        }

                        &.seventh_grade {
                            p {
                                background-color: $seventh_grade_color;
                            }
                        }

                        &.eighth_grade {
                            p {
                                background-color: $eighth_grade_color;
                            }
                        }

                        &.ninth_grade {
                            p {
                                background-color: $ninth_grade_color;
                            }
                        }
                    }
                }

                .close-modal {
                    border-radius: 0 0 0 10px;
                }
            }

            .navigator_book_area {
                padding: 10px 40px 10px 10px;
                background-color: $white;
                position: relative;
                border-radius: 10px;
                @extend %boxShadow_gray;

                .navigator_book {
                    position: relative;
                    margin: 10px auto 0px;

                    img {
                        border-radius: 10px;
                    }
                }

                .close-modal {
                    border-radius: 0 0 0 10px;
                }
            }
        }
    }
}

.modal_trial {
    h3 {
        color: $brown;
        margin: 0px auto 10px;
        padding: 0px 0px 10px;
        border-bottom: 1px solid $brown;
    }

    p {
        color: $black;
    }

    span {
        color: $black;
    }

    .trial_paragraph {
        display: flex;
    }

    .modal_trial_btn {
        display: flex;
        flex-wrap: wrap;

        button {
            border: 1px solid $brown;
            border-radius: 10px;
            padding: 5px 10px;
            margin: 5px 10px 5px 0px;

            a {
                color: $brown;
            }

            &:hover {
                background-color: $brown;

                a {
                    color: $white;
                }
            }
        }

    }
}

@media screen and (max-width: 1200px) {
    .main {
        &.grade_map {
            &.map_index {
                .map_object {
                    &.route_map {
                        .map_route_item {
                            .map_object_item_project {
                                .map_route_item_link {
                                    .level_correspondence_marker {
                                        height: 90px;

                                        &::before {
                                            bottom: 0;
                                            height: 90px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .map_object {
        position: relative;

        .map_object_item {
            .map_object_item_project {

                .item_project_link {

                    .item_project_mark {
                        width: 70%;

                        p {
                            text-align: center;
                        }
                    }
                }

                &.item_project_tenth_grade {
                    .item_project_link {
                        .item_project_mark {
                            min-width: 110px;
                        }
                    }
                }
            }
        }
    }

    .main {
        &.grade_map {
            &.map_index {
                .map_object {
                    &.route_map {

                        .map_route_item {

                            .map_object_item_project {
                                width: 35%;
                            }
                        }
                    }
                }
            }
        }

        .navigator_area {

            .navigator_content {

                .navigator_text {

                    p {
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .map_object {

        &.new_map {
            .map_object_item {
                .map_object_item_project {
                    width: 16%;

                    .item_project_link {
                        .item_project_mark {
                            width: 100%;
                        }
                    }

                    .map_object_image {
                        display: none;
                    }

                    &:hover {
                        .map_object_image_animate {
                            display: none;
                        }
                    }

                    &.item_project_first_grade {
                        bottom: 55%;
                        left: 3.3%;
                    }

                    &.item_project_second_grade {
                        bottom: 10%;
                        left: 3.3%;
                    }

                    &.item_project_third_grade {
                        bottom: 55%;
                        left: calc(16% * 1 + 3.3% * 2);
                    }

                    &.item_project_fourth_grade {
                        bottom: 10%;
                        left: calc(16% * 1 + 3.3% * 2);
                    }

                    &.item_project_fifth_grade {
                        bottom: 55%;
                        left: calc(16% * 2 + 3.3% * 3);
                    }

                    &.item_project_sixth_grade {
                        bottom: 10%;
                        left: calc(16% * 2 + 3.3% * 3);
                    }

                    &.item_project_seventh_grade {
                        bottom: 55%;
                        left: calc(16% * 3 + 3.3% * 4);
                    }

                    &.item_project_eighth_grade {
                        bottom: 10%;
                        left: calc(16% * 3 + 3.3% * 4);
                    }
                    
                    &.item_project_ninth_grade {
                        bottom: 55%;
                        left: calc(16% * 4 + 3.3% * 5);
                        transform: translate(0px, 0px);
                    }

                    &.item_project_tenth_grade {
                        bottom: 10%;
                        left: calc(16% * 4 + 3.3% * 5);

                        .item_project_link {
                            .item_project_mark {
                                min-width: 102px;
                            }
                        }

                        &:hover {
                            .map_object_image {
                                display: none;
                            }
                        }
                    }

                }

            }
        }

        .map_object_item {
            .map_object_item_project {

                .item_project_link {

                    .item_project_mark {
                        width: 90%;
                        transform: translate(calc(-50%), -50px);

                        &::before {
                            height: 45px;
                        }

                        p {
                            text-align: center;
                            padding: 3px;
                        }
                    }
                }

            }
        }
    }

    .main {
        &.grade_map {

            &.map_index {
                .map_object {

                    &.route_map {
                        width: 50%;

                        .route_map_area {
                            margin: 215px auto 315px;

                            .route_item {
                                height: 500px;
    
                                &.route_1 {
                                    border-top-right-radius: 500px;
        
                                    &::before {
                                        border-top-right-radius: 500px;
                                    }
                                }
        
                                &.route_2 {
                                    border-bottom-right-radius: 500px;
        
                                    &::before {
                                        border-bottom-right-radius: 500px;
                                    }
                                }
        
                                &.route_3 {
                                    border-top-left-radius: 500px;
        
                                    &::before {
                                        border-top-left-radius: 500px;
                                    }
                                }
        
                                &.route_4 {
                                    border-bottom-left-radius: 500px;
        
                                    &::before {
                                        border-bottom-left-radius: 500px;
                                    }
                                }
                            }
                        }

                        .map_route_item {

                            .map_object_item_project {
                                width: 70%;

                                .map_route_item_link {
                                    .level_correspondence_marker {
                                        height: 65px;
                                    }
                                }

                                &.item_project_first_grade {
                                    top: calc(30px * 0.5);
                                }
    
                                &.item_project_second_grade {
                                    top: calc(500px * 1 - 30px * 0);
                                }
    
                                &.item_project_third_grade {
                                    top: calc(500px * 2 - 30px * 0.5);
                                }
    
                                &.item_project_fourth_grade {
                                    top: calc(500px * 3 - 30px * 1);
                                }
    
                                &.item_project_fifth_grade {
                                    top: calc(500px * 4 - 30px * 1.5);
                                }
    
                                &.item_project_sixth_grade {
                                    top: calc(500px * 5 - 30px * 2);
                                }
    
                                &.item_project_seventh_grade {
                                    top: calc(500px * 6 - 30px * 2.5);
                                }
    
                                &.item_project_eighth_grade {
                                    top: calc(500px * 7 - 30px * 3);
                                }
    
                                &.item_project_ninth_grade {
                                    top: calc(500px * 8 - 30px * 3.5);
                                }
    
                                &.item_project_tenth_grade {
                                    top: calc(500px * 9 - 30px * 4);
                                }
    
                                &.item_project_eleventh_grade {
                                    top: calc(500px * 10 - 30px * 4.5);
                                }
    
                                &.item_project_twelfth_grade {
                                    top: calc(500px * 11 - 30px * 5);
                                }

                            }
                        }
                    }

                }
            }
        }

        .navigator_area {
            display: none;
        }
    }
}

@media screen and (max-width: 499px) {
    .map_object {

        &.new_map {
            .map_object_item {
                .map_object_item_project {

                    &.item_project_second_grade {
                        bottom: 15%;
                    }

                    &.item_project_fourth_grade {
                        bottom: 15%;
                    }

                    &.item_project_sixth_grade {
                        bottom: 15%;
                    }

                    &.item_project_eighth_grade {
                        bottom: 15%;
                    }

                    &.item_project_tenth_grade {
                        bottom: 15%;

                        .item_project_link {
                            .item_project_mark {
                                min-width: auto;
                            }
                        }
                    }

                }

            }
        }
    }

    .main {
        &.grade_map {

            &.map_index {
                .map_object {

                    &.route_map {
                        width: 50%;

                        .map_route_item {

                            .map_object_item_project {
                                width: 80%;
                            }
                        }
                    }

                }
            }
        }
    }
}

@keyframes jump {

    0%,
    90%,
    100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-50px);
    }
}