@use "sass:color";
@use "../base/color"as c;

@use "../base/reset";

.main{
    &.payment {
        width: 80%;
        @extend %max1200;
    
        .payment_area {
            margin: 0px auto 60px;
    
            .payment_item {
                background-color: c.$white;
                border: 1px solid c.$main_color;
                border-radius: 10px;
                margin: 0px auto 40px;
                overflow: hidden;
    
                span {
                    border: solid c.$main_color;
                    border-width: 0 3px 3px 0;
                }
    
                .payment_date {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 20px 15px;
    
                    h4 {
                        margin: 0 10px 0px 0px;
                        color: c.$main_color;
    
                        &:nth-child(2) {
                            margin: 0px 30px 0px 0px;
                        }
                    }
    
                    span {
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(45deg);
                        margin: 0px 0px 0px auto;
                        width: 12px;
                        height: 12px;
    
                        &.up {
                            transform: rotate(-135deg);
                            border: solid c.$white;
                            border-width: 0 3px 3px 0;
                        }
                    }
    
                    &.open {
                        background-color: c.$main_color;
    
                        h4 {
                            color: c.$white;
                        }
                    }
                }
    
                .payment_content {
                    display: flex;
                    align-items: center;
                    margin: 20px auto 0px;
                    padding: 0px 15px 20px;
                    color: c.$brown;

                    .payment_content_item{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: calc(60% / 2);
                        padding: 5px 10px;
                        border-right: 1px solid c.$brown;

                        p{
                            text-align: left;
                        }

                        .payment_content_item_link{
                            
                            a{
                                color: c.$main_color;
                                border: 1px solid c.$main_color;
                                border-radius: 10px;
                                padding: 5px 10px;
    
                                &:hover{
                                    color: c.$white;
                                    background-color: c.$main_color;
                                }
                            }
                        }

                        &:nth-child(3){
                            width: 15%;
                        }

                        &:nth-child(4){
                            width: 25%;
                            border-right: 0px;
                        }
                    }
    
                    h4 {
                        margin: 0 10px 0px 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
    .main{
        &.question {

            .question_area {
                margin: 20px auto;
            }
        }
    }
}

@media screen and (max-width: 499px){
}