.main {
    &.personal {
        .frame_effect {
            background-color: $main_yellow_color;
            background-image: url(../image/photo/library/circle_effect.png);
            background-position: center;
            background-size: contain;
            background-attachment: fixed;
            margin: 0 auto;
            padding: 60px 0px;
            width: 80%;
            border-radius: 10px;
            border-style: solid;
            border-width: 10px;
            -webkit-border-image: url(../image/photo/library/border_effect_brown.png) 10 round;
            -o-border-image: url(../image/photo/library/border_effect_brown.png) 10 round;
            border-image: url(../image/photo/library/border_effect_brown.png) 10 round;

            .folder {
                width: 95%;
                max-width: 1400px;
                margin: 0 auto;

                .folder_content {
                    background-color: $body_bg;
                    position: relative;
                    padding: 30px;
                    border: 2px solid $brown;
                    border-radius: 10px;

                    .membership_card_area {
                        width: 85%;
                        max-width: 800px;
                        background-color: $white;
                        border-radius: 10px;
                        overflow: hidden;
                        margin: 0 0 40px;
                        @extend %boxShadow_gray;

                        .reading_card_text {
                            padding: 20px 50px;
                            background-image: url(../image/svg/dot_bg.svg);
                            background-repeat: repeat;
                            background-size: cover;
                            background-position: center;

                            img {
                                width: 60%;
                            }
                        }

                        .member_information_area {
                            display: flex;
                            justify-content: space-between;
                            padding: 20px 20px 25px;
                            background-image: url(../image/svg/reading_card_bg.svg);
                            background-size: cover;
                            background-position: center;

                            .avatar_area {
                                width: 30%;
                            }

                            .member_information_content {
                                width: 65%;
                                display: flex;

                                .member_information{
                                    max-width: calc(100% - 165px);
                                    margin-right: 20px;
                                    h3 {
                                        color: $brown;
                                    }
    
                                    .edit_profile {
                                        margin: 20px 0px 0px;
    
                                        a {
                                            color: $white;
                                            padding: 10px 20px;
                                            border-radius: 50px;
                                            background-color: $brown;
                                        }
                                    }
                                }
                                
                                .member_information_icon{
                                    display: flex;
                                    flex-direction: column;
                                    .member_icon_area{
                                        margin: 0px 5px;
                                        .member_icon{
                                            padding: 10px;
                                            background-color: $main_color;
                                            border-radius: 50%;
                                            line-height: 0;
                                            width: 80px;
                                            margin: 5px auto;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .medal_statistics {
                        .medal_statistics_title {
                            color: $brown;
                            margin: 0px 0px 10px;
                        }

                        .medallion_area {
                            display: flex;
                            flex-wrap: wrap;

                            .medal_project {
                                width: 14%;
                                margin: 20px 3%;

                                .medal_project_text {
                                    margin: 5px auto;

                                    h4 {
                                        color: $brown;
                                        font-weight: bold;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1200px) {
    .main {
        &.personal {
            .frame_effect {
                .folder {
                    .folder_content {
                        .membership_card_area {
                            width: 100%;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1024px) {
    .main {
        &.personal {
            .frame_effect {
                width: 90%;
                padding: 35px 0px;
                .folder {
                    .folder_content {
                        .membership_card_area {
                            .reading_card_text{
                                padding: 10px 40px;
                                img{
                                    width: 70%;
                                }
                            }
                            .member_information_area {
                                .avatar_area {
                                    width: 35%;
                                }

                                .member_information_content{
                                    width: 60%;
                                    flex-direction: column;

                                    .member_information {
                                        width: 100%;
                                        max-width: none;
                                        .edit_profile{
                                            margin: 15px 0px 0px;
                                        }
                                    }
                                    .member_information_icon{
                                        flex-direction: row;
                                        margin: 20px 0px 0px;
                                        .member_icon_area{
                                            .member_icon{
                                                width: 60px;
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }

                        .medal_statistics {
                            .medal_statistics_title {
                                color: $brown;
                                margin: 0px 0px 10px;
                            }
    
                            .medallion_area {
    
                                .medal_project {
                                    width: 19%;
                                    margin: 20px 3%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}



@media screen and (max-width: 768px) {
    .main {
        &.personal {
            .frame_effect {
                .folder {
                    .folder_content {
                        .membership_card_area {
                            max-width: 350px;
                            .reading_card_text{
                                padding: 10px 40px;
                                img{
                                    width: 100%;
                                }
                            }
                            .member_information_area {
                                flex-direction: column;
                                padding: 10px 20px 25px;

                                .member_information_content {
                                    width: 100%;
                                    margin: 10px 0px 0px;

                                    .member_information_icon{
                                        flex-direction: column;
                                        .member_icon_area{
                                            display: flex;
                                            align-items: center;
                                            .member_icon{
                                                margin: 5px 10px 5px 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .medal_statistics {
                            .medallion_area {
                                .medal_project {
                                    width: 44%;
                                    margin: 5px 3%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 499px) {}