.main {
    &.personal {
        background-color: $personal_bg;
        margin: 0 auto;
        padding: 60px 0px 0px;

        .frame_effect {

            .folder {
                width: 95%;
                max-width: 1400px;
                margin: 0 auto;

                .folder_content {
                    position: relative;
                    padding: 30px;
                    border-radius: 10px;
                    vertical-align: top;

                    .membership_card_area {
                        width: 350px;
                        background-color: $white;
                        border-radius: 10px;
                        overflow: hidden;
                        margin: 0 4% 40px 0px;
                        position: sticky;
                        top: 10px;
                        display: inline-block;
                        @extend %boxShadow_gray;

                        .reading_card_text {
                            padding: 10px 40px;
                            background-image: url(../image/svg/dot_bg.svg);
                            background-repeat: repeat;
                            background-size: cover;
                            background-position: center;

                            img {
                                max-width: 400px;
                            }
                        }

                        .member_information_area {
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            padding: 20px 20px 25px;
                            background-image: url(../image/svg/reading_card_bg.svg);
                            background-size: cover;
                            background-position: center;

                            .avatar_area {
                                width: 45%;
                                margin: 0 auto;
                            }

                            .member_information_content {
                                width: 100%;
                                display: flex;
                                flex-direction: column;

                                .member_information {
                                    width: 100%;
                                    margin: 20px auto;
                                    text-align: center;

                                    h3 {
                                        color: $brown;
                                    }

                                    .edit_profile {
                                        margin: 20px 0px 0px;

                                        a {
                                            color: $white;
                                            padding: 10px 20px;
                                            border-radius: 50px;
                                            background-color: $brown;
                                        }
                                    }
                                }

                                .member_information_icon {
                                    display: flex;
                                    flex-direction: column;

                                    .member_icon_area {
                                        margin: 0px 5px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        .member_icon {
                                            padding: 10px;
                                            background-color: $main_color;
                                            border-radius: 50%;
                                            line-height: 0;
                                            width: 80px;
                                            margin: 10px 10px 10px 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .medal_statistics {
                        width: calc(95% - 350px);
                        display: inline-block;
                        vertical-align: top;

                        .medal_statistics_title {
                            color: $brown;
                            margin: 0px 0px 10px;
                            display: flex;
                            align-items: center;
                            position: relative;

                            .medal_area_button {
                                background-color: $brown;
                                color: $white;
                                border-radius: 50%;
                                cursor: pointer;
                                width: calc(17px * 1.7);
                                margin: 0px 5px;
                                text-align: center;
                            }

                            .medal_area_explain{
                                position: absolute;
                                left: 50%;
                                top: 100%;
                                transform: translate(-50%, 20px);
                                width: auto;
                                max-width: 90%;
                                background-color: #5B3716;
                                border-radius: 10px;
                                padding: 5px 10px;
                                display: none;
                                z-index: 3;
                                h4{
                                    color: $white;
                                }
                                p{
                                    display: flex;
                                    span{
                                        color: $white;
                                    }
                                }
                                &::before{
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-right: 10px solid transparent;
                                    border-left: 10px solid transparent;
                                    border-top: 12px solid transparent;
                                    border-bottom: 12px solid #5B3716;
                                    position: absolute;
                                    z-index: 1;
                                    top: 0%;
                                    left: 50%;
                                    transform: translate(-50%, -100%);
                                }
                            }
                        }

                        .medallion_area {
                            display: flex;
                            flex-wrap: wrap;
                            display: inline-block;

                            .medal_project {
                                margin: 20px 0px 20px 10%;
                                padding: 15px 0px;
                                background-color: $white;
                                border-radius: 10px;
                                display: flex;
                                align-items: center;

                                .medal_project_img {
                                    margin: 0px 0px 0px -10%;
                                    width: 25%;
                                    background-color: $white;
                                    padding: 10px;
                                    border-radius: 50%;
                                }

                                .medal_project_text {
                                    margin: 5px 10px;
                                    width: 75%;

                                    .medal_project_title {
                                        display: flex;
                                        margin: 0px auto 5px;

                                        .medal_project_mark {
                                            padding: 0px 5px;
                                            border-radius: 10px;
                                            margin: 0px 10px 0px 0px;
                                            background-color: $main_color;

                                            h4 {
                                                color: $white;
                                            }
                                        }
                                    }

                                    .progress_content {
                                        display: flex;
                                        align-items: center;
                                        margin: 0px auto 5px;

                                        .drag_line {
                                            width: 80%;
                                            height: 8px;
                                            background: $grey;
                                            border-radius: 10px;
                                            display: flex;
                                            margin-right: 10px;
                                        }

                                        .line {
                                            background-color: $main_color;
                                            border-radius: 10px;
                                        }
                                    }

                                    h4 {
                                        color: $brown;
                                        font-weight: bold;
                                        text-align: center;
                                    }

                                    &.medal_project_first_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $first_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $first_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_second_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $second_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $second_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_third_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $third_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $third_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_fourth_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $fourth_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $fourth_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_fifth_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $fifth_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $fifth_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_sixth_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $sixth_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $sixth_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_seventh_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $seventh_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $seventh_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_eighth_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $eighth_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $eighth_grade_color;
                                                }
                                            }
                                        }
                                    }

                                    &.medal_project_ninth_grade {
                                        .medal_project_title {
                                            .medal_project_mark {
                                                background-color: $ninth_grade_color;
                                            }
                                        }

                                        .progress_content {
                                            .drag_line {
                                                .line {
                                                    background-color: $ninth_grade_color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .personal_bg {
            line-height: 0;
        }
    }

}

@media screen and (max-width: 1400px) {
    .main {
        &.personal {
            .frame_effect {

                .folder {
                    .folder_content {

                        .medal_statistics {

                            .medallion_area {
                                .medal_project {
                                    flex-direction: column;
                                    margin: 20px auto 40px;

                                    .medal_project_img {
                                        width: 40%;
                                        margin: -40px auto 20px;
                                    }

                                    .medal_project_text {
                                        width: 90%;

                                        .medal_project_title {
                                            display: flex;
                                            margin: 0px auto 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1200px) {
    .main {
        &.personal {
            .frame_effect {
                .folder {
                    .folder_content {
                        width: calc(100% - 0px);
                        min-height: 500px;
                        margin: 0px;
                        padding: 15px;
                    }
                }
            }

        }
    }
}


@media screen and (max-width: 1024px) {
    .main {
        &.personal {
            padding: 40px 0px 0px;

            .frame_effect {
                .folder {

                    .folder_content {

                        .membership_card_area {
                            width: 100%;
                            position: relative;
                            top: auto;

                            .member_information_area {
                                flex-direction: row;

                                .avatar_area {
                                    width: 35%;
                                    margin: 0;
                                }

                                .member_information_content {
                                    width: 60%;

                                    .member_information {
                                        text-align: left;
                                        margin: 0 auto 20px;
                                    }

                                    .member_information_icon {
                                        flex-direction: row;

                                        .member_icon_area {
                                            flex-direction: column;
                                            margin: 0px 10px 0px 0px;

                                            .member_icon {
                                                margin: 10px auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .medal_statistics {
                            width: 100%;

                            .medal_statistics_title {
                                justify-content: center;
                                margin: 0 0 25px;
                                .medal_area_button{
                                    width: calc(15px * 1.7);
                                }
                            }

                            .medallion_area {
                                display: flex;

                                .medal_project {
                                    width: 45%;
                                    margin: 20px 2.5% 60px;

                                    .medal_project_img {
                                        width: 50%;
                                        margin: -40px auto 0px;
                                    }

                                    .medal_project_text {
                                        margin: 5px 10px;

                                        .medal_project_title {
                                            flex-direction: column;

                                            .medal_project_mark {
                                                margin: 10px auto 0px;
                                                order: 2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}



@media screen and (max-width: 768px) {
    .main {
        &.personal {
            .frame_effect {

                .folder {

                    .folder_content {

                        .membership_card_area {
                            width: 90%;
                            margin: 0 auto;
                            display: block;

                            .member_information_area {
                                flex-direction: column;

                                .avatar_area {
                                    width: 45%;
                                    margin: 0 auto;
                                }

                                .member_information_content {
                                    width: 100%;

                                    .member_information {
                                        text-align: center;
                                    }

                                    .member_information_icon {
                                        justify-content: center;
                                        flex-direction: column;

                                        .member_icon_area {
                                            margin: 0px 5px;
                                            align-items: center;
                                            justify-content: center;
                                            flex-direction: row;

                                            .member_icon {
                                                margin: 10px;
                                                width: 50px;
                                                padding: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .medal_statistics {
                            width: 100%;
                            margin: 40px auto 0px;

                            .medallion_area {
                                .medal_project {
                                    width: 90%;
                                    flex-direction: row;
                                    margin: 20px 0px 20px 10%;

                                    .medal_project_img {
                                        margin: 0px 0px 0px -10%;
                                        width: 25%;
                                        padding: 5px;
                                    }

                                    .medal_project_text {
                                        margin: 5px 10px;
                                        width: 75%;

                                        .medal_project_title {
                                            align-items: flex-start;

                                            .medal_project_mark {
                                                margin: 10px 0px 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 499px) {
    .main {
        &.personal {
            .frame_effect {

                .folder {

                    .folder_content {
                        .membership_card_area {
                            width: 100%;
                        }

                        .medal_statistics {
                            .medal_statistics_title {
                                margin: 0 0 20px;
                                .medal_area_button{
                                    width: calc(13px * 1.7);
                                }
                            }

                            .medallion_area {
                                .medal_project {
                                    flex-direction: column;
                                    margin: 20px auto;

                                    .medal_project_img {
                                        margin: -40px auto 0px;
                                        width: 50%;
                                    }

                                    .medal_project_text {
                                        margin: 5px auto;
                                        width: 85%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}