.main{
    &.personal{
        width: 80%;
        .membership_card_area{
            width: 60%;
            max-width: 900px;
            background-color: $white;
            border-radius: 10px;
            overflow: hidden;
            margin: 0 auto;
            @extend %boxShadow_gray;
            .reading_card_text{
                padding: 20px 50px;
                background-image: url(../image/svg/plaid_bg.svg);
                background-repeat: repeat;
                background-size: cover;
                background-position: center;
                img{
                    width: 60%;
                }
            }
            .member_information_area{
                display: flex;
                justify-content: space-between;
                padding: 20px 40px;
                .avatar_area{
                    width: 30%;
                }
                .member_information{
                    width: 65%;
                    h3{
                        color: $brown;
                    }
                    .edit_profile{
                        margin: 25px 0px 0px;
                        a{
                            color: $white;
                            padding: 10px 30px;
                        border-radius: 50px;
                        background-color: $brown;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}



@media screen and (max-width: 768px) {
}

@media screen and (max-width: 499px) {
}