@use "sass:color";
@use "../base/color"as c;

.slide {
    position: relative;
    line-height: 1;

    .slide_plans_content {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translate(0, -50%);
        width: 68%;

        .slide_plans_text {
            transform: translate(15%, 0px);

            img {
                max-width: 425px;
                margin: 0 0 10px 0;
            }

            p {
                font-size: 25px;
            }

            h3 {
                font-size: 45px;
                margin: 10px 0 0;
                color: c.$main_color;
            }
        }
    }

    .slide_plans_project {
        position: absolute;
        right: 22%;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 40px 0;

        .slide_plans_project_item {
            width: auto;
            margin: 0 0 30px;

            .slide_plans_project_item_content {
                display: flex;
                align-items: center;
                background-color: c.$white;
                padding: 8px 20px;
                border-radius: 50px;

                .slide_plans_project_item_icon {
                    width: 40px;
                    margin: 0 8px 0 0;

                    img {
                        border-radius: 50%;
                    }
                }

                .slide_plans_project_item_text {
                    p {
                        font-size: 15px;
                    }
                }
            }

            &:nth-child(2) {
                transform: translate(-35px, 0);
            }

            &:nth-child(3) {
                transform: translate(-180px, 0);
            }

            &:nth-child(4) {
                transform: translate(-165px, 0);
            }
        }
    }
}

.main {
    &.plans {
        width: 80%;
        max-width: 1200px;

        .plans_introduce {
            .plans_introduce_tittle {
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0 auto 30px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    z-index: -1;
                    width: 100%;
                    height: 1px;
                    background-color: c.$main_color;
                }

                h3 {
                    max-width: 80%;
                    padding: 5px 15px;
                    color: c.$main_color;
                    background-color: c.$body_bg;
                }
            }

            .plans_description_area {
                margin: 0 auto 60px;

                .plans_description_content {
                    display: flex;
                    justify-content: space-between;
                    margin: 20px auto;

                    .plans_description_item {
                        width: 30%;

                        .plans_description_item_img {
                            width: 80%;
                            margin: 0 auto 20px;
                        }

                        .plans_description_item_text {
                            display: flex;
                            justify-content: center;
                            margin: 20px auto;

                            p {
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .plans_dcec_area {
                margin: 0 auto 60px;

                .plans_dcec_content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px auto;

                    .plans_dcec_img {
                        width: calc(25% - 30px);
                        max-width: 200px;
                        margin: 0 auto 20px;
                    }

                    .plans_dcec_text {
                        width: 75%;
                        margin: 0;

                        .plans_dcec_text_link {
                            margin: 20px 10px 20px 0px;
                            display: inline-block;

                            a {
                                color: c.$main_color;
                                border: 1px solid c.$main_color;
                                border-radius: 10px;
                                padding: 5px 10px;

                                &:hover {
                                    color: c.$white;
                                    background-color: c.$main_color;
                                }
                            }
                        }
                    }
                }


            }

            .plans_function_area {
                margin: 0 auto 60px;

                .plans_function_content {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin: 20px auto;

                    .plans_function_item {
                        width: 30%;
                        padding: 15px 15px 10px;
                        margin: 0 auto 20px;
                        border: 1px solid c.$brown;
                        border-radius: 10px;
                        background-color: c.$white;

                        .plans_function_item_top {
                            display: flex;
                            justify-content: space-between;

                            .plans_function_item_icon {
                                img {
                                    width: 80px;
                                }
                            }

                            .plans_function_item_num {
                                h3 {
                                    color: c.$white;
                                    line-height: 1;
                                    padding: 5px 10px;
                                    border-radius: 50%;
                                }
                            }
                        }

                        .plans_function_item_text {
                            h4 {
                                color: c.$brown;
                                margin: 0 0 5px 0;
                            }
                        }

                        .plans_function_item_img {
                            margin: 10px auto;

                            img {
                                border-radius: 5px;
                            }
                        }

                        &:nth-child(1) {
                            .plans_function_item_top {
                                .plans_function_item_num {
                                    h3 {
                                        background-color: #3ba055;
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            .plans_function_item_top {
                                .plans_function_item_num {
                                    h3 {
                                        background-color: #8462b9;
                                    }
                                }
                            }
                        }

                        &:nth-child(3) {
                            .plans_function_item_top {
                                .plans_function_item_num {
                                    h3 {
                                        background-color: #3b9ae8;
                                    }
                                }
                            }
                        }

                        &:nth-child(4) {
                            .plans_function_item_top {
                                .plans_function_item_num {
                                    h3 {
                                        background-color: #fda927;
                                    }
                                }
                            }
                        }

                        &:nth-child(5) {
                            .plans_function_item_top {
                                .plans_function_item_num {
                                    h3 {
                                        background-color: #4fc4c7;
                                    }
                                }
                            }
                        }

                        &:nth-child(6) {
                            .plans_function_item_top {
                                .plans_function_item_num {
                                    h3 {
                                        background-color: #fe6842;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .plans_process_area {
                margin: 0 auto 60px;

                .plans_process_content {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 20px auto;

                    .plans_process_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        width: calc((100% - 25px * 6) / 7);

                        .plans_process_item_icon {
                            width: 60%;
                            max-width: 100px;
                            margin: 0 auto;
                        }

                        .plans_process_item_text {
                            p {
                                text-align: center;
                            }
                        }
                    }

                    .plans_process_arrow {
                        width: 25px;

                        i {
                            font-size: 23px;
                            color: c.$brown;
                        }
                    }

                    .plans_process_text_area {
                        width: 100%;

                        .plans_process_line_area {
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            margin: 20px auto 10px;

                            .plans_process_line_left,
                            .plans_process_line_right {
                                margin: 0px calc((100% - 150px) / 7 * 0.5);

                                .plans_process_line_arrow {
                                    i {
                                        font-size: 23px;
                                        color: c.$brown;
                                    }
                                }
                            }

                            .plans_process_line_left {
                                transform: translate(-50%, 0);
                            }


                            .plans_process_line_right {
                                transform: translate(50%, 0);
                            }

                            .plans_process_line_center {
                                position: absolute;
                                left: calc((100% - 150px) / 7 * 0.5);
                                width: calc(100% - calc((100% - 150px) / 7));
                                transform: translate(0, -2px);
                                height: 3px;
                                background-color: c.$brown;
                            }
                        }

                        .plans_process_text {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }

            .plans_experience_area {
                position: relative;
                margin: 0 auto 60px;

                .plans_experience_content {
                    margin: 20px auto;

                    .swiper_experience {
                        position: initial;
                        width: calc(100% - 70px);

                        .swiper-wrapper {
                            .swiper-slide {
                                .swiper_slide_content {
                                    width: 95%;
                                    margin: 0 auto;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    .swiper_slide_content_img {
                                        width: 15%;
                                    }

                                    .swiper_slide_content_text {
                                        width: calc(85% - 30px);
                                        position: relative;
                                        padding: 20px;
                                        background-color: c.$white;
                                        border-radius: 20px;
                                        border: 1.5px solid c.$brown;

                                        h4 {
                                            color: c.$brown;
                                            margin: 0 auto 10px;
                                        }

                                        &::before {
                                            content: "";
                                            width: 0;
                                            height: 0;
                                            border-right: 10px solid c.$brown;
                                            border-left: 0px solid;
                                            border-top: 12px solid transparent;
                                            border-bottom: 12px solid transparent;
                                            position: absolute;
                                            z-index: -1;
                                            top: 50%;
                                            left: -10px;
                                            transform: translate(0%, -50%);
                                        }
                                    }
                                }
                            }
                        }

                        .swiper_experience_pagination {
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translate(-50%, 20px);
                        }
                    }
                }
            }

            .plans_item_area {
                margin: 0 auto 60px;

                .plans_item_content {
                    margin: 20px auto;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .plans_item_content_item {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 32%;
                        margin: 0 0 10px;
                        padding: 0 10px 10px;
                        background-color: c.$white;
                        border: 1px solid c.$brown;
                        border-radius: 10px;

                        .plans_item_content_tittle {
                            margin: 0 auto 5px;

                            p {
                                span {
                                    font-size: 30px;
                                    font-weight: bold;
                                }
                            }
                        }

                        .plans_item_content_name {
                            margin: 0 auto 15px;

                            p {
                                padding: 8px 25px;
                                border-radius: 0 0 20px 20px;
                                color: c.$white;
                                background-color: c.$main_color;
                            }
                        }

                        .plans_item_content_text {
                            margin: 0 auto 5px;
                            text-align: center;
                        }

                        .plans_item_content_caption {
                            width: 100%;
                            margin: 0 auto 10px;
                            padding: 5px 10px;
                            background-color: c.$white;
                            border: 1px solid c.$brown;
                            border-radius: 10px;

                            p {
                                text-align: center;

                                &:nth-child(2) {
                                    color: c.$main_color;
                                    line-height: 1;

                                    span {
                                        &.num {
                                            font-size: 30px;
                                            font-weight: bold;
                                            color: c.$main_color;
                                            line-height: 1;
                                        }
                                    }
                                }
                            }


                        }

                        .plans_item_content_price {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            margin: 0 auto 5px;
                            padding: 10px;
                            background-color: c.$white;
                            border: 1px solid c.$brown;
                            border-radius: 10px;

                            .special_offers {
                                h4 {
                                    color: c.$main_color;
                                }
                            }
                        }

                        .plans_item_content_btn {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            margin: 10px auto;
                            padding: 5px 10px;
                            border-radius: 50px;

                            a {
                                width: 100%;
                                color: c.$white;
                                text-align: center;
                            }

                            &:hover {
                                background-color: c.$brown !important;
                                background-color: c.$main_color;
                            }
                        }

                        &.three_month {
                            border: 1px solid c.$three_month;

                            .plans_item_content_tittle {
                                p {
                                    span {
                                        color: c.$three_month;
                                    }
                                }
                            }

                            .plans_item_content_name {
                                p {
                                    background-color: c.$three_month;
                                }
                            }

                            .plans_item_content_caption {
                                border: 1px solid c.$three_month;

                                p {
                                    &:nth-child(2) {
                                        color: c.$three_month;

                                        span {
                                            color: c.$three_month;
                                        }
                                    }
                                }
                            }

                            .plans_item_content_price {
                                border: 1px solid c.$three_month;
                            }

                            .plans_item_content_btn {
                                background-color: c.$three_month;
                            }
                        }

                        &.six_month {
                            border: 1px solid c.$six_month;

                            .plans_item_content_tittle {
                                p {
                                    span {
                                        color: c.$six_month;
                                    }
                                }
                            }

                            .plans_item_content_name {
                                p {
                                    background-color: c.$six_month;
                                }
                            }

                            .plans_item_content_caption {
                                border: 1px solid c.$six_month;

                                p {
                                    &:nth-child(2) {
                                        color: c.$six_month;

                                        span {
                                            color: c.$six_month;
                                        }
                                    }
                                }
                            }

                            .plans_item_content_price {
                                border: 1px solid c.$six_month;
                            }

                            .plans_item_content_btn {
                                background-color: c.$six_month;
                            }
                        }

                        &.twelve_month {
                            border: 1px solid c.$twelve_month;

                            .plans_item_content_tittle {
                                p {
                                    span {
                                        color: c.$twelve_month;
                                    }
                                }
                            }

                            .plans_item_content_name {
                                p {
                                    background-color: c.$twelve_month;
                                }
                            }

                            .plans_item_content_caption {
                                border: 1px solid c.$twelve_month;

                                p {
                                    &:nth-child(2) {
                                        color: c.$twelve_month;

                                        span {
                                            color: c.$twelve_month;
                                        }
                                    }
                                }
                            }

                            .plans_item_content_price {
                                border: 1px solid c.$twelve_month;
                            }

                            .plans_item_content_btn {
                                background-color: c.$twelve_month;
                            }
                        }
                    }
                }
            }

        }
    }
}

.plans_subscription_area {
    width: 100%;
    background-color: c.$main_color;

    .plans_subscription_content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;

        .plans_subscription_text_area {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px auto 10px;

            p {
                color: c.$white;
            }
        }

        .plans_subscription_link_area {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 10px auto;

            .plans_subscription_link_item {
                margin: 10px;
                border: 1px solid c.$white;
                border-radius: 10px;

                a {
                    display: block;
                    padding: 5px 10px;
                    color: c.$white;
                }

                &:hover {
                    border: 1px solid c.$brown;
                    background-color: c.$brown;
                }
            }
        }
    }

}

.plan_content_modal {
    width: 80%;
    max-width: 1024px;
    background-color: c.$body_bg;
    margin: 40px auto;

    .plan_content_modal_area {
        .plan_content_modal_content {
            .plan_content_modal_title {
                display: flex;
                justify-content: center;
                margin: 10px auto 20px;

                h4 {
                    color: c.$brown;
                }
            }

            .modal_plan_name {
                display: flex;
                justify-content: center;
            }

            .modal_plan_form_group {
                display: flex;
                justify-content: center;
                margin: 20px auto;

                .input-group {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }

                label {
                    margin: 0 10px 0 0;
                    border-left: 3px solid #5B3716;
                    padding: 0px 0px 0px 10px;
                }

                input {
                    background-color: c.$white;
                    border: 0px solid c.$brown;
                    border-bottom: 1px solid c.$brown;
                    padding: 3px 8px;

                    &:focus {
                        outline: 0;
                        background-color: color.adjust(c.$brown, $lightness: 60%);
                    }

                    &:disabled {
                        background-color: transparent;
                        border-bottom: 1px solid c.$brown;
                    }

                    &::placeholder {
                        color: color.adjust(c.$brown, $lightness: 35%);
                        font-weight: normal;
                    }
                }

                .discount_code_btn {
                    display: flex;
                    justify-content: center;
                    margin: 0 0 0 10px;
                    padding: 5px 15px;
                    border-radius: 50px;
                    background-color: c.$brown;

                    p {
                        color: c.$white;
                        text-align: center;
                    }

                    &:hover {
                        background-color: c.$main_color;
                    }
                }
            }

            .modal_plan_price {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                p {
                    margin: 10px;
                }

                .total_price {

                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 10px auto;

                    h4 {
                        font-size: 45px;
                        color: c.$main_color;
                    }


                }
            }

            .consent_input_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px auto;

                .consent_input_text {
                    text-align: center;
                }

                .consent_input_checkbox {
                    position: absolute;
                    opacity: 0;

                    &+label {
                        color: c.$main_color;
                        display: flex;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        padding: 0;
                        margin: 20px auto;

                        &:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 20px;
                            height: 20px;
                            background: c.$white;
                            border: 1px solid c.$brown;
                        }

                        .consent_input_text {
                            text-align: left;
                            width: calc(100% - 20px - 10px);

                            a {
                                color: c.$brown;
                                text-decoration: underline;
                                margin: 0 3px;

                                &:hover {
                                    color: c.$main_color;
                                }
                            }
                        }
                    }

                    &:hover {
                        &+label {
                            color: c.$brown;

                            &:before {
                                border: 1px solid c.$brown;
                            }
                        }
                    }

                    &:checked {
                        &+label {
                            background-color: transparent !important;

                            &:before {
                                border: 1px solid c.$brown;
                                background-color: c.$brown;
                            }

                            &:after {
                                font-family: "Font Awesome 5 Free";
                                content: '\f00c';
                                position: absolute;
                                left: auto !important;
                                transform: translateX(0);
                                color: c.$white;
                                width: 22px;
                                font-size: 15px;
                                text-align: center;
                                font-weight: 900;
                            }
                        }
                    }
                }
            }

            .modal_plan_btn {
                display: flex;
                justify-content: center;
                width: 80%;
                max-width: 500px;
                margin: 20px auto;
                padding: 5px 10px;
                border-radius: 50px;
                background-color: c.$brown;

                &:disabled {
                    &:hover {
                        a {
                            cursor: auto;
                        }
                    }
                }

                a {
                    width: 100%;
                    color: c.$white;
                    text-align: center;
                }
            }
        }
    }

    &.three_month {
        border: 5px solid c.$three_month;

        .plan_content_modal_area {
            .plan_content_modal_content {
                .modal_plan_btn {
                    background-color: c.$three_month;

                    &:hover {
                        background-color: c.$brown;
                    }

                    &:disabled {
                        &:hover {
                            background-color: c.$three_month;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    &.six_month {
        border: 5px solid c.$six_month;

        .plan_content_modal_area {
            .plan_content_modal_content {
                .modal_plan_btn {
                    background-color: c.$six_month;

                    &:hover {
                        background-color: c.$brown;
                    }

                    &:disabled {
                        &:hover {
                            background-color: c.$six_month;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    &.twelve_month {
        border: 5px solid c.$twelve_month;

        .plan_content_modal_area {
            .plan_content_modal_content {
                .modal_plan_btn {
                    background-color: c.$twelve_month;

                    &:hover {
                        background-color: c.$brown;
                    }

                    &:disabled {
                        &:hover {
                            background-color: c.$twelve_month;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .slide {

        .slide_plans_content {
            // top: 30px;

            .slide_plans_text {
                img {
                    max-width: 350px;
                }

                h3 {
                    font-size: 35px;
                }
            }
        }

        .slide_plans_project {
            justify-content: center;
            padding: 30px 0;

            .slide_plans_project_item {
                margin: 8px 0;

                &:nth-child(3) {
                    transform: translate(-135px, 0);
                }

                &:nth-child(4) {
                    transform: translate(-120px, 0);
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .slide {

        .slide_plans_content {
            top: 50%;
            transform: translate(0px, -50%);

            .slide_plans_text {
                p {
                    font-size: 17px;
                }
            }
        }

        .slide_plans_project {
            padding: 8px 10px;

            .slide_plans_project_item {

                .slide_plans_project_item_content {
                    .slide_plans_project_item_icon {
                        width: 25px;
                        margin: 0 5px 0 0;
                    }
                }

            }

        }
    }

    .main {
        &.plans {
            .plans_introduce {
                .plans_process_area {
                    .plans_process_content {
                        flex-wrap: wrap;
                        justify-content: flex-end;

                        .plans_process_item {
                            width: calc((100% - 25px * 3) / 4);

                            &:nth-child(9) {
                                order: 13;
                            }

                            &:nth-child(11) {
                                order: 11;
                            }

                            &:nth-child(13) {
                                order: 9;
                            }

                        }

                        .plans_process_arrow {
                            &:nth-child(8) {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                width: 100%;
                                height: 90px;
                                order: 8;

                                i {
                                    width: calc((100% - 25px * 3) / 4);
                                    text-align: center;

                                    &::before {
                                        content: "\f309";
                                    }
                                }
                            }

                            &:nth-child(10) {
                                order: 12;

                                i {
                                    transform: rotate(-180deg);
                                }
                            }

                            &:nth-child(12) {
                                order: 10;

                                i {
                                    transform: rotate(-180deg);
                                }
                            }
                        }

                        .plans_process_text_area {
                            order: 14;

                            .plans_process_line_area {

                                .plans_process_line_left,
                                .plans_process_line_right {
                                    margin: 0px calc((100% - 25px * 3) / 4 * 0.5);
                                }

                                .plans_process_line_center {
                                    left: calc((100% - 25px * 3) / 4 * 0.5);
                                    width: calc(100% - calc((100% - 25px * 3) / 4));
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1200px) {
    .slide {

        .slide_plans_content {
            left: 20px;
            height: auto;

            .slide_plans_text {

                img {
                    margin: 0 0 5px 0;
                }

                p {
                    font-size: 15px;
                }

                h3 {
                    font-size: 24px;
                    margin: 5px 0 0;
                }
            }
        }

        .slide_plans_project {
            right: 20%;

            .slide_plans_project_item {
                margin: 5px 0;

                &:nth-child(2) {
                    transform: translate(0, 0);
                }

                &:nth-child(3),
                &:nth-child(4) {
                    transform: translate(-105px, 0);
                }
            }
        }
    }

    .main {
        &.plans {
            .plans_introduce {
                .plans_dcec_area {
                    .plans_dcec_content {
                        .plans_dcec_img {
                            width: calc(30% - 30px);
                            margin: 20px 0;
                        }

                        .plans_dcec_text {
                            width: 70%;
                        }
                    }

                }

                .plans_function_area {
                    .plans_function_content {
                        .plans_function_item {
                            width: 45%;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .main {

        // &.plans {
        //     .plans_introduce {
        //         .plans_item_area {
        //             .plans_item_content {
        //                 width: 48%;
        //             }
        //         }
        //     }
        // }

        &.plans {
            .plans_introduce {
                .plans_description_area {
                    .plans_description_content {
                        flex-wrap: wrap;

                        .plans_description_item {
                            width: 45%;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 992px) {
    .slide {

        .slide_plans_content {
            // top: 20px;
            // transform: translate(0px, 0%);

            .slide_plans_text {
                img {
                    max-width: 280px;
                }

                h3 {
                    font-size: 24px;
                }
            }
        }

        .slide_plans_project {
            position: relative;
            right: auto;
            width: 100%;
            height: auto;
            padding: 8px 10px;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto;
            background-color: #e8ecf0;
            transform: translate(0px, -2px);

            .slide_plans_project_item {
                width: 45%;
                margin: 5px;

                .slide_plans_project_item_content {
                    padding: 8px 0;
                    background-color: transparent;
                    border-radius: 0;
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    transform: translate(0, 0);
                }
            }
        }
    }

    .main {
        &.plans {
            .plans_introduce {
                .plans_experience_area {
                    .plans_experience_content {
                        .swiper_experience {

                            .swiper-wrapper {
                                .swiper-slide {
                                    .swiper_slide_content {

                                        .swiper_slide_content_img {
                                            width: 20%;
                                        }

                                        .swiper_slide_content_text {
                                            width: calc(80% - 30px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .slide {
        .slide_plans_content {
            // top: 5px;
            z-index: 1;
            width: 70%;

            .slide_plans_text {
                transform: translate(0%, 0px);

                img {
                    display: none;
                }

                p {
                    font-size: 13px;
                }

                h3 {
                    font-size: 18px;
                }
            }
        }

        .slide_plans_project {
            .slide_plans_project_item {
                width: 100%;
            }
        }
    }

    .main {
        &.plans {
            .plans_introduce {
                .plans_introduce_tittle {
                    justify-content: flex-start;
                    margin: 0 auto;

                    &::before {
                        display: none;
                    }

                    h3 {
                        max-width: 100%;
                        padding: 5px 0;
                    }
                }

                .plans_description_area {
                    .plans_description_content {

                        .plans_description_item {
                            width: 80%;
                            margin: 0 auto;

                            .plans_description_item_img {
                                margin: 10px auto;
                            }

                            .plans_description_item_text {
                                margin: 10px auto;
                            }
                        }
                    }
                }

                .plans_dcec_area {

                    .plans_dcec_content {
                        flex-direction: column;

                        .plans_dcec_img {
                            width: 100%;
                            max-width: 150px;
                        }

                        .plans_dcec_text {
                            width: 100%;
                        }
                    }


                }

                .plans_function_area {
                    .plans_function_content {
                        .plans_function_item {
                            width: 100%;
                        }
                    }

                }

                .plans_process_area {
                    .plans_process_content {
                        justify-content: flex-start;

                        .plans_process_item {
                            width: calc((100% - 25px * 2) / 3);

                            &:nth-child(7) {
                                order: 11;
                            }

                            &:nth-child(9) {
                                order: 9;
                            }

                            &:nth-child(11) {
                                order: 7;
                            }

                            &:nth-child(13) {
                                order: 13;
                            }

                        }

                        .plans_process_arrow {
                            &:nth-child(6) {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                width: 100%;
                                height: 60px;
                                order: 6;

                                i {
                                    width: calc((100% - 25px * 2) / 3);
                                    text-align: center;

                                    &::before {
                                        content: "\f309";
                                    }
                                }
                            }

                            &:nth-child(8) {
                                width: 25px;

                                i {
                                    width: auto;
                                    transform: rotate(-180deg);

                                    &::before {
                                        content: "\f30b";
                                    }
                                }
                            }

                            &:nth-child(10) {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                width: 100%;
                                height: 60px;

                                i {
                                    transform: rotate(0deg);
                                    width: calc((100% - 25px * 2) / 3);
                                    text-align: center;

                                    &::before {
                                        content: "\f309";
                                    }
                                }
                            }

                        }

                        .plans_process_text_area {
                            order: 14;

                            .plans_process_line_area {

                                .plans_process_line_left,
                                .plans_process_line_right {
                                    margin: 0px calc((100% - 25px * 2) / 3 * 0.5);
                                }

                                .plans_process_line_center {
                                    left: calc((100% - 25px * 2) / 3 * 0.5);
                                    width: calc(100% - calc((100% - 25px * 2) / 3));
                                }
                            }
                        }
                    }
                }

                .plans_experience_area {
                    .plans_experience_content {
                        .swiper_experience {

                            .swiper-wrapper {
                                .swiper-slide {
                                    .swiper_slide_content {
                                        flex-direction: column;

                                        .swiper_slide_content_img {
                                            width: 40%;
                                            max-width: 100px;
                                        }

                                        .swiper_slide_content_text {
                                            margin: 15px auto 0;
                                            width: 100%;

                                            &::before {
                                                content: "";
                                                width: 0;
                                                height: 0;
                                                border-right: 12px solid transparent;
                                                border-left: 12px solid transparent;
                                                border-top: 0px solid;
                                                border-bottom: 10px solid c.$brown;
                                                ;
                                                position: absolute;
                                                z-index: -1;
                                                top: -5px;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .plans_item_area {
                    .plans_item_content {
                        .plans_item_content_item {
                            width: 100%;
                        }
                    }

                }
            }
        }
    }

    .plan_content_modal {
        width: 80%;
        max-width: 1024px;
        background-color: c.$body_bg;

        .plan_content_modal_area {
            .plan_content_modal_content {

                .modal_plan_form_group {
                    display: flex;
                    justify-content: center;
                    margin: 20px auto;

                    .input-group {
                        display: flex;
                        align-items: center;
                    }

                    label {
                        width: 100%;
                        margin: 0 0 10px;
                    }

                    input {
                        width: calc(100% - 100px - 10px);
                    }

                    .discount_code_btn {
                        width: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
    .main {
        &.plans {
            .plans_introduce {
                .plans_description_area {
                    .plans_description_content {

                        .plans_description_item {
                            width: 100%;
                        }
                    }
                }

                .plans_process_area {
                    .plans_process_content {
                        justify-content: flex-end;

                        .plans_process_item {
                            width: calc((100% - 25px) / 2);

                            &:nth-child(5) {
                                order: 7;
                            }

                            &:nth-child(7) {
                                order: 5;
                            }

                            &:nth-child(9) {
                                order: 9;
                            }

                            &:nth-child(11) {
                                order: 11;
                            }

                            &:nth-child(13) {
                                order: 13;
                            }

                        }

                        .plans_process_arrow {
                            &:nth-child(4) {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                width: 100%;
                                height: 60px;
                                order: 4;

                                i {
                                    width: calc((100% - 25px) / 2);
                                    text-align: center;

                                    &::before {
                                        content: "\f309";
                                    }
                                }
                            }

                            &:nth-child(6) {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                width: 25px;
                                height: auto;
                                order: 6;

                                i {
                                    width: auto;
                                    transform: rotate(-180deg);

                                    &::before {
                                        content: "\f30b";
                                    }
                                }
                            }

                            &:nth-child(8) {
                                justify-content: flex-start;
                                width: 100%;
                                height: 60px;
                                order: 8;

                                i {
                                    width: auto;
                                    transform: rotate(0deg);
                                    width: calc((100% - 25px) / 2);

                                    &::before {
                                        content: "\f309";
                                    }
                                }
                            }

                            &:nth-child(10) {
                                justify-content: flex-end;
                                height: 60px;

                                i {
                                    width: calc((100% - 25px) / 2);
                                }
                            }

                            &:nth-child(12) {

                                i {
                                    transform: rotate(360deg);
                                }
                            }

                        }

                        .plans_process_text_area {
                            order: 14;

                            .plans_process_line_area {

                                .plans_process_line_left,
                                .plans_process_line_right {
                                    margin: 0px calc((100% - 25px) / 2 * 0.5);
                                }

                                .plans_process_line_center {
                                    left: calc((100% - 25px) / 2 * 0.5);
                                    width: calc(100% - calc((100% - 25px) / 2) * 0.95);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}