html {
	scroll-behavior: smooth;
}
.main{
    &.readingContest {
        width: 80%;
        @extend %max1200;
    
        .contest_regulations_area {
    
            h3 {
                color: $brown;
                text-align: center;
            }

            .contest_regulations_link{
                display: flex;
                justify-content: center;
                margin: 20px auto 40px;
                position: sticky;
                top: 0;
                padding: 10px 0;
                background-color: $body_bg;
                border-bottom: 1px solid $brown;

                .contest_regulations_link_text{
                    padding: 20px 30px;
                    border: 1.5px solid $brown;
                    border-radius: 5px;
                    margin: 10px 20px;
                    background-color: $white;

                    h4 {
                        color: $brown;
                        text-align: center;
                    }

                    &:hover{
                        background-color: $brown;
                        
                        h4{
                            color: $white;
                        }
                    }
                }
            }

            .contest_regulations_content{

                .contest_regulations_content_item{
                    padding: 136px 0 0;

                    .regulations_content_tittle{
                        h4{
                            color: $brown;
                        }
                    }
                    .regulations_content_text{
                        .regulations_content_text_item{
                            display: flex;
    
                            &.item_column{
                                flex-direction: column;
                            }
    
                            .item_details{
                                .item_details_tittle{
                                    color: $main_color;
                                    font-weight: bold;
                                    text-indent: 2em;
                                }
    
                                .item_details_content{
                                    display: flex;
    
                                    .item_details_content_num{
                                        &.indent_four{
                                            text-indent: 4em;
                                        }
                                        &.indent_two{
                                            text-indent: 2em;
                                        }
                                    }
    
                                    .item_details_content_text{
                                        .content_text_bold{
                                            font-weight: bold;
                                        }
    
                                        .content_text_line{
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .contest_regulations_document{
                        margin: 40px 0;
                        a{
                            color: $brown;
                            padding: 12px 45px;
                            border: 2px solid $brown;
                            border-radius: 50px;
                            font-weight: bold;
                        }
        
                        &:hover{
                            
                            a{
                                color: $white;
                                background-color: $brown;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
}

@media screen and (max-width: 1024px){
    .main{
        &.readingContest{
            .contest_regulations_area {
                .contest_regulations_link{
                    .contest_regulations_link_text{
                        padding: 15px 30px;
                    }
                }

                .contest_regulations_content{

                    .contest_regulations_content_item{
                        padding: 120px 0 0;
                        }
                        }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .main{
        &.readingContest{
            .contest_regulations_area {
                .contest_regulations_link{
                    .contest_regulations_link_text{
                        padding: 10px 20px;
                        margin: 10px 17px;
                    }
                }

                .contest_regulations_content{
                    .contest_regulations_content_item{
                        padding: 107px 0 0;
                        .regulations_content_text{
                            .regulations_content_text_item{
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px){
    .main{
        &.readingContest{
            .contest_regulations_area {
                .contest_regulations_link{
                    .contest_regulations_link_text{
                        padding: 10px 5px;
                        margin: 10px 6px;
                    }
                }

                .contest_regulations_content{
                    .contest_regulations_content_item{
                        .contest_regulations_document{
                            a{
                                padding: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}