.main{
    &.readingContest {
        width: 80%;
        @extend %max1200;
    
        .contest_regulations_area {
    
            h3 {
                color: $brown;
                text-align: center;
            }

            .contest_regulations_link{
                display: flex;
                justify-content: space-around;
                margin: 20px auto 0;
                position: sticky;
                top: 0;
                z-index: 1;
                padding: 10px 0;
                background-color: $body_bg;

                .contest_regulations_link_text{
                    width: 25%;
                    padding: 20px 30px;
                    border: 1.5px solid $brown;
                    border-radius: 5px;
                    margin: 10px 20px;
                    background-color: $white;

                    h4 {
                        color: $brown;
                        text-align: center;
                    }

                    &.active{
                        background-color: $brown;
                        
                        h4{
                            color: $white;
                        }
                    }
                }
            }

            .winner_list_link{
                display: flex;
                justify-content: space-around;
                margin: 10px auto 40px;
                padding: 0 0 20px;
                border-bottom: 1px solid $brown;

                .winner_list_link_item{
                    position: relative;
                    margin: 0px 20px;
                    width: 22%;
                    max-width: 180px;
                    transform: scale(0.95);

                    &.disabled{
                        filter: grayscale(100%);
                        cursor: auto;
                        &:hover{
                            transform: scale(0.95);
                        }
                    }
                    
                    .winner_list_link_text{
                        font-size: 20px;
                        position: absolute;
                        left: 50%;
                        top: 30%;
                        transform: translate(-50%, -50%);
                        color: $brown;
                        font-weight: bold;
                    }

                    &:hover{
                        transform: scale(1);
                    }
                }
            }

            .contest_regulations_content{

                .contest_regulations_content_item{
                    padding: 40px 0 0;

                    .regulations_content_tittle{
                        h4{
                            color: $brown;
                        }
                    }
                    .regulations_content_text{
                        .regulations_content_text_item{
                            display: flex;
    
                            &.item_column{
                                flex-direction: column;
                            }
    
                            .item_details{
                                margin: 0 0 20px;

                                .item_details_tittle{
                                    color: $main_color;
                                    font-weight: bold;
                                    text-indent: 2em;
                                    font-size: 20px;
                                }
    
                                .item_details_content{
                                    display: flex;
                                    flex-wrap: wrap;

                                    .indent_two{
                                        text-indent: 2em;
                                    }

                                    .indent_three{
                                        text-indent: 3em;
                                    }

                                    .indent_four{
                                        text-indent: 4em;
                                    }

                                    .indent_five{
                                        text-indent: 5em;
                                    }
    
                                    .item_details_content_num{
                                        &.indent_four{
                                            text-indent: 4em;
                                        }
                                        &.indent_two{
                                            text-indent: 2em;
                                        }
                                    }

                                    .item_details_content_table{
                                        width: 100%;
                                        margin: 10px auto;

                                        &.table_responsive{
                                            overflow-x: scroll;
                                        }

                                        &.indent_three{
                                            margin: calc(15px * 1.7) 0 calc(15px * 1.7) 3em;
                                        }

                                        table, th, td {
                                            border-collapse: collapse;
                                            border: 0px;
                                          }

                                        .table{
                                            width: 100%;
                                            min-width: 620px;


                                            td{
                                                text-align: center;
                                                padding: 10px 5px;
                                            }

                                            thead{
                                                background-color: $brown;
                                                
                                                td{
                                                    color: $white;
                                                    border: 1px solid $white;
                                                }
                                            }

                                            tbody{
                                                tr{
                                                    border-top: 1px solid $brown;
                                                    td{
                                                        &:nth-last-child(1){
                                                            border-right: 0;
                                                        }
                                                    }
                                                }
                                                td{
                                                    border-right: 1px solid $brown;
                                                    background-color: $white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .sub-item_title{
                            display: flex;
                            justify-content: center;

                            h4{
                                color: $brown;
                            }
                        }
                    }

                    // 檔案下載連結
                    .contest_regulations_document{
                        margin: 40px 0;
                        a{
                            color: $brown;
                            padding: 12px 45px;
                            border: 2px solid $brown;
                            border-radius: 50px;
                            font-weight: bold;
                        }
        
                        &:hover{
                            
                            a{
                                color: $white;
                                background-color: $brown;
                            }
                        }
                    }
                }
            }

            
        }
    }
}

.winner_list_modal {
    border-radius: 0px;
    padding: 0;
    width: 90%;
    height: 90%;
    max-width: none;
}

.content_text_bold{
    font-weight: bold;
}

.content_text_line{
    text-decoration: underline;
}

@media screen and (max-width: 1200px){
}

@media screen and (max-width: 1024px){
    .main{
        &.readingContest{
            .contest_regulations_area {
                .contest_regulations_link{
                    .contest_regulations_link_text{
                        padding: 15px 30px;
                    }
                }

                .winner_list_link{
                    .winner_list_link_item{
                        width: 25%;
                        max-width: 140px;
                        
                        .winner_list_link_text{
                            font-size: 16px;
                        }
                    }
                }

                .contest_regulations_content{
                    .contest_regulations_content_item{
                        .regulations_content_text{
                            .regulations_content_text_item{
                                .item_details{
                                    .item_details_tittle{
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .main{
        &.readingContest{
            width: 95%;

            .reading_contest_area{
                width: 95%;
                margin: 0 auto;
            }
            .contest_regulations_area {
                .contest_regulations_link{
                    margin: 20px auto 0;
                    .contest_regulations_link_text{
                        width: 33.3333%;
                        margin: 10px 0;
                        transform: scale(0.95);
                    }
                }

                .winner_list_link{
                    margin: 0 auto 40px;
                    .winner_list_link_item{
                        margin: 0;
                        width: 33.3333%;

                        .winner_list_link_text{
                            font-size: 14px;
                        }
                    }
                }

                .contest_regulations_content{
                    width: 95%;
                    margin: 0 auto;
                    .contest_regulations_content_item{
                        .regulations_content_text{
                            .regulations_content_text_item{
                                flex-direction: column;
                                .item_details{
                                    .item_details_tittle{
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px){
    .main{
        &.readingContest{
            .contest_regulations_area {
                .contest_regulations_link{
                    .contest_regulations_link_text{
                        padding: 10px 5px;
                        margin: 10px 6px;
                    }
                }

                .winner_list_link{
                    .winner_list_link_item{
                        .winner_list_link_text{
                            font-size: 12px;
                        }
                    }
                }

                .contest_regulations_content{
                    .contest_regulations_content_item{
                        .contest_regulations_document{
                            a{
                                padding: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}