.main{
    &.register{
        max-width: 450px;
    width: 80%;
    margin: 40px auto;
    .register_area{
        .account_area{
            .register_item{
                display: flex;
                flex-wrap: wrap;
                label{
                    width: 100%;
                }
                
                input{
                    width: 100%;
                    background-color: $white;
                    border: 1px solid $grey;
                    padding: 3px 8px;
                    border-radius: 10px;
                    &:focus {
                        outline: 0;
                        border: 1px solid $main_color;
                        background-color: lighten($main_color, 25%);
                    }
                    &:disabled {
                        padding: 0;
                        background-color: transparent;
                        border: 0px solid $main_color;
                    }
                }
                select{
                    width: 100%;
                    padding: 3px 8px;
                    border-radius: 10px;
                }
            }
        }
    }
    }
}


@media screen and (max-width: 1200px){
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 499px){
}