.main {
    &.showcase {
        width: 80%;
        max-width: 1200px;

        .showcase_area {
            .showcase_search_area {
                display: flex;
                justify-content: flex-end;
                margin: 0 0 30px;

                .book_search_area {
                    display: flex;
                    align-items: center;

                    .book_search_input {
                        padding: 5px 10px;
                        border: 1px solid $brown;
                        border-radius: 10px;
                        margin: 0 10px;

                        &:focus {
                            outline: none;
                            border: 1px solid $main_color;
                            box-shadow: 5px 5px 10px 3px rgba(92, 138, 57, 0.1450980392);
                        }
                    }

                    .book_search_input_btn {
                        padding: 5px 10px;
                        border: 1px solid $brown;
                        border-radius: 10px;
                        background-color: $white;
                        cursor: pointer;

                        &:hover {
                            background-color: $brown;
                            color: $white;
                        }
                    }
                }

                .creator_search_area {
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 15px;

                    .creator_search_input_btn {
                        position: relative;
                        margin: 0 0 0 10px;

                        .form-control {
                            display: flex;
                            align-items: center;
                            padding: 5px 10px;
                            border: 1px solid $brown;
                            background-color: $white;
                            min-width: 200px;
                            color: $brown;

                            i {
                                margin: 0 0 0 auto;
                                transition: 0.3s;
                            }

                            &.open {
                                border: 1px solid $main_color;
                                box-shadow: 5px 5px 10px 3px rgba(92, 138, 57, 0.1450980392);

                                i {
                                    transform: rotate(180deg);
                                }

                                &~ul {
                                    visibility: visible;
                                }
                            }
                        }

                        ul {
                            position: absolute;
                            left: 50%;
                            z-index: 2;
                            transform: translate(-50%, 10px);
                            width: auto;
                            min-width: 200px;
                            visibility: hidden;
                            border-radius: 10px;
                            border: 1px solid $brown;
                            background-color: $white;
                            overflow: hidden;
                            cursor: pointer;

                            .dropdown_item_li {
                                padding: 5px 10px;
                                color: $brown;

                                &.active,
                                &:hover {
                                    background-color: $brown;
                                    color: $white;
                                }
                            }

                        }
                    }

                }
            }

            .showcase_area_item {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin: 0 auto 40px;

                .search_type_area {
                    width: 100%;
                    margin: 0 calc(3.33333% / 2);

                    p{
                        font-weight: bold;
                    }

                    .search_type_menu {
                        margin: 20px 0 0;

                        .search_type_menu_item {
                            border: 1px solid $main_color;
                            border-radius: 10px;
                            padding: 5px 10px;
                            margin: 0 10px 0 0;
                            cursor: pointer;

                            p {
                                color: $main_color;
                            }

                            &.active,
                            &:hover {
                                background-color: $main_color;

                                p {
                                    color: $white;
                                }
                            }

                            &.search_type_menu_item_text{
                                border: 1px solid $studio_text;

                                p {
                                color: $studio_text;
                            }

                            &.active,
                            &:hover {
                                background-color: $studio_text;

                                p {
                                color: $white;
                            }
                            }
                            }

                            &.search_type_menu_item_sound{
                                border: 1px solid $studio_sound;

                                p {
                                color: $studio_sound;
                            }

                            &.active,
                            &:hover {
                                background-color: $studio_sound;

                                p {
                                color: $white;
                            }
                            }
                            }

                            &.search_type_menu_item_paint{
                                border: 1px solid $studio_paint;

                                p {
                                color: $studio_paint;
                            }

                            &.active,
                            &:hover {
                                background-color: $studio_paint;

                                p {
                                color: $white;
                            }
                            }
                            }

                            &.search_type_menu_item_multimedia{
                                border: 1px solid $studio_multimedia;

                                p {
                                color: $studio_multimedia;
                            }

                            &.active,
                            &:hover {
                                background-color: $studio_multimedia;

                                p {
                                color: $white;
                            }
                            }
                            }
                        }
                    }
                }

                .item_showcase {
                    border: 1px solid $main_color;
                    border-radius: 10px;
                    transform: scale(0.95);
                    background-color: $white;
                    width: 30%;
                    margin: 40px calc(3.33333% / 2) 0px;

                    &.showcase_text{
                        border: 1px solid $studio_text;

                        .item_showcase_content{
                            .showcase_type {
h4{
                                    background-color: $studio_text;
                                }
                            }
                        }
                                
                            }

                            &.showcase_sound{
                                border: 1px solid $studio_sound;

                        .item_showcase_content{
                            .showcase_type {
h4{
                                    background-color: $studio_sound;
                                }
                            }
                        }
                                
                            }

                            &.showcase_paint{
                                border: 1px solid $studio_paint;

                        .item_showcase_content{
                            .showcase_type {
h4{
                                    background-color: $studio_paint;
                                }
                            }
                        }
                                
                            }

                    &.showcase_multimedia{
                        border: 1px solid $studio_multimedia;

                        .item_showcase_content{
                            .showcase_type {
h4{
                                    background-color: $studio_multimedia;
                                }
                            }
                        }
                                
                            }

                    &:hover {
                        transform: scale(0.98);
                    }

                    .item_showcase_content {

                        .showcase_type {
                            width: 100%;

                            h4 {
                                width: 100%;
                                color: $white;
                                padding: 10px 20px;
                                background-color: $main_color;
                                border-radius: 5px 5px 0 0;
                            }
                        }

                        .item_showcase_top {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            margin: 0 auto;
                            padding: 20px 5%;
                            border-bottom: 1px solid $brown;

                            .showcase_classification {
                                margin: 0 15px 0 0;
                                padding: 5px 10px;
                                background-color: $brown;
                                border-radius: 5px;
                                display: flex;
                                align-items: center;

                                p {
                                    color: $white;
                                }
                            }

                            .showcase_class {
                                width: 100%;
                                margin: 10px auto;
                            }
                        }

                        .item_showcase_bottom {
                            padding: 20px 5%;

                            .book_name {
                                margin: 0 auto 15px;

                                h4 {
                                    color: $brown;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    white-space: normal;
                                    width: 100%;
                                }
                            }

                            .book_toolbar {
                                display: flex;
                                margin: 30px auto 0;
                                flex-direction: column;


                                .book_toolbar_left {
                                    display: flex;

                                    .book_toolbar_left_icon_area {
                                        display: flex;
                                        align-items: center;
                                        margin: 0 15px 0 0;

                                        .book_toolbar_left_icon {
                                            margin: 0 5px 0 0;

                                            i {
                                                color: $brown;
                                            }
                                        }
                                    }
                                }

                                .book_toolbar_right {
                                    margin: 30px auto 0;

                                    .book_toolbar_right_link {
                                        width: 100%;

                                        p {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color: $main_color;
                                            border: 1px solid $main_color;
                                            border-radius: 10px;
                                            padding: 5px 10px;

                                            i {
                                                margin: 0 5px 0 0;
                                            }

                                            &:hover {
                                                color: $white;
                                                background-color: $main_color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

.modal {
    &.showcase_modal {
        padding: 0;
        margin: 40px auto;
        max-width: 800px;

        &.showcase_text{
            .modal_content {
                .modal_header {
                    .showcase_type{
                        h4{
                            background-color: $studio_text;
                        }
                    }
                }

            }
        }

        &.showcase_sound{
            .modal_content {
                .modal_header {
                    .showcase_type{
                        h4{
                            background-color: $studio_sound;
                        }
                    }
                }

            }
        }

        &.showcase_paint{
            .modal_content {
                .modal_header {
                    .showcase_type{
                        h4{
                            background-color: $studio_paint;
                        }
                    }
                }

            }
        }

        &.showcase_multimedia{
            .modal_content {
                .modal_header {
                    .showcase_type{
                        h4{
                            background-color: $studio_multimedia;
                        }
                    }
                }

            }
        }

        .modal_content {
            .modal_header {
                .showcase_type {
                    width: 100%;

                    h4 {
                        width: 100%;
                        color: $white;
                        padding: 10px 20px;
                        background-color: $main_color;
                        border-radius: 5px 5px 0 0;
                    }
                }
            }

            .modal_body {
                .item_showcase_top {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 0 auto;
                    padding: 20px 5%;
                    border-bottom: 1px solid $brown;

                    .showcase_classification {
                        margin: 0 15px 0 0;
                        padding: 5px 10px;
                        background-color: $brown;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;

                        p {
                            color: $white;
                        }
                    }

                    .showcase_class {
                        width: 100%;
                        margin: 10px auto;
                    }
                }

                .item_showcase_bottom {
                    padding: 20px 5%;

                    .book_name {
                        margin: 0 auto 15px;

                        h4 {
                            color: $brown;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            white-space: normal;
                            width: 100%;
                        }
                    }
                }

                .item_showcase_portfolio {
                    padding: 20px 5%;

                    .item_showcase_portfolio_text {
                        margin: 0 0 20px 0;
                    }

                    .item_showcase_portfolio_item {
                        .portfolio_content {
                            margin: 0 0 20px 0;

                            &.item_showcase_portfolio_img {
                                max-width: 500px;

                                img {
                                    border-radius: 10px;
                                }
                            }

                            &.item_showcase_portfolio_sound {
                                .player_area {
                                    position: relative;
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: space-around;
                                    padding: 15px 20px;
                                    background-color: lighten($main_color, 15%);
                                    border-radius: 10px;
                                    margin: 0 auto;

                                    .play_area {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        flex-wrap: wrap;

                                        .player_btn {
                                            margin: 0 10px 0 0;

                                            &.play{
                                                i{
                                                    &::before{
                                                    content: "";
                                                }

                                                &:after{
                                                    display: block;
                                                }
                                                }
                                            }

                                            i {
                                                color: $brown;

                                                &:after{
                                                    display: none;
                                                    content: "\f04c";
                                                }
                                            }
                                        }

                                        label {
                                            margin: 0 10px 0 0;
                                            color: $brown;
                                        }
                                    }

                                    .sound_area {
                                        display: flex;
                                        align-items: center;
                                        max-width: 165px;
                                        padding: 5px 10px;
                                        background-color: lighten($main_color, 20%);
                                        border-radius: 50px;
                                        position: absolute;
                                        right: 20px;
                                        top: 15px;

                                        .icon_volume {
                                            margin: 0 10px 0 0;
                                            color: $brown;
                                        }
                                    }

                                    /* input range 主體樣式 */
                                    input[type="range"] {
                                        -webkit-appearance: none;
                                        width: 100%;
                                        position: relative;
                                        border-radius: 10px;
                                        cursor: pointer;

                                        /* input range 原點focus */
                                        &:focus {
                                            &::-webkit-slider-thumb {
                                                background-color: darken($brown, 10%);
                                            }
                                        }

                                        /* input range 原點樣式 */
                                        &::-webkit-slider-thumb {
                                            width: 15px;
                                            height: 15px;
                                            border-radius: 100%;
                                            border: none;
                                            -webkit-appearance: none;
                                            background-color: $brown;
                                            z-index: 1;
                                            position: relative;
                                            transition: 0.5s all ease;
                                            transform: translate(0%, -50%);
                                            top: 50%;
                                        }

                                        /* input range 進度條樣式 */
                                        &::-webkit-slider-runnable-track {
                                            background-color: $white;
                                            height: 5px;
                                            border-radius: 10px;
                                        }
                                    }

                                    /* input range 播放樣式 */
                                    input[name="playRange"] {
                                        width: calc(100% - 10px - 27px - 135px - 165px);

                                        &:before {
                                            position: absolute;
                                            content: "";
                                            width: var(--playRange);
                                            height: 100%;
                                            background-color: $brown;
                                            border-radius: 10px;
                                        }
                                    }

                                    /* 播放完畢時，100%進度顯示 */
                                    input[name="playRange0"] {

                                        &:before {
                                            position: absolute;
                                            content: "";
                                            width: 100%;
                                            height: 100%;
                                            background-color: $brown;
                                            border-radius: 10px;
                                        }
                                    }

                                    /* input range 聲音樣式 */
                                    input[name="soundRange"] {

                                        &:hover {
                                            ~.icon_hand_pointer {
                                                opacity: 0;
                                            }
                                        }

                                        &:before {
                                            position: absolute;
                                            content: "";
                                            width: var(--soundRange);
                                            height: 100%;
                                            background-color: $white;
                                            border-radius: 10px;
                                            right: 0;
                                        }

                                        &::-webkit-slider-runnable-track {
                                            background-color: $brown;
                                            height: 5px;
                                            border-radius: 10px;
                                        }
                                    }
                                }
                            }

                            &.item_showcase_portfolio_link {
                                width: 100%;

                                a {
                                    display: inline-block;
                                    color: $main_color;
                                    border: 1px solid $main_color;
                                    border-radius: 10px;
                                    padding: 5px 10px;

                                    &:hover {
                                        color: $white;
                                        background-color: $main_color;
                                    }
                                }
                            }
                        }

                    }
                }

                .item_showcase_forum {
                    width: 90%;
                    margin: 60px auto;

                    .showcase_forum_title {
                        padding: 10px 15px;
                        background-color: $brown;
                        color: $white;
                    }

                    .showcase_forum_total {
                        margin: 10px 0;

                        p {
                            text-align: right;
                        }
                    }

                    .showcase_forum_input {
                        .input_group {
                            width: 100%;
                            margin: 20px 0;
                            display: flex;
                            justify-content: flex-end;
                            flex-direction: row;
                            flex-wrap: wrap;

                            .showcase_forum_textarea {
                                width: 100%;
                                height: 150px;
                                padding: 10px;
                                color: $brown;
                                font-size: 20px;
                                border: 1px solid $brown;
                                border-radius: 10px;

                                &:focus {
                                    background: lighten($main_color, 20%) !important;
                                    border-color: $main_color;
                                    outline: none;
                                }
                            }

                            .showcase_forum_submit {
                                margin: 15px 0;
                                color: $main_color;
                                border: 1px solid $main_color;
                                border-radius: 10px;
                                padding: 5px 10px;
                                cursor: pointer;
                                background-color: $white;

                                &:hover {
                                    color: $white;
                                    background-color: $main_color;
                                }
                            }
                        }

                        .message_area {
                            .message_area_item {
                                display: none;
                                padding: 20px;
                                border-top: 1px solid $brown;

                                &:nth-child(1) {
                                    border-top: 0px;
                                }

                                .message_area_item_top {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    flex-wrap: wrap;

                                    .message_area_item_top_left {
                                        display: flex;
                                        align-items: center;
                                        flex-wrap: wrap;
                                    }

                                    .message_area_item_top_right {
                                        margin: 10px 0 10px auto;
                                    }
                                }

                                .message_area_item_content {
                                    margin: 10px 0;
                                }

                                .message_area_item_bottom {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    flex-wrap: wrap;
                                    margin: 30px 0 10px;
                                    padding: 0 0 0 50px;

                                    .deleted_message {
                                        &:hover {
                                            button {
                                                p {
                                                    color: $main_color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .message_btn_area {
                                display: block;
                                margin: 20px auto;

                                .message_btn {
                                    p {
                                        margin: 0 auto 5px;
                                    }

                                    p,
                                    i {
                                        color: $brown;
                                    }

                                    &:hover {

                                        p,
                                        i {
                                            color: $main_color;
                                        }
                                    }
                                }

                                &.btn_less {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
    .main {
        &.showcase {
            .showcase_area {
                .showcase_search_area {
                    flex-direction: column;
                    align-items: flex-end;

                    .book_search_area {
                        margin: 0 0 15px;
                    }

                    .creator_search_area {
                        margin: 0;
                    }
                }

                .showcase_area_item {
                    .search_type_area {
                        margin: 0 calc(5% / 2);
                    }

                    .item_showcase {
                        width: 45%;
                        margin: 40px calc(5% / 2) 0;

                        .item_showcase_content {
                            .item_showcase_bottom {
                                .book_toolbar {
                                    flex-direction: column;

                                    .book_toolbar_right {
                                        margin: 30px 0 0;

                                        .book_toolbar_right_link {
                                            a {
                                                width: 100%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &.showcase {
            .showcase_area {
                .showcase_area_item {
                    .item_showcase {
                        width: 100%;
                        margin: 40px auto 0;
                    }
                }
            }
        }
    }

    .modal {
        &.showcase_modal {
            .modal_content {
                .modal_body {
                    .item_showcase_portfolio {
                        .item_showcase_portfolio_item {
                            .portfolio_content {
                                &.item_showcase_portfolio_sound {
                                    .player_area {
                                        flex-direction: column;

                                        .play_area {
                                            margin: 0 0 20px 0;
                                        }

                                        .sound_area {
                                            position: relative;
                                            top: auto;
                                            right: auto;
                                        }

                                        /* input range 播放樣式 */
                                        input[name="playRange"] {
                                            margin: 15px 0 0;
                                            width: 100%;
                                        }
                                    }

                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {}