@use "sass:color";
@use "../base/color"as c;

@use "../base/reset";

.main {
    &.sign_up {
        width: 80%;
        @extend %max1200;

        .sign_up_area {
            .account_area {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .register_item {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 10px 0 35px;
                    width: 45%;

                    &.register_item_confirm {
                        width: 80%;
                        margin: 10px auto 10px;

                        &.change_password{
                            margin: 40px auto 10px;
                        }

                        input{
                            display: flex;
                                justify-content: center;
                                width: 100%;
                                max-width: 500px;
                                font-size: 20px;
                                font-weight: bold;
                                border-radius: 50px;
                                border: 1px solid c.$brown;
                                padding: 3px 8px;
                                color: c.$brown;
                                background-color: c.$white;
                                margin: 0 auto;
                                cursor: pointer;

                                &:hover {
                                    border: 1px solid c.$main_color;
                                    background-color: c.$main_color;
                                    color: c.$white;
                                }
                        }

                        a {
                            &.signup_btn {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                max-width: 500px;
                                font-size: 20px;
                                font-weight: bold;
                                border-radius: 50px;
                                border: 1px solid c.$brown;
                                padding: 3px 8px;
                                color: c.$brown;
                                background-color: c.$white;
                                margin: 0 auto;

                                &:hover {
                                    border: 1px solid c.$main_color;
                                    background-color: c.$main_color;
                                    color: c.$white;
                                }

                                &.login_btn {
                                    &:hover {
                                        border: 1px solid c.$brown;
                                        background-color: c.$brown;
                                        color: c.$white;
                                    }
                                }


                            }
                        }
                    }

                    .account {
                        padding: 3px 85px 3px 8px;
                    }

                    .get_code_btn {
                        position: absolute;
                        right: 5px;
                        bottom: 12px;
                        color: c.$brown;

                        &:hover {
                            color: c.$main_color;
                        }
                    }

                    label {
                        width: 100%;
                        margin: 0px auto 10px;
                        border-left: 3px solid c.$brown;
                        padding: 0px 0px 0px 10px;
                    }

                    input {
                        font-size: 20px;
                        width: 100%;
                        background-color: c.$white;
                        border: 0px solid c.$brown;
                        border-bottom: 1px solid c.$brown;
                        padding: 3px 8px;

                        &:focus {
                            outline: 0;
                            background-color: color.adjust(c.$brown, $lightness: 60%);
                        }

                        &:disabled {
                            background-color: transparent;
                            border-bottom: 1px solid c.$brown;
                        }

                        &.signup_btn {
                            width: 100%;
                            max-width: 500px;
                            border-radius: 50px;
                            border: 1px solid c.$brown;
                            margin: 0 auto;

                            &:hover {
                                border: 1px solid c.$main_color;
                                background-color: c.$main_color;
                                color: c.$white;
                                cursor: pointer;
                            }
                        }

                        &::placeholder {
                            color: color.adjust(c.$brown, $lightness: 35%);
                            font-weight: normal;
                        }
                    }

                    select {
                        font-size: 20px;
                        width: 100%;
                        padding: 3px 8px;
                        border: 0px solid c.$brown;
                        border-bottom: 1px solid c.$brown;

                        &:focus {
                            background-color: color.adjust(c.$brown, $lightness: 60%);
                        }

                        &:focus-visible {
                            outline: #5B3716 auto 0px !important;
                        }
                    }
                }

                .sign_up_text {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 40px auto 20px;

                    .sign_up_text_link {
                        color: c.$brown;
                        text-decoration: underline;

                        &:hover {
                            color: c.$main_color;
                        }
                    }

                    &.prompts_text {
                        margin: 0 auto;

                        .fa-lightbulb {
                            color: c.$instructions;
                        }
                    }
                }
            }
        }

    }
}

.sign_up_done_modal {
    max-width: none !important;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);

    .sign_up_done_area {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .sign_up_done_content {
            width: 60%;
            margin: 0 auto;
            padding: 0 0 60px;
            background-color: c.$white;
            border-radius: 8px;
        }


        .sign_up_done_title {
            text-align: center;
            margin: 0 auto 60px;
            padding: 15px 20px;
            color: c.$white;
            background-color: c.$brown;
            border-radius: 5px 5px 0 0;
        }

        .sign_up_done_text {
            margin: 10px auto;
            padding: 0 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                a {
                    color: c.$brown;
                    text-decoration: underline;

                    &:hover {
                        color: c.$main_color;
                    }
                }
            }
        }

        .sign_up_done_link {
            padding: 0 5%;
            a {
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 500px;
                font-size: 20px;
                font-weight: bold;
                border-radius: 50px;
                border: 1px solid c.$brown;
                padding: 3px 8px;
                color: c.$brown;
                background-color: c.$white;
                margin: 40px auto 0;

                &:hover {
                    border: 1px solid c.$main_color;
                    background-color: c.$main_color;
                    color: c.$white;
                }
            }
        }
    }

    .close-modal {
        display: none !important;
    }

}

@media screen and (max-width: 1024px) {
    .sign_up_done_modal {
        .sign_up_done_area {
            .sign_up_done_content {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        &.sign_up {
            .sign_up_area {
                .account_area {
                    .register_item {
                        width: 47.5%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &.sign_up {
            .sign_up_area {
                .account_area {
                    .register_item {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {}