@use "sass:color";
@use "../base/color"as c;

@use "../base/reset";

.main {
    &.sign_up {
        width: 80%;
        @extend %max1200;

        .sign_up_area {
            .account_area {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .register_item {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 10px 0 35px;
                    width: 45%;

                    &.register_item_confirm{
                        width: 80%;
                        margin: 10px auto 10px;

                        a{
                            &.signup_btn {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                max-width: 500px;
                                font-size: 20px;
                                font-weight: bold;
                                border-radius: 50px;
                                border: 1px solid c.$brown;
                                padding: 3px 8px;
                                color: c.$brown;
                                background-color: c.$white;
                                margin: 0 auto;

                            &:hover {
                                border: 1px solid c.$brown;
                                background-color: c.$brown;
                                color: c.$white;
                                cursor: pointer;
                            }
                        }
                    }
                }

                    .account{
                        padding: 3px 85px 3px 8px;
                    }

                    .get_code_btn{
                        position: absolute;
                        right: 5px;
                        bottom: 12px;
                        color: c.$brown;

                        &:hover {
                            color: c.$main_color;
                        }
                    }

                    label {
                        width: 100%;
                        margin: 0px auto 10px;
                        border-left: 3px solid c.$brown;
                        padding: 0px 0px 0px 10px;
                    }

                    input {
                        font-size: 20px;
                        width: 100%;
                        background-color: c.$white;
                        border: 0px solid c.$brown;
                        border-bottom: 1px solid c.$brown;
                        padding: 3px 8px;

                        &:focus {
                            outline: 0;
                            background-color: color.adjust(c.$brown, $lightness: 60%);
                        }

                        &:disabled {
                            background-color: transparent;
                            border-bottom: 1px solid c.$brown;
                        }

                        &.signup_btn {
                            width: 100%;
                            max-width: 500px;
                            border-radius: 50px;
                            border: 1px solid c.$brown;
                            margin: 0 auto;

                            &:hover {
                                border: 1px solid c.$main_color;
                                background-color: c.$main_color;
                                color: c.$white;
                                cursor: pointer;
                            }
                        }

                        &::placeholder {
                            color: color.adjust(c.$brown, $lightness: 35%);
                            font-weight: normal;
                        }
                    }

                    select {
                        font-size: 20px;
                        width: 100%;
                        padding: 3px 8px;
                        border: 0px solid c.$brown;
                        border-bottom: 1px solid c.$brown;

                        &:focus {
                            background-color: color.adjust(c.$brown, $lightness: 60%);
                        }

                        &:focus-visible {
                            outline: #5B3716 auto 0px !important;
                        }
                    }
                }

                .sign_up_text{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 40px auto 20px;
                    
                    .sign_up_text_link{
                        color: c.$brown;
                        text-decoration: underline;

                        &:hover{
                            color: c.$main_color;
                        }
                    }

                    &.prompts_text{
                        margin: 0 auto;

                        .fa-lightbulb{
                            color: c.$instructions;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .main {
        &.sign_up {
            .sign_up_area {
                .account_area {
                    .register_item {
                        width: 47.5%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &.sign_up {
            .sign_up_area {
                .account_area {
                    .register_item {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
}