.main.test {
    width: 80%;
    margin: 130px auto 80px;
    @extend %max1200;

    .test_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(0deg, $main_color 96px, $body_bg 96px);
        position: relative;
        padding: 20px 10px;
        z-index: -1;

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 96px;
            width: 100%;
            height: 30px;
            background-image: radial-gradient($main_color 20%, transparent 20%), radial-gradient($main_blue_color 20%, transparent 20%);
            background-color: $main_yellow_color;
            background-position: 0 0, 15px 0px;
            background-size: 30px 30px;
            z-index: -1;
        }

        .test_book {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $white;
            border-radius: 16px;
            padding: 15px;
            flex-wrap: wrap;

            .test_book_img {
                width: 35%;
                line-height: 0;

                img {
                    border-radius: 10px;
                }
            }

            .test_book_title {
                width: 60%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                white-space: normal;
            }

            .test_book_grade {
                width: 100%;
                margin: 15px auto 0px;

                p {
                    color: $main_color;
                }
            }
        }

        .test_title {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0px);
            color: $white;

            h3 {
                text-align: center;
            }

            p {
                color: $white;
                text-align: center;
            }
        }

        .test_badge {
            position: absolute;
            right: 0px;
            bottom: calc(50% + 40px);
            display: flex;
            width: 35%;

            div {
                width: calc(33% - 15px);
                margin-left: 15px;

                &.notget {
                    filter: grayscale(1);
                    opacity: 0.5;
                }
            }
        }
    }

    .answer_area {
        padding: 30px calc(1.2rem + 60px);
        border: 1px solid $main_color;
        margin-top: -10px;
        border-radius: 10px;

        .test_form {
            position: relative;
            margin: 30px auto;

            &::after {
                content: "";
                position: absolute;
                width: calc(100% + 1rem);
                height: 1px;
                left: -1rem;
                bottom: 0;
                background-color: $brown;
                margin-top: 15px;
            }

            fieldset {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-width: 0px;
                padding: 15px 0px;

                .answer_text {
                    width: 100%;

                    &.answer_text_sound {
                        position: relative;

                        .text_answer {
                            padding-left: 55px;
                        }
                    }

                    .test_audio_icon {
                        position: absolute;
                        left: 10px;
                        top: 0;
                        transform: translate(0px, calc(-50% + 15px));
                        width: 35px;
                        height: 35px;
                        background-color: $main_color;
                        border-radius: 50%;
                        cursor: pointer;

                        img {
                            border: 0px solid;
                            padding: 5px;
                            width: 100%;
                            height: auto;
                            max-width: none;
                            max-height: none;
                            margin: 0;
                        }
                    }
                }

                .answer_picture {
                    width: 100%;
                }

                .answer_sound {
                    width: 20%;

                    .img_sound {

                        img {
                            border: 0px solid;
                            padding: 15px;
                            background-color: $main_color;
                            border-radius: 50%;
                            cursor: pointer;
                            max-width: 140px;
                            width: 80%;
                        }
                    }

                }
            }

            .img_and_sound{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img{
                        margin: 10px 0px 10px 20px;
                }
                .test_audio_icon{
                        width: calc(20% - 35px);
                        max-width: 100px;
                        margin: 0 0 0 15px;
                        img{
                            margin: 0 0 0 auto;
                    }
                }
            }

            .answer_list {
                margin: 15px;

                .text_answer_area {
                    display: flex;

                    span {
                        &:nth-last-child(1) {
                            max-width: calc(100% - 90px);
                            margin: 0 0 0 5px;
                        }
                    }
                }

                &.answer_picture {
                    margin: 25px 15px;

                    img {
                        margin: 10px 0px;
                        max-height: 300px;
                        max-width: 80%;
                    }
                }
            }

            img {
                display: block;
                max-height: 300px;
                max-width: 80%;
                width: auto;
                height: auto;
                margin: 20px;
            }



            .dictionary {
                display: flex;
                align-items: flex-start;
                padding-bottom: 20px;

                img {
                    width: 22px;
                    margin: 0px 10px 0px 20px;
                    line-height: 1.7;
                }
            }
        }

        .topic {
            display: flex;

            &.topic_sound {
                .test_audio_icon {
                    position: absolute;
                    left: 10px;
                    margin-top: 0px;
                    top: 0%;
                    transform: translate(0px, calc(50% + -15px));
                    width: 35px;
                    height: 35px;
                    background-color: $main_color;
                    border-radius: 50%;
                    cursor: pointer;
                    z-index: 1;

                    img {
                        border: 0px solid;
                        padding: 5px;
                        width: 100%;
                        height: auto;
                        max-width: none;
                        max-height: none;
                        margin: 0;
                    }
                }

                .topic_text {
                    padding-left: 55px;
                }
            }

            .topic_number {
                margin-left: -1rem;
            }



            .topic_text {
                padding-left: 20px;

                ruby {
                    margin-right: 10px;
                    line-height: 2.5;
                }

                p {
                    font-size: 26px;
                    font-weight: bold;
                }

                &.wrong,
                &.correct {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        left: -65px;
                        top: 8px;
                        width: 30px;
                        height: 30px;
                        background-size: 30px 30px;
                        display: inline-block;
                        background-repeat: no-repeat;
                    }
                }

                &.wrong {
                    &:before {
                        background-image: url(../image/svg/wrong.svg);
                    }
                }

                &.correct {
                    &:before {
                        background-image: url(../image/svg/correct.svg);
                    }
                }
            }

            span {
                font-size: 26px;
                font-weight: bold;
            }
        }

        .connect {
            margin: 20px auto;
            width: 95%;

            tr {
                margin: 40px 0px;
                display: block;

                .connect_topic {
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        background: transparent;
                        height: 3px;
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border: none;
                        box-shadow: none;
                        background: $main_color;
                        border-radius: 10px;
                        min-height: 20px;
                    }

                    &::-webkit-scrollbar-track {
                        margin: 3px 0;
                    }
                }

                td {
                    width: calc(22.5% - 4px);
                    position: relative;
                    display: inline-block;

                    &:nth-child(2) {
                        width: calc(45% - 4px);
                        cursor: auto;
                    }

                    .connect_topic {
                        cursor: pointer;
                        line-height: 0;
                        border: 3px solid $transparent;

                        p {
                            text-align: left;
                            font-size: 21px;
                            font-weight: bold;
                        }

                        span {
                            text-align: left;
                            font-size: 21px;
                            font-weight: bold;
                        }

                        img {
                            line-height: 1.7;
                        }

                        &.connect_topic_audio {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 80%;
                                border: 0px solid;
                                padding: 15px;
                                background-color: $main_color;
                                border-radius: 50%;
                                cursor: pointer;
                                max-width: 140px;
                            }
                        }
                    }

                    .test_audio_icon {
                        position: absolute;
                        top: 50%;
                        transform: translate(0px, -50%);
                        width: 35px;
                        height: 35px;
                        // background-color: $main_color;
                        border-radius: 50%;
                        cursor: pointer;


                        &.left_sound {
                            left: -40px;
                        }

                        &.right_sound {
                            right: -40px;
                        }

                        &:hover {
                            background: darken($main_color, 5%);
                        }

                        &:active {
                            background: darken($main_color, 10%);
                        }

                        img {
                            border: 0px solid;
                            padding: 5px;
                            width: 100%;
                        }

                    }
                }
            }

        }

        .audio_img {
            width: 80%;
            border: 0px solid;
            padding: 15px;
            background-color: $main_color;
            border-radius: 50%;
            cursor: pointer;
            max-width: 140px;

            &.audio_animate {
                animation: audio 1500ms infinite;
            }
        }
    }

    .send_button {
        margin: 20px auto;
        text-align: center;

        a {
            color: $white;
            padding: 5px 10px;
            background-color: $main_color;
            border-radius: 10px;
            @extend %transition;

            &:hover {
                background: darken($main_color, 5%);
            }

            &:active {
                background: darken($main_color, 10%);
            }
        }
    }
}

canvas {
    border: 0px solid gray;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    display: block;
}

/*注音開始*/
h-ruby.zhuyin h-zhuyin,
ruby.mps h-zhuyin,
ruby.zhuyin h-zhuyin {
    position: relative;
    letter-spacing: 0
}

h-ruby.zhuyin h-diao,
ruby.mps h-diao,
ruby.zhuyin h-diao {
    position: absolute;
    right: -0.8em;
    bottom: .5em;
    display: block;
    font-size: 1em
}

h-ruby.zhuyin h-diao h-char,
ruby.mps h-diao h-char,
ruby.zhuyin h-diao h-char {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb
}

h-ruby.zhuyin [diao="˙"] h-diao,
ruby.mps [diao="˙"] h-diao,
ruby.zhuyin [diao="˙"] h-diao {
    top: -.3em;
    right: auto;
    bottom: auto;
    left: 0;
    font-size: 1em
}

h-ruby.zhuyin [diao="󳆴"] h-diao,
h-ruby.zhuyin [diao="󳆵"] h-diao,
h-ruby.zhuyin [diao="󳆶"] h-diao,
h-ruby.zhuyin [diao="󳆷"] h-diao,
h-ruby.zhuyin [diao^="ㆴ"] h-diao,
h-ruby.zhuyin [diao^="ㆵ"] h-diao,
h-ruby.zhuyin [diao^="ㆶ"] h-diao,
h-ruby.zhuyin [diao^="ㆷ"] h-diao,
ruby.mps [diao="󳆴"] h-diao,
ruby.mps [diao="󳆵"] h-diao,
ruby.mps [diao="󳆶"] h-diao,
ruby.mps [diao="󳆷"] h-diao,
ruby.mps [diao^="ㆴ"] h-diao,
ruby.mps [diao^="ㆵ"] h-diao,
ruby.mps [diao^="ㆶ"] h-diao,
ruby.mps [diao^="ㆷ"] h-diao,
ruby.zhuyin [diao="󳆴"] h-diao,
ruby.zhuyin [diao="󳆵"] h-diao,
ruby.zhuyin [diao="󳆶"] h-diao,
ruby.zhuyin [diao="󳆷"] h-diao,
ruby.zhuyin [diao^="ㆴ"] h-diao,
ruby.zhuyin [diao^="ㆵ"] h-diao,
ruby.zhuyin [diao^="ㆶ"] h-diao,
ruby.zhuyin [diao^="ㆷ"] h-diao {
    right: -1em;
    bottom: -.125em;
    font-size: 1em
}

h-ru[annotation] {
    position: relative;
    display: inline-table;
    line-height: 1.1;
    text-align: center;
    vertical-align: 1em
}

h-ru[annotation]>rt,
h-ru[order="0"]>rt,
h-ruby[rightangle][doubleline] h-ru[order="0"]>rt {
    display: table-header-group
}

h-ru[annotation]>h-ru[annotation] {
    vertical-align: -.1em
}

h-ru[annotation]>h-ru,
h-ru[annotation]>rb,
h-ru[annotation]>rt {
    line-height: 1;
    text-align: center
}

h-ru[annotation]>rt {
    height: 1em;
    font-size: .5em;
    white-space: nowrap;
    word-break: normal
}

h-ru[annotation]>rt:after,
h-ru[annotation]>rt:before {
    content: "\2006"
}

h-ru[order="1"]>rt,
h-ruby[rightangle] h-ru[order="0"]>rt,
h-ruby[rightangle][doubleline] h-ru[order="1"]>rt {
    display: table-footer-group
}

h-ru[order="0"]>h-ru[order="1"] {
    vertical-align: .15em
}

h-ruby[rightangle][doubleline] h-ru[order="0"] rt {
    line-height: 1.5
}

h-ruby[rightangle][doubleline] h-ru[annotation] {
    vertical-align: .5em
}

[zhuyin] h-zhuyin {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-indent: 0;
    position: relative;
    display: inline-block;
    height: 1em;
    width: .4em;
    vertical-align: middle
}

[zhuyin] h-diao,
[zhuyin] h-yin {
    line-height: 1;
    position: absolute
}

[zhuyin] h-zhuyin>* {
    -moz-transform: scale(.4);
    -ms-transform: scale(.4);
    -webkit-transform: scale(.4);
    transform: scale(.4);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    display: inline-block
}

[zhuyin] h-yin {
    left: 0;
    height: 1em;
    vertical-align: top
}

[zhuyin] h-diao {
    bottom: 0;
    right: -0.8em
}

[zhuyin] [length="0"] h-zhuyin,
[zhuyin] h-diao:empty,
[zhuyin] h-yin:empty {
    display: none
}

[zhuyin] [length="0"] {
    margin-right: 0
}

[zhuyin] [length="1"] h-yin {
    top: .3em
}

[zhuyin] [length="1"] h-diao {
    bottom: -0.3em;
}

[zhuyin] [length="2"] h-yin {
    top: .05em
}

[zhuyin] [length="2"] h-diao {
    bottom: -.3em
}

[zhuyin] [length="3"] h-yin {
    top: -.05em;
    line-height: .85
}

[zhuyin] [length="3"] h-diao {
    bottom: -.35em
}

[zhuyin] [diao="˙"] h-diao {
    top: 0;
    right: auto;
    bottom: auto;
    left: .06em
}

[zhuyin] [diao="˙"] [length="1"] h-diao {
    top: .15em
}

[zhuyin] [diao="˙"] [length="2"] h-diao {
    top: -.05em
}

[zhuyin] [diao="˙"] [length="3"] h-diao {
    top: -.2em
}

[zhuyin] [diao="˪"] h-diao,
[zhuyin] [diao="˫"] h-diao {
    -moz-transform: scale(.6);
    -ms-transform: scale(.6);
    -webkit-transform: scale(.6);
    transform: scale(.6);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top
}

[zhuyin] [diao="󳆴"] h-diao,
[zhuyin] [diao="󳆵"] h-diao,
[zhuyin] [diao="󳆶"] h-diao,
[zhuyin] [diao="󳆷"] h-diao,
[zhuyin] [diao^="ㆴ"] h-diao,
[zhuyin] [diao^="ㆵ"] h-diao,
[zhuyin] [diao^="ㆶ"] h-diao,
[zhuyin] [diao^="ㆷ"] h-diao {
    bottom: -.6em;
    margin-right: .3em
}

[zhuyin] {
    margin-right: 0.8em;
    display: inline-block;
    line-height: 1.8
}

[rightangle] h-ru[annotation] {
    vertical-align: 0;
    line-height: 1
}

[rightangle] rt:after {
    content: "";
    display: inline-block;
    width: 1.2em
}

h-ru h-ru[zhuyin] {
    margin-top: -.4em;
    margin-bottom: -.2em;
    line-height: 1.8
}

h-jinze,
h-word {
    display: inline-block;
    text-indent: 0
}

/*注音結束*/


.dummy2 {
    font-size: 26px;
    font-weight: bold;
    color: $brown;
}

/* 彈跳獎章開始 */
.blocker {
    z-index: 11;
    overflow-x: hidden;

    .test_medal_modal {
        border-radius: 10px;
        background-color: $body_bg;
        padding: 40px 0px;
        width: 70%;
        max-width: 1200px;
        position: relative;

        &.first_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $first_grade_color;
                    background-color: $first_grade_color;
                }
            }
        }

        &.second_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $second_grade_color;
                    background-color: $second_grade_color;
                }
            }

        }

        &.third_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $third_grade_color;
                    background-color: $third_grade_color;
                }
            }

        }

        &.fourth_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $fourth_grade_color;
                    background-color: $fourth_grade_color;
                }
            }

        }

        &.fifth_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $fifth_grade_color;
                    background-color: $fifth_grade_color;
                }
            }

        }

        &.sixth_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $sixth_grade_color;
                    background-color: $sixth_grade_color;
                }
            }

        }

        &.seventh_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $seventh_grade_color;
                    background-color: $seventh_grade_color;
                }
            }

        }

        &.eighth_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $eighth_grade_color;
                    background-color: $eighth_grade_color;
                }
            }

        }

        &.ninth_grade_test_modal {
            .test_modal_content {
                .test_modal_medal_area {
                    border: 1.5px solid $ninth_grade_color;
                    background-color: $ninth_grade_color;
                }
            }
        }

        .test_modal_title {
            margin: 0px auto 20px;

            h4 {
                color: $brown;
                text-align: center;
            }
        }

        .test_modal_title {
            width: 95%;
        }

        .two_test_modal {
            display: flex;
            margin: 0 auto;
            width: 95%;

            .test_modal_content {
                width: 45%;

                .test_modal_medal_area {
                    width: 100%;
                }
            }
        }

        .test_modal_content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            width: 70%;

            .test_modal_title {
                margin: 0px auto 20px;
                width: 100%;

                h4 {
                    color: $brown;
                    text-align: center;
                }
            }

            .test_modal_medal_area {
                border: 1.5px solid $main_color;
                background-color: $main_color;
                width: 65%;
                max-width: 350px;
                border-radius: 10px;
                animation: jump 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);

                .test_modal_medal {
                    margin: 0px auto;
                    background-color: $body_bg;
                    border-radius: 10px 10px 0 0;

                    img {
                        width: 65%;
                        margin: 0px auto;
                        padding: 20px 0px;
                        display: block;
                    }
                }

                .test_modal_text {
                    color: $white;
                    text-align: center;
                    padding: 5px;

                    p {
                        color: $white;
                    }
                }
            }

        }

        .navigator_area {
            position: absolute;
            left: 100%;
            bottom: 0;
            width: 30%;
            transform: translate(-50%, -20%);
            animation: bookman_move 2s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        }

        .close-modal {
            display: none !important;
        }
    }
}

/* 彈跳獎章結束 */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
    .main.test {
        width: 90%;
        margin: 0px auto 80px;

        .test_top {
            background: transparent;
            flex-wrap: wrap;
            align-items: flex-start;

            &::after {
                display: none;
            }

            .test_book {
                order: 2;
                width: 55%;

                .test_book_title {
                    -webkit-line-clamp: 4;
                }
            }

            .test_title {
                order: 1;
                width: 100%;
                position: relative;
                left: auto;
                bottom: auto;
                transform: translate(0px, 0px);
                padding: 10px 0px;
                background-color: $main_color;
                margin: 0px auto 15px;
            }

            .test_badge {
                position: relative;
                width: 40%;
                order: 3;
            }
        }

        .answer_area {
            margin-top: 15px;
            padding: 30px calc(1.2rem + 40px);

            .test_form {

                fieldset {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    border-width: 0px;
                    padding: 15px 0px;
    
                    .answer_text {
                        width: 100%;
    
                        &.answer_text_sound {
                            position: relative;
    
                            .text_answer {
                                padding-left: 50px;
                            }
                        }
    
                        .test_audio_icon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }

                .answer_list {
                    margin: 10px auto;

                    &.answer_picture {
                        margin: 15px 0px;

                        img {
                            max-width: 100%;
                        }
                    }
                }

                img {
                    margin: 10px 0px 10px 20px;
                }
            }

            .topic {

                &.topic_sound {
                    .test_audio_icon {
                        width: 30px;
                        height: 30px;
                    }
    
                    .topic_text {
                        padding-left: 50px;
                    }
                }

                .topic_text {

                    p {
                        font-size: 22px;
                    }

                    &.wrong,
                    &.correct {
                        &:before {
                            left: -50px;
                            top: 8px;
                            width: 20px;
                            height: 20px;
                            background-size: 20px 20px;
                        }
                    }
                }

                span {
                    font-size: 22px;
                }
            }

            .connect {
                margin: 10px auto;

                tr {
                    margin: 20px 35px;

                    td {
                        width: calc(32% - 4px);

                        &:nth-child(2) {
                            width: calc(35% - 4px);
                        }

                        .test_audio_icon {
                            width: 30px;
                            height: 30px;

                            &.left_sound {
                                left: -35px;
                            }

                            &.right_sound {
                                right: -35px;
                            }
                        }

                        .connect_topic {
                            p {
                                font-size: 17px;
                            }

                            span {
                                font-size: 17px;
                            }
                        }
                    }
                }


            }
        }

    }

    /*另一種注音開始*/
    .dummy2 {
        font-size: 22px;
    }

    /*另一種注音結束*/

    /* 彈跳獎章開始 */
    .blocker {
        .test_medal_modal {
            .test_modal_title {
                width: 70%;
            }

            .two_test_modal {
                flex-direction: column;
                width: 70%;

                .test_modal_content {
                    width: 100%;
                    margin: 0px auto 20px;
                }
            }

            .test_modal_content {
                .test_modal_medal_area {
                    width: 80%;
                }
            }
        }
    }

    /* 彈跳獎章結束 */
}

@media screen and (max-width: 768px) {
    .main.test {
        margin: 0px auto 60px;

        .test_top {

            .test_book {
                width: 80%;

                .test_book_title {
                    -webkit-line-clamp: 5;
                }
            }

            .test_badge {
                width: 12%;
                flex-direction: column;

                div {
                    width: 100%;
                    margin-left: 0px;
                    margin: 0px auto 10px;
                }
            }
        }

        .answer_area {
            padding: 0px calc(1.2rem + 40px);

            .test_form {
                fieldset {

                    .answer_sound {
                        width: 45%;

                        .img_sound {

                            img {
                                padding: 10px;
                                max-width: 90px;

                            }
                        }

                    }
                }

                .img_and_sound{
                    align-items: flex-start;
                    flex-direction: column;

                    img{
                        margin: 10px 0px 10px 20px;
                    }
                    .test_audio_icon{
                        margin: 10px 0px 10px 20px;
                        width: calc(35% - 25px);
                        min-width: 60px;

                        img{
                            margin: 0;
                            padding: 6px;
                        }
                    }
                }

                img {
                    max-width: calc(100% - 20px)
                }
            }

            .topic {

                .topic_text {
                    p {
                        font-size: 20px;
                    }
                }

                span {
                    font-size: 20px;
                }
            }

            .connect_area {
                width: calc(100% + 2rem);

                .connect {

                    tr {
                        margin: 20px auto;

                        td {
                            width: calc(42% - 4px);

                            &:nth-child(2) {
                                width: calc(15% - 4px);
                            }

                            .test_audio_icon {
                                width: 25px;
                                height: 25px;

                                &.left_sound {
                                    left: -30px;
                                }

                                &.right_sound {
                                    right: -30px;
                                }

                                img {
                                    padding: 3px;
                                }
                            }

                            .connect_topic {

                                p {
                                    font-size: 15px;
                                }

                                span {
                                    font-size: 15px;
                                }

                                &.connect_topic_audio {

                                    img {
                                        padding: 10px;
                                        max-width: 90px;
                                    }
                                }

                            }
                        }
                    }
                }

            }

        }

    }

    /*另一種注音開始*/
    .dummy2 {
        font-size: 20px;
    }

    /*另一種注音結束*/

    /* 彈跳獎章開始 */
    .blocker {
        .test_medal_modal {
            width: 80%;
            padding: 20px 0px;

            .test_modal_content {
                width: 90%;

                .test_modal_medal_area {
                    width: 90%;
                }
            }

            .navigator_area {
                display: none;
            }
        }
    }

    /* 彈跳獎章結束 */
}

@media screen and (max-width: 499px) {
    .main.test {
        margin: 0px auto 60px;

        .test_top {

            .test_book {
                width: 100%;
                order: 3;
            }

            .test_badge {
                width: 100%;
                flex-direction: row;
                order: 2;
                margin: 0px auto 15px;

                div {
                    width: 20%;
                    margin: 0px auto;
                }
            }
        }

        .answer_area {

            .test_form {
                fieldset {

                    .answer_sound {

                        .img_sound {

                            img {
                                max-width: 50px;
                            }
                        }

                    }
                }

            }

            .topic {
                .topic_text {

                    p {
                        font-size: 19px;
                    }
                }

                span {
                    font-size: 19px;
                }
            }

            .connect_area {
                .connect {

                    tr {

                        td {

                            .test_audio_icon {
                                width: 20px;
                                height: 20px;

                                &.left_sound {
                                    left: -20px;
                                }

                                &.right_sound {
                                    right: -20px;
                                }

                            }

                            .connect_topic {

                                p {
                                    font-size: 14px;
                                }

                                span {
                                    font-size: 14px;
                                }

                                &.connect_topic_audio {

                                    img {
                                        max-width: 50px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    /*另一種注音開始*/
    .dummy2 {
        font-size: 19px;
    }

    /*另一種注音結束*/

    /* 彈跳獎章開始 */
    .blocker {
        .test_medal_modal {
            width: 90%;
        }
    }

    /* 彈跳獎章結束 */
}

@keyframes jump {
    0% {
        transform: translateY(-40px);
    }

    30% {
        transform: translateY(30px);
    }

    60% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes bookman_move {

    0% {
        transform: translate(100%, -20%);
    }

    50% {
        transform: translate(-50%, -20%);
    }
}

@keyframes audio {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .55;
    }

    100% {
        opacity: 1;
    }
}