// 電子書區域開始
.book-page-one {
    .answer_area{
        width: 90%;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid $main_color;
        padding: 30px 0 0;
        margin: 0 auto 30px;

    }
    .topic_area {
        width: 35%;
        max-width: 350px;

        .topic_name {
            margin: 20px 0;
            h4 {
                font-size: 25px;
                color: $main_color;
            }
        }

        .topic_img_area {
            .topic_img {
                img {
                    
                    border-radius: 10px;
                    border: 1px solid $main_color;
                }
            }
        }
    }

    .usermessage_area {
        width: 60%;
        padding: 0px;

        .topic_name {
            margin: 0 0 20px;
            h4 {
                font-size: 25px;
                color: $main_color;
            }
        }

        .usermessage {

            .usermessage_textarea {
                width: 100%;
                border: none;
                font-size: 17px;
                color: $brown;
                line-height: 1.8;
                padding: 20px;
                margin-bottom: 15px;
                border-radius: 5px;
                resize: none;

                &:focus-visible {
                    outline: 1px solid $main_color;
                }
            }

            .usermessage_btn {
                display: block;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid $main_color;
                margin: 0 0 0 auto;
                color: $main_color;
                cursor: pointer;

                &:hover {
                    background-color: $main_color;
                    color: $white;
                }
            }
        }
    }
}

// 電子書區域結束

@media (max-width: 1024px) {
    .book-page-one {
        .dialogue_area {
            .dialogue_block_area {
                .dialogue_block {
                    .dialog_box {
                        max-width: calc(80% - 70px);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .book-page-one {
        .dialogue_area {
            .dialogue_block_area {
                .dialogue_block {
                    .dialog_box {
                        max-width: calc(100% - 70px);
                    }
                }
            }
        }
    }
}