// 電子書區域開始
.book-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    .course_area{
        width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0 0;
    margin: 0 auto;
    }
}

// 電子書區域結束

@media (max-width: 1024px) {

    // 電子書區域開始
    .book-page {

        // 電子書內容區域開始
        .book-page-img {

            .book-page-bg {

                &.two-right-book-page-bg {
                    max-width: 90%;
                }
            }

            // 文字版型開始
            .text {

                &.two-right-text {
                    max-width: 100%;
                    max-height: calc(50vh - 240px);
                    // 20240503修改
                    max-height: calc(50vh - 280px);
                }
            }

            // 文字版型結束
        }

        // 電子書內容區域結束

        &.two-right-book-page {
            .book-page-img {
                flex-direction: column;
                justify-content: center;
                max-height: calc(100vh - 200px);
                // 20240503修改
                max-height: calc(100vh - 240px);

                img {
                    max-height: calc((100vh - 200px) / 2) !important;
                    // 20240503修改
                    max-height: calc((100vh - 240px) / 2) !important;
                }
            }
        }
    }

    // 電子書區域結束

        // 下方控制區開始
    
        .button-area {
    
            .button-menu {
                ul {
    
                    li {
                        margin-left: 15px;
    
                        .background-icon {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    
        // 下方控制區結束
}

@media (max-width: 768px) {

    // 電子書區域開始
    .book-page {

        // 電子書內容區域開始
        .book-page-img {

            .book-page-bg {
                width: auto;
                height: auto;
                max-width: 90%;
                max-height: calc(100vh - 240px);
                // 20240503修改
                max-height: calc(100vh - 280px);
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 100%;
                }

                &.two-right-book-page-bg {
                    width: auto;
                    height: auto;
                    max-width: 65%;
                }

                &.half-book-page-img {
                    flex-direction: column;
                    justify-content: center;

                    .book-page-bg {
                        max-height: calc((90vh - 200px) / 2);
                        // 20240503修改
                        max-height: calc((90vh - 240px) / 2);
                        height: auto;

                        img {
                            max-height: calc((90vh - 200px) / 2);
                            // 20240503修改
                            max-height: calc((90vh - 240px) / 2);
                            height: auto;
                        }
                    }

                    &.big-half-book-img {
                        height: auto;

                        .book-page-bg {
                            max-height: calc((100vh - 250px) / 4 * 2.8);
                            // 20240503修改
                            max-height: calc((100vh - 290px) / 4 * 2.8);

                            img {
                                max-height: calc((100vh - 250px) / 4 * 2.8);
                                // 20240503修改
                                max-height: calc((100vh - 290px) / 4 * 2.8);
                            }
                        }

                        .half-text {
                            max-height: calc((100vh - 250px) / 4 * 1.2);
                            // 20240503修改
                            max-height: calc((100vh - 290px) / 4 * 1.2);
                        }
                    }


                }
            }

            &.template-book-page-img {
                .text {
                    max-height: none;
                    margin-top: 0px;
                }
            }
        }

        // 電子書內容區域結束

        // 顯示詞彙開始
        .word-area {
            width: calc(100% - 20px);
            height: 0px;
            margin-top: 0px;
            padding: 20px 15px;
            right: auto;
            top: auto;
            bottom: -100%;
            overflow: scroll;

            .book-circle {
                display: none;

                ul {
                    flex-direction: column;
                    height: 100%;

                    li {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .word-title {
                font-size: 20px;
            }

            .word {
                height: calc(100% - 40px);
                overflow: initial;

                p {
                    padding-bottom: 10px;
                    margin: 10px 0px;
                }
            }

            .arrow {
                width: 20px;
                height: 20px;
                right: 10px;
                left: auto;
                bottom: 10px;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
            }

            &.open {
                width: calc(100% - 70px);
                height: 100px;
                left: 10px;
                top: auto;
                bottom: 150px;
            }
        }

        // 顯示詞彙結束

        // 詞彙未顯示開始
        &.noMove {
            .book-page-img {

                // 文字版型開始
                .text {

                    &.two-right-text {
                        max-width: 90%;
                    }
                }

                // 文字版型結束
            }
        }

        // 詞彙未顯示結束

        // 顯示詞彙電子書移動開始
        &.move {

            .book-page-img {
                height: auto;
                max-width: 90%;
                max-height: calc(100vh - 250px);
                // 20240503修改
                max-height: calc(100vh - 290px);
                right: auto;
                top: auto;
                bottom: 260px;
                transform: translate(0px, 0%);

                .half-book-page-img {
                    max-width: none;
                    justify-content: center;

                    .book-page-bg {
                        max-width: 90%;
                    }
                }

                img {
                    transform: translate(0px, 0px);
                }

                .text {
                    max-width: 90%;

                    &.two-right-text {
                        max-width: 65%;
                    }
                }
            }

            &~.play-area {
                .progress {
                    display: none;
                }
            }
        }

        // 顯示詞彙電子書移動結束

    }

    // 電子書區域結束

    // 下方控制區開始
    .play-area {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        width: 100%;

        .progress {
            position: static;
            left: 0px;
            bottom: 0px;
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);

            .number-page {
                font-size: 13px;
            }
        }

        .play {
            position: static;
            bottom: 0px;
            left: 0px;
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
            margin: 8px auto 14px;
            height: 35px;

            button {
                margin-left: 10px;
            }
        }
    }

    .button-area {
        display: block;
        padding: 10px 5%;
        z-index: 4;

        .sound {
            width: auto;
            flex-direction: column;
            position: absolute;
            right: 20px;
            bottom: 55px;
            display: none;

            .sound-img {
                order: 2;
                margin-top: 10px;
                margin-right: 0px;
                width: 20px;
                height: 20px;
            }

            .sound-drag-line {
                width: 4px;
                height: 75px;
                flex-direction: column;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);

                .sound-draggable-button {
                    margin-left: -8px;
                    top: -10px;
                }
            }
        }

        .button-menu {
            ul {
                justify-content: space-around;

                li {
                    margin-left: 0;

                    .background-icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    // 下方控制區結束
}