@charset "UTF-8";
/*說書頻道*/
main.collectionBook { background-color: white; }

main.collectionBook body, main.collectionBook div, main.collectionBook dl, main.collectionBook dt, main.collectionBook dd, main.collectionBook ul, main.collectionBook ol, main.collectionBook li, main.collectionBook h1, main.collectionBook h2, main.collectionBook h3, main.collectionBook h4, main.collectionBook h5, main.collectionBook h6, main.collectionBook pre, main.collectionBook code, main.collectionBook form, main.collectionBook fieldset, main.collectionBook legend, main.collectionBook input, main.collectionBook textarea, main.collectionBook p, main.collectionBook blockquote, main.collectionBook th, main.collectionBook td, main.collectionBook figure { margin: 0; padding: 0; list-style: none; }

main.collectionBook h1 { font-size: 25px; line-height: 1.7; font-weight: bold; }

main.collectionBook h3 { font-size: 26px; line-height: 1.7; font-weight: bold; }

main.collectionBook h4 { font-size: 20px; line-height: 1.5; font-weight: bold; }

main.collectionBook h5 { font-size: 16px; line-height: 1.5; font-weight: bold; }

main.collectionBook p, main.collectionBook td, main.collectionBook li, main.collectionBook i { font-size: 14px; line-height: 1.7; }

main.collectionBook span, main.collectionBook th, main.collectionBook td, main.collectionBook .form-control { font-size: 14px; text-decoration: none; line-height: 1.7; }

main.collectionBook a { font-size: 14px; text-decoration: none; line-height: 1.7; }

main.collectionBook input, main.collectionBook label { font-size: 14px; line-height: 1.7; }

main.collectionBook input[type=file]::file-selector-button { display: none; }

main.collectionBook img { width: 100%; }

main.collectionBook button { padding: 0; border-width: 0px; border-style: none; background-color: transparent; border-radius: 10px; cursor: pointer; }

main.collectionBook button:disabled { background-color: #5a5f60 !important; border: 1px solid #5a5f60 !important; opacity: 0.5; cursor: auto !important; }

main.collectionBook button:disabled a { color: white !important; cursor: auto; }

main.collectionBook .page-banner.collectionBook { background-image: url(../images/collectionBook/collectionBook_kv_m.png); background-position: 45% center; margin-bottom: 0; }

main.collectionBook .page-banner.collectionBook h1 { font-size: 1.5em; font-weight: 400; line-height: 1em; margin-top: 10px; margin-bottom: 20px; color: #FFF; text-align: left; }

main.collectionBook .page-banner.collectionBook p { font-size: 0.9em; line-height: 1.875em; color: #FFF; text-align: left !important; }

main.collectionBook .page-banner.collectionBook .container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

main.collectionBook .page-banner.collectionBook .container .row { margin-right: -15px; margin-left: -15px; }

main.collectionBook .level_introduction_search { display: flex; justify-content: flex-end; align-items: center; margin: 40px auto; width: 90%; max-width: 1200px; }

main.collectionBook .level_introduction_search .level_introduction_btn_area { display: flex; align-items: center; }

main.collectionBook .level_introduction_search .level_introduction_btn_area p { font-weight: bold; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn { position: relative; margin: 0 0 0 10px; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn .form-control { display: flex; align-items: center; padding: 0 0 0 10px; border: 1px solid #ababab; background-color: #fff; min-width: 150px; border-radius: 0; height: auto; overflow: hidden; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn .form-control:focus { box-shadow: none; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn .form-control i { padding: 10px; margin: 0 0 0 auto; background-color: #f1f1f1; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn .form-control.open i::before { content: "\f077"; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn .form-control.open ~ ul { visibility: visible; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn ul { position: absolute; left: 50%; z-index: 2; transform: translate(-50%, 10px); width: auto; min-width: 150px; visibility: hidden; border: 1px solid #ababab; background-color: #fff; overflow: hidden; cursor: pointer; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn ul .dropdown_item_li { padding: 5px 10px; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn ul .dropdown_item_li.active { background-color: #446ef6; color: #fff; }

main.collectionBook .level_introduction_search .level_introduction_btn_area .level_introduction_btn ul .dropdown_item_li:hover { background-color: #446ef6; color: #fff; }

main.collectionBook .collectionBook_area { padding: 30px 20px; background-color: #d4f0ff; max-width: 1200px; width: 90%; margin: 0 auto; position: relative; }

main.collectionBook .collectionBook_area .swiper { width: 100%; height: auto; }

main.collectionBook .collectionBook_area .swiper .swiper-slide { text-align: center; font-size: 18px; display: flex; justify-content: center; align-items: center; }

main.collectionBook .collectionBook_area .swiper_btn_next, main.collectionBook .collectionBook_area .swiper_btn_prev { position: absolute; top: var(--swiper-navigation-top-offset, 50%); z-index: 10; cursor: pointer; display: flex; align-items: center; justify-content: center; background-color: #7f7f7f; width: 20px; height: 20px; padding: 12px; border-radius: 50%; }

main.collectionBook .collectionBook_area .swiper_btn_next::after, main.collectionBook .collectionBook_area .swiper_btn_prev::after { font-family: swiper-icons; font-size: 20px; text-transform: none !important; letter-spacing: 0; font-variant: initial; line-height: 1; color: white; }

main.collectionBook .collectionBook_area .swiper_btn_next.swiper-button-disabled, main.collectionBook .collectionBook_area .swiper_btn_prev.swiper-button-disabled { opacity: .35; cursor: auto; pointer-events: none; }

main.collectionBook .collectionBook_area .swiper_btn_next { right: 0; transform: translate(50%, 0); }

main.collectionBook .collectionBook_area .swiper_btn_next::after { content: 'next'; }

main.collectionBook .collectionBook_area .swiper_btn_prev { left: 0; transform: translate(-50%, 0); }

main.collectionBook .collectionBook_area .swiper_btn_prev::after { content: 'prev'; }

main.collectionBook .collectionBook_area .collectionBook_content { width: calc(100% - 0px); }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top { background-color: white; padding: 20px 10px; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left { display: flex; flex-direction: column; align-items: center; margin: 0 auto 10px; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress { position: relative; width: 130px; height: 130px; margin: 20px auto; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress .completeness_progress_value { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress .completeness_progress_value p { text-align: center; margin: 0; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress .completeness_progress_value p.value_one { margin: 0 auto 5px; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress .completeness_progress_value p.value_two { font-size: 22px; font-weight: bold; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress svg { position: absolute; width: 100%; z-index: 1; left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(-90deg); overflow: initial; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress svg .completeness_progress_background { fill: none; stroke: #d9ecda; stroke-width: 3px; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress svg .completeness_progress_bar { fill: none; stroke: #93d761; stroke-dasharray: 100 100; stroke-dashoffset: 100; stroke-dashoffset: 0px; stroke-linecap: round; stroke-width: 3px; transition: stroke-dashoffset 1s ease-in-out; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .articleImg { width: 130px; margin: 20px auto; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_right .collectionBook_top_right_content { border-bottom: 1px solid #c6c6c6; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_right .collectionBook_top_right_content .collectionBook_top_right_item { display: flex; flex-direction: column; align-items: center; padding: 10px 0; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_right .collectionBook_top_right_content .collectionBook_top_right_item .collectionBook_top_right_item_value { color: #446ef6; font-weight: bold; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .tittle { padding: 10px 0; display: flex; justify-content: center; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .tittle .collectionBook_top_right_item_value { color: #446ef6; font-weight: bold; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .item_area .item { display: flex; justify-content: space-between; position: relative; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .item_area .item p { background-color: white; padding: 5px 10px; margin: 0; position: relative; z-index: 1; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .item_area .item::after { content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; border: 1px dotted #c6c6c6; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_right { max-width: 120px; margin: 0 0 0 auto; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_junction { display: flex; justify-content: space-around; transform: translate(0, -10px); position: relative; z-index: 1; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_junction .junction_item { width: 15px; height: 50px; background-color: white; border-radius: 50px; border: 5px solid #d4f0ff; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom { background-color: white; padding: 20px 10px; transform: translate(0, -20px); }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .tittle { display: flex; justify-content: center; padding: 10px 0; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .table_content { overflow-x: scroll; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .table_content .collectionBook_table { min-width: 800px; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .table_content .collectionBook_table thead { background-color: #f0ffed; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .table_content .collectionBook_table thead tr th { text-align: center; color: #93d761; border-bottom: 0; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .table_content .collectionBook_table tbody tr td { border-top: 0; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .table_content .collectionBook_table tbody tr:nth-child(even) { background-color: #f0ffed; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .data-page-scroll { padding: 10px 20px; margin: 30px auto; overflow-x: scroll; }

main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .data-page-scroll .chart-control { min-width: 768px; }

main.collectionBook .collectionBook_area .copyright_area { display: flex; justify-content: center; align-items: center; flex-direction: column; }

main.collectionBook .collectionBook_area .copyright_area img { max-width: 120px; margin: 10px 15px; }

main.collectionBook .swiper_wrapper_pagination { display: flex; justify-content: center; margin: 50px auto 20px; }

main.collectionBook .swiper_wrapper_pagination .swiper-pagination.swiper-pagination-bullets { position: relative; bottom: auto; top: auto; left: auto; width: auto; text-align: left; }

main.collectionBook .swiper_wrapper_pagination .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet { width: auto; height: auto; padding: 5px 10px; margin: 5px; border-radius: 0; text-align: center; opacity: 1; background-color: #eeeeee; }

main.collectionBook .swiper_wrapper_pagination .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active { color: red; background-color: transparent; font-weight: bold; }

main.collectionBook .downloadPDF_area { position: fixed; z-index: 10; right: 5px; bottom: 20px; display: flex; justify-content: center; align-items: center; flex-direction: column; cursor: pointer; }

main.collectionBook .downloadPDF_area .download_icon { background-color: #446ef6; padding: 5px; line-height: 0; width: calc(20px * 1.7 + 10px); border-radius: 50%; text-align: center; }

main.collectionBook .downloadPDF_area .download_icon i { font-size: 20px; color: white; }

main.collectionBook .downloadPDF_area p { color: #2e3233; margin: 5px auto; }

main.collectionBook .downloadPDF_area:hover p { color: #446ef6; }

@media screen and (min-width: 576px) { main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_right { max-width: 200px; }
  main.collectionBook .collectionBook_area .swiper_btn_next, main.collectionBook .collectionBook_area .swiper_btn_prev { width: 30px; height: 30px; padding: 18px; }
  main.collectionBook .collectionBook_area .swiper_btn_next::after, main.collectionBook .collectionBook_area .swiper_btn_prev::after { font-size: 25px; }
  main.collectionBook .collectionBook_area .copyright_area { flex-direction: row; } }

@media screen and (min-width: 768px) { main.collectionBook h1 { font-size: 32px; }
  main.collectionBook h3 { font-size: 27px; }
  main.collectionBook h4 { font-size: 21px; }
  main.collectionBook h5 { font-size: 17px; }
  main.collectionBook p, main.collectionBook td, main.collectionBook li { font-size: 15px; }
  main.collectionBook span, main.collectionBook th, main.collectionBook td, main.collectionBook .form-control { font-size: 15px; }
  main.collectionBook a { font-size: 15px; }
  main.collectionBook input, main.collectionBook label { font-size: 15px; }
  main.collectionBook .page-banner.collectionBook .container { width: calc(100% - 260px); max-width: 1200px; }
  main.collectionBook .collectionBook_area .swiper_btn_next, main.collectionBook .collectionBook_area .swiper_btn_prev { width: 40px; height: 40px; padding: 18px; }
  main.collectionBook .collectionBook_area .swiper_btn_next::after, main.collectionBook .collectionBook_area .swiper_btn_prev::after { font-size: 30px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left { margin: 40px auto 0; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress { width: 150px; height: 150px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .articleImg { width: 150px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_right { margin: 40px auto 0; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_right .collectionBook_top_right_content { display: flex; align-items: center; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_right .collectionBook_top_right_content .collectionBook_top_right_item { width: 45%; padding: 15px 0; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom { margin: 40px auto; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .tittle { padding: 15px 0; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .item_area { display: flex; flex-wrap: wrap; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom .collectionBook_top_bottom_left .item_area .item { width: 45%; margin: 0 2.5%; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_junction .junction_item { width: 25px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .tittle { padding: 15px 0; margin: 40px auto 20px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_bottom .table_content { margin: 0 auto 40px; }
  main.collectionBook .swiper_wrapper_pagination { margin: 80px auto 50px; }
  main.collectionBook .swiper_wrapper_pagination .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet { padding: 10px 15px; } }

@media screen and (min-width: 992px) { main.collectionBook h1 { font-size: 35px; }
  main.collectionBook h3 { font-size: 29px; }
  main.collectionBook h4 { font-size: 23px; }
  main.collectionBook h5 { font-size: 19px; }
  main.collectionBook p, main.collectionBook td, main.collectionBook li { font-size: 17px; }
  main.collectionBook span, main.collectionBook th, main.collectionBook td, main.collectionBook .form-control { font-size: 17px; }
  main.collectionBook a { font-size: 17px; }
  main.collectionBook input, main.collectionBook label { font-size: 17px; }
  main.collectionBook .page-banner.collectionBook { background-position: center center; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_bottom { display: flex; align-items: flex-end; } }

@media screen and (min-width: 1024px) { main.collectionBook .page-banner.collectionBook { background-image: url(../images/collectionBook/collectionBook_kv.png); background-position: left center; }
  main.collectionBook .collectionBook_area .swiper_btn_prev { transform: translate(calc(-100% - 5px), 0); }
  main.collectionBook .collectionBook_area .swiper_btn_next { transform: translate(calc(100% + 5px), 0); }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left { width: 35%; margin: 0; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress { width: 180px; height: 180px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .completeness_progress .completeness_progress_value p.value_two { font-size: 30px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .articleImg { width: 180px; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .collectionBook_top_right .collectionBook_top_right_content .collectionBook_top_right_item:nth-child(1) { width: 40%; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .collectionBook_top_right .collectionBook_top_right_content .collectionBook_top_right_item:nth-child(2) { width: 55%; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_left .collectionBook_top_bottom { margin: 30px auto; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_top .collectionBook_top_right { width: 60%; }
  main.collectionBook .collectionBook_area .collectionBook_content .collectionBook_junction .junction_item { width: 40px; height: 60px; border: 8px solid #d4f0ff; }
  main.collectionBook .downloadPDF_area { right: 15px; }
  main.collectionBook .downloadPDF_area .download_icon { width: calc(30px * 1.7 + 10px); }
  main.collectionBook .downloadPDF_area .download_icon i { font-size: 30px; } }

@media screen and (min-width: 1024px) and (min-width: 1200px) { main.collectionBook p { font-size: 19px; }
  main.collectionBook span, main.collectionBook th, main.collectionBook td, main.collectionBook .form-control { font-size: 19px; }
  main.collectionBook a { font-size: 19px; }
  main.collectionBook input, main.collectionBook label { font-size: 19px; } }

@media screen and (min-width: 1024px) and (min-width: 1400px) { main.collectionBook h1 { font-size: 40px; }
  main.collectionBook h3 { font-size: 33px; }
  main.collectionBook h4 { font-size: 27px; }
  main.collectionBook h5 { font-size: 22px; }
  main.collectionBook p, main.collectionBook td, main.collectionBook li { font-size: 20px; }
  main.collectionBook span, main.collectionBook th, main.collectionBook td, main.collectionBook .form-control { font-size: 20px; }
  main.collectionBook a { font-size: 20px; }
  main.collectionBook input, main.collectionBook label { font-size: 20px; }
  main.collectionBook .page-banner.collectionBook { background-image: url(../images/collectionBook/collectionBook_kv.png); background-position: left center; }
  main.collectionBook .page-banner.collectionBook h1 { text-align: right; }
  main.collectionBook .collectionBook_area .swiper_btn_next, main.collectionBook .collectionBook_area .swiper_btn_prev { width: 50px; height: 50px; padding: 20px; }
  main.collectionBook .collectionBook_area .swiper_btn_next::after, main.collectionBook .collectionBook_area .swiper_btn_prev::after { font-size: 35px; }
  main.collectionBook .collectionBook_area .swiper_btn_prev { transform: translate(calc(-100% - 15px), 0); }
  main.collectionBook .collectionBook_area .swiper_btn_next { transform: translate(calc(100% + 15px), 0); } }
