@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;500;700&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body { font-family: 'Lexend', 'Noto Sans SC', 'Noto Sans TC'; }

/*main*/
/*transparency*/
/*other*/
/*grade*/
.about_content_colorBlue { color: #FF6000 !important; }

.about_content_colorGreen { color: #58391C !important; }

.about_border_colorBlue { border-color: #FF6000 !important; }

.about_border_colorGreen { border-color: #58391C !important; }

main .input_area .form-control:focus, main .test_area .test_topic_area { box-shadow: 5px 5px 10px 3px #FF600025; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; list-style: none; }

h1 { font-size: 35px; line-height: 1.7; font-weight: bold; }

h3 { font-size: 28px; line-height: 1.7; font-weight: bold; }

h4 { font-size: 22px; line-height: 1.5; font-weight: bold; }

p, i { font-size: 16px; line-height: 1.7; }

span, th, td, .form-control { font-size: 16px; text-decoration: none; line-height: 1.7; }

a { font-size: 16px; text-decoration: none; line-height: 1.7; }

ruby { letter-spacing: 1.8px; line-height: 3; }

rt { transform: translateY(-35%); }

input, label { font-size: 16px; line-height: 1.7; }

input[type=file]::file-selector-button { display: none; }

img { width: 100%; }

button, .btn { font-size: 16px; line-height: 1.7; padding: 0; border-width: 0px; border-style: none; background-color: transparent; border-radius: 10px; cursor: pointer; }

button:disabled { background-color: grey !important; border: 1px solid grey !important; opacity: 0.5; cursor: auto !important; }

button:disabled a { color: #fff !important; cursor: auto; }

*, body { letter-spacing: 1.5px; box-sizing: border-box; }

body { background-color: #FFF6EB; }

.cursor { cursor: pointer; }

.icon::before { display: none; }

.icon-solid::before { font: var(--fa-font-solid); }

.icon-regular::before { font: var(--fa-font-regular); }

.icon-light::before { font: var(--fa-font-light); }

.icon-duotone::before { font: var(--fa-font-duotone); }

.icon-brands::before { font: var(--fa-font-brands); }

::selection { background: #FF6000; color: #fff; }

@media screen and (min-width: 768px) { h1 { font-size: 38px; }
  h3 { font-size: 35px; }
  h4 { font-size: 24px; }
  p, i { font-size: 20px; }
  span, th, td, .form-control { font-size: 20px; }
  a { font-size: 20px; }
  input, label { font-size: 20px; }
  button, .btn { font-size: 20px; } }

.modal .modal-dialog { margin: 0.5rem 10%; }

.modal .modal-dialog .modal-content { border: 1px solid #58391C; background-color: #FFF6EB; box-shadow: 0px 5px 30px rgba(255, 96, 0, 0.3); }

.modal .modal-dialog .modal-content .modal-body { padding: 20px 30px 40px; }

.modal .modal-dialog .modal-content .modal-body .btn-close:focus { box-shadow: none; }

.modal .modal-dialog .modal-content .modal-body .modal_text { margin: 40px auto; }

.modal .modal-dialog .modal-content .modal-body .btn-primary { background-color: #58391C; padding: 5px 25px; transition: all 150ms ease-in-out; }

.modal .modal-dialog .modal-content .modal-body .btn-primary:focus { box-shadow: 0 0 10px 0 #58391C inset, 0 0 10px 4px #58391C; }

@media screen and (min-width: 576px) { .modal .modal-dialog { margin: 0.5rem auto; } }

body { background-position: 50% 50%; background-size: 20px 20px; background-color: #FFF6EB; background-image: linear-gradient(90deg, #FFE7D3, 1px, transparent 0), linear-gradient(#FFE7D3, 1px, transparent 0); }

main .input_area { margin: 30px auto; display: flex; flex-direction: column; position: relative; }

main .input_area input:read-only { border: 0px solid #58391C !important; background-color: transparent; cursor: auto; }

main .input_area input:read-only:focus { border: 0px solid #58391C !important; color: #58391C; box-shadow: none; }

main .input_area input:read-only:focus::placeholder { color: transparent; }

main .input_area .form-control { border-radius: 5px !important; margin-left: 0px !important; padding: 10px 15px; border: 1px solid #58391C !important; color: #58391C; width: 100%; position: relative; }

main .input_area .form-control.form-control-gender { display: flex; }

main .input_area .form-control.form-control-gender .radio-item { margin: 0 20px 0 0; }

main .input_area .form-control.form-control-gender .radio-item label { display: flex; align-items: center; color: #58391C; font-weight: normal; position: relative; cursor: pointer; }

main .input_area .form-control.form-control-gender .radio-item label:before { content: " "; display: inline-block; top: 0; margin: 0 8px 0 0; width: 16px; height: 16px; border-radius: 50%; position: relative; border: 2px solid #58391C; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"] { display: none; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"]:checked + label { color: #FF6000; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"]:checked + label:before { border: 2px solid #FF6000; background: radial-gradient(#FF6000 0%, #FF6000 40%, transparent 50%, transparent); }

main .input_area .form-control.form-control-birthday i { position: absolute; right: 15px; top: 50%; transform: translate(0, -50%); color: #58391C; }

main .input_area .form-control.form-control-birthday .birthday_input { color: #58391C; width: 100%; outline: 0; background-color: transparent !important; position: relative; z-index: 1; }

main .input_area .form-control.form-control-birthday .birthday_input::-webkit-date-and-time-value { text-align: left; }

main .input_area .form-control.form-control-birthday .birthday_input:valid { border: 0; }

main .input_area .form-control.form-control-birthday .birthday_input:required:invalid::-webkit-datetime-edit { color: transparent; }

main .input_area .form-control.form-control-birthday .birthday_input::-webkit-calendar-picker-indicator { position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%; cursor: pointer; }

main .input_area .form-control.form-control-birthday .birthday_input:focus ~ i { color: #FF6000; }

main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-text, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-day-field, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-month-field, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-year-field { background-color: #FF6000; color: #fff; border: 0px; }

main .input_area .form-control::placeholder { color: #58391C; }

main .input_area .form-control:focus { position: relative; z-index: 3; outline: none; border: 1px solid #FF6000 !important; border-radius: 5px; color: #FF6000; }

main .input_area .form-control:focus::placeholder { color: transparent; }

main .input_area .form-control:placeholder-shown + .input-group-text i { display: block; }

main .input_area .input-group-text { border: 0px; padding: 10px 15px; position: absolute; z-index: 1; left: 0; top: 50%; transform: translate(0, -50%); background-color: transparent; }

main .input_area .input-group-text i { color: #58391C; display: none; }

main .input_area .input-group-text.icon_eye { z-index: 4; right: 0; left: auto; cursor: pointer; }

main .input_area .input-group-text.icon_eye i { display: block; }

main .input_area .password_input { position: relative; width: 100%; }

main .input_area .password_input .form-control { width: 100%; padding: 10px 100px 10px 15px; }

main .input_area .password_input .form-control:focus ~ .icon_eye i { color: #FF6000; }

main .input_area .select-wrap { width: 80%; position: relative; margin-left: 0 !important; }

main .input_area .select-wrap .form-select { -webkit-appearance: none; color: #58391C; padding: 10px 40px 10px 12px; border: 1px solid #58391C; border-radius: 5px !important; line-height: 1.7; background-color: #fff; background-image: none; cursor: pointer; }

main .input_area .select-wrap .form-select option { color: #58391C; padding: 5px 10px; }

main .input_area .select-wrap .form-select option:hover { background: #ff904d !important; }

main .input_area .select-wrap .form-select option:checked { box-shadow: 0 0 0px 100px #FF6000 inset; }

main .input_area .select-wrap .form-select:focus { outline: none; border-color: #FF6000; border-radius: 5px; }

main .input_area .select-wrap .form-select:required, main .input_area .select-wrap .form-select:invalid { color: #58391C; }

main .input_area .select-wrap .form-select:disabled { border: 1px solid #ADADAD !important; cursor: auto; color: #ADADAD; }

main .input_area .select-wrap .form-select:disabled ~ .select_icon i { color: #ADADAD; }

main .input_area .select-wrap .select_icon { position: absolute; right: 12px; top: 10px; transform: translate(0, 0%); z-index: 11; pointer-events: none; user-select: none; transition: 0.3s; color: #58391C; }

main .input_area .select-wrap:has(.form-select:focus) { z-index: 12; }

main .input_area .select-wrap:focus-within .form-select { border-radius: 50%; position: relative; right: 0; width: 100%; z-index: 10; overflow: scroll; overflow-x: hidden; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar-track { border-radius: 5px; background: transparent; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar { background: transparent; width: 5px; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar-thumb { border: none; box-shadow: none; background: #FF6000; min-height: 8px; border-radius: 5px; }

main .input_area .select-wrap:focus-within .form-select option { color: #58391C; padding: 5px 10px; }

main .input_area .select-wrap:focus-within .form-select option:disabled { display: none; }

main .input_area .select-wrap:focus-within .select_icon { transform: rotate(180deg); }

main .input_area .schoolName-select-wrap { display: block; width: 100%; }

main .input_area .schoolName-select-wrap .select-wrap { display: inline-block; width: 100%; margin: 0 0 15px; vertical-align: text-top; }

main .input_area .schoolName-select-wrap .select-wrap .form-control { width: 100%; }

main .button { display: block; padding: 8px 10px; width: 100%; max-width: 500px; border-radius: 50px; border: 1px solid #FF6000; margin: 80px auto 30px; }

main .button.solid_color { background-color: #FF6000; color: #fff; }

main .button.solid_color:hover { transform: scale(1.05); background-color: #e65600; }

main .button.line_color { color: #FF6000; }

main .button.line_color:hover { color: #fff; background-color: #FF6000; }

main .button.button_register { margin: 0px auto; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus { border: 1px solid #58391C; -webkit-text-fill-color: #58391C; -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; }

@media screen and (min-width: 768px) { main .input_area .form-control.form-control-gender { border: 1px solid transparent !important; background-color: transparent; }
  main .input_area .form-control.form-control-gender .radio-item { margin: 0 40px 0 0; }
  main .input_area .form-control.form-control-gender .radio-item label:before { margin: 0 10px 0 0; }
  main .input_area .password_input { width: 80%; }
  main .input_area .select-wrap:focus-within .form-select { position: absolute; }
  main .input_area .select-wrap:focus-within .select_icon { transform: rotate(180deg); }
  main .input_area .schoolName-select-wrap { width: 80%; }
  main .input_area .schoolName-select-wrap .select-wrap { width: 47.5%; }
  main .input_area .schoolName-select-wrap .select-wrap:nth-child(1) { margin: 0 2.5% 15px 0; } }

footer .bottom_menu { background-color: #FFF6EB; border-top: 1px solid #58391C; width: 100%; display: flex; justify-content: space-around; padding: 20px 0px 40px; position: fixed; z-index: 10; bottom: 0; left: 50%; transform: translate(-50%, 0px); }

footer .bottom_menu .bottom_menu_item a { display: flex; margin: 10px 20px; }

footer .bottom_menu .bottom_menu_item a .bottom_menu_item_icon { margin: 0 5px 0 0; }

footer .bottom_menu .bottom_menu_item a .bottom_menu_item_icon i { color: #58391C; }

footer .bottom_menu .bottom_menu_item a .bottom_menu_item_text p { color: #58391C; }

footer .bottom_menu .bottom_menu_item a:hover .bottom_menu_item_icon i { color: #FF6000; }

footer .bottom_menu .bottom_menu_item a:hover .bottom_menu_item_text p { color: #FF6000; }

@media screen and (min-width: 768px) { footer .bottom_menu { padding: 20px 20px 60px; } }

@media screen and (min-width: 1025px) { footer .bottom_menu { padding: 20px 20px; } }

main .login_area { padding: 100px 0 40px; max-width: 500px; margin: 0 auto; width: 80%; }

main .login_area .login_title { color: #FF6000; }

main .login_area .login_title h3 { text-align: center; }

main .login_area .input_area .form-control { padding: 10px 100px 10px 15px; width: 100%; }

main .login_area .input_area .form-control::-webkit-input-placeholder { position: relative; left: calc(19px + 15px); }

main .login_area .input_area .password_input { width: 100%; }

main .top_tittle { width: 90%; max-width: 1000px; margin: 60px auto 0px; display: flex; justify-content: center; background-color: #FF6000; border: 1px solid #FF6000; border-radius: 10px 10px 0 0; padding: 5px 20px; }

main .top_tittle h3 { color: #fff; }

main .test_area { background-color: #F3F3F3; border: 1px solid #FF6000; border-radius: 0 0 10px 10px; padding: 40px 5%; width: 90%; margin: 0px auto 170px; max-width: 1000px; }

main .test_area .test_area_avatar .test_area_avatar_img { width: 80%; max-width: 80px; margin: 0 auto; padding: 10px; border: 1px solid #FF6000; border-radius: 50%; background-color: #fff; overflow: hidden; }

main .test_area .test_area_avatar .prompt_text { display: flex; align-items: center; justify-content: center; padding: 10px; position: relative; background-color: #fff; border-radius: 10px; margin: 30px 0 0; border: 1.5px solid #FF6000; }

main .test_area .test_area_avatar .prompt_text::before { content: ""; position: absolute; border-width: 0px 8px 8px 8px; top: -8px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #fff; z-index: 1; }

main .test_area .test_area_avatar .prompt_text::after { content: ""; position: absolute; border-width: 0px 9.5px 9.5px 9.5px; top: -9.5px; border-left: 9.5px solid transparent; border-right: 9.5px solid transparent; border-bottom: 9.5px solid #FF6000; }

main .test_area .test_area_avatar .prompt_text h4 { color: #58391C; }

main .test_area .test_topic_area { margin: 40px auto; padding: 40px 20px; background-color: #fff; border: 1.5px solid #58391C; border-radius: 10px; }

main .test_area .test_topic_area .test_topic_text { display: flex; justify-content: center; }

main .test_area .test_topic_area .test_topic_text h3 { color: #58391C; }

main .test_area .test_progress { display: flex; align-items: center; justify-content: space-around; }

main .test_area .test_progress .bg_line { width: calc(100% - 100px); height: 12px; background: #fff; border-radius: 10px; border: 1px solid #FF6000; }

main .test_area .test_progress .bg_line .line { background-color: #FF6000; height: 10px; border-radius: 10px; }

main .test_area .test_progress p { color: #58391C; }

main .test_area .sound_bar_area { width: 60px; height: 60px; display: flex; align-items: center; margin: 45px auto; }

main .test_area .sound_bar_area.play_animation .bar { animation: sound 0ms -800ms linear infinite alternate; }

main .test_area .sound_bar_area .bar { background-color: #FF6000; height: 0px; width: 3px; margin: 0px 1px; }

main .test_area .sound_bar_area .bar:nth-child(1) { animation-duration: 474ms; }

main .test_area .sound_bar_area .bar:nth-child(2) { animation-duration: 433ms; }

main .test_area .sound_bar_area .bar:nth-child(3) { animation-duration: 407ms; }

main .test_area .sound_bar_area .bar:nth-child(4) { animation-duration: 458ms; }

main .test_area .sound_bar_area .bar:nth-child(5) { animation-duration: 400ms; }

main .test_area .sound_bar_area .bar:nth-child(6) { animation-duration: 427ms; }

main .test_area .sound_bar_area .bar:nth-child(7) { animation-duration: 441ms; }

main .test_area .sound_bar_area .bar:nth-child(8) { animation-duration: 419ms; }

main .test_area .sound_bar_area .bar:nth-child(9) { animation-duration: 487ms; }

main .test_area .sound_bar_area .bar:nth-child(10) { animation-duration: 442ms; }

main .test_area .function_btn_area { display: flex; justify-content: space-between; }

main .test_area .function_btn_area .function_btn_item { width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; border-radius: 50%; }

main .test_area .function_btn_area .function_btn_item i { font-size: 20px; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_circle_exclamation { background-color: #FFD1BC; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_circle_exclamation i { color: #EE5007; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_microphone { background-color: #3E215D; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_microphone i { color: #fff; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_play { background-color: #FFB800; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_play i { color: #fff; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_circle_check { background-color: #FFD7A9; }

main .test_area .function_btn_area .function_btn_item.function_btn_item_circle_check i { color: #5E3200; }

main .test_area .function_btn_area .function_btn_item:disabled { background-color: #ADADAD; }

main .test_area .function_btn_area .function_btn_item:disabled i { color: #fff; }

main .test_area .function_btn_area .function_btn_item:disabled ~ p { color: #ADADAD !important; }

main .test_area .function_btn_area .main_function_btn_area { display: flex; }

main .test_area .function_btn_area .main_function_btn_area .main_function_btn_item_area { margin: 0 10px; }

main .test_area .function_btn_area .main_function_btn_area .main_function_btn_item_area p { text-align: center; margin: 5px 0; color: #58391C; }

@keyframes sound { 0% { opacity: .55;
    height: 3px; }
  100% { opacity: 1;
    height: 40px; } }

@media screen and (min-width: 768px) { main .test_area { margin: 0px auto 195px; }
  main .test_area .test_topic_area { margin: 60px auto; }
  main .test_area .sound_bar_area { margin: 60px auto; }
  main .test_area .function_btn_area .function_btn_item { width: 50px; height: 50px; }
  main .test_area .function_btn_area .function_btn_item i { font-size: 25px; }
  @keyframes sound { 0% { opacity: .55;
      height: 3px; }
    100% { opacity: 1;
      height: 60px; } } }

main .test_area .test_badge_area { position: relative; display: flex; align-items: center; justify-content: center; width: 200px; margin: 30px auto; }

main .test_area .test_badge_area .badge_inner_layer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; }

main .test_area .test_badge_area .badge_inner_layer .badge_score { position: absolute; z-index: 1; left: 50%; top: 50%; transform: translate(-50%, -50%); }

main .test_area .test_badge_area .badge_inner_layer .badge_score p { font-size: 60px; font-weight: bold; color: #58391C; }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item { width: 150px; height: 150px; border-radius: 5px; text-align: center; background-color: #f8ebbb; padding: 10px; }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(2), main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(3) { position: absolute; top: 0; }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(2) { transform: rotate(30deg); -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(3) { transform: rotate(60deg); -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); }

main .test_area .test_badge_area .badge_outer_layer { position: relative; }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item { width: 170px; height: 170px; border-radius: 5px; text-align: center; background-color: #FF6000; padding: 10px; }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(2), main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(3) { position: absolute; top: 0; }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(2) { transform: rotate(30deg); -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(3) { transform: rotate(60deg); -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); }

main .test_area .test_badge_area .ribbon_area { min-width: 240px; position: absolute; bottom: 0; z-index: 1; }

main .test_area .test_badge_area .ribbon_area .ribbon_text { font-size: 18px; text-align: center; font-weight: bold; background-color: #ff904d; color: #58391C; padding: 5px 10px; }

main .test_area .test_badge_area .ribbon_area .ribbon_text .label { font-size: 18px; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides { border: 18px solid #ff904d; position: absolute; bottom: 0; z-index: -1; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides::before { content: ""; border-color: #cc4d00 transparent transparent transparent; position: absolute; border-style: solid; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left { border-left: 18px solid #F3F3F3; left: 0; transform: translate(-50%, 50%); }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left::before { left: 0; border-width: 18px 0 0 18px; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right { border-right: 18px solid #F3F3F3; right: 0; transform: translate(50%, 50%); }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right::before { right: 0%; border-width: 18px 18px 0 0; }

main .test_area .total_questions { margin: 80px 0 0px; display: flex; justify-content: center; flex-wrap: wrap; }

main .test_area .total_questions h4 { color: #58391C; margin: 2px 5px; text-align: center; }

main .test_area .literacy_diagnosis_area { margin: 40px auto; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_title { display: flex; justify-content: center; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_title h4 { display: inline-block; text-align: center; background-color: #58391C; color: #fff; border-radius: 50px; padding: 5px 20px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_text { margin: 20px auto; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_text p { color: #58391C; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item { display: flex; align-items: center; justify-content: space-between; padding: 15px 0; border-top: 1px dotted #58391C; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item:nth-child(1) { border-top: 0px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade { background-color: #FF6000; padding: 5px 10px; border-radius: 5px; text-align: center; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade p { color: #fff; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade p i { transition: 0.3s; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.first_grade_label { background-color: #ff7001; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.second_grade_label { background-color: #c35500; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.third_grade_label { background-color: #d74803; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.fourth_grade_label { background-color: #7b2a00; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.fifth_grade_label { background-color: #371401; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.sixth_grade_label { background-color: #1a0101; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.report_grade_label { width: 90px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.first_grade_label { background-color: #ff8120; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.second_grade_label { background-color: #e26200; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.third_grade_label { background-color: #f55203; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.fourth_grade_label { background-color: #9a3400; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.fifth_grade_label { background-color: #551f01; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.sixth_grade_label { background-color: #380202; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress { width: calc(100% - 170px); }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress .bg_line { width: 100%; height: 12px; background-color: #fff; border-radius: 10px; border: 1px solid #FF6000; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress .bg_line .line { background-color: #FF6000; height: 10px; border-radius: 10px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.first_grade_progress .bg_line { border: 1px solid #ff8120; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.first_grade_progress .bg_line .line { background-color: #ff8120; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.second_grade_progress .bg_line { border: 1px solid #e26200; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.second_grade_progress .bg_line .line { background-color: #e26200; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.third_grade_progress .bg_line { border: 1px solid #f55203; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.third_grade_progress .bg_line .line { background-color: #f55203; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fourth_grade_progress .bg_line { border: 1px solid #9a3400; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fourth_grade_progress .bg_line .line { background-color: #9a3400; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fifth_grade_progress .bg_line { border: 1px solid #551f01; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fifth_grade_progress .bg_line .line { background-color: #551f01; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.sixth_grade_progress .bg_line { border: 1px solid #380202; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.sixth_grade_progress .bg_line .line { background-color: #380202; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_percentage { min-width: 50px; text-align: right; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_percentage p { color: #58391C; }

main .test_area .literacy_diagnosis_area .recommended_area { margin: 60px auto; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary { flex-wrap: wrap; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .report_grade_btn { width: calc(100% - 105px); }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade { display: flex; flex-wrap: wrap; width: 100%; margin: 20px auto 0; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item { margin: 10px 10px 10px 0; border: 1px solid; border-color: #58391C; padding: 5px; border-radius: 5px; background-color: #fff; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text p { color: #58391C; font-weight: bold; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_english p { font-size: 25px; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_chinese p { font-size: 15px; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_first_grade .dictionary_text_item { border-color: #ff8120; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_first_grade .dictionary_text_item .dictionary_text p { color: #ff8120; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_second_grade .dictionary_text_item { border-color: #e26200; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_second_grade .dictionary_text_item .dictionary_text p { color: #e26200; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_third_grade .dictionary_text_item { border-color: #f55203; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_third_grade .dictionary_text_item .dictionary_text p { color: #f55203; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fourth_grade .dictionary_text_item { border-color: #9a3400; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fourth_grade .dictionary_text_item .dictionary_text p { color: #9a3400; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fifth_grade .dictionary_text_item { border-color: #551f01; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fifth_grade .dictionary_text_item .dictionary_text p { color: #551f01; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_sixth_grade .dictionary_text_item { border-color: #380202; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_sixth_grade .dictionary_text_item .dictionary_text p { color: #380202; }

main .test_area .quiz_answer_area .quiz_answer_title { display: flex; justify-content: center; margin: 60px auto 10px; padding: 0 0 20px; border-bottom: 1px solid #58391C; }

main .test_area .quiz_answer_area .quiz_answer_title h4 { display: inline-block; text-align: center; background-color: #58391C; color: #fff; border-radius: 50px; padding: 5px 20px; }

main .test_area .quiz_answer_area .answer_display_area { margin: 20px auto; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item { display: flex; flex-wrap: wrap; margin: 10px auto; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.correct_answer_area .correct_answer_item { background-color: #FFD7A9; border: 1px solid #5E3200; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.correct_answer_area .correct_answer_item .answer_item_text { color: #5E3200; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.wrong_answer_area { padding: 10px 0; border-top: 1px dotted #58391C; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.wrong_answer_area .wrong_answer_item { background-color: #FFD1BC; border: 1px solid #EE5007; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.wrong_answer_area .wrong_answer_item .answer_item_text { color: #EE5007; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item { position: relative; padding: 5px 10px; margin: 10px 10px 10px 0; border-radius: 5px; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text { font-weight: bold; color: #EE5007; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_english p { font-size: 25px; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_chinese { max-width: calc(100% - 20px); }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_chinese p { font-size: 15px; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_icon { position: absolute; right: 5px; bottom: 5px; line-height: 1; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_icon.correct_answer_icon i { color: #5E3200; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_icon.wrong_answer_icon i { color: #EE5007; }

@media screen and (min-width: 768px) { main .test_area .test_badge_area { width: 380px; margin: 60px auto; }
  main .test_area .test_badge_area .badge_inner_layer .badge_score p { font-size: 125px; }
  main .test_area .test_badge_area .badge_inner_layer .badge_inner_item { width: 240px; height: 240px; }
  main .test_area .test_badge_area .badge_outer_layer .badge_outer_item { width: 280px; height: 280px; }
  main .test_area .test_badge_area .ribbon_area { min-width: 380px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_text { font-size: 30px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_text label { font-size: 30px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides { border: 30px solid #ff904d; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left { border-left: 30px solid #F3F3F3; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left::before { border-width: 30px 0 0 30px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right { border-right: 30px solid #F3F3F3; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right::before { border-width: 30px 30px 0 0; }
  main .test_area .total_questions { margin: 100px 0 30px; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_text { margin: 40px auto 20px; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item { padding: 25px 0; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.report_grade_label { width: 120px; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress { width: calc(100% - 200px); }
  main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .report_grade_btn { width: calc(100% - 135px); }
  main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_english p { font-size: 30px; }
  main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_chinese p { font-size: 20px; }
  main .test_area .quiz_answer_area .answer_display_area { margin: 25px auto; }
  main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item { margin: 20px auto; }
  main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_english p { font-size: 30px; }
  main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_chinese p { font-size: 20px; } }

main .input_area { display: flex; align-items: flex-start; }

main .input_area .input-group-label { padding: 10px 15px; color: #58391C; width: 100%; border: 1px solid transparent; }

main .input_area .input_date_icon { position: absolute; right: 15px; top: 10px; z-index: 1; pointer-events: none; user-select: none; color: #58391C; }

@media screen and (min-width: 768px) { main .input_area { flex-direction: row; }
  main .input_area .input-group-label { width: 20%; }
  main .input_area .form-control { width: 80%; } }

main .test_area .instructions { display: flex; justify-content: center; margin: 0px auto 20px; }

main .test_area .instructions p { color: #58391C; }

main .test_area .score_report_area .score_report_header { display: flex; justify-content: flex-end; padding: 15px 0; background-color: #FF6000; border: 1px solid #58391C; border-bottom: 0; }

main .test_area .score_report_area .score_report_header .score_report_header_text { color: #fff; text-align: center; }

main .test_area .score_report_area .score_report_body { border: 1px solid #58391C; border-top: 0; background-color: #fff; }

main .test_area .score_report_area .score_report_body .score_report_item { position: relative; display: flex; align-items: center; border-top: 1px solid #58391C; cursor: pointer; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content { padding: 15px 8px; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon { width: 37.5px; text-align: center; border: 0px; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon .fa-circle-check { color: #ADADAD; font-size: 20px; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text { text-align: center; color: #58391C; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text.score_report_item_name p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text.score_report_item_time { display: flex; flex-wrap: wrap; justify-content: center; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text.score_report_item_time .text_date { margin: 0 10px 0 0; }

main .test_area .score_report_area .score_report_body .score_report_item.check_item { background-color: #FF600030; }

main .test_area .score_report_area .score_report_body .score_report_item.check_item .score_report_item_content.score_report_item_icon .fa-circle-check { color: #FF6000; }

main .test_area .score_report_area .score_report_body .score_report_item.check_item .score_report_item_content.score_report_item_text { color: #FF6000; }

main .test_area .score_report_area .score_report_body .score_report_item::before, main .test_area .score_report_area .score_report_body .score_report_item::after { content: ""; position: absolute; width: 1px; height: 100%; background-color: #58391C; bottom: 0; }

main .test_area .score_report_area .score_report_body .score_report_item::before { left: 37.5px; }

main .test_area .score_report_area .score_report_body .score_report_item::after { left: calc(45% + 15px); }

main .test_area .score_report_area .score_report_body .score_report_item:nth-child(1) { border-top: 0px; }

main .test_area .score_report_area .score_report_header_name, main .test_area .score_report_area .score_report_item_name { width: calc(45% - 15px); }

main .test_area .score_report_area .score_report_header_time, main .test_area .score_report_area .score_report_item_time { width: calc(55% - 15px); }

@media screen and (min-width: 576px) { main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content { padding: 15px 10px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon { width: 50px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon .fa-circle-check { font-size: 25px; }
  main .test_area .score_report_area .score_report_body .score_report_item::before { left: 50px; }
  main .test_area .score_report_area .score_report_body .score_report_item::after { left: calc(45% + 25px); }
  main .test_area .score_report_area .score_report_header_name, main .test_area .score_report_area .score_report_item_name { width: calc(45% - 25px); }
  main .test_area .score_report_area .score_report_header_time, main .test_area .score_report_area .score_report_item_time { width: calc(55% - 25px); } }

@media screen and (min-width: 768px) { main .test_area .instructions { margin: 0px auto 40px; }
  main .test_area .score_report_area .score_report_header { padding: 25px 0; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content { padding: 25px 15px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon { width: 66.5px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon .fa-circle-check { font-size: 35px; }
  main .test_area .score_report_area .score_report_body .score_report_item::before { left: 66.5px; }
  main .test_area .score_report_area .score_report_body .score_report_item::after { left: calc(45% + 33.25px); }
  main .test_area .score_report_area .score_report_header_name, main .test_area .score_report_area .score_report_item_name { width: calc(45% - 25px); }
  main .test_area .score_report_area .score_report_header_time, main .test_area .score_report_area .score_report_item_time { width: calc(55% - 25px); } }
