@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;500;700&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body { font-family: 'Lexend', 'Noto Sans SC', 'Noto Sans TC'; }

/*main*/
/*transparency*/
/*other*/
/*grade*/
.about_content_colorBlue { color: #5c8a39 !important; }

.about_content_colorGreen { color: #58391C !important; }

.about_border_colorBlue { border-color: #5c8a39 !important; }

.about_border_colorGreen { border-color: #58391C !important; }

main .input_area .form-control:focus { box-shadow: 5px 5px 10px 3px #5c8a3925; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; list-style: none; }

h1 { font-size: 35px; line-height: 1.7; font-weight: bold; }

h3 { font-size: 28px; line-height: 1.7; font-weight: bold; }

h4 { font-size: 22px; line-height: 1.5; font-weight: bold; }

p, i { font-size: 16px; line-height: 1.7; }

span, th, td, .form-control { font-size: 16px; text-decoration: none; line-height: 1.7; }

a { font-size: 16px; text-decoration: none; line-height: 1.7; }

ruby { letter-spacing: 1.8px; line-height: 3; }

rt { transform: translateY(-35%); }

input, label { font-size: 16px; line-height: 1.7; }

input[type=file]::file-selector-button { display: none; }

img { width: 100%; }

button, .btn { font-size: 16px; line-height: 1.7; padding: 0; border-width: 0px; border-style: none; background-color: transparent; border-radius: 10px; cursor: pointer; }

button:disabled { background-color: grey !important; border: 1px solid grey !important; opacity: 0.5; cursor: auto !important; }

button:disabled a { color: #fff !important; cursor: auto; }

*, body { letter-spacing: 1.5px; box-sizing: border-box; }

body { background-color: #f8f5c8; }

.cursor { cursor: pointer; }

::selection { background: #5c8a39; color: #fff; }

@media screen and (min-width: 768px) { h1 { font-size: 38px; }
  h3 { font-size: 35px; }
  h4 { font-size: 24px; }
  p, i { font-size: 20px; }
  span, th, td, .form-control { font-size: 20px; }
  a { font-size: 20px; }
  input, label { font-size: 20px; }
  button, .btn { font-size: 20px; } }

.modal .modal-dialog { margin: 0.5rem 10%; }

.modal .modal-dialog .modal-content { border: 1px solid #58391C; background-color: #f8f5c8; box-shadow: 0px 5px 30px rgba(92, 138, 57, 0.3); }

.modal .modal-dialog .modal-content .modal-body { padding: 20px 30px 40px; }

.modal .modal-dialog .modal-content .modal-body .btn-close:focus { box-shadow: none; }

.modal .modal-dialog .modal-content .modal-body .modal_text { margin: 40px auto; }

.modal .modal-dialog .modal-content .modal-body .btn-primary { background-color: #58391C; padding: 5px 25px; transition: all 150ms ease-in-out; }

.modal .modal-dialog .modal-content .modal-body .btn-primary:focus { box-shadow: 0 0 10px 0 #58391C inset, 0 0 10px 4px #58391C; }

@media screen and (min-width: 576px) { .modal .modal-dialog { margin: 0.5rem auto; } }

body { background-color: #f8f5c8; }

main .input_area { margin: 30px auto; display: flex; flex-direction: column; position: relative; }

main .input_area input:read-only { border: 0px solid #20221f !important; background-color: transparent; cursor: auto; }

main .input_area input:read-only:focus { border: 0px solid #20221f !important; color: #20221f; box-shadow: none; }

main .input_area input:read-only:focus::placeholder { color: transparent; }

main .input_area .form-control { border-radius: 5px !important; margin-left: 0px !important; padding: 10px 15px; border: 1px solid #20221f !important; color: #20221f; width: 100%; position: relative; }

main .input_area .form-control.form-control-gender { display: flex; }

main .input_area .form-control.form-control-gender .radio-item { margin: 0 20px 0 0; }

main .input_area .form-control.form-control-gender .radio-item label { display: flex; align-items: center; color: #20221f; font-weight: normal; position: relative; cursor: pointer; }

main .input_area .form-control.form-control-gender .radio-item label:before { content: " "; display: inline-block; top: 0; margin: 0 8px 0 0; width: 16px; height: 16px; border-radius: 50%; position: relative; border: 2px solid #20221f; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"] { display: none; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"]:checked + label { color: #5c8a39; }

main .input_area .form-control.form-control-gender .radio-item input[type="radio"]:checked + label:before { border: 2px solid #5c8a39; background: radial-gradient(#5c8a39 0%, #5c8a39 40%, transparent 50%, transparent); }

main .input_area .form-control.form-control-birthday i { position: absolute; right: 15px; top: 50%; transform: translate(0, -50%); color: #20221f; }

main .input_area .form-control.form-control-birthday .birthday_input { color: #20221f; width: 100%; outline: 0; background-color: transparent !important; position: relative; z-index: 1; }

main .input_area .form-control.form-control-birthday .birthday_input::-webkit-date-and-time-value { text-align: left; }

main .input_area .form-control.form-control-birthday .birthday_input:valid { border: 0; }

main .input_area .form-control.form-control-birthday .birthday_input:required:invalid::-webkit-datetime-edit { color: transparent; }

main .input_area .form-control.form-control-birthday .birthday_input::-webkit-calendar-picker-indicator { position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%; cursor: pointer; }

main .input_area .form-control.form-control-birthday .birthday_input:focus ~ i { color: #5c8a39; }

main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-text, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-day-field, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-month-field, main .input_area .form-control.form-control-birthday .birthday_input:focus::-webkit-datetime-edit-year-field { background-color: #5c8a39; color: #fff; border: 0px; }

main .input_area .form-control::placeholder { color: #20221f; }

main .input_area .form-control:focus { position: relative; z-index: 3; outline: none; border: 1px solid #5c8a39 !important; border-radius: 5px; color: #5c8a39; }

main .input_area .form-control:focus::placeholder { color: transparent; }

main .input_area .input-group-text { border: 0px; padding: 10px 15px; z-index: 1; left: 0; top: 50%; background-color: transparent; }

main .input_area .input-group-text i { color: #20221f; }

main .input_area .input-group-text.icon_eye { position: absolute; z-index: 4; right: 0; left: auto; cursor: pointer; transform: translate(0, -50%); }

main .input_area .password_input { position: relative; width: 100%; }

main .input_area .password_input .form-control { width: 100%; padding: 10px 100px 10px 15px; }

main .input_area .password_input .form-control:focus ~ .icon_eye i { color: #5c8a39; }

main .input_area .select-wrap { width: 80%; position: relative; margin-left: 0 !important; }

main .input_area .select-wrap .form-select { -webkit-appearance: none; color: #20221f; padding: 10px 40px 10px 12px; border: 1px solid #20221f; border-radius: 5px !important; line-height: 1.7; background-color: #fff; background-image: none; cursor: pointer; }

main .input_area .select-wrap .form-select option { color: #20221f; padding: 5px 10px; }

main .input_area .select-wrap .form-select option:hover { background: #81b956 !important; }

main .input_area .select-wrap .form-select option:checked { box-shadow: 0 0 0px 100px #5c8a39 inset; }

main .input_area .select-wrap .form-select:focus { outline: none; border-color: #5c8a39; border-radius: 5px; }

main .input_area .select-wrap .form-select:required, main .input_area .select-wrap .form-select:invalid { color: #20221f; }

main .input_area .select-wrap .form-select:disabled { border: 1px solid #ADADAD !important; cursor: auto; color: #ADADAD; }

main .input_area .select-wrap .form-select:disabled ~ .select_icon i { color: #ADADAD; }

main .input_area .select-wrap .select_icon { position: absolute; right: 12px; top: 10px; transform: translate(0, 0%); z-index: 11; pointer-events: none; user-select: none; transition: 0.3s; color: #20221f; }

main .input_area .select-wrap:has(.form-select:focus) { z-index: 12; }

main .input_area .select-wrap:focus-within .form-select { border-radius: 50%; position: relative; right: 0; width: 100%; z-index: 10; overflow: scroll; overflow-x: hidden; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar-track { border-radius: 5px; background: transparent; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar { background: transparent; width: 5px; }

main .input_area .select-wrap:focus-within .form-select::-webkit-scrollbar-thumb { border: none; box-shadow: none; background: #5c8a39; min-height: 8px; border-radius: 5px; }

main .input_area .select-wrap:focus-within .form-select option { color: #20221f; padding: 5px 10px; }

main .input_area .select-wrap:focus-within .form-select option:disabled { display: none; }

main .input_area .select-wrap:focus-within .select_icon { transform: rotate(180deg); }

main .input_area .schoolName-select-wrap { display: block; width: 100%; }

main .input_area .schoolName-select-wrap .select-wrap { display: inline-block; width: 100%; margin: 0 0 15px; vertical-align: text-top; }

main .input_area .schoolName-select-wrap .select-wrap .form-control { width: 100%; }

main .input_area.input-group-submit .button { display: block; padding: 8px 10px; width: 100%; max-width: 500px; border-radius: 50px; border: 1px solid #5c8a39; margin: 30px auto; cursor: pointer; }

main .input_area.input-group-submit .button.solid_color { background-color: #5c8a39; color: #fff; }

main .input_area.input-group-submit .button.solid_color:hover { transform: scale(1.05); background-color: #507832; }

main .button { display: block; padding: 8px 10px; width: 100%; max-width: 500px; border-radius: 50px; border: 1px solid #5c8a39; margin: 30px auto; }

main .button.solid_color { background-color: #5c8a39; color: #fff; }

main .button.solid_color:hover { transform: scale(1.05); background-color: #507832; }

main .button.line_color { color: #5c8a39; }

main .button.line_color:hover { color: #fff; background-color: #5c8a39; }

main .button.button_register { margin: 0px auto; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus { border: 1px solid #20221f; -webkit-text-fill-color: #20221f; -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; }

@media screen and (min-width: 768px) { main .input_area .form-control.form-control-gender { border: 1px solid transparent !important; background-color: transparent; }
  main .input_area .form-control.form-control-gender .radio-item { margin: 0 40px 0 0; }
  main .input_area .form-control.form-control-gender .radio-item label:before { margin: 0 10px 0 0; }
  main .input_area .password_input { width: 80%; }
  main .input_area .select-wrap:focus-within .form-select { position: absolute; }
  main .input_area .select-wrap:focus-within .select_icon { transform: rotate(180deg); }
  main .input_area .schoolName-select-wrap { width: 80%; }
  main .input_area .schoolName-select-wrap .select-wrap { width: 47.5%; }
  main .input_area .schoolName-select-wrap .select-wrap:nth-child(1) { margin: 0 2.5% 15px 0; } }

header .navbar { width: 90%; margin: 0 auto; padding: 20px 0; }

header .navbar .container-fluid { position: relative; padding: 0 !important; }

header .navbar .container-fluid .navbar-brand { width: 65px; padding: 0; margin: 0; }

header .navbar .container-fluid .navbar-toggler { position: absolute; cursor: pointer; right: 10px; top: 31px; transform: translate(0px, -50%); z-index: 5; }

header .navbar .container-fluid .navbar-toggler span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 30px; height: 3px; margin: 0px; background: #5c8a39; transition: 350ms ease all; z-index: 5; }

header .navbar .container-fluid .navbar-toggler span::before, header .navbar .container-fluid .navbar-toggler span::after { content: " "; position: absolute; width: 100%; height: 3px; background: #5c8a39; transition: 350ms ease all; }

header .navbar .container-fluid .navbar-toggler span::before { margin: -10px 0 0 0; }

header .navbar .container-fluid .navbar-toggler span::after { margin: 10px 0 0 0; }

header .navbar .container-fluid .navbar-toggler.open span { background-color: rgba(0, 0, 0, 0); }

header .navbar .container-fluid .navbar-toggler.open span::before { transform: rotate(45deg); margin: 0; }

header .navbar .container-fluid .navbar-toggler.open span::after { transform: rotate(-45deg); margin: 0; }

header .navbar .container-fluid .navbar-toggler .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; background-color: #5c8a39; }

header .navbar .container-fluid .navbar-toggler .icon-bar + .icon-bar { margin-top: 4px; }

header .navbar .container-fluid .navbar-toggler:hover .icon-bar { background-color: #fff; }

header .navbar .container-fluid .navbar-collapse { position: absolute; top: 100%; width: 100%; flex-grow: initial; margin: 20px 0; }

header .navbar .container-fluid .navbar-collapse .navbar-nav { background-color: #fff; box-shadow: 0 2px 6px #5c8a3940; border-radius: 20px; padding: 40px 30px; position: relative; z-index: 1; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link { padding: 30px 0 0; color: #5c8a39; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover { color: #385423; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle::after { display: none; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu { border: 0; border-radius: 20px; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item { padding: 10px 20px; border-radius: 20px; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover { color: #5c8a39; background-color: #5c8a3925; }

header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:nth-child(1) .nav-link { padding: 0; }

@media screen and (min-width: 768px) { header .navbar { padding: 40px 0 0; }
  header .navbar .container-fluid .navbar-brand { width: 100px; }
  header .navbar .container-fluid .navbar-toggler { display: none; }
  header .navbar .container-fluid .navbar-collapse { position: relative; width: auto; display: flex; align-items: center; flex-basis: auto; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav { flex-direction: row; border-radius: 50px; padding: 5px 40px; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link { padding: 10px 30px; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu { position: absolute; box-shadow: 0 2px 6px #5c8a3940; min-width: 100%; padding: 15px; margin-top: 0; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item { padding: 10px 30px; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:nth-child(1) .nav-link { padding: 10px 30px; } }

footer .bottom_menu { background-color: #f8f5c8; border-top: 1px solid #58391C; width: 100%; display: flex; justify-content: space-around; padding: 20px 0px 40px; }

footer .bottom_menu .bottom_menu_item a { display: flex; margin: 10px 20px; }

footer .bottom_menu .bottom_menu_item a .bottom_menu_item_icon { margin: 0 5px 0 0; }

footer .bottom_menu .bottom_menu_item a .bottom_menu_item_icon i { color: #58391C; }

footer .bottom_menu .bottom_menu_item a .bottom_menu_item_text p { color: #58391C; }

footer .bottom_menu .bottom_menu_item a:hover .bottom_menu_item_icon i { color: #5c8a39; }

footer .bottom_menu .bottom_menu_item a:hover .bottom_menu_item_text p { color: #5c8a39; }

@media screen and (min-width: 768px) { footer .bottom_menu { padding: 20px 20px 60px; } }

@media screen and (min-width: 1025px) { footer .bottom_menu { padding: 20px 20px; } }

main .login_area { max-width: 500px; margin: 60px auto; width: 80%; }

main .login_area .login_title { color: #5c8a39; margin: 30px auto 0; }

main .login_area .login_title h3 { text-align: center; }

main .login_area .input_area { flex-direction: row; align-items: center; justify-content: space-between; }

main .login_area .input_area .input-group-text.icon_password, main .login_area .input_area .input-group-text.icon_user { padding: 10px; background-color: #5c8a39; border-radius: 50%; cursor: pointer; }

main .login_area .input_area .input-group-text.icon_password i, main .login_area .input_area .input-group-text.icon_user i { color: #fff; }

main .login_area .input_area .form-control { padding: 10px 45px 10px 15px; width: calc(100% - 50px); }

main .login_area .input_area .password_input { width: 100%; }

main .login_area .save_password { display: flex; justify-content: flex-end; }

main .login_area .save_password .save_password_checkbox { position: absolute; opacity: 0; }

main .login_area .save_password .save_password_checkbox + label { color: #20221f; display: flex; align-items: center; position: relative; cursor: pointer; padding: 0; }

main .login_area .save_password .save_password_checkbox + label:before { content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 20px; height: 20px; background: #fff; border: 1px solid #20221f; }

main .login_area .save_password .save_password_checkbox:hover + label { color: #5c8a39; }

main .login_area .save_password .save_password_checkbox:hover + label:before { border: 1px solid #5c8a39; }

main .login_area .save_password .save_password_checkbox:checked + label:before { border: 1px solid #5c8a39; background-color: #5c8a39; }

main .login_area .save_password .save_password_checkbox:checked + label:after { font-family: 'FontAwesome', sans-serif; content: '\f00c'; position: absolute; color: #fff; width: 20px; font-size: 15px; text-align: center; }

main .login_area .register_btn { display: flex; justify-content: center; margin: 60px auto 0; }

main .login_area .register_btn a { color: #20221f; border-bottom: 0px solid transparent; }

main .login_area .register_btn a:hover { color: #5c8a39; border-bottom: 1px solid #5c8a39; }

main .test_area { margin: 40px auto; width: 80%; max-width: 1200px; }

main .test_area.select_page_area { max-width: 500px; }

main .test_area.select_page_area .select_page_img { margin: 0 auto 60px; max-width: 350px; }

main .test_area.select_page_area .select_page_btn .select_page_btn_item.select_page_btn_item_one { background-color: #6b8430; border: 1px solid #6b8430; }

main .test_area.select_page_area .select_page_btn .select_page_btn_item.select_page_btn_item_two { background-color: #4F772D; border: 1px solid #4F772D; }

main .test_area.select_page_area .select_page_btn .select_page_btn_item.select_page_btn_item_three { background-color: #31572C; border: 1px solid #31572C; }

main .test_area.select_page_area .select_page_btn .select_page_btn_item.select_page_btn_item_four { background-color: #132A13; border: 1px solid #132A13; }

main .test_area .test_badge_area { position: relative; display: flex; align-items: center; justify-content: center; width: 200px; margin: 30px auto; }

main .test_area .test_badge_area .badge_inner_layer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; }

main .test_area .test_badge_area .badge_inner_layer .badge_score { position: absolute; z-index: 1; left: 50%; top: 50%; transform: translate(-50%, -50%); }

main .test_area .test_badge_area .badge_inner_layer .badge_score p { font-size: 60px; font-weight: bold; color: #58391C; }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item { width: 150px; height: 150px; border-radius: 5px; text-align: center; background-color: #f8ebbb; padding: 10px; }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(2), main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(3) { position: absolute; top: 0; }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(2) { transform: rotate(30deg); -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); }

main .test_area .test_badge_area .badge_inner_layer .badge_inner_item:nth-child(3) { transform: rotate(60deg); -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); }

main .test_area .test_badge_area .badge_outer_layer { position: relative; }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item { width: 170px; height: 170px; border-radius: 5px; text-align: center; background-color: #5c8a39; padding: 10px; }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(2), main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(3) { position: absolute; top: 0; }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(2) { transform: rotate(30deg); -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); }

main .test_area .test_badge_area .badge_outer_layer .badge_outer_item:nth-child(3) { transform: rotate(60deg); -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); }

main .test_area .test_badge_area .ribbon_area { min-width: 240px; position: absolute; bottom: 0; z-index: 1; }

main .test_area .test_badge_area .ribbon_area .ribbon_text { font-size: 18px; text-align: center; font-weight: bold; background-color: #81b956; color: #58391C; padding: 5px 10px; }

main .test_area .test_badge_area .ribbon_area .ribbon_text .label { font-size: 18px; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides { border: 18px solid #81b956; position: absolute; bottom: 0; z-index: -1; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides::before { content: ""; border-color: #44662a transparent transparent transparent; position: absolute; border-style: solid; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left { border-left: 18px solid #F3F3F3; left: 0; transform: translate(-50%, 50%); }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left::before { left: 0; border-width: 18px 0 0 18px; }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right { border-right: 18px solid #F3F3F3; right: 0; transform: translate(50%, 50%); }

main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right::before { right: 0%; border-width: 18px 18px 0 0; }

main .test_area .total_questions { margin: 80px 0 0px; display: flex; justify-content: center; flex-wrap: wrap; }

main .test_area .total_questions h4 { color: #58391C; margin: 2px 5px; text-align: center; }

main .test_area .literacy_diagnosis_area { margin: 40px auto; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_title { display: flex; justify-content: center; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_title h4 { display: inline-block; text-align: center; background-color: #58391C; color: #fff; border-radius: 50px; padding: 5px 20px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_text { margin: 20px auto; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_text p { color: #58391C; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item { display: flex; align-items: center; justify-content: space-between; padding: 15px 0; border-top: 1px dotted #58391C; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item:nth-child(1) { border-top: 0px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade { background-color: #5c8a39; padding: 5px 10px; border-radius: 5px; text-align: center; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade p { color: #fff; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade p i { transition: 0.3s; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.first_grade_label { background-color: #ff7001; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.second_grade_label { background-color: #c35500; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.third_grade_label { background-color: #d74803; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.fourth_grade_label { background-color: #7b2a00; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.fifth_grade_label { background-color: #371401; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade:hover.report_grade_btn.sixth_grade_label { background-color: #1a0101; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.report_grade_label { width: 90px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.first_grade_label { background-color: #ff8120; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.second_grade_label { background-color: #e26200; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.third_grade_label { background-color: #f55203; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.fourth_grade_label { background-color: #9a3400; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.fifth_grade_label { background-color: #551f01; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.sixth_grade_label { background-color: #380202; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress { width: calc(100% - 170px); }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress .bg_line { width: 100%; height: 12px; background-color: #fff; border-radius: 10px; border: 1px solid #5c8a39; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress .bg_line .line { background-color: #5c8a39; height: 10px; border-radius: 10px; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.first_grade_progress .bg_line { border: 1px solid #ff8120; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.first_grade_progress .bg_line .line { background-color: #ff8120; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.second_grade_progress .bg_line { border: 1px solid #e26200; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.second_grade_progress .bg_line .line { background-color: #e26200; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.third_grade_progress .bg_line { border: 1px solid #f55203; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.third_grade_progress .bg_line .line { background-color: #f55203; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fourth_grade_progress .bg_line { border: 1px solid #9a3400; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fourth_grade_progress .bg_line .line { background-color: #9a3400; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fifth_grade_progress .bg_line { border: 1px solid #551f01; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.fifth_grade_progress .bg_line .line { background-color: #551f01; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.sixth_grade_progress .bg_line { border: 1px solid #380202; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress.sixth_grade_progress .bg_line .line { background-color: #380202; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_percentage { min-width: 50px; text-align: right; }

main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_percentage p { color: #58391C; }

main .test_area .literacy_diagnosis_area .recommended_area { margin: 60px auto; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary { flex-wrap: wrap; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .report_grade_btn { width: calc(100% - 105px); }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade { display: flex; flex-wrap: wrap; width: 100%; margin: 20px auto 0; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item { margin: 10px 10px 10px 0; border: 1px solid; border-color: #58391C; padding: 5px; border-radius: 5px; background-color: #fff; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text p { color: #58391C; font-weight: bold; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_english p { font-size: 25px; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_chinese p { font-size: 15px; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_first_grade .dictionary_text_item { border-color: #ff8120; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_first_grade .dictionary_text_item .dictionary_text p { color: #ff8120; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_second_grade .dictionary_text_item { border-color: #e26200; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_second_grade .dictionary_text_item .dictionary_text p { color: #e26200; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_third_grade .dictionary_text_item { border-color: #f55203; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_third_grade .dictionary_text_item .dictionary_text p { color: #f55203; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fourth_grade .dictionary_text_item { border-color: #9a3400; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fourth_grade .dictionary_text_item .dictionary_text p { color: #9a3400; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fifth_grade .dictionary_text_item { border-color: #551f01; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_fifth_grade .dictionary_text_item .dictionary_text p { color: #551f01; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_sixth_grade .dictionary_text_item { border-color: #380202; }

main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade.dictionary_sixth_grade .dictionary_text_item .dictionary_text p { color: #380202; }

main .test_area .quiz_answer_area .quiz_answer_title { display: flex; justify-content: center; margin: 60px auto 10px; padding: 0 0 20px; border-bottom: 1px solid #58391C; }

main .test_area .quiz_answer_area .quiz_answer_title h4 { display: inline-block; text-align: center; background-color: #58391C; color: #fff; border-radius: 50px; padding: 5px 20px; }

main .test_area .quiz_answer_area .answer_display_area { margin: 20px auto; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item { display: flex; flex-wrap: wrap; margin: 10px auto; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.correct_answer_area .correct_answer_item { background-color: #FFD7A9; border: 1px solid #5E3200; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.correct_answer_area .correct_answer_item .answer_item_text { color: #5E3200; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.wrong_answer_area { padding: 10px 0; border-top: 1px dotted #58391C; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.wrong_answer_area .wrong_answer_item { background-color: #FFD1BC; border: 1px solid #EE5007; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item.wrong_answer_area .wrong_answer_item .answer_item_text { color: #EE5007; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item { position: relative; padding: 5px 10px; margin: 10px 10px 10px 0; border-radius: 5px; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text { font-weight: bold; color: #EE5007; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_english p { font-size: 25px; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_chinese { max-width: calc(100% - 20px); }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_chinese p { font-size: 15px; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_icon { position: absolute; right: 5px; bottom: 5px; line-height: 1; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_icon.correct_answer_icon i { color: #5E3200; }

main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_icon.wrong_answer_icon i { color: #EE5007; }

@media screen and (min-width: 768px) { main .test_area .test_badge_area { width: 380px; margin: 60px auto; }
  main .test_area .test_badge_area .badge_inner_layer .badge_score p { font-size: 125px; }
  main .test_area .test_badge_area .badge_inner_layer .badge_inner_item { width: 240px; height: 240px; }
  main .test_area .test_badge_area .badge_outer_layer .badge_outer_item { width: 280px; height: 280px; }
  main .test_area .test_badge_area .ribbon_area { min-width: 380px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_text { font-size: 30px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_text label { font-size: 30px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides { border: 30px solid #81b956; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left { border-left: 30px solid #F3F3F3; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_left::before { border-width: 30px 0 0 30px; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right { border-right: 30px solid #F3F3F3; }
  main .test_area .test_badge_area .ribbon_area .ribbon_sides.ribbon_area_right::before { border-width: 30px 30px 0 0; }
  main .test_area .total_questions { margin: 100px 0 30px; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_text { margin: 40px auto 20px; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item { padding: 25px 0; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_grade.report_grade_label { width: 120px; }
  main .test_area .literacy_diagnosis_area .literacy_diagnosis_report .literacy_diagnosis_report_item .literacy_diagnosis_report_progress { width: calc(100% - 200px); }
  main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .report_grade_btn { width: calc(100% - 135px); }
  main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_english p { font-size: 30px; }
  main .test_area .literacy_diagnosis_area .recommended_area .recommended_report .recommended_report_dictionary .dictionary_grade .dictionary_text_item .dictionary_text.dictionary_text_chinese p { font-size: 20px; }
  main .test_area .quiz_answer_area .answer_display_area { margin: 25px auto; }
  main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item { margin: 20px auto; }
  main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_english p { font-size: 30px; }
  main .test_area .quiz_answer_area .answer_display_area .answer_display_area_item .answer_item_text.answer_item_chinese p { font-size: 20px; } }

main .test_area.literacy_area .literacy_item_area .literacy_tittle { display: flex; justify-content: center; color: #385423; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area { display: flex; align-items: flex-start; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .input-group-label { padding: 10px 15px 10px 0; color: #20221f; width: 100%; border: 1px solid transparent; }

main .test_area.literacy_area .literacy_item_area .information_area .input_area .input_date_icon { position: absolute; right: 15px; top: 10px; z-index: 1; pointer-events: none; user-select: none; color: #20221f; }

@media screen and (min-width: 768px) { main .test_area.literacy_area .literacy_item_area .information_area .input_area { flex-direction: row; }
  main .test_area.literacy_area .literacy_item_area .information_area .input_area .input-group-label { width: 20%; }
  main .test_area.literacy_area .literacy_item_area .information_area .input_area .form-control { width: 80%; } }

@media screen and (min-width: 992px) { main .test_area.literacy_area .literacy_item_area .information_area .input_area .input-group-label { padding: 10px 30px 10px 0; width: calc(20% - 30px); text-align: right; } }

main .test_area .instructions { display: flex; justify-content: center; margin: 0px auto 20px; }

main .test_area .instructions p { color: #58391C; }

main .test_area .score_report_area .score_report_header { display: flex; justify-content: flex-end; padding: 15px 0; background-color: #5c8a39; border: 1px solid #58391C; border-bottom: 0; }

main .test_area .score_report_area .score_report_header .score_report_header_text { color: #fff; text-align: center; }

main .test_area .score_report_area .score_report_body { border: 1px solid #58391C; border-top: 0; background-color: #fff; }

main .test_area .score_report_area .score_report_body .score_report_item { position: relative; display: flex; align-items: center; border-top: 1px solid #58391C; cursor: pointer; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content { padding: 15px 8px; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon { width: 37.5px; text-align: center; border: 0px; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon .fa-circle-check { color: #ADADAD; font-size: 20px; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text { text-align: center; color: #58391C; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text.score_report_item_name p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text.score_report_item_time { display: flex; flex-wrap: wrap; justify-content: center; }

main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_text.score_report_item_time .text_date { margin: 0 10px 0 0; }

main .test_area .score_report_area .score_report_body .score_report_item.check_item { background-color: #5c8a3930; }

main .test_area .score_report_area .score_report_body .score_report_item.check_item .score_report_item_content.score_report_item_icon .fa-circle-check { color: #5c8a39; }

main .test_area .score_report_area .score_report_body .score_report_item.check_item .score_report_item_content.score_report_item_text { color: #5c8a39; }

main .test_area .score_report_area .score_report_body .score_report_item::before, main .test_area .score_report_area .score_report_body .score_report_item::after { content: ""; position: absolute; width: 1px; height: 100%; background-color: #58391C; bottom: 0; }

main .test_area .score_report_area .score_report_body .score_report_item::before { left: 37.5px; }

main .test_area .score_report_area .score_report_body .score_report_item::after { left: calc(45% + 15px); }

main .test_area .score_report_area .score_report_body .score_report_item:nth-child(1) { border-top: 0px; }

main .test_area .score_report_area .score_report_header_name, main .test_area .score_report_area .score_report_item_name { width: calc(45% - 15px); }

main .test_area .score_report_area .score_report_header_time, main .test_area .score_report_area .score_report_item_time { width: calc(55% - 15px); }

@media screen and (min-width: 576px) { main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content { padding: 15px 10px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon { width: 50px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon .fa-circle-check { font-size: 25px; }
  main .test_area .score_report_area .score_report_body .score_report_item::before { left: 50px; }
  main .test_area .score_report_area .score_report_body .score_report_item::after { left: calc(45% + 25px); }
  main .test_area .score_report_area .score_report_header_name, main .test_area .score_report_area .score_report_item_name { width: calc(45% - 25px); }
  main .test_area .score_report_area .score_report_header_time, main .test_area .score_report_area .score_report_item_time { width: calc(55% - 25px); } }

@media screen and (min-width: 768px) { main .test_area .instructions { margin: 0px auto 40px; }
  main .test_area .score_report_area .score_report_header { padding: 25px 0; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content { padding: 25px 15px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon { width: 66.5px; }
  main .test_area .score_report_area .score_report_body .score_report_item .score_report_item_content.score_report_item_icon .fa-circle-check { font-size: 35px; }
  main .test_area .score_report_area .score_report_body .score_report_item::before { left: 66.5px; }
  main .test_area .score_report_area .score_report_body .score_report_item::after { left: calc(45% + 33.25px); }
  main .test_area .score_report_area .score_report_header_name, main .test_area .score_report_area .score_report_item_name { width: calc(45% - 25px); }
  main .test_area .score_report_area .score_report_header_time, main .test_area .score_report_area .score_report_item_time { width: calc(55% - 25px); } }
