$header_bg: #EFE8E0;
$body_bg: #fff5ba;

/*main*/
// $main_color:             #e66c22;
$main_color:             #ffb501;
$main_color_brown:	  	 #7c411f;
$main_color_grey:	  	 #20221f;
$main_color_blue:        #2e57a6;
$main_color_orange:      #f14c12;

/*transparency*/
$main_color_40:#ffb50140;
$main_color_30:#ffb50130;
$main_color_25:#ffb50125;

/*other*/
$white:#fff;
$black: #000;
$grey: grey;
$disabled: #ADADAD;
$orange:#ff7723;
$red:#cf1e1e;
$yellow: #ffbe00;
$light_yellow: #fff2cc;

/*green*/
// $bright_green:#e8410b;
// $bright_yellow:#fffc00;
// $light_green:#ddecc5;
// $frog_green:#8FC31F;
// $green_one: #c3551b;
// $green_two: #dba930;
// $green_three: #178ed1;
// $green_four: #132A13;

/*grade*/
$first_grade: #FFD000;
$second_grade: #FFB600;
$third_grade: #FF9C00;
$fourth_grade: #FF7600;
$fifth_grade: #FF6400;
$sixth_grade: #FF5100;
$seventh_grade: #bd3c00;


/*cat*/
$cat_yellow: #FCC900;
$cat_content: #F3F3B7;
$cat_orange: #db6926;



$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
