footer{
    .bottom_menu {
        background-color: $body_bg;
        border-top: 1px solid $main_color_brown;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 20px 0px 40px;
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0px);

        .bottom_menu_item {
            a {
                display: flex;
                margin: 10px 20px;
    
                .bottom_menu_item_icon {
                    margin: 0 5px 0 0;
    
                    i {
                        color: $main_color_brown;
                    }
                }
    
                .bottom_menu_item_text {
                    p {
                        color: $main_color_brown;
                    }
                }

                &:hover{
                    .bottom_menu_item_icon {
        
                        i {
                            color: $main_color;
                        }
                    }
        
                    .bottom_menu_item_text {
                        p {
                            color: $main_color;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 576px){
}
@media screen and (min-width: 768px){
    footer{
    
        .bottom_menu {
            padding: 20px 20px 60px;
        }
    }
}
@media screen and (min-width: 1025px) {
    footer {

        .bottom_menu {
            padding: 20px 20px;
        }
    }
}
