div{
    .dt-button-background{
        display: none !important;
    }
    .dt-button-collection{
        box-shadow:none;
        border: 0px;
        background-color: transparent;
        padding: 0;
        .dt-button{
            margin: 0 !important;
        }
    }
}

.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button{
            &:hover{
                color: $main-color !important;
            }
        }
    }
}