main {
    .color_line {
        width: 100%;
        height: 5px;
        display: flex;

        .color_line_item {
            width: calc(100% / 7);

            &.color_one {
                background-color: #19ba94;
            }

            &.color_two {
                background-color: #65871d;
            }

            &.color_three {
                background-color: #0d7d67;
            }

            &.color_four {
                background-color: #e97f5c;
            }

            &.color_five {
                background-color: #fd9b1f;
            }

            &.color_six {
                background-color: #418291;
            }

            &.color_seven {
                background-color: #204d7a;
            }
        }

    }

    .teacher_header_tittle {
        padding: 70px 60px;
        background-image: url(../images/photo/slide-teacher.jpg);
        background-position: center center;
        background-size: cover;
        margin-bottom: 80px;

        p {
            font-size: 30px;
            color: $white;
            font-weight: bold;
        }
    }

    .table_responsive {
        width: 80%;
        margin: 0 auto;
        overflow-x: scroll;

        .table_responsive_tittle{
            display: flex;
            justify-content: center;
            h4 {
                color: $dark_main_color;
                span{
                    font-size: 20px;
                }
            }
        }

        .table_responsive_searchbar{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }

        table {
            overflow: hidden;
            width: 100%;
            margin: 40px 0 0;
            display: table;

            thead {
                tr {
                    th {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        max-width: 400px;
                        padding: 15px 20px;
                        background-color: $main_color;
                        color: $white;
                        text-align: center;
                        border-right: 1px solid $white;
                        &:nth-last-child(1){
                            border-right: 0px;
                        }
                    }
                }
            }

            tbody {
                overflow-x: auto;

                tr {
                    td {
                        padding: 15px 20px;
                        white-space: nowrap;
                        border-collapse: collapse;
                        text-align: center;
                        border: 1px solid $white;

                        &:nth-child(even) {
                            background-color: #f7f7f7;
                        }

                        &.table_link_td {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .table_link{
                                svg{
                                    margin: 0 5px 0 0;
                                }

                                &:hover{
                                        color: $main_color;
                                }
                            }
                            
                            &:hover{
                                background-color: #f7f7f7;
                            }
                        }

                        &:hover{
                            background-color: $main_color_yellow;
                        }
                    }
                }
            }
        }
    }

    .page-teacher {
        width: 90%;
        margin: 40px auto 60px;

        span {
            &.pagination {
                display: flex;
                justify-content: center;
                border-radius: 0;

                a,
                span {
                    color: $main_color;
                    float: left;
                    text-decoration: none;
                    border-radius: 50%;
                    border: 1px solid $main_color;
                    margin: 10px 15px;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;

                    &:nth-child(1),
                    &:nth-last-child(1) {
                        border: none;
                        width: auto;
                        height: auto;
                        border-radius: 16px;
                        padding: 2px 15px;
                    }

                    &.active {
                        background-color: $main_color;
                        color: $white;
                        border-radius: 50%;
                    }

                    &:hover {
                        background-color: $main_color;
                        color: $white;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    main {
        .table_responsive {
            .table_responsive_tittle{
                h4 {
                    span{
                        font-size: 21px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .table_responsive {
            .table_responsive_tittle{
                h4 {
                    span{
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1400px) {
    main {
        .table_responsive {
            .table_responsive_tittle{
                h4 {
                    span{
                        font-size: 27px;
                    }
                }
            }
        }
    }
}