main {
    .color_line {
        width: 100%;
        height: 5px;
        display: flex;

        .color_line_item {
            width: calc(100% / 7);

            &.color_one {
                background-color: #19ba94;
            }

            &.color_two {
                background-color: #65871d;
            }

            &.color_three {
                background-color: #0d7d67;
            }

            &.color_four {
                background-color: #e97f5c;
            }

            &.color_five {
                background-color: #fd9b1f;
            }

            &.color_six {
                background-color: #418291;
            }

            &.color_seven {
                background-color: #204d7a;
            }
        }

    }

    .teacher_header_tittle {
        padding: 40px 30px;
        background-image: url(../images/photo/slide-teacher.jpg);
        background-position: center center;
        background-size: cover;
        margin: 0 auto 40px;

        p {
            font-size: 30px;
            color: $white;
            font-weight: bold;
        }
    }

    .table_responsive {
        width: 80%;
        margin: 0 auto;
        overflow-x: scroll;

        .table_responsive_name{
            position: sticky;
            left: 0;
            margin: 40px auto;
            display: flex;
            justify-content: flex-end;

            h4 {
                color: $dark_main_color;
            }
        }

        .table_responsive_tittle{
            position: sticky;
            left: 0;
            display: flex;
            justify-content: center;
            margin: 40px auto;

            h4 {
                color: $dark_main_color;
                span{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .table_responsive_searchbar{
            position: sticky;
            left: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 40px auto;

            .searchbar_download_area{
                margin: 8px 5px 8px 0;
                .download_excelfile{
                    display: flex;
                    align-items: center;

                    .download_btn{
                        margin: 0 0 0 10px;
                        padding: 5px 10px;
                        border: 1px solid $main_color;
                        border-radius: 5px;
                        color: $main_color;

                        &:hover{
                            background-color: $main_color;
                            color: $white;
                        }
                    }
                }
            }

            .searchbar_search_area{
                display: flex;
                margin: 8px 0 8px 5px;
                .search_input{
                    padding-inline: 10px;
                    padding-block: 5px;
                    outline: $main_color auto 0px;
                    border: 1px solid $main_color;
                    border-radius: 5px 0 0 5px;

                    &:focus{
                        border: 1px solid $dark_main_color;
                    }

                    &:focus-visible{
                        outline: transparent auto 0px;
                        border: 1px solid $dark_main_color;
                    }
                }

                .search_submit{
                    padding-inline: 10px;
                    padding-block: 5px;
                        border: 1px solid $main_color;
                        border-radius: 0 5px 5px 0;
                        color: $main_color;
                        background-color: $white;
                        transform: translate(-1px , 0);

                        &:hover{
                            background-color: $main_color;
                            color: $white;
                        }
                }
            }
        }

        table {
            overflow: hidden;
            width: 100%;
            margin: 40px 0 0;
            display: table;

            thead {
                tr {
                    th {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        max-width: 400px;
                        padding: 15px 20px;
                        background-color: $main_color;
                        color: $white;
                        text-align: center;
                        border-right: 1px solid $white;
                        &:nth-last-child(1){
                            border-right: 0px;
                        }
                    }
                }
            }

            tbody {
                overflow-x: auto;

                tr {
                    td {
                        padding: 15px 20px;
                        white-space: nowrap;
                        border-collapse: collapse;
                        text-align: center;
                        border: 1px solid $white;

                        &:nth-child(even) {
                            background-color: #f7f7f7;
                        }

                        &.table_link_td {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .table_link{
                                svg{
                                    margin: 0 5px 0 0;
                                }

                                &:hover{
                                        color: $main_color;
                                }
                            }
                            
                            &:hover{
                                background-color: #f7f7f7;
                            }
                        }

                        &:hover{
                            background-color: $main_color_yellow;
                        }
                    }
                }
            }
        }
    }

    .page_teacher {
        width: 90%;
        margin: 40px auto 60px;

        span {
            &.pagination {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                border-radius: 0;

                a,
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;                
                    color: $main_color;
                    float: left;
                    text-decoration: none;
                    border-radius: 50%;
                    border: 1px solid $main_color;
                    margin: 10px 5px;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 1;

                    &:nth-child(1),
                    &:nth-last-child(1) {
                        border: none;
                        width: auto;
                        height: auto;
                        border-radius: 5px;
                        padding: 2px 5px;
                    }

                    &.active {
                        background-color: $main_color;
                        color: $white;
                        border-radius: 50%;
                    }

                    &:hover {
                        background-color: $main_color;
                        color: $white;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    main {
        .teacher_header_tittle {
            padding: 70px 30px;
        }

        .table_responsive {
            .table_responsive_tittle{
                h4 {
                    span{
                        font-size: 21px;
                    }
                }
            }
        }

        .page_teacher {
            span {
                &.pagination {
                    a,
                    span {
                        margin: 10px 15px;
    
                        &:nth-child(1),
                        &:nth-last-child(1) {
                            padding: 2px 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .teacher_header_tittle {
            padding: 70px 60px;
        }

        .table_responsive {
            .table_responsive_tittle{
                h4 {
                    span{
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1400px) {
    main {
        .table_responsive {
            .table_responsive_tittle{
                h4 {
                    span{
                        font-size: 27px;
                    }
                }
            }
        }
    }
}