.page-banner.userData-banner{
	background-image:url(../images/userData/banner-bg.png);
	background-position:right center;
	margin-bottom:0;
	@media screen and (min-width: 768px) {
	background-position:center center;	
	}
	h1{ 
		font-size:1.5em;
		font-weight:400;
		line-height:1em;
		margin-top:0;
		margin-bottom:0;
		color:#FFF;
		text-align:left;
		line-height:1.8em;
	}
}