/* text- */
.text-rally-primary{   color: $rally-primary !important;  }
.text-rally-secondary{ color: $rally-secondary !important; }

/* btn- */
@mixin btn-rally($color) {
    background-color: $color;
    color: #fff !important;
    &:hover, &:focus, &:active{
        background-color: darken($color, 10%);
        color: #fff !important;    
    }
}  
.btn-rally-primary{   @include btn-rally($rally-primary);   }
.btn-rally-secondary{ @include btn-rally($rally-secondary); }


/* border- */
.border-rally-primary {  border-color: $rally-primary !important;  }
.border-rally-secondary {border-color: $rally-secondary !important;}


/* form- */
.form-control{
    border-radius: 0;
    &:focus {
        border-color: $rally-primary;
        box-shadow: inset 0 1px 1px rgba(178,13,246, .08);
    }
}
.form-check{
    .form-check-input{
        border-radius: 0;
        margin-top: 0.35em;
        &:focus {
            border-color: $rally-primary;
            outline: 0;
            box-shadow: none;
        }
        &:checked {
            background-color: $rally-primary;
            border-color: $rally-primary;
        }    
    }   
}

/**/
.mt-n0{}
.mt-n1{}
.mt-n2{}
.mt-n3{}
.mt-n4{}
.mt-n5{}
