/* text- */
.text-rally-primary{   color: $rally-primary !important;  }
.text-rally-secondary{ color: $rally-secondary !important; }

/* btn- */
@mixin btn-rally($color) {
    background-color: $color;
    color: #fff !important;
    &:hover, &:focus, &:active{
        background-color: darken($color, 10%);
        color: #fff !important;    
    }
}  
.btn-rally-primary{   @include btn-rally($rally-primary);   }
.btn-rally-secondary{ @include btn-rally($rally-secondary); }


/* border- */
.border-rally-primary {  border-color: $rally-primary !important;  }
.border-rally-secondary {border-color: $rally-secondary !important;}


/* form- */
.form-control{
    border-radius: 0;
    &:focus {
        border-color: $rally-primary;
        box-shadow: inset 0 1px 1px rgba(178,13,246, .08);
    }
}
.form-check{
    padding: 0;
    display: flex;
    align-items: center;
    .form-check-input{
        border-radius: 5px;
        margin: 0 10px;
        &:focus {
            background-color: transparent !important;
            border-color: $rally-primary;
            outline: 0;
            box-shadow: none;
        }
        &:checked {
            background-color: transparent;
            border-color: $rally-primary;
            position: relative;
            background-image: none;

            &::after{
                font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $rally-primary;
            }
        }    
    }   
}

/**/
