@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body { font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif; }

.page .test-content .item .item-content { box-shadow: 1px 1px 5px #4b4b4b45; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; list-style: none; }

h3 { font-size: 20px; font-weight: bold; line-height: 1.5; color: #fff; }

p { font-size: 16px; color: #4B4B4B; font-weight: bold; line-height: 1.5; }

h4 { font-size: 22px; font-weight: bold; color: #4B4B4B; line-height: 1.6; }

img { width: 100%; }

*, body { font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif; letter-spacing: 1.5px; box-sizing: border-box; }

/*pages*/
body { background-color: #EFE8E0; counter-reset: page-number; /* 初始化，名字可自訂，數值為0 */ -webkit-print-color-adjust: exact; }

.page { /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */ /* page-break-after: always;  碰到此元素會直接換頁 */ page-break-inside: avoid; position: relative; max-width: 1024px; width: 100%; margin: 0 auto; display: flex; justify-content: space-around; flex-wrap: wrap; overflow: hidden; }

.page:after { /* content: counter(page-number); 取用該名字的計數器 */ /*counter-increment: page-number 1;  增加計數器數值 */ position: absolute; right: 0; bottom: 0; left: 0; font-size: 30px; text-align: center; }

.page h3 { font-size: 18px; line-height: 1.5; color: #fff; }

.page p { font-size: 13px; line-height: 1.5; }

.page h4 { font-size: 16px; line-height: 1.6; }

.page .report-title { width: 100%; z-index: 2; background-color: #00a7e5; padding: 20px 5%; }

.page .report-title img { width: 45%; max-width: 200px; }

.page .report-title .text-content h3 { border-bottom: 5px solid #f7ae00; margin: 10px auto; padding: 10px 0px; font-size: 40px; display: inline-block; }

.page .report-title .text-content .chinese-title { font-size: 32px; margin-bottom: 10px; color: #fff; }

.page .report-title .text-content .english-title { color: #fff; }

.page .report-title .material { margin-top: 20px; display: flex; flex-wrap: wrap; }

.page .report-title .material .name, .page .report-title .material .date, .page .report-title .material .language { margin: 8px 15px 8px 0px; display: flex; }

.page .report-title .material .name h4, .page .report-title .material .date h4, .page .report-title .material .language h4 { color: #f7ae00; }

.page .report-title .material .name p, .page .report-title .material .date p, .page .report-title .material .language p { color: #fff; padding-bottom: 2px; border-bottom: 1px solid #fff; }

.page .test-content { width: 100%; z-index: 2; display: flex; flex-direction: column; justify-content: flex-start; padding: 20px 5%; max-width: 768px; }

.page .test-content .item { display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 9px; }

.page .test-content .item .fraction-area { display: flex; justify-content: flex-end; width: 100%; margin: 15px auto; }

.page .test-content .item .fraction-area .fraction, .page .test-content .item .fraction-area .average { display: flex; align-items: center; margin: 5px 0; }

.page .test-content .item .fraction-area .fraction p:nth-child(2), .page .test-content .item .fraction-area .average p:nth-child(2) { padding: 5px 10px; border-radius: 5px; }

.page .test-content .item .fraction-area .fraction p.score, .page .test-content .item .fraction-area .average p.score { font-size: 18px; margin-left: 5px; }

.page .test-content .item .fraction-area .fraction p:nth-child(2) { color: #fff; }

.page .test-content .item .fraction-area .average { margin: 5px 0 5px 2.5%; }

.page .test-content .item .title-mark { position: relative; width: 15%; max-width: 80px; z-index: 1; }

.page .test-content .item .title-mark .number-mark { position: absolute; left: -5%; top: 0%; width: 45%; transform: translate(0px, -50%); }

.page .test-content .item .item-content { background-color: #fff; border-radius: 5px; width: 90%; margin-left: -5%; }

.page .test-content .item .item-content .content-title { padding: 5px 10px 5px 10%; border-radius: 5px 5px 0 0; border-bottom: 0 !important; }

.page .test-content .item .item-content .content-introduce { padding: 5px 10px 5px 10%; border-radius: 0 0 5px 5px; background-color: #fff; border-top: 0 !important; }

.page .test-content .item.first-item .fraction-area .fraction p:nth-child(2) { background-color: #2783be; border: 1.5px solid #2783be; }

.page .test-content .item.first-item .fraction-area .average p:nth-child(2) { color: #2783be; border: 1.5px solid #2783be; }

.page .test-content .item.first-item .item-content .content-title { background-color: #2783be; border: 1px solid #2783be; }

.page .test-content .item.first-item .item-content .content-introduce { border: 1px solid #2783be; }

.page .test-content .item.two-item .fraction-area .fraction p:nth-child(2) { background-color: #d4655c; border: 1.5px solid #d4655c; }

.page .test-content .item.two-item .fraction-area .average p:nth-child(2) { color: #d4655c; border: 1.5px solid #d4655c; }

.page .test-content .item.two-item .item-content .content-title { background-color: #d4655c; border: 1px solid #d4655c; }

.page .test-content .item.two-item .item-content .content-introduce { border: 1px solid #d4655c; }

.page .test-content .item.three-item .fraction-area .fraction p:nth-child(2) { background-color: #e1b539; border: 1.5px solid #e1b539; }

.page .test-content .item.three-item .fraction-area .average p:nth-child(2) { color: #e1b539; border: 1.5px solid #e1b539; }

.page .test-content .item.three-item .item-content .content-title { background-color: #e1b539; border: 1px solid #e1b539; }

.page .test-content .item.three-item .item-content .content_introduce { border: 1px solid #e1b539; }

.page .test-content .item.four-item .fraction-area .fraction p:nth-child(2) { background-color: #3f9979; border: 1.5px solid #3f9979; }

.page .test-content .item.four-item .fraction-area .average p:nth-child(2) { color: #3f9979; border: 1.5px solid #3f9979; }

.page .test-content .item.four-item .item-content .content-title { background-color: #3f9979; border: 1px solid #3f9979; }

.page .test-content .item.four-item .item-content .content-introduce { border: 1px solid #3f9979; }

.page .test-content .item.five-item .fraction-area .fraction p:nth-child(2) { background-color: #675f91; border: 1.5px solid #675f91; }

.page .test-content .item.five-item .fraction-area .average p:nth-child(2) { color: #675f91; border: 1.5px solid #675f91; }

.page .test-content .item.five-item .item-content .content-title { background-color: #675f91; border: 1px solid #675f91; }

.page .test-content .item.five-item .item-content .content-introduce { border: 1px solid #675f91; }

.page .chartbar-area { flex-wrap: wrap; display: flex; justify-content: center; align-items: center; width: 100%; padding: 20px 5%; max-width: 768px; }

.page .chartbar-area .srscore, .page .chartbar-area .cefr-level, .page .chartbar-area .actfl-level { position: relative; width: 45%; background-color: #f7ae00; border-radius: 50%; max-width: 250px; display: flex; align-items: center; justify-content: center; flex-direction: column; z-index: 2; margin: 10px 2.5%; }

.page .chartbar-area .srscore:after, .page .chartbar-area .cefr-level:after, .page .chartbar-area .actfl-level:after { position: absolute; content: ""; border: 2px dotted #154299; width: 100%; height: 100%; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 3px; border-radius: 50%; }

.page .chartbar-area .srscore h3, .page .chartbar-area .cefr-level h3, .page .chartbar-area .actfl-level h3 { text-align: center; }

.page .chartbar-area .srscore p, .page .chartbar-area .cefr-level p, .page .chartbar-area .actfl-level p { text-align: center; color: #154299; }

.page .bottom-text { width: 100%; z-index: 1; padding: 20px 0 0; }

.page .bottom-text p { margin: 0 auto; padding: 10px 5%; text-align: center; color: #fff; }

.page .bottom-text p:nth-child(1) { background-color: #00a7e5; }

.page .bottom-text p:nth-child(2) { background-color: #154299; }

@page { /*size: portrait;  直向 */
  /*size: landscape;  橫向 */
  /*size: A4;  紙張大小 */
  size: A4 portrait;
  /* 混合使用 */
  min-height: 100vh;
  margin: 0;
  /* 邊界與內容的距離 */ }

@media print { body { background-color: #EFE8E0; counter-reset: page-number; /* 初始化，名字可自訂，數值為0 */ -webkit-print-color-adjust: exact; }
  section { width: 100vw; height: 100vh; page-break-after: always; }
  .page { /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */ /* page-break-after: always;  碰到此元素會直接換頁 */ page-break-inside: avoid; position: relative; background: linear-gradient(90deg, #00a7e5 38%, #fff 0%); max-width: 1024px; width: 1024px; height: 1448px; margin: 0 auto; display: flex; justify-content: space-around; flex-wrap: wrap; padding-top: 15px; overflow: hidden; }
  .page:after { /* content: counter(page-number); 取用該名字的計數器 */ /*counter-increment: page-number 1;  增加計數器數值 */ position: absolute; right: 0; bottom: 0; left: 0; font-size: 30px; text-align: center; }
  .page h3 { font-size: 20px; line-height: 1.5; color: #fff; }
  .page p { font-size: 16px; line-height: 1.5; }
  .page h4 { font-size: 22px; line-height: 1.6; }
  .page .report-title { width: 35%; z-index: 2; margin: 15px 0 0; padding: 0; background-color: transparent; }
  .page .report-title img { width: 100%; max-width: none; }
  .page .report-title .text-content h3 { border-bottom: 5px solid #f7ae00; margin: 10px auto; font-size: 42px; display: block; }
  .page .report-title .text-content .chinese-title { font-size: 33px; margin-bottom: 10px; color: #fff; }
  .page .report-title .text-content .english-title { font-size: 15px; color: #fff; }
  .page .report-title .material { margin-top: 20px; display: block; }
  .page .report-title .material .name, .page .report-title .material .date, .page .report-title .material .language { margin-bottom: 15px 0px; display: block; }
  .page .report-title .material .name h4, .page .report-title .material .date h4, .page .report-title .material .language h4 { color: #f7ae00; }
  .page .report-title .material .name p, .page .report-title .material .date p, .page .report-title .material .language p { color: #fff; padding-bottom: 10px; border-bottom: 1px solid #fff; }
  .page .test-content { width: 60%; height: calc(100% - 417px); max-width: none; padding: 0; }
  .page .test-content .item { display: flex; flex-wrap: wrap; justify-content: flex-end; margin-bottom: 9px; }
  .page .test-content .item .fraction-area { display: flex; width: 100%; justify-content: flex-end; margin: 15px auto 5px; }
  .page .test-content .item .fraction-area .fraction, .page .test-content .item .fraction-area .average { display: flex; align-items: center; margin: 5px; }
  .page .test-content .item .fraction-area .fraction p:nth-child(2), .page .test-content .item .fraction-area .average p:nth-child(2) { padding: 5px 10px; border-radius: 5px; }
  .page .test-content .item .fraction-area .fraction p.score, .page .test-content .item .fraction-area .average p.score { font-size: 18px; margin-left: 5px; }
  .page .test-content .item .fraction-area .fraction p:nth-child(2) { color: #fff; }
  .page .test-content .item .title-mark { position: relative; width: 15%; max-width: 80px; z-index: 1; }
  .page .test-content .item .title-mark .number-mark { position: absolute; left: -5%; top: 0%; width: 45%; transform: translate(0px, -50%); }
  .page .test-content .item .item-content { background-color: #fff; border-radius: 5px; width: 85%; margin-left: -5%; }
  .page .test-content .item .item-content .content-title { padding: 5px 10px 5px 10%; border-radius: 5px 5px 0 0; border-bottom: 0 !important; }
  .page .test-content .item .item-content .content-introduce { padding: 5px 10px 5px 10%; border-radius: 0 0 5px 5px; background-color: #fff; border-top: 0 !important; }
  .page .test-content .item.first-item .fraction-area .fraction p:nth-child(2) { background-color: #2783be; border: 1.5px solid #2783be; }
  .page .test-content .item.first-item .fraction-area .average p:nth-child(2) { color: #2783be; border: 1.5px solid #2783be; }
  .page .test-content .item.first-item .item-content .content-title { background-color: #2783be; border: 1px solid #2783be; }
  .page .test-content .item.first-item .item-content .content-introduce { border: 1px solid #2783be; }
  .page .test-content .item.two-item .fraction-area .fraction p:nth-child(2) { background-color: #d4655c; border: 1.5px solid #d4655c; }
  .page .test-content .item.two-item .fraction-area .average p:nth-child(2) { color: #d4655c; border: 1.5px solid #d4655c; }
  .page .test-content .item.two-item .item-content .content-title { background-color: #d4655c; border: 1px solid #d4655c; }
  .page .test-content .item.two-item .item-content .content-introduce { border: 1px solid #d4655c; }
  .page .test-content .item.three-item .fraction-area .fraction p:nth-child(2) { background-color: #e1b539; border: 1.5px solid #e1b539; }
  .page .test-content .item.three-item .fraction-area .average p:nth-child(2) { color: #e1b539; border: 1.5px solid #e1b539; }
  .page .test-content .item.three-item .item-content .content-title { background-color: #e1b539; border: 1px solid #e1b539; }
  .page .test-content .item.three-item .item-content .content_introduce { border: 1px solid #e1b539; }
  .page .test-content .item.four-item .fraction-area .fraction p:nth-child(2) { background-color: #3f9979; border: 1.5px solid #3f9979; }
  .page .test-content .item.four-item .fraction-area .average p:nth-child(2) { color: #3f9979; border: 1.5px solid #3f9979; }
  .page .test-content .item.four-item .item-content .content-title { background-color: #3f9979; border: 1px solid #3f9979; }
  .page .test-content .item.four-item .item-content .content-introduce { border: 1px solid #3f9979; }
  .page .test-content .item.five-item .fraction-area .fraction p:nth-child(2) { background-color: #675f91; border: 1.5px solid #675f91; }
  .page .test-content .item.five-item .fraction-area .average p:nth-child(2) { color: #675f91; border: 1.5px solid #675f91; }
  .page .test-content .item.five-item .item-content .content-title { background-color: #675f91; border: 1px solid #675f91; }
  .page .test-content .item.five-item .item-content .content-introduce { border: 1px solid #675f91; }
  .page .chartbar-area { flex-wrap: wrap; display: flex; justify-content: center; align-items: center; width: 100%; position: relative; bottom: 80px; max-width: none; }
  .page .chartbar-area .srscore, .page .chartbar-area .cefr-level, .page .chartbar-area .actfl-level { position: relative; width: 29%; background-color: #f7ae00; border-radius: 50%; max-width: 250px; display: flex; align-items: center; justify-content: center; flex-direction: column; z-index: 2; margin: 0 2%; }
  .page .chartbar-area .srscore:after, .page .chartbar-area .cefr-level:after, .page .chartbar-area .actfl-level:after { position: absolute; content: ""; border: 2px dotted #154299; width: 100%; height: 100%; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 6px; border-radius: 50%; }
  .page .chartbar-area .srscore h3, .page .chartbar-area .cefr-level h3, .page .chartbar-area .actfl-level h3 { text-align: center; }
  .page .chartbar-area .srscore p, .page .chartbar-area .cefr-level p, .page .chartbar-area .actfl-level p { text-align: center; color: #154299; font-size: 22px; }
  .page .bottom-text { width: 100%; position: absolute; bottom: 0px; left: 0px; z-index: 1; padding: 0; }
  .page .bottom-text:before { position: absolute; content: ""; width: 1024px; height: 1024px; top: -512px; background: #fff; border-radius: 50%; z-index: -1; }
  .page .bottom-text p { margin: 0 auto; padding: 10px 5%; text-align: center; color: #fff; }
  .page .bottom-text p:nth-child(1) { background-color: #00a7e5; }
  .page .bottom-text p:nth-child(2) { background-color: #154299; } }

@media screen and (min-width: 576px) { .page h3 { font-size: 19px; }
  .page p { font-size: 15px; }
  .page h4 { font-size: 17px; }
  .page .test-content .item { justify-content: flex-end; }
  .page .chartbar-area .srscore, .page .chartbar-area .cefr-level, .page .chartbar-area .actfl-level { width: 29%; margin: 0 2%; } }

@media screen and (min-width: 1024px) { .page { /* page-break-inside: avoid; 若順著向下排列時會切開此元素，則直接換頁 */ /* page-break-after: always;  碰到此元素會直接換頁 */ background: linear-gradient(90deg, #00a7e5 38%, #fff 0%); height: 1448px; padding-top: 15px; }
  .page:after { /* content: counter(page-number); 取用該名字的計數器 */ /*counter-increment: page-number 1;  增加計數器數值 */ position: absolute; right: 0; bottom: 0; left: 0; font-size: 30px; text-align: center; }
  .page h3 { font-size: 20px; }
  .page p { font-size: 16px; }
  .page h4 { font-size: 22px; }
  .page .report-title { width: 35%; margin: 15px 0 0; padding: 0; background-color: transparent; }
  .page .report-title img { width: 100%; max-width: none; }
  .page .report-title .text-content h3 { font-size: 42px; display: block; }
  .page .report-title .text-content .chinese-title { font-size: 33px; }
  .page .report-title .text-content .english-title { font-size: 15px; }
  .page .report-title .material { display: block; }
  .page .report-title .material .name, .page .report-title .material .date, .page .report-title .material .language { margin: 15px 0px; display: block; }
  .page .test-content { width: 60%; height: calc(100% - 417px); max-width: none; padding: 0; }
  .page .test-content .item .fraction-area { margin: 15px auto 5px; }
  .page .test-content .item .item-content { width: 85%; }
  .page .chartbar-area { position: relative; bottom: 80px; max-width: none; }
  .page .chartbar-area .srscore:after, .page .chartbar-area .cefr-level:after, .page .chartbar-area .actfl-level:after { padding: 6px; }
  .page .chartbar-area .srscore p, .page .chartbar-area .cefr-level p, .page .chartbar-area .actfl-level p { font-size: 22px; }
  .page .bottom-text { position: absolute; bottom: 0px; left: 0px; padding: 0; }
  .page .bottom-text:before { position: absolute; content: ""; width: 1024px; height: 1024px; top: -512px; background: #fff; border-radius: 50%; z-index: -1; } }

/*報表下載*/
