.up {
  transform: rotate(-135deg) !important;
  -webkit-transform: rotate(-135deg) !important;
  transition: 0.3s;
  margin-bottom: 0px !important;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.3s;
  margin-bottom: 5px;
}

.open {
  display: flex !important;
  flex-direction: column;
}

.content-login-menu.open {
  flex-direction: row !important;
}

.dropdown:hover>.dropdown:hover>.content-login-menu {
  display: flex;
}

.item {
  padding: 5px 20px;
  width: auto;
}

.readworld,
.resource,
.happylearning,
.readingability {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  padding: 40px 10%;
}

.readworld-photo,
.resource-photo,
.happylearning-photo,
.readingability-photo {
  width: 40%;
}

.readworld-text,
.resource-text,
.happylearning-text,
.readingability-text {
  width: 55%;
  text-align: center;
}

.readworld-text h4,
.resource-text h4,
.happylearning-text h4,
.readingability-text h4 {
  margin-top: 20px;
}

.resource,
.readingability {
  background-color: #EAEAEA;
}



.swiper-slide>.book-block>a>div>img {
  border-radius: 16px;
}

.swiper-slide>.book-block>a {
  line-height: 0;
}

.tittle {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #00a7e5;
  margin-top: 10px;
  width: calc(100% - 30px);
}

.swiper-slide>.information {
  font-size: 17px;
  text-align: left;
  color: #4B4B4B;
  width: calc(100% - 30px);
  margin-top: 10px;
}

.language-system {
  width: auto;
}

/*優選書單 booklist*/

.tip span {
  position: relative;
  display: inline-block;
}

.tip span:hover {
  cursor: pointer;
}

.tip span:hover::before,
.tip span:hover::after {
  opacity: 1;
}

.tip span::before {
  content: attr(data-tooltip);
  background: #d9444a;
  color: #fff;
  padding: .8em 1em;
  position: absolute;
  left: 100%;
  top: -90%;
  margin-left: 14px;
  white-space: pre;
  opacity: 0;
}

.hover-text {
  display: inline-block;
  position: absolute;
  background: #222;
  border-radius: .4em;
  padding: 12px;
  font-size: .85em;
  color: #fff;
}

.hover-text:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #222;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}


.portfolio-menu {
  text-align: center;
  margin: 30px auto;
}


.button {
  border-top: 1px solid #4B4B4B;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px;
  margin-top: 20px;
}

button.read {
  padding: 10px 40px;
  background-color: #FA9D00;
  margin: 0 auto;
  border-radius: 10px;
  color: #FFF;
}

a.read,
.badge-modal-content>.button>a {
  padding: 10px;
  background-color: #FA9D00;
  margin: 0 auto;
  border-radius: 10px;
  color: #FFF;
  display: inline-block;
  min-width: 200px;
  width: calc(45% - 24px);
  text-align: center;
}



/*library 我的書庫*/

.bookmenu.library {
  margin-top: 110px;
}


/*pre-map pre地圖*/




.map-bigtitle {
  position: absolute;
  right: 0px;
  top: -50px;
  font-size: 175px;
  z-index: -1;
  color: #e9e9e9;
  display: none;
}

.progress-bar-area>.number {
  margin: 0px 5px;
}


.certification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certification-content>.photo {
  width: 200px;
}

.certification-content>.text {
  width: calc(100% - 250px);
}

.certification-content>.text>h3 {
  color: #1e9cd4;
}



/*個人首頁 personal*/

.performance-course h3 {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  font-size: 23px;
}

.performance-course h3 {
  text-align: left;
}


/*test 讀後測驗*/


.topic>span.name {
  border-bottom: 1.5px solid #00a7e5;
}


.test-result {
  font-size: 22px;
}

.test-result {
  color: #00a7e5;
  text-align: center;
  margin-top: 50px;
}


.modal-img .modal-text {
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.modal-img-bookman>.badge-box {
  background-color: transparent;
}

.modal-img-bookman>.modal-text h3,
.modal-img-bookman>.modal-text p {
  color: #4B4B4B !important;
}

.bookmanbadge {
  position: relative;
}

/*course 閱讀歷程*/

.dacclogo-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfaf7;
  box-shadow: 1px 1px 5px #4b4b4b45;
  border-radius: 16px;
  width: 47.5%;
  padding: 25px 30px;
  position: relative;
  overflow-x: scroll;
}

.dacctest {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fcfaf7;
  box-shadow: 1px 1px 5px #4b4b4b45;
  border-radius: 16px;
  width: 47.5%;
  padding: 25px 30px;
  position: relative;
  margin-left: -15px;
  overflow-x: scroll;
}

.month-average,
.month-CEFR {
  width: calc(50% - 1px);
  padding: 20px 10px;
  margin-top: 0px;
  border-bottom: 0px dashed #4B4B4B;
}

.book-month-highest,
.full-month-lowest {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px;
  align-items: center;
}

.book-month-highest {
  border-bottom: 1px dashed #4B4B4B;
}

.month-area>h3 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
}

.rtext21 {
  color: #00a7e5;
  padding: 5px 10px;
  border: 1px solid #00a7e5;
  margin-top: 10px;
  border-radius: 10px;
}

.rtext21:hover {
  color: #fff;
  background-color: #00a7e5;
}

/* 閱讀書籍程度分布開始 */

.chart-sixmonth-label {
  position: absolute;
  z-index: 3;
  top: -25px;
  left: 70px;
  font-size: 16px;
  color: #5c6466;
  width: calc(100% - 70px);
}

.chart-sixmonth-label>span {
  display: inline-block;
  width: 20%;
  text-align: center;
}

/* 近六個月平均閱讀書籍難度值結束 */

/* 圓餅圖結束*/


/*footer*/


.footer-logo {
  background-color: #F2F2F2;
}

.footer-logo-area {
  padding: 120px 0px;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


.footer-menu {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

.main-menu,
.sub-menu {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.main-menu>p,
.sub-menu>p,
.main-menu>a,
.sub-menu>a {
  margin-bottom: 8px;
  font-size: 16px;
  color: #fff;
}

.bookcase {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  background: #be8c62;
  border: 10px #e8d3b0 solid;
  border-bottom: 30px #e8d3b0 solid;
  border-top: 30px #e8d3b0 solid;
}

table.table.list-book.bookcase:before {
  width: 20px;
  left: 0;
  box-shadow: inset -3px 0 15px rgb(33 33 33 / 30%);
  height: 100%;
  position: absolute;
  content: "";
  top: 0px;
}

table.table.list-book.bookcase:after {
  width: 20px;
  right: 0;
  box-shadow: inset -3px 0 15px rgb(33 33 33 / 30%);
  height: 100%;
  position: absolute;
  content: "";
  top: 0px;
}

/*edit-profile 編輯個人資料*/
.profile-group-row {
  flex-direction: row !important;
}

.profile-group-row p {
  margin-right: 10px;
}



/*0125修改*/


.map-book-list {
  margin-left: 190px;
}


@media (max-width: 1024px) {
  .padhide {
    display: none;
  }

  .webhide {
    display: inline-block;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 16px;
  }

  p,
  a,
  input[type=text],
  input[type=password],
  select,
  label,
  legend,
  tr,
  td,
  select,
  option {
    font-size: 15px;
  }

  label {
    padding: 0px;
  }

  .header_logo {
    left: 80px;
    top: 15px;
    position: absolute;
  }

  .header_logo img {
    height: 50px;
    width: auto;
  }

  .menu {
    flex-direction: column;
    background: #FCFAF7;
    padding: 50px 10px;
    visibility: hidden;
    transform: translateX(-100%);
    width: 40%;
    height: calc(100% - 30px);
    left: 15px;
    top: 15px;
    overflow-y: auto;
  }

  .menu>li {
    padding: 10px 0px;
  }

  .menu li a {
    font-size: 15px;
  }

  .menu.opened {
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    transition: 1s ease all;
    visibility: visible;
    transform: translateX(0%);
    z-index: 11;
  }

  .menu.after-login {
    background-color: #FCFAF7;
    margin: 0px;
  }

  .menu-pagination,
  .menu-language {
    background-color: transparent;
    box-shadow: none;
    flex-direction: column;
  }

  .menu-pagination>li,
  .menu-language>li {
    font-size: 17px;
    padding: 5px 10px;
  }

  .menu-language li:nth-last-child(1)>ul {
    background-color: transparent;
  }

  body.fixed {
    position: relative;
  }

  body.fixed::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
  }

  div#toggle {
    display: block;
    background-color: #FCFAF7;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    left: 15px;
    top: 15px;
    z-index: 12;
  }

  div#toggle span {
    display: block;
  }

  #toggle.open span {
    background-color: rgba(0, 0, 0, 0.0);
  }

  #toggle.open span:before,
  #toggle.open span:after {
    margin: 0;
  }

  #toggle.open span:before {
    transform: rotate(45deg);
  }

  #toggle.open span:after {
    transform: rotate(-45deg);
  }

  .dropdown-content {
    position: static;
    margin: 10px 0px;
    background-color: transparent;
    box-shadow: none;
  }

  .dropdown-content li {
    width: auto;
    padding: 5px 10px;
    text-align: left;
  }

  .dropdown-content li a {
    padding: 0px;
  }

  .content-login-menu,
  .content-personal-menu,
  .content-map-menu,
  .content-about-menu,
  .content-language-menu {
    display: none;
    flex-direction: column;
    padding: 0px;
  }

  .content-login-menu.open {
    flex-direction: column !important;
  }

  .content-avatar-menu {
    position: absolute;
    left: 0%;
    top: 52px;
    transform: translate(0px, -0%);
    background-color: #FCFAF7;
    margin: 0 auto;
  }

  .content-avatar-menu::before {
    display: none;
  }

  .menu-pagination {
    margin-top: 61px;
  }

  .item {
    width: 100%;
  }

  .slide-bg {
    padding-top: 200px;
    padding-bottom: 45px;
  }

  .slide-bg>h1 {
    font-size: 45px;
  }

  .readworld-text h4,
  .resource-text h4,
  .happylearning-text h4,
  .readingability-text h4 {
    margin-top: 10px;
  }

  .feature,
  .preferred-book {
    width: 90%;
  }

  .feature-content::before {
    font-size: 100px;
  }



  .tittle {
    font-size: 17px;
  }

  .swiper-slide>.information {
    font-size: 15px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: #00a7e5;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    color: #fff;
  }


  .slide-text {
    align-items: flex-start;
    bottom: 30px;
  }

  .slide-text-1 {
    left: 50%;
    transform: translate(-50%, 0px);
    width: 80%;
  }

  .slide-text-1>p {
    font-size: 26px;
  }

  .slide-text-1>img {
    width: 60%;
    min-width: auto;
  }

  .slide-text-2 {
    right: 10%;
    width: 37%;
    top: 50%;
    transform: translate(0px, -50%);
    bottom: auto;
  }

  .slide-text-2>.book-logo {
    width: 25%;
    margin-bottom: 10px;
  }

  .slide-text-2>p {
    font-size: 20px;
  }

  .slide-text-3>.text-3-area>p {
    font-size: 45px;
  }

  .slide-text-3>.text-3-area>pp:nth-child(2) {
    font-size: 20px;
  }



  .open-read {
    margin: 120px auto 80px;
  }

  /*常見問題 question*/
  .main.question {
    width: 85%;
  }

  .faq-answer {
    margin-left: 59.71px;
  }

  /*分級對應 grade*/
  .x-timeline {
    --x-content-width: auto;
    --x-metacontent-width: auto;
    --x-line-width: 3px;
    margin: 0 auto;
  }

  .x-timeline-item_content-inner.left {
    margin-left: 10px;
  }

  .x-timeline-item_content-inner.right {
    margin-right: auto;
    margin-left: 10px;
  }

  .x-timeline-item_content {
    order: 2;
  }

  .x-timeline-item_content-inner.right>.grade-tag {
    order: 1;
  }

  .x-timeline-item:nth-child(2n) {
    flex-direction: initial;
  }

  .x-timeline-item_marker-inner {
    width: 25px;
    height: 25px;
  }

  /*閱讀地圖 map*/
  .modal {
    width: 80% !important;
  }

  /*優選書單 booklist*/
  .booktype>.checkbox {
    width: calc(25% - 10px);
  }

  .bookselect>.form {
    flex-direction: column;
    align-items: flex-start;
  }

  .bookselect>.form>label {
    margin-bottom: 8px;
  }

  .book-item {
    width: 30%;
    margin: 30px 1.66666%;
  }

  .modal-book-img {
    width: 200px;
    height: 200px;
  }

  .introduction-content {
    width: calc(95% - 200px);
  }

  .introduction-item {
    margin: 15px auto 0px;
  }

  .introduction-item .item {
    padding: 0px;
  }

  .book-content {
    margin: 10px auto;
  }

  .modal-btn>ul>li {
    font-size: 17px;
    padding: 7px 0px;
  }

  .page {
    flex-direction: column;
  }

  .select-pages-number {
    margin: 20px auto 40px;
  }

  .book-title>h4 {
    height: 52.6px;
  }

  .book-title>h4>a {
    font-size: 15px;
  }

  .bookmenu div:hover>.bookmenu-standard {
    display: none;
  }


  /*login 登入*/

  .slide.login {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main.login {
    margin-left: calc(95% - 350px);
  }

  .login-button,
  .signup-button {
    font-size: 15px;
  }

  /*library 我的書庫*/

  .slide.library>.title-text>h1,
  .slide.course>.title-text>h1,
  .slide.map>.title-text>h1,
  .slide.report>.title-text>h1 {
    font-size: 45px;
  }

  .slide.library,
  .slide.course,
  .slide.map,
  .slide.report {
    padding-top: 110px;
    padding-bottom: 60px;
    margin-bottom: 80px;
  }

  .slide.library>.title-text,
  .slide.course>.title-text,
  .slide.map>.title-text,
  .slide.report>.title-text {
    text-align: left;
  }

  .library.main,
  .course.main,
  .map.main,
  .report.main {
    margin: 0px auto;
  }

  .folder {
    width: calc(100% - 42px);
    margin-left: 42px;
    padding: 15px;
  }

  .pre-tag {
    order: 7;
  }

  .a1-tag {
    order: 6;
  }

  .a2-tag {
    order: 5;
  }

  .b1-tag {
    order: 4;
  }

  .b2-tag {
    order: 3;
  }

  .c1-tag {
    order: 2;
  }

  .c2-tag {
    order: 1;
  }

  .pre-tag::before {
    border-bottom: 1px solid #19ba94;
  }

  .a1-tag::before {
    border-bottom: 1px solid #65871d;
  }

  .a2-tag::before {
    border-bottom: 1px solid #0d7d67;
  }

  .b1-tag::before {
    border-bottom: 1px solid #e97f5c;
  }

  .b2-tag::before {
    border-bottom: 1px solid #fd9b1f;
  }

  .c1-tag::before {
    border-bottom: 1px solid #418291;
  }

  .c2-tag::before {
    border-bottom: 1px solid #204d7a;
  }


  .book-total,
  .complete-quiz {
    width: calc(50% - 1px);
    border-right: 1px dashed #4B4B4B;
  }

  .complete-quiz {
    border-right: 0px dashed transparent;
  }

  .full-mark {
    width: 100%;
    border-bottom: 0px dashed transparent;
    border-right: 0px dashed transparent;
    border-top: 1px dashed #4B4B4B;
    margin-top: 0px;
    padding: 20px 0px 0px;
  }

  .folder-item {
    padding: 20px;
  }

  .option-tag {
    padding: 9px;
    margin: 0px;
  }

  .option-tag.active {
    padding: 9px;
  }

  .option-tag.active::before {
    z-index: 1;
  }

  .option-tag::before {
    transform: perspective(0px) rotateY(0deg);
    border-radius: 20px 20px 0px 0px;
    ;
  }


  .option-tag>p {
    width: 60px;
    height: 20px;
    margin: 2px;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .option-tag>a {
    height: 49.5px;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .folder-tag {
    left: -21px;
    top: 574px;
    width: auto;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: left;
  }

  .folder-book-img {
    width: 180px;
    height: 180px;
  }

  .folder-book-text>h3 {
    height: 51px;
    font-size: 17px !important;
  }

  .folder-book-content {
    width: calc(95% - 180px);
  }

  .bottom-button-area {
    width: 100%;
    margin-top: 15px;
    align-items: flex-start;
  }

  .test-button-area {
    margin-right: 0px;
    width: auto;
  }

  .bottom-button-area>.test-badge {
    flex-direction: row;
    width: 32%;
    margin: 0;
  }

  /*map 地圖*/
  .main.map h1 {
    padding-bottom: 0px;
    color: #33B1D2;
  }

  .map-progress {
    height: 520px;
  }

  .point {
    top: 175px;
  }

  .bullet {
    width: 50px;
    height: 35px;
    transform: perspective(0px) rotateX(0deg);
  }

  .icontext {
    top: -17%;
  }

  .icontext>p {
    top: -50px;
    font-size: 14px;
  }

  .icontext>p>span {
    font-size: 13px;
  }

  /*pre-map pre地圖*/
  .map-bigtitle {
    font-size: 150px;
  }

  .map-content {
    margin-left: auto !important;
  }

  .bookmenu.column {
    position: relative;
    left: auto;
    flex-direction: row;
    margin-top: 60px;
  }

  .map-book-list {
    margin-left: 0;
  }


  .bookmenu.column>div {
    margin: 0px 9px 0px 0px;
    text-align: center;
  }

  .bookmenu.column>div>a {
    left: 50%;
    top: calc(-100% + 11px);
    transform: translate(-50%, 0%);
  }

  .head-img {
    border-width: 10px 6px 0px 6px;
    display: none;
  }

  .head-img.pre {
    border-color: #19ba94 transparent transparent transparent;
  }

  .head-img.a1 {
    border-color: #65871d transparent transparent transparent;
  }

  .head-img.a2 {
    border-color: #0d7d67 transparent transparent transparent;
  }

  .head-img.b1 {
    border-color: #e97f5c transparent transparent transparent;
  }

  .head-img.b2 {
    border-color: #fd9b1f transparent transparent transparent;
  }

  .head-img.c1 {
    border-color: #418291 transparent transparent transparent;
  }

  .head-img.c2 {
    border-color: #204d7a transparent transparent transparent;
  }

  .head-img>img {
    width: 40px;
    height: 40px;
    left: 50%;
    top: calc(-100% - 25px);
    transform: translate(-50%, 0%);
  }

  .head-img.avatar>p {
    left: 50%;
    top: calc(-100% - 5px);
  }

  .certification-content>.photo {
    width: 170px;
  }

  .certification-content>.text {
    width: calc(100% - 220px);
  }

  .progress-bar-area {
    margin: 90px auto 0px;
  }

  /*個人首頁 personal*/

  .main.personal {
    flex-direction: column;
  }


  .basic-information {
    width: 100%;
    margin: 20px auto 50px;
    background-color: transparent;
    box-shadow: none;
  }

  .grade-badge-area,
  .badge-area {
    width: 100%;
    margin: 20px auto;
  }

  .personal-information {
    flex-direction: column;
  }

  .personal-information p {
    width: 100%;
  }

  .personal-information h3,
  .performance-course h3,
  .chartbar-area>h3 {
    font-size: 20px;
  }

  .register-time span {
    margin: 0 auto;
  }

  .data-content {
    width: 100%;
    margin: 0px auto;
  }

  /*test 讀後測驗*/

  .test-top {
    background: transparent;
    position: relative;
    padding: 0px;
    flex-wrap: wrap;
  }

  .test-top::before,
  .test-top::after {
    content: none;
  }

  .test-book {
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    align-items: center;
    order: 2;
  }

  .test-title {
    width: 100%;
    background: linear-gradient(0deg, #44959d 100%, #f7f7f7 0%);
    position: relative;
    padding: 35px 10px 15px;
    order: 1;
    margin: 30px auto;
  }

  .test-title::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 30px;
    background-color: #f5c000;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -15px);
    border-radius: 30px 30px 0px 0px;
  }

  .test-title::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #f7f7f7;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -41px);
    border: 6px solid #f5c000;
    border-radius: 50%;
  }

  .test-badge {
    width: 35%;
    order: 3;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .test-book-img {
    width: 40%;
  }

  .test-book-title {
    width: 100%;
  }

  .test-book-text {
    width: 100%;
  }

  fieldset.test-answer {
    flex-direction: column;
    align-items: flex-start;
  }

  .answer-area {
    margin: 30px auto;
    border-radius: 16px;
  }

  /*course 閱讀歷程*/

  .top-information {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .simple-information {
    width: 100%;
  }

  .performance {
    width: 100%;
    margin-left: 0px;
  }

  .circle {
    transform: rotate(90deg);
    margin: -15px 0px -15px 0px;
    justify-content: space-around;
  }

  .circle-1 {
    transform: translateY(-70px);
  }

  .circle-3 {
    transform: translateY(70px);
  }

  .circle-1,
  .circle-2,
  .circle-3 {
    width: 30px;
    height: 15px;
    border: 3px solid #4B4B4B;
    border-bottom: 0px;
  }

  .lowest h3,
  .highest h3,
  .average h3 {
    font-size: 20px;
  }

  /* 導航小書人開始*/
  .navigator {
    width: 280px;
  }

  .navigator-content>.folder-book-img {
    width: 110px;
    height: 110px;
  }

  /*footer*/
  .footer-logo-area {
    padding: 80px 0px;
  }

  .logo {
    flex-wrap: wrap;
  }

  .logo>div {
    margin: 15px 30px 15px 0px;
  }

  .logo>.information {
    width: 100%;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .footer-information>.logo {
    justify-content: flex-start;
  }

  .information {
    display: flex;
  }

  .mail,
  .map {
    margin: 0px 30px 10px 0px;
  }

  .footer-menu {
    width: 60%;
  }

  /*report 閱讀診斷*/
  .dacclogo-information {
    width: 100%;
  }

  .dacclogo-information-under>p {
    font-size: 50px;
    width: 220px;
  }

  .dacc-introduce-text {
    width: calc(95% - 220px);
  }

  .dot {
    position: relative;
    width: 90%;
    left: 10%;
    transform: translate(-10%, -50%);
    height: auto;
    height: 5px;
    background-image: linear-gradient(to right, #4B4B4B 0%, #4B4B4B 50%, transparent 50%);
    background-size: 20px 5px;
    background-repeat: repeat-x;
  }

  .dacctest {
    width: 100%;
    margin-top: -5px;
  }

  .dacclogo-information-top,
  .test-logo {
    padding: 25px;
  }

  .dacclogo-information-under,
  .dacctest-text {
    padding: 15px;
  }
}


@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 16px;
  }

  p,
  a,
  input[type=text],
  input[type=password],
  select,
  label,
  legend,
  tr,
  td,
  select,
  option,
  .daccPage-DACC__table td {
    font-size: 15px;
  }

  .item {
    padding: 3px 10px;
  }

  .content-login-menu,
  .content-personal-menu,
  .content-map-menu,
  .content-about-menu,
  .content-language-menu {
    padding: 0px 10px;
  }

  .dropdown-content li {
    padding: 3px 10px;
  }

  .menu>li {
    padding: 5px 0px;
  }

  .readworld,
  .resource,
  .happylearning,
  .readingability {
    flex-direction: column;
  }

  .readworld-photo,
  .resource-photo,
  .happylearning-photo,
  .readingability-photo {
    width: 100%;
    margin: 25px 0px;
  }

  .readworld-text,
  .resource-text,
  .happylearning-text,
  .readingability-text {
    width: 100%;
  }

  .readworld-text h4,
  .resource-text h4,
  .happylearning-text h4,
  .readingability-text h4 {
    margin-top: 20px;
  }

  div#toggle {
    left: 8px;
    top: 8px;
  }

  .header_logo {
    top: 8px;
  }

  .menu {
    left: 8px;
    top: 8px;
    height: calc(100% - 16px);
  }

  .slide {
    margin-bottom: 60px;
  }

  .slide-bg {
    padding-top: 140px;
    padding-bottom: 30px;
  }

  .slide-bg>h1 {
    font-size: 35px;
  }

  .main {
    width: 85%;
  }

  .main.index {
    width: 100%;
  }

  .main h1 {
    margin-bottom: 30px;
  }

  .feature-content,
  .preferred-book {
    width: 80%;
    margin: 20px auto;
  }

  .feature-content img {
    margin-bottom: 20px;
  }

  .feature-content h2 {
    margin-bottom: 10px;
  }

  .feature-content::before {
    font-size: 85px;
    bottom: 80px;
  }

  .preferred-book {
    margin: 60px auto 0px;
  }

  .swiper {
    width: 75%;
  }

  .swiper-slide>img {
    width: calc(100% - 20px);
  }

  .swiper-wrapper>.swiper-slide>img {
    width: 100%;
  }

  .tittle,
  .swiper-slide>.information {
    width: calc(100% - 20px);
  }

  .swiper-button-next,
  .swiper-button-prev,
  .avatar-swiper-button-next,
  .avatar-swiper-button-prev,
  .banner-swiper-button-next,
  .banner-swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
  }

  .slide-text-1 {
    bottom: 25px;
  }

  .slide-text-1>p {
    font-size: 16px;
  }

  .slide-text-1>img {
    width: 55%;
  }

  .slide-text-2 {
    right: 7%;
    width: 40%;
  }

  .slide-text-2>p {
    font-size: 12px;
  }

  .slide-text-3>.text-3-area {
    width: 80%;
    top: calc(50% + 14px);
  }

  .slide-text-3>.text-3-area>p {
    font-size: 26px;
  }

  .slide-text-3>.text-3-area>p:nth-child(2) {
    font-size: 15px;
  }

  .ebook-logo {
    display: none;
  }

  :root {
    --swiper-navigation-size: 20px;
    --meter-width: calc(100% - 80.33px);
  }

  .open-read {
    flex-direction: column;
    margin: 100px auto 60px;
  }

  .open-read h3 {
    flex-direction: column;
    align-items: center;
  }

  .open-read img {
    height: 30px;
  }

  .join {
    margin-left: 0px;
    margin-top: 20px;
  }

  /*關於我們 about*/
  .about.main h1 {
    letter-spacing: 0px;
    text-align: left;
  }

  /*中文能力診斷 diagnostic*/
  .dacc-introduce {
    margin-bottom: 40px;
  }

  .dacc-advantage {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto 40px;
  }

  .intelligent,
  .diagnosis {
    width: 100%;
    margin: 20px auto;
  }

  .intelligent>img,
  .diagnosis>img {
    width: 45%;
    margin: 0px auto 20px;
  }

  .intelligent>h2,
  .diagnosis>h2 {
    margin-bottom: 10px;
  }

  .dacc-diagnosis {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .dacc-diagnosis img {
    width: 45%;
    margin-bottom: 20px;
  }

  .diagnosis-text h2 {
    margin-bottom: 10px;
  }

  .diagnosis-text {
    width: 100%;
  }

  .diagnosis-text {
    display: flex;
    flex-direction: column;
  }

  .diagnosis-text>button {
    padding: 5px 8px;
  }

  /*常見問題 question*/
  .grade-button {
    margin: 10px auto 30px;
  }

  .questio-area {
    margin-bottom: 30px;
  }

  .faq-question>button>h2 {
    font-size: 17px;
    margin-left: 10px;
  }

  .faq-answer {
    margin-left: 41.24px;
  }

  /*分級對應 grade*/
  .chart-area {
    flex-direction: column;
  }

  .chart {
    width: 100%;
    margin-bottom: 10px;
  }

  .meter>.bar {
    width: 100%;
    height: 40px;
    -webkit-animation-name: slide;
    -moz-animation-name: slide;
    animation-name: slide;
  }

  .meter>.pre-background {
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    animation-duration: .2s;
  }

  .meter>.a1-background {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    animation-duration: .4s;
  }

  .meter>.a2-background {
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    animation-duration: .6s;
  }

  .meter>.b1-background {
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    animation-duration: .8s;
  }

  .meter>.b2-background {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }

  .meter>.c1-background {
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
  }

  .meter>.c2-background {
    -webkit-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    animation-duration: 1.4s;
  }

  .pre-meter {
    width: calc(100% / 2.2);
  }

  .a1-meter {
    width: calc(100% / 2);
  }

  .a2-meter {
    width: calc(100% / 1.8);
  }

  .b1-meter {
    width: calc(100% / 1.6);
  }

  .b2-meter {
    width: calc(100% / 1.4);
  }

  .c1-meter {
    width: calc(100% / 1.2);
  }

  .c2-meter {
    width: calc(100% / 1);
  }

  .meter span {
    width: 85px;
    padding: 10px;
    top: 0;
    border-top: 0px;
  }

  .meter>span::before {
    display: none;
  }

  .grade-content {
    top: 385px;
    height: 162px;
    overflow-y: scroll;
  }

  .chart-text {
    margin: 260px auto 0px;
  }

  .x-timeline-item_content {
    order: 2;
  }

  .x-timeline {
    --x-content-width: auto;
    --x-metacontent-width: auto;
    --x-line-width: 3px;
    margin: 0 auto;
  }

  .x-timeline-item:nth-child(2n) {
    flex-direction: initial;
  }



  .x-timeline-item_content-inner.right,
  .x-timeline-item_content-inner.left {
    margin-right: auto;
    margin-left: 10px;
  }

  .x-timeline-item_content-inner.right>.grade-tag {
    order: 1;
  }

  .x-timeline-item_content-inner.right>.grade-introduction {
    order: 2;
  }

  /*閱讀地圖 map*/
  .sample-btn {
    flex-direction: column;
    align-items: flex-start;
  }

  /*優選書單 booklist*/
  .searchbar {
    flex-direction: column;
    align-items: flex-start;
  }

  select {
    margin-bottom: 15px;
  }

  .booktype>.checkbox {
    width: calc(30% - 10px);
  }

  .standard {
    flex-direction: column;
    align-items: flex-start;
  }

  .standard h3 {
    margin-bottom: 5px;
  }

  .standard p {
    margin-bottom: 5px;
  }

  .bookmenu {
    margin-top: 35px;
    flex-wrap: wrap;
  }

  .bookmenu>div {
    margin: 8px 5px;
  }

  .bookmenu>div.active::before {
    display: none;
  }

  .bookselect>form {
    margin-right: 10px;
  }

  .book-area {
    margin-top: 40px;
  }

  .book-item {
    width: 46%;
    margin: 15px 2%;
  }

  .book-text {
    margin-top: 10px;
  }

  .book-title>h4 {
    height: 49px;
  }

  .book-information>p {
    font-size: 11px;
  }

  .audio-icon {
    width: 25px;
    height: 25px;
    background-size: 15px;
  }

  .grade-tag {
    font-size: 13px;
  }

  .page {
    flex-direction: column;
  }

  .select-pages-number {
    margin: 20px auto 0px;
  }

  .modal {
    width: 95% !important;
    padding: 20px 10px !important;
  }

  span.pagination li a {
    margin: 10px;
  }


  span.pagination a,
  span.pagination span,
  span.pagination.white-pagination a,
  span.pagination.white-pagination span {
    margin: 7px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0px;
    font-size: 13px;
  }

  .book-introduction {
    flex-direction: column;
  }

  .modal-book-img {
    width: 100%;
    height: auto;
    padding: 90px 0px;
    overflow: hidden;
  }

  .modal-book-img>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-btn>ul>li {
    font-size: 15px;
    padding: 4px 0px;
  }

  .introduction-content {
    width: 100%;
    margin-top: 20px;
  }

  button.read {
    padding: 7px 30px;
  }

  span.pagination a:nth-last-child(1),
  span.pagination a:first-child {
    display: none;
  }

  .select-pages-number>select {
    margin-bottom: 0px;
  }

  /*login 登入*/

  .main.login {
    width: 350px;
    margin: 0 auto;
  }

  .login-area {
    padding: 30px;
  }

  /*register 註冊*/
  .birthday>form>input,
  .birthday>form>select {
    margin-bottom: 0px;
  }

  /*library 我的書庫*/

  .slide.library,
  .slide.course,
  .slide.map,
  .slide.report {
    padding-top: 90px;
    padding-bottom: 40px;
    margin-bottom: 60px;
  }

  .slide.library>.title-text>h1,
  .slide.course>.title-text>h1,
  .slide.map>.title-text>h1,
  .slide.report>.title-text>h1 {
    font-size: 35px;
  }

  .library.main,
  .course.main,
  .map.main,
  .report.main {
    width: 90%;
  }

  .folder-item {
    align-items: flex-start;
  }

  .book-total,
  .complete-quiz,
  .full-mark {
    width: 100%;
    border-bottom: 1px dashed #4B4B4B;
    border-right: 0px dashed transparent;
  }

  .full-mark {
    width: 100%;
    border-bottom: 0px dashed transparent;
  }

  .folder-book-content {
    width: calc(95% - 130px);
  }

  .folder-book-img {
    width: 130px;
    height: 130px;
  }

  .folder-book-text>h3 {
    height: auto;
    -webkit-line-clamp: 1;
  }

  .test-button-area {
    width: auto;
  }

  .bottom-button-area>.test-badge {
    width: 50%;
    flex-direction: row;
    justify-content: flex-start;
  }

  .bottom-button-area>.test-badge div img {
    max-width: none;
    max-height: none;
    width: 100%;
    height: auto;
  }

  /*map 地圖*/

  .map.main {
    padding: 10px;
  }

  .icontext {
    width: 120%;
    top: -14%;
  }

  .icontext>p {
    display: none;
  }

  .icontext>p.pre {
    left: -15px;
    transform: translate(0px, 0px);
  }

  .icontext.change {
    transform: translate(-50%, -13px);
  }

  .icontext.change>p {
    display: block;
  }


  .icontext:before {
    display: none;
  }

  .icontext.change:before {
    display: block;
  }

  .bullet {
    width: 45px;
    height: 30px;
  }

  .compass {
    width: 30%;
  }

  /*pre-map pre地圖*/

  .slide.pre-map {
    margin-bottom: 20px;
  }

  .main.map-content {
    width: 80%;
  }

  .map-bigtitle {
    font-size: 120px;
  }

  .map-content {
    margin-left: auto !important;
  }

  .bookmenu.column>div {
    margin: 0px 6px 10px 0px;
    padding: 5px;
  }

  .progress-bar {
    height: 3px;
  }

  .avatar-modal {
    padding: 0px 0px 20px !important;
  }

  .avatar-modal-top {
    min-height: 100px;
  }

  .name>h3 {
    padding-top: 55px;
  }

  .now-avatar {
    width: 80px;
  }

  .now-avatar p {
    font-size: 30px;
  }

  li.avatar>p {
    font-size: 25px;
  }

  li.avatar>img.active {
    border: 3px solid #00a7e5;
  }

  .certification-content>.photo {
    width: 150px;
  }

  .certification-content>.text {
    width: calc(100% - 200px);
  }

  /*個人首頁 personal*/

  .learn-more {
    height: 175px;
  }

  .learn-more>p {
    line-height: 175px;
  }

  .basic-information {
    flex-direction: column;
  }

  .personal-information {
    margin-top: 10px;
  }

  .main.personal {
    margin: -20px auto 0px;
  }

  .basic-information::after {
    font-size: 25px;
    top: -55px;
    left: -30px;
  }

  .grade-badge-area {
    flex-direction: column;
    align-items: flex-start;
  }

  .badge-area {
    flex-direction: column;
    align-items: flex-start;
  }

  .badge-area-item {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto;
  }

  .badge-area-item img {
    width: 35%;
    margin-bottom: 0px;
  }

  .badge-area-item-text {
    align-items: flex-start;
    width: 60%;
  }

  .personal-badge {
    margin-bottom: 20px;
  }

  .progress-content {
    width: 100%;
  }

  .progress-content-top,
  .progress-content-center,
  .progress-content-bottom {
    margin-bottom: 15px;
  }

  /*test 讀後測驗*/

  .main.test {
    width: 70%;
  }

  .test-title>h3 {
    font-size: 18px;
    width: 100%;
  }

  .test-title>p {
    font-size: 16px;
  }

  .test-badge {
    width: 35%;
    order: 3;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .test-badge div {
    height: auto;
  }

  .test-badge div img {
    max-width: 100%;
    max-height: calc((220px - 30px) / 3);
    width: auto;
    height: auto;
  }

  .test-answer>legend>p>span,
  .answer-list>label,
  .button-area>a,
  .test-result {
    font-size: 16px;
  }

  .big-text.test-answer>legend>p>span,
  .big-text.answer-list>label,
  .button-area>a {
    font-size: 24px;
  }

  label>img {
    max-width: 180px;
    max-height: 180px;
  }

  .button-area>input {
    font-size: 16px;
  }

  .badge-modal-content {
    flex-direction: column;
    align-items: center;
  }

  .badge-modal-content>img {
    width: 80%;
  }

  .badge-modal-content>.text {
    margin-top: 30px;
  }

  .badge-modal-content>.text>h3 {
    text-align: center;
    border-bottom: 0px solid #fff;
    font-size: 22px;
  }

  .badge-modal-content>.text>p {
    text-align: center;
  }

  .answer-area {
    width: 100%;
  }

  .wrong::before,
  .correct::before {
    left: -70px;
  }

  .bookman {
    display: none;
  }

  /*course 閱讀歷程*/

  .personal-course>.book-total,
  .personal-course>.complete-quiz {
    width: 100%;
    border-bottom: 1px dashed #4B4B4B;
  }

  .personal-course>.book-total {
    border-right: 0px dashed #4B4B4B;
  }

  .personal-course>.full-mark {
    border-top: 0px dashed #4B4B4B;
  }

  .course-chart-degree,
  .course-chart-sixmonth,
  .course-chart-degree-statistics,
  .course-chart-degree-statistics {
    padding: 45px 0px 15px;
  }

  .lowest,
  .highest,
  .average {
    width: 45%;
    margin: 30px auto 0px;
  }

  .lowest p,
  .highest p,
  .average p {
    font-size: 13px;
  }

  /*footer*/

  .footer-logo-area {
    padding: 60px 0px;
  }

  .footer-under {
    padding: 15px 0px;
    flex-direction: column;
  }

  .information {
    flex-direction: column;
  }

  .logo {
    margin: 0px auto;
  }

  .footer-information>.logo>a>img {
    margin-right: 40px;
    width: calc(100% - 40px);
  }

  .footer-menu {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }


  .footer-menu {
    width: 40%;
  }

  .footer-menu {
    width: 100%;
    margin-top: 40px;
  }

  .main-menu,
  .sub-menu {
    width: calc(30% - 30px);
  }

  .main-menu>p,
  .sub-menu>p>.main-menu>a,
  .sub-menu>a {
    font-size: 13px;
  }

  .products {
    flex-direction: column;
    align-items: flex-start;
  }

  .products p {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .products-img>a>img {
    width: calc(28% - 10px);
    margin-right: 10px;
  }

  .footer-copyright {
    flex-direction: column;
  }

  .footer-copyright>p,
  .footer-copyright>p a {
    margin-bottom: 5px;
  }

  /*report 閱讀診斷*/
  .dacclogo-information-top img {
    height: 90px;
  }

  .dacclogo-information-under {
    flex-direction: column;
  }

  .dacclogo-information-under>p {
    font-size: 35px;
    width: 100%;
    margin-bottom: 15px;
  }

  .dacc-introduce-text {
    width: 100%;
  }

  .dacctest img {
    height: 90px;
  }

  .dot {
    height: 3px;
    background-size: 20px 3px;
  }

  .dacctest {
    width: 100%;
    margin-top: -3px;
  }

  .daccPage-DACC__chart-overall,
  .daccPage-DACC__chart-dimensions {
    padding-top: 40px;
  }

  /*徽章彈跳視窗*/
  .badge-modal-content>.modal-text>h3,
  .badge-modal-content>.two-badge>div>.modal-text>h3 {
    font-size: 20px;
  }

  .badge-modal-content>.button {
    width: 90%;
    flex-direction: column;
  }

  .read-badge.badge-modal-content>.button>a {
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: calc(100% - 40px);
    display: block;
  }

  a.read,
  .badge-modal-content>.button>a {
    padding: 10px 10px;
  }

  .badge-modal-content>.modal-text>h3,
  .badge-modal-content>.two-badge>div>.modal-text>h3,
  .badge-modal-content>div>.modal-text>h3 {
    font-size: 18px;
  }

  /*徽章彈跳視窗*/

}


@media (max-width: 499px) {
  h1 {
    font-size: 17px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
  }

  p,
  a,
  input[type=text],
  input[type=password],
  select,
  label,
  legend,
  tr,
  td,
  select,
  option,
  .daccPage-DACC__table td {
    font-size: 13px;
  }

  .header_logo {
    left: 60px;
  }

  .header_logo img {
    height: 30px;
  }

  div#toggle {
    width: 30px;
    height: 30px;
  }

  div#toggle span {
    width: 20px;
    height: 2px;
  }

  #toggle span:before,
  #toggle span:after {
    height: 2px;
  }

  #toggle span:before {
    margin: -8px 0 0 0;
  }

  #toggle span:after {
    margin: 8px 0 0 0;
  }

  .menu {
    width: calc(100% - 16px);
  }

  .slide-bg {
    padding-top: 85px;
    padding-bottom: 30px;
  }

  .slide-bg>h1 {
    font-size: 28px;
  }

  .line-right:after,
  .line-left:after {
    display: none;
  }

  .feature-content img {
    width: 80%;
  }

  .swiper {
    width: 70%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 5%;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 5%;
  }

  .swiper-slide>.book-block {
    width: 100%;
  }

  .swiper-slide>.book-text {
    width: 100%;
  }

  .tittle {
    font-size: 15px;
  }

  .swiper-slide>.information {
    font-size: 13px;
  }

  .slide-text-1 {
    width: 90%;
  }

  .slide-text-1>p {
    font-size: 12px;
  }

  .slide-text-1>img {
    width: 55%;
    margin-bottom: 0px;
  }

  .slide-text-2 {
    right: 2%;
    width: 45%;
  }

  .slide-text-2>.book-logo {
    display: none;
  }

  .slide-text-3>.text-3-area {
    width: 90%;
    top: calc(50% + 13px);
    left: 5%;
  }

  .slide-text-3>.text-3-area>p {
    font-size: 17px;
  }

  .slide-text-3>.text-3-area>p:nth-child(2) {
    font-size: 11px;
  }




  .slideSwiper>.swiper-button-next,
  .slideSwiper>.swiper-button-prev {
    display: none;
  }

  /*中文能力診斷 diagnostic*/
  .dacc-introduce {
    flex-direction: column;
  }

  .dacc-introduce img {
    width: 50%;
    margin-bottom: 20px;
  }

  .dacc-introduce p {
    width: 100%;
  }

  .dacc-advantage {
    width: 100%;
  }

  .dacc-diagnosis {
    width: 100%;
  }

  /*常見問題 question*/
  .faq-question>button>h2 {
    font-size: 14.5px;
  }

  .faq-answer {
    margin-left: 37px;
  }

  .grade-button {
    border: 0px;
  }

  /*分級對應 grade*/
  .x-timeline-item_content-inner.right,
  .x-timeline-item_content-inner.left {
    margin-left: 5px;
    margin-right: auto;
  }

  .x-timeline-item_marker-inner {
    width: 18px;
    height: 18px;
  }

  /*閱讀地圖 map*/
  .x-timeline {
    width: calc(100% + 50px);
  }

  .sample-btn>button {
    padding: 5px 4px;
  }

  /*優選書單 booklist*/

  .booktype>.checkbox {
    width: calc(50% - 10px);
  }

  .main.map-content {
    width: 90%;
  }

  .booklist.main {
    width: 90%;
  }

  .bookmenu.library {
    margin-top: 60px;
  }

  .bookmenu.column>div {
    padding: 3px;
    margin-right: 7px;
  }

  .bookmenu>div.active::before {
    top: -55px;
  }

  .bookmenu>div>p {
    font-size: 11px;
  }

  .bookmenu>.pre>p>a,
  .bookmenu>.a1>p>a,
  .bookmenu>.a2>p>a,
  .bookmenu>.b1>p>a,
  .bookmenu>.b2>p>a,
  .bookmenu>.c1>p>a,
  .bookmenu>.c2>p>a {
    padding: 4px 3.07px;
  }

  .book-title>h4 {
    height: 44px;
  }


  .book-title>h4>a {
    font-size: 13px;
  }

  .introduction-item {
    height: 150px !important;
  }

  .booklist.main>.introduce>button a {
    border: 0px;
  }

  /*login 登入*/

  .main.login {
    width: 80%;
  }

  .login-button,
  .signup-button {
    font-size: 13px;
  }

  /*library 我的書庫*/

  .slide.library,
  .slide.course,
  .slide.map,
  .slide.report {
    padding-top: 75px;
    padding-bottom: 25px;
  }

  .slide.library>.title-text>h1,
  .slide.course>.title-text>h1,
  .slide.map>.title-text>h1,
  .slide.report>.title-text>h1 {
    font-size: 28px;
  }

  .sort-time>p>img,
  .sort-difficulty>p>img {
    height: 8px;
    margin-left: 0px;
  }

  .folder {
    padding: 10px;
  }

  .folder-item {
    padding: 10px;
  }

  .folder-book-img {
    width: 100%;
    height: 180px;
  }

  .folder-book-text>h3 {
    font-size: 14px !important;
  }

  .folder-book-content {
    width: 100%;
  }

  .test-button>h4 {
    text-align: left;
  }

  .bottom-button-area>.test-badge {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }

  /*map 地圖*/

  .map-progress {
    width: 95%;
    height: 475px;
    margin: -5px auto 95px;
  }

  .bullet {
    width: 30px;
    height: 30px;
  }

  .point {
    top: 135px;
  }

  .icontext {
    top: -10%;
  }

  .icontext>p {
    font-size: 13px;
  }

  .icontext>p.c2 {
    right: 0px;
    left: auto;
    transform: translate(0px, 0px);
  }

  .icontext>p>span {
    font-size: 12px;
  }

  .map-progress:before {
    width: calc(100% + 50px);
    height: calc(100% + 50px);
  }

  .map-progress:after {
    width: calc(100% + 30px);
    height: calc(100% + 30px);
  }

  .map-border {
    width: calc(100% + 42px);
    height: calc(100% + 42px);
    border: 2px dashed #fff;
  }

  /*pre-map pre地圖*/
  .map-bigtitle {
    font-size: 90px;
    top: -35px;
  }

  .certification-content {
    flex-direction: column;
  }

  .certification-content>.photo {
    width: 70%;
    max-width: 120px;
  }

  .certification-content>.text {
    width: 70%;
    margin-top: 20px;
  }

  /*個人首頁 personal*/
  .personal-badge {
    width: 40%;
  }

  .badge-area-item {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .badge-area-item img {
    width: 80%;
    margin-bottom: 15px;
  }

  .badge-area-item-text {
    width: 100%;
    align-items: center;
  }

  .badge-area-item-text p {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .badge-area-item-text span {
    font-size: 12px;
  }

  /*test 讀後測驗*/

  .test-book {
    width: 100%;
    margin-bottom: 20px;
  }

  .test-title>h3 {
    font-size: 16px;
  }

  .test-title>p {
    font-size: 14px;
  }

  .test-badge {
    width: 100%;
    flex-direction: row;
  }

  .personal-information h3,
  .performance-course h3,
  .chartbar-area>h3 {
    font-size: 17px;
  }


  .test-answer>legend>p>span,
  .answer-list>label,
  .button-area>a,
  .test-result {
    font-size: 14px;
  }

  .big-text.test-answer>legend>p>span,
  .big-text.answer-list>label,
  .button-area>a {
    font-size: 22px;
  }


  label>img {
    max-width: 120px;
    max-height: 120px;
  }

  .button-area>input {
    font-size: 14px;
  }

  /*course 閱讀歷程*/
  .top-information {
    margin-top: -30px;
  }

  .circle-1 {
    transform: translateY(-40px);
  }

  .circle-3 {
    transform: translateY(40px);
  }

  .lowest,
  .highest,
  .average {
    width: 45%;
  }

  .lowest h3,
  .highest h3,
  .average h3 {
    font-size: 17px;
  }

  .navigator {
    width: 200px;
  }

  /*footer*/
  .footer-logo-area {
    padding: 40px 0px;
  }

  .footer-under {
    padding: 20px 0px;
  }

  .srmlogo {
    width: 90%;
  }

  .logo>div {
    width: calc(45% - 30px);
  }

  .open-read img {
    height: 20px;
  }

  .products {
    padding: 20px 5%;
  }

  .main-menu,
  .sub-menu {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 20px;
  }

  /*report 閱讀診斷*/

  .dacclogo-information-top img {
    height: 60px;
  }

  .dacclogo-information-top p {
    font-size: 20px;
  }

  .dacclogo-information-under>p {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .dacctest img {
    height: 60px;
  }


}

ul.subs li a {
  display: block;
  text-align: left;
}