$main-color:#446ef6;
$default-black:#2e3233;
$default-gray:#5a5f60;
$light-gray:#F1F1F1;
$default-red:#ff0000;
$white:white;
$regional-purple:#c392c0;
$rangeBar-gray:#e2e2e2;
$rangeBar-darkBlue:#22357299;
$rangeBar-lightBlue:#446ef680;
$button-gray: #e0e0e0;
$button-bg: #f7f7f8;
$button-disabled-bg: #eff0f1;
$button-disabled-text: #bdc0c1;
$dataTables-bg: #f4f8fb;
