@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Noto Sans", "Noto Sans TC", "Noto Sans SC", "fa-brands-400", "Microsoft JhengHei", "Noto Sans TC", "Microsoft YaHei", "PingFang TC", "PingFang SC", "Heiti TC", "Heiti SC", "LiHei Pro", "STXihei", sans-serif;
}

body .main .main_content .main_content_item.category_content .category_content_menu .category_content_tittle p, body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_date .news_date_day p, body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_date .news_date_year h4 {
  font-weight: bold;
}

*,
body {
  font-family: "Noto Sans", "Noto Sans TC", "Noto Sans SC", "Microsoft JhengHei", "Noto Sans TC", "Microsoft YaHei", "PingFang TC", "PingFang SC", "Heiti TC", "Heiti SC", "LiHei Pro", "STXihei", sans-serif;
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 25px;
  line-height: 1.7;
  font-weight: bold;
}

h3 {
  font-size: 26px;
  line-height: 1.7;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

p,
svg {
  font-size: 14px;
  line-height: 1.7;
}

ul,
li {
  font-size: 14px;
  line-height: 1.7;
}

span,
th,
td,
.form-control {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}

a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  color: #5B3716;
}
a:hover {
  text-decoration: none;
  color: #5B3716;
}

ruby {
  letter-spacing: 1.8px;
  line-height: 3;
}

rt {
  transform: translateY(-35%);
}

input,
label {
  font-size: 14px;
  line-height: 1.7;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
}

button {
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: grey !important;
  border: 1px solid grey !important;
  opacity: 0.5;
  cursor: auto !important;
}
button:disabled a {
  color: #fff !important;
  cursor: auto;
}

*,
body {
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

body {
  background-color: #EFE8E0;
}
body.fixed {
  position: relative;
  overflow: hidden;
}

::selection {
  background: #ff6464;
  color: #fff;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 27px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 19px;
  }
  p,
  svg {
    font-size: 15px;
  }
  ul,
  li {
    font-size: 15px;
  }
  span,
  th,
  td,
  .form-control {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  input,
  label {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 29px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 21px;
  }
  p,
  svg {
    font-size: 17px;
  }
  ul,
  li {
    font-size: 17px;
  }
  span,
  th,
  td,
  .form-control {
    font-size: 17px;
  }
  a {
    font-size: 17px;
  }
  input,
  label {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  h5 {
    font-size: 23px;
  }
  p,
  svg {
    font-size: 19px;
  }
  ul,
  li {
    font-size: 19px;
  }
  span,
  th,
  td,
  .form-control {
    font-size: 19px;
  }
  a {
    font-size: 19px;
  }
  input,
  label {
    font-size: 19px;
  }
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 33px;
  }
  h4 {
    font-size: 27px;
  }
  h5 {
    font-size: 24px;
  }
  p,
  svg {
    font-size: 20px;
  }
  ul,
  li {
    font-size: 20px;
  }
  span,
  th,
  td,
  .form-control {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  input,
  label {
    font-size: 20px;
  }
}
.main_content_item_content {
  position: relative;
}
.main_content_item_content .swiper {
  position: initial;
  width: calc(100% - 60px);
}
.main_content_item_content .swiper .swiper-wrapper {
  margin: 0 auto 20px;
}
.main_content_item_content .swiper .swiper_btn_next,
.main_content_item_content .swiper .swiper_btn_prev {
  cursor: pointer;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  z-index: 10;
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  color: #5B3716;
}
.main_content_item_content .swiper .swiper_btn_next::after,
.main_content_item_content .swiper .swiper_btn_prev::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}
.main_content_item_content .swiper .swiper_btn_next:hover,
.main_content_item_content .swiper .swiper_btn_prev:hover {
  color: #ff6464;
}
.main_content_item_content .swiper .swiper_btn_next {
  right: 0px;
}
.main_content_item_content .swiper .swiper_btn_next::after {
  content: "\f138";
}
.main_content_item_content .swiper .swiper_btn_prev {
  left: 0px;
}
.main_content_item_content .swiper .swiper_btn_prev::after {
  content: "\f137";
}
.main_content_item_content .swiper .swiper_pagination {
  position: relative;
  left: 50%;
  bottom: 0px;
}
.main_content_item_content .swiper .swiper_pagination .swiper-pagination-bullet {
  background: #5B3716;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 40px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
  border-radius: 50px;
}
.main_content_item_content .swiper .swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .main_content_item_content .swiper {
    width: calc(100% - 70px);
  }
  .main_content_item_content .swiper .swiper_btn_next::after,
  .main_content_item_content .swiper .swiper_btn_prev::after {
    font-size: 25px;
  }
}
.modal {
  padding: 60px 0;
}
.modal .modal-dialog {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  pointer-events: auto;
}
.modal .modal-dialog .modal_content {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: #EFE8E0;
}
.modal .modal-dialog .modal_content .modal_content_close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
.modal .modal-dialog .modal_content .modal_content_close .modal_close p {
  line-height: 1;
}
.modal .modal-dialog .modal_content .modal_content_close .modal_close p i {
  position: relative;
  font-size: 20px;
  color: #5B3716;
}
.modal .modal-dialog .modal_content .modal_content_close .modal_close p i::before {
  position: relative;
  z-index: 1;
}
.modal .modal-dialog .modal_content .modal_content_close .modal_close p i::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 50%;
}
.modal .modal-dialog .modal_content .modal_content_close:hover .modal_close p i {
  color: #ff6464;
}
.modal .modal-dialog .modal_content .modal_news_date {
  display: inline-block;
  padding: 3px 20px;
  border-radius: 50px;
  background-color: #ff6464;
  transform: translate(-25px, -50%);
}
.modal .modal-dialog .modal_content .modal_news_date p {
  color: #fff;
}
.modal .modal-dialog .modal_content .modal_content_header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 20px 10px;
  border-bottom: 1px solid #5B3716;
}
.modal .modal-dialog .modal_content .modal_content_header .modal_content_tittle {
  width: 100%;
  order: 2;
}
.modal .modal-dialog .modal_content .modal_content_header .modal_content_tittle h4 {
  color: #5B3716;
}
.modal .modal-dialog .modal_content .modal_content_header .modal_news_category {
  display: flex;
  justify-content: flex-end;
  order: 1;
  margin: 0 0 10px;
}
.modal .modal-dialog .modal_content .modal_content_header .modal_news_category p {
  display: inline-block;
  background-color: #5B3716;
  color: #fff;
  padding: 3px 20px;
  border-radius: 50px;
}
.modal .modal-dialog .modal_content .modal_content_body {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}
.modal .modal-dialog .modal_content .modal_content_body span {
  color: #ff6464;
}
.modal .modal-dialog .modal_content .modal_content_body a {
  display: inline-block;
  margin: 0px 0 5px;
  color: #5B3716;
  background: linear-gradient(#5B3716, #5B3716) 100% calc(100% + 1px)/0% 1px no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function);
  border-bottom: 1px solid #5B3716;
  padding: 0 3px 1px;
  word-break: break-all;
}
.modal .modal-dialog .modal_content .modal_content_body a:hover {
  color: #ff6464;
  background-position: 100% 100%;
  background: linear-gradient(#ff6464, #ff6464) 0% calc(100% + 1px)/100% 1px no-repeat;
  border-bottom: 1px solid transparent;
}
.modal .modal-dialog .modal_content .modal_content_body .SREname {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 80px 0;
  }
  .modal .modal-dialog .modal_content .modal_content_close .modal_close p i {
    font-size: 25px;
  }
  .modal .modal-dialog .modal_content .modal_content_header {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 30px 20px;
  }
  .modal .modal-dialog .modal_content .modal_content_header .modal_content_tittle {
    width: auto;
    order: 1;
  }
  .modal .modal-dialog .modal_content .modal_content_header .modal_news_category {
    order: 2;
    margin: 0;
    width: 35%;
  }
  .modal .modal-dialog .modal_content .modal_content_body {
    padding: 20px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .modal .modal-dialog {
    max-width: 1200px;
  }
  .modal .modal-dialog .modal_content .modal_content_close .modal_close p i {
    font-size: 25px;
  }
  .modal .modal-dialog .modal_content .modal_content_header {
    padding: 0 30px 20px;
  }
  .modal .modal-dialog .modal_content .modal_content_body {
    padding: 20px 30px;
  }
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F2F2F2;
}
header .header_logo {
  display: flex;
  align-items: center;
  width: calc(90% - 70px);
  max-width: 450px;
  z-index: 1;
  padding: 20px 0 20px 5%;
  background-color: #F2F2F2;
}
header .header_logo a {
  width: 100%;
}
header .toggle {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5% 0 0;
  z-index: 1;
  cursor: pointer;
  background-color: #F2F2F2;
}
header .toggle .menu_trigger {
  width: 50px;
  margin: 10px;
}
header .toggle .menu_trigger span {
  display: block;
  height: 5px;
  background-color: #ff6464;
  border-radius: 50px;
  transition: var(--transition-duration);
}
header .toggle .menu_trigger span:nth-child(1) {
  margin: 0 auto 10px;
}
header .toggle .menu_trigger p {
  margin: 5px auto 0;
}
header nav {
  position: relative;
  transform: translate(0%, -100%);
  width: 100%;
  background-color: #F2F2F2;
  transition: 0.4s;
}
header nav .menu {
  display: none;
  padding: 0 5% 40px;
  overflow-y: scroll;
}
header nav .menu .menu_pagination li {
  background-position: 0% 100%;
  background: linear-gradient(#5B3716, #5B3716) 100% calc(100% + 1px)/0% 1px no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function);
  border-bottom: 1px solid #5B3716;
}
header nav .menu .menu_pagination li a {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .menu .menu_pagination li a.nowPage span {
  color: #ff6464;
}
header nav .menu .menu_pagination li a span {
  color: #5B3716;
}
header nav .menu .menu_pagination li a .menu_icon {
  font-size: 20px;
  transition: var(--transition-duration) var(--transition-timing-function);
}
header nav .menu .menu_pagination li:nth-last-child(1) {
  border-bottom: 1px solid transparent;
}
header nav .menu .menu_pagination li:hover {
  background-position: 100% 100%;
  background: linear-gradient(#ff6464, #ff6464) 0% calc(100% + 1px)/100% 1px no-repeat;
  border-bottom: 1px solid transparent;
}
header nav .menu .menu_pagination li:hover a span {
  color: #ff6464;
  font-weight: bold;
}
header nav .menu .menu_pagination li:hover a .menu_icon {
  color: #ff6464;
}
header.open .toggle .menu_trigger span {
  margin: 0;
}
header.open .toggle .menu_trigger span:nth-child(1) {
  transform: rotate(20.5deg) translate(0, 50%);
}
header.open .toggle .menu_trigger span:nth-child(2) {
  transform: rotate(-20.5deg) translate(0, -50%);
}
header.open nav {
  transform: translate(0%, 0%);
}
header.open nav .menu {
  display: block;
}
header.open nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: #F2F2F2;
}

:root {
  --transition-duration: .3s;
  --transition-timing-function: cubic-bezier(.3, 1, .3, 1);
}

@media screen and (min-width: 768px) {
  header nav .menu .menu_pagination li a .menu_icon {
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) {
  header {
    align-items: center;
    padding: 15px 2.5%;
  }
  header .header_logo {
    width: 30%;
    max-width: none;
    padding: 20px 0;
  }
  header .toggle {
    display: none;
    cursor: pointer;
  }
  header .toggle .menu_trigger {
    width: 50px;
    margin: 10px;
  }
  header .toggle .menu_trigger span {
    display: block;
    height: 4px;
    background-color: rgb(18, 77, 138);
  }
  header .toggle .menu_trigger span:nth-child(1) {
    margin: 0 auto 10px;
  }
  header .toggle .menu_trigger p {
    margin: 5px auto 0;
  }
  header nav {
    width: 65%;
    display: block;
    transform: translate(0, 0);
  }
  header nav .menu {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    height: auto;
    overflow: auto;
  }
  header nav .menu .menu_pagination {
    display: flex;
    justify-content: flex-end;
  }
  header nav .menu .menu_pagination li {
    background: linear-gradient(#5B3716, #5B3716) 100% calc(100% + 1px)/0% 0px no-repeat;
    border-bottom: 1px solid transparent;
  }
  header nav .menu .menu_pagination li a .menu_icon {
    display: none;
  }
  header.open nav::after {
    display: none;
  }
}
footer {
  background-color: #F2F2F2;
  padding: 20px 0px;
}
footer .scroll_top {
  position: fixed;
  z-index: 2;
  right: 8px;
  bottom: 20px;
}
footer .scroll_top i {
  font-size: 25px;
}
footer .scroll_top:hover i {
  color: #ff6464;
}
footer .footer_logo {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px;
}
footer .footer_logo img {
  width: 45%;
}
footer .footer_information {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto 20px;
}
footer .footer_information .information a {
  color: #5B3716;
}
footer .footer_information .products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 0;
}
footer .footer_information .products p {
  width: 100%;
  color: #5B3716;
}
footer .footer_information .products .products_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
footer .footer_information .products .products_logo a {
  margin: 5px 10px 5px 0;
}
footer .footer_information .products .products_logo a img {
  height: 30px;
}
footer .footer_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 10% 0px;
  border-top: 1px solid #5B3716;
  color: #5B3716;
}
footer .footer_copyright .footer_copyright_link {
  margin: 0 0 5px;
}
footer .footer_copyright a {
  color: #5B3716;
  font-size: 12px;
}
footer .footer_copyright p {
  color: #5B3716;
  font-size: 12px;
}

@media screen and (min-width: 500px) {
  footer .footer_information .products .products_logo a {
    margin: 5px 15px 5px 0;
  }
  footer .footer_information .products .products_logo a img {
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  footer .scroll_top {
    right: 15px;
  }
  footer .scroll_top i {
    font-size: 30px;
  }
  footer .footer_information .products .products_logo a {
    margin: 10px 20px 10px 0;
  }
  footer .footer_information .products .products_logo a img {
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding: 35px 0px;
  }
  footer .footer_logo {
    margin-bottom: 0 auto 35px;
  }
  footer .footer_logo img {
    width: 40%;
  }
  footer .footer_information {
    margin: 35px auto;
    align-items: flex-start;
    flex-direction: row;
  }
  footer .footer_information .information {
    margin: 0 15px 0 0;
  }
  footer .footer_information .products {
    margin: 0;
  }
  footer .footer_information .products .products_logo img {
    height: 65px;
  }
}
body .main .main_content {
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
}
body .main .main_content .main_content_item {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}
body .main .main_content .main_content_item .main_content_tittle {
  margin: 0 0 20px;
  order: 1;
}
body .main .main_content .main_content_item .main_content_tittle h3 {
  color: #5B3716;
}
body .main .main_content .main_content_item .main_content_item_link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #5B3716;
  border-radius: 50px;
  margin: 30px auto;
  background: linear-gradient(#ff6464, #ff6464) 100% 100%/0% 100% no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function);
  background-color: #fff;
}
body .main .main_content .main_content_item .main_content_item_link:hover {
  border: 1px solid #ff6464;
  background: linear-gradient(#ff6464, #ff6464) 0% 100%/100% 100% no-repeat;
}
body .main .main_content .main_content_item .main_content_item_link:hover .main_content_item_link_text p {
  color: #fff;
}
body .main .main_content .main_content_item .main_content_item_link:hover .main_content_item_link_icon i {
  color: #fff;
}
body .main .main_content .main_content_item .main_content_item_link .main_content_item_link_text {
  margin: 0 20px 0 0;
}
body .main .main_content .main_content_item .main_content_item_link .main_content_item_link_text p {
  color: #5B3716;
}
body .main .main_content .main_content_item .main_content_item_link .main_content_item_link_icon {
  position: absolute;
  right: 20px;
  line-height: 1;
}
body .main .main_content .main_content_item .main_content_item_link .main_content_item_link_icon i {
  color: #5B3716;
  font-size: 20px;
}
body .main .main_content .main_content_item .main_content_item_content {
  width: 100%;
  order: 2;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  background: linear-gradient(#ff6464, #ff6464) 100% 100%/0% 100% no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function);
  border-bottom: 1px solid #5B3716;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item:hover {
  background: linear-gradient(#ff6464, #ff6464) 0% 100%/100% 100% no-repeat;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item:hover .news_date .news_date_year h4 {
  color: #fff;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item:hover .news_date .news_date_day p {
  color: #fff;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item:hover .news_text {
  width: calc(100% - 66.05px - 51.5px);
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item:hover .news_text .news_tittle p {
  color: #fff;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item:hover .news_arrow p i {
  color: #fff;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item:nth-last-child(1) {
  border-bottom: 0px;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_date {
  margin: 0 20px 0 0;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_date .news_date_year h4 {
  color: #ff6464;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_date .news_date_day {
  display: flex;
  justify-content: center;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_date .news_date_day p {
  color: #ff6464;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_text {
  width: calc(100% - 66.05px - 51.5px);
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_text .news_category {
  display: inline-block;
  margin: 0 0 10px;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_text .news_category p {
  background-color: #5B3716;
  color: #fff;
  padding: 3px 20px;
  border-radius: 50px;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_text .news_tittle p {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  /*!autoprefixer:off*/
  -webkit-box-orient: vertical;
  /*!autoprefixer:on*/
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_arrow {
  margin: 0 0 0 20px;
}
body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_arrow p i {
  color: #5B3716;
  font-size: 20px;
}
body .main .main_content .main_content_item .main_content_item_content.swiper_activities_area .swiper .swiper-wrapper .swiper-slide {
  border-radius: 5px;
}
body .main .main_content .main_content_item .main_content_item_content.swiper_recommended_area .swiper .swiper-wrapper .swiper-slide {
  background-color: #fff;
  border-radius: 5px;
  width: 80%;
}
body .main .main_content .main_content_item .main_content_item_content.swiper_recommended_area .swiper .swiper-wrapper .swiper-slide img {
  border-radius: 5px;
}
body .main .main_content .main_content_item .main_content_item_content.swiper_recommended_area .swiper .swiper-wrapper .swiper-slide .audio_icon {
  background-color: #ff6464;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  border-radius: 0px 5px 0px 5px;
}
body .main .main_content .main_content_item .main_content_item_content.swiper_recommended_area .swiper .swiper-wrapper .swiper-slide .audio_icon i {
  color: #fff;
}
body .main .main_content .main_content_item .main_content_item_content.swiper_recommended_area .swiper .swiper-wrapper .swiper-slide .book_content {
  width: 80%;
  margin: 0px auto;
  padding: 15px 0px;
}
body .main .main_content .main_content_item .main_content_item_content.swiper_recommended_area .swiper .swiper-wrapper .swiper-slide .book_content h4 {
  color: #5B3716;
  margin: 0 0 8px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /*!autoprefixer:off*/
  -webkit-box-orient: vertical;
  /*!autoprefixer:on*/
}
body body,
body div,
body dl,
body dt,
body dd,
body ul,
body ol,
body li,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body pre,
body code,
body form,
body fieldset,
body legend,
body input,
body textarea,
body p,
body a,
body span,
body blockquote,
body th,
body td,
body figure {
  color: #333333;
}

@media screen and (min-width: 768px) {
  body .main .main_content .main_content_item {
    margin: 100px auto;
    align-items: center;
    justify-content: space-between;
  }
  body .main .main_content .main_content_item .main_content_tittle {
    margin: 0 0 30px;
  }
  body .main .main_content .main_content_item .main_content_item_link {
    order: 2;
    width: auto;
    padding: 10px 50px;
    margin: 0 0 30px;
  }
  body .main .main_content .main_content_item .main_content_item_link .main_content_item_link_icon i {
    font-size: 25px;
  }
  body .main .main_content .main_content_item .main_content_item_content {
    order: 3;
  }
  body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item {
    padding: 25px 10px;
  }
  body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_date {
    margin: 0 40px 0 0;
  }
  body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_text {
    width: calc(100% - 86.05px - 75.89px);
  }
  body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_text .news_category {
    margin: 0 0 15px;
  }
  body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_arrow {
    margin: 0 0 0 40px;
  }
  body .main .main_content .main_content_item .main_content_item_content.news_content .news_content_item .news_arrow p i {
    font-size: 25px;
  }
}
body .main .main_content .main_content_item.category_content {
  order: 2;
  margin: 0 auto 40px;
}
body .main .main_content .main_content_item.category_content .category_content_menu {
  width: 100%;
  padding: 30px 20px;
  margin: 0 auto 30px;
  background-color: #fff;
  border: 1px solid #5B3716;
  border-radius: 5px;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_tittle {
  width: 100%;
  padding: 0 0 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #5B3716;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav {
  width: 100%;
  padding: 10px 0 0;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li {
  margin: 5px 0;
  width: 45%;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li a {
  padding: 5px;
  display: inline-block;
  background-position: 0% 100%;
  background: linear-gradient(transparent, transparent) 100% calc(100% + 1px)/0% 1px no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function);
  border-bottom: 1px solid transparent;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li a .menu_icon i {
  transform: rotate(90deg);
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li a.active span {
  color: #ff6464;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li:hover a {
  background-position: 100% 100%;
  background: linear-gradient(#ff6464, #ff6464) 0% calc(100% + 1px)/100% 1px no-repeat;
  border-bottom: 1px solid transparent;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li:hover a span {
  color: #ff6464;
  font-weight: bold;
}
body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li:hover a .menu_icon {
  color: #ff6464;
}
body .main .main_content .main_content_item.category_content .category_content_item {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project {
  width: 100%;
  background-color: #5B3716;
  padding: 15px 20px;
  margin: 0 0 20px;
  border-radius: 5px;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project .category_content_item_project_text h5 {
  color: #fff;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_information {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #5B3716;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_information .project_information_text .project_information_text_list {
  display: flex;
  margin: 10px auto;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_information .project_information_text .project_information_text_list p a {
  margin: 0 0 5px;
  color: #5B3716;
  background: linear-gradient(#5B3716, #5B3716) 100% calc(100% + 1px)/0% 1px no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function);
  border-bottom: 1px solid #5B3716;
  padding: 0 3px 1px;
  word-break: break-all;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_information .project_information_text .project_information_text_list p a:hover {
  color: #ff6464;
  background-position: 100% 100%;
  background: linear-gradient(#ff6464, #ff6464) 0% calc(100% + 1px)/100% 1px no-repeat;
  border-bottom: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list {
    justify-content: flex-start;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li {
    width: 30%;
    margin: 5px 3.33333% 5px 0;
  }
}
@media screen and (min-width: 992px) {
  body .main .main_content .main_content_item.category_content {
    align-items: flex-start;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu {
    position: sticky;
    top: 40px;
    width: 30%;
    margin: 40px 0;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li {
    width: 100%;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li a .menu_icon i {
    transform: rotate(0deg);
  }
  body .main .main_content .main_content_item.category_content .category_content_item {
    width: 65%;
    margin: 0 0 0px auto;
    padding: 40px 0;
  }
}
@media screen and (min-width: 1200px) {
  body .main .main_content .main_content_item.category_content .category_content_menu {
    width: 25%;
    margin: 40px 0;
  }
  body .main .main_content .main_content_item.category_content .category_content_item {
    width: 70%;
    padding: 40px 0;
  }
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #5B3716;
  margin: 0 0 20px;
  cursor: pointer;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area.open {
  border: 1px solid #ff6464;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area.open .faq_question h5, body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area.open .faq_question i {
  color: #ff6464;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area .faq_question {
  position: relative;
  display: flex;
  width: calc(100% - 20px);
  padding: 20px;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area .faq_question:hover h5, body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area .faq_question:hover i {
  color: #ff6464;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area .faq_question i {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0, -50%);
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area .faq_answer {
  display: flex;
  border-top: 1px solid;
  padding: 20px;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area .faq_answer p a {
  margin: 0 0 5px;
  color: #5B3716;
  background: linear-gradient(#5B3716, #5B3716) 100% calc(100% + 1px)/0% 1px no-repeat;
  transition: background-size var(--transition-duration) var(--transition-timing-function);
  border-bottom: 1px solid #5B3716;
  padding: 0 3px 1px;
  word-break: break-all;
}
body .main .main_content .main_content_item.category_content .category_content_item .category_content_item_project_question .item_project_question_area .faq_answer p a:hover {
  color: #ff6464;
  background-position: 100% 100%;
  background: linear-gradient(#ff6464, #ff6464) 0% calc(100% + 1px)/100% 1px no-repeat;
  border-bottom: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list {
    justify-content: flex-start;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li {
    width: 30%;
    margin: 5px 3.33333% 5px 0;
  }
}
@media screen and (min-width: 992px) {
  body .main .main_content .main_content_item.category_content {
    align-items: flex-start;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu {
    position: sticky;
    top: 20px;
    width: 30%;
    margin: 40px 0;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li {
    width: 100%;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  body .main .main_content .main_content_item.category_content .category_content_menu .category_content_nav .category_content_nav_inner .category_content_nav_inner_list li a .menu_icon i {
    transform: rotate(0deg);
  }
  body .main .main_content .main_content_item.category_content .category_content_item {
    width: 65%;
    margin: 0 0 0px auto;
    padding: 40px 0;
  }
}
@media screen and (min-width: 1200px) {
  body .main .main_content .main_content_item.category_content .category_content_menu {
    width: 25%;
    top: 20px;
    margin: 40px 0;
  }
  body .main .main_content .main_content_item.category_content .category_content_item {
    width: 70%;
    padding: 40px 0;
  }
}/*# sourceMappingURL=contest2024.css.map */