@charset "UTF-8";
/*閱讀任務完成進度彈跳視窗*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans TC", "PingFang TC", "微軟正黑體", "蘋果儷中黑", "sans-serif", Arial;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #2e3233;
}

h1 {
  font-size: 25px;
  line-height: 1.7;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  line-height: 1.7;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

p,
select,
li,
.form-control {
  font-size: 14px;
  line-height: 1.7;
  color: #2e3233;
}

span,
th,
td,
button,
.btn {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}

a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  color: #2e3233;
}
a:hover, a:focus {
  text-decoration: none;
}

input,
label,
textarea {
  font-size: 14px !important;
  line-height: 1.7;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
}

button {
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  opacity: 0.5;
  cursor: auto;
}

*,
body {
  font-family: "Noto Sans TC", "Noto Sans SC", "Microsoft JhengHei", "Microsoft YaHei", "PingFang TC", "PingFang SC", "Heiti TC", "Heiti SC", "LiHei Pro", "STXihei", sans-serif;
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

cursor {
  cursor: pointer;
}

.dotted_bottom {
  border-bottom: 1px dotted #5a5f60;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 19px;
  }
  p,
  select,
  li,
  .form-control {
    font-size: 15px;
  }
  span,
  th,
  td,
  button,
  .btn {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  input,
  label,
  textarea {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 21px;
  }
  p,
  select,
  li,
  .form-control {
    font-size: 17px;
  }
  span,
  th,
  td,
  button,
  .btn {
    font-size: 17px;
  }
  a {
    font-size: 17px;
  }
  input,
  label,
  textarea {
    font-size: 17px !important;
  }
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 27px;
  }
  h5 {
    font-size: 23px;
  }
  p,
  select,
  li,
  .form-control {
    font-size: 19px;
  }
  span,
  th,
  td,
  button,
  .btn {
    font-size: 19px;
  }
  a {
    font-size: 19px;
  }
  input,
  label,
  textarea {
    font-size: 19px !important;
  }
}
main .color_line {
  width: 100%;
  height: 5px;
  display: flex;
}
main .color_line .color_line_item {
  width: 14.2857142857%;
}
main .color_line .color_line_item.color_one {
  background-color: #19ba94;
}
main .color_line .color_line_item.color_two {
  background-color: #65871d;
}
main .color_line .color_line_item.color_three {
  background-color: #0d7d67;
}
main .color_line .color_line_item.color_four {
  background-color: #e97f5c;
}
main .color_line .color_line_item.color_five {
  background-color: #fd9b1f;
}
main .color_line .color_line_item.color_six {
  background-color: #418291;
}
main .color_line .color_line_item.color_seven {
  background-color: #204d7a;
}
main .teacher_header_tittle {
  padding: 70px 60px;
  background-image: url(../images/photo/slide-teacher.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 80px;
}
main .teacher_header_tittle p {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
main .table_responsive {
  width: 80%;
  margin: 0 auto;
  overflow-x: scroll;
}
main .table_responsive .table_responsive_tittle {
  display: flex;
  justify-content: center;
}
main .table_responsive .table_responsive_tittle h4 {
  color: #016a48;
}
main .table_responsive .table_responsive_tittle h4 span {
  font-size: 20px;
}
main .table_responsive .table_responsive_searchbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
main .table_responsive table {
  overflow: hidden;
  width: 100%;
  margin: 40px 0 0;
  display: table;
}
main .table_responsive table thead tr th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  max-width: 400px;
  padding: 15px 20px;
  background-color: #378a25;
  color: white;
  text-align: center;
  border-right: 1px solid white;
}
main .table_responsive table thead tr th:nth-last-child(1) {
  border-right: 0px;
}
main .table_responsive table tbody {
  overflow-x: auto;
}
main .table_responsive table tbody tr td {
  padding: 15px 20px;
  white-space: nowrap;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid white;
}
main .table_responsive table tbody tr td:nth-child(even) {
  background-color: #f7f7f7;
}
main .table_responsive table tbody tr td.table_link_td {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .table_responsive table tbody tr td.table_link_td .table_link svg {
  margin: 0 5px 0 0;
}
main .table_responsive table tbody tr td.table_link_td .table_link:hover {
  color: #378a25;
}
main .table_responsive table tbody tr td.table_link_td:hover {
  background-color: #f7f7f7;
}
main .table_responsive table tbody tr td:hover {
  background-color: #d6b936;
}
main .page-teacher {
  width: 90%;
  margin: 40px auto 60px;
}
main .page-teacher span.pagination {
  display: flex;
  justify-content: center;
  border-radius: 0;
}
main .page-teacher span.pagination a,
main .page-teacher span.pagination span {
  color: #378a25;
  float: left;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #378a25;
  margin: 10px 15px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
main .page-teacher span.pagination a:nth-child(1), main .page-teacher span.pagination a:nth-last-child(1),
main .page-teacher span.pagination span:nth-child(1),
main .page-teacher span.pagination span:nth-last-child(1) {
  border: none;
  width: auto;
  height: auto;
  border-radius: 16px;
  padding: 2px 15px;
}
main .page-teacher span.pagination a.active,
main .page-teacher span.pagination span.active {
  background-color: #378a25;
  color: white;
  border-radius: 50%;
}
main .page-teacher span.pagination a:hover,
main .page-teacher span.pagination span:hover {
  background-color: #378a25;
  color: white;
}

@media screen and (min-width: 768px) {
  main .table_responsive .table_responsive_tittle h4 span {
    font-size: 21px;
  }
}
@media screen and (min-width: 992px) {
  main .table_responsive .table_responsive_tittle h4 span {
    font-size: 23px;
  }
}
@media screen and (min-width: 1400px) {
  main .table_responsive .table_responsive_tittle h4 span {
    font-size: 27px;
  }
}/*# sourceMappingURL=SR-teacher.css.map */