header {
    padding: 30px 5% 30px 2%;
    display: flex;
    align-items: center;
    position: relative;

    .book-logo {
        img {
            width: auto;
            height: 34px;
            // 20240503修改
            height: 54px;
        }
    }

    .book-title {
        width: 50%;
        max-width: calc(100% - 600px);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: $main_color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (max-width: 768px) {

    header {
        align-items: flex-start;
        padding: 15px 5%;

        .book-title {
            max-width: 80%;
            margin-top: 40px;
            font-size: 20px;
        }
    }
}