footer{
	.footer_copyright{
        background-color: #242529;
        border-top: 1px solid #4b4d54;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            font-size: 14px;
            color: #FFF;
            margin: 5px auto;
        }
    }

    .footer-info{
        .footer_top{
            .footer-info__contact{
                .footer-info__contact_CLTC{
                    p{
                        color: #FFF;
                    }
                }
            }
        }

        .footer-info__info{
            li{
                padding-left: 0 !important;
                text-indent: 0 !important;
                display: flex;
                align-items: flex-start;
                
                i{
                    width: auto;
                    margin: 0 5px 0 0;
                    line-height: 1.6em;
                }
            }
        }
    }
}