@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 25px;
  line-height: 1.7;
}

h3 {
  font-size: 21px;
  line-height: 1.7;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #2e3233;
}

span,
th,
td {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  color: #2e3233;
}

a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  color: #2e3233;
}

input,
label {
  font-size: 14px;
  line-height: 1.7;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
}

button {
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  opacity: 0.5;
  cursor: auto;
}

*,
body {
  font-family: 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei',  'PingFang TC', 'PingFang SC',  'Heiti TC', 'Heiti SC',  'LiHei Pro','STXihei', sans-serif;
  letter-spacing: 1.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4f8fb;
}

.main_color {
  color: #b284f6 !important;
}

.link_btn {
  background-color: #b284f6;
  color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
}

.link_btn:hover {
  background-color: #9454f3;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 21px;
  }
  p {
    font-size: 15px;
  }
  span,
  th,
  td {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  input,
  label {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 23px;
  }
  p {
    font-size: 17px;
  }
  span,
  th,
  td {
    font-size: 17px;
  }
  a {
    font-size: 17px;
  }
  input,
  label {
    font-size: 17px;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 27px;
  }
  p {
    font-size: 19px;
  }
  span,
  th,
  td {
    font-size: 19px;
  }
  a {
    font-size: 19px;
  }
  input,
  label {
    font-size: 19px;
  }
}

.btn-close:focus {
  -webkit-box-shadow: inset 0 0 0.08rem rgba(178, 132, 246, 0.75);
          box-shadow: inset 0 0 0.08rem rgba(178, 132, 246, 0.75);
}

.btn {
  border-radius: 10px;
  font-size: 14px;
}

.btn:focus {
  -webkit-box-shadow: inset 0 0 0.08rem rgba(178, 132, 246, 0.75);
          box-shadow: inset 0 0 0.08rem rgba(178, 132, 246, 0.75);
}

.btn:hover {
  background-color: #9454f3;
}

.modal-footer {
  width: 100%;
}

.svg_icon {
  margin: 0px 5px;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .btn {
    font-size: 17px;
  }
}

@media screen and (min-width: 1400px) {
  .btn {
    font-size: 19px;
  }
}

input {
  margin-left: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

body {
  font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif;
}

header {
  background-color: #fff;
}

header nav .container-fluid .navbar-brand {
  width: 70%;
}

header nav .container-fluid .navbar-toggler {
  border: 1px solid #b284f6;
}

header nav .container-fluid .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #b284f6;
}

header nav .container-fluid .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

header nav .container-fluid .navbar-toggler:hover {
  background-color: #b284f6;
}

header nav .container-fluid .navbar-toggler:hover .icon-bar {
  background-color: #fff;
}

header nav .container-fluid .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .container-fluid .navbar-collapse ul li.nav-item.active, header nav .container-fluid .navbar-collapse ul li.nav-item:hover {
  color: #b284f6;
}

header nav .container-fluid .navbar-collapse ul li.nav-item.active .nav-link, header nav .container-fluid .navbar-collapse ul li.nav-item:hover .nav-link {
  color: #b284f6;
}

header nav .container-fluid .navbar-collapse ul li.nav-item.active p.nav-link, header nav .container-fluid .navbar-collapse ul li.nav-item:hover p.nav-link {
  color: #2e3233;
}

header nav .container-fluid .navbar-collapse ul li.nav-item .nav-link {
  color: #2e3233;
  padding: 5px 10px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  header nav .container-fluid .navbar-brand {
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  header nav .container-fluid .navbar-brand {
    width: 30%;
    max-width: 400px;
  }
  header nav .container-fluid .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav .container-fluid .navbar-collapse ul li .nav-link {
    font-size: 20px;
    padding: 0px 8px;
  }
}

footer {
  padding: 50px 0px 30px;
  background-color: #242529;
}

footer .footer_area {
  margin: 0 auto;
}

footer .footer_area .footer_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_area .footer_information .footer_information_logo img {
  max-width: 250px;
}

footer .footer_area .footer_information .footer_information_connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0px;
}

footer .footer_area .footer_information .footer_information_connection .connection_mail,
footer .footer_area .footer_information .footer_information_connection .connection_map {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer .footer_area .footer_information .footer_information_connection .connection_mail p,
footer .footer_area .footer_information .footer_information_connection .connection_map p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 5px 0;
}

footer .footer_area .footer_information .footer_information_connection .connection_mail p span,
footer .footer_area .footer_information .footer_information_connection .connection_map p span {
  color: #fff;
}

footer .footer_area .footer_information .footer_information_connection .connection_mail p span img,
footer .footer_area .footer_information .footer_information_connection .connection_map p span img {
  width: 20px;
  margin-right: 5px;
}

footer .footer_area .other_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px auto 20px;
}

footer .footer_area .other_logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin: 15px 0px;
}

footer .footer_area .other_logo div p {
  color: #fff;
}

footer .footer_area .other_logo div img {
  margin: 15px 0px 0px;
  max-width: 250px;
}

footer .footer_area .footer_copyright p {
  color: #fff;
  text-align: left;
}

@media screen and (min-width: 576px) {
  footer .footer_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_area .other_logo {
    margin: 0px 0px 20px;
  }
}

@media screen and (min-width: 768px) {
  footer .footer_area .footer_information .footer_information_logo img {
    max-width: none;
  }
  footer .footer_area .other_logo div img {
    max-width: none;
  }
}

@media screen and (min-width: 992px) {
  footer .footer_area .footer_information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer_area .footer_information .footer_information_logo {
    padding: 0 15px;
  }
  footer .footer_area .footer_information .footer_information_logo img {
    width: auto;
    max-height: 100px;
    max-width: 100%;
  }
  footer .footer_area .footer_information .footer_information_connection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 15px;
    margin: 0px 0px 15px;
  }
  footer .footer_area .footer_information .footer_information_connection .connection_mail,
  footer .footer_area .footer_information .footer_information_connection .connection_map {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  footer .footer_area .other_logo {
    margin: 30px 0px 50px;
  }
  footer .footer_area .other_logo div {
    padding: 0 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer_area .other_logo div p {
    width: 100%;
  }
  footer .footer_area .other_logo div img {
    width: 90%;
    margin: 10px 5% 0px 0px;
  }
  footer .footer_area .other_logo div:nth-child(1) img {
    width: 45%;
  }
  footer .footer_area .footer_copyright {
    padding: 0 15px;
  }
  footer .footer_area .footer_copyright p {
    text-align: center;
  }
}

main .discussion_title_area {
  background-color: #4a2f96;
}

main .discussion_title_area .discussion_title {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

main .discussion_title_area .discussion_title h3 {
  color: #fff;
}

main .progress_bar_area {
  max-width: 1200px;
  width: 80%;
  margin: 20px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .progress_bar_area .progress_bar {
  position: absolute;
  top: calc(45px / 2);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 66%;
  height: 5px;
  z-index: -1;
}

main .progress_bar_area .progress_bar .progress_bar_item {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
}

main .progress_bar_area .progress_bar .progress_bar_item.progress_bar_color {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f44747), color-stop(0%, #e29335));
  background: linear-gradient(90deg, #f44747 50%, #e29335 0%);
  z-index: -1;
}

main .progress_bar_area .progress_bar .progress_bar_item.progress_bar_gray {
  background-color: #2e3233;
}

main .progress_bar_area .progress_bar_icon_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
}

main .progress_bar_area .progress_bar_icon_item .progress_bar_icon {
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid;
  width: calc(30px * 1.6);
  text-align: center;
  padding: 5px;
  color: #2e3233;
  border-color: #2e3233;
  margin: 0 auto;
}

main .progress_bar_area .progress_bar_icon_item p {
  margin: 5px auto 0;
}

main .progress_bar_area .progress_bar_icon_item.finish.progress_bar_first .progress_bar_icon {
  border-color: #f44747;
  color: #f44747;
}

main .progress_bar_area .progress_bar_icon_item.finish.progress_bar_first p {
  color: #f44747;
}

main .progress_bar_area .progress_bar_icon_item.finish.progress_bar_second .progress_bar_icon {
  border-color: #e29335;
  color: #e29335;
}

main .progress_bar_area .progress_bar_icon_item.finish.progress_bar_second p {
  color: #e29335;
}

main .progress_bar_area .progress_bar_icon_item.finish.progress_bar_third .progress_bar_icon {
  border-color: #25a05f;
  color: #25a05f;
}

main .progress_bar_area .progress_bar_icon_item.finish.progress_bar_third p {
  color: #25a05f;
}

main .card_main_area {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .card_main_area .card_step_area {
  width: 100%;
}

main .card_main_area .card_step_area .card_step_title {
  background-color: #4a2f96;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid;
}

main .card_main_area .card_step_area .card_step_title h4 {
  color: #fff;
}

main .card_main_area .card_step_area .card_step_content {
  border-radius: 0 0 5px 5px;
  border: 1px solid;
  padding: 20px 15px;
}

main .card_main_area .card_step_area .card_step_content .card_step_task {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #2e3233;
}

main .card_main_area .card_step_area .card_step_content .card_step_task .card_step_task_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 0;
}

main .card_main_area .card_step_area .card_step_content .card_step_task .card_step_task_item .svg_icon {
  margin: 0 5px 0 0;
}

main .card_main_area .card_step_area .card_step_content .card_step_record .card_step_record_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .card_main_area .card_step_area .card_step_content .card_step_record .card_step_record_value .card_step_record_value_item {
  margin: 0 15px 0 0;
}

main .card_main_area .card_step_area .card_step_content .card_step_record .card_step_record_value .card_step_record_value_item span {
  color: #4a2f96;
}

main .card_main_area .card_step_area .card_step_content .card_step_button {
  margin: 20px auto 0;
}

main .card_main_area .card_step_area .card_step_content .card_step_button .card_step_button_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

main .card_main_area .card_step_area .card_step_content .card_step_button .card_step_button_item .svg_icon {
  margin: 0 5px 0 0;
}

main .card_main_area .card_step_area .card_step_content .card_step_button .card_step_button_item.card_step_button_item_summarize {
  border-color: #4a2f96;
  color: #4a2f96;
}

main .card_main_area .card_step_area .card_step_content .card_step_button .card_step_button_item.card_step_button_item_summarize p {
  color: #4a2f96;
}

main .card_main_area .card_step_area .card_step_content .card_step_button .card_step_button_item.card_step_button_item_done {
  border-color: #4a2f96;
  color: #4a2f96;
  margin: 15px 0 0;
}

main .card_main_area .card_step_area .card_step_content .card_step_button .card_step_button_item.card_step_button_item_done p {
  color: #4a2f96;
}

main .card_main_area.card_first_step .card_step_area .card_step_title {
  background-color: #f44747;
  border-color: #f44747;
}

main .card_main_area.card_first_step .card_step_area .card_step_content {
  border-color: #f44747;
}

main .card_main_area.card_first_step .card_step_area .card_step_content .card_step_task .card_step_task_item {
  color: #f44747;
}

main .card_main_area.card_first_step .card_step_area .card_step_content .card_step_task .card_step_task_item.finish p {
  color: #f44747;
}

main .card_main_area .card_item_area {
  margin: 40px auto;
  width: 100%;
}

main .card_main_area .card_item_area .card_main_button .card_main_button_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
}

main .card_main_area .card_item_area .card_main_button .card_main_button_item .svg_icon {
  margin: 0 5px 0 0;
}

main .card_main_area .card_item_area .card_main_button .card_main_button_item.card_main_button_item_new {
  border-color: #4a2f96;
  color: #4a2f96;
}

main .card_main_area .card_item_area .card_main_button .card_main_button_item.card_main_button_item_new p {
  color: #4a2f96;
}

main .card_main_area .card_item_area .card_main_button .card_main_button_item.card_main_button_item_delete {
  margin: 20px 0;
}

main .card_main_area .card_item_area .card_main_button .card_main_button_item.card_main_button_item_delete:hover {
  color: #fff !important;
  background-color: #2e3233 !important;
}

main .card_main_area .card_item_area .card_main_button .card_main_button_item.card_main_button_item_delete:hover p {
  color: #fff !important;
}

main .card_main_area .card_button.disabled {
  border-color: #AAAAAA !important;
  color: #AAAAAA !important;
  cursor: auto;
}

main .card_main_area .card_button.disabled p {
  color: #AAAAAA !important;
}

main .card_main_area .card_button.card_button_main_color:hover {
  color: #fff !important;
  background-color: #4a2f96 !important;
}

main .card_main_area .card_button.card_button_main_color:hover p {
  color: #fff !important;
}

.modal {
  max-width: 90%;
}

.modal .modal-dialog .modal-content {
  overflow: scroll;
}

.modal .modal-dialog .modal-content .modal_header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-dialog .modal-content .modal_header h4 {
  color: #fff;
}

.modal .modal-dialog .modal-content .modal_header .btn_close {
  color: #fff;
}

.modal .modal-dialog .modal-content .modal_header.modal_header_first_step {
  background-color: #f44747;
}

.modal .modal-dialog .modal-content .modal_body {
  padding: 10px 20px;
}

.modal.modal_slide {
  left: auto;
  right: 0;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block !important;
}

.modal.modal_slide.show {
  -webkit-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
  visibility: visible;
}

.input_group {
  margin: 20px 0;
}

.input_group label {
  margin: 0 0 5px;
}

.input_group .input_block {
  width: 100%;
  border: 1px solid #2e3233;
  border-radius: 5px;
  padding: 5px 10px;
  outline: 0;
}

.input_group .input_block:focus {
  border: 1px solid #4a2f96 !important;
  color: #4a2f96;
}

.input_group.select_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.input_group.select_box .selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px !important;
  border: 1px solid #2e3233;
  cursor: pointer;
}

.input_group.select_box .selected.open {
  border: 1px solid #4a2f96;
}

.input_group.select_box .selected.open p {
  color: #4a2f96;
}

.input_group.select_box .selected .svg_icon {
  margin: 0 0 0 5px;
}

.input_group.select_box .options {
  display: none;
  border: 1px solid #4a2f96;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.input_group.select_box .options .option_item {
  border-bottom: 1px solid #4a2f96;
  padding: 5px 10px;
  cursor: pointer;
  color: #4a2f96;
}

.input_group.select_box .options .option_item:nth-last-child(1) {
  border-bottom: 0px;
}

.input_group.select_box .options .option_item:hover {
  background-color: #4a2f96;
  color: white;
}

.input_group.select_box .options .option_item input[type="radio"] {
  opacity: 0;
  display: none;
  position: absolute;
}

@media screen and (min-width: 768px) {
  main .progress_bar_area {
    margin: 40px auto 0px;
  }
  main .progress_bar_area .progress_bar {
    top: calc(53px / 2);
  }
  main .progress_bar_area .progress_bar_icon_item .progress_bar_icon {
    font-size: 25px;
    width: calc(35px * 1.6);
  }
  main .card_main_area {
    margin: 40px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .card_main_area .card_step_area {
    width: 280px;
  }
  main .card_main_area .card_item_area {
    margin: 0 0 40px;
    width: calc(100% - 320px);
  }
}

@media screen and (min-width: 992px) {
  main .card_main_area .card_step_area {
    width: 300px;
  }
  main .card_main_area .card_item_area {
    width: calc(100% - 350px);
  }
}

@media screen and (min-width: 1200px) {
  main .progress_bar_area {
    margin: 40px auto;
  }
  main .progress_bar_area .progress_bar {
    top: calc(61px / 2);
    height: 7px;
  }
  main .progress_bar_area .progress_bar_icon_item .progress_bar_icon {
    font-size: 30px;
    width: calc(40px * 1.6);
    border: 4px solid;
  }
  main .card_main_area {
    margin: 60px auto;
  }
  main .card_main_area .card_step_area {
    width: 350px;
  }
  main .card_main_area .card_item_area {
    margin: 0 0 60px;
    width: calc(100% - 400px);
  }
}
/*# sourceMappingURL=style.css.map */