main {

    .test_area {

        .report_selector_tittle,
        .report_selector_text {
            display: flex;
            justify-content: center;
            color: $main_color_brown;
            margin: 0 auto 20px;
        }

        .score_report_area {
            .table {
                margin: 0 auto 40px;

                thead {
                    .score_report_header {
                        display: flex;
                        padding: 15px 5px;
                        background-color: $main_color_brown;
                        border-bottom: 0;
                        flex-wrap: wrap;
                        display: none;

                        .score_report_header_text {
                            display: flex;
                            justify-content: center;
                            color: $white;
                            padding: 8px 5px;
                            width: 100%;
                            border-left: 1px dotted;
                            border-top: 1px dotted;
                            transform: translate(-1px, 0px);

                        }

                        .item_box_content{
                            display: flex;
                            justify-content: center;
                            width: calc(33.33333% - 60px);
                            color: $white;

                            &.item_box_content_progress{
                                width: 180px;
                            }
                        }
                    }
                }

                tbody {
                    &.score_report_body {

                        .item_box{
                            display: flex;
                            flex-wrap: wrap;
                            border: 2px solid $cat_yellow;
                            border-radius: 10px;
                            overflow: hidden;
                            margin: 0 auto 40px;

                                .item_box_content{
                                    display: flex;
                                    flex-wrap: wrap;
                                    width: 100%;

                                    .item_box_content_tittle,
                                    .item_box_content_data{
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                        padding: 12px 5px;
                                        background-color: $white;
                                    }

                                    .item_box_content_tittle{
                                        background-color: $main_color_brown;
                                        color: $white;
                                        background-color: $cat_yellow;
                                        color: $main_color_brown;
                                        font-weight: bold;
                                    }

                                    &.item_box_content_progress{
                                        .progress_area{
                                            width: 100%;
                                            max-width: 300px;
                                        }
                                    }

                                    &.item_box_content_btn{
                                        

                                        
                                        
                                        .item_box_content_link{
                                            position: relative;
                                            margin: 30px auto 15px;
                                            padding: 8px 20px;
                                            background-color: $main_color_brown;
                                            border-radius: 50px;
                                            transition: 0.3s;

                                            a{
                                                color: $white;
                                            }

                                            &:hover{
                                                padding: 8px 30px;
                                                a{
                                                    color: $cat_yellow;
                                                }
                                            }

                                            .footprint{
                                                position: absolute;
                                                width: 30px;
                                                right: 0;
                                                top: 0;
                                                transform: translate(calc(100% + 0px), calc(-100% - 0px));
                                                transition: 0.3s;
                                            }
                                        }
                                    }
                                    
                                }
                        }
                    }

                    
                }

                .score_report_header_name,
                .score_report_item_name {
                    border-top: 0px solid !important;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    main {

        .test_area {
            .score_report_area {
                .table {
                    margin: 0 auto 60px;

                    tbody {
                        &.score_report_body {

                            .score_report_item {

                                .score_report_item_content {
                                    padding: 15px;

                                    &.score_report_item_icon {
                                        width: 66.5px;

                                        .fa-circle-check {
                                            font-size: 35px;
                                        }
                                    }

                                    &.score_report_item_text {
                                        width: calc(50% - 66.5px / 2);
                                        margin: 0;
                                        border-top: 0;
                                        border-left: 0;

                                        &.score_report_item_time {
                                            width: 100%;
                                            margin: 0 0 0 66.5px;
                                            position: relative;
                                            z-index: 1;
                                            background-color: $white;
                                            border-top: 1px dotted darken($main_color, 15%);

                                            &::before{
                                                content: "";
                                                position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                left: 0;
                                                top: 0;
                                            }
                                        }
                                    }

                                }

                                &.check_item {
                                    .score_report_item_content {
                                        &.score_report_item_text {
                                            &::before{
                                                background-color: $main_color_30;
                                            }
                                        }
                                    }
                                }

                                &::before,
                                &::after{
                                    content: "";
                                    position: absolute;
                                    width: 1px;
                                    height: 100%;
                                    border: 1px dotted darken($main_color, 15%);
                                    transform: translate(-100%, 0px);
                                }

                                &::before{
                                    left: 66.5px;
                                }

                                &::after{
                                    left: calc(66.5px + calc(50% - 66.5px / 2));
                                }
                            }

                            .item_box{
                                    .item_box_content{
                                        width: 50%;
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1024px) {
    main {

        .test_area {

    
            .score_report_area {
                .table {
    
                    thead {
                        .score_report_header {
                            display: flex;
                        }
                    }
    
                    tbody {
                        &.score_report_body {
    
                            .item_box{
                                    .item_box_content{
                                        width: calc(33.33333% - 60px);
    
                                        .item_box_content_tittle,
                                    .item_box_content_data{
                                        padding: 10px 5px;
                                    }

                                        .item_box_content_tittle{
                                            display: none;
                                        }
                                        
                                        &.item_box_content_progress{
                                            width: 180px;
                                        }
                                    }
                            }
                        }
    
                        
                    }
    
                    .score_report_header_name,
                    .score_report_item_name {
                        border-top: 0px solid !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {}