main {
    .test_area {
        margin: 40px auto;
        width: 80%;
        max-width: 1200px;

        &.cat_frame{
            width: 100%;
            max-width: 1000px;

            .cat_body{
                background-color: $cat_yellow;
                padding: 20px 5% 40px;
                border-radius: 0 0 20px 20px;

                .cat_content{
                    background-color: $cat_content;
                    border-radius: 20px;
                    padding: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    main {
        .test_area {
    
            &.cat_frame{
    
                .cat_body{
    
                    .cat_content{
                        padding: 20px 10%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    main {
        .test_area {
            margin: 0 auto 40px;
        }
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}