main {
    .test_area {
        margin: 40px auto;
        width: 80%;
        max-width: 1200px;

        &.cat_frame{
            max-width: 1000px;

            .cat_body{
                background-color: $cat_yellow;
                padding: 20px 5%;

                .cat_content{
                    background-color: $cat_content;
                    border-radius: 15px;
                    padding: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    main {
        .test_area {
            margin: 0 auto 40px;
        }
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}