main {

    .login_area {
        padding: 100px 0 40px;
        max-width: 500px;
        margin: 0 auto;
        width: 80%;

        .login_title {
            color: $main_color;
            h3{
                text-align: center;
            }
        }

        .input_area {
            .form-control {
                padding: 10px 100px 10px 15px;
                width: 100%;

                &::-webkit-input-placeholder {
                    position: relative;
                    left: calc(19px + 15px);
                }
            }

            .password_input {
                width: 100%;
            }
        }
    }
}


@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}