main {

    .input_area {
        display: flex;
        align-items: flex-start;

        .input-group-label {
            padding: 10px 15px;
            color: $main_color_brown;
            width: 100%;
            border: 1px solid transparent;
        }

        .input_date_icon{
            position: absolute;
            right: 15px;
            top: 10px;
            z-index: 1;
            pointer-events: none;
            user-select: none;
            color: $main_color_brown;
        }
    }

}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    main {
        .input_area {
            flex-direction: row;

            .input-group-label {
                width: 20%;
            }
    
    
            .form-control {
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}