main {
    .quiz_area {
        min-height: calc(100vh - 67px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .quiz_area_header {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 90%;
            margin: 10px auto 5px;

            .tittle_frog_area {
                display: none;
            }

            .button {
                position: relative;
                max-width: 1200px;
                width: auto;
                margin: 0;

                &.voice_btn {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    background-color: $white;
                    border: 1px solid $bright_green;
                    border-radius: 20px;

                    .voice_btn_icon {
                        padding: 10px;
                        background-color: $bright_green;
                        border-radius: 50px;
                        height: 47.75px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .fa-volume-high {
                            position: relative;
                            color: $white;
                            font-size: 21px;
                        }
                    }

                    .voice_text {
                        color: darken($main_color, 20%);
                        margin: 0 0 0 15px;
                        text-align: left;
                        display: flex;
                        justify-content: center;
                    }

                    &.play {
                        .voice_btn_icon {
                            background-color: $orange;

                            .fa-volume-high {
                                &::before {
                                    opacity: 0;
                                }

                                &::after {
                                    content: "";
                                    width: 27.75px;
                                    height: 21px;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translate(0%, -50%);
                                    background-size: 100% 100%;
                                    background-repeat: no-repeat;
                                    animation: volume 1.5s infinite;
                                    background-image: url(../image/svg/volume-high-solid-1.svg);
                                }
                            }
                        }
                    }

                }

            }
        }

        .quiz_area_body {
            width: 80%;
            margin: 0 auto 10px;

            .word_area {
                display: flex;
                justify-content: center;
                margin: 20px auto 0;

                .word_writing {
                    font-family: DFKai-SB, BiauKai, myWebFont;
                    font-size: 75px;
                    font-weight: 400;
                    color: darken($main_color, 20%);
                    background-color: $light_green;
                    border: 1px solid $main_color;
                    border-radius: 25px;
                    text-align: center;
                    width: calc(75px * 1.7 + 2px);
                }
            }
        }

        .quiz_area_footer {
            position: relative;
            padding: 15px 5px;
            background-color: $white;
            border: 1px solid $bright_green;
            border-bottom: 0;
            border-radius: 50px 50px 0 0;

            .mic_frog_area {
                position: absolute;
                top: 0;
                right: 5%;
                transform: translate(0%, -100%);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                .mic_frog_text {
                    width: 65%;
                    position: relative;
                    transform: translate(0px, -10px);
                    padding: 10px 20px;
                    background-color: $white;
                    border: 1px solid $bright_green;
                    border-radius: 20px;
                    margin: 0 10px 0 0;

                    &::before {
                        content: "";
                        position: absolute;
                        border-width: 10px 0px 10px 10px;
                        right: 0;
                        top: 50%;
                        transform: translate(100%, -50%);
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid $bright_green;
                        ;
                        border-top: 10px solid transparent;
                    }
                }

                .mic_frog_img {
                    width: calc((100% - (75px * 1.7 + 2px)) / 3);
                    max-width: 80px;
                }
            }

            .quiz_btn_area {
                width: 100%;
                max-width: 1600px;
                margin: 0 auto;

                .quiz_btn_text {
                    display: flex;
                    justify-content: center;

                    p {
                        color: darken($main_color, 20%);
                        font-weight: bold;
                    }
                }

                .quiz_answer_area {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 10px auto 0;

                    .quiz_answer_item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50%;
                        padding: 15px 0;

                        &.quiz_answer_item_one,
                        &.quiz_answer_item_three {
                            border-right: 1px dotted $grey;
                        }

                        &.quiz_answer_item_three,
                        &.quiz_answer_item_four {
                            border-top: 1px dotted $grey;
                        }

                        .quiz_answer_btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $light_green;
                            color: darken($main_color, 15%);
                            border: 0;
                            width: calc(16px * 1.7 + 20px);
                            padding: 10px;
                            margin: 0;

                            i {
                                font-size: 16px;
                                line-height: 1.7;
                            }

                            &:hover {
                                background-color: $bright_green;
                                color: $white;
                            }

                            &:active {
                                background-color: darken($main_color, 20%);
                            }

                            &.play_answer {
                                background-color: $orange;
                                color: $white;

                                .fa-volume-high {
                                    position: relative;

                                    &:before {
                                        opacity: 0;
                                    }

                                    &:after {
                                        content: "";
                                        width: 27.75px;
                                        height: 21px;
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        transform: translate(0%, -50%);
                                        background-size: 100% 100%;
                                        background-repeat: no-repeat;
                                        animation: volume 1.5s infinite;
                                        background-image: url(../image/svg/volume-high-solid-1.svg);
                                    }
                                }


                            }

                            &.recording {
                                .quiz_answer_btn_icon {
                                    animation: recording 1500ms infinite;
                                }

                                &.answer_check {
                                    background-color: $red;
                                    color: $white;

                                    &:hover {
                                        color: $white;
                                        background-color: $bright_green;
                                    }

                                    &~.next_question_btn {
                                        display: none;
                                    }
                                }

                            }

                            &.play_btn {
                                background-color: $light_yellow;
                                color: darken($main_color, 15%);

                                &:hover {
                                    background-color: $yellow;
                                    color: darken($main_color, 20%);
                                    border: 2px solid $yellow;
                                }

                                &.answer_check {

                                    &:hover {
                                        background-color: $yellow;
                                        color: darken($main_color, 15%);
                                    }
                                }
                            }

                            &.recording_btn {
                                border: 2px solid $bright_green;
                            }

                            &:disabled {
                                border: 0 !important;
                            }
                        }

                        .quiz_answer_radio {
                            position: relative;
                            width: 15px;
                            height: 15px;
                            border: 2px solid darken($main_color, 15%);
                            border-radius: 50%;
                            margin: 0 5px 0 0;

                            i {
                                display: none;
                                font-size: 20px;
                                color: darken($main_color, 15%);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(calc(-50% + 3px), calc(-50% - 3px));
                                z-index: 1;
                            }

                            // &::after {
                            //     content: "";
                            //     position: absolute;
                            //     width: 13px;
                            //     height: 13px;
                            //     left: 50%;
                            //     top: 50%;
                            //     transform: translate(-50%, -50%);
                            //     border-radius: 50%;
                            // }

                            &:hover {
                                background-color: $bright_green;
                            }

                            &:disabled {
                                &::after {
                                    display: none;
                                }
                            }
                        }

                        .quiz_answer_num {
                            margin: 0 5px 0 0;
                        }

                        .quiz_answer_text {
                            background-color: $light_green;
                            color: darken($main_color, 15%);
                            padding: 10px;
                            border-radius: 50px;

                            p {
                                font-weight: bold;

                                i {
                                    display: none;
                                }
                            }

                            &:hover {
                                background-color: $bright_green;
                                color: $white;
                            }

                            &:active {
                                background-color: darken($main_color, 20%);
                            }
                        }

                        &.answer_check {
                            .quiz_answer_text {
                                outline: solid calc(1em * 2 / 16) $bright_green;
                                transform: scale(1.05);

                                p {
                                    i {
                                        display: inline-block;
                                    }
                                }
                            }

                        }

                        &.answer_check {
                            .quiz_answer_radio {
                                // width: calc(16px * 1.7 + 20px);
                                // height: calc(16px * 1.7 + 20px);
                                background-color: $bright_green;

                                i {
                                    display: block;
                                }

                                &::after {
                                    // width: calc(16px * 1.7 + 13px);
                                    // height: calc(16px * 1.7 + 13px);  
                                    
                                }
                            }
                        }
                    }
                }

                .next_question_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $bright_green;
                    border-radius: 10px;
                    padding: 12px 10px;
                    background-color: $bright_green;
                    margin: 15px auto;
                    color: $white;
                    transform: scale(1);

                    .next_question_btn_icon {
                        margin: 0 10px;
                    }

                    &.show {
                        display: flex;
                    }

                    &:hover {
                        transform: scale(1.05);
                        background-color: darken($bright_green, 5%);
                    }

                    &:disabled {
                        transform: scale(1);
                        animation: none;
                    }
                }
            }
        }
    }
}

@keyframes recording {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes volume {
    0% {
        background-image: url(../image/svg/volume-high-solid-1.svg);
    }

    50% {
        background-image: url(../image/svg/volume-high-solid-2.svg);
    }

    100% {
        background-image: url(../image/svg/volume-high-solid-3.svg);
    }
}

@media screen and (min-width: 380px) {
    main {
        .quiz_area {
            .quiz_area_body {
                margin: 0 auto 25px;

                .word_area {
                    margin: 25px auto 0;

                    .word_writing {
                        font-size: 120px;
                        width: calc(120px * 1.7 + 2px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    main {
        .quiz_area {
            min-height: calc(100vh - 87px);

            .quiz_area_header {
                margin: 30px auto;

                .tittle_frog_area {
                    display: block;
                    margin: 0 20px 0 0;

                    .tittle_frog_img {
                        width: 80px;
                    }
                }

                .button {

                    &.voice_btn {

                        &::before {
                            content: "";
                            position: absolute;
                            border-width: 10px 0px 10px 10px;
                            left: 0;
                            top: 50%;
                            transform: translate(-100%, -50%);
                            border-right: 10px solid $bright_green;
                            border-bottom: 10px solid transparent;
                            border-left: 10px solid transparent;
                            border-top: 10px solid transparent;
                        }
                    }

                }
            }

            .quiz_area_footer {
                padding: 30px 5%;

                .mic_frog_area {
                    .mic_frog_text {
                        width: 56%;
                        max-width: 270px;
                    }
                }


                .quiz_btn_area {

                    .quiz_answer_area {

                        .quiz_answer_item {

                            .quiz_answer_text {
                                padding: 10px 20px;
                            }

                            &.answer_check {
                                .quiz_answer_text {
                                    outline: solid calc(1em * 5 / 16) $bright_green;
                                    transform: scale(1.18);
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {
        .quiz_area {
            min-height: calc(100vh - 115px);

            .quiz_area_footer {

                .quiz_btn_area {
                    .quiz_answer_area {

                        .quiz_answer_item {

                            .quiz_answer_text {
                                width: 50%;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .quiz_area {
            min-height: calc(100vh - 144px);

            .quiz_area_footer {
                border-radius: 80px 80px 0 0;

                .mic_frog_area {
                    .mic_frog_text {
                        max-width: 320px;
                    }
                }

                .quiz_btn_area {

                    .next_question_btn {
                        margin: 40px auto 0;
                        max-width: 300px;
                    }

                    .quiz_answer_area {
                        justify-content: center;

                        .quiz_answer_item {
                            padding: 20px 0;

                            .quiz_answer_btn {
                                width: calc(20px * 1.7 + 20px);

                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .quiz_area {

            .quiz_area_footer {
                padding: 30px;

                .quiz_btn_area {
                    .quiz_btn_text {
                        margin: 0 auto 20px;
                    }

                    .quiz_answer_area {

                        .quiz_answer_item {
                            width: 25%;

                            &.quiz_answer_item_one,
                            &.quiz_answer_item_two,
                            &.quiz_answer_item_three {
                                border-right: 1px dotted $grey;
                            }

                            &.quiz_answer_item_three,
                            &.quiz_answer_item_four {
                                border-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        .quiz_area {
            .quiz_area_body {
                .word_area {
                    margin: 40px auto;

                    .word_writing {
                        font-size: 150px;
                        width: calc(150px * 1.7 + 2px);
                    }
                }
            }

            .quiz_area_footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 45px;
                position: relative;

                .mic_frog_area {
                    .mic_frog_img {
                        width: 140px;
                        max-width: none;
                    }
                }

                .quiz_btn_area {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-wrap: wrap;

                    .quiz_btn_text {
                        width: 100%;
                    }

                    .quiz_answer_area {
                        width: calc(95% - 155.5px);
                        margin: 0 auto 0 0;

                        .quiz_answer_item {
                            padding: 0;
                        }
                    }

                    .next_question_btn {
                        position: absolute;
                        right: 0;
                        width: auto;
                        margin: 0;
                        padding: 10px 25px;
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
        .quiz_area {
            .quiz_area_footer {
                padding: 45px 10%;

                .quiz_btn_area {}

            }
        }
    }
}

@media screen and (min-width: 1600px) {
    main {
        .quiz_area {
            .quiz_area_footer {

                .quiz_btn_area {
                    align-items: center;

                    .quiz_btn_text {
                        width: auto;
                        margin: 0 10px 0 0;
                    }

                    .quiz_answer_area {
                        width: calc(95% - 155.5px - 86px);
                    }
                }

            }
        }
    }
}