main {
    .quiz_area {
        min-height: calc(100vh - 67px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .quiz_area_header {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 90%;
            margin: 15px auto;

            .tittle_frog_area {
                display: none;
            }

            .button {
                position: relative;
                max-width: 1200px;
                width: auto;
                margin: 0;

                &.voice_btn {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    background-color: $white;
                    border: 1px solid $bright_green;
                    border-radius: 20px;

                    .voice_btn_icon {
                        padding: 10px;
                        background-color: $bright_green;
                        border-radius: 50px;
                        height: 47.75px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .fa-volume-high {
                            position: relative;
                            color: $white;
                            font-size: 21px;
                        }
                    }

                    .voice_text {
                        color: darken($main_color, 20%);
                        margin: 0 0 0 15px;
                        text-align: left;
                        display: flex;
                        justify-content: center;
                    }

                    &.play {
                        .voice_btn_icon {
                            .fa-volume-high {
                                &::before {
                                    opacity: 0;
                                }

                                &::after {
                                    content: "";
                                    width: 27.75px;
                                    height: 21px;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    transform: translate(0%, -50%);
                                    background-size: 100% 100%;
                                    background-repeat: no-repeat;
                                    animation: volume 1s infinite;
                                    background-image: url(../image/svg/volume-high-solid-1.svg);
                                }
                            }
                        }
                    }

                }

            }
        }

        .quiz_area_body {
            width: 80%;
            margin: 20px auto;

            .word_area {
                display: flex;
                justify-content: center;
                margin: 0 auto 20px;

                .word_writing {
                    font-size: 75px;
                    font-weight: 700;
                    color: darken($main_color, 20%);
                    background-color: $light_green;
                    border: 1px solid $main_color;
                    border-radius: 25px;
                    text-align: center;
                    width: calc(75px * 1.7 + 2px);
                }
            }
        }

        .quiz_area_footer {
            padding: 15px 5%;
            background-color: $white;
            border: 1px solid $bright_green;
            border-bottom: 0;
            border-radius: 50px 50px 0 0;

            .mic_frog_area {
                position: absolute;
                width: 80px;
                top: 0;
                right: 0;
                transform: translate(-50%, -100%);
                display: none;
            }

            .quiz_btn_area {
                width: 100%;
                max-width: 1600px;
                margin: 0 auto;

                .quiz_btn_text {
                    display: flex;
                    justify-content: center;

                    p {
                        color: darken($main_color, 20%);
                        font-weight: bold;
                    }
                }

                .quiz_answer_area {
                    display: flex;
                    flex-wrap: wrap;

                    .quiz_answer_btn {
                        width: 45%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $light_green;
                        color: darken($main_color, 15%);
                        margin: 20px auto 0;
                        border: 2px solid $bright_green;

                        .quiz_answer_btn_icon {
                            position: relative;
                            margin: 0 10px;
                            display: flex;

                            i {
                                font-size: 21px;
                            }
                        }

                        &.play_answer {
                            background-color: $orange;
                            color: $white;
                            border: 2px solid $orange;
                        }

                        &.play_answer {
                            .quiz_answer_btn_icon {
                                .fa-volume-high {
                                    &::before {
                                        opacity: 0;
                                    }

                                    &::after {
                                        content: "";
                                        width: 27.75px;
                                        height: 21px;
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        transform: translate(0%, -50%);
                                        background-size: 100% 100%;
                                        background-repeat: no-repeat;
                                        animation: volume 1s infinite;
                                        background-image: url(../image/svg/volume-high-solid-1.svg);
                                    }
                                }
                            }
                        }

                        &.recording {
                            .quiz_answer_btn_icon {
                                animation: recording 1500ms infinite;
                            }

                            &.answer_check {
                                border: 2px solid darken($main_color, 20%);
                                background-color: $red;
                                color: $white;

                                &:hover {
                                    color: $white;
                                    background-color: $bright_green;
                                }

                                &~.next_question_btn {
                                    display: none;
                                }
                            }
                                
                        }

                        &.play_btn {
                            background-color: $light_yellow;
                            color: darken($main_color, 15%);
                            border: 2px solid $yellow;

                            &:hover{
                                background-color: $yellow;
                                color: darken($main_color, 20%);
                                border: 2px solid $yellow;
                            }

                            &.answer_check {
                                border: 2px solid darken($main_color, 20%);
                                box-shadow: 5px 5px 5px rgba(darken($main_color, 20%), .5);

                                &:hover {
                                    background-color: $yellow;
                                color: darken($main_color, 15%);
                            }
                            }
                        }

                        &.recording_btn {
                            border: 2px solid $bright_green;
                        }

                        &:hover {
                            background-color: $bright_green;
                            color: $white;
                            border: 2px solid $bright_green;
                        }

                        &.answer_check {
                            background-color: darken($main_color, 20%);
                            color: $white;
                            box-shadow: 5px 5px 5px rgba(darken($main_color, 20%), .5);

                            &:hover {
                                background-color: $bright_green;
                                color: $white;
                            }
                        }
                    }
                }

                .next_question_btn {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $bright_green;
                    border-radius: 10px;
                    padding: 12px 10px;
                    background-color: $bright_green;
                    margin: 30px auto 20px;
                    color: $white;

                    .next_question_btn_icon {
                        margin: 0 10px;
                    }

                    &.show {
                        display: flex;
                    }

                    &:hover {
                        transform: scale(1.05);
                        background-color: darken($bright_green, 5%);
                    }
                }
            }


        }
    }
}

@keyframes recording {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes volume {
    0% {
        background-image: url(../image/svg/volume-high-solid-1.svg);
    }

    50% {
        background-image: url(../image/svg/volume-high-solid-2.svg);
    }

    100% {
        background-image: url(../image/svg/volume-high-solid-3.svg);
    }
}

@media screen and (min-width: 380px) {
    main {
        .quiz_area {
            .quiz_area_body {
                margin: 25px auto;

                .word_area {
                    margin: 0 auto 25px;

                    .word_writing {
                        font-size: 120px;
                        width: calc(120px * 1.7 + 2px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    main {
        .quiz_area {
            min-height: calc(100vh - 87px);

            .quiz_area_header {
                margin: 30px auto;

                .tittle_frog_area {
                    display: block;
                    margin: 0 20px 0 0;

                    .tittle_frog_img {
                        width: 80px;
                    }
                }

                .button {

                    &.voice_btn {

                        &::before {
                            content: "";
                            position: absolute;
                            border-width: 10px 0px 10px 10px;
                            left: 0;
                            top: 50%;
                            transform: translate(-100%, -50%);
                            border-right: 10px solid $bright_green;
                            border-bottom: 10px solid transparent;
                            border-left: 10px solid transparent;
                            border-top: 10px solid transparent;
                        }
                    }

                }
            }

            .quiz_area_footer {
                padding: 30px 5%;

                .quiz_btn_area {

                    .quiz_answer_area {

                        .quiz_answer_btn {
                            margin: 25px auto 0;
                        }
                    }
                }


            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {
        .quiz_area {
            min-height: calc(100vh - 115px);
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .quiz_area {
            min-height: calc(100vh - 144px);

            .quiz_area_footer {
                border-radius: 80px 80px 0 0;

                .quiz_btn_area {

                    .next_question_btn {
                        margin: 40px auto 0;
                        max-width: 300px;
                    }

                    .quiz_answer_area {
                        justify-content: center;

                        .quiz_answer_btn {
                            .quiz_answer_btn_icon {
                                .fa-volume-high {
                                    font-size: 25px;
                                }
                            }

                            &.play_answer {
                                .quiz_answer_btn_icon {
                                    .fa-volume-high {
                                        &::after {
                                            width: 32.5px;
                                            height: 25px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .quiz_area {

            .quiz_area_footer {

                .quiz_btn_area {
                    .quiz_btn_text {
                        margin: 0 auto 20px;
                    }

                    .quiz_answer_area {
                        justify-content: center;

                        .quiz_answer_btn {
                            width: calc(25% - 20px);
                            margin: 0 20px 0 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {
        .quiz_area {
            .quiz_area_body {
                .word_area {
                    margin: 40px auto;

                    .word_writing {
                        font-size: 150px;
                        width: calc(150px * 1.7 + 2px);
                    }
                }
            }

            .quiz_area_footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 45px 5%;
                position: relative;

                .mic_frog_area {
                    display: block;
                    transform: translate(-80px, -100%);
                    width: 140px;
                }

                .quiz_btn_area {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-wrap: wrap;

                    .quiz_btn_text {
                        width: 100%;
                    }

                    .quiz_answer_area {
                        width: calc(90% - 155.5px * 2);

                        .quiz_answer_btn {
                            width: calc(25% - 15px);
                            margin: 0 15px 0 0;
                        }
                    }

                    .next_question_btn {
                        position: absolute;
                        right: 0;
                        width: auto;
                        margin: 0;
                        padding: 10px 25px;
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 1400px) {
    main {
        .quiz_area {
            .quiz_area_footer {
                padding: 45px 10%;

                .quiz_btn_area {
                    align-items: center;

                    .quiz_btn_text {
                        width: auto;
                        margin: 0 10px 0 0;
                    }

                    .quiz_answer_area {

                        .quiz_answer_btn {
                            width: calc(25% - 20px);
                            margin: 0 20px 0 0;
                        }
                    }
                }

            }
        }
    }
}