main {

    .top_tittle{
        width: 90%;
        max-width: 1000px;
        margin: 60px auto 0px;
        display: flex;
        justify-content: center;
        background-color: $main_color;
        border: 1px solid $main_color;
        border-radius: 10px 10px 0 0;
        padding: 5px 20px;

        h3{
            color: $white;
        }
    }

    .test_area {
        background-color: $test_area_bg;
        border: 1px solid $main_color;
        border-radius: 0 0 10px 10px;
        padding: 40px 5%;
        width: 90%;
        margin: 0px auto 170px;
        max-width: 1000px;

        .test_area_avatar {
            .test_area_avatar_img {
                width: 80%;
                max-width: 80px;
                margin: 0 auto;
                padding: 10px;
                border: 1px solid $main_color;
                border-radius: 50%;
                background-color: $white;
                overflow: hidden;
            }

            .prompt_text {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                position: relative;
                background-color: $white;
                border-radius: 10px;
                margin: 30px 0 0;
                border: 1.5px solid $main_color;

                &::before {
                    content: "";
                    position: absolute;
                    border-width: 0px 8px 8px 8px;
                    top: -8px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid $white;
                    z-index: 1;
                }

                &::after {
                    content: "";
                    position: absolute;
                    border-width: 0px 9.5px 9.5px 9.5px;
                    top: -9.5px;
                    border-left: 9.5px solid transparent;
                    border-right: 9.5px solid transparent;
                    border-bottom: 9.5px solid $main_color;
                }

                h4 {
                    color: $main_color_brown;
                }
            }
        }

        .test_topic_area {
            margin: 40px auto;
            padding: 40px 20px;
            background-color: $white;
            border: 1.5px solid $main_color_brown;
            border-radius: 10px;
            @extend %boxShadow;

            .test_topic_text {
                display: flex;
                justify-content: center;

                h3 {
                    color: $main_color_brown;
                }
            }
        }

        .test_progress {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .bg_line {
                width: calc(100% - 100px);
                height: 12px;
                background: $white;
                border-radius: 10px;
                border: 1px solid $main_color;

                .line {
                    background-color: $main_color;
                    height: 10px;
                    border-radius: 10px;
                }
            }

            p {
                color: $main_color_brown;
            }
        }

        .sound_bar_area {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            margin: 45px auto;

            &.play_animation {
                .bar {
                    animation: sound 0ms -800ms linear infinite alternate;
                }
            }

            .bar {
                background-color: $main_color;
                height: 0px;
                width: 3px;
                margin: 0px 1px;

                &:nth-child(1) {
                    animation-duration: 474ms;
                }

                &:nth-child(2) {
                    animation-duration: 433ms;
                }

                &:nth-child(3) {
                    animation-duration: 407ms;
                }

                &:nth-child(4) {
                    animation-duration: 458ms;
                }

                &:nth-child(5) {
                    animation-duration: 400ms;
                }

                &:nth-child(6) {
                    animation-duration: 427ms;
                }

                &:nth-child(7) {
                    animation-duration: 441ms;
                }

                &:nth-child(8) {
                    animation-duration: 419ms;
                }

                &:nth-child(9) {
                    animation-duration: 487ms;
                }

                &:nth-child(10) {
                    animation-duration: 442ms;
                }
            }


        }

        .function_btn_area {
            display: flex;
            justify-content: space-between;

            .function_btn_item {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                
                i {
                    font-size: 20px;
                }

                &.function_btn_item_circle_exclamation {
                    background-color: $wrong_answer_bg;

                    i {
                        color: $wrong_answer_color;
                    }
                }

                &.function_btn_item_microphone {
                    background-color: $microphone_color;

                    i {
                        color: $white;
                    }
                }

                &.function_btn_item_play {
                    background-color: $play_color;

                    i {
                        color: $white;
                    }
                }

                &.function_btn_item_circle_check {
                    background-color: $correct_answer_bg;

                    i {
                        color: $correct_answer_color;
                    }
                }

                &:disabled{
                    background-color: $disabled;

                    i{
                        color: $white;
                    }

                    & ~ p{
                        color: $disabled !important;
                    }
                }
            }

            .main_function_btn_area {
                display: flex;

                .main_function_btn_item_area {
                    margin: 0 10px;
                    
                    p {
                        text-align: center;
                        margin: 5px 0;
                        color: $main_color_brown;
                    }
                }
            }
        }
    }

}

@keyframes sound {
    0% {
        opacity: .55;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 40px;
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    main {
        .test_area {
            margin: 0px auto 195px;

            .test_topic_area {
                margin: 60px auto;
            }
    
            .sound_bar_area {
                margin: 60px auto;
            }

            .function_btn_area {
    
                .function_btn_item {
                    width: 50px;
                    height: 50px;
                    
                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    @keyframes sound {
        0% {
            opacity: .55;
            height: 3px;
        }
    
        100% {
            opacity: 1;
            height: 60px;
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}