$main_color: #b284f6;
$dark_grey: #2e3233;
$light_grey:#f9f9f9;
$middle_grey:#c6c6c6;
$red:#ff0000;
$white:#fff;
$transparent: transparent;
$body_bg:#f4f8fb;
$footer_bg:#242529;

$dark_main_color: #4a2f96;
$firstStop:#f44747;
$secondStop:#e29335;
$thirdStop:#25a05f;