header {
    .navi-main {
        padding: 0;
        margin-bottom: 0;

        .container-fluid {
            display: flex;
            align-items: center;
            flex-direction: column;

            .row {
                width: 100%;

                .navbar-header-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .navbar-header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        margin: 0;

                        .navbar-toggle {
                            padding: 0;
                            order: 2;
                            display: flex;
                            flex-direction: column;
                            margin-right: 0;

                            &:not(.collapsed) {
                                .icon-bar{
                                    &:nth-child(1),
                                    &:nth-child(2),
                                    &:nth-child(4){
                                        display: none;
                                    }
                                }
                            }
                            
                            .icon-bar {
                                display: block;
                                width: 30px;
                                height: 2px;
                                border-radius: 1px;
                                background-color: $main-color;

                                &+.icon-bar {
                                    margin-top: 4px;
                                }
                            }

                            &:hover {
                                .icon-bar {
                                    background-color: darken($main-color, 10%);
                                }
                            }
                        }

                        .navbar-brand {
                            height: auto;
                            padding: 15px 0px;
                            margin-right: auto;

                            .img-responsive {
                                width: auto;
                                height: 72px;
                            }
                        }
                    }

                    .navbar-collapse {
                        width: 100%;

                        .nav {
                            li {
                                a {
                                    &:hover,
                                    &:focus{
                                        background-color: transparent;
                                        color: $main-color;
                                    }
                                }

                                .dropdown-menu {
                                    li {
                                        .navi-main__logoutBtn {
                                            background-color: $main-color;
                                            margin: 20px 25px;
                                            color: $white;

                                            &:hover {
                                                background-color: darken($main-color, 10%);
                                            }
                                        }
                                    }
                                }

                                &.active{
                                    a{
                                        color: $main-color;
                                    }
                                }
                            }

                            .open{
                                a{
                                    &:hover,
                                    &:focus{
                                        background-color: transparent;
                                        border-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

    }

}
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    header {
        .navi-main {
            .container-fluid {
                justify-content: center;

                .row{
                    .navbar-header-area{
                        .navbar-header {
                            .navbar-brand {
                                width: 100%;
                                padding: 25px 0px;
                            }
        
                            
                        }
        
                        .navbar-collapse {
                            display: none;
                            flex-basis: auto;
                            padding: 0;
                            margin: 0 auto;
                            padding: 25px 0px 10px;
                            width: 100%;
        
                            &.in{
                                display: block;
                                overflow-y: auto;
                            }
        
                            .navbar-nav {
                                margin: 0 0 20px;
        
                                li {
        
                                    margin: 10px 0;
        
                                    &.navTab-signup {
                                        a {
                                            background-color: $main-color;
                                            border-radius: 50px;
                                            color: $white;
                                        }
                                    }
        
                                    a {
                                        padding: 5px;
                                    }
        
                                    &.navTab-name {
                                        margin: 5px 0 5px 15px;
                                    }
        
                                    &.navTab-shopping {
                                        margin: 20px 0 20px 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }

        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        .navi-main {
            .container-fluid {
                justify-content: center;

                .row{
                    .navbar-header-area{
                        .navbar-header {
                            width: 15%;
                            .navbar-brand {
                                margin-left: 0;

                                .img-responsive{
                                    width: 100%;
                                    height: auto;
                                    max-width: 200px;
                                }
                                
                            }
            
                            .navbar-toggle {
                                display: none;
                            }
                        }
            
                        .navbar-collapse {
                            width: calc(100% - 20%);
                            display: flex !important;
    justify-content: flex-end;
                            .navbar-nav {
                                margin: 0;
                                li {
                                    margin: 0 5px;
            
                                    &.navTab-signup {
                                        a {
                                            padding: 5px 20px;
                                        }
                                    }
                                }

                                &.navbar-right{
                                    margin-left: 40px;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1600px) {}