body{
    .main{
        .main_content{
            width: 80%;
            margin: 40px auto;

            .main_content_tittle{
                margin: 0 auto 15px;
                h3{
                    color: $brown;
                }
            }

            .news_content{
                .news_content_item{
                    display: flex;
                    align-items: center;
                    padding: 25px 0 0;

                    .news_date{
                        margin: 0 20px 0 0;
                        .news_date_year{
                            h4{
                                color: $main_color;
                            }
                        }
                        .news_date_day{
                            p{
                                color: $main_color;
                                @extend %bold;
                            }
                        }
                    }

                    .news_text{
                        width: calc(100% - 66.05px - 41.5px);
                        .news_category{
                            display: inline-block;
                            margin: 0 0 10px;
                            p{
                                background-color: $brown;
                                color: $white;
                                padding: 3px 10px;
                                border-radius: 50px;
                            }
                        }
                        .news_tittle{
                            p{
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                /*!autoprefixer:off*/
                                -webkit-box-orient: vertical;
                                /*!autoprefixer:on*/
                            }
                        }
                    }

                    .news_arrow{
                        margin: 0 0 0 20px;
                        p{
                            i{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    
}