body {
    .main {
        .main_content {
            width: 80%;
            max-width: 1200px;
            margin: 40px auto;

            .main_content_item {
                margin: 40px auto;
                display: flex;
                flex-wrap: wrap;

                .main_content_tittle {
                    margin: 0 0 20px;
                    order: 1;

                    h3 {
                        color: $brown;
                    }
                }

                .main_content_item_link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    order: 3;
                    width: 100%;
                    padding: 15px 20px;
                    border: 1px solid $brown;
                    border-radius: 50px;
                    margin: 30px auto;
                    background: linear-gradient($main_color, $main_color) 100% 100% / 0% 100% no-repeat;
                    transition: background-size var(--transition-duration) var(--transition-timing-function);
                    background-color: $white;

                    &:hover {
                        border: 1px solid $main_color;
                        background: linear-gradient($main_color, $main_color) 0% 100% / 100% 100% no-repeat;

                        .main_content_item_link_text {
                            p {
                                color: $white;
                            }
                        }

                        .main_content_item_link_icon {
                            i {
                                color: $white;
                            }
                        }
                    }

                    .main_content_item_link_text {
                        margin: 0 20px 0 0;

                        p {
                            color: $brown;
                        }
                    }

                    .main_content_item_link_icon {
                        position: absolute;
                        right: 20px;
                        line-height: 1;

                        i {
                            color: $brown;
                            font-size: 20px;
                        }
                    }
                }

                .main_content_item_content {
                    width: 100%;
                    order: 2;

                    &.news_content {
                        .news_content_item {
                            display: flex;
                            align-items: center;
                            padding: 20px 10px;
                            background: linear-gradient($main_color, $main_color) 100% 100% / 0% 100% no-repeat;
                            transition: background-size var(--transition-duration) var(--transition-timing-function);
                            border-bottom: 1px solid $brown;

                            &:hover {
                                background: linear-gradient($main_color, $main_color) 0% 100% / 100% 100% no-repeat;

                                .news_date {
                                    .news_date_year {
                                        h4 {
                                            color: $white;
                                        }
                                    }

                                    .news_date_day {
                                        p {
                                            color: $white;
                                        }
                                    }
                                }

                                .news_text {
                                width: calc(100% - 66.05px - 51.5px);

                                .news_tittle {
                                    p {
                                        color: $white;
                                    }
                                }
                            }

                                .news_arrow {
                                    p {
                                        i {
                                            color: $white;
                                        }
                                    }
                                }
                            }

                            &:nth-last-child(1) {
                                border-bottom: 0px;
                            }

                            .news_date {
                                margin: 0 20px 0 0;

                                .news_date_year {
                                    h4 {
                                        color: $main_color;
                                        @extend %bold;
                                    }
                                }

                                .news_date_day {
                                    display: flex;
                                    justify-content: center;

                                    p {
                                        color: $main_color;
                                        @extend %bold;
                                    }
                                }
                            }

                            .news_text {
                                width: calc(100% - 66.05px - 51.5px);

                                .news_category {
                                    display: inline-block;
                                    margin: 0 0 10px;

                                    p {
                                        background-color: $brown;
                                        color: $white;
                                        padding: 3px 20px;
                                        border-radius: 50px;
                                    }
                                }

                                .news_tittle {
                                    p {
                                        overflow: hidden;
                                        display: -webkit-box;
                                        text-overflow: ellipsis;
                                        -webkit-line-clamp: 1;
                                        /*!autoprefixer:off*/
                                        -webkit-box-orient: vertical;
                                        /*!autoprefixer:on*/
                                    }
                                }
                            }

                            .news_arrow {
                                margin: 0 0 0 20px;

                                p {
                                    i {
                                        color: $brown;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }

                    &.swiper_activities_area {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    border-radius: 5px;
                                }
                            }
                        }
                    }

                    &.swiper_recommended_area {
                        .swiper {
                            .swiper-wrapper {
                                .swiper-slide {
                                    background-color: $white;
                                    border-radius: 5px;
                                    width: 80%;

                                    img {
                                        border-radius: 5px;
                                    }

                                    .audio_icon {
                                        background-color: $main_color;
                                        padding: 5px;
                                        position: absolute;
                                        z-index: 1;
                                        right: 0;
                                        top: 0;
                                        border-radius: 0px 5px 0px 5px;

                                        i {
                                            color: $white;
                                        }
                                    }

                                    .book_content {
                                        width: 80%;
                                        margin: 0px auto;
                                        padding: 15px 0px;

                                        h4 {
                                            color: $brown;
                                            margin: 0 0 8px;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            text-overflow: ellipsis;
                                            -webkit-line-clamp: 2;
                                            /*!autoprefixer:off*/
                                            -webkit-box-orient: vertical;
                                            /*!autoprefixer:on*/
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    body,
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    code,
    form,
    fieldset,
    legend,
    input,
    textarea,
    p,
    a,
    span,
    blockquote,
    th,
    td,
    figure {
        color: $black;
    }
}

@media screen and (min-width: 768px) {
    body {
        .main {
            .main_content {
                .main_content_item {
                    margin: 100px auto;
                    align-items: center;
                    justify-content: space-between;

                    .main_content_tittle {
                        margin: 0 0 30px;
                    }

                    .main_content_item_link {
                        order: 2;
                        width: auto;
                        padding: 10px 50px;
                        margin: 0 0 30px;

                        .main_content_item_link_icon {

                            i {
                                font-size: 25px;
                            }
                        }
                    }

                    .main_content_item_content {
                        order: 3;

                        &.news_content {
                            .news_content_item {
                                padding: 25px 10px;
                                .news_date{
                                    margin: 0 40px 0 0;
                                }
                                .news_text {
                                    width: calc(100% - 86.05px - 75.89px);

                                    .news_category{
                                        margin: 0 0 15px;
                                    }
                                }

                                .news_arrow {
                                    margin: 0 0 0 40px;

                                    p {
                                        i {
                                            font-size: 25px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}