body {
    .main {
        .main_content {

            .main_content_item {
                &.category_content {
                    order: 2;
                    margin: 0 auto 40px;

                    .category_content_item {
                        
                        .category_content_item_project_information {

                            .project_information_text {
                                .project_information_text_list {
                                    .project_information_content{
                                        .rewards_chart{
                                            .rewards_chart_row_img{
                                                width: 30%;
                                            }
                                        }
                                    }
                                }

                            }

                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        .main {
            .main_content {
                .main_content_item {
                    &.category_content{
                        .category_content_menu{

                            .category_content_nav {

                            .category_content_nav_inner {
                                .category_content_nav_inner_list {
                                    justify-content: flex-start;

                                    li {
                                        width: 30%;
                                        margin: 5px 3.33333% 5px 0;
                                    }
                                }
                            }

                        }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        .main {
            .main_content {
                .main_content_item {
                    &.category_content{
                        align-items: flex-start;

                        .category_content_menu{
                            position: sticky;
                            top: 40px;
                            width: 30%;
                            margin: 40px 0;

                            .category_content_nav {

                            .category_content_nav_inner {
                                .category_content_nav_inner_list {

                                    li {
                                        width: 100%;

                                        a{
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;

                                            .menu_icon{
                                                i{
                                                    transform: rotate(0deg);
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                        }

                        .category_content_item{
                            width: 65%;
                            margin: 0 0 0px auto;
                            padding: 40px 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        .main {
            .main_content {
                .main_content_item {
                    &.category_content{

                        .category_content_menu{
                            width: 25%;
                            margin: 40px 0;
                        }

                        .category_content_item{
                            width: 70%;
                            padding: 40px 0;
                        }
                    }
                }
            }
        }
    }
}