main {
    &.oversea {
        .join-all {
            .order-wrap {
                .order-page {
                    .order-body {
                        .signup_area {
                            display: flex;
                            align-items: center;

                            .signup_photo_area,
                            .signup_text_area {
                                width: 43.75%;
                                margin: 0 auto;
                            }

                            .signup_photo_area {
                                background-image: url(../../Content/images/oversea/signup_bg.png);
                                background-size: cover;
                                background-position: center center;
                                position: relative;

                                .signup_photo_item_text{
                                    width: 80%;
                                        margin: 0 auto;
                                        padding: 10px;
                                        background-color: #ff9567;
                                        border-radius: 50px;
                                        display: flex;
                                        justify-content: center;
                                        position: absolute;
                                        bottom: 0;
                                    p {
                                        color: $white;
                                        
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 576px) {
    main {}
}

@media screen and (min-width: 1024px) {
    main {}
}