main {
  &.reading_plan {
    .RPList-books {
        .tab-content{
            margin: 0;
            .tab-pane{
                .table{
                    .book-tools{
                        display: flex;
                        justify-content: space-between;
                        margin: 10px auto 0;
                        padding: 15px 10%;
                        height: auto;
                    }
                }
            }
        }
    }
  }
}

.modal{
  .modal-dialog{
    .modal-content{
      .modal-header{
        background-color: #edf1f4;
      }
      .modal-body{
        background-color: #edf1f4;
        .myStudy{
          .container-fluid{
            .myStudy-block{
              height: auto;
              overflow: initial;
              &.video{
                .myStudy-title{
                  background-image: url(../images/reading_plan/myStudy/title-video-img.png), url(../images/reading_plan/myStudy/title-video-bg.png);
                }
                .myStudy-content{
                  .upload-video{
                    .upload-video__area{
                      .upload-video__area-default{
                        background-image: url(../images/reading_plan/myStudy/default-block-img.png);
                        .upload-video__area-default__text{
                          img{
                            width: auto;
                          }
                        }
                      }
                    }
                  }
                }

                .myStudy-btns{
                  .btn-main{
                    background-color: #43a047;
                    &:hover{
                      background-color: #3b8e3f;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width: 576px) {
  main {
    &.readingClub {
      .join-all {
        .order-wrap {

          .order-body {
            .readingClub-list {

              .dataTables_wrapper {
                .readingClub-list__header {
                  flex-direction: row;
                  justify-content: flex-end;
                  padding: 5px;
                }

                .readingClub-table {
                  tbody {
                    justify-content: flex-start;

                    tr {
                      &.club_table_area {
                        width: 47.5%;
                        margin: 10px 1.25%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    &.readingClub {
      .join-all {
        .order-wrap {

          .order-body {
            .readingClub-list {

              .dataTables_wrapper {
                .readingClub-table {
                  tbody {

                    tr {
                      &.club_table_area {
                        width: 30%;
                        margin: 10px 1.5%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}