main {
  &.reading_plan {
    .RPList-books {
        .tab-content{
            margin: 0;
            .tab-pane{
                .table{
                    .book-tools{
                        display: flex;
                        justify-content: space-between;
                        margin: 10px auto 0;
                        padding: 15px 10%;
                        height: auto;
                    }
                }
            }
        }
    }
  }
}


@media screen and (min-width: 576px) {
  main {
    &.readingClub {
      .join-all {
        .order-wrap {

          .order-body {
            .readingClub-list {

              .dataTables_wrapper {
                .readingClub-list__header {
                  flex-direction: row;
                  justify-content: flex-end;
                  padding: 5px;
                }

                .readingClub-table {
                  tbody {
                    justify-content: flex-start;

                    tr {
                      &.club_table_area {
                        width: 47.5%;
                        margin: 10px 1.25%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    &.readingClub {
      .join-all {
        .order-wrap {

          .order-body {
            .readingClub-list {

              .dataTables_wrapper {
                .readingClub-table {
                  tbody {

                    tr {
                      &.club_table_area {
                        width: 30%;
                        margin: 10px 1.5%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}