main {
  &.storytelling {
    .page-banner {
      &.storytelling {
        background-image: url(../images/storytelling/banner-bg.jpg);
        background-position: 45% center;
        margin-bottom: 0;

        h1 {
          font-size: 1.5em;
          font-weight: 400;
          line-height: 1em;
          margin-top: 10px;
          margin-bottom: 20px;
          color: #FFF;
          text-align: left;
        }

        p {
          font-size: 0.9em;
          line-height: 1.875em;
          color: #FFF;
          text-align: left !important;
        }
      }
    }

    .storytelling-search {
      margin: 30px auto 15px;

      .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .storytelling-search_left {
          width: 100%;

          .storytelling-search_left_top {
            width: 80%;
            margin: 0 auto 30px;
          }

          .storytelling-search_left_input {
            margin: 20px 0;

            .input-group {
              display: flex;
              align-items: center;

              .storytelling-search_input_text {
                width: 25%;
                margin: 0 10px 0 0;
                text-align: right;
              }

              .form-control {
                width: calc(57% - 10px);
                padding: 6px calc(18% + 16px) 6px 16px;
                height: auto;
              }

              .input-group-btn {
                &.more_select_group {
                  width: calc(55% - 10px);
                  position: absolute;
                  left: calc(25% + 10px);
                  display: flex;
                  justify-content: flex-end;

                  &.open {
                    .more_select_dropdown_menu {
                      display: block;
                    }
                  }

                  .btn {
                    position: relative;
                    z-index: 6;
                  }

                  .more_select_dropdown_menu {
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    min-width: 160px;
                    padding: 5px 0;
                    background-color: $white;
                    border: 1px solid $main_color;

                    .more_select_grade_area {
                      display: flex;
                      flex-wrap: wrap;

                      .more_select_grade {
                        width: 45%;
                        margin: 5px calc(10% / 6);
                        border: 1px solid $button-gray;
                        border-radius: 0;

                        &:hover,
                        &.check {
                          border: 1px solid $main_color;
                        }
                      }
                    }

                    .icheck_area {
                      display: flex;
                      flex-wrap: wrap;

                      .type_check_area {
                        width: 95%;
                        margin: 5px 2.5%;

                        .type_check_checkbox {
                          position: absolute;
                          opacity: 0;

                          &+label {
                            display: flex;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            padding: 0;

                            &:before {
                              content: '';
                              margin-right: 10px;
                              display: inline-block;
                              vertical-align: text-top;
                              width: 20px;
                              height: 20px;
                              background: $white;
                              border: 1px solid $main_color;
                            }
                          }

                          &:hover {
                            &+label {
                              color: $main_color;

                              &:before {
                                border: 1px solid $main_color;
                              }
                            }
                          }

                          &:checked {
                            &+label {
                              &:before {
                                border: 1px solid $main_color;
                                background-color: $main_color;
                              }

                              &:after {
                                font-family: 'FontAwesome', sans-serif;
                                content: '\f00c';
                                position: absolute;
                                color: $white;
                                width: 20px;
                                font-size: 15px;
                                text-align: center;
                              }
                            }
                          }
                        }
                      }
                    }

                    .dropdown_menu_btn_area {
                      margin: 10px;

                      .dropdown_menu_btn {
                        background-color: $main_color;
                        color: $white;
                        margin: 0 0 0 auto;
                        display: block;

                        &:hover {
                          background-color: darken($main_color, 5%);
                        }
                      }
                    }

                    &.open {
                      display: block;
              }
                  }
                }

                &.select_group {
                  width: 20%;
                  background-color: $main_color;

                  .btn {
                    display: block;
                    margin: 0 auto;
                    color: $white;
                  }

                  .dropdown-menu {
                    margin: 0;
                    border: 1px solid $main_color;
                    border-radius: 0;
                    right: 0;
                    left: auto;

                    .select_group_item {
                      padding: 0 5%;
                      cursor: pointer;

                      &:hover {
                        background-color: $main_color;
                        color: $white;
                      }
                    }

                  }

                  &:hover {
                    background-color: darken($main_color, 5%);

                  }
                }
              }
            }
          }

        }

        .storytelling-search_right {
          width: 100%;
          margin: 20px auto;

          .storytelling-board {
            .storytelling-board__title {
              background-image: url(../images/storytelling/storytelling-board.png);
              width: 100%;
              height: 0;
              padding-bottom: 16%;
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;

              .storytelling-board__title__flex {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: left;

                h2 {
                  font-size: 1.1em;
                  font-weight: 400;
                  color: $white;
                  margin: 0 0 0 10.69%;
                  letter-spacing: 0.35em;
                }
              }
            }

            .storytelling-board__content {
              width: 100%;
              display: flex;

              .storytelling-board__content__tab-content {
                width: 100%;
                padding: 0px 15px;
                background-color: $white;
                box-shadow: 5px 5px 20px rgba(200, 198, 198, 0.6);

                table {
                  width: 100%;
                  margin: 0 auto;
                  padding: 0 5px;

                  tbody {
                    tr {
                      width: 100%;

                      .ellipsis {
                        position: relative;

                        span {
                          position: absolute;
                          top: 50%;
                          left: 0;
                          right: 0;
                          transform: translate(0, -50%);
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        }
                      }

                      td {
                        text-align: center;
                        padding: 12px 2px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // display: inline-block;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;

                        &:nth-child(1) {
                          width: 20px;
                          background-repeat: no-repeat;
                          background-position: center center;
                        }

                        &:nth-child(2) {
                          width: 45px;
                          text-align: center;
                        }

                        &:nth-child(3) {
                          width: calc(100% - 278px);
                        }

                        &:nth-child(4) {
                          width: 82.5px;
                        }

                        &:nth-child(5) {
                          width: 65.5px;
                        }

                        &:nth-child(6) {
                          width: 65.5px;
                        }

                        a {
                          color: $main_color;
                        }
                      }


                      &.storytelling-ranking {
                        td {
                          text-align: center;
                        }
                      }

                      &:nth-child(2) {
                        td {
                          &:nth-child(1) {
                            background-image: url(../images/index/board-icon-1.png);
                          }
                        }
                      }

                      &:nth-child(3) {
                        td {
                          &:nth-child(1) {
                            background-image: url(../images/index/board-icon-2.png);
                          }
                        }
                      }

                      &:nth-child(4) {
                        td {
                          &:nth-child(1) {
                            background-image: url(../images/index/board-icon-3.png);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

    .storytelling-books {
      background-color: #f4f8fb;
      padding-bottom: 30px;

      .tab-content {
        margin: 0;
        padding-bottom: 20px;

        .tab-pane {

          .dataTables_wrapper {
            .datatables-custom-header {
              margin: 15px 0;

              .dt-buttons {
                display: flex;
                justify-content: flex-start;

                .channel_btn {
                  border: 1px solid #c6c6c6;
                  color: $main_color;
                  min-width: 100px;
                  text-align: center;
                  padding: 10px;
                  border-radius: 6px 6px 0 0;
                  margin: 0 5px 0 0;

                  &:hover,
                  &:focus {
                    background-color: #ececec;
                    box-shadow: none;
                  }

                  &.active,
                  &:active {
                    border: 1px solid $main_color;
                    background-color: $main_color;
                    color: $white;
                  }
                }

                .time_btn {
                  margin: 0 0 0 10px;
                  padding: 10px 15px;
                  background-color: $main_color;
                  color: $white;
                  border-radius: 0;
                }
              }
            }

            .storytelling-books__table {
              margin-bottom: 0;

              thead {
                display: none;
              }

              tbody {
                background-color: $white;

                tr {
                  display: inline-block;
                  position: relative;
                  border: 1px solid $default-gray;
                  margin: 15px auto;

                  td {
                    float: left;
                    table-layout: fixed;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    border-top: none;

                    &.one_row {
                      width: 100%;
                    }

                    &.book-delete {
                      float: right;
                    }

                    &.book-id {
                      display: none;
                    }

                    &.book-front {
                      float: left;
                      width: 100%;
                      height: 180px;
                      cursor: pointer;

                      .modal_link {
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: relative;

                        img {
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        }
                      }

                      .modal_link_bg {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($black, .7);
                        display: none;
                      }

                      &:hover {
                        .modal_link_bg {
                          display: block;
                        }
                      }
                    }

                    &.storytelling-book-logo {
                      position: absolute;
                      z-index: 1;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      top: calc(14px * 1.7 + 8px + 8px + 180px / 2);
                      overflow: initial;

                      .modal_link {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                      }

                      .storytelling-book-logo-text {
                        p {
                          color: $white;
                        }
                      }

                      &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background-color: rgba($black, .7);
                        z-index: -1;
                      }

                      &:hover {
                        &~.book-front {
                          .modal_link_bg {
                            display: block;
                          }
                        }
                      }
                    }

                    &.book-name {
                      padding: 10px 10px 6px 10px;
                      display: inline-block;
                      float: left;
                      max-width: calc(100% - 40px);

                      h5 {
                        font-weight: bold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }

                      .modal_link {
                        &:hover {
                          h5 {
                            color: $main_color;
                          }
                        }
                      }
                    }

                    &.book-ebook {
                      display: inline-block;
                      float: left;
                      padding: 10px 5px 10px 5px;
                      text-align: center;
                    }

                    &.storytelling_title {
                      float: left;
                      max-width: calc(100% - 80px);
                      padding: 14px 8px;

                      p {
                        font-weight: bold;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                    }

                    .storytelling_submit {
                      background-color: $main_color;
                      color: $white;
                      line-height: 1.42857143;
                      float: right;

                      &:hover {
                        background-color: darken($main_color, 5%);
                      }

                      &:disabled {
                        &:hover {
                          background-color: $main_color;
                        }
                      }

                      &.done {
                        display: none;
                      }
                    }

                    &.book-state {
                      float: left;
                      max-width: calc(100% - 110px);
                    }

                    &.book-tools {
                      margin: 0 auto 20px;

                      .book-tools_item {
                        .book-tools_item_btn_area {
                          display: flex;
                          justify-content: center;

                          .thumbs_icon,
                          .comment_icon {
                            margin: 0 5px;
                            color: $main_color;
                          }

                          .storytelling-books_btn {
                            color: $main_color;
                            min-width: 120px;
                            margin: 0 10px;
                          }
                        }
                      }

                      &.book-tools-one {
                        display: inline-block;
                        margin: 0;
                        float: right;
                      }
                    }

                    &.bookBg_img {
                      position: absolute;
                      width: 30%;
                      right: 15%;
                      bottom: 18%;
                      max-width: 150px;
                    }
                  }
                }
              }
            }

            .storytelling-footer {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              padding: 30px 0;

              .dataTables_paginate,
              .dataTables_info,
              .add_dataTables_input {
                margin: 10px;
              }

              .dataTables_paginate {
                min-width: 1.5em;
                padding: 0.45em 0.85em;
                margin: 4px 2px;
                border-radius: 0;
                color: #2e3233 !important;
                text-decoration: none !important;

                .paginate_button {
                  &.disabled {

                    &:hover,
                    &:focus,
                    &:active {
                      background-color: #f9f9f9;
                      border: 1px solid #c6c6c6;
                      color: #7c8284 !important;
                      box-shadow: none !important;
                      cursor: default;
                    }
                  }

                  &.current {

                    &:hover,
                    &:focus,
                    &:active {
                      color: #ff0000 !important;
                      font-weight: 500;
                      border: 1px solid transparent;
                      background: none;
                      box-shadow: none;
                      cursor: default;
                    }
                  }
                }
              }

              .dataTables_info {
                .footer-hide {
                  display: none;
                }
              }

              .add_dataTables_input {
                .paginate_input {
                  border-radius: 0;
                  width: 48px;
                  padding: 10px;
                }

                .paginate_button {
                  margin-left: 35px;
                  background-color: #f1f1f1;
                  border: 1px solid #c6c6c6;
                  color: #2e3233;
                  padding: 11px 18px;
                  margin-top: -5px;
                }
              }
            }
          }


        }
      }
    }
  }
}

.storytelling_video_modal {

  .modal-dialog {
    .modal-content {
      .modal-header{
        border: 0;
      }
      .modal-body {
        padding: 15px 15px 40px;

        .storytelling_video_body {
          background-color: #edf1f4;

          .container-fluid {
            .storytelling_video_body_content {
              .video_area {
                .video_title {
                  background-color: $white;
                  border: 1px solid $default-gray;
                  border-bottom: 0px;
                  padding: 25px 35px;
                  display: flex;
                  justify-content: flex-start;
                  flex-direction: column;

                  .video_name {
                    margin: 0 40px 10px 0;
                  }

                  .video_ISBN {
                    p {
                      display: flex;
                      flex-wrap: wrap;
                    }
                  }
                }

                .video_iframe {
                  iframe {
                    width: 100%;
                    height: 315px;
                  }
                }
              }

              .feedback_area {
                margin: 20px auto 0;

                .feedback_title {
                  background-color: #d3ddff;
                  padding: 20px;

                  .feedback_name {
                    margin: 0 0 10px 0;
                  }

                  .feedback_icon {
                    display: flex;

                    .feedback_icon_item {
                      display: flex;
                      align-items: center;
                      margin: 0 15px 0 0;

                      p {
                        margin: 0 0 0 5px;
                      }
                    }
                  }
                }

                .feedback_item_area {
                  padding: 20px;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;

                  .feedback_item {
                    margin: 5px 10px 5px 0;

                    &.feedback_item_btn {
                      display: flex;

                      .feedback_item_btn_thumbs,
                      .feedback_item_btn_comment {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 15px 0 0;
                        color: $main_color;
                        min-width: 100px;

                        p {
                          margin: 0 0 0 5px;
                          color: $main_color;
                        }
                      }
                    }
                  }
                }

                .comment_area {
                  padding: 20px;
                  border-top: 1px solid $main_color;

                  .comment_item {
                    margin: 0 0 20px;

                    &.comment_item_btn {
                      display: flex;
                      margin: 10px 0;

                      .comment_item_btn_thumbs,
                      .comment_item_btn_comment {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 15px 0 0;
                        min-width: 100px;

                        p {
                          color: $main_color;
                        }
                      }
                    }

                    &.comment_item_textarea {
                      display: none;

                      textarea {
                        padding: 15px;
                        width: 100%;
                        min-height: 220px;
                      }
                    }
                  }
                }
              }

              .video_check_area {
                display: none;

                .video_checkbox_item {
                  display: flex;
                  justify-content: center;

                  .video_check_checkbox {
                    position: absolute;
                    opacity: 0;

                    &+label {
                      display: flex;
                      align-items: center;
                      position: relative;
                      cursor: pointer;
                      padding: 0;

                      p {
                        max-width: calc(100% - 30px);
                      }

                      &:before {
                        content: '';
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: text-top;
                        width: 20px;
                        height: 20px;
                        background: $white;
                        border: 1px solid $main_color;
                      }
                    }

                    &:hover {
                      &+label {
                        color: $main_color;

                        &:before {
                          border: 1px solid $main_color;
                        }
                      }
                    }

                    &:checked {
                      &+label {
                        &:before {
                          border: 1px solid $main_color;
                          background-color: $main_color;
                        }

                        &:after {
                          font-family: 'FontAwesome', sans-serif;
                          content: '\f00c';
                          position: absolute;
                          color: $white;
                          width: 20px;
                          font-size: 15px;
                          text-align: center;
                        }
                      }
                    }
                  }
                }

                .warning_text {
                  p {
                    color: $default-red;
                  }
                }

                .video_check_item_area {
                  margin: 10px auto;

                  .video_check_item_both {
                    .video_check_item {
                      p {
                        display: flex;
                        margin: 5px 0;

                        i {
                          color: $default-red;
                          margin: 0 5px 0 0;
                        }
                      }
                    }
                  }
                }
              }

              .feedback_check_submit {
                display: flex;
                justify-content: center;
                margin: 40px auto 0;

                .feedback_check_submit_btn {
                  margin: 0 10px;
                  background-color: $main_color;
                  color: $white;

                  &:hover {
                    background-color: darken($main_color, 5%);
                  }

                  &:disabled {
                    &:hover {
                      background-color: $main_color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 680px) {
  main {
    &.storytelling {
      .storytelling-books {
        .tab-content {
          .tab-pane {
            .dataTables_wrapper {
              .storytelling-books__table {
                tbody {
                  tr {
                    width: 47.5%;

                    &.even {
                      float: right;
                    }
                  }
                }
              }

              .storytelling-footer {
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    &.storytelling {
      .storytelling-books {
        .tab-content {
          .tab-pane {
            .dataTables_wrapper {
              .storytelling-books__table {
                tbody {
                  tr {
                    width: 100%;

                    &.even {
                      float: right;
                    }

                    td {
                      &.storytelling-book-logo {
                        top: calc(15px * 1.7 + 8px + 8px + 180px / 2);

                        &::after {
                          width: 120px;
                          height: 120px;
                        }
                      }
                    }
                  }
                }
              }

              .storytelling-footer {
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }

  .storytelling_video_modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .storytelling_video_body {
            .container-fluid {
              .storytelling_video_body_content {
                .video_area {
                  .video_title {
                    flex-direction: row;

                    .video_name {
                      width: 60%;
                    }

                    .video_ISBN {
                      width: 35%;
                    }
                  }
                }

                .feedback_area {
                  .feedback_title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  }

                  .comment_area {
                    .comment_item {
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;

                      &.comment_item_btn {
                        display: flex;
                        margin: 10px 20px;

                        .comment_item_btn_thumbs,
                        .comment_item_btn_comment {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          margin: 0 15px 0 0;
                          min-width: 100px;

                          p {
                            color: $main_color;
                          }
                        }
                      }

                      &.comment_item_textarea {
                        textarea {
                          padding: 15px;
                          width: 100%;
                          min-height: 220px;
                        }
                      }
                    }
                  }
                }

                .video_check_area {
                  padding: 20px;

                  .video_check_item_area {
                    display: flex;
                    justify-content: space-between;

                    .video_check_item_both {
                      width: 47.5%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  main {
    &.storytelling {
      .page-banner {
        &.storytelling {
          background-position: center center;
        }
      }

      .storytelling-search {

        .container {

          .storytelling-search_left {
            width: 70%;
            margin: 0 auto;
          }

          .storytelling-search_right {
            width: 70%;
          }
        }

      }

      .storytelling-books {
        .tab-content {
          .tab-pane {
            .dataTables_wrapper {
              .storytelling-books__table {
                tbody {
                  tr {
                    width: 47.5%;

                    &.even {
                      float: right;
                    }

                    td {

                      &.storytelling-book-logo {
                        top: calc(17px * 1.7 + 8px + 8px + 180px / 2);

                        &::after {
                          width: 120px;
                          height: 120px;
                        }
                      }

                      &.book-name {
                        max-width: calc(100% - 100px);
                      }

                      &.book-state {
                        max-width: calc(100% - 120px);
                      }
                    }
                  }
                }
              }

              .storytelling-footer {
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }

  .storytelling_video_modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .storytelling_video_body {
            .container-fluid {
              .storytelling_video_body_content {
                .video_area {
                  .video_iframe {
                    iframe {
                      height: 480px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
.storytelling_video_modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .storytelling_video_body {
            .container-fluid {
              .storytelling_video_body_content {
                .video_area {
                .video_title {

                  .video_name {
                    width: 70%;
                  }

                  .video_ISBN {
                  width: 25%;
                  }
                }
                  .video_iframe {
                    iframe {
                      height: 620px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  main {
    &.storytelling {
      .storytelling-search {

        .container {
          flex-direction: row;

          .storytelling-search_left {
            width: 55%;
          }

          .storytelling-search_right {
            width: 40%;
          }
        }

      }

      .storytelling-books {
        .tab-content {
          .tab-pane {
            .dataTables_wrapper {
              .storytelling-books__table {
                tbody {
                  tr {
                    width: 47.5%;

                    &.even {
                      float: right;
                    }

                    td {
                      padding: 5px 10px;

                      &.one_row {
                        width: 60%;
                      }

                      &.book-front {
                        width: 40%;
                        height: 355px;
                      }

                      &.storytelling-book-logo {
                        left: 20%;
                        top: 50%;
                      }

                      &.book-name {
                        max-width: calc(60% - 100px);
                      }

                      &.storytelling_title {
                        max-width: calc(60% - 90px);
                      }

                      &.book-state {
                        float: left;
                        max-width: calc(60% - 130px);
                      }

                      &.book-tools {
                        margin: 0;
                      }

                      &.bookBg_img {
                        right: 5%;
                        bottom: 25%;
                      }
                    }
                  }
                }
              }

              .storytelling-footer {
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }
}