main {
  &.storytelling {
    .page-banner {
      &.storytelling {
        background-image: url(../images/storytelling/banner-bg.jpg);
        background-position: center center;
        margin-bottom: 0;

        h1 {
          font-size: 1.5em;
          font-weight: 400;
          line-height: 1em;
          margin-top: 10px;
          margin-bottom: 20px;
          color: #FFF;
          text-align: left;
        }

        p {
          font-size: 0.9em;
          line-height: 1.875em;
          color: #FFF;
          text-align: left !important;
        }
      }
    }

    .storytelling-search {
      margin: 30px auto 15px;
      .storytelling-search_left {
        width: 58%;

        .storytelling-search_left_top {
          width: 80%;
          margin: 0 auto 30px;
        }

        .storytelling-search_left_input {
          margin: 20px 0;

          .input-group {
            display: flex;
            align-items: center;

            .storytelling-search_input_text {
              width: 25%;
              margin: 0 10px 0 0;
              text-align: right;
            }

            .form-control {
              width: calc(57% - 10px);
              padding: 10px calc(18% + 16px) 10px 16px;
            }

            .input-group-btn {
              &.more_select_group {
                width: calc(57% - 10px);
                position: absolute;
                left: calc(25% + 10px);
                display: flex;
                justify-content: flex-end;

                .btn {
                  position: relative;
                  z-index: 6;
                }

                .more_select_dropdown_menu {
                  width: 100%;
                  position: absolute;
                  top: 100%;
                  left: 0;
                  z-index: 1000;
                  display: none;
                  min-width: 160px;
                  padding: 5px 0;
                  background-color: $white;
                  border: 1px solid $main_color;

                  &.open{
                    display: block;
                  }

                  .more_select_grade_area{
                    display: flex;
                    flex-wrap: wrap;
                    .more_select_grade{
                      width: 45%;
                      margin: 5px calc(10% / 6);
                      border: 1px solid $button-gray;
                      border-radius: 0;

                      &:hover,
                      &.check{
                        border: 1px solid $main_color;
                      }
                    }
                  }
                  
                  .icheck_area {
                    display: flex;
                    flex-wrap: wrap;

                    .type_check_area {
                      width: 45%;
                      margin: 5px calc(10% / 6);

                      .type_check_checkbox {
                        position: absolute;
                        opacity: 0;

                        &+label {
                          display: flex;
                          align-items: center;
                          position: relative;
                          cursor: pointer;
                          padding: 0;

                          &:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 20px;
                            height: 20px;
                            background: $white;
                            border: 1px solid $main_color;
                          }
                        }

                        &:hover {
                          &+label {
                            color: $main_color;

                            &:before {
                              border: 1px solid $main_color;
                            }
                          }
                        }

                        &:checked {
                          &+label {
                            &:before {
                              border: 1px solid $main_color;
                              background-color: $main_color;
                            }

                            &:after {
                              font-family: 'FontAwesome', sans-serif;
                              content: '\f00c';
                              position: absolute;
                              color: $white;
                              width: 20px;
                              font-size: 15px;
                              text-align: center;
                            }
                          }
                        }
                      }
                    }
                  }

                  .dropdown_menu_btn_area {
                    margin: 10px;

                    .dropdown_menu_btn {
                      background-color: $main_color;
                      color: $white;
                      margin: 0 0 0 auto;
                      display: block;

                      &:hover {
                        background-color: darken($main_color, 5%);
                      }
                    }
                  }
                }
              }

              &.select_group {
                width: 18%;
                background-color: $main_color;

                .btn {
                  display: block;
                  margin: 0 auto;
                  color: $white;
                }

                .dropdown-menu {
                  margin: 0;
                  border: 1px solid $main_color;
                  border-radius: 0;

                  .select_group_item{
                    padding: 0 5%;
                    cursor: pointer;

                    &:hover{
                      background-color: $main_color;
                      color: $white;
                    }
                  }

                }

                &:hover {
                  background-color: darken($main_color, 5%);

                }
              }
            }
          }
        }

        .storytelling-search_left_text{
          display: flex;
          justify-content: center;
        }
      }

      .storytelling-search_right {
        width: 39%;
      }
    }

    .RPList-books {
      .tab-content {
        margin: 0;

        .tab-pane {

          .dataTables_wrapper {
            .datatables-custom-header {
              .dt-buttons {
                display: flex;
                justify-content: flex-start;

                .channel_btn {
                  border: 1px solid #c6c6c6;
                  color: $main_color;
                  min-width: 100px;
                  text-align: center;
                  padding: 10px 20px;
                  border-radius: 6px 6px 0 0;
                  margin: 0 5px 0 0;

                  &:hover,
                  &:focus {
                    background-color: #ececec;
                    box-shadow: none;
                  }

                  &.active,
                  &:active {
                    border: 1px solid $main_color;
                    background-color: $main_color;
                    color: $white;
                  }
                }

                .dt-button {
                  margin: 0 0 0 30px;
                  padding: 12px 30px;
                  background-color: $main_color;
                  color: $white;
                  border-radius: 0;
                }
              }
            }
          }

          .table {
            .book-tools {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              margin: 10px auto 0;
              padding: 15px 10%;
              height: auto;

              .book-tools_item {
                margin: 5px auto;

                .book-tools_item_btn_area {
                  margin: 5px auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background-color: #edf1f4;
      }

      .modal-body {
        background-color: #edf1f4;

        .myStudy {
          .container-fluid {
            .myStudy-block {
              height: auto;
              overflow: initial;

              &.video {
                .myStudy-title {
                  background-image: url(../images/reading_plan/myStudy/title-video-img.png), url(../images/reading_plan/myStudy/title-video-bg.png);
                }

                .myStudy-content {
                  .upload-video {
                    .upload-video__area {
                      .upload-video__area-default {
                        background-image: url(../images/reading_plan/myStudy/default-block-img.png);

                        .upload-video__area-default__text {
                          img {
                            width: auto;
                          }
                        }
                      }
                    }
                  }
                }

                .myStudy-btns {
                  .myStudy-btns_preview {
                    color: $SR_green;
                    border: 1px solid #ccc;
                    border-radius: 0;
                  }

                  .myStudy-btns_submit {
                    background-color: $SR_green;
                    color: $white;

                    &:hover {
                      background-color: $SR_green_dark;
                    }
                  }
                }

                .myStudy-text {
                  display: flex;
                  justify-content: center;
                  margin: 10px auto 0;

                  .sent_success {
                    display: none;
                  }

                  p {
                    a {
                      color: $SR_green;

                      &:hover {
                        color: $SR_green_dark;
                      }
                    }
                  }

                }

                .video_check_area {
                  display: none;

                  .video_check_checkbox {
                    position: absolute;
                    opacity: 0;

                    &+label {
                      display: flex;
                      align-items: center;
                      position: relative;
                      cursor: pointer;
                      padding: 0;

                      p {
                        max-width: calc(100% - 30px);
                      }

                      &:before {
                        content: '';
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: text-top;
                        width: 20px;
                        height: 20px;
                        background: $white;
                        border: 1px solid $main_color;
                      }
                    }

                    &:hover {
                      &+label {
                        color: $main_color;

                        &:before {
                          border: 1px solid $main_color;
                        }
                      }
                    }

                    &:checked {
                      &+label {
                        &:before {
                          border: 1px solid $main_color;
                          background-color: $main_color;
                        }

                        &:after {
                          font-family: 'FontAwesome', sans-serif;
                          content: '\f00c';
                          position: absolute;
                          color: $white;
                          width: 20px;
                          font-size: 15px;
                          text-align: center;
                        }
                      }
                    }
                  }

                  .video_check_item_area {
                    margin: 10px auto;

                    .video_check_item_both {
                      .video_check_item {
                        p {
                          display: flex;
                          margin: 5px 0;

                          i {
                            color: $default-red;
                            margin: 0 5px 0 0;
                          }
                        }
                      }
                    }
                  }
                }

                .video_check_submit {
                  display: none;
                  margin: 20px auto;

                  .video_check_submit_btn {
                    display: block;
                    margin: 0 auto;
                    background-color: $SR_green;
                    color: $white;

                    &:hover {
                      background-color: $SR_green_dark;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  main {
    &.reading_plan {

    }
  }

  .modal {
    .modal-dialog {
      .modal-content {

        .modal-body {

          .myStudy {
            .container-fluid {
              .myStudy-block {
                &.video {
                  .video_check_area {
                    .video_check_item_area {
                      display: flex;
                      justify-content: space-between;

                      .video_check_item_both {
                        width: 47.5%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  main {
    &.reading_plan {

    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    &.reading_plan {
      .page-banner {
        &.reading_plan {
          p {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  main {
    &.reading_plan {
    }
  }
}