main {
  &.storytelling {
    .page-banner {
      &.storytelling {
        background-image: url(../images/storytelling/banner-bg.jpg);
        background-position: center center;
        margin-bottom: 0;

        h1 {
          font-size: 1.5em;
          font-weight: 400;
          line-height: 1em;
          margin-top: 10px;
          margin-bottom: 20px;
          color: #FFF;
          text-align: left;
        }

        p {
          font-size: 0.9em;
          line-height: 1.875em;
          color: #FFF;
          text-align: left !important;
        }
      }
    }

    .storytelling-search {
      margin: 30px auto 15px;

      .container {
        display: flex;
        justify-content: space-between;

        .storytelling-search_left {
          width: 58%;

          .storytelling-search_left_top {
            width: 80%;
            margin: 0 auto 30px;
          }

          .storytelling-search_left_input {
            margin: 20px 0;

            .input-group {
              display: flex;
              align-items: center;

              .storytelling-search_input_text {
                width: 25%;
                margin: 0 10px 0 0;
                text-align: right;
              }

              .form-control {
                width: calc(57% - 10px);
                padding: 10px calc(18% + 16px) 10px 16px;
              }

              .input-group-btn {
                &.more_select_group {
                  width: calc(57% - 10px);
                  position: absolute;
                  left: calc(25% + 10px);
                  display: flex;
                  justify-content: flex-end;

                  .btn {
                    position: relative;
                    z-index: 6;
                  }

                  .more_select_dropdown_menu {
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    min-width: 160px;
                    padding: 5px 0;
                    background-color: $white;
                    border: 1px solid $main_color;

                    &.open {
                      display: block;
                    }

                    .more_select_grade_area {
                      display: flex;
                      flex-wrap: wrap;

                      .more_select_grade {
                        width: 45%;
                        margin: 5px calc(10% / 6);
                        border: 1px solid $button-gray;
                        border-radius: 0;

                        &:hover,
                        &.check {
                          border: 1px solid $main_color;
                        }
                      }
                    }

                    .icheck_area {
                      display: flex;
                      flex-wrap: wrap;

                      .type_check_area {
                        width: 45%;
                        margin: 5px calc(10% / 6);

                        .type_check_checkbox {
                          position: absolute;
                          opacity: 0;

                          &+label {
                            display: flex;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            padding: 0;

                            &:before {
                              content: '';
                              margin-right: 10px;
                              display: inline-block;
                              vertical-align: text-top;
                              width: 20px;
                              height: 20px;
                              background: $white;
                              border: 1px solid $main_color;
                            }
                          }

                          &:hover {
                            &+label {
                              color: $main_color;

                              &:before {
                                border: 1px solid $main_color;
                              }
                            }
                          }

                          &:checked {
                            &+label {
                              &:before {
                                border: 1px solid $main_color;
                                background-color: $main_color;
                              }

                              &:after {
                                font-family: 'FontAwesome', sans-serif;
                                content: '\f00c';
                                position: absolute;
                                color: $white;
                                width: 20px;
                                font-size: 15px;
                                text-align: center;
                              }
                            }
                          }
                        }
                      }
                    }

                    .dropdown_menu_btn_area {
                      margin: 10px;

                      .dropdown_menu_btn {
                        background-color: $main_color;
                        color: $white;
                        margin: 0 0 0 auto;
                        display: block;

                        &:hover {
                          background-color: darken($main_color, 5%);
                        }
                      }
                    }
                  }
                }

                &.select_group {
                  width: 18%;
                  background-color: $main_color;

                  .btn {
                    display: block;
                    margin: 0 auto;
                    color: $white;
                  }

                  .dropdown-menu {
                    margin: 0;
                    border: 1px solid $main_color;
                    border-radius: 0;

                    .select_group_item {
                      padding: 0 5%;
                      cursor: pointer;

                      &:hover {
                        background-color: $main_color;
                        color: $white;
                      }
                    }

                  }

                  &:hover {
                    background-color: darken($main_color, 5%);

                  }
                }
              }
            }
          }

          .storytelling-search_left_text {
            display: flex;
            justify-content: center;
          }
        }

        .storytelling-search_right {
          width: 39%;

          .storytelling-board {
            .storytelling-board__title {
              background-image: url(../images/storytelling/storytelling-board.png);
              width: 100%;
              height: 0;
              padding-bottom: 16%;
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;

              .storytelling-board__title__flex {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: left;

                h2 {
                  font-size: 1.1em;
                  font-weight: 400;
                  color: $white;
                  margin: 0 0 0 10.69%;
                  letter-spacing: 0.35em;
                }
              }
            }

            .storytelling-board__content {
              width: 100%;
              display: flex;

              .storytelling-board__content__tab-content {
                width: 100%;
                padding: 30px 0px;
                background-color: $white;
                box-shadow: 5px 5px 20px rgba(200, 198, 198, 0.6);

                table {
                  width: 100%;
                  margin: 0 auto;
                  padding: 0 5px;

                  tbody {
                    tr {
                      width: 100%;

                      .ellipsis {
                        position: relative;

                        span {
                          position: absolute;
                          top: 50%;
                          left: 0;
                          right: 0;
                          transform: translate(0, -50%);
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        }
                      }

                      td {
                        text-align: center;
                        padding: 12px 2px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // display: inline-block;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;

                        &:nth-child(1) {
                          width: 60px;
                          background-repeat: no-repeat;
                          background-position: center center;
                        }

                        &:nth-child(2) {
                          width: 10%;
                          text-align: center;
                        }

                        &:nth-child(3) {
                          width: calc(100% - 71% - 60px);
                        }

                        &:nth-child(4) {
                          width: 26%;
                        }

                        &:nth-child(5) {
                          width: 20%;
                        }

                        &:nth-child(6) {
                          width: 15%;
                        }
                      }


                      &.storytelling-ranking {
                        td {
                          text-align: center;
                        }
                      }

                      &:nth-child(2) {
                        td {
                          &:nth-child(1) {
                            background-image: url(../images/index/board-icon-1.png);
                          }
                        }
                      }

                      &:nth-child(3) {
                        td {
                          &:nth-child(1) {
                            background-image: url(../images/index/board-icon-2.png);
                          }
                        }
                      }

                      &:nth-child(4) {
                        td {
                          &:nth-child(1) {
                            background-image: url(../images/index/board-icon-3.png);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

    .storytelling-books {
      background-color: #f4f8fb;
      padding-bottom: 30px;

      .tab-content {
        margin: 0;
        padding-bottom: 20px;

        .tab-pane {

          .storytelling-books__table {
            margin-bottom: 0;

            thead {
              display: none;
            }

            tbody {
              tr {
                td {
                  float: left;
                  table-layout: fixed;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  position: relative;
                  border-top: none;

                  &.one_row{
                    width: 60%;
                  }

                  &.book-id {
                    display: none;
                  }

                  &.book-front {
                    width: 40%;

                    a {
                      display: block;
                    }

                    img {
                      width: 100%;
                      height: auto;
                    }
                  }

                  &.book-name {
                    font-weight: 400;
                    padding: 10px 10px 6px 10px;
                    display: inline-block;
                    float: left;
                    max-width: calc(100% - 30px);
                  }

                  &.book-ebook {
                    display: inline-block;
                    float: left;
                    padding: 6px 5px 10px 5px;
                    text-align: center;
                  }

                  &.book-SR {
                    padding: 0px 10px 2px 10px;
                    color: #5c6466;
                    margin-bottom: 5px;
                  }
                }

                &:nth-child(odd) {
                  margin-right: 10px;
                }

              }
            }
          }

          .table {
            .book-tools {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              margin: 10px auto 0;
              padding: 15px 10%;
              height: auto;

              .book-tools_item {
                margin: 5px auto;

                .book-tools_item_btn_area {
                  margin: 5px auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}