main {
    .discussion_title_area {
        background-color: $dark_main_color;

        .discussion_title {
            max-width: 1200px;
            width: 80%;
            margin: 0 auto;
            padding: 10px 0;

            h3 {
                color: $white;
            }
        }
    }

    .progress_bar_area {
        max-width: 1200px;
        width: 80%;
        margin: 20px auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .progress_bar {
            position: absolute;
            top: calc(45px / 2);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 66%;
            height: 5px;
            z-index: -1;

            .progress_bar_item {
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;

                &.progress_bar_color {
                    background: linear-gradient(90deg, $firstStop 50%, $secondStop 0%);
                    z-index: -1;
                }

                &.progress_bar_gray {
                    background-color: $dark_grey;
                }
            }


        }

        .progress_bar_icon_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 33%;

            .progress_bar_icon {
                font-size: 20px;
                background-color: $white;
                border-radius: 50%;
                border: 3px solid;
                width: calc(30px * 1.6);
                text-align: center;
                padding: 5px;
                color: $dark_grey;
                border-color: $dark_grey;
                margin: 0 auto;
            }

            p {
                margin: 5px auto 0;
            }

            &.finish {
                &.progress_bar_first {
                    .progress_bar_icon {
                        border-color: $firstStop;
                        color: $firstStop;
                    }

                    p {
                        color: $firstStop;
                    }
                }

                &.progress_bar_second {
                    .progress_bar_icon {
                        border-color: $secondStop;
                        color: $secondStop;
                    }

                    p {
                        color: $secondStop;
                    }
                }

                &.progress_bar_third {
                    .progress_bar_icon {
                        border-color: $thirdStop;
                        color: $thirdStop;
                    }

                    p {
                        color: $thirdStop;
                    }
                }
            }

        }
    }

    .card_main_area {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .card_step_area {
            width: 100%;
            display: flex;
            flex-direction: column;

            .card_step_title {
                background-color: $dark_main_color;
                padding: 5px 10px;
                border-radius: 5px 5px 0 0;
                border: 1px solid;

                h4 {
                    color: $white;
                }
            }

            .card_step_content {
                background-color: $white;
                border-radius: 0 0 5px 5px;
                border: 1px solid;
                padding: 20px 15px;

                .card_step_task {
                    padding: 0 0 10px;
                    margin: 0 0 10px;
                    border-bottom: 1px solid $dark_grey;

                    .card_step_task_title {
                        width: 100%;
                    }

                    .card_step_task_item {
                        display: flex;
                        align-items: center;
                        margin: 10px 0 0 0;

                        .svg_icon {
                            margin: 0 5px 0 0;
                        }
                    }
                }

                .card_step_record {
                    .card_step_record_value {
                        display: flex;
                        flex-wrap: wrap;

                        .card_step_record_value_item {
                            margin: 0 15px 0 0;

                            span {
                                color: $dark_main_color;
                            }
                        }
                    }
                }

                .card_step_button {
                    margin: 20px auto 0;

                    .card_step_button_item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        border: 1px solid;
                        border-radius: 5px;
                        padding: 5px;

                        .svg_icon {
                            margin: 0 5px 0 0;
                        }

                        &.card_step_button_item_summarize {
                            border-color: $dark_main_color;
                            color: $dark_main_color;

                            p {
                                color: $dark_main_color;
                            }


                        }

                        &.card_step_button_item_done {
                            border-color: $dark_main_color;
                            color: $dark_main_color;
                            margin: 15px 0 0;

                            p {
                                color: $dark_main_color;
                            }
                        }

                    }
                }

                .card_step_mark {
                    margin: 20px 0 0;
                }
            }
        }

        &.card_first_step {
            .card_step_area {
                .card_step_title {
                    background-color: $firstStop;
                    border-color: $firstStop;
                }

                .card_step_content {
                    border-color: $firstStop;

                    .card_step_task {
                        .card_step_task_item {
                            color: $firstStop;

                            &.finish {
                                p {
                                    color: $firstStop;
                                }
                            }
                        }
                    }
                }
            }
        }

        .card_item_area {
            margin: 20px auto;
            width: 100%;

            .card_main_button {
                margin: 20px 0;

                .card_main_button_item {
                    display: flex;
                    align-items: center;
                    border: 1px solid;
                    border-radius: 5px;
                    padding: 5px 10px;

                    .svg_icon {
                        margin: 0 5px 0 0;
                    }

                    &.card_main_button_item_new {
                        border-color: $dark_main_color;
                        color: $dark_main_color;

                        p {
                            color: $dark_main_color;
                        }
                    }

                    &.card_main_button_item_delete {

                        &:hover {
                            color: $white !important;
                            background-color: $dark_grey !important;

                            p {
                                color: $white !important;
                            }
                        }
                    }
                }
            }

            .card_main_content_item {
                display: block;
                margin: 40px 0;
                border-radius: 5px;
                overflow: hidden;
                @extend %boxShadow;

                .card_main_content_left {
                    padding: 15px;

                    .card_main_content_name {
                        h4 {
                            color: $dark_grey;
                        }
                    }

                    .card_main_content_icon {
                        display: flex;
                        justify-content: flex-end;

                        .svg_icon {
                            color: $white;
                            margin: 0 0 0 10px;
                            font-size: 22px;
                            opacity: 0.3;

                            &.get_icon {
                                opacity: 1;
                            }
                        }
                    }
                }

                .card_main_content_right {
                    background-color: $white;
                    padding: 25px 15px;

                    .card_main_content_right_header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .card_author {
                            margin: 5px 10px 5px 0;
                            min-width: 200px;

                            p {
                                color: $white;
                                background-color: $dark_main_color;
                                padding: 5px 10px;
                                border-radius: 5px;
                                display: inline-block;
                            }
                        }

                        .card_time_area {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 5px 0;

                            .card_time {
                                margin: 0 5px 0 0;

                                span {
                                    color: $dark_main_color;
                                }
                            }
                        }
                    }

                    .card_main_content_right_content {
                        margin: 10px auto;

                        .card_main_content_right_title {
                            h4 {
                                color: $dark_main_color;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                -webkit-line-clamp: 1;
                            }
                        }

                        .card_main_content_right_article {
                            p {
                                margin: 10px auto;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                /* autoprefixer: off */
                                -webkit-box-orient: vertical;
                                /* autoprefixer: on */
                                box-orient: vertical;
                                -moz--box-orient: vertical;
                                -o--box-orient: vertical;
                                -ms--box-orient: vertical;
                            }
                        }

                        .card_main_content_right_star_rating {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 10px 0 0;
                            border-top: 1px solid $dark_grey;
                        }
                    }

                    .card_main_content_right_footer {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .card_Discussor {
                            display: flex;
                            flex-wrap: wrap;
                        }

                        .card_icon {
                            display: flex;

                            .svg_icon {
                                color: $dark_main_color;
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }

        .card_button {
            &.disabled {
                border-color: $disabled !important;
                color: $disabled !important;
                cursor: auto;

                p {
                    color: $disabled !important;
                }
            }

            &.card_button_main_color {
                &:hover {
                    color: $white !important;
                    background-color: $dark_main_color !important;

                    p {
                        color: $white !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    main {

        .card_main_area {

            .card_step_area {
                .card_step_content {
                    .card_step_task {
                        display: flex;
                        flex-wrap: wrap;

                        .card_step_task_item {
                            margin: 10px 15px 0 0;
                        }
                    }

                    .card_step_button {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .card_step_button_item {
                            width: 47.5%;

                            &.card_step_button_item_done {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {

        .progress_bar_area {
            margin: 40px auto;

            .progress_bar {
                top: calc(53px / 2);
            }

            .progress_bar_icon_item {

                .progress_bar_icon {
                    font-size: 25px;
                    width: calc(35px * 1.6);
                }

            }
        }

        .card_main_area {

            .card_item_area {

                .card_main_content_item {

                    .card_main_content_left {

                        .card_main_content_icon {

                            .svg_icon {
                                font-size: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .card_main_area {
            margin: 60px auto;
            flex-direction: row;
            justify-content: space-between;

            .card_step_area {
                width: 300px;
                align-self: flex-start;
                position: sticky;
                top: 10px;

                .card_step_content {

                    .card_step_button {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .card_step_button_item {
                            width: 100%;

                            &.card_step_button_item_done {
                                margin: 15px 0 0;
                            }
                        }
                    }
                }
            }

            .card_item_area {
                margin: 0;
                width: calc(100% - 350px);

                .card_main_button {
                    margin: 0 0 30px;

                    &.card_main_button_delete {
                        margin: 0;
                    }
                }

                .card_main_content_item {

                    .card_main_content_left {

                        .card_main_content_icon {

                            .svg_icon {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1200px) {
    main {

        .progress_bar_area {
            margin: 40px auto;

            .progress_bar {
                top: calc(61px / 2);
                height: 7px;
            }

            .progress_bar_icon_item {

                .progress_bar_icon {
                    font-size: 30px;
                    width: calc(40px * 1.6);
                    border: 4px solid;
                }

            }
        }

        .card_main_area {
            margin: 60px auto 120px;

            .card_step_area {
                width: 350px;
            }

            .card_item_area {
                width: calc(100% - 400px);

                .card_main_content_item {
                    display: flex;

                    .card_main_content_left {
                        position: relative;
                        width: 100px;
                        display: flex;

                        .card_main_content_name {
                            display: flex;
                            align-items: center;

                            h4 {
                                text-align: center;
                            }
                        }

                        .card_main_content_icon {
                            position: absolute;
                            left: 50%;
                            bottom: 10px;
                            transform: translate(-50%, 0%);
                            justify-content: center;

                            .svg_icon {
                                margin: 0 5px;
                            }
                        }
                    }

                    .card_main_content_right {
                        width: calc(100% - 100px);
                    }
                }
            }
        }
    }
}